.icon-check {width: 12px; height: 12px; background: url('/images/icons/check.png');}
.icon-db {width: 28px; height: 28px; background: url('/images/icons/db.png');}
.icon-fb {width: 28px; height: 28px; background: url('/images/icons/fb.png');}
.icon-in {width: 28px; height: 28px; background: url('/images/icons/in.png');}
.icon-next {width: 12px; height: 12px; background: url('/images/icons/next.png');}
.icon-pin {width: 28px; height: 28px; background: url('/images/icons/pin.png');}
.icon-prev {width: 12px; height: 12px; background: url('/images/icons/prev.png');}
.icon-rss {width: 28px; height: 28px; background: url('/images/icons/rss.png');}
.icon-tw {width: 28px; height: 28px; background: url('/images/icons/tw.png');}
.icon-tweets {width: 16px; height: 16px; background: url('/images/icons/tweets.png');}