/* FONTS */ 
@font-face {
    font-family: 'LucidaGrande';
    src: local(''), url('../fonts/lucidagrande.woff') format('woff');
}

/* ICONS */
.icon-rss {width: 12px; height: 12px; background: url('../images/icons/rss.png');}

/* ELEMENTS */

.links-nav a{    
    color:rgba(237,233,220,.2);
    font-family: LucidaGrande;
    font-size: 12px;
    line-height: 25px;
    background: rgba(255,255,255,.05);
    margin-bottom: 1px;
    padding: 0px 10px;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color:rgba(237,233,220,.7);
    background: rgba(255,255,255,.1);
}
.links-nav{
    flex-grow: 1;
}
.links-subscribe{
    margin-bottom: 27px;
}
.links-nav{
    max-width: 280px;
}
.links-categories, .links-subscribe{
    border-top: 1px solid rgba(255,255,255,.1);
}
.links-categories li, .links-subscribe li{
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 0px 10px 0px 32px;
    line-height: 18px;
}
.links-categories a, .links-subscribe a, .links-categories span{
    color: #ede9dc;
    font-family: LucidaGrande;
    font-size: 11px;
    position: relative;
}
.links-categories span{
    font-style: italic;
}
.links-categories a:active, .links-subscribe a:active, .links-categories a:hover, .links-subscribe a:hover, .links-categories a:focus, .links-subscribe a:focus{
    text-decoration: underline;
}
.links-categories li a:before{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ede9dc;
    left: -18px;
    top: 50%;
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%);
}
.links-subscribe li:before{
    width: 12px;
    height: 12px;
    background: url(../images/icons/rss.png);
    left: 11px;
}
.lbl-default{
    height: 44px;
    width: 44px;
    min-width: 44px;
    background:url("../images/lblshadow.png")no-repeat center top, linear-gradient(#2d3844, #222a33);
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
    font-family: LucidaGrande;
}
.lbl-default small{
    background: rgba(0,0,0,.3);
    font-size: 11px;
    color: rgba(237,233,220,.5);
    border-radius: 0px 0px 4px 4px;
    height: 17px;
    padding-bottom: 4px;
}
.lbl-default span{
    flex-grow: 1;
    font-size: 15px;
    color: #ede9dc; 
}
blockquote{
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
    padding: 19px 0px 17px 2px;
    color: #2d3844;
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    max-width: 208px;
    text-align: center;
    float: right;
    margin: 2px 0px 17px 10rem;
}
.btn-default{
    height: 35px;
    background:linear-gradient(#2d3844, #222a33);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
    border: 1px solid white;
    padding: 0px 12px;
    border-radius: 3px;
    color: #ede9dc;
    font-family: LucidaGrande;
    font-size: 11px;
}
.btn-default span{
    text-decoration: underline;
    padding-left: 5px;
}
.btn-default:active span, .btn-default:hover span, .btn-default:focus span{
    text-decoration: none;
}
.more, .more a{
    color: #222a33;
    font-family: LucidaGrande;
    font-size: 12px;
    text-align: right;
    padding: 1px 1px 0px 0px;
    font-style: italic;
}
.more a{
    text-decoration: underline;
}
.more a:active, .more a:hover, .more a:focus{
    text-decoration: none;
}
figure img, #logo img{
    width: 100%;
    height: 100%;
}
p{
    color: rgba(0,0,0,.75);
    font-family: LucidaGrande;
    font-size: 12px;
    line-height: 19px;
    margin: 0px 0px 17px 2px;
}
/* $------------------------------------------------------------------------- */
body{
    background: #2d3844;
}
header{
    background: rgba(0,0,0,.25);
    margin: 11rem 0px 18rem 0px;
}
.lwrap{
    max-width: 900px;
}
header .lwrap{
    padding: 35rem 0px 37rem 21rem;
}
#logo{
    margin: 0px 10rem 5rem 0px
}
.content{
    width: 100%;
    background: url("../images/shadowtop.png")repeat-x center top, url("../images/shadowbottom.png")repeat-x center bottom, #ede9dc;
    border: 2px solid white;
    border-radius: 6px;
    padding: 0px 18rem 0px 17rem;
    margin-bottom: 82rem;
    box-shadow: 0px 2px 0px 0px black;
}
.sidebar{
    width: 33.33%;
    flex-shrink: 0;
    padding: 12rem 0px 20px 20rem;
}
.pagination{
    margin: 11px auto -2px auto;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
    border: 1px solid white;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    background: url("../images/btnshadow.png")no-repeat center top, linear-gradient(#2d3844, #222a33);
}
.pagination .btn-default{
    background: none;
    border-radius: 0px;
    border: none;
}
.pagination .btn-default:last-child span {
    padding: 0px 5px 0px 0px;
}
.pagination .btn-default:first-child span {
    padding: 0px 0px 0px 5px;
}
.post{
    width: 100%;
    padding: 17px 0px 22px 0px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 3px;
}
.post-caption{
    margin-bottom: 15px;
}
.post-caption h2{
    color: #2d3844;
    font-family: LucidaGrande;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
}
.post-caption > div > span, .post-caption > div > span a{
    font-family: LucidaGrande;
    font-size: 11px;
    color: rgba(0,0,0,.3);
}
.post-caption span a{
    text-decoration: underline;
}
.post-caption span a:active, .post-caption span a:hover, .post-caption span a:focus{
    text-decoration: none;
}
.post-caption .lbl-default{
    margin-right: 19rem;
}
.sidebar p{
    color: #ede9dc;
    font-family: LucidaGrande;
    font-size: 11px;
    line-height: 18px;
    margin: -3px 0px 0px 0px;
}
.sidebar h3{
    color: #ede9dc;
    font-family: LucidaGrande;
    font-size: 17px;
    font-weight: 400;
    line-height: 31px;
}
.about{
    padding: 10px 0px 6px 0px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    margin-bottom: 28px;
}
.about figure{
    width: 31.1%;
    flex-shrink: 0;
    margin-right: 10px;
    max-width: 88px;
}
@media (max-width: 640px) {
    .sidebar{width: 40%;}
}
@media (max-width: 480px) {
    .sidebar{padding: 0px 10px 20px 10px;}
}