
/* FONTS */
@font-face {
    font-family: 'Delicious';
    src: url('/fonts/fontsquirel.com/delicious-roman.woff2') format('woff2'), url('/fonts/fontsquirel.com/delicious-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nilland';
    src: url('/fonts/fontsquirel.com/nilland-black.woff2') format('woff2'), url('/fonts/fontsquirel.com/nilland-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */
.icon-add {width: 23px; height: 23px; background: url('/images/icons/add.png');}
.icon-arrowsearch {width: 11px; height: 7px; background: url('/images/icons/arrowsearch.png');}
.icon-brush {width: 30px; height: 26px; background: url('/images/icons/brush.png');}
.icon-fb {width: 17px; height: 26px; background: url('/images/icons/fb.png');}
.icon-frame {width: 26px; height: 28px; background: url('/images/icons/frame.png');}
.icon-menu {width: 23px; height: 23px; background: url('/images/icons/menu.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-tag {width: 27px; height: 27px; background: url('/images/icons/tag.png');}
.icon-tools {width: 31px; height: 31px; background: url('/images/icons/tools.png');}
.icon-tw {width: 29px; height: 25px; background: url('/images/icons/tw.png');}