@font-face {
    font-family: 'ARDECODE';
    src: url('/fonts/fontsquirel.com/ardecode.woff2') format('woff2'), url('/fonts/fontsquirel.com/ardecode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}