body{
    font-family: HelveticaNeueLTStd;
    font-size:12px;
}
.btn-post{
    text-shadow: 0 1px 0 #6d0e00;
    color: white;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    line-height: 16px;
    width: 125px;
    height: 32px;
    background-color: #ea4e37;
    border-radius: 3px;
    font-weight: 600;
}
input, textarea{
    background-color: white;
    border-radius: 3px;
    border:none;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color:#767575;
    font-weight: 600;
}
input{
    height:33px;
    padding:0 12px 0 12px;
}
textarea{
    padding:12px;
    height: 108px;;
}
input::-webkit-input-placeholder {
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595;
    font-weight: 600;
}

input:-moz-placeholder { /* Firefox 18- */
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595;
    font-weight: 600;
}

input::-moz-placeholder {  /* Firefox 19+ */
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595; 
    font-weight: 600;

}

input:-ms-input-placeholder {  
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595; 
    font-weight: 600;

}
textarea::-webkit-input-placeholder {
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595;
}

textarea:-moz-placeholder { /* Firefox 18- */
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595;  
    font-weight: 600;

}

textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595; 
    font-weight: 600;

}

textarea:-ms-input-placeholder {  
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color: #959595;
    font-weight: 600;
}
dt:before {
    content: "";
    display: block;
}
dt, dd {
    display: inline;
}
dl{
    font-family: HelveticaNeueLTStd;
    font-size: 10px;
    line-height: 16px;
    font-weight:600;
    color: #959595;
}
dl dt{
    margin:0 40px 0 0;
}
.links-top{
    background-color: gainsboro;
    background-image: linear-gradient(to top, #dedede 0%, #eee 100%);
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(139, 139, 139, 0.5); 
    max-width:143px;
    border:1px solid #bbbbbb;
}
.links-top a{
    height:25px;
    color: #959595;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    color:#959595;
    font-weight: 600;
    box-shadow: 0 0 0 rgba(139, 139, 139, 0.5);
}
.links-top a:first-child{
    padding:0 14px 0 14px;
    border-right:1px solid #c6c6c6;
}
.links-top a:last-child{
    padding:0 9px 0 9px;
    border-left:1px solid #fbfbfb;
}
.links-top a:last-child i{
    margin:0 9px 0 0;
}