.icon-bag {width: 20px; height: 19px; background: url('/images/icons/bag.png');}
.icon-fb {width: 8px; height: 15px; background: url('/images/icons/fb.png');}
.icon-gp {width: 14px; height: 14px; background: url('/images/icons/gp.png');}
.icon-inst {width: 14px; height: 14px; background: url('/images/icons/inst.png');}
.icon-line {width: 23px; height: 20px; background: url('/images/icons/line.png');}
.icon-line2 {width: 26px; height: 20px; background: url('/images/icons/line2.png');}
.icon-search {width: 19px; height: 15px; background: url('/images/icons/search.png');}
.icon-tw {width: 15px; height: 12px; background: url('/images/icons/tw.png');}
.icon-twitter {width: 32px; height: 24px; background: url('/images/icons/twitter.png');}
.icon-user {width: 27px; height: 30px; background: url('/images/icons/user.png');}