/*COMMON*/
body{
    background: #dee1e3;
}
body > div{
    flex-shrink: 0;
    flex-grow: 1;
}
* > img:only-of-type{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 1190px;
    padding: 27rem 10px;
}
h2{
    color: black;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
}
p{
    color: #222429;
    font-family: Roboto;
    line-height: 24px;
}
.sidebar > *, .main > *, header{
    margin-bottom: 30rem;
}
.sidebar > *, .main > *, footer, header{
    background: white;
}
.main > *{
    max-width: 870px;
}

/*HEADER*/
.logo-wrap{
    background: black;
    padding: 5px;
    min-width: 170rem;
}
.logo-wrap + div{
    flex-grow: 1;
}
.menu{
    margin-top: -2px;
    box-shadow: inset 0px 2px 0px #f1f1f1;
}
.menu form{
    padding: 14rem 13rem;
}
.menu .input-search, .menu > form{
    flex-grow: 1;
}
.login{
    min-width: 187rem;
    padding: 5rem;
}
.login a, .login button{
    color: #999;
    margin: 5px;
    letter-spacing: 0.02em;
}
.login a:active, .login a:hover, .login a:focus, .login button:active, .login button:hover, .login button:focus{
    text-decoration: underline;
}
.nav form{
    letter-spacing: 0.02em;
    padding-right: 13rem;
}

/*MAIN*/
.main{
    width: 74.35%;
}
/*slideshow*/
.slider {
    position: relative;
    overflow: hidden; 
    max-width: 900px;
}
.slider > input[type=radio] {
    display: none;
}
.slider > ul > li:first-child {
    visibility: hidden;
}
.slider > ul > li > span{
    color: rgba(255,255,255,.2);
    font-family: Bender;
    font-size: 341rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slider > ul > li + li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
    z-index: 1;
    transition: opacity 2000ms ease, transform 12000ms linear;
}
.slider > ul > .num0 {
    transform: scale(1.3) translate(-11.53846%, 11.53846%);
}
.slider > ul > .num1 {
    transform: scale(1.3) translate(11.53846%, 11.53846%);
}
.slider > ul > .num2 {
    transform: scale(1.3) translate(-11.53846%, -11.53846%);
}
.slider > ul > .num3 {
    transform: scale(1.3) translate(11.53846%, -11.53846%);
}
.slider > ul > .num0 {
    opacity: 1;
    z-index: 2;
}
.slider > #slide34-0:checked ~ ul > .num0,
.slider > #slide34-1:checked ~ ul > .num1,
.slider > #slide34-2:checked ~ ul > .num2,
.slider > #slide34-3:checked ~ ul > .num3 {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    z-index: 2;
}
@keyframes kenburns33-tr {
    0%, 100% { transform: scale(1); opacity: 0 }
    12.5%, 25% { opacity: 1 }
    37.5%, 75% { transform: scale(1.3) translate(-11.53846%, 11.53846%); opacity: 0; z-index: 2; }
}
@keyframes kenburns33-br {
    0%, 100% { transform: scale(1); opacity: 0 }
    12.5%, 25% { opacity: 1 }
    37.5%, 75% { transform: scale(1.3) translate(11.53846%, 11.53846%); opacity: 0; z-index: 2; }
}
@keyframes kenburns33-tl {
    0%, 100% { transform: scale(1); opacity: 0 }
    12.5%, 25% { opacity: 1 }
    37.5%, 75% { transform: scale(1.3) translate(-11.53846%, -11.53846%); opacity: 0; z-index: 2; }
}
@keyframes kenburns33-bl {
    0%, 100% { transform: scale(1); opacity: 0 }
    12.5%, 25% { opacity: 1 }
    37.5%, 75% { transform: scale(1.3) translate(11.53846%, -11.53846%); opacity: 0; z-index: 2; }
}
.slider > #play34:checked ~ ul > .num0{
    animation: kenburns33-tr 16000ms infinite -2000ms linear;
}
.slider > #play34:checked ~ ul > .num1 {
    animation: kenburns33-br 16000ms infinite 2000ms linear;
}
.slider > #play34:checked ~ ul > .num2 {
    animation: kenburns33-tl 16000ms infinite 6000ms linear;
}
.slider > #play34:checked ~ ul > .num3 {
    animation: kenburns33-bl 16000ms infinite 10000ms linear;
}
.actions{
    position: absolute;
    right: 5%;
    height: 94%;
    width: 50%;
    max-width: 315px;
    bottom: 0px;
}
/*bullets*/
.slider .bullets {
    position: relative;
    height: 24%; 
    z-index: 10;    
}
.slider .bullets > div{
    min-width: 75%;
    border-radius: 20px;
    background: linear-gradient(transparent, transparent 6px, #9aa7b1 6px, #9aa7b1 15px, transparent 15px, transparent);
}
.slider .bullets label + label{
    margin-left: 2px;
}
.slider .bullets label {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle closest-side, #faef03 2px, #9aa7b1 3px, #9aa7b1 20px);
    position: relative;
}
.slider .bullets > label:hover,
.slider > #slide34-0:checked ~ .actions > .bullets .num0,
.slider > #slide34-1:checked ~ .actions > .bullets .num1,
.slider > #slide34-2:checked ~ .actions > .bullets .num2,
.slider > #slide34-3:checked ~ .actions > .bullets .num3 {
    background: radial-gradient(circle closest-side, #faef03 2px, white 3px, white 20px);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,.05);
}
@keyframes bullets34 {
    0%, 24.99%	{ background: radial-gradient(circle closest-side, #faef03 2px, white 3px, white 20px); box-shadow: 0px 0px 0px 2px rgba(0,0,0,.05); }
    25%, 100% { background: radial-gradient(circle closest-side, #faef03 2px, #9aa7b1 3px, #9aa7b1 20px); }
}
.slider > #play34:checked ~ .actions > .bullets .num0 {
    animation: bullets34 16000ms infinite -2000ms;
}
.slider > #play34:checked ~ .actions > .bullets .num1 {
    animation: bullets34 16000ms infinite 2000ms;
}
.slider > #play34:checked ~ .actions > .bullets .num2 {
    animation: bullets34 16000ms infinite 6000ms;
}
.slider > #play34:checked ~ .actions > .bullets .num3 {
    animation: bullets34 16000ms infinite 10000ms;
}
/*description*/
.slider .description{
    height: 60%;
    width: 100%;
    position: relative;
    margin-bottom: 19rem;
}
.slider .description > label {
    position: absolute;
    cursor: default;
    z-index: 3; 
    opacity: 0;
    height: 100%;
    width: 100%;
    color: black;
    transform: translateY(-100px);
    transition: 950ms opacity 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550), 950ms transform 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.description h1{    
    font-size: 48rem;
    line-height: 48rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
}
.description p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10rem;
    width: 100%;
}
.description .btn-default{
    flex-shrink: 0;
}
.slider > #slide34-0:checked ~ .actions > .description > .num0,
.slider > #slide34-1:checked ~ .actions > .description > .num1,
.slider > #slide34-2:checked ~ .actions > .description > .num2,
.slider > #slide34-3:checked ~ .actions > .description > .num3 {
    opacity: 1;
    transform: translateY(0);
}
@keyframes description34-big {
    2.078%, 22.911% { opacity: 1; transform: translateY(10px); z-index: 2; }
    2.968%, 22.021% { opacity: 1; transform: translateY(0px); z-index: 2; }
    27.968% { opacity: 0; transform: translateY(-100px); z-index: 2; }
    27.978%, 100% { z-index: 0; }
}
@keyframes description34-small {
    2.078%, 22.911% { opacity: 1; transform: translateY(-10px); z-index: 1; }
    2.968%, 22.021% { opacity: 1; transform: translateY(0px); z-index: 1; }
    27.968% { opacity: 0; transform: translateY(100px); z-index: 1; }
    27.978%, 100% { z-index: 0; }
}
.slider > #play34:checked ~ .actions > .description > .num0 {
    animation: description34-big 16000ms infinite -1400ms ease;
}
.slider > #play34:checked ~ .actions > .description > .num1 {
    animation: description34-big 16000ms infinite 2600ms ease;
}
.slider > #play34:checked ~ .actions > .description > .num2 {
    animation: description34-big 16000ms infinite 6600ms ease;
}
.slider > #play34:checked ~ .actions > .description > .num3 {
    animation: description34-big 16000ms infinite 10600ms ease;
}
/*products-carousel*/
.products-carousel{
    overflow: hidden;
}
.products-carousel figure{
    border-top: 2px solid #f6f6f6;
    border-right: 2px solid #f6f6f6;
    display: flex;
    flex-direction: column;
    position: relative;
}
.products-carousel figure .lbl{
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 1;
}
.products-carousel figcaption > div{
    width: 83%;
}
.products-carousel figcaption{
    min-height: 83rem;
    margin-top: 4rem;
}
.products-carousel figcaption a + div {
    text-align: right;
    font-style: italic;
    padding-right: 8rem;
}
.products-carousel figcaption a + div *{
    display: block;
}
.products-carousel figcaption b{
    color: black;
    font-size: 18px;
    font-weight: 700;
}
.products-carousel figcaption s{    
    min-height: 14px;    
    color: rgba(161,161,161,.6);
}
.products-carousel a{
    color: #555;
    font-weight: 700;
    padding-right: 8px;
    line-height: 18px;
    display: inline-block;
}
.products-carousel a:active, .products-carousel a:hover, .products-carousel a:focus{
    text-decoration: underline;
}
.products-carousel .hdr{
    min-height: 76rem;
    padding: 0 24rem;
    text-indent: 1rem;
}
.custom-nav, .owl-nav{
    display: flex;
    justify-content: flex-end;
}
.custom-nav > div[class^=owl-], .owl-nav > div[class^=owl-]{
    width: 13px;
    height: 17px;
    margin: 5.5rem;    
}
.custom-nav > div[class^=owl-]:not(.disabled), .owl-nav > div[class^=owl-]:not(.disabled){
    cursor: pointer;
}
.owl-prev.disabled, .owl-prev:hover{
    background: url(/images/icons/prev.png);
}
.owl-next.disabled, .owl-next:hover{
    background: url(/images/icons/next.png);
}
.owl-prev{
    background: url(/images/icons/prev-hover.png);
}
.owl-next{
    background: url(/images/icons/next-hover.png);
}
#carousel4 .owl-nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 0px 22px;
}
#carousel4{
    padding: 1.5rem 50px;
}
#carousel4 figure{
    border: none;
}

/*SIDEBAR*/
.sidebar{
    width: 23.07%;
}
.sidebar h2{
    margin-bottom: 20rem;
}
.tags{
    padding: 26rem 30rem;
}
.articles{
    padding: 24rem 30rem;
}
.banner{
    position: relative;
    overflow: hidden;
}
.banner h3{
    position: absolute;
    color: white;
    left: 10%;
    right: 2%;
    bottom: 8%;
    font-size: 36rem;
    line-height: 36rem;
    text-transform: uppercase;
    font-weight: 300;
    font-style: italic;
    max-width: 100%;
    max-height: 100%;
}
.banner h3 strong{
    font-weight: 900;
    display: block;
}
.banner.alt h3{
    left: 11%;
    top: 12%;
    color: black;
}
.sidebar > .banner.alt{
    margin: 0;
}

/*FOOTER*/
footer{
    margin-bottom: 22rem;
}
footer section{
    width: 100%;
}
.about h2{
    margin-bottom: 21rem;
}
.twitter-box, .facebook-box{
    padding: 24rem 28rem;
}
.about{
    width: 50%;
    padding: 25rem 30rem;
}
.about p{
    margin-bottom: 17rem;
    letter-spacing: 0.005em;
}
.about p + p{
    padding-top: 7rem;
}
.twitter-box{
    width: 25.6%;
    background: #3fccfd;
}
.facebook-box{
    width: 24.4%;
    background: #4966b6;
}
.twitter-box h2, .facebook-box h2{
    color: white;
    margin-bottom: 27rem;
}
.twitter-box article{
    padding-left: 4rem;
    letter-spacing: 0.005em;
}
.twitter-box article + article{
    padding-top: 44rem;
}
.twitter-box time{
    font-family: Roboto;
    color: white;
    font-style: italic;
}
.footer{
    background: #222429;
    padding: 19rem 29.5rem;
}
.footer > div{
    width: 20.9%;
    margin: 9px 0;
}
.footer h4{
    min-height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
}
.footer p{
    color: #999;
    line-height: 18px;
    margin-bottom: 17rem;
}
.footer form{
    margin-bottom: 29rem;
}
.footer .input-email{
    flex-grow: 1;
    max-width: calc(100% - 34px);
}
.copyright{
    background: #000009;
    padding: 19rem 28rem;
}
.copyright span{
    color: rgba(153,153,153,.7);
    text-indent: 2rem;
}
.copyright span a{
    color: rgba(249,249,249,.7);
    margin-right: 2rem;
}
.copyright a:active, .copyright a:hover, .copyright a:focus{
    text-decoration: underline;
}
.anchor{
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    padding: 0 27px 0 10px;
    background:
        linear-gradient(-55deg, white 49%, transparent 50%) calc(100% - 7px) center / 7px 12px no-repeat,
        linear-gradient(55deg, white 49%, transparent 50%) right center / 7px 12px no-repeat;
}

#prompt-form {
    padding: 10px;
    width: 320px;
    text-align: center;
}
#prompt-form figure{
    margin-bottom: 68rem;
}
#prompt-form-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #313f4c;
}
#prompt-form input[name=text], #prompt-form input[name=password], #prompt-form input[type=submit]{
    width: 220px;
    height: 40px;
    padding: 0 5px;
    border: none;
    border-radius: 20px;
    text-align: center;
    margin: 12.5rem 0;
    outline: none;
    color: black;
    display: block;
}
#prompt-form input[name=text], #prompt-form input[name=password] {    
    background: #e9e9e9;      
}
#prompt-form input[type=submit]{
    background: linear-gradient(to right, #70db99 0%, #55c4f3 100%);
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}
#prompt-form input::-webkit-input-placeholder { color: #999; }
#prompt-form input::-moz-placeholder { color: #999; }
#prompt-form input:-ms-input-placeholder { color: #999; }
#forgot-pass{
    color: #5c6c7b;
    font-family: Roboto;
    font-size: 12px;
    font-style: italic;
    display: block;
    margin-top: 18rem;
}
#forgot-pass:active, #forgot-pass:hover, #forgot-pass:focus{
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
    .about{width: 100%;}
    .twitter-box, .facebook-box{width: 50%;}
}
@media (max-width: 640px) {
    .footer > div, .sidebar > *{width: 49%;}
    .sidebar > .banner.alt{margin-bottom: 30rem;} 
}
@media (max-width: 480px) {

}