.icon-f {width: 7px; height: 14px; background: url('/images/icons/f.png');}
.icon-rss {width: 12px; height: 12px; background: url('/images/icons/rss.png');}
.icon-t {width: 8px; height: 13px; background: url('/images/icons/t.png');}
.icon-tw {width: 16px; height: 13px; background: url('/images/icons/tw.png');}