figure > img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    background:url("../images/bg.png");
}
.lwrap{
    max-width: 960px
}
#logo{
    margin-right: 10px;
}
.header > div:first-child{
    min-height: 96rem;
    padding: 20px 0px;
}
.header{
    padding: 0rem 21rem 0rem 42rem;
    margin-bottom: 20rem;
    background: linear-gradient(white, white) bottom center / calc(100% - 36rem) no-repeat,
        linear-gradient(white, white) left top / 100% calc(100% - 18rem) no-repeat,
        linear-gradient(135deg, silver, silver 50%, transparent 50%) right bottom / 18rem 18rem no-repeat,
        linear-gradient(-135deg, silver, silver 49%, transparent 50%) left bottom / 18rem 18rem no-repeat;
}
.demo-wrap{
    background: #09f;
    border: 1px solid #09f;
    box-shadow: inset 0 0 100px rgba(0, 133, 221, 0.75);
    padding: 43rem 22rem 21rem 38rem;
    margin-bottom: 20rem;
}
.demo-wrap > div:first-child{
    width: 56%;
}
.demo-wrap h1{
    width: 100%;
    font-size: 60rem;
    font-weight: 700;
    line-height: 70rem;
    text-transform: uppercase;
    color: white;
    margin: 12rem 0rem 46rem 0rem;
}
.demo-wrap .btn-default{
    margin: 0rem 12px 20px 54rem;
}
.video-wrap{
    width: 42.7%;
    background: url("../images/shadow.png")no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 26rem;
}
.video-wrap figure{
    width: 88.8%;
    margin: auto;
    padding-bottom: 44rem;
}
.video{
    width: 99.2%;
    padding-bottom: 13rem;
}
.content{ 
    width: 100%;
    background: linear-gradient(silver, silver) right top / calc(100% - 26rem) no-repeat,
        linear-gradient(silver, silver) left bottom / 100% calc(100% - 26rem) no-repeat,
        linear-gradient(-45deg, white, white 49%, transparent 50%) left top / 26rem 26rem no-repeat;
    padding: 49rem 35rem 15rem 39rem;  
}
.sidebar{
    background: linear-gradient(white, white) left top / calc(100% - 26rem) no-repeat,
        linear-gradient(white, white) left bottom / 100% calc(100% - 26rem) no-repeat,
        linear-gradient(45deg, silver, silver 49%, transparent 50%) right top / 26rem 26rem no-repeat;
    flex-shrink: 0;
    padding: 50rem 21rem 5rem 25rem;
    width: 31.14583%;    
}
.articles{
    border-bottom: 1px solid white;
}    
.articles > article{
    width: 47.2%;
    margin-bottom: 42rem;
}
.articles > article .title{
    margin: 0px 25rem 21rem 0px;
}
.articles > article p{
    line-height: 20px;
    margin: 0px 3px;
    letter-spacing: -0.005em;
}
.grid > article{
    width: 30.834%;
    padding-bottom: 34rem;
}
.grid{
    padding-top: 36rem;
}
.grid p{
    line-height: 20px;    
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: -0.01em;
}
.grid figure + div{
    margin-left: 3px;
}
.grid figure{
    margin-bottom: 7px;
}
.sidebar .title {
    border-bottom: 4px solid #c0c0c0;
    margin-bottom: 14px;
}
.sidebar blockquote {
    color: #9d9d9d;
    padding: 10px 0px 4px 3px;
}
.sidebar blockquote p {
    margin-bottom: 17px;
    line-height: 14px;
    letter-spacing: -0.005em;
}
.sidebar blockquote cite a {
    color: #9d9d9d;
}
.sidebar > div{
    margin-bottom: 26px;
}
.sidebar > div:last-child .title{
    margin: 0px 0px 21px 0px;
}
.banner{
    background:#fccb04;
    padding: 12px 20rem 8px 26rem;
}
.banner .btn-default{
    margin-left: 17rem;
}
.banner h2{
    color: black;
    font-size: 40rem;
    font-weight: 700;
    line-height: 40rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.footer{
    line-height: 20px;
    color: silver;
    background: black;
    padding: 29rem 2px 5rem 3px;
}
.footer > div{
    width: 26.8%;
    margin-bottom: 20px;
}
.footer > div:last-child{
    width: 28%;
}
.footer h5{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.footer p{
    letter-spacing: -0.005em;
}
.footer span{
    letter-spacing: -0.008em;
}
.footer span > *, .footer .more{
    color: #fccb04;
}
.copyright{
    background: #323232;
    padding: 5rem 26rem 5rem 10rem;
}
.copyright span{
    color: silver;
    line-height: 26px;
    letter-spacing: -0.01em;
}
/*MEDIA QUERIES*/
@media (max-width: 640px) {  
    .links-nav a{min-height: 0px;}
    .video-wrap {padding-bottom: 60rem;}
    .demo-wrap{padding: 10px;}
    .footer{padding: 10px;}
    .title{background:none;padding:0;}
    .content{background:silver;}
    .sidebar{background:white;}
    .demo-wrap h1{font-size: 36px;line-height: 40px;text-align: center;}
    .demo-wrap .btn-default {margin: 0;font-size: 18px;height: 50px;}
    .btn-default{padding: 20rem;}
    .btn-default:active, .btn-default:hover, .btn-default:focus{background: white;}
    .btn-default{background: black;}
    .banner .btn-default{height: 40px;font-size: 12px;min-width: 228rem;}
    .banner h2{font-size: 20px;line-height: 20px;}    
}