body{
    font-size: 14px;
    font-family: Oswald;
}

/*LINKS*/
.links-nav{
    padding-top: 27rem;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .links-nav{
        padding-top: 38rem;
    }
    .links-nav a{
        border-color: transparent;
    }
    .links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
        border-color: rgba(255, 255, 255, 0.3);
    }
}  
.links-nav a{
    text-shadow: 0 1px 0 black;
    font-family: Antic;
    font-size: 12px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 0px 18.5rem;
    height: 33px;
    text-align: center;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    letter-spacing: -0.015em;
    border-image: linear-gradient(transparent, transparent) 1 100%;
} 
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: white;
    background: linear-gradient(transparent, #131313);
    border-image: linear-gradient(transparent, rgba(255, 255, 255, 0.3)) 1 100%;
}
.links-social{
    padding-top: 6px;
}
.links-social a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 2px 4px 2px 1px;
}
.links-social .fb{background: #004a73;}
.links-social .tw{background: #00aeef;}
.links-social .rss{background: #ef9200;}
.links-social .mail{background: #b0b0b0;}
.links-social .in{background: #82c8dc;}
.links-controls{
    padding-right: 15px;
}
.links-controls a{
    background: #879cc1;
    width: 17px;
    height: 15px;
    margin: 0px 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #3d609f;
    font-family: Antic;
    font-size: 12px;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: #acc3ec;
}

/*BUTTONS*/
.btn-slide{
    width: 31px;
    height: 44px;
}
.btn-slide.next{
    background: rgba(255,255,255,.4) url(/images/icons/next.png)no-repeat center center;
}
.btn-slide.prev{
    background: rgba(255,255,255,.4) url(/images/icons/prev.png)no-repeat center center;
}
.btn-slide.alt.next{
    background: rgba(224,224,224,.2) url(/images/icons/next.png)no-repeat center center;
}
.btn-slide.alt.prev{
    background: rgba(224,224,224,.2) url(/images/icons/prev.png)no-repeat center center;
}
.btn-default{
    border-radius: 3px;
    min-width: 190px;
    max-width: 300px;
    width: 100%;
    margin-top: 6px;
    letter-spacing: 0.03em;
    background: linear-gradient(#e98b18,#da5b08);
}
.btn-default em{    
    text-align: center;
    flex-grow: 1;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.77);
    color: rgba(60,9,9,.8);
    font-size: 20px;
    font-style: normal;
    padding: 0px 2px;
    max-height: 43px;
    display: inline-block;
}
.btn-default span{
    width: 43px;
    height: 43px;
    display: inline-block;
    border-radius: 3px 0px 0px 3px;
    background: url(/images/icons/arrow.png)no-repeat center center, linear-gradient(#5f5656,#2f2828);
}

/*LISTS*/
.list-default{
    padding-top: 3px;
}
.list-default li:before{
    content: "";
    width: 11px;
    display: inline-block;
    height: 10px;
    background: url('/images/icons/check.png');
    margin: 5px 5px 0px 0px;
}
.list-default li{
    font-family: Antic;
    font-size: 14px;
    line-height: 23px;
    color: #333;
}

/*CITES*/
blockquote{
    border: 1px solid #e0e0e0;
    border-top: none;
    border-radius: 10px;
    max-width: 541px;
    padding: 17px 19px 15px 20px;
    background: linear-gradient(90deg, #f2f2f2, #fefefe 10%, #fefefe 90%, #f2f2f2);
}
blockquote cite, blockquote q{
    font-family: Antic;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #404040;
}
blockquote q{
    margin-bottom: 20px;
    display: inline-block;
}
blockquote cite span{
    color: #f28839;
}
blockquote cite{
    font-style: normal;
    display: inline-block;
}

/*OTHER*/
.more{
    color: #f17f2b;
    font-family: Antic;
    font-size: 11px;
    padding-right: 20px;
    background: url(/images/icons/more.png)no-repeat right center;
    text-transform: uppercase;
}
.more:active, .more:hover, .more:focus{
    text-decoration: underline;
}
.more-alt{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Antic;
    font-size: 13px;
    text-decoration: underline;
}
.more-alt:active, .more-alt:hover, .more-alt:focus{
    text-decoration: none;
}