body{
    font-size: 14px;
    font-family: Oswald;
}

/*LINKS*/
.links-nav a{
    text-shadow: 0 1px 0 black;
    font-family: Antic;
    font-size: 12px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 0px 10px;
    height: 40px;
    text-align: center;
    border-width: 1px 0 1px 1px;
    border-style: solid;    
    border-image:
        linear-gradient(transparent, rgba(255, 255, 255, 0.3)) 1 100%; 
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: white;
}
.links-social a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 2px;
}
.fb{background: #004a73;}
.tw{background: #00aeef;}
.rss{background: #ef9200;}
.mail{background: #b0b0b0;}
.in{background: #82c8dc;}
.links-controls a{
    background: #879cc1;
    width: 21px;
    height: 21px;
    margin: 0px 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #3d609f;
    font-family: Antic;
    font-size: 12px;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: #acc3ec;
}

/*BUTTONS*/
.btn-slide{
    width: 31px;
    height: 44px;
}
.btn-slide.next{
    background: rgba(255,255,255,.4) url(/images/icons/next.png)no-repeat center center;
}
.btn-slide.prev{
    background: rgba(255,255,255,.4) url(/images/icons/prev.png)no-repeat center center;
}
.btn-slide.alt.next{
    background: rgba(224,224,224,.2) url(/images/icons/next.png)no-repeat center center;
}
.btn-slide.alt.prev{
    background: rgba(224,224,224,.2) url(/images/icons/prev.png)no-repeat center center;
}
.btn-default{
    border-radius: 3px;
    min-width: 288px; 
    background: linear-gradient(#e98b18,#da5b08);  
}
.btn-default em{    
    text-align: center;
    flex-grow: 1;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.77);
    color: rgba(60,9,9,.8);
    font-size: 20px;
    font-style: normal;
    padding: 0px 10px;
}
.btn-default span{
    width: 43px;
    height: 43px;
    border-radius: 3px 0px 0px 3px;
    background: url(/images/icons/arrow.png)no-repeat center center, linear-gradient(#5f5656,#2f2828);
}

/*LISTS*/
.list-default li:before{
    content: "";
    width: 11px;
    height: 10px;
    background: url('/images/icons/check.png');
    margin: 3px 10px 0px 0px;
}
.list-default li{
    font-family: Antic;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    letter-spacing: -0.015em;
}