a{
    text-decoration: none
}
@font-face {
    font-family: 'Titillium Web Regular';
    src: url('../fonts/Titillium/Titillium-Regular.otf');
}
@font-face {
    font-family: 'Titillium Web Bold';
    src: url('../fonts/Titillium/Titillium-Bold.otf');
}
@font-face {
    font-family: 'Titillium Web Regular Italic';
    src: url('../fonts/Titillium/Titillium-ThinItalic.otf');
}
.icon-twitter{
    width: 20px;
    height: 20px;
    background: url('../images/icons/tw.png');
}
.icon-facebook, .icon-linkedin, .icon-mail{
    width: 16px;
    height: 16px;
}
.icon-facebook{background: url('../images/icons/fb.png');}
.icon-linkedin{background: url('../images/icons/linkedin.png');}
.icon-mail{background: url('../images/icons/mail.png');}
header{   
    background-color: #864f9c;
}
.header, .services, .team, .skills, .portfolio, .testimonials, .footer, .footer-social{
    margin: auto;    
}
.footer{
    padding: 10px 10px 14px 10px;
}
.footer-social{
    padding: 10px 10px 10px 10px; 
}
.header{
    max-width: 1112px; 
    padding: 10px 10px 145px 10px;
}
.logo{
    margin: 2px 0px 0px 36px;
}
nav{
    min-height: 132px;
    flex-wrap: wrap;
    margin-left: 20px;
}
a.btn-nav{
    font: 16px 'Titillium Web Regular';
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
    height:32px;
    padding: 0 16px;
    margin: 6px;
}
a.btn-nav.active, a.btn-nav:hover{
    background-color: #633a79;  
}
.header .hdr h1{
    text-align: center;
    color: #f7f2ea;
    margin: 86px 0 57px 0;
    font: 42px/48px "Titillium Web Bold";
}
a.btn-work{
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    position: relative;
    font: 18px "Titillium Web Bold";
    color: #fff;
    text-transform: uppercase;
}
a.btn-work:before{
    width: 100%;
    content: "";
    position: absolute;
    height: 4px;
    opacity: .15;
    left: 0;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    background-color: #000;
}
.services-wrap{    
    background-color: #16c2a3;
}
.services{
    padding: 111px 10px 106px 10px;
    max-width: 1140px;
}
.services .hdr{
    margin-bottom: 44px;
}
.divider{
    width: 87px;
    height: 4px;
    margin: 18px 0 17px 0;
    opacity: .15;
    background-color: #000;
}
.services .hdr p, .services .hdr h2, .testimonials .hdr p, .testimonials .hdr h2, .footer .hdr h2, .footer .hdr p{
    color: #fff;
}
.header .hdr{
    margin: 0;
}
.hdr{
    margin-bottom: 75px;
}
.footer .hdr{
    margin-bottom: 75px;
}
.testimonials .hdr{
    margin-bottom: 62px;
}
.hdr p{       
    text-align: center;
    font: 18px/26px "Titillium Web Regular";
    letter-spacing: 0.022em;
}
.services .hdr p{
    max-width: 605px; 
}
.hdr h2{
    text-align: center;    
    text-transform: uppercase;
    font: 40px/40px "Titillium Web Bold";
    letter-spacing: 0.1em;
}
.services article h4{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 34px 0 15px 0;
    font: 24px "Titillium Web Bold";
}
.services article p{
    color: #fff;
    text-align: center;
    font: 16px/24px "Titillium Web Regular";
}
.services article{
    padding: 20px 40px 20px 40px;
    max-width: 280px;
}
.team-wrap{   
    background-color: #e7f1f8; 
}
.team{
    padding: 111px 10px 91px 10px;
    max-width: 1140px;
}
.team .hdr {
    margin-bottom: 25px;
}
.team article img{
    border-radius: 50%;
}
.team article h4{
    color: #3b4761;
    margin: 36px 0 9px 0;
    text-transform: uppercase;
    text-align: center;
    font: 24px/24px "Titillium Web Bold";
}
.team article span{
    color: #30b9e6;
    margin-bottom: 20px;
    font: 16px "Titillium Web Regular";
}
.team article p{
    color: #3b4761;
    margin-bottom: 21px;
    text-align: center;
    font: 16px/24px "Titillium Web Regular";
    letter-spacing: 0.01em;
}
.team article{
    padding: 30px 40px 30px 40px;
    max-width: 280px;
}
.team .hdr p{
    max-width: 620px; 
}
.btn-social{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #bdd1df;
    margin: 6px 6px 6px 6px;
}
.skills{
    max-width: 1125px;
    padding: 109px 10px 96px 10px;
}
.skills article{
    margin: 20px;
}
.skills .hdr {
    margin-bottom: 74px;
}
.skills .hdr p{
    max-width: 583px;
}
.percentage {
    width: 139px;
    height: 130px;  
    position: relative;
}
.percentage:before, .percentage:after {
    content: " ";
    width: 137px;
    height: 137px;
    border-radius: 50%; 
    position: absolute;
    top:-10px;
    left: -10px;   
}
.percentage:before{
    transform: rotate(-45deg);
    border-left: 10px solid #dfe8ed;
    border-top: 10px solid #dfe8ed;
}
.percentage:after {
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
}
.percentage.web:before{    
    border-right: 12px solid #30bae7;
    border-bottom: 12px solid #30bae7;
}
.percentage.web:after {
    border-right: 12px solid #30bae7;
    border-bottom: 12px solid #30bae7; 
    transform: rotate(100deg);
}
.percentage.html:before{    
    border-right: 10px solid #d74680;
    border-bottom: 10px solid #d74680;
}
.percentage.html:after {
    border-right: 10px solid #d74680;
    border-bottom: 10px solid #d74680; 
    transform: rotate(48deg);
}
.percentage.graphic:before{    
    border-right: 10px solid #15c7a8;
    border-bottom: 10px solid #15c7a8;
}
.percentage.graphic:after {
    border-right: 10px solid #15c7a8;
    border-bottom: 10px solid #15c7a8; 
    transform: rotate(20deg);
}
.percentage.ui:before{    
    border-right: 10px solid #eb7d4b;
    border-bottom: 10px solid #eb7d4b;
}
.percentage.ui:after {
    border-right: 10px solid #eb7d4b;
    border-bottom: 10px solid #eb7d4b; 
    transform: rotate(75deg);
}
.value{
    color: #3b4761;
    font: 50px "Titillium Web Regular";
}
.value small{
    font-size: 32px;
    margin-left: 3px;
}
.sign{
    margin-top: 41px;
    text-transform: uppercase;
    color: #3b4761;
    font: 24px "Titillium Web Bold";
}
.skills .grid{
    width: 100%;
}
.grid{
    flex-wrap: wrap;
}
.portfolio-wrap{
    background-color: #fd9;
}
.portfolio{
    padding: 112px 10px 109px 10px;
    max-width: 1151px;
}
.portfolio .hdr {
    margin-bottom: 41px;
}
.portfolio .hdr p{
    max-width: 520px; 
}
.portfolio figure{
    margin: 10px;
}
.portfolio figure img{
    width: 100%;
}
.portfolio figcaption{   
    margin: 20px 0 43px 0;
}
.portfolio figcaption a{
    text-transform: uppercase;
    color: #393939;
    font: 19px "Titillium Web Regular";
}
.tabs{
    margin-bottom: 25px;
}
._nav{
    margin-bottom: 45px;
}
._nav a{
    color: #393939;
    text-transform: uppercase;
    font: 18px "Titillium Web Regular";
    margin: 0 5px 10px 5px;
    height: 38px;
    min-width: 84px;
    padding: 0 21px;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: rgba(0,0,0,.08);
}
._nav a.active, ._nav a:hover{
    background-color: #fff;
}
.portfolio a.btn-work{
    background-color: #17c1a3;
}
.testimonials-wrap{
    background-color: #d74580;
    margin-bottom: -11px;
}
.testimonials{
    padding: 111px 15px 0px 22px;   
    max-width: 1222px;
}
.testimonials article{
    max-width: 516px;
    margin: 5px 5px 138px 5px;
    width: 48%;
}
.testimonials article img{
    border-radius: 50%;
    min-width: 96px;
}
.testimonials article blockquote{
    margin-left: 49px;
    margin-top: 3px;
}
.testimonials article blockquote p{
    font: 21px/31px "Titillium Web Regular Italic";
    color: #fff;
    margin-bottom: 22px;
    letter-spacing: 0.045em;
}
.name{
    text-transform: uppercase;
    font: 23px/26px "Titillium Web Regular";
    color: #fff;
    letter-spacing: 0.05em;
}
.function{
    color: #fd9;
    font: 18px/26px "Titillium Web Regular";
}
footer{
    background-color: #3c5399;
}
.footer{
    max-width: 880px;
    min-height: 819px;
}
.footer-social-wrap{
    background-color: #334b8e;
}
.footer-social{
    flex-wrap: wrap;
    min-height: 112px;
}
.footer-social a{
    color: #fff;
    margin: 15px 28px 15px 28px;
    font: 24px/30px "Titillium Web Regular";
    letter-spacing: 0.017em;
}
.footer-social a:hover{
    color: #30bae7;   
}
.footer form{
    width: 100%;
}
.footer form > div{
    width: 100%;
}
.footer form a.btn-work{
    background-color: #2fb9e7;
}
.footer form input{
    height: 56px;
    width: 49%;
    max-width: 414px;
    margin-bottom: 27px;
    padding: 0 25px;
}
.footer form input, .footer form textarea{
    border-radius: 4px;
    border: none;
    background-color: #273971;
    font-size: 18px;
    font-family: "Titillium Web Regular";
    color: #ffffff;
    position: relative;
}
.footer form textarea{
    width: 100%;
    min-height: 200px;
    margin-bottom: 59px;
    padding: 19px 25px;
}
.footer form input::-webkit-input-placeholder, .footer form textarea::-webkit-input-placeholder {
    font-size: 18px;
    font-family: "Titillium Web Regular";
    color: #ffffff;
}
.footer form input::-moz-placeholder, .footer form textarea::-moz-placeholder {
    font-size: 18px;
    font-family: "Titillium Web Regular";
    color: #ffffff;
    opacity: 1;
    background: url('../images/star.png') no-repeat 14px 20px;    
}
.footer form textarea::-moz-placeholder{
    background: url('../images/star.png') no-repeat 14px 25px; 
}
.footer form input:-ms-input-placeholder, .footer form textarea:-ms-input-placeholder {
    font-size: 18px;
    font-family: "Titillium Web Regular";
    color: #ffffff;
}
.footer form input::-webkit-input-placeholder:after, .footer form textarea::-webkit-input-placeholder:after {
    content:'*';
    color: #ff4444;
    margin-left: 3px;
}
.footer form input:-ms-input-placeholder:after, .footer form textarea:-ms-input-placeholder:after {
    content:'*';
    color: #ff4444;
    margin-left: 3px;
}
@media (max-width: 750px) {
    .testimonials article {
        max-width: 600px;
        margin: 5px 5px 100px 5px;
        width: 100%;
    }
    .testimonials article blockquote {
        margin-left: 20px;
    }
}
@media (max-width: 500px) {
    .footer form > div {
        flex-direction: column;
    }
    .footer form input {
        width: 100%;
        max-width: 480px;
    }
}
