.icon-down {width: 52px; height: 52px; background: url('/images/icons/down.png');}
.icon-eye {width: 40px; height: 40px; background: url('/images/icons/eye.png');}
.icon-globe {width: 44px; height: 44px; background: url('/images/icons/globe.png');}
.icon-heart {width: 40px; height: 40px; background: url('/images/icons/heart.png');}
.icon-location {width: 72px; height: 72px; background: url('/images/icons/location.png');}
.icon-mail {width: 20px; height: 20px; background: url('/images/icons/mail.png');}
.icon-monitor {width: 44px; height: 44px; background: url('/images/icons/monitor.png');}
.icon-phone {width: 20px; height: 20px; background: url('/images/icons/phone.png');}
.icon-point {width: 20px; height: 20px; background: url('/images/icons/point.png');}
.icon-quotes {width: 20px; height: 20px; background: url('/images/icons/quotes.png');}
.icon-rocket {width: 48px; height: 48px; background: url('/images/icons/rocket.png');}
.icon-up {width: 36px; height: 36px; background: url('/images/icons/up.png');}
.icon-fb {width: 36px; height: 36px; background: url('/images/icons/fb.png');}
.icon-gp {width: 36px; height: 36px; background: url('/images/icons/gp.png');}
.icon-tw {width: 36px; height: 36px; background: url('/images/icons/tw.png');}