.icon-arrow-alt {width: 12px; height: 16px; background: url('/images/icons/arrow-alt.png');}
.icon-arrow-more {width: 23px; height: 22px; background: url('/images/icons/arrow-more.png');}
.icon-arrow {width: 12px; height: 19px; background: url('/images/icons/arrow.png');}
.icon-comment {width: 14px; height: 13px; background: url('/images/icons/comment.png');}
.icon-download {width: 13px; height: 12px; background: url('/images/icons/download.png');}
.icon-eye {width: 22px; height: 12px; background: url('/images/icons/eye.png');}
.icon-fb {width: 11px; height: 19px; background: url('/images/icons/fb.png');}
.icon-gp {width: 17px; height: 16px; background: url('/images/icons/gp.png');}
.icon-home {width: 14px; height: 12px; background: url('/images/icons/home.png');}
.icon-pin {width: 16px; height: 21px; background: url('/images/icons/pin.png');}
.icon-tw {width: 19px; height: 16px; background: url('/images/icons/tw.png');}
.icon-tweet {width: 18px; height: 15px; background: url('/images/icons/tweet.png');}