
/* FONTS */
@font-face {
    font-family: 'Delicious';
    src: url('/fonts/fontsquirel.com/delicious-roman.woff2') format('woff2'), url('/fonts/fontsquirel.com/delicious-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */
.icon-add {width: 16px; height: 16px; background: url('/images/icons/add.png');}
.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-fl {width: 16px; height: 16px; background: url('/images/icons/fl.png');}
.icon-in {width: 16px; height: 16px; background: url('/images/icons/in.png');}
.icon-next {width: 7px; height: 5px; background: url('/images/icons/next.png');}
.icon-prev {width: 7px; height: 5px; background: url('/images/icons/prev.png');}
.icon-rss {width: 16px; height: 16px; background: url('/images/icons/rss.png');}
.icon-search {width: 12px; height: 12px; background: url('/images/icons/search.png');}
.icon-top {width: 5px; height: 7px; background: url('/images/icons/top.png');}
.icon-tw {width: 16px; height: 16px; background: url('/images/icons/tw.png');}