.btn-thumb{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #bebebe;
    background-image: linear-gradient(to top, #d9d9d9 0%, #d9d9d9 0%, #f2f2f2 100%);
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(1, 2, 2, 0.45);
}
.btn-thumb:active, .btn-thumb:hover, .btn-thumb:focus{
    background-image: linear-gradient(to top, #e6e6e6 0%, white 100%);
    box-shadow: 0 2px 2px rgba(1, 2, 2, 0.45);
}
a.btn-default, a.btn-alt{
    font-family: Designosaur;
    font-size: 18px;
    min-height: 40px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding: 2px 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px white;
}
a.btn-default{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
    color: #ca4500;
    min-width: 173px;    
    background-image: linear-gradient(to top, #ff5400 0%, #f9b34b 100%);    
}
a.btn-alt{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.54);
    color: #838383;
    min-width: 140px;
    background-image: linear-gradient(to top, #ddd 0%, #f4f4f4 100%);
}
.btn-wrap{
    width: auto;
    border-radius: 25px;
    padding: 5px;
    background-color: rgba(226,234,238,.4); 
}
.links-social a{
    margin: 3px;
}
.links-payment a{
    margin: 4px;
}
blockquote q{
    padding: 30px 30px 40px 30px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #8c8c8c;
    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    background: white;
    position: relative;
    text-align: center;
}
blockquote cite{
    font-family: Arial;
    font-size: 12px;
    color: #8c8c8c;
    font-style: normal;
    padding: 10px 10px 10px 80px;
}
blockquote cite em{
    color: #bebebe;
    font-style: italic;
}
blockquote q:after, blockquote q:before{
    content: "";
    position: absolute;        
}
blockquote q:after{
    left: 38px;
    bottom: -18px;
    border-top: 20px solid white; 
    border-left: 20px solid transparent; 
}
blockquote q:before{
    bottom: -20px;
    left: 38px;
    border-top: 20px solid #e3e3e3;
    border-left: 21px solid transparent;     
}
.marker li:before{
    background: url(/images/icons/marker.png);
    width: 12px;
    height: 12px;
    top: 17px;
}
.list li{
    color: #dd8c5c;
    font-family: Arial;
    font-size: 12px;
    padding: 0px 0px 0px 30px;
    line-height: 34px;
    border-bottom: 1px solid #f3f3f3;
}
.list li:last-child{
    border-bottom: none;
}