/* --- UL WITH MARKER --- */
.marker > * {position: relative;}
.marker > *:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
}

/* --- SELECT WITH CUSTOM ARROW --- */
.select {
    position:relative; 
    display: inline-block;
}
.select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    box-sizing: border-box;
    pointer-events: none;
}
.select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.select select::-ms-expand{display:none;}

/* Checkbox/Radio normal */
.checkbox, .fcheckbox, .radio, .fradio {display: none;}

.checkbox + label, .radio + label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox + label::before, .radio + label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
/* Checkbox/Radio Flex */
.fcheckbox + label, .fradio + label {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    position: relative;
    top: -2px;
}
.fcheckbox + label::before, .fradio + label::before {
    content: '';
    display: block;
    flex: 0 0 auto;
}

/* --- BTN */
button {
    vertical-align: middle; 
    background: none; 
    outline: none;
    padding: 0;
    border:none;
}
button::-moz-focus-inner {
    border: none;
    padding:0;
}
/*a.btn {
    text-decoration: none;
    color: inherit;
}*/
.btn, .btn > em {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-style: normal;
}
.btn > em {flex-grow: 1;}

/*SIMPLE LABELS*/
.lbl {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

/* --- TABS --- */
.tabs {
    display: flex;
    flex-direction: column;
}
.tabs ._nav {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}
.tabs ._nav > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.tabs ._nav > a:first-child {margin-left: 0;}
.tabs ._nav > a:last-child {margin-right: 0;}
.tabs ._content {flex-grow: 1;}
.tabs ._content > * {display: none;}
.tabs ._content > .active {display: flex;}


.tabs.left {flex-direction: row;}
.tabs.right {flex-direction: row-reverse;}
.tabs.bottom {flex-direction: column-reverse;}

.tabs.left ._nav, .tabs.right ._nav {flex-direction: column;}


.tabs.accordion {
    position: relative;
}
.tabs.accordion > ._nav {flex-direction: column; align-items: stretch;}
.tabs.accordion > ._nav > a {width: auto; margin-right: 0; margin-left: 0;}

.tabs.accordion > ._content > .active {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: auto;
}

/* ICONS */
i[class*="icon-"] {
    display: inline-block;
}

.lwrap {
    margin: 0 auto;
}

[class*="links-breadcrumbs"] > a:last-child {cursor: default;}

/* IFRAME VIDEOS */
[data-video] {
    position: relative;
    padding-bottom: 35px;
}
[data-video='16:9'] {padding-top: 56.25%;}
[data-video='4:3'] {padding-top: 75%;}
[data-video] iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}