.icon-design {width: 80px; height: 83px; background: url('/images/icons/design.png');}
.icon-development {width: 79px; height: 76px; background: url('/images/icons/development.png');}
.icon-logo-footer {width: 35px; height: 37px; background: url('/images/icons/logo-footer.png');}
.icon-logo-header {width: 65px; height: 69px; background: url('/images/icons/logo-header.png');}
.icon-mouse {width: 23px; height: 37px; background: url('/images/icons/mouse.png');}
.icon-product {width: 79px; height: 91px; background: url('/images/icons/product.png');}