.icon-birds {width: 128px; height: 70px; background: url('/images/icons/birds.png');}
.icon-cart-alt {width: 43px; height: 44px; background: url('/images/icons/cart-alt.png');}
.icon-cart {width: 40px; height: 40px; background: url('/images/icons/cart.png');}
.icon-down {width: 13px; height: 12px; background: url('/images/icons/down.png');}
.icon-f {width: 24px; height: 23px; background: url('/images/icons/f.png');}
.icon-ff {width: 22px; height: 23px; background: url('/images/icons/ff.png');}
.icon-gp {width: 22px; height: 23px; background: url('/images/icons/gp.png');}
.icon-letter {width: 32px; height: 23px; background: url('/images/icons/letter.png');}
.icon-lock {width: 16px; height: 16px; background: url('/images/icons/lock.png');}
.icon-next {width: 14px; height: 15px; background: url('/images/icons/next.png');}
.icon-prev {width: 14px; height: 15px; background: url('/images/icons/prev.png');}
.icon-search {width: 28px; height: 30px; background: url('/images/icons/search.png');}
.icon-tw {width: 23px; height: 23px; background: url('/images/icons/tw.png');}
.icon-up {width: 19px; height: 18px; background: url('/images/icons/up.png');}
.icon-user {width: 16px; height: 16px; background: url('/images/icons/user.png');}