.icon-camera {width: 33px; height: 17px; background: url('/images/icons/camera.png');}
.icon-fb {width: 27px; height: 27px; background: url('/images/icons/fb.png');}
.icon-next {width: 10px; height: 26px; background: url('/images/icons/next.png');}
.icon-prev {width: 10px; height: 26px; background: url('/images/icons/prev.png');}
.icon-tw {width: 27px; height: 27px; background: url('/images/icons/tw.png');}
.icon-youtube {width: 28px; height: 27px; background: url('/images/icons/youtube.png');}