.breadcrumbs{
    border-top: 1px solid #a6cdd7;
    border-bottom: 1px solid #a6cdd7;
}
.links-breadcrumbs{   
    padding: 5px 10px 5px 10px;
    font: 14px Lato;
    color: #2a535e;
}
.links-breadcrumbs a{
    font: 14px Lato;
    color: #2a535e;
    margin: 0px 5px;
}
.links-breadcrumbs a:hover, .links-breadcrumbs a:active, .links-breadcrumbs a:focus{
    text-decoration: underline;
}
.links-breadcrumbs a:last-child:hover, .links-breadcrumbs a:last-child:active, .links-breadcrumbs a:last-child:focus{
    text-decoration: none;
}
.links-nav a{
    color: #4d7b87;
    font: 14px Lato;
    padding: 20px 0px 20px 0px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin: 0px 10px 0px 10px;
}
.links-nav a.active, .links-nav a:hover, .links-nav a:active, .links-nav a:focus{
    border-top: 7px solid #1f987d;
}
blockquote {
    border-left: 5px solid #2a535e;
}
blockquote q{
    color: #2a535e;
    font: italic 20px/30px Lato;
    border: 1px solid #d2cbcb;
    display: inline-block;
    border-left: none;
    padding: 10px 10px 10px 10px;
}
.hdr{
    min-height: 56px;
    background-color: #1f987d;
    padding: 10px;
}
.hdr h2{
    text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.7);
    color: white;
    font: 900 italic 22px Lato;
}
.marker a:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #2c973b 0%, #39b54a 100%);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);
}
.links-footer a{
    font: 12px/24px Lato;
    color: white;
    padding: 0px 0px 0px 20px;
}
.links-footer a:hover, .links-footer a:active, .links-footer a:focus{
    text-decoration: underline;
}
.links-social a{
    margin: 2px;
}
input[type="text"], .textarea{
    background-color: white;
    border: 1px solid rgba(2, 36, 28, 0.56);
    box-shadow: inset 2.8px 2.8px 15px rgba(0, 0, 0, 0.24);   
    width: 100%;
    max-width: 254px;    
}
input[type="text"], textarea{
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    color: #a29d9d;
}
.textarea textarea{
    border: none;
    padding: 10px;
    background: none;
    resize: none;
    width: 100%;   
}
input[type="text"]{
    padding: 0px 10px 0px 10px;
    height: 36px;
    margin: 0px 0px 6px 0px;
}
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    color: #a29d9d;
}
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    color: #a29d9d;
}
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-family: Lato;
    font-size: 12px;
    font-style: italic;
    color: #a29d9d;   
}
.btn-submit{
    min-width: 75px;
    min-height: 27px;
    color: white;
    padding: 2px 5px 2px 5px;
    font: 900 12px Lato;
    background-image: linear-gradient(to top, #2c973b 0%, #39b54a 100%);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);    
}
.textarea .btn-submit{
    border-right: none;
    border-bottom: none;
}
.lbl-tw{
    width: 47px;
    height: 38px;
    background-color: #2a535e;
    position: relative;
}
.lbl-tw:after {
    content: "";
    right: -4px;
    top: 7px;
    position: absolute;
    border-left: 5px solid #2a535e;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.lbl-tw-alt{
    position: relative;
    width: 47px;
    height: 42px;
    background-color: #167862;
    border: 1px solid #7bc2b3;
}
.lbl-tw-alt:before{
    content: "";
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-left: 6px solid #7bc2b3;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.lbl-tw-alt:after{
    content: "";
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-left: 6px solid #167862;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.links-categories, .links-menu{
    width: 100%;
    max-width: 205px;
}
.links-categories a{
    border-bottom: 1px solid #8fcbbe;
    padding: 5px 0px 5px 0px;
    font: 300 14px Lato;
    width: 100%;
    justify-content: space-between;
    color: #2a535e;
    font: 300 14px Lato;
}
.lbl-counter{
    font: 300 11px Lato;
    color: white;
    border-radius: 50%;
    width: 19px;
    height: 20px;
    background-color: #2a535e;
}
.links-menu a {
    color: #2a535e;
    font: 14px Lato;
    border-bottom: 1px solid #edeaea;
    border-top: 1px solid #e4e0e0;
    border-left: 1px solid #e4e0e0;
    border-right: 1px solid #e4e0e0;
    padding: 6px 0px 5px 10px;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.links-menu a:hover, .links-menu a:active, .links-menu a:focus{
    color: white;
    background-color: #1f987d;
    border:1px solid #1f987d; 
}
.links-menu a:hover:before, .links-menu a:active:before, .links-menu a:focus:before{
    content: "";
    height: calc(100% + 2px);
    width: 6px;
    background: #2a535e;
    position: absolute;
    top: -1px;
    left: -1px;
}
.tabs{
    max-width: 700px;
}
.tabs.accordion > ._nav > a.active{
    margin: 0px 0px 0px 0px;
    color: white;
    background-color: #2a535e;
    border-color: #2a535e;
    font: 12px/22px Lato;
}
.tabs.accordion > ._nav > a {
    background-color: #f1f1f1;
    border: 1px solid #d2cbcb;
    height: 32px;
    justify-content: space-between;
    margin: 0px 0px 3px 0px;
    color: #2a535e;
    padding: 0px 0px 0px 8px;
}
.tabs > ._content > .active {
    padding: 10px 10px 10px 10px;
    background-color: white;
    border: 1px solid #d2cbcb;
    margin: 0px 0px 3px 0px;
}
.tabs > ._content > .active p{
    color: #2a535e;
    font: 14px/22px Lato;
}
.lbl-acc{
    width: 34px;
    height: 32px;
    background-color: #1f987d;
    margin: 0px -1px 0px 0px;
}
.tabs.tab ._nav > a {
    min-width: 61px;
    height: 32px;
    padding: 5px;
    border: 1px solid #d2cbcb;
    color: #2a535e;
    font: 12px/22px Lato;
    background-color: white;
    border-bottom: none;
    margin: 0px 1px 0px 0px;
}
.tabs.tab ._nav > a.active{
    background-color: #1f987d;
    border-color: #1f987d;
    color: white;
}

