.icon-link {width: 33px; height: 42px; background: url('/images/icons/link.png');}
.icon-db {width: 19px; height: 16px; background: url('/images/icons/db.png');}
.icon-fb {width: 19px; height: 16px; background: url('/images/icons/fb.png');}
.icon-gp {width: 19px; height: 16px; background: url('/images/icons/gp.png');}
.icon-next {width: 21px; height: 31px; background: url('/images/icons/next.png');}
.icon-prev {width: 21px; height: 31px; background: url('/images/icons/prev.png');}
.icon-pt {width: 19px; height: 16px; background: url('/images/icons/pt.png');}
.icon-rs {width: 18px; height: 17px; background: url('/images/icons/rs.png');}
.icon-tw {width: 19px; height: 16px; background: url('/images/icons/tw.png');}