.icon-link {width: 33px; height: 42px; background: url('/images/icons/link.png');}
.icon-dribbble {width: 34px; height: 34px; background: url('/images/icons/dribbble.png');}
.icon-facebook {width: 35px; height: 34px; background: url('/images/icons/facebook.png');}
.icon-google {width: 35px; height: 34px; background: url('/images/icons/google.png');}
.icon-next {width: 21px; height: 31px; background: url('/images/icons/next.png');}
.icon-pinterest {width: 35px; height: 34px; background: url('/images/icons/pinterest.png');}
.icon-prev {width: 21px; height: 31px; background: url('/images/icons/prev.png');}
.icon-rss {width: 34px; height: 34px; background: url('/images/icons/rss.png');}
.icon-twitter {width: 34px; height: 34px; background: url('/images/icons/twitter.png');}