.icon-dribbble:hover {background: url('/images/icons/dribbble-hover.png');}
.icon-facebook:hover {background: url('/images/icons/facebook-hover.png');}
.icon-google:hover {background: url('/images/icons/google-hover.png');}
.icon-next:hover {background: url('/images/icons/next-hover.png');}
.icon-pinterest:hover {background: url('/images/icons/pinterest-hover.png');}
.icon-prev:hover {background: url('/images/icons/prev-hover.png');}
.icon-rss:hover {background: url('/images/icons/rss-hover.png');}
.icon-twitter:hover {background: url('/images/icons/twitter-hover.png');}