.links-social a{
    margin: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.rss{
    border: 2px solid #f8902e;
}
.fb{
    border: 2px solid #39599f;
}
.tw{
    border: 2px solid #45b0e3;
}
.db{
    border: 2px solid #d97ab0;
}
.pin{
    border: 2px solid #cc212c;
}
.links-nav{
    border-right: 1px solid rgba(0,0,0,.13);
    min-height:  38px;
    padding: 0px 30px;
    align-items: center;
}
.links-nav a{
    margin: 5px 27px;
    font: 700 13px HelveticaNeue;
    text-transform: uppercase;
    color: #a7a7a7;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #a89574;
}
a.btn-default, .btn-alt{
    width: 150px;
    height: 48px;
    border-radius: 5px;
    padding: 2px 5px;
    font: 700 15px HelveticaNeue;
}
a.btn-alt{
    color: #a8747e;
    border: 2px solid #a8747e;
}
a.btn-default{
    border: 2px solid #a89574;
    color: #a89574;
}
.lbl-default, .lbl-date{
    padding: 5px;
    border: 2px solid #a89574;
    border-radius: 50%;
}
.lbl-default{
    width: 90px;
    height: 90px;
}
.lbl-date{
    width: 60px;
    height: 60px;
    flex-direction: column;
    color: #a89574;
    text-transform: uppercase;
}
.lbl-date strong{
    font: 700 20px/20px HelveticaNeue;
}
.lbl-date small{
    font: 700 12px/12px HelveticaNeue;
}
.links-post, .links-post a{
    color: #a89574;
    font: 300 12px HelveticaNeue;   
}
.links-post a{
    margin: 0px 4px; 
}
.links-post a:active, .links-post a:hover, .links-post a:focus{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
p{
    color: #818181;
    font: 14px/22px HelveticaNeue;
}
figure{
    max-width: 278px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
figure img{
    width: 100%;
    height: 100%;
}
figcaption{
    width: 100%;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
}
figcaption h6{
    color: #767676;
    font: 700 15px HelveticaNeue;
}
figcaption span{
    color: #a89574;
    font: 300 13px HelveticaNeue;    
}
.read{
    color: #a89574;
    font: 300 12px HelveticaNeue;    
}
.list li{
    color: #818181;
    font: 14px/22px HelveticaNeue;   
    padding: 0px 0px 0px 15px;
}
.marker li:before{
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #a89574;
    top: 10px;
    border-radius: 50%;
}
blockquote q{
    color: #818181;
    font: 18px/30px HelveticaNeue; 
    padding: 20px 0px 0px 5px;
    text-align: center;
}
blockquote cite{
    color: #a89574;
    font: 300 14px HelveticaNeue;  
}
.tweet p a{
    color: #d2d2d2;
    font: 14px/24px HelveticaNeue;
}
.tweet i{
    margin: 5px 5px 0px 0px;
}
.btn-submit{
    min-width: 110px;
    min-height: 32px;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
    padding: 2px 5px;
    color: #a6a6a6;
    font: 700 13px HelveticaNeue; 
}
input[type="text"], textarea{
    width: 219px;
    height: 35px;
    background-color: rgba(0,0,0,.2);
    color: white;
    margin: 0px 0px 10px 0px;
    border: none;
}
input[type="text"]{
    height: 35px;
    padding: 0px 10px;
}
textarea{
    height: 121px;
    padding: 10px;
}