@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Asap);
@font-face {
	font-family: 'SegoeWP';
	src: local('в�є'), url('/fonts/SegoeWP.woff') format('woff');
}
@font-face {
	font-family: 'SegoeUI';
	src: local('в�є'), url('/fonts/SegoeUIRegular.woff') format('woff');
}
@font-face {
	font-family: 'SegoeUI';
	src: local('в�є'), url('/fonts/SegoeUILight.woff') format('woff');
    font-weight: 300;
}
@font-face {
	font-family: 'SegoeUI';
	src: local('в�є'), url('/fonts/SegoeUIBold.woff') format('woff');
    font-weight: 700;
}