.icon-cloud {width: 112px; height: 112px; background: url('/images/icons/cloud.png');}
.icon-free {width: 112px; height: 112px; background: url('/images/icons/free.png');}
.icon-leave {width: 112px; height: 112px; background: url('/images/icons/leave.png');}
.icon-letter {width: 24px; height: 24px; background: url('/images/icons/letter.png');}
.icon-next {width: 20px; height: 20px; background: url('/images/icons/next.png');}
.icon-plus {width: 12px; height: 12px; background: url('/images/icons/plus.png');}
.icon-prev {width: 20px; height: 20px; background: url('/images/icons/prev.png');}
.icon-service {width: 20px; height: 20px; background: url('/images/icons/service.png');}
.icon-twitter {width: 164px; height: 164px; background: url('/images/icons/twitter.png');}
.icon-user {width: 24px; height: 24px; background: url('/images/icons/user.png');}