@font-face {
	font-family: 'LucidaGrande';
	src: local('в�є'), url('/fonts/lucida-grande.woff') format('woff');
    font-weight: normal;
}
@font-face {
	font-family: 'LucidaGrande';
	src: local('в�є'), url('/fonts/lucida-grande-bold.woff') format('woff');
    font-weight: 700;
}