@font-face {
	font-family: 'LucidaGrande';
	src: local('в�є'), url('/fonts/ufonts.com_lucida-grande-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'LucidaGrande';
	src: local('в�є'), url('/fonts/ufonts.com_lucida-grande.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}