a{
    text-decoration: none;
}
@font-face {
    font-family: '';
    src: url('../fonts/.otf');
}
.icon-arrow, .icon-list{
    width: 8px;
    height: 8px;
}
.icon-fb, .icon-ms, .icon-rss, .icon-sk, .icon-tw{
    width: 24px;
    height: 24px;
}
.icon-arrow{background: url('../images/icons/8x8/arrow.png');}
.icon-list{background: url('../images/icons/8x8/arrow2.png');}
.icon-fb{background: url('../images/icons/24x24/fb.png');}
.icon-ms{background: url('../images/icons/24x24/ms.png');}
.icon-rss{background: url('../images/icons/24x24/rss.png');}
.icon-sk{background: url('../images/icons/24x24/sk.png');}
.icon-tw{background: url('../images/icons/24x24/tw.png');}
.icon-{
    width: 0px;
    height: 0px;
    background: url('../images/icons/.png');
}
body{
    background: url('../images/bg.png');
}
header{
    background:#121211 url('../images/border-top.png') repeat-x left bottom;
}
.header{
    flex-wrap: wrap;
    padding: 18px 0px 22px 2px;
}
.header span{
    color: #8f8f8f;
    font: 17px "Trebuchet MS";
    padding:  0px 0px 4px 0px;
    letter-spacing: -0.03em;
}
.top-bar{
    flex-wrap: wrap;
    min-height: 36px;
    max-width: 640px;
    margin: auto;
    padding: 2px 10px 2px 10px;    
}
.top-bar p{
    font: 11px "Trebuchet MS";
    color: #a3a3a3;
    letter-spacing: 0.01em;
}
.top-bar p a{
    padding: 0px;
}
.top-bar a{
    color: #517f35;
font: 11px "Trebuchet MS";
text-decoration: underline;

    padding: 0px 0px 0px 15px;
}
.wrap{
    max-width: 638px;
    margin: auto;
    padding: 10px 10px 10px 10px;   
}
.featured{
    padding: 21px 19px 22px 20px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: inset 0 0 13px rgba(15,16,16,.22);
    margin: 0px 0px 34px 0px;
}
.title-wrap{
    max-width: 278px;
    padding: 20px 20px 21px 23px;
    border: 1px solid rgba(255,255,255,.9);
    border-radius: 3px;
    background-color: #51a17c;
}
.title-wrap h1{
    color: #fff;
    font: 600 31px/34px "Trebuchet MS";
}
.title-wrap p{
    color: #e5f2eb;
    font: 12px/18px "Trebuchet MS";
    margin: 6px 0px 16px 0px;
}
a.btn-title{
    min-width: 141px;
    min-height: 32px;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(1,1,1,.4);
    color: #1f1f1f;
    font: 600 14px "Trebuchet MS";
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
}
a.btn-default{
    min-width: 113px;
    min-height: 32px;
    border-radius: 2px;
    background-color: #a7a7a7;
    color: #fff;
    text-transform: uppercase;
    font: 600 14px "Trebuchet MS";
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
}
.aside a.btn-default{
    margin: 5px 10px 16px 1px;
}
.content-wrap{
    padding: 13px 20px 20px 16px;
    border: 1px solid rgba(15,16,16,.25);
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(15,16,16,.4);
    background: #fff url('../images/border.png')repeat-x left bottom;
}
.content{
    width: 67.2%;
    padding: 0px 21px 0px 0px;
    background: url('../images/border-vertical.png')repeat-y right top;
}
.content p{
    font: 12px/18px "Trebuchet MS";
    color: #7f7f80;
    margin: 11px 0px 10px 0px;
}
.content article{
    padding: 0px 0px 31px 0px;
    margin: 0px 0px 27px 0px;
    background: url('../images/border.png')repeat-x left bottom;
}
.content article:last-child{
    background: none;
    padding: 0px 0px 12px 0px;    
    margin: 0px 0px 0px 0px;
}
.img-lg{
    margin: 0px 0px 10px 0px;
    border: 1px solid #6f7070;
}
.img-wrap{
    width: 100%;
}
.aside{
    width: 32%;
    padding: 0px 0px 0px 14px;
}
.aside span{
    color: #999;
font: 12px/18px "Trebuchet MS";
    margin: 0px 0px 5px 0px;
    display: inline-block;
}
.aside article{
    margin: 0px 0px 10px 0px;
}
.aside figure{
    border: 1px solid rgba(15,16,16,.1);

    padding: 6px 5px 5px 6px;
    margin: 8px 0px 6px 2px;
}
.list-default{
    background: url('../images/border.png')repeat-x left top;
    margin: 0px 0px 26px 0px;
    padding: 3px 0px 0px 0px;
}
.list-default li{
    background: url('../images/border.png')repeat-x left bottom;
    padding: 5px 0px 6px 9px;
}
.list-default li:before{
    width: 8px;
    height: 8px;
    left: -2px;
    background: url('../images/icons/8x8/arrow2.png')no-repeat;
}
.list-default li a{
    color: #51a17d;
    font: 12px/18px "Trebuchet MS";
}
.content-wrap h2{
    color: #1f1f1f;
    font: 600 17px "Trebuchet MS";
    margin: 0px 0px 9px 0px;
}
.aside h2{
    margin: 0px 0px 4px 0px;
}
a.btn-download{
    background-color: #51a17d;
    width: 100%;
    max-width: 121px;
    min-height: 35px;
    color: #fff;
    border-top: 1px solid #74b497;
    border-bottom: 1px solid #74b497;
    font: 600 12px "Trebuchet MS";
    box-shadow: 0px 1px 0px 0px #51a17d;
    text-shadow: 0 1px 0 rgba(0,0,0,.4);
}
.advertisement figure{
    margin: 10px 0px 0px 2px;
    padding: 0px;
    border: none;
}
.social{
    flex-wrap: wrap;
    padding: 10px 32px 10px 22px;
    min-height: 55px;
    background: #fff url('../images/shadow-social.png')repeat-x left 1px;
    border: 1px solid rgba(15,16,16,.25);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}
.social span{
    color: #51a17d;
    font: 600 16px "Trebuchet MS";
}
.social a{
    color: #7b7b7b;
    font: 11px "Trebuchet MS";
text-shadow: 0 1px 0 rgba(255,255,255,.65);
    text-transform: uppercase;
}
.social a i{
    margin: 0px 3px 0px 0px;
}
footer{
    padding: 15px 10px 10px 12px;
}
footer p{
    text-align: center;
    color: #818181;
    font: 11px/18px "Trebuchet MS";
    max-width: 521px;
    letter-spacing: 0.014em;
}
footer p a{
    color: #999;
    text-decoration: underline;
}

@media screen and (max-width: 650px) { 
    .content-wrap{
        flex-direction: column;
    }
    .content, .aside {
    width: 100%;
    padding: 0px;
}    
}