@font-face {
    font-family: 'ProximaNova Regular';
    src: url('/fonts/ProximaNova/ProximaNova-Regular.otf');
}
@font-face {
    font-family: 'ProximaNova Bold';
    src: url('/fonts/ProximaNova/ProximaNova-Bold.otf');
}
@font-face {
    font-family: 'ProximaNova Light';
    src: url('/fonts/ProximaNova/ProximaNova-Light.otf');
}
a{
    text-decoration: none;
}
body{
    background-color: #f3eeea;
}
.icon-email, .icon-facebook, .icon-paypal, .icon-twitter, .icon-youtube{
    width: 32px;
    height: 32px;
}
.icon-email{background: url('/images/icons/32x32/email.png');}
.icon-facebook{background: url('/images/icons/32x32/facebook.png');}
.icon-paypal{background: url('/images/icons/32x32/paypal.png');}
.icon-twitter{background: url('/images/icons/32x32/twitter.png');}
.icon-youtube{background: url('/images/icons/32x32/youtube.png');}
.icon-arrow{
    width: 16px;
    height: 16px;
    background: url('/images/icons/arrow.png');
}
.icon-list{
    height: 12px;
    width: 12px;
     background: url('/images/icons/list.png');
}
.icon-arrow-left{
    width: 40px;
    height: 40px;
    background: url('/images/icons/arrow-left.png');
}
.icon-arrow-right{
    width: 40px;
    height: 40px;
    background: url('/images/icons/arrow-right.png');
}
.icon-search{
    width: 20px;
    height: 20px;
    background: url('/images/icons/search.png');
}
header{
    background: url('/images/banner.png') no-repeat;
    background-size: cover;
    min-height: 520px;
    position: relative;
}
.header-wrap{
    width: 100%;
    max-width: 1030px;
    padding: 0 15px;
}
.header{
    min-height: 120px;
    background-color: #fff;
    padding: 20px 0;
}
.logo{
    color: #727271;
    margin: 0 0 0 17px;
}
.logo span{
    font: 38px "ProximaNova Bold";
}
.logo small{
    font: 38px "ProximaNova Light";
}
.logo img{
    margin: 0 8px 0 0;
}
.nav{
    flex-wrap: wrap;
}
nav a{
    margin: 5px 29px 5px 29px;
    color: #658332;
    text-transform: uppercase;
    font: 15px "ProximaNova Regular";    
}
nav a:hover{
    color: #4999af;
}
nav a:last-child{
    margin: 5px 17px 5px 29px;
}
.search-wrap{
    margin: 0 -13px 23px 0;
    background-color: rgba(51,134,157,.6);
    height: 35px;
    padding: 5px 18px 5px 13px;
    position: relative;
}
.search-wrap a, .search-wrap span{
    color: #fff;
    font: 13px "ProximaNova Regular"; 
}
.search-wrap span{
    margin: 0 11px;
}
.search-wrap input{
    margin: 0 9px;
    max-width: 65px;
    border: none;
    color: #fff;
    font: 13px "ProximaNova Regular"; 
    background-color: transparent;
}
.search-wrap:after{
    content: "";
    position: absolute;
    right: 0px;
    top: 5px;
    width: 13px; 
    height: 35px;
    background-color: rgba(51,134,157,.6);
    transform: skewY(-40deg);
}
.banner{
    max-width: 1000px;
    width: 100%
}
.banner-box{
    max-width: 459px;
    min-width: 323px;
    background-color: rgba(51,134,157,.6);
    margin-bottom: 39px;
    padding: 20px;
}
.banner-box h1{
    color: #fff;
    font: 34px "ProximaNova Bold";
}
.banner-box h1 span{
    font: 34px "ProximaNova Light";
}
.btn-arrow{
    position: absolute;
    top: 50%;
    width: 49px;
    height: 90px;
    transform: translateY(-50%);
    background-color: rgba(91,91,90,.7)
}
.btn-arrow.left{
    left: 0;
}
.btn-arrow.right{
    right: 0;
}
.content{
    margin: auto;
    max-width: 1020px;
    padding: 0 10px 31px 10px;
}
.grid{
    padding: 19px 0;
    margin: 0 -10px;
    flex-wrap: wrap;
}
.grid figure{
    margin: 10px;
    position: relative;
    flex: 1;
    min-width: 282px;
    max-width: 320px;
}
.grid figure img{
    width: 100%;
}
.grid figcaption{
    position: absolute;
    right: 0;
    bottom: 0;
}
.grid figcaption h4{
    margin: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    font: 45px "ProximaNova Bold";    
    text-shadow: 0 1px 5px rgba(0,0,0,.6);
}
a.btn-info{
    max-width: 263px;
    min-height: 47px;
    padding: 5px 12px;
    color: #fff;
    font: 16px "ProximaNova Regular"; 
}
.stories a.btn-info{
    background-color: rgba(38,120,136,.8);
}
.give a.btn-info{
    background-color: rgba(101,131,50,.8);
}
.prayer a.btn-info{
    background-color: rgba(241,113,94,.8);
}
.lbl-info{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.events-wrap{
    flex-wrap: wrap;
}
.events-wrap > *{
    width: 48%;
    min-width: 300px;
}
.events-wrap h3{
    text-transform: uppercase;
    color: #4999af;
    margin-bottom: 23px;
    font: 22px "ProximaNova Regular"; 
}
.event-item{
    min-height: 77px;
    border-top: 1px solid #d2cdc9;
}
.event-item .date{
    color: #668333;
    margin-right: 19px;
}
.event-item .date span{
    font: 32px "ProximaNova Regular"; 
}
.event-item .date small{
    text-transform: uppercase;
    font: 14px "ProximaNova Regular"; 
}
.event-item .hdr h6{
    color: #f1715e;
    text-transform: uppercase;
    font: 17px "ProximaNova Regular";
    margin-bottom: 5px;
}
.event-item .hdr time{
    font: 13px "ProximaNova Bold";     
}
.event-item .hdr time span{
    font: 13px "ProximaNova Regular";     
}
a.btn-default{
    font: 16px "ProximaNova Regular";     
    color: #f2ede9;
    border-radius: 4px;
    text-transform: uppercase;
    min-width: 90px;
    min-height: 33px;
    padding: 5px 10px;
    background-color: #4999af;
}
.content p{
    margin-bottom: 18px;
    color: #5f5f5f;
    font: 14px/18px "ProximaNova Regular";    
}
.read{
    color: #f1715e;
    font: 14px "ProximaNova Regular"; 
    text-transform: uppercase;
}
footer{
    background-color: #525252;
    padding: 10px;
}
.copyright{
    max-width: 1020px; 
    margin: auto;
}
.footer{
    max-width: 1040px; 
    margin: auto;
}
.footer{
    flex-wrap: wrap;
    min-height: 158px;
    padding: 10px 0;
}
.footer > div{
    min-width: 250px;
    padding: 10px;
}
.footer h4{
    margin-bottom: 25px;
    color: #f2ede9;
    font: 20px "ProximaNova Regular"; 
    text-transform: uppercase;    
}
.footer a.btn-default{
    max-width: 274px;
}
.copyright{
    padding: 15px 10px 15px 10px;
    min-height: 66px;
    border-top: 1px solid #6b6b6a; 
}
.copyright span, .copyright a, .footer span{
    color: #b2b2b2;
    font: 12px "ProximaNova Regular";    
}
.copyright a:hover{
    text-decoration: underline
}
.footer .time{
    color: #f2ede9;
    font: 20px "ProximaNova Bold";  
}
a.btn-social{
    margin: 4px
}
.content.about{
    min-height: 568px;
    padding: 40px 10px;
}
.mission{
    width: 59%;
}
.mission h2{
    color: #4999af;
    text-transform: uppercase;
    font: 32px "ProximaNova Regular";  
    margin-bottom: 20px;
}
.about aside{
    width: 39%;
}
.about aside .list{
    border-top: 1px solid #d2cdc9;
    margin-top: 10px;
}
.about aside .list li{
    min-height: 50px;
    border-bottom: 1px solid #d2cdc9;  
}
.about aside .list li a{
    color: #4999af;
    text-transform: uppercase;
    font: 20px "ProximaNova Regular";    
}
.about aside .list li a i{
    visibility: hidden;
    margin-right: 10px;
}
.about aside .list li a:hover i{
    visibility: visible;
}
.about .list li a:hover{
    color: #f1715e;
}
.grid.events figcaption, .grid.shop figcaption{
    padding-left: 18px;
    width: 100%;
    position: static;
    text-transform: uppercase;
    height: 52px;
    background-color: #f1715e;
    color: #fff;
    font: 17px "ProximaNova Regular";  
}
.date-box{
    width: 75px;
    background-color: #668333;
}
.shop .date-box{
    background-color: #4999af;
}
.date-box small{
    text-transform: lowercase;
}
.content.events{
    padding: 0 10px;
}
@media (max-width: 900px) {
    .header{
        flex-direction: column;      
    }
    .logo {
    margin: 10px;
}
.header > div{
    width: 100%;
}
.nav{
    width: 100%;
    justify-content: center;
}
}
@media (max-width: 840px) {
    .footer{
        justify-content: space-around;
    }
    .footer > div {
    padding: 20px;
}
}
@media (max-width: 700px) {
    .events-wrap > *{
        width: 100%;
    }
    .events-wrap{
        flex-direction: column;
    }
    .footer h4{
        text-align: center;
    }
    .content.about {
    flex-direction: column;
}
.mission {
    width: 100%;
}
.about aside {
    width: 100%;
}
}