/*COMMON*/
figure img, #logo img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 1200px;
    padding: 0px 10px;
}

/*HEADER*/
header, .booking form{
    background: #2a2e33;
}
#logo + small{
    padding-left: 12rem;
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}
header > .lwrap > div{
    margin: 0px 10px 5rem 23rem;
}
header > .lwrap{
    max-width: 1248px;
}

/*BANNER*/
.banner{
    /*    background: #00ccff url('/images/bg1.png') no-repeat;
        background-size: cover;*/
    background: #00ccff;
    text-align: center;
}
.banner h1{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    font-family: Droid Sans;
    padding: 18rem 10px 29rem 10px;
    background: url('/images/line.png')no-repeat center bottom;
}
.banner span strong{
    font-weight: 700;
    font-size: 30px;
}
.banner span{
    color: #fff;
    text-align: center;
    padding: 72rem 73rem 26rem 74rem;
    font-size: 30px;
    background: url('/images/line.png') repeat-x center bottom;
}
.banner p{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 36rem 10px 134rem 10px;
}

/*BOOKING*/
.booking > .lwrap > h2, .rooms > .lwrap > h2{
    font-weight: 400;
    font-family: ARDECODE;
    font-size: 60px;
    line-height: 72px;
}
.booking {
    border-bottom: 1px solid #949699;
    background: url("/images/shadow.png")no-repeat center 49rem, url('/images/bg2.png');
}
.booking form ~ *, .rooms{
    text-align: center;
}
.booking form{
    padding: 10px 18rem 14rem 18rem;
    margin: -52rem 0px 44rem 0px;
    width: 100%;
    max-width: 1020px;
}
.booking form button{
    margin: 24px 0px 10px 0px;
}
.booking form .btn-default{
    min-width: 176rem;
    height: 43px;
    font-size: 18px;
    text-transform: capitalize;
}
.booking form > fieldset{
    margin-bottom: 10px;
    width: 26%;
}
.booking p{
    font-size: 14px;
    width: 100%;
}
.slider{
    width: 100%;
    max-width: 1010px;
    padding: 41rem 0px 34rem 0px;
}
.slider > div{
    flex-grow: 1;
    max-width: 712px;
}
.slider figure{
    border: 3px solid #292d33;
    border-radius: 50%;
    margin:  5px;
}
a:hover .icon-next {background: url('/images/icons/next-hover.png');}
a:hover .icon-prev {background: url('/images/icons/prev-hover.png');}

/*ROOMS*/
.rooms {
    background: url('/images/bg3.png');
}
.rooms article{
    width: 32.25%;
    margin-bottom: 32rem;
}
.rooms > .lwrap > h2{
    margin-bottom: 31rem;
}
.rooms .lwrap{
    padding: 28rem 10px 64rem 10px;
}
.rooms article h3{
    font-size: 24px;
    margin: 5rem 0px 3rem 0px;
    font-weight: normal;
}
.rooms article h3 a{
    color: #2a2e33;
}
.rooms article h3 a:active, .rooms article h3 a:hover, .rooms article h3 a:focus{
    text-decoration: underline;
}
.rooms p{
    line-height: 15px;
    margin-bottom: 18rem;
}

/*LOCATED*/
.located {
    background: #e7ca2b;
    color: white;
}
.located > .lwrap{
    position: relative;
    padding: 34rem 260rem 45rem 10px;
}
.located > .lwrap > figure{
    position: absolute;
    right: -11px;
    bottom: 0px;
    width: 23.67%;
}
.located h2{
    font-size: 48rem;
    font-weight: 400;
    margin-bottom: 9rem;
}
.located blockquote{
    font-size: 18px;
    font-style: italic;
}

/*FOOTER*/
footer {
    border-bottom: 34rem solid #1f1f1f;
    background: #333;
    color: white;
}
footer a{
    color: white;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer span{
    padding-bottom: 8px;
}
footer h5{
    font-family: Droid Sans;
    font-size: 18px;
    margin-bottom: 13rem;
    font-weight: normal;
    text-transform: uppercase;
}
footer > .lwrap > div{
    width: 19%;
    margin-bottom: 20px;
}
footer > .lwrap > div:last-child{
    width: 17.2%;
}
footer > .lwrap > .join{
    width: 39.3%;
}
footer p{
    margin-bottom: 17rem;
}
footer p:last-child{
    margin-bottom: 23rem;
}
footer time{
    color: #e7cb2c;
    text-transform: uppercase;
    font-size: 10px;
}
footer .lwrap{
    padding: 22rem 31rem 97rem 10px;
}
footer form button{
    margin: 2px;
}

/*MEDIA QUERIES*/
@media (max-width: 960px) {
    header > .lwrap > div{margin: 0px 10px 5rem 0px;}
    input[name="date"], select {font-size: 12px;}
}
@media (max-width: 640px) {
    .located h2{font-size: 26px;}
    .slider figure.hidden {display: none;}
    footer > .lwrap > div:last-child, footer > .lwrap > div {width: 32%;}
    footer > .lwrap > .join {width: 100%;order: 1;}
    .booking form > fieldset, .booking form > button, .rooms article{width: 49%;}
}
@media (max-width: 480px) {
    .located > .lwrap {padding: 10px;}
    .slider figure.hidden-sm, .located > .lwrap > figure {display: none;}
    footer > .lwrap > div:first-child {width: 100%;}
    footer > .lwrap > div:last-child, footer > .lwrap > div {width: 48%;}
}