/*COMMON*/
*{
    color: #222;
    letter-spacing: -0.023em; 
}
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}
figure > img:only-of-type{
    display: block;
}
figure > img:only-of-type, a > img:only-of-type{
    width: 100%;
    height: 100%;
}
.lwrap{
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}
body > div > section, .contacts{
    padding-top: 110rem;
    padding-bottom: 110rem;
}
body > div > section:nth-child(odd){
    background: #f7f7f7;
}
hgroup{
    text-align: center;
    margin-bottom: 75rem;
}
hgroup h2{
    font-size: 40rem;
    text-transform: uppercase;
    margin-bottom: 7rem;
}
hgroup h6{
    color: #777;
    font-family: Droid Serif;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -0.028em;
}
p{
    color: #777;
    font-family: Roboto Slab;
    line-height: 22px;
}

/*HEADER*/
#logo{
    margin: 0 0 4rem 27rem;
}
header{
    padding: 10px 0;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/images/headerbg.png")center / cover no-repeat;
}
.header > .lwrap{
    width: 100%;
    max-width: 1000px;
}
.header{    
    min-height: 99rem;
}
.hdr-group{
    text-align: center;
    min-height: 581rem;
}
.hdr-group *{
    color: white;  
    margin: 0px;
}
.hdr-group h3{
    font-family: Droid Serif;
    font-size: 40rem;
    font-style: italic;
    font-weight: normal;
    margin: 12rem 0 24rem;    
}
.hdr-group h1{  
    font-size: 75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 41rem;
}

/*SERVICES*/
.services article{
    width: 30%;
    padding: 2px 0px 3px 0px;
    text-align: center;
}
.services h4{
    font-size: 18px;
    margin: 22rem 0px 10rem 0px;
}

/*PORTFOLIO*/
.portfolio, .team{
    text-align: center;
}
.portfolio{
    padding-bottom: 70rem;
}
.portfolio > .lwrap{
    max-width: 962px;
}
.portfolio figure{
    width: 30.9%;
    margin-bottom: 50rem;
}
.portfolio figcaption{
    background: white;
    padding: 2px;
    height: 93px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.portfolio strong{
    color: #333;
    display: inline-block;
    font-size: 18px;
}
.portfolio em{
    color: #737373;
    font-family: Droid Serif;
    padding: 1rem 0px 2rem 0px;
    letter-spacing: 0;
}
.portfolio figure > img:only-of-type{
    height: auto;
}

/*ABOUT*/
.about > div{
    background: linear-gradient(#f1f1f1, #f1f1f1) center / 2px 90% no-repeat;
    padding-top: 2rem;
}
.about{
    max-width: 932px;
}
.about article figure{
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    position: relative;
    flex-basis: 20%;
    min-width: 108px;
}
.about article > div, .about article:before, .about article:last-child:after{
    flex-basis: 35.5%;
}
.about article:before, .about article:last-child:after{
    content: '';  
    display: block;
}
.about article + article{
    margin-top: 86rem;
}
.about article:nth-child(odd){
    text-align: right;
    flex-direction: row-reverse;
}
.about p{
    margin-bottom: 12rem;
}
.about h5{
    font-size: 18px;
    text-transform: capitalize;
    margin: 3rem 0px 11rem 0px;
}
.about h5 time{
    display: block;
    text-transform: uppercase;
    margin: 2rem 0px 4rem 0px;
}
.about figure .btn-default{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    position: absolute;
    height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    word-spacing: 169px;
    padding: 10px;
    overflow: hidden;
    line-height: 27rem;    
}
.about article:last-child{
    margin-bottom: 10rem;
}

/*TEAM*/
.team > .lwrap{
    max-width: 860px;
}
.profiles{
    padding-bottom: 30rem;
}
.profiles figure{
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid white;
}
.profiles > div{
    width: 29.5%;
    padding: 6rem 0px;
}
.profiles strong{
    font-size: 16px;
    margin: 16rem 0px 3rem 0px;
    display: inline-block;
}
.profiles small{
    color: #777;
    font-family: Roboto Slab;
}
.team p{
    margin: auto;
    max-width: 655px;
    padding-bottom: 4rem;
    letter-spacing: 0.044em;
    line-height: 24px;
}

/*LOGOS*/
.links-logos.lwrap{
    padding: 56rem 10px;
    max-width: 824px;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
}
.contacts hgroup h2{
    color: white;
}
.contacts{
    background: url(/images/map.png) 80.5% 399% no-repeat #222;
    padding-top: 100rem;
}
.contacts > .lwrap{
    max-width: 980px;
}
.contacts form{
    padding: 5rem 0;
}
.contacts form > *:not(button){
    width: 48.5%;
}
.copyright{
    padding: 15rem 10px 25rem 10px;
}
.copyright > *{
    flex-basis: 33%;
    color: #555;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    .about article > div{flex-basis: 63%;}
    .about article::before, .about article:last-child::after {flex-basis: 0%;}
    .about > div{background: none;}
    .about figure .btn-default{line-height: 18px;}
}
@media screen and (max-width: 480px) {
    .portfolio figure, .profiles > div{width: 49%;}
    .contacts form > *:not(button){width: 100%;}
    .empty{display: none;}
    .copyright > *{flex-basis: 50%;}
    hgroup h2{font-size: 20px;}
    .btn-default{height: 32px;}
    body > div > section, .contacts, .links-logos.lwrap {padding: 10px;}
    hgroup{margin-bottom: 5px;}
    .portfolio{padding-bottom: 0px;}
}