.icon-facebook {width: 16px; height: 15px; background: url('/images/icons/facebook.png');}
.icon-rss {width: 16px; height: 15px; background: url('/images/icons/rss.png');}
.icon-search {width: 12px; height: 12px; background: url('/images/icons/search.png');}
.icon-share {width: 20px; height: 14px; background: url('/images/icons/share.png');}
.icon-twitter {width: 21px; height: 15px; background: url('/images/icons/twitter.png');}
.icon-user {width: 13px; height: 14px; background: url('/images/icons/user.png');}