.icon-arrow {width: 15px; height: 11px; background: url('/images/icons/arrow.png');}
.icon-blinklist {width: 37px; height: 38px; background: url('/images/icons/blinklist.png');}
.icon-coffee {width: 18px; height: 33px; background: url('/images/icons/coffee.png');}
.icon-down {width: 13px; height: 9px; background: url('/images/icons/down.png');}
.icon-download {width: 61px; height: 42px; background: url('/images/icons/download.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-fl {width: 24px; height: 24px; background: url('/images/icons/fl.png');}
.icon-in {width: 24px; height: 24px; background: url('/images/icons/in.png');}
.icon-net {width: 24px; height: 24px; background: url('/images/icons/net.png');}
.icon-next {width: 9px; height: 13px; background: url('/images/icons/next.png');}
.icon-prev {width: 9px; height: 13px; background: url('/images/icons/prev.png');}
.icon-readlnk {width: 14px; height: 9px; background: url('/images/icons/readlnk.png');}
.icon-server {width: 39px; height: 40px; background: url('/images/icons/server.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}
.icon-up {width: 13px; height: 9px; background: url('/images/icons/up.png');}