@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

/* ICONS */
.icon-box {width: 62px; height: 52px; background: url('/images/icons/box.png');}
.icon-calendar {width: 62px; height: 52px; background: url('/images/icons/calendar.png');}
.icon-cup {width: 62px; height: 52px; background: url('/images/icons/cup.png');}
.icon-fb {width: 8px; height: 16px; background: url('/images/icons/fb.png');}
.icon-in {width: 16px; height: 14px; background: url('/images/icons/in.png');}
.icon-mail {width: 62px; height: 52px; background: url('/images/icons/mail.png');}
.icon-photos {width: 62px; height: 52px; background: url('/images/icons/photos.png');}
.icon-pin {width: 16px; height: 21px; background: url('/images/icons/pin.png');}
.icon-tools {width: 62px; height: 52px; background: url('/images/icons/tools.png');}
.icon-tw {width: 17px; height: 13px; background: url('/images/icons/tw.png');}
.icon-yt {width: 21px; height: 14px; background: url('/images/icons/yt.png');}