@font-face {
    font-family: "BebasNeue";
    src: url(/fonts/bebas/BebasNeueBold.otf);
}
@font-face {
    font-family: "Epidemia";
    src: url(/fonts/EPIDEMIA.otf);
}
a{
    text-decoration: none;
}
header{
    min-height: 873px;
    background: url("/images/bg-top.png") no-repeat;
    background-size: 100%;
}
nav{
background-color: #4d2b11;
box-shadow: -1px 1px 5px rgba(0,0,0,.7);
margin-bottom: 5px;
}

.nav-wrap{
   min-height: 51px; 
   max-width:  960px;
   margin:auto;
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
}
.nav{
    max-width: 736px;
}
.nav a{
    color: #fff;
font: 16px "BebasNeue";
margin: 10px;
}
.banners{
    max-width:  960px;    
   margin:auto;
   margin-bottom: 7px;
   display: flex;
   justify-content: space-between;
}
.banner-add{
    width: 100%;
    max-width: 726px;
min-height: 91px;
margin-left: 7px;
border: 1px solid rgba(0,0,0,.19);
background-color: #fff;
}
.banner-main{
    width: 100%;
    max-width: 226px;
min-height: 151px;
margin-top:-56px;
background: #a1ab41 url("/images/banner1.png") no-repeat center center;
}

.map-wrap{
    max-width: 960px;
height: 400px;
margin: auto;
margin-bottom: 12px;
border: 1px solid #cdcbcb;
background-color: #fff;
box-shadow: 0 0 5px rgba(0,0,0,.14);
}
.content-wrap{
    max-width: 960px;
min-height: 400px;
margin: auto;
margin-bottom: 35px;
background-color: #fff;
display: flex;
justify-content: space-between;
padding: 13px 13px 30px 18px;
}
.content{
    width: 62%;
}
.content article{
    background: url("/images/border.png")repeat-x center bottom;
}
.content article h2{
    color: #0481af;
    font: 36px "Epidemia";
    margin-bottom: 20px;
}
.content article p{
    color: #888;
    font: 14px "Arial";
    padding-bottom: 25px;
}
.content-wrap aside{
  width: 36%;  
}
.content-wrap aside > iframe{
  width: 100%; 
  min-height: 209px;
}
.content-wrap aside > img{
  margin: 23px 0 10px 0; 
}
.content-wrap aside > div{
    background-color: #0381af;
    padding: 13px;
}
.content-wrap aside > div h1{
    color: #fff;
    font: 100px "Epidemia"; 
    letter-spacing: -0.5px;
}
.content-wrap aside > div h1 span{
    color: #f36f21;
}
.content-wrap aside > div .btn{
    width: 100%;
height: 45px;
border: 1px solid #123b08;
border-radius: 5px;
color: #fff;
font: 600 18px "Helvetica";
text-shadow: 1px -1px 0 rgba(0,0,0,.31);
box-shadow: inset 0 1px 0 rgba(255,255,255,.56);
background-image: linear-gradient(to top, #a3ab43, #cbd65f);
}
.content-wrap aside > div h2{
    color: #fff;
    font: 48px "Epidemia";
}
.content-wrap aside > div p{
    color: #fff;
    font: 14px "Arial";
}
.content-wrap aside > div p span{
    font: 600 14px "Arial";
    text-transform: uppercase;
}
.social{
    max-width: 960px;
margin: auto;
display:flex;
justify-content: space-between;
}
.facebook, .twitter{
    width: 48%;
}
.social .hdr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social .hdr h1{
    display: flex;
    align-items: center;
    color: #0481af;
    font: 36px "Epidemia";
}
.twitter ul li{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
}
.twitter ul li:last-child{
    border-bottom: none;
}
.twitter ul li > div{
    width: 85%;
    margin-left: 15px;
}
.twitter ul li h3{
    color: #363636;
    font: 700 15px "Arial";
}
.twitter ul li p{
    color: #898989;
    font: 12px/14px "Arial";
}
.twitter ul li time{
    color: #898989;
    font: 12px "Arial";
}
.twitter ul li a{
    color: #0481af;
    font: 600 12px "Arial";
}
.twitter ul li h3 span{
    font: 600 12px "Arial";
}
.sponsors-wrap{
    max-width: 960px;
margin: auto;
}
.sponsors-wrap h1{
    color: #0481af;
    font: 36px "Epidemia";
}
footer{
background-image: linear-gradient(to top, #221205, #4d2b11); 
}
.footer{
    max-width: 960px;
    display: flex;
margin: auto;
justify-content: space-between;
color: #fff;
font: 12px "Arial";
text-transform: uppercase;
padding: 20px 0 50px 0;
}
.footer ul li{
    line-height: 30px;
}
.footer a{
    color: #fff;
}