/* FONTS */
 
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(https://fonts.gstatic.com/s/cabin/v7/yQOMOX5hR0-6LTD879t-PQ.woff2) format('woff2');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Medium'), local('Cabin-Medium'), url(https://fonts.gstatic.com/s/cabin/v7/XHvvZj_uvRvYentxl9M1VvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Bold'), local('Cabin-Bold'), url(https://fonts.gstatic.com/s/cabin/v7/82B-3YlzWJm8zbCrVEmc_vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
} 
 
/* ICONS */
 
.icon-check {width: 12px; height: 9px; background: url('/images/icons/check.png');}
.icon-dl {width: 24px; height: 24px; background: url('/images/icons/dl.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-fl {width: 24px; height: 24px; background: url('/images/icons/fl.png');}
.icon-heart {width: 11px; height: 9px; background: url('/images/icons/heart.png');}
.icon-logo {width: 13px; height: 24px; background: url('/images/icons/logo.png');}
.icon-pin {width: 24px; height: 24px; background: url('/images/icons/pin.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-t {width: 24px; height: 24px; background: url('/images/icons/t.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}
 
/* ELEMENTS */
 
p{
    color: #898989;
    font: 14px/23px 'Cabin';
    margin: 0px 0px 20px 0px;
}
a{
    text-decoration: none;
}
.btn-default, a.btn-default{
    min-width: 112px;
min-height: 31px;
 font: 13px 'Cabin';
 color: #fff;
background-image: linear-gradient(to top, #6d984e 0%, #8db86e 100%);
border: 1px solid #648a49;
border-radius: 2px;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.22);
}
.links a{
    color: #898989;
    font: 13px/16px 'Cabin';
}
.links a:hover, .links a:active, .links a:focus, .hdr > div a:hover, .hdr > div a:active, .hdr > div a:focus{
    text-decoration: underline;
}
.nav a{
    font: 14px/16px 'Cabin';
    margin: 2px 10px 2px 10px;
    color: #707070;
}
.nav a:hover, .nav a:active, .nav a:focus, .nav a.active{
    color: #7dae59;
}
.form-default label{
    color: #898989;
    font: 14px/22px 'Cabin';
}
.form-default input::-webkit-input-placeholder, .form-default textarea::-webkit-input-placeholder {
    color: #898989;
font-family: 'Cabin';
font-size: 14px;
font-weight: 400;
line-height: 22px;
}
.form-default input::-moz-placeholder, .form-default textarea::-moz-placeholder {
   color: #898989;
font-family: 'Cabin';
font-size: 14px;
font-weight: 400;
line-height: 22px;
}
.form-default input:-ms-input-placeholder, .form-default textarea:-ms-input-placeholder {
    color: #898989;
font-family: 'Cabin';
font-size: 14px;
font-weight: 400;
line-height: 22px;
}
.form-default {
    max-width: 610px;
}
.form-default  input, .form-default  textarea{    
background-color: #fbfbfb;
border: 1px solid rgba(0, 0, 0, 0.07);
color: #898989;
font-family: 'Cabin';
font-size: 14px;
font-weight: 400;
line-height: 22px;
}
.form-default  input{
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 17px 0px;
    height: 35px;
}
.form-default  textarea{
    margin: 0px 0px 20px 0px;
    height: 185px;
    padding: 10px 10px 10px 10px;
}
.title{
    color: #6b6b6b;
    font: 17px/30px 'Cabin';
    margin: 0px 0px 20px 0px;
}
.social a{
    margin: 3px 3px 3px 3px;
}
.list-default li{
    color: #898989;
    font: 14px/23px 'Cabin';
    padding: 0px 0px 0px 20px;
}
.list-default.marker li:before{
    width: 12px;
    height: 9px;
    top: 10px;
    left: 0px;
    background: url(/images/icons/check.png);
}
.post figure{
    min-width: 70px;
    margin: 0px 25px 0px 0px;
}
.post .post{
    padding: 25px 0px 0px 40px;
}
.message h4{
    font: 15px 'Cabin';
    color: #6b6b6b;
    margin: 0px 0px 10px 0px;
}
.message p{
    color: #898989;
    font: 14px/22px 'Cabin';
}
.message{
    padding: 20px 20px 20px 20px;
    background-color: #fbfbfb;
border: 1px solid rgba(0, 0, 0, 0.07);
}
.post .post .message{
    background-color: whitesmoke;
border: 2px solid rgba(0, 0, 0, 0.07);
}
.hdr {
    flex-wrap: wrap;
    padding: 12px 0px 12px 0px;
    background: url('../images/border.png'), url('../images/border.png');
    background-repeat: repeat-x, repeat-x;
    background-position: center top, center bottom;
    margin: 10px 0px 15px 0px;
}
.hdr a, .hdr time, .hdr span{
    color: #c4c4c4;
    font: 11px 'Cabin';
}
.hdr .likes{
    color: #e59191;
}
.likes i{
    margin: 0px 5px 0px 0px;
}
 
/* $------------------------------------------------------------------------- */
body{
    background: url("/images/bg.png");
}
figure img{
    width: 100%;
    height: 100%;
}
.lwrap{
    max-width: 980px;
    padding: 0px 10px 0px 10px;
}
header{
    background-color: white;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
}
header .lwrap{
    min-height: 79px;
}
.logo{
    font: 22px 'Cabin';
    color: #939393;
}
.logo i{
    margin: 2px 1px -2px 0px;
}

.content-wrap{
    padding: 25px 10px 25px 10px;
}
.content, .sidebar{
       background-color: white;
border: 1px solid rgba(0, 0, 0, 0.11);
box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.05), inset 0 0 0 1px white; 
}
.content{
    width: 70%;
padding: 25px 25px 25px 25px;
}
.sidebar{
    width: 29%;
    margin: 0px 0px 0px 5px;
    padding: 25px 25px 25px 25px;
}
.content h2{
    color: #6b6b6b;
     font: 25px 'Cabin';
}
.content > article{
    padding: 0px 0px 10px 0px;
    background: url('../images/border.png')repeat-x left bottom;
}
.sidebar > div, .gallery, .post-wrap{
     background: url('../images/border.png')repeat-x left bottom;
}
.sidebar > div{
    padding: 10px 0px 20px 0px;
}
.gallery{
    padding: 10px 0px 20px 0px;
}
.gallery h5 a{
    color: #6b6b6b;
    font: 15px 'Cabin';
}
.gallery time, .gallery a{
    color: #c4c4c4;
    font: 700 11px 'Cabin';
}
.gallery a:hover, .popular a:hover{
    text-decoration: underline;
}
.post-wrap{
    padding: 10px 0px 20px 0px;
}
.popular article figure{
    min-width: 70px;
    margin: 0px 10px 0px 0px;
}
.popular article {
    padding: 0px 0px 20px 0px;
}
.popular article h6{
     font: 14px/22px 'Cabin';
}
.popular article h6 a{
    color: #898989;
}
.popular article time{
    color: #c4c4c4;
    font: 11px/20px 'Cabin';
}
footer{    
background-color: white;
box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.13);
}
footer .lwrap{
    min-height: 50px;
}
footer span{
    color: #898989;
    font: 12px 'Cabin';
}
