@font-face {
    font-family: 'LucidaGrande';
    src: url('/fonts/fontsquirel.com/24003_lucidagrande_1.woff2') format('woff2'), url('/fonts/fontsquirel.com/24003_lucidagrande_1.woff') format('woff');
    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: 'LucidaGrande';
    src: url('/fonts/fontsquirel.com/911fonts.com_lucidagrandebold__-_911fonts.com-fonts-3l6h.woff2') format('woff2'), url('/fonts/fontsquirel.com/911fonts.com_lucidagrandebold__-_911fonts.com-fonts-3l6h.woff') format('woff');
    font-weight:700;
    font-style: normal;
}