body, body *{
    font-size: 12px;
    font-family: Roboto;
    color: #333;
}

/*LINKS*/
.links-nav a{
    border: 1px solid transparent;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 0px 5px;
    min-width: 96rem;
    height: 30px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 15px;
    margin: 2px 0px 2px 14px;
    letter-spacing: -0.00em;
    transition: all .2s ease;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    border-color: #5db442;
    color: #5db442;
    font-size: 12px;
    font-weight: 400;
}
.links-social a{
    margin: 8px 8px 0px 0px;
}
.links-community{
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.links-community > div{
    margin: 5px; 
    width: 30%;
}
.links-community a:active, .links-community a:hover, .links-community a:focus, .links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.links-community > div > a:last-child{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    background-color: white;
    border: 1px solid #5db442;
    border-radius: 50%;
    margin-bottom: 12rem;
}
.links-community a:last-child.active, .links-community a:last-child:active, .links-community a:last-child:hover, .links-community a:last-child:focus,
.links-community a.active + a, .links-community a:active + a, .links-community a:hover + a, .links-community a:focus + a{
    background: #5db442;
}
.links-community a:last-child.active > .icon-check, .links-community a.active + a > .icon-check,
.links-community a:last-child:active > .icon-check, .links-community a:active + a > .icon-check,
.links-community a:last-child:hover > .icon-check, .links-community a:hover + a > .icon-check,
.links-community a:last-child:focus > .icon-check, .links-community a:focus + a > .icon-check{background: url('/images/icons/check-hover.png');}
.links-community a:last-child.active > .icon-edition, .links-community a.active + a > .icon-edition,
.links-community a:last-child:active > .icon-edition, .links-community a:active + a > .icon-edition,
.links-community a:last-child:hover > .icon-edition, .links-community a:hover + a > .icon-edition,
.links-community a:last-child:focus > .icon-edition, .links-community a:focus + a > .icon-edition{background: url('/images/icons/edition-hover.png');}
.links-community a:last-child.active > .icon-signup, .links-community a.active + a > .icon-signup,
.links-community a:last-child:active > .icon-signup, .links-community a:active + a > .icon-signup,
.links-community a:last-child:hover > .icon-signup, .links-community a:hover + a > .icon-signup,
.links-community a:last-child:focus > .icon-signup, .links-community a:focus + a > .icon-signup{background: url('/images/icons/signup-hover.png');}
.links-default a{
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 15rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
}

/*BUTTONS*/
.btn-default{
    min-width: 125rem;
    height: 34px;
    background: white;
    border: 1px solid #ececec;
    text-transform: uppercase;
    padding: 0px 15px;
    border-radius: 17px;
    font-size: 10px;
    letter-spacing: 0.05em;
}
.btn-default.active, .btn-default:active, .btn-default:hover, .btn-default:focus{
    background: #5db442;
    color: white;
}
.btn-use{
    padding: 0px 9px;
    min-width: 81rem;
    border-radius: 0px 18px 18px 0px;
    color: white;
    height: 36px;
    background: #37804e;
    font-size: 14px;
    font-weight: 300;
}
.btn-email{
    width: 57rem;
    min-width: 20px;
    height: 45px;
    background: #5db442 url(/images/icons/arrow.png)no-repeat center center;
}

/*LABELS*/
.lbl-default{
    width: 20px;
    height: 20px;
    background: #4ca368;
    color: white;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 10px;
}
.lbl-price{
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid #5db442;
    flex-direction: column;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px #ececec;
    margin-bottom: 34rem;
}
.lbl-price strong{
    font-size: 23px;
    font-weight: 500;
    color: #333;
    display: inline-block;
}
.lbl-price em{
    color: #777;
    font-size: 10px;
    font-weight: 300;
}

/*FORMS*/
input[class^="email-"]{
    outline: none;
}
.email-header{
    min-width: 211rem;
    height: 36px;
    border: 2px solid #37804e;
    border-right: none;
    border-radius: 18px 0px 0px 18px;
    padding: 0px 20px;
    letter-spacing: -0.005em;
}
.email-footer{
    min-width: 273rem;
    height: 45px;
    border: none;
    padding: 0px 10rem;
}
.email-header::-webkit-input-placeholder { color: #ccc; }
.email-header::-moz-placeholder { color: #ccc; }
.email-header:-ms-input-placeholder { color: #ccc; }
.email-footer::-webkit-input-placeholder { color: #dedede; font-style: italic; font-weight: 100; }
.email-footer::-moz-placeholder { color: #dedede; font-style: italic; font-weight: 100; }
.email-footer:-ms-input-placeholder { color: #dedede; font-style: italic; font-weight: 100; }

/*LISTS*/
.list-default li{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    list-style-position: inside;
}
.list-price{
    padding: 0px 0px 15rem 17px;
}
.list-price li{
    color: #777;
    font-weight: 500;
    margin-bottom: 16rem;
    text-align: center;
    letter-spacing: 0.05em;
}
.list-price li.confirmed{
    list-style-image: url(/images/icons/yes.png);
}
.list-price li.unconfirmed{
    list-style-image: url(/images/icons/no.png);
}

/*OTHER*/
.hdr{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 24px 0px 25px 0px;
    background: linear-gradient(#ccc, #ccc) center top / 73px 2px no-repeat;
    text-align: center;
    width: 100%;
    letter-spacing: 0.05em;
}
.hdr.alt{
    font-size: 16px;
    font-weight: 400;
    padding: 19rem 0px 28rem 0px;
    letter-spacing: 0em;
    background: linear-gradient(#ececec, #ececec) center top / 70px 2px no-repeat;
}
*:hover > .hdr{
    background: linear-gradient(#5db442, #5db442) center top / 73px 2px no-repeat;
}
*:hover > .hdr.alt{
    color: white;
    background: linear-gradient(white, white) center top / 70px 2px no-repeat;
}
