body *{
    font-size: 15px;
    font-family: Open Sans;    
}

/*LINKS*/
.links-nav{
    padding-right: 5rem;
}
.links-nav a{
    color: white;
    font-size: 20px;
    margin-left: 53rem;
}
.links-default a{
    margin-top: 8rem;
    color: #606060;
    display: inline-block;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus,
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.links-social a{
    line-height: 1px;
    margin: 7px 0px 7px 33.5rem;
}
.links-follow a{
    width: 44px;
    height: 44px;
    background: #47a0ff;
    margin: 0px 11rem 11rem 0px;
    border-radius: 50%;
}

/*LISTS*/
.list-info *{
    color: white;
    font-size: 13px;
}
.list-info > li{
    margin-right: 48rem;
}
.list-info > li > i[class^=icon-]{
    margin-right: 12rem;
}
.list-info a:active, .list-info a:hover, .list-info a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
button > .btn{
    width: 100%;
}
.btn-default, .btn-find{
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 14px;
}
.btn-default{    
    background: #006fe6;
    border-radius: 5px;
    padding: 0px 10rem;
}
.btn-default.md, .btn-default.sm{
    font-size: 14px;
}
.btn-default.lg{
    min-width: 199rem;
    height: 55px;
}
.btn-default.md{
    height: 45px;
}
.btn-default.sm{
    height: 43px; 
    min-width: 154rem;
}
.btn-find{
    width: 156rem;
    height: 156rem;
    min-width: 80px;
    min-height: 80px;
    background: #47a0ff;
    border-radius: 50%;
    padding: 10px;
}

/*LABELS*/
.lbl-price{
    min-width: 169rem;
    height: 56px;
    background: #47a0ff;        
    justify-content: space-around;
    padding: 0 8rem;
}
.lbl-price > *{
    padding: 18rem 5rem 5rem;
}
.lbl-price *{
    color: white;
    font-family: BigNoodleTitling;
    letter-spacing: 0.05em;
}
.lbl-price big{
    font-size: 37px;
}
.lbl-price small{
    font-size: 30px;
    text-indent: 8rem;
}
.lbl-price span{
    font-size: inherit;
    background: linear-gradient(white, white) center 13px / 100% 1px no-repeat;
}

/*FORMS*/
.input-default, .select-default{
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;    
    font-size: 16px;
    padding: 0px 20rem;
}
.input-default{    
    color: black;
}
.input-default::-webkit-input-placeholder { color: #606060; }
.input-default::-moz-placeholder { color: #606060; }
.input-default:-ms-input-placeholder { color: #606060; }
.input-default:focus::-webkit-input-placeholder { color: transparent; }
.input-default:focus::-moz-placeholder { color: transparent; }
.input-default:focus:-ms-input-placeholder { color: transparent; }
.input-default.sm{
    font-size: 13px;
    padding: 0px 18rem;
}
.input-search{
    background: none;
    border: none;
    color: white;
}
.select-default::-ms-expand{display: none;}
.select-default {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #606060;
}
.select-default option:first-child {
    color: black;
    font-weight: 700;
}