.btn-default{
    font: 700 12px "GothamRounded";
    color: #fff;
    text-transform: uppercase;
    min-width: 166px;
    min-height: 49px;
    background-color: #16a085;
    border-radius: 3px;
    padding: 2px 5px;
}
.btn-download{
    width: 300px;
    height: 56px;
    background-color: #1abc9c;
    padding: 0px 0px 0px 20px;
    font: 700 16px "GothamRounded";
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    justify-content: space-between;
}
.btn-download .lbl{
    content:"";
    width: 56px;
    height: 56px;
    border-radius: 0px 3px 3px 0px;
    background-color: #16a085;
}
.links-nav{
    align-items: center;
}
.links-social{
    align-items: center;
}
.links-social a{
    margin: 0px 5px 5px 5px;
}
.links-nav a{
    font: 700 16px "GothamRounded";
    color: #fff;
    text-transform: uppercase;
    margin: 5px 20px 5px 20px;
}
.links-footer a{
    text-transform: uppercase;
    color: #373737;
    font: 700 14px "GothamRounded";
    margin: 3px 3px 3px 3px;
}
.links-footer{
    align-items: center;
    color: #16a085;
    font: 700 14px "GothamRounded";
}
.btn-check{
    width: 63px;
    height: 60px;
    background-color: #16a085;
    border-radius: 0px 3px 3px 0px;
}
input[type="email"]{
    width: 280px;
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase;
    color: #373737;
    font-family: "GothamRounded";
    font-size: 16px;
    font-weight: 500;
}
input[type="email"]::-webkit-input-placeholder{
    text-transform: uppercase;
    color: #373737;
    font-family: "GothamRounded";
    font-size: 16px;
    font-weight: 500;
}
input[type="email"]::-moz-placeholder{
    text-transform: uppercase;
    color: #373737;
    font-family: "GothamRounded";
    font-size: 16px;
    font-weight: 500;
}
input[type="email"]:-ms-input-placeholder{
    text-transform: uppercase;
    color: #373737;
    font-family: "GothamRounded";
    font-size: 16px;
    font-weight: 500;
}

