.icon-next7:hover {background: url('/images/icons/next7-hover.png');}
.icon-next8:hover {background: url('/images/icons/next8-hover.png');}
.icon-prev7:hover {background: url('/images/icons/prev7-hover.png');}
.icon-prev8:hover {background: url('/images/icons/prev8-hover.png');}