.icon-arrow {width: 8px; height: 8px; background: url('/images/icons/arrow.png');}
.icon-arrow2 {width: 8px; height: 8px; background: url('/images/icons/arrow2.png');}
.icon-fb {width: 28px; height: 28px; background: url('/images/icons/fb.png');}
.icon-gp {width: 28px; height: 28px; background: url('/images/icons/gp.png');}
.icon-in {width: 28px; height: 28px; background: url('/images/icons/in.png');}
.icon-logo-footer {width: 48px; height: 48px; background: url('/images/icons/logo-footer.png');}
.icon-logo {width: 48px; height: 48px; background: url('/images/icons/logo.png');}
.icon-mail {width: 28px; height: 28px; background: url('/images/icons/mail.png');}
.icon-tw {width: 28px; height: 28px; background: url('/images/icons/tw.png');}
.icon-yt {width: 28px; height: 28px; background: url('/images/icons/yt.png');}