@import url('https://fonts.googleapis.com/css?family=Martel:400,700|Rubik:400,500&subset=cyrillic,devanagari,hebrew,latin-ext');

/* ICONS */
.icon-barbecue {width: 21px; height: 20px; background: url('/images/icons/barbecue.png');}
.icon-burger {width: 25px; height: 19px; background: url('/images/icons/burger.png');}