@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic);

/* ICONS */
.icon-appstore {width: 139px; height: 46px; background: url('/images/icons/appstore.png');}
.icon-arrow {width: 8px; height: 13px; background: url('/images/icons/arrow.png');}
.icon-check {width: 42px; height: 33px; background: url('/images/icons/check.png');}
.icon-currency {width: 73px; height: 81px; background: url('/images/icons/currency.png');}
.icon-dryer {width: 73px; height: 81px; background: url('/images/icons/dryer.png');}
.icon-fb {width: 15px; height: 19px; background: url('/images/icons/fb.png');}
.icon-fl {width: 15px; height: 19px; background: url('/images/icons/fl.png');}
.icon-gp {width: 135px; height: 46px; background: url('/images/icons/gp.png');}
.icon-heart {width: 41px; height: 36px; background: url('/images/icons/heart.png');}
.icon-scissors {width: 73px; height: 81px; background: url('/images/icons/scissors.png');}
.icon-tw {width: 15px; height: 19px; background: url('/images/icons/tw.png');}