.icon-facebook {width: 18px; height: 18px; background: url('/images/icons/facebook.png');}
.icon-linkedin {width: 18px; height: 18px; background: url('/images/icons/linkedin.png');}
.icon-next {width: 16px; height: 21px; background: url('/images/icons/next.png');}
.icon-prev {width: 16px; height: 21px; background: url('/images/icons/prev.png');}
.icon-skype {width: 18px; height: 18px; background: url('/images/icons/skype.png');}
.icon-twitter {width: 18px; height: 18px; background: url('/images/icons/twitter.png');}
.icon-youtube {width: 18px; height: 18px; background: url('/images/icons/youtube.png');}