.icon-fb {width: 28px; height: 30px; background: url('/images/icons/fb.png');}
.icon-fl {width: 28px; height: 30px; background: url('/images/icons/fl.png');}
.icon-mail {width: 16px; height: 12px; background: url('/images/icons/mail.png');}
.icon-overlay {width: 39px; height: 39px; background: url('/images/icons/overlay.png');}
.icon-rss {width: 12px; height: 12px; background: url('/images/icons/rss.png');}
.icon-support {width: 28px; height: 30px; background: url('/images/icons/support.png');}
.icon-sv {width: 28px; height: 30px; background: url('/images/icons/sv.png');}
.icon-tw {width: 28px; height: 30px; background: url('/images/icons/tw.png');}
.icon-user {width: 13px; height: 13px; background: url('/images/icons/user.png');}