.icon-fill {width: 9px; height: 13px; background: url('/images/icons/fill.png');}
.icon-mail {width: 12px; height: 8px; background: url('/images/icons/mail.png');}
.icon-phone {width: 10px; height: 11px; background: url('/images/icons/phone.png');}
.icon-tw {width: 13px; height: 10px; background: url('/images/icons/tw.png');}