.icon-glass {width: 41px; height: 38px; background: url('/images/icons/glass.png');}
.icon-message {width: 46px; height: 41px; background: url('/images/icons/message.png');}
.icon-quotes {width: 17px; height: 9px; background: url('/images/icons/quotes.png');}
.icon-star {width: 41px; height: 39px; background: url('/images/icons/star.png');}