/*COMMON*/
figure img, a > img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
p{
    color: #8c8c8c;
    font-family: Anaheim;
    padding-bottom: 21rem;
    line-height: 21px;
    max-width: 619px;
}
h2{
    color: #3e3e3e;
    font-family: Strait;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

/*HEADER*/
header{
    padding: 32rem 0px 28rem 0px;
}
.title{
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
    padding: 31rem 0px 29rem 2rem;
    margin-bottom: 30rem;
}
.title hgroup h1, .title hgroup h3{
    font-weight: 400;
    text-transform: uppercase;
}
.title hgroup h1{
    color: #3e3e3e;
    font-family: Strait;
    font-size: 28px;
    margin-right: 13rem;
}
.title hgroup h3{
    color: #959494;
    font-family: Anaheim;
    font-size: 21px;
    line-height: 23px;
}

/*CONTENT*/
.content{
    padding-top: 4rem;
    width: 76.7%;
}
.content .info + div{
    width: 100%;
}
.hdr{
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(0,0,0,.3);
    padding: 9rem 0px;
    margin-bottom: 14rem;
    font-family: Anaheim;
    font-size: 12px;
    color: #8c8c8c;
    text-transform: uppercase;
}
.hdr a{
    color: #3e3e3e;
}
.hdr a:active, .hdr a:hover, .hdr a:focus{
    text-decoration: underline;
}
.info{
    margin: 0px 20rem 10px 0px;
}
.info .btn-default{
    margin-top: 14rem;
}
.about figure{
    float: left;
    margin: 5rem 22rem 0px 0px;
}
.post, .about{
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.post{    
    padding-bottom: 6rem;
    margin-bottom: 29rem;
}
.post h2{
    margin-bottom: 16rem;
}
.post figure{
    margin-bottom: 24rem;
}
.about{
    padding-bottom: 36rem;
    margin-bottom: 30rem;
}
.about h2{
    margin-bottom: 12rem;
}
.comments h2{
    margin-bottom: 31rem;
}
.comments figure{
    margin: 0px 22rem 0px 1rem;
    flex-shrink: 0;
}
.comments article time{
    color: #8c8c8c;
}
.comments article a{
    color: #3e3e3e;
}
.comments article a:active, .comments article a:hover, .comments article a:focus{
    text-decoration: underline;
}
.comments p{
    padding: 4rem 0px 29rem 0px;
}
.comments article:last-child p{
    padding: 4rem 0px 24rem 0px;
}
.form h2{
    margin-bottom: 30rem;
}
.form{
    margin-bottom: 36rem;
}

/*SIDEBAR*/
.sidebar{
    width: 23.3%;
    flex-shrink: 0;
    margin-left: 21rem;
}
.sidebar h2{
    margin-bottom: 3rem;
}
.sidebar > *{
    margin-bottom: 31rem;
}
.posts .links-default li{
    padding: 8rem 0px 5rem 10rem;
}
.posts .links-default p{
    padding: 0px;
}
.posts .links-default p a{
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0.028em;
}
.sidebar form{
    padding: 4rem 1rem 0px 0px;
}

/*FOOTER*/
footer{
    color: #8c8c8c;
    background: #3e3e3e;
}
footer .lwrap{
    padding: 31rem 10px 0px 10px;
}
footer a, footer time{
    color: #e8e8e8;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer section h5{
    color: #dbdbdb;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 17rem;
    text-transform: uppercase;
}
footer section{
    width: 23.4%;
    margin-bottom: 13rem;
}
.flickr{
    margin: 0px -3px;
}
.flickr a{
    min-width: 50px;
    max-width: 80px;
    width: 26.2%;
    margin: -4rem 3px 29rem 3px;
    display: block;
}
.copyright{
    font-family: Anaheim;
    width: 100%;
    padding: 23rem 31rem 21rem 21rem;
    background: #252525;
    margin: 0px;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    footer section, .sidebar > *{width:48%;}
    .sidebar > *{order:1;}
    .sidebar > .posts, .sidebar > form{width: 100%;order:0;}
}