@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ICONS */
.icon-brazil {width: 16px; height: 11px; background: url('/images/icons/brazil.png');}
.icon-cash {width: 19px; height: 14px; background: url('/images/icons/cash.png');}
.icon-error {width: 24px; height: 24px; background: url('/images/icons/error.png');}
.icon-germany {width: 16px; height: 11px; background: url('/images/icons/germany.png');}
.icon-hk {width: 18px; height: 17px; background: url('/images/icons/hk.png');}
.icon-italia {width: 16px; height: 11px; background: url('/images/icons/italia.png');}
.icon-remove-small-white {width: 9px; height: 9px; background: url('/images/icons/remove-small-white.png');}
.icon-remove-small {width: 9px; height: 9px; background: url('/images/icons/remove-small.png');}
.icon-russia {width: 16px; height: 11px; background: url('/images/icons/russia.png');}
.icon-spain {width: 16px; height: 11px; background: url('/images/icons/spain.png');}
.icon-usa {width: 16px; height: 11px; background: url('/images/icons/usa.png');}