@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400i|Montserrat:400,700|Roboto+Slab');

/* ICONS */
.icon-basket {width: 40px; height: 39px; background: url('/images/icons/basket.png');}
.icon-laptop {width: 41px; height: 35px; background: url('/images/icons/laptop.png');}
.icon-lock {width: 29px; height: 38px; background: url('/images/icons/lock.png');}
.icon-fb {width: 11px; height: 19px; background: url('/images/icons/fb.png');}
.icon-gp {width: 17px; height: 17px; background: url('/images/icons/gp.png');}
.icon-pt {width: 16px; height: 21px; background: url('/images/icons/pt.png');}
.icon-tw {width: 20px; height: 16px; background: url('/images/icons/tw.png');}