.lwrap{
    max-width: 1020px;
    padding: 0px 10px;
}
body > div{
    flex-shrink: 0;
    flex-grow: 1;
}
p{
    color: #010101;
    line-height: 18px;
    letter-spacing: 0.01em;
}
figure > img, a > img{
    width: 100%;
    height: 100%;
    display: block;   
}

/*HEADER*/
.header{
    background: linear-gradient(transparent 0%, transparent calc(100% - 3px), #d6631d calc(100% - 3px), #d6631d 100%), linear-gradient(#363636, #131313);
}
.search-wrap{
    padding: 9rem 9rem 22rem 0px;
}
.topbar{
    margin-right: -2rem;
}
.topbar .links-topbar{
    margin: 0px -16px 0px 7rem;
    position: relative;
}
.topbar time{
    color: #ccc;
    font-size: 11px;
    text-transform: uppercase;
    text-align: right;
}
.login{
    text-transform: uppercase;
    padding: 4rem 13rem 3rem 22px;    
    background: linear-gradient(90deg, dimgrey, dimgrey calc(100% - 15rem), transparent calc(100% - 14rem)),
        linear-gradient(112deg, dimgrey 49%, transparent 51%) right top / 15rem 100% no-repeat;
    border-radius: 0px 0px 20px 0px;
}
#logo{
    margin: 0px 5px 4px 4rem;
}
.topbar{
    font-size: 11px;
}
.login span{
    color: #ccc;
    letter-spacing: -0.05em;
}
.login > div{
    margin-left: 28rem;
}
.log, .login .log span{
    color: white;
    letter-spacing: -0.06em;
    text-align: center;
}
.log i{
    margin: -1rem 6rem 1rem 1rem;
}
.log + span{
    width: 1px;
    height: 22px;
    flex-shrink: 0;
    background: linear-gradient(transparent, #3c3c3c, transparent)
}
.join{
    color: #70c7f4;
    margin: 5rem;
    letter-spacing: -0.06em;
    font-weight: 700;
    text-align: center;
}
.links-navsub .lwrap{
    max-width: 1016px;
}

/*CONTENT*/
.content > section:first-child{
    width: 30.9%;
}
.content > section{
    width: 33.9%;
    margin-bottom: 9px;
}
.content > section:last-child{
    width: 30.9%;
    margin: 0px -1rem 9px 6rem;
}
.content article{
    padding: 8rem 0px 10rem 0px;
    border-bottom: 1px dotted rgba(0,0,0,.33);
}
.content article:last-of-type{
    margin-bottom: 10rem;
}
.content article ~ .links-default li{
    margin-bottom: 0px;
}
.content article ~ .links-default a{
    display: inline-block;
    line-height: 16px;
}
.content article h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6rem;
}
.content article h6{
    color: #333;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10rem;
    letter-spacing: 0.02em;
}
.content article h6 i{
    margin: -2rem 0px -1rem 6rem;
}
.content article time{
    font-size: 12px;
    color: #666666;
}
.price {
    color: #fe7801;
    font-size: 13px;
}
.content .links-default a{
    color: #369;
}
.slider {
    position: relative;
    max-width: 460px; 
    overflow: hidden;
    margin: 1rem 1rem 6rem 0px;
}
.slider > input[type=radio] {
    display: none;
}
.slider > .slides > figure:first-child {
    visibility: hidden;
}
.slider > .slides > figure > figcaption{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgba(0,0,0,.58);
    padding: 9rem 15rem 7rem 15rem;
    letter-spacing: -0.005em;
    color: white;
    font-weight: 700;
}
.slider > .slides > figure:not(:first-child) {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;  
    transition: opacity 2000ms ease;
}
.slider > #slide-0:checked ~ .slides > .num0,
.slider > #slide-1:checked ~ .slides > .num1,
.slider > #slide-2:checked ~ .slides > .num2,
.slider > #slide-3:checked ~ .slides > .num3 {
    opacity: 1;
    z-index: 2;
}
@keyframes fade-in {
    0%, 37.5%, 100% { opacity: 0; z-index: 2; }
    12.5%, 25% { opacity: 1; z-index: 2; }
}
.slider > #play:checked ~ .slides > .num0 {
    animation: fade-in 16000ms infinite -2000ms;	
}
.slider > #play:checked ~ .slides > .num1 {
    animation: fade-in 16000ms infinite 2000ms;	
}
.slider > #play:checked ~ .slides > .num2 {
    animation: fade-in 16000ms infinite 6000ms;	
}
.slider > #play:checked ~ .slides > .num3 {
    animation: fade-in 16000ms infinite 10000ms;	
}
.slider > .bullets{
    padding: 1rem 1rem 4rem 1rem;
    border-radius: 0px 0px 8px 8px;
    background: #39393b linear-gradient(rgba(255, 255, 255, 0.16), rgba(0, 0, 0, 0.16));
}
.slider > .bullets > label {
    position: relative;
    margin: 2.5px;
    height: 14px;
    width: 14px;
    background: transparent;
    transition: all 0.3s;
    background: white linear-gradient(rgba(255, 255, 255, 0.16), rgba(0, 0, 0, 0.16));
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
    color: black;
}
.slider > .bullets > label:hover,
.slider > #slide-0:checked ~ .bullets > .num0,
.slider > #slide-1:checked ~ .bullets > .num1,
.slider > #slide-2:checked ~ .bullets > .num2,
.slider > #slide-3:checked ~ .bullets > .num3 {
    background: #ff9600 linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));
    color: white;
}
@keyframes bullet {
    0%, 24.99%  { background: #ff9600 linear-gradient(rgba(255, 255, 255, 0.04), rgba(0, 0, 0, 0.04));color: white; }
    25%, 100% { background: white linear-gradient(rgba(255, 255, 255, 0.16), rgba(0, 0, 0, 0.16));color: black; }
}
.slider > #play:checked ~ .bullets > .num0 {
    animation: bullet 14400ms infinite -1900ms;
}
.slider > #play:checked ~ .bullets > .num1 {
    animation: bullet 14400ms infinite 1700ms;
}
.slider > #play:checked ~ .bullets > .num2 {
    animation: bullet 14400ms infinite 5300ms;
}
.slider > #play:checked ~ .bullets > .num3 {
    animation: bullet 14400ms infinite 8900ms;
}

/*FEATURES*/
.features{
    padding: 12rem 25rem 0rem 15rem;
    margin-bottom: 14rem;
    background: linear-gradient(#dedede, #f2f2f2 18rem, #f3f3f3, #f2f2f2 calc(100% - 20rem), #dedede);
}
.features h2{
    color: #333;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 14rem;
}
.features figure{
    width: 18.25%;
    margin-bottom: 6px;    
}
.features figure img{
    height: auto;
}
.features figure figcaption{
    padding: 6rem 1rem 1rem 1rem;
    font-size: 11px;
}
.features figure figcaption span{
    color: #333;
    text-transform: uppercase;
}
.features figure figcaption a{
    line-height: 16px;
}

/*TOPICS*/
.columns{
    padding-left: 15px;
}
.columns > div:first-child{
    width: 41.2%;
}
.columns > div{
    width: 20.3%;
    margin-bottom: 11px;
}
.columns > div:last-child{
    width: 31.4%;
    margin: 0px -2rem 11px 10rem;
}
.topic:last-of-type{
    margin-bottom: 1rem;
}
.topic article figure {
    float: left;
    margin-right: 17rem;
}
.topic article h4{
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    margin: 1rem 0px 5rem 0px;
}
.topic article h4 a{
    color: #114a84;
}
.topic article{
    padding: 7rem 0px 21rem 0px;
}
.topic article p time{
    text-transform: uppercase;
    color: #666666;
    font-size: 11px;
}
.topic article ~ .links-default{
    padding-left: 2rem;
}
.topic article ~ .links-default li{
    margin-bottom: 6rem;
    padding-left: 8px;
}
.topic article ~ .links-default li a{
    font-size: 12px;
}
.topic article ~ .links-podcasts {
    margin: -5rem 0px 0px -2rem;
}
.info-box{
    border-radius: 10px;
    border: 1px solid #c1c1c1;
}
.panel{
    padding: 9rem 14rem 12rem 9rem;
}
.panel .links-default.marker{
    padding-left: 9rem;
}
.topic .links-asks a:last-child{
    margin-bottom: 2rem;
}
.topic .tabs.default .tab-ftr{
    padding: 6rem 17rem 7rem 17rem;
}
.topic .membership{
    margin: 7rem 0px 0px 2rem;
    padding: 8rem 14rem 8rem 13rem;
}
.topic .membership big{
    margin: 1rem 5px 0px 0px;
    font-size: 16px;
}
.video-wrap{
    padding-top: 49.5%;
}
.media-box{
    background: #f1f1f1;
    margin-top: 18rem;
}
.media-box .details{
    padding: 8rem 5rem 9rem 10rem;
}
.media-box article + .details{
    padding: 10rem 5rem 13rem 10rem;
}
.media-box a{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.015em;
}
.media-box article{
    background: linear-gradient(transparent, #c3c3c3, transparent) 6rem bottom / calc(100% - 13rem) 1px no-repeat;
    padding: 9rem 9rem 11rem 14rem;
}
.media-box article i{
    float: left;
    margin: 19rem 17rem 0rem 0px;
}
.media-box article p{
    color: #333;
    font-size: 11px;
}
.membership{
    margin: 0px 0px 7rem 2rem;
    padding: 12rem 14rem 10rem 12rem;
    background: #9fceec;
}
.membership > div{
    max-width: 220px;
}
.membership big{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 9rem;
    display: inline-block;
}
.membership p{
    line-height: 14px;
    color: black;
    margin-left: 2rem;
}
.membership big span{
    color: white;
}
.membership .btn-default.alt{
    margin-top: 4rem;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    font-size: 11px;
}
.footer{
    color: #999;
    background: #333 linear-gradient(rgba(255, 255, 255, 0.17), rgba(0, 0, 0, 0.17));
}
.footer .lwrap{
    padding: 22rem 10px 0rem 87rem;
    max-width: 1140px;
}
.footer h6{
    color: #f1f1f1;
    margin-bottom: 7rem;
    font-size: 12px;
    letter-spacing: -0.005em;
}
.footer .links-footer:last-of-type{
    padding-bottom: 13rem;
}
.contacts{
    max-width: 311px;    
}
.contacts > div{
    width: 47.8%;
}
.contacts h6{
    width: 100%;
    margin: 1rem 0px -1rem 0px;
}
.contacts address{
    font-style: normal;
    line-height: 18px;
    padding: 3rem 0px 15rem 0px;
}
.contacts a{
    color: #f17f02;
    margin-bottom: 18rem;
}
.contacts span, .contacts a{
    display: inline-block;
    line-height: 18px;
    letter-spacing: -0.005em;
}
.copyright{
    max-width: 982px;
    padding: 10rem 10px 27rem 10px;
    line-height: 18px;
    letter-spacing: -0.002em;
}

/*MEDIA QUERIES*/
@media (max-width: 960px) {
    .footer .lwrap{padding: 10px;}
    .columns{padding-left: 0px;}
}
@media (max-width: 640px) {
    .links-navsup{overflow: hidden;width: 100%;order:2;margin-top: 2px;}
    .links-navsup a, .links-navsup a:first-child, .links-navsup a:last-child{flex-grow: 1;flex-basis: calc(100% / 3);border-radius: 0px;}
    .login { padding: 0rem 2px; background: dimgrey; border-radius: 0px;}
    .topbar .links-topbar { margin: 0px 0px 0px 2px; border-radius: 0px; padding: 0rem; background: linear-gradient(#565656, #444);}
    .features figure.hidden{display: none;}
    .features figure, .content > section:first-child{width: 49%;order: 0;}
    .content > section:last-child{width: 49%;order: 1;margin: 0px 0rem 9px 0px;}
    .content > section{width: 100%;order:2;}
    .columns > div:last-child, .columns > div {width: 49%;}
    .columns > div:first-child{width:100%;}    
    .form-search{width: 100%;}
}
@media (max-width: 480px) {
    .form-search button{flex-grow: 1;} 
    .topbar{order: 1;width: 49%;}
    .search-wrap{order: 0;width: 49%;}
}