/*COMMON*/
body{
    font-size: 14px;
    font-family: Open Sans;
}
i[class^='icon-']{
    flex-shrink: 0;
}

/*LINKS*/
.links-topnav a{
    height: 39px;
    color: white;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 0px 5px;
}
.links-topnav a i[class^='icon-']{
    margin-right: 3rem;
}
.links-topnav a.active .icon-account, .links-topnav a:active .icon-account, .links-topnav a:hover .icon-account, .links-topnav a:focus .icon-account{background: url('/images/icons/account-hover.png');}
.links-topnav a.active .icon-cart, .links-topnav a:active .icon-cart, .links-topnav a:hover .icon-cart, .links-topnav a:focus .icon-cart{background: url('/images/icons/cart-hover.png');}
.links-topnav a.active .icon-check, .links-topnav a:active .icon-check, .links-topnav a:hover .icon-check, .links-topnav a:focus .icon-check{background: url('/images/icons/check-hover.png');}
.links-topnav a.active .icon-home, .links-topnav a:active .icon-home, .links-topnav a:hover .icon-home, .links-topnav a:focus .icon-home{background: url('/images/icons/home-hover.png');}
.links-topnav a.active, .links-topnav a:active, .links-topnav a:hover, .links-topnav a:focus{
    background: linear-gradient(white, white 36px, #d9d9d9 36px);
    color: #709b1d;
}
.links-menu a{
    text-transform: uppercase;
    color: #709b1d;
    height: 28px;
    border-radius: 3px;
    padding: 0px 5px;
}
.links-menu a.active, .links-menu a:active, .links-menu a:hover, .links-menu a:focus{
    background: linear-gradient(0deg, #58800b 3px, #58800b 2px, #709b1d 2px);
    color: white;
}
.links-footer a{
    color: #444;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 0 5rem 15rem;
    background: linear-gradient(135deg, black 50%, transparent 50%) 0px 10px / 5px 5px no-repeat, linear-gradient(45deg, black 50%, transparent 50%) 0px 5px / 5px 5px no-repeat;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus{
    text-decoration: underline;
}
.links-payment a, .links-social a{
    line-height: 1px;
}
.links-payment a{
    margin: 0 5rem 5rem 0;
}
.links-social a{
    margin: 0 5rem 5rem 0;
}

/*LABELS*/
.lbl{
    text-align: center;
}
.lbl-counter{
    color: white;
    font-size: 10px;
    width: 22px;
    height: 22px;
    background: #709b1d;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 1, 0.32);
}
.lbl-time{
    width: 63px;
    height: 63px;
    background: linear-gradient(0deg, #58800b 3px, #58800b 2px, #709b1d 2px);
    border-radius: 3px;
    flex-direction: column;
    color: white;
}
.lbl-time strong{
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}
.lbl-time small{
    font-size: 12px;
    font-weight: 300;
}
.lbl-discount{
    width: 54px;
    height: 59px;
    border-radius: 0 3px 3px 0;
    background: #709b1d;
    color: white;
    font-size: 16px;
}
.lbl-discount > span{
    transform: rotate(-45deg);
}
.lbl-price{
    flex-direction: column;
    width: 152px;
    height: 152px;
    background: #709b1d;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.lbl-price s{
    color: #cbcbcb;
}

/*BUTTONS*/
.btn-lg{
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    height: 41px;
    padding: 0 20rem;
    background: rgba(190,234,154,.27);
    box-shadow: 0px 4px 0 0 rgba(0,0,0,.27);
}
.btn-subscribe{
    min-width: 146rem;
    padding: 0 5px;
    height: 51px;
    background: rgba(255, 255, 255, 0.66);
    border: 3px solid #557c08;
    border-radius: 5px;
    color: #557c08;
    font-size: 24px;
}
.btn-continue{
    min-width: 174rem;
    height: 31px;
    background: #acacac;
    border-radius: 2px;
    color: white;
    font-family: Ubuntu;
    font-size: 12px;
    padding: 0 5px;
    text-transform: capitalize;
}
.btn-continue i[class^=icon-]{
    margin-left: 5rem;
}
.btn-default{
    min-width: 76rem;
    height: 31px;
    padding: 0 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Ubuntu;
    font-size: 12px;
    background: linear-gradient(#d9d9d9, #c6c6c6);
    border-radius: 2px;
    text-transform: capitalize;
}
.btn-default:hover{
    background: linear-gradient(0deg, #58800b 3px, #58800b 2px, #709b1d 2px);
}

/*FORMS*/
.select-default::-ms-expand{display: none;}
.select-default {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-default, .wSelect-theme-classic.wSelect, .select2-container--default .select2-selection--single{
    background: linear-gradient(white, white 36px, #d9d9d9 36px);
    border-radius: 3px;
    color: #709b1d;
    border: none;
    padding: 0px 10px;
}
.wSelect-theme-classic.wSelect, .select2-container--default .select2-selection--single{
    min-width: 116rem;
    height: 39px;
}
.wSelect-theme-classic .wSelect-options-holder{
    min-width: 100%;
    height: auto;
}
.wSelect-theme-classic .wSelect-options{
    height: auto!important;
}
.wSelect-hover .wSelect-arrow, .wSelect-arrow {
    background: url(/images/icons/select-down.png)center no-repeat;
}
.wSelect-active .wSelect-arrow {
    background: url(/images/icons/select-up.png)center no-repeat;
}
.wSelect-theme-classic.wSelect{
    display: flex;
    align-items: center;
}
.wSelect-option-icon {
    padding-left: 20px;
}
.wSelect-selected {
    margin: 0;
    padding: 0 20px;
}
.wSelect-options {
    overflow-y: hidden;
}
.input-search{
    max-width: 247px;
    height: 29px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    color: black;
    padding: 0 20rem;
}
.input-search::-webkit-input-placeholder { color: #898888; }
.input-search::-moz-placeholder { color: #898888; }
.input-search:-ms-input-placeholder { color: #898888; }
.input-subscribe{
    font-size: 18px;
    color: black;
    max-width: 456px;
    padding: 0 15rem;
    height: 51px;
    background: rgba(255, 255, 255, 0.66);
    border: 3px solid #557c08;
    border-radius: 5px;
}
.input-subscribe::-webkit-input-placeholder { color: #64891e; font-weight: 300; }
.input-subscribe::-moz-placeholder { color: #64891e; font-weight: 300; }
.input-subscribe:-ms-input-placeholder { color: #64891e; font-weight: 300; }
