/*COMMON*/
body{
    background: url("/images/bg.png");
}
body > div{
    flex-shrink: 0;
    flex-grow: 1;
}
figure > img:only-of-type{
    display: block;
}
figure > img:only-of-type, a > img:only-of-type{
    width: 100%;
    height: 100%;
}
.lwrap{
    max-width: 960px;
    padding: 0 10px;
}
body > div > .lwrap{
    padding: 84rem 10px;
}
.lwrap > section + section{
    margin-top: 77rem;
}

/*HEADER*/
.topbar{
    background: #709b1d;
}
.header{
    background: white;
    margin-bottom: 2px;
}
.header > .lwrap{
    padding: 28.5rem 10px;
}
.login{
    color: #2b2b2b;
}
.login a{
    color: #709b1d;
    font-weight: 600;
    text-transform: uppercase;
}
.login a:active, .login a:hover, .login a:focus{
    text-decoration: underline;
}
.quick-start{
    padding: 0 30rem 0 26rem;
}
.quick-start .btn-quick{
    position: relative;    
}
.quick-start .btn-quick + .btn-quick{
    margin-left: 9rem;
}
.quick-start .btn-quick .lbl-counter{
    top: -14px;
    right: -7px;
    z-index: 1;
}
.quick-start .btn-quick > *:not(i){
    position: absolute;
}
.btn-quick > .dropdown{
    cursor: default;
}
.quick-start .dropdown{
    right: -30rem;
    padding-top: 10rem;
    top: 100%;
    z-index: 10;
    visibility: hidden;
}
.dropdown > div{
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top: 3px solid #709b1d;
    min-width: 290rem;
}
.dropdown b, .dropdown b + a{
    display: block;
    text-align: center;
}
.dropdown table:not(:last-of-type), .dropdown-ftr, .dropdown table:only-of-type{
    width: 90%;
}
.dropdown-ftr{
    padding: 10rem 0;
}
.dropdown figure{
    margin-right: 20rem;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
.dropdown h6{ 
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
.dropdown h6 a{
    color: #666666;
}
.dropdown h6 a:active, .dropdown h6 a:hover, .dropdown h6 a:focus{
    text-decoration: underline;
}
.dropdown dd, .dropdown b{
    color: #709b1d;
}
.dropdown b{
    font-weight: 400;
}
.dropdown tbody b{
    font-size: 16px;
}
.dropdown tfoot b{
    font-size: 21px;
}
.dropdown tfoot{
    font-size: 13px;
}
.dropdown tfoot td{
    padding: 0 10rem;
}
dl{
    list-style: none;
}
dd, dt{
    display: inline;
}
.nav{
    background: #f3f3f3;
}
.nav form{
    min-width: 247rem;
}
.nav form .input-search{
    flex-grow: 1;
}

/*SLIDER*/
.slider{
    margin-bottom: 1px;
    border-bottom: 1px solid #e8e8e8;
    background: url("/images/slider-bg.png") center / cover no-repeat;
}
.slider .btn-lg{
    margin-top: 20rem;
}
.slider > .lwrap{
    position: relative; 
    overflow: hidden;
    order: 1;
    margin-top: -6rem;
}
.slider > input[type=radio] {
    display: none;
}
.slider > ul > li:first-child {
    visibility: hidden;
}
.slider > ul > li:not(:first-child) {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 1900ms ease;
}
.slider > #slide16-0:checked ~ ul > .num0,
.slider > #slide16-1:checked ~ ul > .num1,
.slider > #slide16-2:checked ~ ul > .num2 {
    opacity: 1;
    z-index: 2;
}
@keyframes fade16 {
    0%, 50.925%, 100%  { opacity: 0; }
    17.592%, 33.333%  { opacity: 1; }
    0%, 33.332%  { z-index: 2; }
    33.334%, 100%  { z-index: 1; }
}
.slider > #play16:checked ~ ul > .num0 {
    animation: fade16 10800ms infinite -1900ms;
}
.slider > #play16:checked ~ ul > .num1 {
    animation: fade16 10800ms infinite 1700ms;
}
.slider > #play16:checked ~ ul > .num2 {
    animation: fade16 10800ms infinite 5300ms;
}
/*arrows template*/
.slider > .arrowprev,
.slider > .arrownext{
    position: relative;
    height: 43px;
    width: 28px;
}
.slider > .arrowprev  {
    order: 0;
    left: 8px;
    background: url(/images/icons/prev.png)center / cover no-repeat;    
}
.slider > .arrownext {
    order: 2;
    right: 8px;
    background: url(/images/icons/next.png)center / cover no-repeat; 
}
.slider > .arrowprev > label,
.slider > .arrownext > label{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*arrows moving*/
.slider > #slide16-0:checked ~ .arrowprev > .num2,
.slider > #slide16-0:checked ~ .arrownext > .num1, 
.slider > #slide16-1:checked ~ .arrowprev > .num0,
.slider > #slide16-1:checked ~ .arrownext > .num2 
.slider > #slide16-2:checked ~ .arrowprev > .num1,
.slider > #slide16-2:checked ~ .arrownext > .num0 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrow16 {
    0%, 33.323% { opacity: 1; z-index: 5; }
    33.333%, 100%  { opacity: 0; z-index: -1; }
}
.slider > #play16:checked ~ .arrowprev > .num2,
.slider > #play16:checked ~ .arrownext > .num1 {
    animation: arrow16 10800ms infinite -1900ms;
}
.slider > #play16:checked ~ .arrowprev > .num0,
.slider > #play16:checked ~ .arrownext > .num2 {
    animation: arrow16 10800ms infinite 1700ms;
}
.slider > #play16:checked ~ .arrowprev > .num1,
.slider > #play16:checked ~ .arrownext > .num0 {
    animation: arrow16 10800ms infinite 5300ms;
}
/*bullets template*/
.slider > .bullets {    
    width: 100%;
    order: 3;
    margin: -16px 0 -2px;
    position: relative;
    z-index: 100;
}
.slider > .bullets > label {
    width: 21px;
    height: 17px;
    background: #709b1d;
    border-radius: 3px 3px 0 0;
    margin: 0 2px;
}
/*bullets moving*/
.slider > #slide16-0:checked ~ .bullets > .num0,
.slider > #slide16-1:checked ~ .bullets > .num1,
.slider > #slide16-2:checked ~ .bullets > .num2 {
    background: #4b6e08; 
}
@keyframes bullet16 {
    0%, 33.323%  {background: #4b6e08; }
    33.333%, 100% {background: #709b1d;}
}
.slider > #play16:checked ~ .bullets > .num0 {
    animation: bullet16 10800ms infinite -1900ms;
}
.slider > #play16:checked ~ .bullets > .num1 {
    animation: bullet16 10800ms infinite 1700ms;
}
.slider > #play16:checked ~ .bullets > .num2 {
    animation: bullet16 10800ms infinite 5300ms;
}

/*INFOBAR*/
.infobar{
    background: #709b1d;
}

/*PRODUCTS*/
.product-item{
    padding: 3px 3px 0;
    background: #efefef;
    margin-bottom: 10px;
}
.product-item:hover, .product-item:hover .overlay{
    background: #709b1d;
}
.product-item figcaption{
    display: block;
    margin: auto;
    max-width: 270px;
    padding: 5rem;
    background-color: white;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    transform: translateY(-52%);
    color: #709b1d;
    font-size: 16px;
}
.product-item figure{
    text-align: center;
    position: relative;
}
.product-item figure .lbl{
    position: absolute;
    left: -2px;
    top: 12px;
}
.product-actions{
    position: relative;
    flex-grow: 1;
    text-align: center;
}
.product-actions .overlay{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    top: auto;
    visibility: hidden;
    padding: 10rem;
}
.product-actions .overlay .btn{
    margin: 1px;
}
.product-item:hover .overlay{
    visibility: visible;
}
.rating i{
    margin: 0 1px;
}
.rating{  
    margin: 0 auto;
    width: 100px;
    height: 18px;
}
.product-actions strong{
    font-size: 20px;
    font-weight: 700;    
    margin: -7rem 0 10rem;
}
.product-actions strong s, .product-actions strong span{
    color: dimgrey;
}
.product-actions strong s ~ span{
    color: #709b1d;
}

/*OFFER*/
.offer{
    background: white;
    border: 3px solid #efefef;
}
.offer figure{
    position: relative;
    width: 48%;
}
.offer figure .lbl-price{
    position: absolute;
    right: 0;
}
.offer article{
    width: 48%;
}
.offer h1{    
    font-size: 72rem;
}
.offer h2{
    color: #434343;
    font-size: 30px;
    margin-bottom: 23rem;
}
.offer h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 23rem;
}
.offer h2, .offer h1{
    text-transform: uppercase;
}
.offer h1, .offer h3{
    color: #709b1d;
}
.offer p{
    color: #484848;
    font-weight: 300;
    line-height: 21px;
}
#countdown .lbl-time{
    margin: 10rem;
}
#countdown{
    padding-top: 50rem;
}


/*SUBSCRIBE*/
.subscribe{
    background:url("/images/bg-alt.png"), url("/images/subscribe-bg.png") center / cover no-repeat;
}
.subscribe > .lwrap{
    padding: 40rem 0;
}
.subscribe hgroup *{
    text-align: center;
    font-weight: 400;
    color: white;
}
.subscribe h2{
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10rem;
}
.subscribe h6{
    font-size: 36px;
    font-size: 12px;
}
.subscribe .input-subscribe{
    flex-grow: 1;
}
.subscribe hgroup{
    margin-bottom: 20rem;
}
.subscribe form{
    padding: 12rem 0px;
}

/*BRANDS*/
.brands .lbl-default{
    margin-bottom: 20rem;
}
.brands li{
    background: white;
    border-radius: 3px;
    border: 1px solid #efefef;
    margin: 5px;
}

/*FOOTER*/
footer{
    background: #f1f1f1;
    flex-shrink: 0;
}
.footer{
    padding: 20rem 10px;
}
.footer > div{
    margin-top: 30rem;
    width: 22%;
}
.footer h4{
    color: #709b1d;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    margin-bottom: 10rem;
    min-height: 30px;
}
.access-bar{
    background: #e0e0e0;
}
.access-bar > .lwrap{
    padding: 3px 10px;
}
.access-bar .lbl-default{
    margin: 5px;
}
.copyright .lwrap{
    padding: 15rem 10px;
}
.copyright{
    background: #709b1d;
    color: #c5ec78;
    font-size: 16px;
    text-align: center;
}