body{
    color: #798285;
}
body > div{
    flex-shrink: 0;
    flex-grow: 1;
}
.lwrap{
    padding: 10px;
}
address{
    font-style: normal;
    line-height: 24px;
}
figure > img:only-of-type{
    display: block;
}
figure > img:only-of-type, a > img:only-of-type{
    width: 100%;
    height: 100%;
}
p{
    color: #acacac;
    line-height: 24px;
    letter-spacing: 0.018em;
    width: 100%;
}
hgroup{    
    text-align: center;
    margin: 0 auto;
    max-width: 882px;
}
hgroup h6{
    font-weight: 400;
    line-height: 24px;
    margin-top: 39rem;
    letter-spacing: 0.118em;
    width: 100%;
}
h4{
    color: black;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.016em;
    line-height: 25px;
    width: 100%;
}

/*HEADER*/
header{
    background: url("/images/headerbg.png")center / cover no-repeat;
    min-height: 1062rem;
}
.header{
    background: rgba(0,8,12,.1);
    width: 100%;
}
.header > .lwrap{
    max-width: 1264px;
    padding: 18rem 10px 6rem 10px;
}
#logo{
    margin-top: 155rem;
}

/*DISCOGRAPHY*/
.discography{
    background: url("/images/discographybg.png")center bottom / 100% auto repeat-x;
    min-height: 1843rem;
}
.discography > .lwrap{
    max-width: 1226px;
}
.discography hgroup{
    max-width: 730px;
    padding-top: 41rem;
    min-height: 352rem;
}
.discography hgroup h6{
    margin-top: 33rem;
}
.discography article{
    margin-bottom: 91rem;
    min-height: 228px;
}
.discography .title{
    width: 41.7%;
}
.discography h4{
    padding-left: 43.7%;
    line-height: 36px;
}
.discography article{
    width: 56.3%;
    padding-top: 9rem;
}
.discography article > div{
    width: 100%;
}
.discography .title{
    margin-top: -13rem;
}
.discography .btn-decor{
    margin-top: 15rem;
}
.discography .article-wrap > div:nth-child(3n + 1) .btn-decor{
    background: url("/images/btn1.png") center / cover no-repeat;
}
.discography .article-wrap > div:nth-child(3n + 2) .btn-decor{
    background: url("/images/btn2.png") center / cover no-repeat;
}
.discography .article-wrap > div:nth-child(3n + 3) .btn-decor{
    background: url("/images/btn3.png") center / cover no-repeat;
}

/*TOURS*/
.tours hgroup{
    min-height: 778rem;
    padding-top: 141rem;
    max-width: 882px;
}
.tours > .lwrap{
    max-width: 1228px;
}
.tours{
    background: url("/images/concertbg.png")center bottom / 100% auto repeat-x;
    min-height: 1418rem;
}
.tours h4{
    min-height: 44rem;
}
.tours article{
    max-width: 671px;
}
.tours article .title{
    min-height: 128rem;
    max-width: 394px;
}
.tours p{
    margin-bottom: 35rem;
}

/*COMPOSITIONS*/
.compositions > .lwrap{
    max-width: 1222px;
    padding-bottom: 104rem;
}
.compositions hgroup{
    padding-top: 138rem;
    min-height: 446px;
    max-width: 730px;
}
.song-wrap{
    background: #f5f6f6;
    margin-bottom: 54rem;
}
.song-wrap > *{
    width: 50%;
}
.song-wrap > article{
    padding: 15rem 60rem 22rem 35rem;
    position: relative;
}
.song-wrap > article:after{
    content: '';
    position: absolute;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    z-index: 1;
}
.song-wrap:nth-of-type(odd) > article:after{
    border-left: 12px solid #f5f6f6;
    left: 100%;
}
.song-wrap:nth-of-type(even) > article:after{
    border-right: 12px solid #f5f6f6;
    right: 100%;
}
.song-wrap p{
    margin-bottom: 26rem;
}
.song-wrap h4{
    margin-top: 10rem;
}
.song-wrap > figure{
    padding-top: 32.2%;
}
.song-wrap > article .title{
    max-width: 393px;
}
.song-wrap:nth-of-type(even){
    flex-direction: row-reverse;
}
.song-wrap .links-media{
    flex-grow: 1;
    padding: 4px;
}

/*SLIDER*/
.slider{
    background: url("/images/ocean.png")center / cover no-repeat;
    padding: 117rem 0px 67rem 0px;
}
.slider h2{
    color: white;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    min-height: 85rem;
    margin-top: 40rem;
    letter-spacing: 0.135em;
}
.slider p{
    color: #798285;
    max-width: 520px;
    margin: 0 auto;
}
.slider time{
    color: #565e61;
    min-height: 79rem;
    letter-spacing: 0.03em;
}
.slider article{
    min-height: 257rem;    
}
.slider > input[type=radio] {
    display: none;
}
.slider > ul{
    max-width: 1000px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.slider > ul > li{   
    padding: 0px 10px;
    padding-top: 44rem;
}
.slider > ul > li:first-child {
    visibility: hidden;
}
.slider > ul > li:not(:first-child) {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 1000ms;
}
.slider > ul > .num0 {
    left: 0%;
}
.slider > ul > .num1 {
    left: 100%;
}
.slider > ul > .num2 {
    left: 200%;
}
.slider > #slide-0:checked ~ ul > li{
    transform: translateX(0%);
}
.slider > #slide-1:checked ~ ul > li{
    transform: translateX(-100%);
}
.slider > #slide-2:checked ~ ul > li{
    transform: translateX(-200%);
}
@keyframes slide {
    0%, 25.203% { transform: translateX(0%); }
    33.333%, 58.536% { transform: translateX(-100%); }
    66.666%, 91.869% { transform: translateX(-200%); }	
}
@keyframes slide-ie {
    0%, 25.203%  { margin-left: 0%; }
    33.333%, 58.536%  { margin-left: -100%; }
    66.666%, 91.869%  { margin-left: -200%; }  
}
.slider > #play:checked ~ ul > li:not(:first-child) {
    /*    animation: slide 12300ms infinite;	*/
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slider  > #play:checked ~ ul > li:not(:first-child) {
        animation: slide-ie 12300ms infinite;
    }
}
.slider > .arrowprev,
.slider > .arrownext {
    position: relative;
    height: 124rem;
    width: 124rem;   
    transform: rotate(45deg);
    border-radius: 6px;
    background: white;
}
.slider > .arrowprev > label,
.slider > .arrownext > label {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
}
.slider > .arrowprev{
    margin-left: -62rem;
}
.slider > .arrownext{
    margin-right: -62rem;
}
.slider > .arrowprev > label{
    background: url(/images/icons/prev.png) right 18rem center no-repeat;
    transform: rotate(-45deg);
}
.slider > .arrownext > label{
    background: url(/images/icons/next.png) 18rem center no-repeat;
    transform: rotate(-45deg);
}
.slider > #slide-0:checked ~ .arrowprev > .num2,
.slider > #slide-0:checked ~ .arrownext > .num1, 
.slider > #slide-1:checked ~ .arrowprev > .num0,
.slider > #slide-1:checked ~ .arrownext > .num2, 
.slider > #slide-2:checked ~ .arrowprev > .num1,
.slider > #slide-2:checked ~ .arrownext > .num0{
    z-index: 5;
}
@keyframes arrows {
    0%, 33.323% { z-index: 5; }
    33.333%, 100% { z-index: -1; }
}
.slider > #play:checked ~ .arrowprev > .num2,
.slider > #play:checked ~ .arrownext > .num1 {
    animation: arrows 12300ms infinite -1000ms;	
}
.slider > #play:checked ~ .arrowprev > .num0,
.slider > #play:checked ~ .arrownext > .num2 {
    animation: arrows 12300ms infinite 3100ms;	
}
.slider > #play:checked ~ .arrowprev > .num1,
.slider > #play:checked ~ .arrownext > .num0 {
    animation: arrows 12300ms infinite 7200ms;	
}
.slider > .bullets {
    width: 100%;
}
.slider > .bullets > label {
    position: relative;
    margin: 19rem;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid white;
}
.slider > #slide-0:checked ~ .bullets > .num0,
.slider > #slide-1:checked ~ .bullets > .num1,
.slider > #slide-2:checked ~ .bullets > .num2{
    background: white;
}
@keyframes bullets {
    0%, 33.323%	{ background: white; }
    33.333%, 100% { background: none; }
}
.slider > #play:checked ~ .bullets > .num0 {
    animation: bullets 12300ms infinite -1000ms;
}
.slider > #play:checked ~ .bullets > .num1 {
    animation: bullets 12300ms infinite 3100ms;
}
.slider > #play:checked ~ .bullets > .num2 {
    animation: bullets 12300ms infinite 7200ms;
}  

/*NEWS*/
.news > .lwrap{
    padding: 165rem 10px 94rem 10px;
    max-width: 1222px;
}
.news article {
    width: 32%;
    margin-bottom: 28rem;
    min-height: 422px;
    overflow: hidden;
    position: relative;
    padding: 30rem 37rem;
}
.news article:nth-child(1){
    background: url("/images/new1.png")center / cover no-repeat;
}
.news article:nth-child(2){
    background: url("/images/new2.png")center / cover no-repeat;
}
.news article:nth-child(3){
    background: url("/images/new3.png")center / cover no-repeat;
}
.news article:nth-child(4){
    background: url("/images/new4.png")center / cover no-repeat;
}
.news article:nth-child(5){
    background: url("/images/new5.png")center / cover no-repeat;
}
.news article:nth-child(6){
    background: url("/images/new6.png")center / cover no-repeat;
}
.news article b{
    position: absolute;
    right: 8rem;
    bottom: -39rem;
    color: rgba(0,0,0,.17);
    font-size: 82rem;
    text-transform: uppercase;
}
.news .title{
    color: white;
    max-width: 312px;
    margin-bottom: 40rem;    
}
.news h4{    
    min-height: 79px;
}

/*UPCOMING*/
.upcoming{
    min-height: 1203px;
    background: url("/images/upcomingbg.png")center / cover no-repeat;
}
.upcoming hgroup{
    padding-top: 190rem;
    min-height: 356rem;
}
.upcoming .hdr {
    padding: 0px 31rem 0px 4rem;
}
.upcoming > .lwrap{
    max-width: 1200px;
}
.upcoming > .lwrap > section, footer > .lwrap > section{
    width: 50.9%;
}
.upcoming .hdr, footer .hdr{
    text-align: inherit;
}
.upcoming article .hr-v:last-child{
    height: 165rem;
    margin: 21rem 0px 19rem 34rem;
}
.upcoming article{
    padding-left: 8rem;
}

/*HISTORY*/
.history{
    min-height: 1250px;
    background: url("/images/historybg.png")center / cover no-repeat;
}
.history hgroup{
    padding-top: 146rem;
    min-height: 500px;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    min-height: 981px;
    padding-top: 246rem;
    background: url("/images/contactbg.png")center / cover no-repeat;
}
footer > .lwrap{
    max-width: 1200px;
}
footer hgroup{
    min-height: 208rem;
}
footer .hdr{
    margin-bottom: 30rem;
}
footer .input-default, footer .textarea-default{
    width: 100%;
}
footer .input-default{
    margin-bottom: 42rem;
}
footer .textarea-default{
    margin-bottom: 25rem;
}
footer address{
    min-height: 29rem;
}
footer a, footer hgroup span{
    color: #7b7b7b;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer form{
    width: 65%;
}
footer .links-social{
    width: 15%;
}