@font-face {
    font-family: 'CharisSIL';
    src: url('/fonts/fontsquirel.com/charissilb.woff2') format('woff2'), url('/fonts/fontsquirel.com/charissilb.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CharisSIL';
    src: url('/fonts/fontsquirel.com/charissilr.woff2') format('woff2'), url('/fonts/fontsquirel.com/charissilr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CharisSIL';
    src: url('/fonts/fontsquirel.com/charissili.woff2') format('woff2'), url('/fonts/fontsquirel.com/charissili.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}