.icon-camera {width: 32px; height: 32px; background: url('/images/icons/camera.png');}
.icon-db {width: 16px; height: 16px; background: url('/images/icons/db.png');}
.icon-e-mail {width: 17px; height: 11px; background: url('/images/icons/e-mail.png');}
.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-folder {width: 32px; height: 29px; background: url('/images/icons/folder.png');}
.icon-next {width: 16px; height: 30px; background: url('/images/icons/next.png');}
.icon-pallete {width: 31px; height: 31px; background: url('/images/icons/pallete.png');}
.icon-phone {width: 15px; height: 16px; background: url('/images/icons/phone.png');}
.icon-prev {width: 16px; height: 30px; background: url('/images/icons/prev.png');}
.icon-quote {width: 13px; height: 13px; background: url('/images/icons/quote.png');}
.icon-t {width: 16px; height: 16px; background: url('/images/icons/t.png');}
.icon-tw {width: 16px; height: 16px; background: url('/images/icons/tw.png');}
.icon-website {width: 16px; height: 16px; background: url('/images/icons/website.png');}