.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-flag {width: 160px; height: 160px; background: url('/images/icons/flag.png');}
.icon-gears {width: 160px; height: 160px; background: url('/images/icons/gears.png');}
.icon-linkedin {width: 16px; height: 16px; background: url('/images/icons/linkedin.png');}
.icon-mail {width: 16px; height: 16px; background: url('/images/icons/mail.png');}
.icon-pen {width: 160px; height: 160px; background: url('/images/icons/pen.png');}
.icon-rocket {width: 160px; height: 160px; background: url('/images/icons/rocket.png');}
.icon-star {width: 5px; height: 5px; background: url('/images/icons/star.png');}
.icon-tw {width: 20px; height: 20px; background: url('/images/icons/tw.png');}