/*COMMON*/
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}
figure > img:only-of-type, figure > iframe{
    display: block;
}
figure > img:only-of-type, a > img:only-of-type, figure > iframe{
    width: 100%;
    height: 100%;
}
.lwrap{
    padding: 0px 10px;
    max-width: 1176px;
}

/*HEADER*/
#logo{
    margin: 22rem 0px 27rem 0px;
    display: inline-block;
}

/*BANNER*/
.banner{
    background: url("/images/bgheader.png") -20px 38px;
    text-align: center;
}
.banner > .lwrap{
    padding: 194rem 10px 144rem 10px;
}
.banner h1{
    color: white;
    font-size: 36rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13rem;
    letter-spacing: 0.01em;
}
.banner p{
    color: white;
    font-style: italic;
    margin-bottom: 26rem;
}

/*ABOUT*/
.about{
    padding: 45rem 10px 52rem 10px;
}
.about figure{
    width: 48.5%;
    margin: 0px 27rem 5px 2rem;
    float: left;
}
.about p{
    margin-top: 21rem;
    padding-bottom: 3rem;
}
.about .btn-default{
    margin: 0px 6rem 2px 0px;
}
.about .hdr{
    margin-bottom: 60rem;
}

/*FEATURES*/
.contacts-wrap, .features-wrap{
    background: #f6f6f6;
}
.features-wrap > .lwrap{
    padding: 46rem 10px 59rem 10px;
    max-width: 1028px;
}
.features > div:not(.figure){
    width: 29.25%;
    padding-top: 8rem;
}
.features > div:first-child{
    text-align: right;
}
.features .figure{
    width: 32.5%;
}
.features h5{
    color: #797878;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14rem;
}
.features p{
    margin-bottom: 10px;
}
.features-wrap .hdr{
    margin-bottom: 28rem;
}

/*TESTIMONIAL*/
.testimonial{
    max-width: 535px;
    padding: 46rem 10px 21rem 10px;
}
.testimonial .hdr{
    margin-bottom: 30rem;
}
.slider-testimonial figure{
    margin-bottom: 24rem;
}
.slider-testimonial > input[type=radio]{
    display: none;
}
.slider-testimonial > .slide{
    position: relative;
    min-height: 238px;
    overflow: hidden;
    margin-bottom: 12rem;
}
.slider-testimonial > .slide > div{
    width: 100%;
    position: absolute;
    transition: transform .3s;
}
.slider-testimonial > .slide article{
    overflow: hidden;
    max-height: 48px;
}
.slider-testimonial > .slide > .num1{
    left: 0%;
}
.slider-testimonial > .slide > .num2{
    left: 100%;
}
.slider-testimonial > .slide > .num3{
    left: 200%;
}
.slider-testimonial > #tw1:checked ~ .slide > div{
    transform: translateX(0%);
}
.slider-testimonial > #tw2:checked ~ .slide > div{
    transform: translateX(-100%);
}
.slider-testimonial > #tw3:checked ~ .slide > div{
    transform: translateX(-200%);
}

.slider-testimonial .bullets{
    padding-bottom: 18rem;
}
.slider-testimonial .bullets label{
    width: 14px;
    height: 14px;
    border: 1px solid #b1b1b1;
    transition: all ease .3s;
    border-radius: 50%;
    margin: 7rem;
}
.bullets > label:hover,
.slider-testimonial > #tw1:checked ~ .bullets > .num1,
.slider-testimonial > #tw2:checked ~ .bullets > .num2,
.slider-testimonial > #tw3:checked ~ .bullets > .num3 {
    background: #e26d4e;
    border-color: #e26d4e;
}

/*PRICING*/
.pricing{
    padding: 0rem 10px 52rem 10px;
}
.pricing .hdr{
    margin-bottom: 61rem;
}
.pricing-item{
    width: 23.3%;
    margin-bottom: 10px;
}
.pricing-item > .list-default{
    flex-grow: 1;
}
.pricing-item > strong{
    border: 1px solid #d9d9d9;
    border-bottom: none;
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 20rem;
    display: inline-block;
}

/*CONTACTS*/
.contacts-wrap > .lwrap{
    padding: 16rem 10px 40rem 10px;
}
.contacts-wrap .hdr{
    margin-bottom: 44rem;
}
.contacts > div:first-child{
    width: 48.75%;
}
.contacts > div:last-child{
    width: 49.2%;
}
.contacts p{
    margin: 0px 0px 24rem 2rem;
    width: 98%;
}
.contacts form{
    padding-bottom: 10px;
}
.contacts h4{
    color: #464646;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 21rem;
    text-transform: uppercase;
    text-indent: 4rem;
}
.contacts .btn-default{
    width: 100%;
    font-size: 18px;
}
.contacts .input-default{
    width: 47.8%;
}
.contacts iframe{
    min-height: 302rem;
    margin-bottom: 25rem;
    padding: 8rem 8rem 0px 3rem;
}
.contacts a:active, .contacts a:hover, .contacts a:focus{
    text-decoration: underline;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    background: #e26d4e;
    text-align: center;
    color: white;
    font-size: 13px;
    letter-spacing: 0.012em;
}
footer > .lwrap{
    padding: 19rem 10px 22rem 10px;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .features .figure{display: none;}
    .features > div:not(.figure){width: 48%;}
}
@media (max-width: 480px) {
    .pricing-item{width: 49%;}
}