@font-face {
    font-family: BrandonPrinted;
    src: url('/fonts/fontsquirel.com/brandonprinted-one.woff2') format('woff2'), url('/fonts/fontsquirel.com/brandonprinted-one.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}