body{
    font-size:12px;
    font-family:Verdana;
}
.links-social a{
    margin:0 13rem 0 0;    
}
.links-social a:last-child{
    margin:0;
}
.links-nav{
    background:#ebebeb;
}
.links-nav a{
    padding: 0 29rem 0 30rem;
    height:55rem;
    color: #4e4e4e;
    font-family: Arvo;
    font-size: 14px;
    font-weight: 400;
    line-height: 31px;
    border-right:1px solid #b4b4b4;
}
.links-nav a:hover, .links-nav a:focus, .links-nav a.active{
    background:#ffffff;
    color:#4d87ab;
}
.links-slider a:first-child, .links-slider a:last-child{
    width: 25px;
    height: 25px;
}
.links-slider a{
    width: 12px;
    height: 12px;
    background-color: #454545;
    border-radius: 50%;
    margin: 0 10rem 0 0;
}
h4, h3{
    color: #4d87ab;
    font-family: Arvo;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
h3{
    font-size:20px;
}
h4{
    font-size:18px;
}
ul li{
    color: #4d4d4d;
    font-family: CharissSIL;
    font-size: 13px;
    line-height: 20px;
    background:url(/images/icons/icon-list.png) no-repeat 0 center;
    padding:0 0 0 17px;
}  
.btn-submit{
    background-color: #5499c3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.05) 0%, rgba(77, 77, 77, 0.05) 100%);
    border-radius: 3px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.22);
    color: #e2e2e2;
    font-family: CharissSIL;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    width: 90px;
    height: 27px;
}
input, textarea{
    background: #2a2a2a; 
    color: #4d4d4d;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    border:none;
    width:100%;
}
input{
    height:32px;
    padding:0 10px;
}
textarea{
    height:115px;
    padding:10px;
}