@font-face {
    font-family: 'Interstate Mono';
    src: url('../fonts/Interstate Mono.ttf');
}
@font-face {
    font-family: 'Roadway';
    src: url('../fonts/Roadway.ttf');
}
@font-face {
    font-family: 'Officina Sans Bold';
    src: url('../fonts/OfficinaSans/OfficinaSansBold/OfficinaSansBold.ttf');
}
a{
    text-decoration: none;
}
p{
    font: 14px/20px "Arial";
    color: #767676;
    margin: 0px 0px 20px 0px;
}
.link:hover{
    text-decoration: underline; 
}
.link{
    font: 10px "Arial";
    color: #649671;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
}
.hdr{
    padding: 5px 5px 5px 5px;
    color: #447751;
    font: 12px "Interstate Mono";
    text-transform: uppercase;    
    min-height: 32px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #a1c7ac 0%, #b1d6bc 100%);
}
figure{
    position: relative;
}
figure img{
    width: 100%;
}
figcaption{
    border-radius: 0px 0px 3px 3px;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 10px 10px 10px;
    width: 100%;
}
figcaption a{
    color: #f6f6f6;
    font: 14px "Roadway";
    text-transform: uppercase;
}
.lbl-discount{
    flex-direction: column;
    position: absolute;
    width: 125px;
    height: 125px;
    right: 10%;
    bottom: 10%;
    background: url('../images/label.png');
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.15);
    color: white;
    font: 700 36px "Officina Sans Bold";
    text-transform: uppercase;
}
.lbl-discount small{
    padding: 0px 5px;
    font: 700 18px/14px "Officina Sans Bold";
    background-color: #a7cdb2;
}
.lbl-discount span{
    margin: 10px 0px 0px 0px;
    height: 1px;
    background-color: #87ab92; 
    width: 50%;
}
a.btn-lang{
    min-width: 81px;
    min-height: 25px;
    margin: 2px 2px 2px 2px;
    padding: 2px 5px 2px 5px;
    color: #dbdbdb;
    font: 10px "Arial";
}
a.btn-lang.active, a.btn-lang:hover{
    background-color: rgba(0,0,0,.5); 
}
a.btn-default, .btn-default{
    min-height: 24px;
    padding: 2px 5px;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.22);
color: #447751;
border-radius: 2px;
font: 14px "Roadway";
text-transform: uppercase;
background-image: linear-gradient(to top, #7ba686 0%, #9ec5a8 100%);
}
.title{
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
color: #767676;
font: 12px "Interstate Mono";
text-transform: uppercase;
}
.icon-mail, .icon-sp, .icon-uk{
    width: 16px;
    height: 11px;
}
.icon-fb, .icon-rss, .icon-tw{
    width: 16px;
    height: 16px;
}
.icon-fb-lg, .icon-rss-lg, .icon-tw-lg{
    width: 32px;
    height: 32px;
}
.icon-mail{background: url('../images/icons/16x11/mail.png');}
.icon-sp{background: url('../images/icons/16x11/sp.png');}
.icon-uk{background: url('../images/icons/16x11/uk.png');}
.icon-fb{background: url('../images/icons/16x16/fb.png');}
.icon-rss{background: url('../images/icons/16x16/rss.png');}
.icon-tw{background: url('../images/icons/16x16/tw.png');}
.icon-fb-lg{background: url('../images/icons/32x32/fb-lg.png');}
.icon-rss-lg{background: url('../images/icons/32x32/rss-lg.png');}
.icon-tw-lg{background: url('../images/icons/32x32/tw-lg.png');}
.icon-search{
    width: 14px;
    height: 14px;
    background: url('../images/icons/14x14/search.png');
}
.icon-arrow{
    width: 10px;
    height: 5px;
    background: url('../images/icons/arrow.png');
}
body {
    background: #000 url('../images/bg.png')no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.lwrap{
    max-width: 1020px;
    padding: 0px 10px 50px 10px;
}
.top-bar{
    min-height: 79px;
    flex-wrap: wrap;
}
.form-search{
    width: 242px;
    height: 27px;
    padding: 0px 5px 0px 5px;
    background-color: white;
    margin: 0px 0px 0px 5px;
    box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 1, 0.28); 
}
.form-search input{
    width: 90%;
    color: #b2b2b2;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    border: none;
}
.form-search input::-webkit-input-placeholder{
    color: #b2b2b2;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
}
.form-search input::-moz-placeholder{
    color: #b2b2b2;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
}
.form-search input:-ms-input-placeholder{
    color: #b2b2b2;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
}
.header{
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    background-image: linear-gradient(to top, #000001 0%, #232323 100%);
    min-height: 43px;
}
.logo{
    color: #f9f9f9;
font: 700 28px "Officina Sans Bold";
text-transform: uppercase;
}
.nav{
    flex-wrap: wrap;
}
.nav a{
    color: darkgrey; 
    font: 16px "Roadway";
    text-transform: uppercase;
    margin: 2px 5px 2px 5px;
}
.nav a.active, .nav a:hover{
    color: white;
}
.header form{
    flex-wrap: wrap;
}
.header form button{
    color: #f6f6f6;
    font: 16px "Roadway";
    text-transform: uppercase;
    margin: 2px 5px 2px 5px;
}
.header form a{
    margin: 2px 2px 2px 2px;
}
.slider{
    position: relative;
}
.slider-sidebar{
    position: absolute;
    width: 25%;
    height: 100%;
    top: 0px;
    right: 0px;
}
.slider-sidebar a{
    flex: 1;
    padding: 2px 2px 2px 20px;
    background-image: linear-gradient(to top, rgba(0,0,1,.8) 0%, rgba(35,35,35,.8) 100%);
}
.slider-sidebar a span{
    color: #f6f6f6;
font: 14px "Roadway";
text-transform: uppercase;
}
.slider-sidebar a small{
    color: #b1b1b1;
    font: 12px "Arial";
}
.slider-title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: rgba(0,0,0,.8);
    padding: 10px 10px 10px 10px;
}
.slider-title h1{
    color: #eee;
font: 70px/70px "Roadway";
text-transform: uppercase;
}
.slider-title span{   
color: #868585;
font: 24px/24px "Roadway";
text-transform: uppercase;
}
.content-wrap{       
    box-shadow: 0 0 7px rgba(0, 0, 1, 0.76);
}
.content{
    padding: 20px 20px 20px 20px;
    background-color: #fff;
}
.sidebar{
    width: 25%;
}
.main{
    width: 50%;
    padding: 10px 10px 10px 10px;
}
.sidebar.left{
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    background-color: #e7f5eb;
}
.sidebar.left article h6{
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
font: 12px "Arial";
margin: 0px 0px 10px 0px;
color: #649671;
}
.sidebar.left article p{
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(0,0,0,.1)
}
.description{
border-bottom: 2px solid #7ba686;
margin: 0px 5px 30px 0px;
}
.description span{
    color: #969696;
    font: italic 12px "Arial";
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
}
.description .link{
    font: italic 12px "Arial";
}
.content figure, .content figure img{
    border-radius: 3px;
}
.main > div > figure{
    margin: 10px 5px 10px 5px;
}
.main > div{
    margin: 0px -5px 0px -5px;
}
.form-subscribe{
    height: 30px;
    background-color: whitesmoke;
box-shadow: inset 0.5px 0.9px 1px rgba(0, 0, 1, 0.28);
    padding: 0px 5px 0px 5px;
}
.form-subscribe input{
    width: 85%;
    background-color: transparent;
    border: none;
    color: #8b8b8b;
font-family: Arial;
font-size: 12px;
border-right: 1px solid rgba(0,0,0,.15)
}
.form-subscribe-wrap a{
    margin: 2px 2px 2px 2px;
}
.form-subscribe input::-webkit-input-placeholder{
color: #8b8b8b;
font-family: Arial;
font-size: 12px;
}
.form-subscribe input::-moz-placeholder{
color: #8b8b8b;
font-family: Arial;
font-size: 12px;
}
.form-subscribe input:-ms-input-placeholder{
color: #8b8b8b;
font-family: Arial;
font-size: 12px;
}
.form-vote{
    background-color: #e7f5eb;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
}
.form-vote .btn{
    width: 100%;
}
.form-vote p{
    font: 12px/18px "Arial";
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
color: #4c4c4c;
}
.form-vote label{
    color: #8d8c8c;
    font: 12px "Arial";
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
color: #4c4c4c;
padding: 0px 0px 0px 20px;
}
.form-vote li{
    padding: 2px 2px 2px 2px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.list-popular li {
    line-height: 20px;
    border-bottom: 1px solid #e5ede7;
}
.list-popular li span{
    width: 30px;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
color: #b1b6b2;
}
.tweet{
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to top, #e7ecd6 0%, #f3f8e2 100%);
    position: relative;
}
.tweet:before{
    position: absolute;
     border-bottom: 12px solid #f3f8e2; 
   border-left: 6px solid transparent; 
   border-right: 6px solid transparent; 
   content: "";
   top: -12px;
   left: 30px;
}
footer{
    padding: 20px 20px 20px 20px;
    background-color: #202020;
}
footer > div:first-child{
    width: 20%;
}
footer > div:first-child span{
    text-align: right;
    font: italic 12px/16px "Arial";
    color: grey;
}
input::-webkit-input-placeholder{

}
input::-moz-placeholder{

}
input:-ms-input-placeholder{

}
@media (max-width: 0px) {

}