.icon-check {width: 12px; height: 9px; background: url('/images/icons/check.png');}
.icon-dl {width: 24px; height: 24px; background: url('/images/icons/dl.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-fl {width: 24px; height: 24px; background: url('/images/icons/fl.png');}
.icon-heart {width: 11px; height: 9px; background: url('/images/icons/heart.png');}
.icon-logo {width: 13px; height: 24px; background: url('/images/icons/logo.png');}
.icon-pin {width: 24px; height: 24px; background: url('/images/icons/pin.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-t {width: 24px; height: 24px; background: url('/images/icons/t.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}