
/* FONTS */
@font-face {
    font-family: 'Designosaur';
    src: url('/fonts/fontsquirel.com/designosaur-regular.woff2') format('woff2'), url('/fonts/fontsquirel.com/designosaur-regular.woff') format('woff');
}
/* ICONS */
.icon-aa {width: 24px; height: 24px; background: url('/images/icons/aa.png');}
.icon-comp {width: 51px; height: 37px; background: url('/images/icons/comp.png');}
.icon-cursor {width: 52px; height: 44px; background: url('/images/icons/cursor.png');}
.icon-db {width: 24px; height: 24px; background: url('/images/icons/db.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-in {width: 24px; height: 24px; background: url('/images/icons/in.png');}
.icon-marker {width: 12px; height: 12px; background: url('/images/icons/marker.png');}
.icon-mc {width: 34px; height: 26px; background: url('/images/icons/mc.png');}
.icon-next {width: 10px; height: 16px; background: url('/images/icons/next.png');}
.icon-pp {width: 34px; height: 26px; background: url('/images/icons/pp.png');}
.icon-prev {width: 10px; height: 16px; background: url('/images/icons/prev.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-speed {width: 51px; height: 43px; background: url('/images/icons/speed.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}
.icon-visa {width: 34px; height: 26px; background: url('/images/icons/visa.png');}
.icon-yt {width: 24px; height: 24px; background: url('/images/icons/yt.png');}