.icon-check {width: 12px; height: 9px; background: url('/images/icons/check.png');}
.icon-dl {width: 12px; height: 13px; background: url('/images/icons/dl.png');}
.icon-fb {width: 6px; height: 13px; background: url('/images/icons/fb.png');}
.icon-fl {width: 14px; height: 6px; background: url('/images/icons/fl.png');}
.icon-mail {width: 13px; height: 9px; background: url('/images/icons/mail.png');}
.icon-pin {width: 10px; height: 13px; background: url('/images/icons/pin.png');}
.icon-rss {width: 10px; height: 11px; background: url('/images/icons/rss.png');}
.icon-tw {width: 9px; height: 12px; background: url('/images/icons/tw.png');}