/*COMMON*/
.lwrap{
    padding: 0px 10px;
    max-width: 980px;
}
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}
figure > img, a > img, li > img{
    display: block;
    width: 100%;
    height: 100%;
}

/*HEADER*/
header{
    margin-bottom: 42rem;
}
header > .lwrap form{
    margin: 0px 0px 3rem 5px;
    flex-grow: 1;
}
header > .lwrap form button{
    margin: 3rem 0px 0px 5rem;
}
header > .lwrap form .btn-default{
    letter-spacing: 0.025em;
}
.topbar > .lwrap{
    position: relative;
    padding: 9rem 10px;
}
.topbar{
    transition: all .5s ease;
    background: #2e2e2e;
    margin-bottom: 20px;
}
#collapse{
    display: none;
}
#collapse:checked + .topbar{
    transform: translateY(-100%);
}
#collapse:checked ~ .topbar .lwrap > label{
    background:
        linear-gradient(white, white) center center / 1px 11px no-repeat,
        linear-gradient(white, white) center center / 11px 1px no-repeat,
        linear-gradient(#2e2e2e, #2e2e2e) 0px 0px / 100% 100%;
}
.topbar .lwrap > label{
    width: 31rem;
    height: 31rem;
    min-height: 20px;
    min-width: 20px;
    background: #2e2e2e linear-gradient(white, white)center center / 11px 1px no-repeat;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    top: 100%;
    right: 10px;
}

/*SLIDER*/
.slider-wrap{
    background: #f1f1f1;
    border-top: 5px solid #e9e9e9;
    border-bottom: 10px solid #e9e9e9;
    padding-top: 10rem;
}
.slider h2{
    color: #333;
    font-size: 36rem;
    font-weight: 400;
    line-height: 36rem;
    margin: 43rem 0px 18rem 3rem;
}
.slider p{
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 18rem 3rem;
}
.slider p, .slider h2{
    letter-spacing: -0.005em;
}
.slider .btn-default{
    font-size: 16px;
}
.slider-pics{
    margin-left: 30rem;
    width: 57.25%;
    flex-shrink: 0;
    position: relative;
}
.slider-pics > ul{
    position: relative;
    overflow: hidden;
    max-height: 440px;
}
.slider > input[type=radio] {
    display: none;
}
.slider-pics > ul > li:first-child {
    visibility: hidden;
}
.slider-pics > ul > li:not(:first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
    z-index: 1;
    transition: opacity 4000ms ease;
}
.slider > #slide1-0:checked ~ ul > .num0,
.slider > #slide1-1:checked ~ ul > .num1,
.slider > #slide1-2:checked ~ ul > .num2,
.slider > #slide1-3:checked ~ ul > .num3,
.slider > #slide1-4:checked ~ ul > .num4{
    opacity: 1;
    z-index: 2;
}
@keyframes kenburns1 {
    0%, 37.5%, 100% { opacity: 0; z-index: 2; }
    12.5%, 25% { opacity: 1; z-index: 2; }
}
.slider > #play1:checked ~ .slider-pics > ul > .num0 {
    animation: kenburns1 20000ms infinite -2000ms ease;
}
.slider > #play1:checked ~ .slider-pics > ul > .num1 {
    animation: kenburns1 20000ms infinite 2000ms ease;
}
.slider > #play1:checked ~ .slider-pics > ul > .num2 {
    animation: kenburns1 20000ms infinite 6000ms ease;
}
.slider > #play1:checked ~ .slider-pics > ul > .num3 {
    animation: kenburns1 20000ms infinite 10000ms ease;
}
.slider > #play1:checked ~ .slider-pics > ul > .num4 {
    animation: kenburns1 20000ms infinite 14000ms ease;
}
.slider .description{
    position: relative;
    flex-grow: 1;
}
.slider .description label{
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    transition: all 4000ms ease;
    z-index: -1;
}
.slider > #slide1-0:checked ~ .description > .num0,
.slider > #slide1-1:checked ~ .description > .num1,
.slider > #slide1-2:checked ~ .description > .num2,
.slider > #slide1-3:checked ~ .description > .num3,
.slider > #slide1-4:checked ~ .description > .num4{
    z-index: 2; 
}
@keyframes description1 {
    0%, 19.999%  { z-index: 2; }
    20%, 100%{ z-index: -1; }
}
.slider > #play1:checked ~ .description > .num0{
    animation: description1 20000ms infinite -2000ms ease;
}
.slider > #play1:checked ~ .description > .num1{
    animation: description1 20000ms infinite 2000ms ease;
}
.slider > #play1:checked ~ .description > .num2{
    animation: description1 20000ms infinite 6000ms ease;
}
.slider > #play1:checked ~ .description > .num3{
    animation: description1 20000ms infinite 10000ms ease;
}
.slider > #play1:checked ~ .description > .num4{
    animation: description1 20000ms infinite 14000ms ease;
}
.slider-pics > .bullets {
    position: absolute;
    bottom: 18rem;
    left: 19.5rem;
}
.slider-pics > .bullets > label {
    position: relative;
    margin: 2.5rem;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid black;
    background: black;
    z-index: 10;
    transition: background 4000ms ease;
}
.slider-pics > .bullets > label:hover,
.slider > #slide1-0:checked ~ .slider-pics .bullets > .num0,
.slider > #slide1-1:checked ~ .slider-pics .bullets > .num1,
.slider > #slide1-2:checked ~ .slider-pics .bullets > .num2,
.slider > #slide1-3:checked ~ .slider-pics .bullets > .num3,
.slider > #slide1-4:checked ~ .slider-pics .bullets > .num4{
    background: none;
}
@keyframes bullet1 {
    0%, 19.99%  { background: none; }
    20%, 100% { background: black; }
}
.slider > #play1:checked ~ .slider-pics .bullets > .num0 {
    animation: bullet1 20000ms infinite -2000ms;
}
.slider > #play1:checked ~ .slider-pics .bullets > .num1 {
    animation: bullet1 20000ms infinite 2000ms;
}
.slider > #play1:checked ~ .slider-pics .bullets > .num2 {
    animation: bullet1 20000ms infinite 6000ms;
}
.slider > #play1:checked ~ .slider-pics .bullets > .num3 {
    animation: bullet1 20000ms infinite 10000ms;
}
.slider > #play1:checked ~ .slider-pics .bullets > .num4 {
    animation: bullet1 20000ms infinite 14000ms;
}

/*INTRO*/
.intro{
    padding: 39rem 10px 11rem 10px;
}
.intro > div:first-child{
    width: 47.4%;
    padding-bottom: 29rem;
}
.intro > div:last-child{
    width: 48.8%;
}
.intro article{
    width: 47.7%;
    text-align: center;
    margin: 1rem 0px 25rem 0px;
}
.intro article h5{
    color: #09f;
    font-size: 16px;
    font-weight: 400;
    margin: 8rem 0px 11rem 0px;
}
.intro article p{
    color: #666666;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.03em;
    width: 100%;
}
.arrow{
    border: 24rem solid transparent;
    border-left: 24rem solid #e0e0e0;
    position: relative;
    width: 118rem;
    height: 120rem;
    border-radius: 50%;
}
.arrow:before{
    border-left: 21rem solid transparent;
    border-right: 21rem solid transparent;
    border-bottom: 31rem solid #e0e0e0;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    display: inline-block;
    top: -23rem;
    left: -9rem;
}
.bottom-left{
    transform: rotate(-45deg); 
    margin: -50rem 0px -5rem 8rem;
}
.bottom-right{
    transform: rotate(-135deg);
    margin: -32rem 43rem 0px -54rem;
}
.top-right{
    transform: rotate(135deg);
    margin: 16rem 0px -4rem -85rem;
}
.cycle-third figure{
    margin: 0px -18rem 0px 35rem;
}

/*STREAMER*/
.streamer{
    background: #e0e0e0;
    border-left: 10rem solid #09f;
    padding: 26rem 33rem 25rem 32rem;
    margin-bottom: 40rem;
}
.streamer hgroup *{
    color: #333;
    font-weight: 400;
}
.streamer h1{
    font-size: 36rem;
    margin-bottom: 5rem;
    letter-spacing: 0.0015em;
}
.streamer h3{
    font-size: 18rem;
    margin-bottom: 2rem;   
    letter-spacing: -0.005em;
}
.streamer .btn-lg{
    margin: 5px;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    background: #1a1a1a;
    border-top: 5px solid black;
    color: #666666;
}
footer > .lwrap{
    padding: 38rem 10px 20rem 10px;
}
footer > .lwrap > div{
    width: 23.5%;
    margin-bottom: 20px;
}
footer p{    
    line-height: 19px;
    letter-spacing: 0.04em;
    padding: 0px 15rem 7rem 0px;
}
footer .read{
    text-align: right;
    float: right;
}
footer figure{
    padding: 4rem 4rem 4rem 5rem;
    border: 1px solid #555;
    margin-bottom: 17rem;
}
.post{
    margin-bottom: 8rem;
}
.post h6{
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.09em;
}
.post span, .post time{
    font-size: 10px;
    letter-spacing: 0.055em;
    display: inline-block;
}
.post time{
    margin-bottom: 14rem;   
}
.post p{
    line-height: 14px;
    padding: 0px 0rem 15rem 0px;
}
footer h4{
    color: white;
    text-transform: uppercase;
    margin-bottom: 20rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
}
footer form .btn-default{
    font-size: 14px;
    padding: 0px 10rem; 
}
.copyright{
    border-top: 1px solid #2d2d2d;
    background: #222;
}
.copyright > .lwrap{
    padding: 23rem 10px;    
}
.copyright span{
    display: inline-block;
    letter-spacing: 0.04em;
    width: 47%;
}
.copyright span:last-child{
    text-align: right;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    .streamer h1{font-size: 23px;}
    .streamer h3{font-size: 11.5px;}
    .btn-lg{font-size: 17px;height: 38px;line-height: 17px;}
    footer > .lwrap > div{width: 48%;}
}
@media screen and (max-width: 480px) {
    .slider h2{font-size: 17px;}
    .slider .description{min-height: 160px;}
    .streamer{text-align: center;}
}