
/* FONTS */
@font-face {
    font-family: 'Homestead';
    src: url('/fonts/fontsquirel.com/homestead-display.woff2') format('woff2'), url('/fonts/fontsquirel.com/homestead-display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */
.icon-facebook {width: 20px; height: 20px; background: url('/images/icons/facebook.png');}
.icon-next {width: 28px; height: 28px; background: url('/images/icons/next.png');}
.icon-prev {width: 28px; height: 28px; background: url('/images/icons/prev.png');}
.icon-rss {width: 16px; height: 16px; background: url('/images/icons/rss.png');}
.icon-twitter {width: 24px; height: 24px; background: url('/images/icons/twitter.png');}