a{
    text-decoration: none;
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/lato/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/lato/Lato-Black.ttf');
}
@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../fonts/avenir-next-lt-pro/AvenirNextLTPro-Bold.otf');
}
.icon-heart{
    width: 12px;
    height: 12px;
    background: url('../images/icons/12x12/heart.png');
}
.icon-mail-alt{
    width: 20px;
    height: 20px;
    background: url('../images/icons/20x20/mail-alt.png');
}
.icon-logo{
    width: 40px;
    height: 40px;
    background: url('../images/icons/40x40/logo.png');
}
.icon-letter, .icon-phone, .icon-location{
    width: 16px;
    height: 16px;
}
.icon-dribble, .icon-dribble-footer, .icon-instagram, .icon-instagram-footer, .icon-mail, .icon-mail-footer{
    width: 28px;
    height: 28px;
}
.icon-twitter, .icon-twitter-footer{
    width: 32px;
    height: 32px;
}
.icon-location{background: url('../images/icons/16x16/location.png');}
.icon-letter{background: url('../images/icons/16x16/letter.png');}
.icon-phone{background: url('../images/icons/16x16/phone.png');}
.icon-dribble{background: url('../images/icons/28x28/dribble.png');}
.icon-dribble-footer{background: url('../images/icons/28x28/dribble-footer.png');}
.icon-instagram{background: url('../images/icons/28x28/instagram.png');}
.icon-instagram-footer{background: url('../images/icons/28x28/instagram-footer.png');}
.icon-mail{background: url('../images/icons/28x28/mail.png');}
.icon-mail-footer{background: url('../images/icons/28x28/mail-footer.png');}
.icon-twitter{background: url('../images/icons/32x32/twitter.png');}
.icon-twitter-footer{background: url('../images/icons/32x32/twitter-footer.png');}
header{
    background-color: #fff;
}
.header, .slider, .hdr h2, .about, .portfolio-hdr, .blog, .contacts, footer{
    margin: auto;
    max-width: 1220px;    
}
.header{
    min-height: 87px;
    padding: 10px 9px 10px 10px;
    flex-wrap: wrap;
}
.slider{
    min-height: 700px;
    padding: 10px 10px 5px 10px;
}
.slider-wrap{
    background-color: #8f8f8f;
    box-shadow: inset 0px 4px 0px 0px #7f7f7f;
}
.hdr h2{
    color: #fff;
    font: 25px "Lato Black";
    width: 100%;
    text-transform: uppercase;
    padding: 29px 10px 31px 24px;
    position: relative;
    letter-spacing: -0.012em;
}
.hdr h2:after{
    content: "";
    position: absolute;
    left: 83px;
    bottom: -8px;
    border-top: 9px solid #1abc9c;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
}
.hdr{
    background-color: #1abc9c;
}
.logo{
    color: #cacaca;
    font: 25px "Avenir Next Bold";
    text-transform: uppercase;
    margin:  0px 0px 1px 11px;
    letter-spacing: -0.03em;
}
.nav a{
    color: #c5c5c5;
    font: 13px "Lato Black";
    text-transform: uppercase;
    margin: 5px 17px 5px 16px;
}
.nav a.active, .nav a:hover{
    color: #1abb9c;
}
.slider h1, .slider span{
    color: #fff;
    background-color: #646464;
    text-transform: uppercase;
}
.slider h1{
    margin: 0px 0px 10px 0px;
    font: 80px/120px "Lato Black";
    letter-spacing: -0.014em;
    padding: 0px 25px 0px 25px;
    text-align: center;
}
.slider span{
    margin: 0px 0px 25px 0px;
    font: 50px/87px "Lato Light";
    letter-spacing: -0.001em;       
    padding: 0px 22px;
    text-align: center;
}
.social{
    flex-wrap: wrap;
}
.slider .social .btn{    
    background-color: #646464;
}
a.btn-social{
    margin: 2px 2px 2px 3px;
    width: 50px;
    height: 50px;
}
.about{
    padding: 80px 10px 80px 10px;
}
.about span{
    color: #474747;
    margin: 0px 0px 31px 0px;
    display:  inline-block;
    font: 22px/35px "Lato Light";
    letter-spacing: -0.0085em;
}
.about p{
    color: #656565;
    font: 15px/33px "Lato Regular";
    margin: 0px 0px 49px 0px;
    letter-spacing: -0.006em;
}
.about h4{
    text-transform: uppercase;
    color: #474747;
    font: 16px "Lato Black";
    margin: 0px 0px 16px 0px;
    letter-spacing: -0.01em;
}
.about figure img{
    width: 100%;
}
.about figure{
    width: 27.1%;
    margin: 0px 0px 0px 14px;
}
.about > div > article{
    margin: 0px 14px 0px 14px;
    flex: 1;
}
.about > article > div{
    width: 72%;
    padding: 33px 1px 60px 58px;
}
a.btn-default, .btn-default{
    color: #fff;
    font: 13px "Lato Regular";
    text-transform: uppercase;
    min-width: 140px;
    min-height: 45px;
    border-radius: 3px;
    padding: 2px 8px 3px 5px;
    letter-spacing: 0.1em;
    background-color: #3f8dbf;
    box-shadow: inset 0 -4px 0 rgba(0,0,0,.15);
}
.btn-default i{
    margin: 0px 9px 0px 0px;
}
.portfolio{
    background-color: #333;
    padding: 0px 0px 72px 0px;
}
.img-wrap figure{
    margin: 0px 0px 0px 5px;
}
.img-wrap figure img{
    width: 100%;
}
.portfolio-hdr{
    padding: 76px 10px 47px 24px;
}
.portfolio-hdr h3{
    color: #fff;
    text-transform: uppercase;
    font: 16px "Lato Black";
    margin: 0px 0px 23px 0px;
}
.portfolio-hdr p{
    color: #fff;
    font: 15px "Lato Regular";
    margin:  0px 0px 10px 0px;
    letter-spacing: -0.006em;
}
.blog-wrap{
    background-color: #f0f0f0;
}
.blog{
    flex-wrap: wrap;
    padding: 75px 18px 45px 18px;
}
.post{
    width: 48%;
    margin: 5px 5px 31px 5px;
    border-bottom: 4px solid #e4e4e4;
}
.post figure img{
    width: 100%;
}
.post figcaption{
    padding: 27px 23px 25px 27px;
    background-color: #f9f9f9;
}
.post figcaption span, .post figcaption a{
    color: #9f9f9f;
    text-transform: uppercase;
    font: 13px "Lato Black";
    letter-spacing: -0.004em;
}
.post figcaption a {
    font: 12px/12px "Lato Black";
}
.post figcaption a i{
    margin: 0px 0px 0px 7px;
}
.post article h5{
    text-transform: uppercase;
    font: 16px "Lato Black";
    margin: 0px 0px 11px 0px;
    letter-spacing: -0.01em;
}
.post article h5 a{
    color: #5b5b5b;
}
.post article h5 a:hover{
    text-decoration: underline;
}
.post article p{
    color: #656565;
    font: 15px/33px "Lato Regular";
    letter-spacing: -0.008em;
}
.post article{
    padding: 21px 28px 14px 26px;
    background-color: #fff;
}
.contacts-wrap{
    background: url('../images/bg.png');
    background-size: cover;
}
.contacts{
    padding: 77px 10px 78px 24px;
}
.contacts h3{
    color: #fff;
    text-transform: uppercase;
    font: 16px "Lato Black";
    margin:  0px 0px 13px 0px;
    letter-spacing: -0.02em;
}
.contacts p{
    color: #d8d8d8;
    font: 15px/33px "Lato Regular";
    margin: 0px 0px 19px 0px;
    letter-spacing: -0.007em;
}
.contacts ul li{
    color: #d8d8d8;
    font: 15px/33px "Lato Regular";
    letter-spacing: -0.01em;
}
.contacts ul li i{
    margin: 0px 9px 0px 0px;
}
.contacts form{
    width: 65%;
    padding: 3px 0px 0px 0px;
}
.contacts > div{
    width: 31%;
    padding: 0px 0px 0px 40px;
}
.contacts form input, .contacts form textarea{
    background-color: rgba(255,255,255,.11);
    border: none;
    color: #a0a0a0;
    font-family: "Lato Black";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin: 0px 0px 20px 0px;
}
.contacts form textarea{
    height: 212px;
    padding: 18px 17px 17px 17px;
    resize: none;
}
.contacts form input{
    height: 50px;
    padding: 0px 17px 0px 17px;
}
.contacts form input::-webkit-input-placeholder, .contacts form textarea::-webkit-input-placeholder {
    color: #a0a0a0;
    font-family: "Lato Black";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.contacts form input::-moz-placeholder, .contacts form textarea::-moz-placeholder {
    color: #a0a0a0;
    font-family: "Lato Black";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    opacity: 1;
}
.contacts form input:-ms-input-placeholder, .contacts form textarea:-ms-input-placeholder {
    color: #a0a0a0;
    font-family: "Lato Black";
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
footer{
    padding: 58px 10px 58px 10px;
}
footer span{
    text-align: center;
    color: #656565;
    font: 15px "Lato Regular";
    padding:  0px 0px 18px 0px;
}
@media (max-width: 800px) {
    .about > div, .about > article {
    flex-direction: column;
}
.about figure {
    width: 100%;
    margin: 0px 0px 0px 0px;
    max-width: 320px;
}
.about > article > div {
    width: 100%;
    padding: 20px 0px 30px 0px;
}
.about > div > article {
    margin: 0px;
}
.blog{
    flex-direction: column;
    padding: 75px 0px 45px 0px;
}
.post figcaption {
    padding: 27px 10px 25px 10px;
}
.post {
    width: 97%;
    margin: 5px 15px 31px 5px;
}
}
@media (max-width: 850px) {
    .contacts {
    padding: 77px 10px 78px 10px;
    flex-direction: column;
}
.contacts form {
    width: 100%;
    padding: 0px 0px 30px 0px;
}
.contacts > div {
    width: 100%;
    padding: 0px 0px 0px 0px;
}
}
@media (max-width: 650px) {
    .img-wrap{
       flex-direction: column; 
    }
    .img-wrap figure {
    margin: 5px 10px 5px 10px;
}
}
@media (max-width: 500px) {
    .slider h1{
        font: 60px/90px "Lato Black";
    }
    .slider span{
        font: 36px/60px "Lato Light";
    }
}
@media (max-width: 400px) {
   .post figcaption {
    flex-direction: column;
    align-items: flex-start;
} 
.post figcaption a {
    margin: 10px 0px 0px 0px;
}
}