@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@font-face {
	font-family: 'MyriadPro';
	src: local('в�є'), url('/fonts/MyriadPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: local('в�є'), url('/fonts/MyriadPro-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: local('в�є'), url('/fonts/MyriadPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}