@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

/* ICONS */
.icon-folder {width: 79px; height: 76px; background: url('/images/icons/folder.png');}
.icon-logo-footer {width: 35px; height: 37px; background: url('/images/icons/logo-footer.png');}
.icon-logo {width: 65px; height: 69px; background: url('/images/icons/logo.png');}
.icon-mouse {width: 23px; height: 37px; background: url('/images/icons/mouse.png');}
.icon-note {width: 79px; height: 91px; background: url('/images/icons/note.png');}
.icon-pen {width: 80px; height: 83px; background: url('/images/icons/pen.png');}