.icon-letterlg:hover {background: url('/images/icons/letterlg-hover.png');}
.icon-lettersm:hover {background: url('/images/icons/lettersm-hover.png');}
.icon-phonelg:hover {background: url('/images/icons/phonelg-hover.png');}
.icon-phonesm:hover {background: url('/images/icons/phonesm-hover.png');}
.icon-pointlg:hover {background: url('/images/icons/pointlg-hover.png');}
.icon-pointsm:hover {background: url('/images/icons/pointsm-hover.png');}