body{
    font-size: 12px;
    font-family: HelveticaNeue;
    color: #444;
}

/*LINKS*/
.links-nav{
    flex-grow: 1;
    padding-top: 3rem;
}
.links-nav a{
    margin: 5px 22rem;
    line-height: 32px;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    letter-spacing: 0.03em;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover,.links-nav a:focus{
    border-bottom: 3px solid #444;
}
.links-social a{
    margin: 10px;
    display: inline-block;
}

/*BUTTONS*/
.btn-add, .btn-checkout, .btn-more{
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 5px;
    min-width: 112rem;
    height: 32px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.btn-add{   
    background: linear-gradient(#80bcd4, #65a0b8);
    border: 1px solid #65a0b8;    
}
.btn-checkout{
    background: linear-gradient(#f7a412, #e88e13);
    border: 1px solid #ef8a00;
}
.btn-more{    
    background: linear-gradient(#6ab177, #4ca15b);
    border: 1px solid #4ca15b;
}

/*FORMS*/
input[name=search]{
    border: none;
    border-left: 1px solid rgba(51,51,51,.35);
    height: 40px;
    padding: 0px 8px;
    background: none;
    outline: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.01em;
}
input[name=search]::-webkit-input-placeholder { color: rgba(51,51,51,.8); }
input[name=search]::-moz-placeholder { color: rgba(51,51,51,.8); }
input[name=search]:-ms-input-placeholder { color: rgba(51,51,51,.8); }
input[name=image]{
    padding: 9px;
}

/*OTHER*/
.months{
    border-top: 2px solid #f0ab3f;
    margin-top: -5px;
}
.months > span{
    color: #b0752a;
    height: 54px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    text-align: center;
}
.link{
    color: #65a0b8;
    font-size: 10px;
    font-weight: 500;
    margin-left: 2px;
    letter-spacing: 0.01em;
}
.link:active, .link:hover, .link:focus{
    text-decoration: underline;
}

/*FORMS*/
.counter{
    width: 34px;
    height: 34px;
    background: white;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: black;
}
.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.counter {
    -moz-appearance: textfield;
}
.counter::-webkit-input-placeholder { color: #444; }
.counter::-moz-placeholder { color: #444; }
.counter:-ms-input-placeholder { color: #444; }