.icon-clip {width: 52px; height: 52px; background: url('/images/icons/clip.png');}
.icon-dot {width: 12px; height: 12px; background: url('/images/icons/dot.png');}
.icon-facebook {width: 84px; height: 84px; background: url('/images/icons/facebook.png');}
.icon-food {width: 172px; height: 172px; background: url('/images/icons/food.png');}
.icon-gplus {width: 84px; height: 84px; background: url('/images/icons/gplus.png');}
.icon-linkedin {width: 72px; height: 72px; background: url('/images/icons/linkedin.png');}
.icon-note {width: 52px; height: 52px; background: url('/images/icons/note.png');}
.icon-photo {width: 52px; height: 52px; background: url('/images/icons/photo.png');}
.icon-pinterest {width: 84px; height: 84px; background: url('/images/icons/pinterest.png');}
.icon-point {width: 8px; height: 8px; background: url('/images/icons/point.png');}
.icon-shirt {width: 172px; height: 172px; background: url('/images/icons/shirt.png');}
.icon-tv-sm {width: 52px; height: 52px; background: url('/images/icons/tv-sm.png');}
.icon-tv {width: 172px; height: 172px; background: url('/images/icons/tv.png');}
.icon-twitter {width: 84px; height: 84px; background: url('/images/icons/twitter.png');}
.icon-vinyl {width: 172px; height: 172px; background: url('/images/icons/vinyl.png');}
.icon-volume {width: 52px; height: 52px; background: url('/images/icons/volume.png');}
.icon-arrow {width: 44px; height: 44px; background: url('/images/icons/arrow.png');}