.icon-arrow {width: 9px; height: 13px; background: url('/images/icons/arrow.png');}
.icon-camera {width: 30px; height: 28px; background: url('/images/icons/camera.png');}
.icon-db {width: 12px; height: 12px; background: url('/images/icons/db.png');}
.icon-digg {width: 32px; height: 28px; background: url('/images/icons/digg.png');}
.icon-fb {width: 6px; height: 12px; background: url('/images/icons/fb.png');}
.icon-imac {width: 31px; height: 30px; background: url('/images/icons/imac.png');}
.icon-leaf {width: 28px; height: 28px; background: url('/images/icons/leaf.png');}
.icon-like {width: 11px; height: 9px; background: url('/images/icons/like.png');}
.icon-location {width: 9px; height: 13px; background: url('/images/icons/location.png');}
.icon-mail {width: 12px; height: 8px; background: url('/images/icons/mail.png');}
.icon-pacman {width: 23px; height: 26px; background: url('/images/icons/pacman.png');}
.icon-phone {width: 10px; height: 11px; background: url('/images/icons/phone.png');}
.icon-pin {width: 10px; height: 12px; background: url('/images/icons/pin.png');}
.icon-rss {width: 10px; height: 10px; background: url('/images/icons/rss.png');}
.icon-tw {width: 9px; height: 12px; background: url('/images/icons/tw.png');}
.icon-tweet {width: 13px; height: 10px; background: url('/images/icons/tweet.png');}