body{
    font-size: 12px;
    font-family: Arial;
}

/*LINKS*/
.links-top, .links-footer{
    color: black;
}
.links-top{  
    padding-bottom: 7rem;
}
.links-footer{
    margin: 0px 0px 10px -7rem;
}
.links-footer a{  
    margin: 0px 6px;
}
.links-top a{
    color: #818082;
    letter-spacing: 0.01em;
    margin: 0px 10rem 0px 6rem;
}
.links-footer a{
    color: #8e8e8e;
    letter-spacing: 0.02em;
}
.links-top a.active, .links-top a:active, .links-top a:hover, .links-top a:focus, .links-footer a:active, .links-footer a:hover, .links-footers a:focus{
    color: #b2b2b2;
    text-decoration: underline;
}
.links-social a{
    margin: 2rem 8rem 0px 0px;
}
.links-nav{
    background: url("/images/bgnav.png"), linear-gradient(rgba(255,255,255,.15),transparent, transparent), linear-gradient(#068cc9, #0261b3); 
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    padding: 0px 5rem;
    box-shadow: 0 1px 4px black, inset 0 2px 0 rgba(255, 255, 255, 0.15);
    margin: 30rem 0px 19rem 1rem;
}
.links-nav a{
    height: 60rem;
    min-height: 30px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.72);
    color: white;
    font-family: Play;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 20.5rem;
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
    letter-spacing: -0.001em;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    background: rgba(255,255,255,.1);
}
.links-controls{
    padding: 17rem 0px 27rem 0px;
}
.links-controls a{
    width: 17px;
    height: 17px;
    margin: 4.5px;
    border-radius: 50%;
    background: linear-gradient(#f7f7f7, #bfbfbf);
    box-shadow: 0 1px 3px black, inset 0.5px 0.9px 0 rgba(255, 255, 255, 0.35);
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: linear-gradient(#0261b3, #068cc9);
    box-shadow: 0 1px 4px black, inset 0 2px 0 rgba(255, 255, 255, 0.15);
}
.links-services{
    padding: 2px 0px 0px 2px;
}
.links-services a{
    text-decoration: underline;
    margin-bottom: 12px;
    color: #349ce6;
    letter-spacing: 0.01em;
}
.links-services a:active, .links-services a:hover, .links-services a:focus{
    color: white;
}
.links-services a:before{
    content: "";
    margin: 5px 4px 0px 0px;
    width: 3px;
    height: 3px;
    background: #a8a8a8;
}

/*BUTTONS*/
.btn-default{
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 700;
    min-width: 116rem;
    height: 32px;
    border-radius: 5px;
    letter-spacing: 0.01em;
    padding: 0px 5px;
    background: linear-gradient(#1a82ca, #014a8e);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.87), inset 0 1px 0 rgba(0, 0, 0, 0.82);
}
.btn-default:active, .btn-default:hover, .btn-default:focus{
    background:
        url("/images/bgbtn.png"),
        linear-gradient(90deg, rgba(255,255,255,0.1) 0%, transparent 13%, transparent 87%, rgba(255,255,255,0.1) 100%),
        linear-gradient(#1a82ca, #014a8e);
}
.btn-search{
    height: 32px;
    width: 42px;
    padding-right: 6rem;
    box-shadow: -1px 0px 0px 0px rgba(255,255,255,.35), inset 1px 0px 0px 0px rgba(0,0,0,.35);
    background: url("/images/light-search.png")no-repeat left top;
}

/*FORMS*/
.form-search{
    margin: 2px 1px 2px 0px;
    flex-grow: 1;
    background: black linear-gradient(rgba(0,0,0,.19), rgba(53,53,53,.19));
    max-width: 261px;
    border-radius: 17px;    
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.35);
}
.form-search input{
    border: none;
    background: none;
    height: 31px;
    flex-grow: 1;
    padding: 0px 15rem;
    color: white;
    font-size: 11px;
    outline: none;
}
.form-search input::-webkit-input-placeholder{color: #858585;}
.form-search input::-moz-placeholder{color: #858585;}
.form-search input:-ms-input-placeholder{color: #858585;}