body{
    font-size: 12px;
    font-family: Georgia;
    color: #444343;
}

/*LINKS*/
.links-social{
    margin-right: -5rem;
}
.links-social a{
    margin: 8rem;
}
.links-controls{
    padding-top: 7px;
}
.links-controls a{
    width: 7px;
    height: 7px;
    background: rgba(201,201,201,.75);
    border-radius: 50%;
    margin: 2px;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: rgba(114,114,114,.75);
}
.links-follow{
    color: black;
    font-size: 14px;
    padding-top: 25rem;
}
.links-follow a{
    color: black;
    font-style: italic;
    letter-spacing: -0.01em;
}
.links-follow em{
    margin: 0px 12rem;
}
.links-follow a:active, .links-follow a:hover, .links-follow a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-slide{
    min-width: 35px;
    height: 34px;
    background: rgba(39,39,39,.75);
    border-radius: 50%;
}
.btn-submit{
    font-size: 18px;
    color: #7f7f7f;
    min-width: 128px;
    padding: 0px 5px;
    height: 48px;
    text-align: center;
    background: linear-gradient(#e3e3e3, #c8c8c8);
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

/*FORMS*/
input[name=input], textarea{
    width: 100%;
    max-width: 460px;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    font-size: 16px;
    color: black;
    letter-spacing: 0.012em;
}
input[name=input]{
    height: 50px;
    margin-bottom: 20rem;
    padding: 0px 10px 0px 44px;
}
textarea{
    height: 161px;
    margin-bottom: 25rem;
    background: #ebebeb;
    padding: 10px;
}
input[type=text]{background: #ebebeb url(/images/icons/user-form.png)no-repeat 15rem center;}
input[type=email]{background: #ebebeb url(/images/icons/mail.png)no-repeat 15rem center;}
input[type=url]{background: #ebebeb url(/images/icons/globe.png)no-repeat 15rem center;}
input[name=input]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #878787;font-style: italic; }
input[name=input]::-moz-placeholder, textarea::-moz-placeholder { color: #878787;font-style: italic; }
input[name=input]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #878787;font-style: italic; }