.icon-calendar {width: 15px; height: 17px; background: url('/images/icons/calendar.png');}
.icon-calendarlbl {width: 20px; height: 23px; background: url('/images/icons/calendarlbl.png');}
.icon-camera {width: 60px; height: 66px; background: url('/images/icons/camera.png');}
.icon-circlenext {width: 16px; height: 17px; background: url('/images/icons/circlenext.png');}
.icon-close {width: 13px; height: 13px; background: url('/images/icons/close.png');}
.icon-comments {width: 25px; height: 20px; background: url('/images/icons/comments.png');}
.icon-down {width: 15px; height: 10px; background: url('/images/icons/down.png');}
.icon-fax {width: 20px; height: 20px; background: url('/images/icons/fax.png');}
.icon-fb {width: 9px; height: 18px; background: url('/images/icons/fb.png');}
.icon-fbft {width: 9px; height: 18px; background: url('/images/icons/fbft.png');}
.icon-folder {width: 17px; height: 14px; background: url('/images/icons/folder.png');}
.icon-folderopen {width: 17px; height: 14px; background: url('/images/icons/folderopen.png');}
.icon-globe {width: 44px; height: 44px; background: url('/images/icons/globe.png');}
.icon-gp {width: 17px; height: 18px; background: url('/images/icons/gp.png');}
.icon-gpft {width: 17px; height: 18px; background: url('/images/icons/gpft.png');}
.icon-loc {width: 20px; height: 20px; background: url('/images/icons/loc.png');}
.icon-logosm {width: 49px; height: 59px; background: url('/images/icons/logosm.png');}
.icon-mail {width: 20px; height: 20px; background: url('/images/icons/mail.png');}
.icon-marker {width: 13px; height: 20px; background: url('/images/icons/marker.png');}
.icon-microphone {width: 43px; height: 66px; background: url('/images/icons/microphone.png');}
.icon-note {width: 84px; height: 60px; background: url('/images/icons/note.png');}
.icon-phone {width: 20px; height: 20px; background: url('/images/icons/phone.png');}
.icon-play {width: 58px; height: 58px; background: url('/images/icons/play.png');}
.icon-prev {width: 11px; height: 18px; background: url('/images/icons/prev.png');}
.icon-rocket {width: 44px; height: 44px; background: url('/images/icons/rocket.png');}
.icon-rss {width: 15px; height: 16px; background: url('/images/icons/rss.png');}
.icon-rssftr {width: 15px; height: 16px; background: url('/images/icons/rssftr.png');}
.icon-sharefb {width: 9px; height: 18px; background: url('/images/icons/sharefb.png');}
.icon-sharegp {width: 17px; height: 18px; background: url('/images/icons/sharegp.png');}
.icon-sharetw {width: 16px; height: 14px; background: url('/images/icons/sharetw.png');}
.icon-skype {width: 16px; height: 17px; background: url('/images/icons/skype.png');}
.icon-skypelogo {width: 104px; height: 104px; background: url('/images/icons/skypelogo.png');}
.icon-slidernextgrey {width: 8px; height: 14px; background: url('/images/icons/slidernextgrey.png');}
.icon-slidernextwhite {width: 8px; height: 14px; background: url('/images/icons/slidernextwhite.png');}
.icon-sliderprevgrey {width: 8px; height: 14px; background: url('/images/icons/sliderprevgrey.png');}
.icon-sliderprevwhite {width: 8px; height: 14px; background: url('/images/icons/sliderprevwhite.png');}
.icon-sound {width: 44px; height: 44px; background: url('/images/icons/sound.png');}
.icon-stack {width: 44px; height: 44px; background: url('/images/icons/stack.png');}
.icon-tel {width: 16px; height: 17px; background: url('/images/icons/tel.png');}
.icon-tw {width: 16px; height: 14px; background: url('/images/icons/tw.png');}
.icon-twft {width: 16px; height: 14px; background: url('/images/icons/twft.png');}
.icon-nextsm {width: 11px; height: 18px; background: url('/images/icons/nextsm.png');}
.icon-prevsm {width: 11px; height: 18px; background: url('/images/icons/prevsm.png');}