.icon-aiwa {width: 26px; height: 38px; background: url('/images/icons/aiwa.png');}
.icon-arrow {width: 11px; height: 11px; background: url('/images/icons/arrow.png');}
.icon-bubble {width: 47px; height: 44px; background: url('/images/icons/bubble.png');}
.icon-case {width: 47px; height: 44px; background: url('/images/icons/case.png');}
.icon-clock {width: 47px; height: 44px; background: url('/images/icons/clock.png');}
.icon-cloud {width: 47px; height: 44px; background: url('/images/icons/cloud.png');}
.icon-dropgray {width: 15px; height: 23px; background: url('/images/icons/dropgray.png');}
.icon-dropred {width: 19px; height: 31px; background: url('/images/icons/dropred.png');}
.icon-fb {width: 11px; height: 19px; background: url('/images/icons/fb.png');}
.icon-in {width: 19px; height: 19px; background: url('/images/icons/in.png');}
.icon-mark {width: 19px; height: 19px; background: url('/images/icons/mark.png');}
.icon-strawberry {width: 32px; height: 38px; background: url('/images/icons/strawberry.png');}
.icon-tw {width: 19px; height: 16px; background: url('/images/icons/tw.png');}
.icon-user {width: 32px; height: 32px; background: url('/images/icons/user.png');}
.icon-yt {width: 21px; height: 15px; background: url('/images/icons/yt.png');}