/*COMMON*/
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 980px;
    padding: 0px 10px;
}
body, .form-search{
    background:url("/images/bg.png");
}
.slider, .categories, .reviews article figure, .featured > div, .popular article{
    background: white;
    box-shadow: inset 0 0 15px rgba(154, 55, 0, .1), 0 0 0 5px rgba(231, 227, 168, .75);
}
body > div{
    flex-grow: 1;
    flex-shrink: 0;
} 

/*HEADER*/
#logo{
    margin-right: 43rem;
}
.cart small{
    margin-right: 20rem;
}
.top-bar, footer{
    background: url("/images/bg1.png");
}
.top-bar{
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-image-slice: 0 0 14 0;
    border-image-width: 0px 0px 14px 0px;
    border-image-outset: 0px 0px 14px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("/images/bordertop.png");
}
/* IE10 */
@media all and (-ms-high-contrast:none) {
    .top-bar:after { 
        content: "";
        position: absolute;
        width: 100%;
        height: 14px;
        bottom: -14px;
        left: 0px;
        background:  url("/images/bordertop.png")repeat-x left top;
    }
    *::-ms-backdrop, .top-bar:after { display: none; } 
}
/* IE11 */
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, .top-bar { border-width: 0px; } 
} 
.top-bar > .lwrap{
    padding: 2px 9px 6px 10px;
}
header{
    background: linear-gradient(transparent, transparent 85%, rgba(67, 144, 135, .5)), url("/images/bg3.png");
}
header .links-social{
    padding: 0px 21rem;
}
header > .lwrap{
    padding: 10px 10px 0px 10px;
}
header > .lwrap > div:last-child{
    padding-bottom: 5px;
}
.top-bar > .lwrap > span{
    text-shadow: 0 1px 1px rgba(61, 87, 120, 0.75);
    color: white;
    font-size: 20px;
    font-family: Rockwell;
    padding-left: 20px;
    background: url(/images/icons/phone.png)no-repeat left center;
    padding: 0px 32rem 3px 28px;
}
.top-bar small{
    text-shadow: 0 1px 1px rgba(61, 87, 120, 0.75);
    color: #bacde4;
    font-size: 13px;
    padding: 0px 5px;
    text-align: center;
}
.nav{
    flex-grow: 1;
}
.form-search{
    box-shadow: inset 0 1px 0 rgba(27,140,140,.9);
    padding: 9rem 8rem 0px 8rem;
    border-radius: 5px 5px 0px 0px;
    max-width: 418rem;
    margin-right: 68rem;
    width: 100%;
}
.form-search .btn-submit{
    border: 1px solid #e8360f;
    padding: 0px 2px 0px 6px;
}

/*SLIDER*/
.slider{
    border-radius: 6px;
    margin: 30rem 0px;
    border: 6rem solid white;
    background: url("/images/slider.png");
    background-size: cover;
}
.slider-items{
    padding: 7rem 12rem 7rem 15rem;
}
.slider-items figure{
    margin: 5rem 0px 4rem 0px;
    position: relative;
}
.slider-items a{
    position: relative;
}
.slider-items a.active figure:after, .slider-items a:active figure:after, .slider-items a:hover figure:after, .slider-items a:focus figure:after,
.slider-items a.active figure:before, .slider-items a:active figure:before, .slider-items a:hover figure:before, .slider-items a:focus figure:before,
.slider-items a.active:after, .slider-items a:active:after, .slider-items a:hover:after, .slider-items a:focus:after,
.slider-items a.active:before, .slider-items a:active:before, .slider-items a:hover:before, .slider-items a:focus:before{
    content: "";
    position: absolute;
}
.slider-items a.active figure:after, .slider-items a:active figure:after, .slider-items a:hover figure:after, .slider-items a:focus figure:after{
    width: 100%;
    height: 100%;
    top: 0px;    
    box-shadow: inset 0px 0px 0px 3px #f8f5c6, 0 0 5px rgba(0, 0, 0, 0.5);
}
.slider-items a.active figure:before, .slider-items a:active figure:before, .slider-items a:hover figure:before, .slider-items a:focus figure:before{
    content: "";
    width: 15px;
    height: 15px;
    box-shadow: -1px 2px 1px 0px rgba(0, 0, 0, 0.2);
    left: -15px;
    top: 50%;
    transform: rotate(45deg) translateY(-81%);
}
.slider-items a.active:after, .slider-items a:active:after, .slider-items a:hover:after, .slider-items a:focus:after,
.slider-items a.active:before, .slider-items a:active:before, .slider-items a:hover:before, .slider-items a:focus:before{ 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 50%;
    transform: translateY(-50%);    
}
.slider-items a.active:after, .slider-items a:active:after, .slider-items a:hover:after, .slider-items a:focus:after{
    border-right: 10px solid white;
    z-index: 3;
    left: -7px;
}
.slider-items a.active:before, .slider-items a:active:before, .slider-items a:hover:before, .slider-items a:focus:before{
    border-right: 10px solid #f8f5c6;
    left: -10px;
    z-index: 2;
}
.slider h1{
    font-size: 60rem;
    color: #ea5000;
    font-family: Rockwell;
    font-weight: 400;
    line-height: 50rem;
    margin: 20rem 0px 28rem 0px;
}
.slider h1 small{
    font-size: 25rem;
    line-height: 25rem;
    display: inline-block;
}
.slider h1 span{
    color: #588313;
    display: inline-block;
}
.slider > div:first-child > figure{
    margin: 2rem -99rem -6rem 7rem;
}
.slider > div:first-child > figure + div{
    padding-left: 44rem;
}

/*SIDEBAR*/
.sidebar{
    width: 24%;
    flex-shrink: 0;
    margin: 7rem 18rem 9px 0px;
}
.sidebar p{
    line-height: 15px;
    margin-bottom: -1px;
}
.categories{
    position: relative;
    border-radius: 6px;
    z-index: 0;
}
.categories:after {
    content: "";
    width: 31px;
    height: 34px;
    position: absolute;
    left: -31px;
    top: 21px;
    z-index: -1;
    background: url("/images/flag.png");
}
.reviews article figure{
    float: left;
    margin: 1px 19rem 5px 0px;
    border-radius: 1px;
    border: 1px solid #d2cf99;
    position: relative;
}
.reviews article figure:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 0 15px rgba(154, 55, 0, 0.1);
}
.sidebar > div{
    margin-bottom: 24rem;
}
.reviews article{
    margin-bottom: 16rem;
    padding-bottom: 9rem;
    border-bottom: 1px solid #c2be67;
    letter-spacing: -0.008em;
}
.reviews article:last-child{
    border: none;
    margin-bottom: 1rem;
}
.reviews time{
    color: #a5a5a5;
    font-style: italic;
    letter-spacing: -0.014em;
    white-space: nowrap;
}
.reviews p a, .featured p a{
    color: #707070;
}
.reviews p a:active, .reviews p a:hover, .reviews p a:focus{
    color: #fe6847;
}
.reviews .btn-buy{
    margin-bottom: 3px;
    height: 22px;
    padding: 0px 7px 0px 8px;
}
.payment figure{
    margin: 2px;
}
.payment > div{
    margin: -2px 39px 0px 3px;
}

/*CONTENT*/
.content{
    width: 76%;
}
.content .title{
    margin: 0px 0px 15rem 4rem;
}
.featured{
    margin-bottom: 11rem;
}
.featured > div{
    padding: 10rem 1px;
    border-radius: 5px;
}
.featured > div, .popular article, .categories{
    border: 1px solid #d2cf99;
}
.featured article{
    width: calc(100% / 3);
    padding: 0px 14rem 3rem 14rem;
    border-right: 1px solid #ebe8b0;
}
.featured article:last-child{
    border-right: none;
}
.featured article figure img{
    border-radius: 4px;
}
.featured .divider{
    width: 5px;
    height: 100%;
    min-height: 100%;
    display: block;
}
.featured p{
    margin-bottom: 15rem;
    line-height: 14px;
    letter-spacing: -0.005em;
    width: 100%;    
}
.featured article figure + div{
    padding: 19rem 2rem 10rem 2rem;
}
.price{
    display: inline-block;
    margin-bottom: 9rem;
    font-size: 15px;
}
.price strong{
    font-weight: 700;
    color: #228281;
}
.featured .price strong{
    letter-spacing: 0.02em;
}
.popular{
    border-bottom: 1px solid #c2be67;
    margin-bottom: 20rem;
}
.popular article{
    border-radius: 3px;
    padding: 1px;
    margin-bottom: 25rem;
    width: 22.45%;
}
.popular article figure + div{
    padding: 8rem 18rem 8rem 7rem;
}
.popular > div{
    padding: 9rem 0px 6rem 0px;
    margin-right: -1rem;
}
.popular p{
    line-height: 16px;
    font-size:  13px;
    color: black;
    margin-bottom: 14rem;
}
.popular .price{
    font-size: 12px;
    margin-bottom: 10rem;
}
.popular article .btn{
    margin: 3px 1px;
    padding: 0px 2px 0px 11rem;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    position: relative;
    color: #cfcfcf;
    font-size: 13px;
    border-width: 1px;
    border-image-slice: 15 0 0 0;
    border-image-width: 15px 0px 0px 0px;
    border-image-outset: 15px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-style: solid;
    border-image-source: url("/images/borderbottom.png");
}
/* IE10 */
@media all and (-ms-high-contrast:none) {
    footer:before { 
        content: "";
        position: absolute;
        width: 100%;
        height: 15px;
        top: -15px;
        left: 0px;
        background:  url("/images/borderbottom.png")repeat-x left bottom;
    } 
    *::-ms-backdrop, footer:before { display: none; } 
}
/* IE11 */
@media all and (-ms-high-contrast:none) {
    *::-ms-backdrop, footer { border-width: 0px; } 
}
footer h5{
    color: #f8f5c6;
    font-size: 15px;
    font-weight: 700;
    margin: 10rem 0px 23rem 0px;
}
.copyright a{
    color: #cfcfcf;
    text-decoration: underline;
}
.copyright a:active, .copyright a:hover, .copyright a:focus{
    text-decoration: none;
}
footer > .lwrap {
    padding: 6px 10px 6px 11px;
    position: relative;
}
.anchor{
    position: fixed;
    right: 70rem;
    bottom: 32rem;
    display: none;
}
body:hover .anchor{
    display: block;
}
footer > .lwrap  > div{
    width: 15%;
    margin-bottom: 28px;
}
footer > .lwrap  > div:first-child{
    width: 10%;
}
footer > .lwrap  > div.services{
    width: 19.15%;
}
footer > .lwrap  > div.form-wrap{
    width: 25.5%;
}
footer > .lwrap  > div.copyright{
    width: 100%;
    margin-left: -2rem;
    letter-spacing: -0.007em;
}
footer i{
    flex-shrink: 0;
}
.form-wrap h5{
    margin: 10rem 0px 5rem 0px;
}
.form-wrap .links-social{
    margin: 14rem 0px 18rem -7rem;
}
.form-email > div{
    padding: 10rem 0px;
}
.form-email label{
    letter-spacing: -0.003em;
}
.form-email .btn-submit{
    border: 1px solid #395070;
}
.services i{
    margin-right: 10rem;
}
.services > span{
    margin-bottom: 24rem;
    line-height: 16px;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    input[type="search"] {max-width: 136px;}
    .form-search{ max-width: 222px;margin: 0px 5px;}
    #logo{margin-right: 10px;}
    footer > .lwrap  > div:first-child, footer > .lwrap  > div{width: 31%;}
    footer > .lwrap  > div.services, footer > .lwrap  > div.form-wrap, .categories, .reviews{width: 48%;}
}
@media (max-width: 480px) {
    header > .lwrap > div{order: 1;}
    header > .lwrap > div:last-child, #logo {order: 0;}
    .slider h1 small{font-size: 13px;}
    .hidden{display: none;}
    .featured article{width: 50%;}
    .popular article{width: 48%;}
}
