
/* ICONS */
.icon-bird {width: 36px; height: 28px; background: url('/images/icons/bird.png');}
.icon-fb {width: 32px; height: 32px; background: url('/images/icons/fb.png');}
.icon-in {width: 32px; height: 32px; background: url('/images/icons/in.png');}
.icon-lamp {width: 14px; height: 24px; background: url('/images/icons/lamp.png');}
.icon-lock {width: 16px; height: 20px; background: url('/images/icons/lock.png');}
.icon-next {width: 20px; height: 36px; background: url('/images/icons/next.png');}
.icon-pen {width: 18px; height: 18px; background: url('/images/icons/pen.png');}
.icon-prev {width: 20px; height: 36px; background: url('/images/icons/prev.png');}
.icon-rss {width: 32px; height: 32px; background: url('/images/icons/rss.png');}
.icon-tw {width: 32px; height: 32px; background: url('/images/icons/tw.png');}
.icon-user {width: 17px; height: 17px; background: url('/images/icons/user.png');}
.icon-yt {width: 32px; height: 32px; background: url('/images/icons/yt.png');}