body{
    font-family: Arial;
    font-size: 12px;
}

/*LINKS*/
.links-main a{
    width: 40px;
    height: 99px;
    background: #5fb7c6;
    margin: 0px 1rem 0px 19rem;
    padding-bottom: 9px;
}
.links-topmenu{
    padding: 11rem 0px 10rem 0px;
}
.links-topmenu, .links-topmenu a{
    color: #aaa;
    font-family: ArialNarrow;
    font-size: 11px;
    text-transform: uppercase;
}
.links-topmenu a{
    margin: 2px 12rem;
    letter-spacing: 0.08em;
}
.links-topmenu a:last-child{
    margin-right: -1rem;
}
.links-topmenu a:active, .links-topmenu a:hover, .links-topmenu a:focus{
    text-decoration: underline;
}
.links-nav a{
    padding: 0px 13rem 1rem 0px;    
    margin: 0px 20rem 5rem 0px;
    min-width: 89rem;
}
.links-nav a:not(:last-child){
    border-right: 5rem solid #eee;
}
.links-nav a big{
    color: #0a8ca3;
    font-family: LeagueGothic;
    font-size: 24px;
    display: inline-block;
    line-height: 24px;
    margin-bottom: 2rem;
}
.links-nav a small{
    color: #aaacaf;
    font-family: ArialNarrow;
}
.links-tags a[data-weight~='1']{
    color: #0a8ca3;
    font-size: 24px;
}
.links-tags a[data-weight~='2']{
    color: #44afc2;
    font-size: 16px;
}
.links-tags a[data-weight~='3']{
    color: #70c7d6;
    font-size: 14px;
}
.links-tags a[data-weight~='4']{
    color: #555;
    font-size: 12px;
}
.links-tags a[data-weight~='5']{
    color: #999;
    font-size: 11px;
}
.links-flickr a{
    margin: 0px 5px 5px 0px;
    border: 3px solid #5fb7c6;
    display: inline-block
}
.links-social a{
    margin: 5rem;
}
.links-default{
    width: 100%;
}
.links-default a, .links-default{
    color: #555;
    font-size: 10px;
    text-align: right;
}
.links-default a{
    display: inline-block;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-default{
    min-width: 100rem;
    height: 31px;
    padding: 0px 10rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    background: #d3c5b9;
    letter-spacing: 0.05em;
}
.btn-alt{
    width: 41px;
    height: 31px;
    background: rgba(255,255,255,.5) url(/images/icons/arroww.png)no-repeat center center;
}
.btn-email{
    height: 29px;
    width: 37px;
    border-radius: 0px 2px 2px 0px;
    background: #44afc2 url(/images/icons/arrowg.png)no-repeat center center;
}

/*FORMS*/
.form-search{
    min-width: 150rem;
    max-width: 238px;
    width: 100%;
    height: 30px;
    background: #ebe4de;
    padding: 1rem 2rem 0px 0px;
}
.form-search input[name=search], input[name=email], *[name=contact], textarea[name=subscribe]{
    flex-grow: 1;
}
textarea{
    resize: none;
}
input[name=search], input[name=email], input[name=subscribe], input[name=contact], textarea{
    outline: none;    
    padding: 5px;
    color: #333;
}
input[name=search], input[name=email]{
    border: none;        
}
input[name=search], *[name=contact]{
    background: none;
}
input[name=email]{
    background: #eee;
    height: 29px;
    border: 4px solid #44afc2;
    border-radius: 2px 0px 0px 2px;
}
*[name=subscribe]{
    background: #f1ede9;
    border: 1px solid #d3c5b9;
    width: 100%;
    max-width: 460px;
}
input[name=subscribe]{
    height: 30px;
    margin-bottom: 20rem;
}
*[name=contact]{
    border: 1px solid rgba(255,255,255,.8);
    color: white;
}
textarea[name=contact]{
    height: 73px;
}
input[name=contact]{
    height: 26px;
}
.label-email{
    text-align: right;
    color: #0a8ca3;
    font-size: 11px;
    margin-bottom: 7rem;
    letter-spacing: 0.073em;
    max-width: 200px;
}
.label-subscribe{
    width: 100%;
    color: #555;
    font-size: 14px;
    display: block;
    margin-bottom: 4rem;
}
.label-contact{
    background: rgba(255,255,255,.68);
    color: #057f81;
    height: 26px;
    padding: 0px 10rem;
    font-size: 11px;
    width: 60px;
    display: inline-flex;
    align-items: center;
}
