@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2');
}
a{
    text-decoration: none;
}
.icon-map, .icon-case, .icon-laptop, .icon-basket{
    width: 64px;
    height: 48px;
}
.icon-location, .icon-phone, .icon-letter{
    width: 12px;
    height: 13px;
}
.icon-location{background: url('../images/icons/12x13/location.png');}
.icon-phone{background: url('../images/icons/12x13/phone.png');}
.icon-letter{background: url('../images/icons/12x13/letter.png');}
.icon-basket{background: url('../images/icons/64x48/basket.png');}
.icon-case{background: url('../images/icons/64x48/case.png');}
.icon-laptop{background: url('../images/icons/64x48/laptop.png');}
.icon-map{background: url('../images/icons/64x48/map.png');}
.icon-check{
    width: 12px;
    height: 9px;
    background: url('../images/icons/check.png');
}
.icon-dl{
    width: 12px;
    height: 13px;
    background: url('../images/icons/dl.png');
}
.icon-fb{
    width: 6px;
    height: 13px;
    background: url('../images/icons/fb.png');
}
.icon-fl{
    width: 14px;
    height: 6px;
    background: url('../images/icons/fl.png');
}
.icon-mail{
    width: 13px;
    height: 9px;
    background: url('../images/icons/mail.png');
}
.icon-pin{
    width: 10px;
    height: 13px;
    background: url('../images/icons/pin.png');
}
.icon-rss{
    width: 10px;
    height: 11px;
    background: url('../images/icons/rss.png');
}
.icon-tw{
    width: 9px;
    height: 12px;
    background: url('../images/icons/tw.png');
}
body{
    background-color: #ececec;
}
.lwrap{
    max-width: 1140px;
    padding: 0px 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.09);
    padding: 0px 10px 36px 10px;
}
header .lwrap{
    background-color: transparent;
    padding: 51px 10px 20px 10px;
    max-width: 1182px;
}
header{
    background-color: #28343c;
    position: relative;
}
header h1{
    color: #fff;
    font: 300 40px/50px 'Source Sans Pro';
    margin: 35px 0px 20px 22px;
}
header h1 b{
    font: 700 40px/50px 'Source Sans Pro';
}
header:after{
    content: "";
    height: 200px;
    width: 100%;
    display: block;
    background-color: #28343c;
    position: absolute;
    top: 100%;
    z-index: -1;
}
.header, .nav {
    flex-wrap: wrap;
}
a.btn-nav{
    min-height: 28px;
    letter-spacing: 0.03em;
    min-width: 96px;
    border-radius: 3px;
    font: 700 12px/24px 'Source Sans Pro';
    text-transform: uppercase;
    color: #efefef;
    position: relative;
    padding:  2px 5px;
}
.nav a.btn-nav{
    margin: 5px 10px 5px 10px;
}
.nav a.btn-nav:last-child{
    margin: 5px 0px 5px 10px;
}
a.btn-nav.active, a.btn-nav:hover{
    background-color: #f6f6f6;
    color: #ca6666;
}
a.btn-nav.active:after, a.btn-nav:hover:after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 8px solid #f6f6f6;
    border-left: 4px solid transparent; 
    border-right: 4px solid transparent; 
}
.logo{
    margin: -2px 20px 2px 21px;
}
.content{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
}
.banner{
    padding: 72px 75px 75px 80px;
    min-height: 550px;
    background-color: #c7c7c7;
}
.banner h1{
    font: 700 23px/50px 'Source Sans Pro';
    background-color: #ca6666;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
}
.banner h2{
    color: #575757;
    font: 300 23px/50px 'Source Sans Pro';
    background-color: white;
    padding: 2px 18px 0px 19px;
}
.banner h1{
    font: 700 23px/50px 'Source Sans Pro';
    background-color: #ca6666;
    padding: 0px 18px 2px 20px;
    color: white;
}
.intro{
    min-height: 280px;
    padding: 12px 10px 37px 10px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.09);
}
.intro h2{
    text-align: center;
    color: #616161;
    font: 700 28px/70px 'Source Sans Pro';
    margin: 0px 0px 16px 0px;
}
.intro h2:after, .services article h3:after, .about h4:after{
    background-color: rgba(0,0,0,.15);
    height: 1px;
    width: 40px;
    content: "";
    display: block
}
.intro p{
    text-align: center;
    color: #616161;
    font: 300 21px/30px 'Source Sans Pro';
    margin: 0px 47px 18px 47px;
}
a.btn-default{
    min-width: 147px;
    min-height: 38px;
    background-color: #ca6666;
    color: #fff;
    padding: 2px 5px;
    font: 700 15px/24px 'Source Sans Pro';
}
.services .grid > article{
    width: 50%;
    padding: 10px 39px 8px 9px;
}
.services{
    background-color: #fff;
    padding: 33px 10px 39px 38px;
    box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,.09);
}
.services h2{
    font: 700 24px/50px 'Source Sans Pro';
    color: #616161;
    margin: 0px 0px 2px 13px;
}
.services h2 ~ p{
    color: #616161;
    font: 14px/24px 'Source Sans Pro';
    margin: 0px 0px 9px 12px;
}
.services article i{
    min-width: 64px;
    margin: 24px 28px 0px 0px;
}
.services article h3{
    color: #616161;
    font: 700 20px/66px 'Source Sans Pro';
    margin: 0px 0px 16px 0px;
}
.about h4{
    color: #616161;
    font: 700 20px/65px 'Source Sans Pro';
    margin: 0px 0px 18px 0px;
}
.services article p, .about p, .about li{
    color: #616161;
    font: 14px/24px 'Source Sans Pro';
}
.about{
    padding: 14px 40px 14px 40px;
    background-color: #f9f9f9;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
}
.about > div{
    flex: 1;
    padding: 10px 31px 10px 10px;
}
.about > div:last-child{
    padding: 10px 10px 10px 10px;
}
.about > div:last-child > div{
    padding: 7px 0px 0px 0px;
}
.about p{
    margin: 0px 0px 7px 0px;
}
.about .post{
    padding: 2px 0px 25px 0px;
    margin: 0px 0px 19px 0px;
    border-bottom:  1px solid rgba(0,0,0,.15);
}
.about .post figure{
    min-width: 70px;
    margin: 5px 19px 0px 0px;
}
.about .post h5{
    font: 700 16px 'Source Sans Pro';
    margin: 0px 0px 10px 0px;
}
.about .post h5 a{
    color: #616161;
}
.about .post h5:hover{
    text-decoration: underline;
}
.about .lbl-date{
    margin: 11px 0px 0px 0px;
}
.lbl-date{
    font: 700 12px 'Source Sans Pro';
    text-transform: uppercase;
    color: #fff;
    width: 70px;
    min-height: 28px;
    background-color: #ca6666;
    position: relative;
    border-radius: 3px;
    padding: 2px 2px 3px 2px;
}
.about .post time:before{
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    border-bottom: 8px solid #ca6666; 
    border-left: 4px solid transparent; 
    border-right: 4px solid transparent;
}
.list-default li:before{
    width: 12px;
    height: 9px;
    top: 12px;
    background: url('../images/icons/check.png');
}
.list-default li{
    padding: 0px 0px 0px 22px;
}
.about blockquote{
    margin: 0px 0px 7px 0px;
}
.about blockquote cite{
    color: #616161;
    font: 700 14px/42px 'Source Sans Pro';
}
.about blockquote p{
    position: relative;
    background-color: #efefef;
    padding: 14px 20px 16px 21px;
    font: 14px/22px 'Source Sans Pro';
}
.about blockquote p:after{
    content: "";
    bottom: -15px;
    position: absolute;
    border-top: 15px solid #e4e4e4;
}
.about div blockquote:nth-child(odd) cite{
    text-align: right;
}
.about div blockquote:nth-child(even) p:after{
    border-right: 15px solid transparent;
    left: 35px;
}
.about div blockquote:nth-child(odd) p:after{
    border-left: 15px solid transparent;
    right: 34px;
}
footer{
    background-color: #28343c;
}
footer .grid{
    padding: 36px 25px 0px 40px;
}
footer .grid > div{
    flex: 1;
    min-width: 200px;
    padding: 10px 25px 30px 10px;
}
.copyright, .social{
    flex-wrap: wrap;
}
.copyright{
    padding: 10px 45px 10px 49px;
    min-height: 82px;
    background-color: #253038;
}
footer .post {
    border-bottom: 1px solid #3e4950;
    padding: 11px 0px 10px 0px;
    margin: 0px 0px 3px 0px;
}
.post:last-child {
    border-bottom: none;
    margin: 0px;
}
footer a:hover{
    text-decoration: underline;
}
footer h6{
    color: #fff;
    font:700 18px/22px 'Source Sans Pro';
    margin: 0px 0px 10px 0px;
}
footer time{
    color: #ca6666;
    font:14px/24px 'Source Sans Pro';
    padding: 6px 0px 5px 0px;
}
footer .description p{
    margin: 20px 0px 25px 0px;
    font: 14px/25px 'Source Sans Pro';
}
footer .contact p{
    margin: 25px 10px 16px 0px;
    font: 14px/24px 'Source Sans Pro';
    letter-spacing: 0.02em;
}
.copyright span, footer span, footer p, footer a, footer address{
    color: #d2d2d2;
    font: 14px/24px 'Source Sans Pro';
}
footer .post a{
    font: 14px/22px 'Source Sans Pro';
}
.btn-social{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    margin: 4px 5px 4px 4px;
}
.contact i{
    min-width: 10px;
    margin: 8px 15px 0px 0px;
}
.contact span, .contact a, .contact address{
    letter-spacing: 0.02em;
    padding: 0px 20px 0px 0px;
}
.copyright span{
    padding: 0px 0px 8px 0px;
}
@media (max-width: 900px) {
    .about {
        padding: 14px 0px;
    }
    footer .grid {
        padding: 36px 0px 0px 0px;
    }
}
@media (max-width: 800px) {
    .services .grid > article {
        width: 100%;
        padding: 10px 10px 10px 10px;
    }
    .services {
        padding: 33px 0px 39px 0px;
    }
    .services article i {
        margin: 24px 10px 0px 0px;
    }
    .services article h3 {
        font: 700 18px/50px "Source Sans Pro";
    }
    .about{
        flex-direction: column;
    }
    .about > div {
        width: 100%;
    }

}
@media (max-width: 600px) {
    .banner {
        padding: 72px 30px 75px 30px;
    }
}