body{
    font-family: Arial;
    font-size: 12px;
}

/*LINKS*/
.links-social{
    margin-bottom: 11rem;
}
.links-social a{
    width: 24px;
    height: 24px;
    margin: 3px 0px 3px 8px;
}
.fb{
    background: #3b5998;
}
.tw{
    background: #26a6d1;
}
.tb{
    background: #34526f;
}
.rss{
    background: #f4b459;
}

/*OTHER*/
.more{
    color: white;
    font-family: BrandonPrinted;
    font-size: 24px;
    text-transform: uppercase;
}