/*COMMON*/
body{
    background: url('/images/bg.png');
}
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
body > .lwrap{
    max-width: 1036px;
    padding: 0px 10px;
    min-height: 100%;
}
.slider-wrap{
    margin: 43rem 0px 44rem 0px;
}
section > a:first-child{
    margin-right: 5px;
}
section > a:last-child{
    margin-left: 5px;
}

/*HEADER*/
header.lwrap{
    max-width: 940px;
    padding: 0px;
    border-top: 5rem solid rgba(0,0,0,.3);
}

/*SLIDER-TOP*/
.slider-top {
    padding: 13rem 12rem 12rem 12rem;
    position: relative;
    background: url('/images/bg-slider.png');
}
.slider-top, .slider-middle, .slider-bottom {
    max-width: 941px;
    border: 1px solid rgba(131,129,129,.52);
    box-shadow: 0px 2px 4px rgba(0,0,0,.24), inset 0px 1px 0px rgba(255,255,255,.5);
}
.slider-top:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 14px; 
    left: 0;
    bottom: -15px;   
    background: url('/images/shadow2.png')no-repeat center top;
    background-size: 100%;
}
.slider-top .links-controls{
    position: absolute;
    left: 50%;
    bottom: 20rem;
    transform: translateX(-50%);
}
.slider-top figure{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32), inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*SLIDER-MIDDLE*/
.slider-middle{
    padding: 13rem 11rem 12rem 13rem;
}
.slider-middle, .slider-bottom{
    background: rgba(255,255,255,.5);
}
.slider-middle figure{
    position: relative;
    margin-bottom: 1px;
    width: 24.9%;
}
.slider-middle figure:hover .overlay{
    display: flex;
}
.overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
}

/*SLIDER-BOTTOM*/
.slider-bottom{
    padding: 16rem 12rem 13rem 12rem;
}
.slider-bottom article{
    width: 30%;
    margin-bottom: 24rem;
}
.slider-bottom article h4{
    text-transform: uppercase;
    color: #656565;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.005em;
}
.slider-bottom article p{
    color: #656565;
    margin: 9rem 0px 11rem 0px;
    line-height: 19px;
    letter-spacing: -0.007em;
}
.slider-bottom article span{
    color: #999;
    font-family: Georgia;
    line-height: 21px;
    font-style: italic;
    letter-spacing: -0.008em;
}
.slider-bottom h2 {
    color: #909090;
    text-align: center;
    line-height: 19px;
    font-family: Homestead;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 15rem;
}
.slider-bottom > div {
    padding: 24rem 2px 0px 24rem;
    background-color: rgba(255,255,255,.5);
}

/*FOOTER*/
footer.lwrap{
    width: 100%;
    padding: 49rem 0px 20rem 0px;
    border-bottom: 14px solid rgba(0,0,0,.3);
    max-width: 940px;
}
footer span, footer span a {
    color: #9e9e9e;
    line-height: 17px;
    font-size: 11px;
    letter-spacing: 0.004em;
}
footer span a:active, footer span a:hover, footer span a:focus{
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .links-nav a{flex-basis: 25%;height: 30px;}
    .slider-middle figure{width: 49.8%;}
}
@media (max-width: 480px) {
    .links-nav a{flex-basis: 50%;}
    footer span{text-align: center;}
}