@font-face {
    font-family: 'Absara Light';
    src: url('../fonts/Absara/AbsaraSans-Light.otf');
}
@font-face {
    font-family: 'Ribbon';
    src: url('../fonts/Ribbon131BT.ttf');
}
a{
    text-decoration: none;
}
body{
    background-color: #ebeaea;
}
.icon-case, .icon-home, .icon-journal, .icon-mail, .icon-portfolio{
    width: 30px;
    height: 27px;
}
.icon-fb, .icon-fl, .icon-tw, .icon-rss{
    width: 37px;
    height: 34px;
}
.icon-flower{
    width: 24px;
    height: 24px;
    background: url('../images/icons/flower.png');
}
.icon-home{background: url('../images/icons/30x27/home.png');}
.icon-case{background: url('../images/icons/30x27/case.png');}
.icon-journal{background: url('../images/icons/30x27/journal.png');}
.icon-mail{background: url('../images/icons/30x27/mail.png');}
.icon-portfolio{background: url('../images/icons/30x27/portfolio.png');}
.icon-fb{background: url('../images/icons/37x34/fb.png');}
.icon-fl{background: url('../images/icons/37x34/fl.png');}
.icon-rss{background: url('../images/icons/37x34/rss.png');}
.icon-tw{background: url('../images/icons/37x34/tw.png');}
header{
    padding: 35px 10px 10px 10px;
background-color: #4f4747;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.55);
}
header .lwrap{
    max-width: 654px;
}
.lwrap{
    max-width: 960px;
}
.logo{
    text-align: center;
    font: 37px 'Ribbon';
    color: #a9a5a5;
    transform: rotate(-2deg);
    margin: 0px 0px 1px 10px;
}
.nav{
    width: 100%;
    flex-wrap: wrap;
    padding: 26px 0px 2px 0px;
}
.nav a{
    margin: 5px;
    color: #a9a5a5;
font: 17px 'Absara Light';
}
.content{
    padding: 80px 10px 59px 10px;
}
.preview{
    padding: 0px 0px 41px 0px;
}
.preview figure{
 padding: 20px 20px 20px 20px;
background-color: white;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
 margin: 0px 10px 0px 0px;
 width: 47%;
}
.preview figure img{
    width: 100%;
}
.preview > div{
    padding: 0px 0px 0px 2px;
    width: 49%;
}
.preview h4{
color: #74927b;
font: 700 15px/22px "Tahoma";
margin: -2px 0px 22px 0px;
}
.preview p{
    margin: 0px 0px 22px 0px;
    color: #4f4747;
    font: 15px/22px "Tahoma";
}
.grid article img{
    float: left;
    margin: 5px 17px 0px -1px;
}
.grid article h3{
    color: #4f4747;
    font: 20px "Tahoma";

    margin: 0px 0px 11px 0px;
}
.preview + h2{
color: #74927b;
font: 700 22px "Tahoma";
margin: 0px 0px 26px 0px;
text-transform: uppercase;
}
.grid{
    flex-wrap: wrap;
    margin: 0px -47px 0px -6px;
}
.grid article {
    flex: 1;
    margin: 5px 38px 40px 5px;
}
.grid article p{
    color: #4f4747;
    font: 14px/24px "Tahoma";
    margin: 0px 0px 3px 0px;
    letter-spacing: 0.004em;
}
.grid article a{
    color: #74927b;
    font: italic 14px "Tahoma";
text-decoration: underline;
}
.border{
    margin: 29px 0px 0px 0px;
    background: url('../images/border.png') no-repeat center center;
}
footer{
    padding: 5px 0px 0px 0px;
}
footer, .social{
    flex-wrap: wrap;
}
.social{
    margin: 0px -1px 0px 0px;
}
.social a{
    margin: 2px 0px 10px 8px;
}
footer span{
    font: 13px "Tahoma";
    color: #a9a5a4;
}
@media (max-width: 950px) {
    .grid {
    justify-content: space-around;
    margin: 0px -5px 0px -5px;
}
}
@media (max-width: 800px) {
    .grid{
        flex-direction: column;
    }
    .grid article {
        width: 100%;
    }
}
@media (max-width: 600px) {
    .nav{
        justify-content: space-around;
    }
    .preview{
        flex-direction: column;
    }
    .preview figure {
    margin: 0px 0px 30px 0px;
    width: 100%;
}
.preview > div {
    padding: 0px 0px 0px 0px;
    width: 100%;
}
}