.icon-arrow {width: 11px; height: 8px; background: url('/images/icons/arrow.png');}
.icon-clock {width: 17px; height: 17px; background: url('/images/icons/clock.png');}
.icon-cloud {width: 17px; height: 17px; background: url('/images/icons/cloud.png');}
.icon-mark {width: 9px; height: 17px; background: url('/images/icons/mark.png');}
.icon-search {width: 16px; height: 16px; background: url('/images/icons/search.png');}
.icon-tww {width: 24px; height: 17px; background: url('/images/icons/tww.png');}
.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-in {width: 17px; height: 16px; background: url('/images/icons/in.png');}
.icon-pin {width: 16px; height: 16px; background: url('/images/icons/pin.png');}
.icon-tw {width: 24px; height: 17px; background: url('/images/icons/tw.png');}