@font-face {
    font-family: 'lucidaGrande';
    src: url('/fonts/fontsquirel.com/lucidagrande.woff2') format('woff2'), url('/fonts/fontsquirel.com/lucidagrande.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}