figure img, #logo-alt img, #logo img{
    width: 100%;
    height: 100%;
    display: block;    
}
figure{
    flex-shrink: 0; 
}
body{
    background: url("/images/bg.png");
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
#logo{
    margin: 5px 0px;
}
.topbar{
    background-color: rgba(0,0,0,.8);
    box-shadow:0px 9px 0px 0px rgba(44,39,39,.06);
}
.topbar .lwrap{
    padding: 11rem 10px 10rem 10px;
}
.topbar a, .topbar span{
    font-family: Arial;
    text-shadow: 0 1px 1px rgba(0,0,0,.7);
}
.topbar a{
    color: #8c8989; 
}
.topbar span{
    color: #565659;
    font-style: italic;
    padding: 0px 2px;
}
.topbar a i{
    margin-right: 5px;
}
.topbar a:active, .topbar a:hover, .topbar a:focus{
    color: #bfbfbf;
}
.header{
    padding: 40rem 10px 0rem 10px;
}
.header figure{
    margin: 6px;
    box-shadow: 0px 0px 0px 4px rgba(86,86,89,.04);
}
.content-wrap {
    padding: 9rem 10px 102rem 10px;
}
.content{
    padding-bottom: 20px;
    width: 100%;
}
.sidebar{
    width: 35.1%;
    flex-shrink: 0;
    padding: 1px 0px 0px 30rem;
}
p{
    line-height: 20px;
    color: #444;    
}
.blog p{
    margin-bottom: 19px;
}
.blog{
    padding-bottom: 45rem;
}
.blog p a{
    color: #c63;
    border-bottom: 1px solid #e2e2e2;    
}
.blog p a:active, .blog p a:hover, .blog p a:focus{
    border-bottom: 1px solid #f1cba5;
}
.content-wrap figure{
    padding: 2px;
    background: white;
    border: 1px solid #c6c6c6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);       
}
.blog figure{
    margin-bottom: 25rem;
}
.description a, .description{
    color: #999;
}
.description{
    display: inline-block;
    font-family: Georgia;
    font-size: 11px;
    padding: 2px 0px 19rem 0px;
    font-style: italic;
    letter-spacing: -0.017em;
}
.description a:active, .description a:hover, .description a:focus{
    color: #444;
}
.blog .hdr-lg{
    font-size: 22px;
    margin-bottom: 12px;
}
.blog .post figure {
    float: left;
    margin: 4rem 25rem 5rem 0px;
}
.twocol p{
    width: 48%;
    margin-bottom: 20px;
}
.threecol p{
    width: 30%;
}
.about{
    padding-bottom: 64rem;
}
.about figure {        
    margin: -1px 17px 0px 0px;
}
.about .hdr-sm {
    margin-bottom: 31px;
}
.related{    
    padding-bottom: 50rem;
}
.related figure{
    margin-bottom: 12px;
}
.related article {
    width: 22.3%;
    margin-top: 11px;
}
.related a {
    color: #444;
}
.related a:active, .related a:hover, .related a:focus{
    color: #c63;
}
.message .message, .message .message:last-child {
    padding: 32rem 10rem 0px 0px;
    box-shadow: none;
    border-bottom: none;
}
.message {
    padding: 28rem 10rem 29rem 11rem;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.8);
    position: relative;
}
.message > div{
    width: 100%;
}
.message:last-child{
    padding: 28rem 10rem 21rem 11rem;
}
.message figure{
    margin: -1rem 21rem 0px 0px;
}
.message a:active strong, .message a:hover strong, .message a:focus strong, .message a:active em, .message a:hover em, .message a:focus em{
    color: #c63;
}
.message a:active time, .message a:hover time, .message a:focus time{
    text-decoration: underline;
}
.message .message:before {
    width: 1px;
    height: 100%;
    top: -6px;
    border-right: 1px solid white;
}
.message .message:after, .message .message:before {
    background: #e2e2e2;
    content: "";
    position: absolute;
    left: -53px;
}   
.message .message:after {
    width: 32px;
    height: 1px;
    top: 64px;
    border-bottom: 1px solid white;
}
.message strong {
    color: #333;
    letter-spacing: 0.03em;
    padding-right: 6px;
    letter-spacing: -0.012em;
}
.message time, .message em {
    color: #999;
    font-family: Georgia;
    font-size: 11px;
    font-style: italic;
    letter-spacing: -0.01em;
}
.message p{
    margin-top: 15px;    
}
.message a:active strong, .message a:hover strong, .message a:focus strong, .message a:active em, .message a:hover em, .message a:focus em{
    color: #c63;
}
.message time:active, .message time:hover, .message time:focus{
    color: #444;
}
.form-wrap{
    padding-top: 50rem;
}
.form-wrap form{
    padding-top: 33rem;
}
.form-wrap form > div {
    margin-bottom: 20px;
}
.form-wrap button {
    margin: 0px 11rem 5px 0px;
}
.grid figure{
    width: 44.655%;
    margin-bottom: 30px;
}
.grid figure, .links-wrap figure{
    border: none;
    padding: 0px;
    box-shadow: 0px 0px 0px 10rem rgba(86,86,89,.04);
}
.links-wrap > div{
    width: 47%;
}
.links-wrap > div{
    width: 47%;
}
.grid{
    padding: 0px 10px;
}
.links-wrap figure{
    max-width: 120px;
    margin: 40px 0px 0px 11px;
}
.subscribe{
    padding: 13rem 23rem 33rem 9rem;
}
.subscribe > div{
    margin: 5px;
}
.subscribe strong{
    color: #444;
    font-family: Georgia;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
}
.subscribe small{
    color: #888;
    font-family: Georgia;
    line-height: 15px;
}
.popular figure {
    margin: 3rem 14rem 0px 0px;
    float: left;
}
.popular p {
    margin-bottom: 2px;
}
.popular {
    border-bottom: 1px solid #e2e2e2;
    padding: 13rem 10rem 15rem 19rem;
}
.popular:last-child{
    border-bottom: none;
}
.popular p a {
    color: #444;
}
.popular a:active, .popular a:hover, .popular a:focus{
    text-decoration: underline;
}
.popular > div > a, .popular time{
    color: #aaa;
    font-family: Georgia;
    font-size: 11px;
}
.flickr > div{
    padding: 10px 0px 31px 0px;
}
.flickr figure{
    margin-bottom: 11px;
    width: 22%;
    min-width: 50px;
    max-width: 80px;
}
.video .hdr-sm{
    margin-bottom: 31px;
}
.video{
    padding-bottom: 44rem;
}
.video > div{
    padding-bottom: 6px;    
    border: 5px solid rgba(86,86,89,.03)
}
footer {
    box-shadow: 0px -9px 0px 0px rgba(44, 39, 39, 0.06);
    background: url("/images/bgalt.png");
}
.footer {
    padding: 70rem 8px 15px 10px;
}
.footer > div {
    width: 23.6%;
    padding-top: 1px;
}
.footer .hdr-sm:before, .footer .hdr-sm:after{
    background: url("/images/borderblack.png");
}
.footer .hdr-sm {
    margin-bottom: 30px;
    color: #ddd;
}
.footer p {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    color: #8c8989;
    margin-bottom: 20px;
}
.footer .tweet{
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,.05);
    margin-bottom: 20px;
}
.footer .tweet:last-child{
    border-bottom: none;
    box-shadow: none;
}
.footer time{
    font-size: 11px;
}
footer a {
    color: #bfbfbf;
}
footer a:active, footer a:hover, footer a:hover{
    text-decoration: underline;
}
.copyright .lwrap {
    padding: 24px 10px 20px 10px;
}
.copyright {
    background-color: rgba(0,0,0,.3);
}
.copyright span{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: Arial;
    color: #8c8989;
    letter-spacing: -0.01em;
}
/*MEDIA QUERIES*/
@media (max-width: 960px) {
    .links-nav a {box-shadow: 0px 1px 0px 0px #d8d8d8, inset 0px 1px 0px 0px rgba(0,0,0,0.05);}
}
@media (max-width: 800px) {
    .links-nav{border: none;box-shadow: none;order: 1;width: 62%; margin-top: 0px;}
    .header figure{order: 2;width: 98%;}
    .links-nav a {box-shadow: 0px 1px 0px 0px #d8d8d8, inset 1px 1px 0px 0px rgba(0,0,0,0.05);}
}
@media (max-width: 640px) {
    .sidebar {padding-left: 0rem;}
    .sidebar > *{width: 100%;}
    .sidebar > form, .sidebar > .subscribe, .sidebar > .video, .sidebar > .grid{width: 48%;}
    .subscribe {padding: 0rem 0rem 33rem 0rem;}
    .sidebar > .video{order: 3;}
    .sidebar > .tabs-sidebar{order: 4;}
    .sidebar > .flickr{order: 5;}
    .sidebar > .links-wrap{order: 6;}
    .flickr figure{margin-right: 5px;}
    .links-nav{width: 100%;}
}
@media (max-width: 480px) {
    .footer > div {width: 48%;}
    .blog .post figure {max-width: 200px;}
    .related article {width: 48%;}
    .sidebar > form, .sidebar > .subscribe, .sidebar > .video, .sidebar > .grid{width: 100%;}
    .grid figure {width: 23%;}
}