.icon-arrow {width: 16px; height: 16px; background: url('/images/icons/arrow.png');}
.icon-basket {width: 40px; height: 40px; background: url('/images/icons/basket.png');}
.icon-check {width: 16px; height: 16px; background: url('/images/icons/check.png');}
.icon-email {width: 28px; height: 28px; background: url('/images/icons/email.png');}
.icon-graph {width: 56px; height: 56px; background: url('/images/icons/graph.png');}
.icon-heart {width: 56px; height: 56px; background: url('/images/icons/heart.png');}
.icon-laptop {width: 44px; height: 44px; background: url('/images/icons/laptop.png');}
.icon-location {width: 32px; height: 32px; background: url('/images/icons/location.png');}
.icon-lock {width: 48px; height: 48px; background: url('/images/icons/lock.png');}
.icon-logo {width: 16px; height: 16px; background: url('/images/icons/logo.png');}
.icon-mobile {width: 56px; height: 56px; background: url('/images/icons/mobile.png');}
.icon-music {width: 48px; height: 48px; background: url('/images/icons/music.png');}
.icon-news {width: 28px; height: 28px; background: url('/images/icons/news.png');}
.icon-phone {width: 32px; height: 32px; background: url('/images/icons/phone.png');}
.icon-photo {width: 28px; height: 28px; background: url('/images/icons/photo.png');}
.icon-play {width: 24px; height: 24px; background: url('/images/icons/play.png');}
.icon-rating {width: 48px; height: 48px; background: url('/images/icons/rating.png');}
.icon-social-facebook {width: 20px; height: 20px; background: url('/images/icons/social-facebook.png');}
.icon-social-gplus {width: 20px; height: 20px; background: url('/images/icons/social-gplus.png');}
.icon-social-pinterest {width: 24px; height: 24px; background: url('/images/icons/social-pinterest.png');}
.icon-social-twitter {width: 20px; height: 20px; background: url('/images/icons/social-twitter.png');}
.icon-star {width: 52px; height: 52px; background: url('/images/icons/star.png');}
.icon-twitter {width: 24px; height: 24px; background: url('/images/icons/twitter.png');}