@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=9ad20764-0721-4772-ac8a-8381b6c4ff42");


/* FONTS */
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/fonts.com/b0868b4c-234e-47d3-bc59-41ab9de3c0db.woff2") format("woff2"), url("/fonts/fonts.com/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff");
}
/* ICONS */
.icon-beh {width: 13px; height: 9px; background: url('/images/icons/beh.png');}
.icon-bubble {width: 16px; height: 15px; background: url('/images/icons/bubble.png');}
.icon-calendar {width: 16px; height: 16px; background: url('/images/icons/calendar.png');}
.icon-db {width: 14px; height: 13px; background: url('/images/icons/db.png');}
.icon-fb {width: 8px; height: 14px; background: url('/images/icons/fb.png');}
.icon-for {width: 11px; height: 13px; background: url('/images/icons/for.png');}
.icon-globe {width: 16px; height: 16px; background: url('/images/icons/globe.png');}
.icon-mail {width: 16px; height: 12px; background: url('/images/icons/mail.png');}
.icon-mark {width: 8px; height: 15px; background: url('/images/icons/mark.png');}
.icon-name {width: 16px; height: 15px; background: url('/images/icons/name.png');}
.icon-tw {width: 21px; height: 14px; background: url('/images/icons/tw.png');}
.icon-user {width: 16px; height: 15px; background: url('/images/icons/user.png');}
.icon-v {width: 12px; height: 11px; background: url('/images/icons/v.png');}
.icon-yt {width: 13px; height: 8px; background: url('/images/icons/yt.png');}