@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/HelveticaNeue.ttf');
}
a{
    text-decoration: none;
}
.icon-globe, .icon-star{
    width: 48px;
    height: 48px;
}
.icon-facebook, .icon-google, .icon-pinterest, .icon-twitter{
    width: 20px;
    height: 20px;
}
.icon-apple, .icon-android, .icon-windows{
    width: 28px;
    height: 28px;
}
.icon-gear{
    width: 44px;
    height: 44px;
    background: url('/images/icons/gear.png');
}
.icon-linkedin{
    width: 16px;
    height: 16px;
    background: url('/images/icons/16x16/linkedin.png');
}
.icon-youtube{
    width: 24px;
    height: 24px;
    background: url('/images/icons/24x24/youtube.png');
}
.icon-apple{background: url('/images/icons/28x28/apple.png');}
.icon-android{background: url('/images/icons/28x28/android.png');}
.icon-windows{background: url('/images/icons/28x28/windows.png');}
.icon-facebook{background: url('/images/icons/20x20/facebook.png');}
.icon-google{background: url('/images/icons/20x20/google.png');}
.icon-pinterest{background: url('/images/icons/20x20/pinterest.png');}
.icon-twitter{background: url('/images/icons/20x20/twitter.png');}
.icon-globe{background: url('/images/icons/48x48/globe.png');}
.icon-star{background: url('/images/icons/48x48/star.png');}
header{
    border-top: 10px solid #2dcb71;
    background: url('/images/bg.png') no-repeat;
    background-size: cover;
}
.header{
    max-height: 600px;
    padding: 95px 10px 0 10px;
}
.header, .features, .form, .testimonials, .footer{
    max-width: 1200px;
    margin: auto;    
}
.header > div{
    width: 48%;
}
.header > div:first-child{
    padding: 50px 0px 10px 120px
}
.header > div > img{
    width: 100%;
    max-width: 440px;
    max-height: 504px;
    margin-right: 50px;
}
.header h1{
    color: #fff;
font: 60px "Pacifico";
margin-bottom: 30px;
}
.header h1 span{
    color: #2dcb71;
}
.header p{
    max-width: 590px;
    color: #fff;
    margin-bottom: 10px;
    font: 24px/36px "Helvetica Neue";
}
.systems{
    flex-wrap: wrap;
}
.btn-system{
    min-width: 52px;
height: 52px;
border-radius: 50%;
background-color: #000;
opacity: 0.5;
margin: 8px 16px 8px 0;
}
.btn-system:hover{
    opacity: 1;
    background-color: #2dcb71;
}
.features{
    flex-wrap: wrap;
    padding: 60px 10px 20px 10px;
    max-width: 1220px;
}
.features article{
    max-width: 350px;
    margin-bottom: 30px;
}
.features article h3{
    margin: 30px 0 25px 0;
}
.features article h3, .form h3{
    color: #212121;    
    font: 600 22px/18px "Raleway";
}
.features article p{
    text-align: center;
}
.features article p, .form p{
    color: #848484;    
    font: 16px/26px "Helvetica Neue";
}
.lbl-feature{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #2dcb71;
}
.form-wrap{
    background-color: #e3e3e3;
}
.form{
    padding: 60px 10px;
}
.form > *{
    width: 48%;
}
.form p{
    margin-bottom: 20px;
}
.form h3{
    margin-bottom: 25px;
}
.form form{
    padding-bottom: 85px;
}
.form input{
    max-width: 305px;
    width: 70%;
    height: 56px;
    border: 1px solid #c8c8c8;
    border-radius: 15px 0 0 15px;
    border-right: none;
    padding: 0 25px;
    background-color: #fff;
    color: #818181;
    font-size: 18px;
    font-family: "Helvetica Neue";
}
.form input::-webkit-input-placeholder{
    color: #818181;
    font-size: 18px;
    font-family: "Helvetica Neue";
}
.form input::-moz-placeholder{
    color: #818181;
    font-size: 18px;
    font-family: "Helvetica Neue"; 
}
.form input:-ms-input-placeholder{
    color: #818181;
    font-size: 18px;
    font-family: "Helvetica Neue";
}
.btn-form{
    min-width: 141px;
    height: 56px;
    border-radius: 0 15px 15px 0;
    background-color: #2dcb71;
    color: #fff;
    font: 600 22px/18px "Raleway";
}
.form iframe{
    width: 100%;
    max-height: 361px;
    max-width: 545px;
}
.testimonials{
    padding: 50px 10px 60px 10px;
}
.testimonials blockquote{
    text-align: center;
    max-width: 840px;
    margin: auto;
    color: #838383; 
    margin-bottom: 20px;
    font: italic 18px/30px "Helvetica Neue";
}
.testimonials blockquote p{
    margin-bottom: 16px;
}
.testimonials blockquote cite{
    color: #2d2d2d;    
    font: 700 18px/20px "Raleway";
}
.images {
    margin-bottom: 55px;
    flex-wrap: wrap; 
}
.images > div{
    position: relative;
    margin: calc(5px/2);          
}
.images > div:hover .overlay{
    display: block;
    cursor:url(/images/cursor.cur), pointer;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    content: "";
    width: 50px;
    height: 50px;
    opacity: .6;
    background-color: #2dcb71;
}
.testimonials h2{
    font: 600 24px "Raleway";
    color: #000;
    margin-bottom: 20px;
}
.testimonials h2 ~ p{
    font:16px/26px "Helvetica Neue";
    color: #848484;
    margin-bottom: 25px;
}
.social-wrap h2{
    color: #000;
font: 600 24px "Raleway";
text-align: center;
margin-bottom: 15px;
}
.social-wrap span{
    color: #848484;
font:16px "Helvetica Neue";
text-align: center;
}
.social{
    margin-top: 20px;
    flex-wrap: wrap;
}
.btn-social{
    width: 34px;
    height: 34px;
    margin: 5px;
    border-radius: 50%;
    background-color: #c5c5c5;
}
.btn-social:hover{
    background-color: #2dcb71;
}
footer{    
    background-color: #e3e3e3;
}
.footer{
    flex-wrap: wrap;
    min-height: 132px; 
}
.footer a{
    margin: 18px;
    font:16px/26px "Helvetica Neue";
    color: #848484;
}
.footer a:hover{
    text-decoration: underline;
}

@media (max-width: 1100px) {
    .features {
        justify-content: space-around;
    }
}
@media (max-width: 900px) {
    .header > div:first-child {
    padding: 10px;
}
.header > div > img {
    margin-right: 0px;
}
}
@media (max-width: 800px) {
    .form{
        flex-direction: column;
    }
    .form > * {
    width: 100%;
}
.video{
    justify-content: center;
    min-height: 300px;
}
}
@media (max-width: 500px) {
    .header {
    min-height: 500px;
    padding: 30px 10px 0px 10px;
}
.header h1 {
    margin-bottom: 10px;
}
.header p {
    font: 20px/26px "Helvetica Neue";
}
}
@media (max-width: 400px) {
    .video{
    min-height: 250px;
}
.form input {
    max-width: 250px;
    padding: 0 10px;
}
.btn-form{
    min-width: 100px;
    height: 56px;
}
}