body{
    font-size: 12px;
    font-family: HelveticaNeue;
}

/*LINKS*/
.links-nav a{
    padding: 0px 10rem;
    height: 29px;
    margin: 2px 4rem 2px 5rem;
    border-radius: 5px;
    color: #f1ede5;  
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5); 
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    box-shadow: 0px 1px 0px rgba(255,255,255,.06), inset 0px 2px 8px rgba(0,0,0,.4);
    background-color: rgba(0,0,0,.5);
}
.links-nav a.active i, .links-nav a:active i, .links-nav a:hover i, .links-nav a:focus i{
    background: url(/images/icons/arrow-hover.png);
}
.links-nav a i{
    margin-left: 6px;
}

/*BUTTONS*/
.btn-plus{   
    width: 25px;
    height: 25px;
    border-radius: 50%;    
    box-shadow: 0px 1px 1px rgba(61,57,56,.45);
    background: url(/images/icons/plus.png) no-repeat center center, linear-gradient(#fcfcfc, #d3d3d3); 
    position: relative;
}
.btn-plus:after{
    content: "";
    background: rgba(0,0,0,.08);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: -4px;
}
.btn-default{
    min-width: 140rem;
    height: 40px;
    padding: 0px 10px;
    color: #252525;
    font-family: Georgia;
    color:  #252525;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,.8);
    box-shadow: 0px 1px 2px rgba(0,0,0,.9);
    border-radius: 20px;
    background: linear-gradient(#f2e3ad, #e3c14b);
}
.btn-default:active, .btn-default:hover, .btn-default:focus{
    background: linear-gradient(#ead27a, #f0db91);
}
.btn-subscribe{
    min-width: 77px;
    height: 26px;
    color: #4a4a4a;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0px 1px 0px rgba(255,255,255,.43);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0,0,0,.3);
    background: linear-gradient(#f4f4f4, #ccc);
}
.btn-subscribe:active, .btn-subscribe:hover, .btn-subscribe:focus{
    background: linear-gradient(#ccc, #f4f4f4);
}

/*FORMS*/
.form-subscribe{
    max-width: 290px;
    height: 34px;
    padding: 3px;
    border-radius: 4px;
    background: rgba(16,16,16,.99);
    box-shadow: 0px 1px 0px rgba(255,255,255,.05), inset 0px 1px 2px #000;
}
.form-subscribe input{
    color: white;
    font-family: Arial;
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 8rem;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    letter-spacing: -0.01em;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.form-subscribe input::-webkit-input-placeholder{
    color: #979797;    
}
.form-subscribe input::-moz-placeholder{
    color: #979797;
}
.form-subscribe input:-ms-input-placeholder{
    color: #979797;
}

/*OTHER*/
.caption{
    text-align: center;
    margin: 15rem 0px 30rem 0px;
    padding: 6px 6px 7px 6px;
    color: #888;
    font-family: Georgia;
    font-size: 11px;
    font-style: italic;
    border-radius: 4px;
    letter-spacing: 0.001em;
    background: rgba(231,228,221,.5);
    box-shadow: 0px 1px 0 rgba(255,255,255,.57), inset 0px 1px 1px rgba(0,0,0,.06);
}