/*COMMON*/
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
.feature, .footer{
    background: url('/images/featurebg.png');
    box-shadow: inset 0px -15px 0px 0px rgba(0,0,0,.3), inset 0px 15px 0px 0px rgba(0,0,0,.3);
}

/*HEADER*/
header{
    text-align: center;
}
header{
    border-top: 10px solid #1a1f26;
    background: linear-gradient(90deg, #1a1f26 0%, transparent 10%, transparent 10%, transparent 90%, transparent 90%, #1a1f26 100%), url('/images/1.png');
    padding: 0px 10px 0px 10px;
    box-shadow: inset 0px -10px 0px 0px rgba(255,255,255,.03), inset 0px 1px 0px #343d4b;
}
.cover{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-49%); 
    width: 65.6%;
    height: 109.5%;
}
.slider > div{
    position: relative;
}
header h1{
    color: #f1ede5;
    font-family: Georgia;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    text-align: center;
}
header p{
    color: #6b95a7;
    font-family: HelveticaNeue;
    font-size: 18px;
    margin: 20px 0px 16px 0px;
    line-height: 30px;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    text-align: center;
}
#logo + small{
    padding: 4px 10px 0px 3px;
    color: #70747a;
    font-family: Georgia;
    font-size: 11px;
    font-style: italic;
    text-shadow: 0px -1px 0px rgba(0,0,0,.2);
    letter-spacing: 0.015em;
}

/*FEATURED*/
.feature figure{
    position: relative;
    float: left;
    margin-right: 5px;
}
.btn-plus{
    position: absolute;
    top: -7px;
}
.feature figure .btn-plus{
    left: -7px;
}
.feature .lwrap{
    padding: 30px 10px 30px 10px;
}
.feature .lwrap > div{
    width: 32%;
    margin-bottom: 20px;
}
.feature article{    
    margin-bottom: 10px;
}
.feature h6{
    color: #f1ede5;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.feature p{
    color: #979797;
    line-height: 20px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/*ABOUT*/
.content{
    background: url('/images/content-bg.png');
    box-shadow: inset 0px -9px 0px 0px rgba(227,224,215,.3), inset 0px 9px 0px 0px rgba(227,224,215,.3);
}
.content .lwrap{    
    padding: 50px 10px 56px 10px;
}
.about > div{
    width: 32%;
}
.about figure, .overview{
    position: relative;
}

/*BLOG*/
.blog > div{
    width: 30%;
}
.blog figure{
    float: left;
}