/*COMMON*/
figure > img, a > img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
body{
    background: #eee;
}

/*HEADER*/
header{
    background: #f7f7f7;
}
#logo{
    margin: 7px;
}
.nav{
    background: black;
    border-top: 1px solid #89883e;
    padding: 16rem 0px;    
}
.top-bar{
    border-right: 1px solid #e4e2e2;     
}
header > .lwrap{
    max-width: 940px;
    padding: 0px;
}
.top-bar > div{
    height: 73px;
    background: #eee;
    border: 1px solid rgba(228, 226, 226, 0.64);
    margin-right: 1px;
    padding: 0px 15rem;
    font-weight: 500;   
    text-align: center;
}
.top-bar > .bag{
    padding: 0px 25rem;
    text-align: right;
}
.top-bar a{
    color: #555;
    font-size: 14px;
}
.top-bar .bag a{
    color: #e70505;
}
.top-bar .bag a + span{
    color: #231f20;
    padding: 0px 6rem;
}
.top-bar .icon-bag{
    flex-shrink: 0;
}
.top-bar a:active, .top-bar a:hover, .top-bar a:focus{
    text-decoration: underline;
}

/*SLIDER*/
.slider-wrap{
    background: url("/images/bgslider.png");
    background-size: cover;
    padding-bottom: 85rem;
}
.slider hgroup{
    width: 41.5%;
    padding-top: 114rem;
    flex-shrink: 0;
}
.slider hgroup *{
    font-weight: 300;
    color: white;
    font-family: Open Sans;
}
.slider h1{    
    font-size: 52rem;
    line-height: 56rem;
    margin: 0px -4rem 21rem 0px;
}
.slider h6{
    font-size: 17px;
    text-indent: 8rem;
    letter-spacing: -0.01em;
}
.slider .lbl-slider{
    position: absolute;
    right: -37rem;
    bottom: 57rem;
}
.slider figure{
    position: relative;
}
.slider > ul{
    position: relative;
    overflow: hidden;
    max-width: 1160px;
}
.slider > input[type=radio] {
    display: none;
}
.slider > ul > li{
    padding: 43rem 37rem 0rem 58rem;
}
.slider > ul > li:first-child {
    visibility: hidden;
}
.slider > ul > li:not(:first-child) {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    transition: transform 1000ms;    
}
.slider > ul > .num0 {
    left: 0%;
}
.slider > ul > .num1 {
    left: 100%;
}
.slider > ul > .num2 {
    left: 200%;
}
.slider > #slide-0:checked ~ ul > li{
    transform: translateX(0%);
}
.slider > #slide-1:checked ~ ul > li{
    transform: translateX(-100%);
}
.slider > #slide-2:checked ~ ul > li{
    transform: translateX(-200%);
}
@keyframes slide {
    0%, 25.203%  { transform: translateX(0%); }
    33.333%, 58.536%  { transform: translateX(-100%); }
    66.666%, 91.869%  { transform: translateX(-200%); }  
}
@keyframes slide-ie {
    0%, 25.203%  { margin-left: 0%; }
    33.333%, 58.536%  { margin-left: -100%; }
    66.666%, 91.869%  { margin-left: -200%; }  
}
.slider  > #play:checked ~ ul > li:not(:first-child) {
        animation: slide 12300ms infinite;
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slider  > #play:checked ~ ul > li:not(:first-child) {
        animation: slide-ie 12300ms infinite;
    }
}
/*slider arrows*/
.slider > .arrowprev,
.slider > .arrownext {
    position: relative;
    width: 47rem;
    height: 47rem;
    min-height: 24px;
    min-width: 24px;
    background: rgba(73,85,101,.2);
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52rem;
    flex-shrink: 0;
}
.slider > .arrownext{
    margin-right: 12rem;
}
.slider > .arrowprev{
    margin-left: 12rem;
}
.slider > .arrowprev:before,
.slider > .arrownext:before{
    content: "";
    width: 12px;
    height: 12px;
    box-shadow: 3px 3px 0px white;
}
.slider > .arrowprev:before{
    transform: rotate(135deg);
    margin-left: 12px;
}
.slider > .arrownext:before{
    transform: rotate(-45deg);
    margin-right: 12px;
}
.slider > .arrowprev > label,
.slider > .arrownext > label {
    position: absolute;
    height: 100%;
    width: 100%;
}
.slider > #slide-0:checked ~ .arrowprev > .num2,
.slider > #slide-0:checked ~ .arrownext > .num1, 
.slider > #slide-1:checked ~ .arrowprev > .num0,
.slider > #slide-1:checked ~ .arrownext > .num2,
.slider > #slide-2:checked ~ .arrowprev > .num1,
.slider > #slide-2:checked ~ .arrownext > .num0{
    opacity: 1;
    z-index: 5;
}
@keyframes arrow11 {
    0%, 33.323% { opacity: 1; z-index: 5; }
    33.333%, 100%  { opacity: 0; z-index: -1; }
}
.slider > #play:checked ~ .arrowprev > .num2,
.slider > #play:checked ~ .arrownext > .num1 {
    animation: arrow11 12300ms infinite -1000ms;
}
.slider > #play:checked ~ .arrowprev > .num0,
.slider > #play:checked ~ .arrownext > .num2 {
    animation: arrow11 12300ms infinite 3100ms;
}
.slider > #play:checked ~ .arrowprev > .num1,
.slider > #play:checked ~ .arrownext > .num0 {
    animation: arrow11 12300ms infinite 7200ms;
}

/*SIDEBAR*/
.sidebar{
    width: 27.5%;
    border-right: 1px solid rgba(0,0,0,.2);
    margin: 7rem 21rem 10px 0px;
}
.sidebar h3{
    color: #d52229;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 22rem;
    letter-spacing: 0.008em;
}
.twitter-posts{
    margin-bottom: 37rem;
}
.twitter-posts h3{
    text-transform: capitalize;
    margin-bottom: 17rem;
}
.twitter-posts p{
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    line-height: 20px;
    color: #838383;
    background: url(/images/icons/twitter.png)no-repeat -3rem 2rem;
    padding: 0px 0px 25px 42px;
    letter-spacing: -0.022em;
}
.twitter-posts p a, .twitter-posts p time{
    color: #d52229;
}
.twitter-posts p a:active, .twitter-posts p a:hover, .twitter-posts p a:focus{
    text-decoration: underline;
}
.sidebar > *:not(:first-child){
    padding: 0px 20rem 0rem 14rem;
}
.sidebar .links-menu{
    margin-bottom: 35rem;
}
.banner{
    margin: 0px 0px 55rem 7rem;
}
.banner hgroup{
    text-transform: uppercase;
    color: #909191;
    text-align: center;
    line-height: 31px;
}
.banner h2{   
    font-size: 38rem;
    font-weight: 300;        
    margin-top: 18rem;    
    letter-spacing: -0.02em;
}
.banner h4{
    font-weight: 500;
    font-size: 32rem;
    letter-spacing: 0.02em;
}

/*CONTENT*/
.filter{
    background: linear-gradient(90deg,#dee9f1,#e8eced,#f9eae4);
    padding: 7rem 0px;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}
.filter form label{
    color: #df1f26;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 18rem;
}
.filter a{
    margin: 3px 1rem 3px 16rem;
    flex-shrink: 0;
    display: inline-block;
}
.content-wrap{
    max-width: 978px;
}
.content{
    padding: 0px 4rem 26rem 0px;
    width: calc(72.5% - 21rem);
}
.content h2{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    margin: 11rem 0px 13rem 0px;
    letter-spacing: 0.008em;
}
.content h2 span{
    color: #e70505;
}
.products{
    max-width: 680px;
}
.products > div{
    background: white;
    padding: 6px 5px 2px 5px;
    margin-bottom: 8rem;
    width: 32.5%;
}
.products figure{
    overflow: hidden;
    position: relative;
}
.products figure .lbl-default{
    position: absolute;
}
.products > div:not(.wide) figure .lbl-default{    
    padding-top: 8rem;
    font-size: 9px;
    width: 60px;
    height: 30px;
    transform: rotate(-44.5deg) translateX(-16%) translateY(-58%);
}
.products .wide figure .lbl-default{
    transform: rotate(-51.5deg) translateX(-55px) translateY(-8px);
}
.products > .wide{
    width: 66.2%;
    padding: 5px 4px 0px 4px;
}
.products h6{
    color: #565555;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    border-bottom: 1px solid #ededed;
    padding: 4rem 6rem;
    margin-bottom: 2rem;
}
.products h6 span{
    max-width: 171px;
    display: inline-block;
}
.details h5{
    color: #565555;
    font-size: 16px;
    font-weight: 500;
    border-right: 1px solid #ededed;
    width: 50%;
    justify-content: flex-start;
    padding-left: 10rem;
}
.details strong{
    font-size: 24px;
    text-align: center;
    color: #3e3f3f;
    font-weight: 700;
}
.details sup{
    font-size: 18px;
    vertical-align: super;
    line-height: 20px;
    margin-left: -5rem;
    display: inline-block;
}
.details small{
    font-size: 14px;
    line-height: 14px;
}
.details > div:last-child{
    width: 54%;
    padding: 3px;
}
.details > div:not(:last-child){
    border-right: 1px solid #ededed;
    width: 44.5%;
    padding: 2px;
    white-space: nowrap;
}
.wide .details{
    flex-grow: 1;
}
.wide .details > div{
    width: 25%;
}
.separator{
    height: 37rem;
    background: url("/images/hr.png");
    background-size: cover;
    margin: 33rem 0px 0px 0px;
}

/*FOOTER*/
footer{
    background: white url("/images/footer.png");
    background-size: cover;    
}
footer > .lwrap{
    max-width: 988px;
    padding: 31rem 10px 56rem 10px;
}
footer p{
    color: #393939;
    line-height: 16px;
    font-weight: 500;
    margin-left: 3rem;
    width: 100%;
    max-width: 221px;
}
footer h5{
    color: #343333;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12rem;
}
footer address{
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    font-style: normal;
    width: 41.9%;
}
footer > .lwrap > div:not(:last-child){
    background: linear-gradient(#eceaee, #eceaee) right 16rem / 1px 95% no-repeat,
        linear-gradient(#e1e0df, #e1e0df) calc(100% - 1px) 16rem / 1px 95% no-repeat;
    margin-bottom: 10px;
}
footer > .lwrap > div:first-child{
    width: 29.3%;
    margin-right: 20rem;
}
footer > .lwrap > div{
    width: 16%;
    padding-right: 20rem;
}
footer > .lwrap > div:last-child{
    width: 42%;
    padding-right: 0rem;
}
#logo-alt{
    margin: 10rem 0rem 30rem 5rem;
}
footer ul{
    width: 53%;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    padding-left: 2rem;
}
footer ul li a, footer ul{
    color: #393939;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
.copyright{
    padding: 15.5rem 0px;
    background: url("/images/copyright.png");
}
.copyright > .lwrap{
    max-width: 990px;
}
.copyright span{
    color: #7a7777;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0px 5rem;
    text-align: right;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
    .lbl-slider{height: 155px;width: 155px;}
    .slider > ul > li, .slider hgroup{padding: 5px;}
    .slider-wrap{padding: 0px;}
    .slider .lbl-slider{right: -3px;bottom: -3px;}
}
@media (max-width: 640px) {
    .sidebar{width: 33%;}
    .content{width: calc(67% - 21rem);}
    .products > div{width: 49%;order: 1;}
    .products > .wide{width: 100%;order: 0;}
    footer > .lwrap > div{width: 33%;}
    footer > .lwrap > div:last-child{width: 66%;}
    footer > .lwrap > div:first-child{width: 100%;background: none;}
    footer p{max-width: 100%;} 
    .lbl-slider{height: 125px; width: 125px;}
}
@media (max-width: 480px) {
    .lbl-slider{height: 95px;width: 95px;}
    .lbl-slider big {font-size: 14px;line-height: 16px;}
    .lbl-slider small{font-size: 10px;}
}