@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic);

/* ICONS */
.icon-android {width: 62px; height: 65px; background: url('/images/icons/android.png');}
.icon-camera {width: 62px; height: 65px; background: url('/images/icons/camera.png');}
.icon-db {width: 12px; height: 12px; background: url('/images/icons/db.png');}
.icon-fb {width: 12px; height: 12px; background: url('/images/icons/fb.png');}
.icon-fill {width: 9px; height: 13px; background: url('/images/icons/fill.png');}
.icon-phone {width: 10px; height: 11px; background: url('/images/icons/phone.png');}
.icon-pin {width: 12px; height: 12px; background: url('/images/icons/pin.png');}
.icon-rss {width: 12px; height: 12px; background: url('/images/icons/rss.png');}
.icon-screen {width: 62px; height: 65px; background: url('/images/icons/screen.png');}
.icon-tw {width: 12px; height: 12px; background: url('/images/icons/tw.png');}
.icon-watch {width: 62px; height: 65px; background: url('/images/icons/watch.png');}