a.btn-topbar{
    min-width: 98px;
    min-height: 32px;
    background-color: white;
    border-radius: 5px;
    color: #6d6e71;
    font: 700 12px OpenSans;
    padding: 2px 8px 2px 8px;
}
.btn-anchor{
    width: 98px;
    height: 98px;
    background-color: white;
    border-radius: 50%;
}
.tabs ._nav > a{
    min-width: 122px;
    min-height: 45px;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #bbb;
    font: 700 15px OpenSans;
    margin: 7px;
}
.tabs ._nav > a.active, .tabs ._nav > a:active, .tabs ._nav > a:hover, .tabs ._nav > a:focus{
    color: #6d6e71;
    border: 2px solid #fff;
    background-color: #fff;
}
.links-map a{
    width: 63px;
    height: 63px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    margin: 6px;
    box-shadow: 0 0 40px rgba(1, 1, 1, 0.13);
}
.links-map a.active, .links-map a:active, .links-map a:hover, .links-map a:focus{
    background-color: #1fa9e0;
    border: 1px solid #1fa9e0;
}
.links-map a.active .icon-phonelg, .links-map a:active .icon-phonelg, .links-map a:hover .icon-phonelg, .links-map a:focus .icon-phonelg{
    background: url('/images/icons/phonelg-hover.png');
}
.links-map a.active .icon-pointlg, .links-map a:active .icon-pointlg, .links-map a:hover .icon-pointlg, .links-map a:focus .icon-pointlg{
    background: url('/images/icons/pointlg-hover.png');
}
.links-map a.active .icon-letterlg, .links-map a:active .icon-letterlg, .links-map a:hover .icon-letterlg, .links-map a:focus .icon-letterlg{
    background: url('/images/icons/letterlg-hover.png');
}
.btn-submit{
    min-width: 77px;
    height: 45px;
    background-color: #494c4d;
    border-radius: 10px;
    color: #6d6e71;
    font: 700 14px OpenSans;
}
.btn-slider{
    width: 111px;
height: 241px;
background-color: #f4f4f4;
}
.btn-like{
    width: 322px;
min-height: 65px;
font: 600 14px OpenSans;
}
.btn-like.green{
    background-color: rgba(138, 202, 81, 0.9);
    color: white;
}
.btn-like.yellow{
    color: #cc9800;    
    background-color: rgba(254, 235, 117, 0.9);
}
.btn-like i{
    margin: 0px 5px 0px 0px;
}
.links-socialheader{
    border-left: 1px solid #dee0e6;
}
.links-socialheader a{
    border-right: 1px solid #dee0e6;
    height: 63px;
    width: 64px;
}
.links-socialfooter{
    border-left: 1px solid #3c3e3f;
}
.links-socialfooter a{
    border-right: 1px solid #3c3e3f;
    height: 63px;
    width: 64px;
}
.links-socialteam a{
    margin: 5px 10px 5px 10px;
}
.links-nav a{
    color: #6d6e71;
    font: 700 13px OpenSans;
    min-height: 86px;
    padding: 10px 25px 10px 25px;
    border-left: 1px solid #eceef4;
}
.links-nav a:first-child{
    border-left: none;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #1faae2;
    background: url(/images/icons/active.png)no-repeat center bottom;
}
.links-footer{
    align-items: flex-end;
}
.links-footer i{
    margin: 0px 8px 3px 8px;
}
.links-footer a:active, .links-footer a:hover, .links a:focus{
    text-decoration: underline;
}
.links-footer a{
    color: #6d6e71;
    font: 300 13px OpenSans;
}
.links-contacts{
    align-items: center;
}
.links-contacts a{
    margin: 0px 20px 0px 20px;
}
.links-contacts span{
    width: 1px;
    height: 24px;
    background-color: #bcbec3;
}
.form-search input[type="search"]{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    width: 190px;
    border: none;
    background: none;
    padding: 0px 5px;
}
.form-search input[type="search"]::-webkit-input-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}
.form-search input[type="search"]::-moz-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}
.form-search input[type="search"]:-ms-input-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
}
.form-mail{
    max-width: 594px;
min-height: 66px;
background-color: #393b3c;
border-radius: 10px;
padding: 10px 10px 10px 20px;
}
.form-mail input[type="email"]{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    width: 260px;
    border: none;
    background: none;
    padding: 0px 5px;
}
.form-mail input[type="email"]::-webkit-input-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
}
.form-mail input[type="email"]::-moz-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
}
.form-mail input[type="email"]:-ms-input-placeholder{
    color: #6d6e71;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
}