.icon-arrow {width: 8px; height: 13px; background: url('/images/icons/icon-arrow.png');}
.icon-cash {width: 81px; height: 81px; background: url('/images/icons/icon-cash.png');}
.icon-check {width: 42px; height: 33px; background: url('/images/icons/icon-check.png');}
.icon-commodo {width: 81px; height: 81px; background: url('/images/icons/icon-commodo.png');}
.icon-del {width: 15px; height: 19px; background: url('/images/icons/icon-del.png');}
.icon-dolor {width: 81px; height: 81px; background: url('/images/icons/icon-dolor.png');}
.icon-fb {width: 15px; height: 19px; background: url('/images/icons/icon-fb.png');}
.icon-heart {width: 41px; height: 36px; background: url('/images/icons/icon-heart.png');}
.icon-twitter {width: 15px; height: 19px; background: url('/images/icons/icon-twitter.png');}