
/* ICONS */
.icon-be {width: 18px; height: 11px; background: url('/images/icons/be.png');}
.icon-cloud {width: 16px; height: 16px; background: url('/images/icons/cloud.png');}
.icon-db {width: 15px; height: 15px; background: url('/images/icons/db.png');}
.icon-fb {width: 8px; height: 14px; background: url('/images/icons/fb.png');}
.icon-globe {width: 16px; height: 16px; background: url('/images/icons/globe.png');}
.icon-mail {width: 16px; height: 16px; background: url('/images/icons/mail.png');}
.icon-next {width: 8px; height: 10px; background: url('/images/icons/next.png');}
.icon-prev {width: 8px; height: 10px; background: url('/images/icons/prev.png');}
.icon-set {width: 16px; height: 16px; background: url('/images/icons/set.png');}
.icon-tw {width: 23px; height: 21px; background: url('/images/icons/tw.png');}
.icon-user-form {width: 16px; height: 16px; background: url('/images/icons/user-form.png');}
.icon-user {width: 16px; height: 16px; background: url('/images/icons/user.png');}
.icon-vimeo {width: 13px; height: 12px; background: url('/images/icons/vimeo.png');}