body{
    font-family: Lato;
    font-size: 16px;
}

/*LINKS*/
.links-topbar a, .links-menu a, .links-nav a{
    text-transform: capitalize;
}
.links-menu a, .links-nav a{
    color: white;
    text-align: center;
}
.links-topbar a{
    color: #434343;
    text-align: right;
    margin-left: 20rem;
}
.links-topbar a:active, .links-topbar a:hover, .links-topbar a:focus{
    text-decoration: underline;
}
.links-menu{
    background: #f6f6f6;
    padding: 1px 0;
}
.links-menu a{
    min-width: 116rem;
    height: 89px;
    padding: 0 5px;
    margin-left: 5rem;
}
.links-menu a:nth-child(odd){
    background: #05aecc;
}
.links-menu a:nth-child(even){
    background: #f0626e;
}
.links-nav{
    background: #05aecc;
}
.links-nav a{
    padding: 0 25rem;
    height: 71px;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    background: white;
    color: #ef5966;
}
.links-social a{
    line-height: 1px;
    margin: 0px 10rem 10rem 0px;
}
.links-default a{
    color: #676767;
    margin-bottom: 7rem;
    display: inline-block;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-default{
    background: #05aecc;
    color: white;
    padding: 0px 5px;
    text-transform: capitalize;
    text-align: center;
}
.btn-default.sm{
    min-width: 117rem;
    height: 23px;
    font-size: 12px;
}
.btn-default.md{
    min-width: 377rem;
    height: 51px;
    text-transform: uppercase;
}
.btn-default.lg{
    min-width: 648rem;
    height: 61px;
    font-size: 28px;
}
.btn-open{
    height: 86px;
    width: 86px;
    opacity: 0.99;
    background:
        url(/images/icons/arrowcircle.png)center no-repeat,
        radial-gradient(circle closest-side, white 30px, transparent 31px),
        linear-gradient(#f0626e, #f0626e 86px, transparent 86px);
    position: relative;
}
.btn-open:after{
    content: '';
    position: absolute;
    border-top: 14px solid #c5515b; 
    border-left: 10px solid transparent;
    position: absolute;
    left: 0px;
    top: 100%;
}
.btn-box, .btn-cart{
    width: 53px;
    height: 55px;
}
.btn-box{
    background: #00a1be url(/images/icons/box.png) center no-repeat;
}
.btn-cart{
    background: #f0626e url(/images/icons/cart.png) center no-repeat;
}

/*LABELS*/
.lbl-default, .lbl-price{   
    color: white;
    text-transform: capitalize;
    padding: 0px 5px;
}
.lbl.lg{
    height: 55px;
}
.lbl.discount{
    background: #f0626e;
    text-transform: uppercase;
}
.lbl.new, .lbl-default{
    background: #05aecc;
}
.lbl.sm{
    height: 34px;
    font-size: 14px;
}
.lbl.md{
    height: 50px;
}
.lbl-default{
    min-width: 103rem;
}
.lbl-price{
    background: rgba(67,67,67,.99);
    min-width: 85rem;
    font-size: 24px;
}

/*FORMS*/
.input-wrap{
    background: white;
    box-shadow: 1px 1.7px 7px rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}
.input-wrap .input-search + label{
    position: absolute;
    left: 23rem;
    color: #424242;
    top: 50%;
    transform: translateY(-50%);
    cursor: auto;
}
.input-wrap .input-search + label > span{
    color: #c2c2c2;
}
.input-wrap .input-search:focus + label{
    display: none;
}
.input-wrap, .input-email, .input-search{
    height: 71px;
}
.input-email, .input-search{
    padding: 0px 23rem;
    color: black;   
}
.input-search{    
    border: none;
    width: 100%;
}
.input-email{
    border: 1px solid #dedede;
    text-align: center;
}
input[class^=input-]:focus::-webkit-input-placeholder { color: transparent; }
input[class^=input-]:focus::-moz-placeholder { color: transparent; }
input[class^=input-]:focus:-ms-input-placeholder { color: transparent; }
.input-email::-webkit-input-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }
.input-email::-moz-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }
.input-email:-ms-input-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }

/*OTHER*/
.hdr{
    color: #00a1be;
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 28rem;
    box-shadow: 0px 1px 0px 0px #b9b9b9;
}
.hdr > span{
    display: inline-block;
    padding: 0 15rem 10rem 3rem;
    box-shadow: 0px 1px 0px 0px #f0626e;
}