body{
    font-family: Lato;
    font-size: 16px;
}

/*LINKS*/
.links-topbar a, .links-menu a, .links-nav a{
    text-transform: capitalize;
}
.links-menu a, .links-nav a{
    color: white;
    text-align: center;
}
.links-topbar a{
    color: #434343;
    text-align: right;
    margin: 0 -2rem 3px 28rem;
    letter-spacing: 0.1em;
    line-height: 18px;
}
.links-topbar a:active, .links-topbar a:hover, .links-topbar a:focus{
    text-decoration: underline;
}
.links-menu{
    background: #f6f6f6;
    padding: 1px 0;
}
.links-menu a{
    min-width: 116rem;
    height: 89rem;
    padding: 0 3px;
    margin-left: 5rem;
    letter-spacing: 0.1em;
}
.links-menu a.drop{
    min-width: 142rem;
}
.links-menu a:nth-child(odd){
    background: #05aecc;
}
.links-menu a:nth-child(even){
    background: #f0626e;
}
.links-menu a i[class^=icon-]{
    flex-shrink: 0;
    margin-left: 10rem;
}
.links-nav{
    background: #05aecc;
}
.links-nav > *{
    padding: 0 25rem;
    height: 71rem;
    position: relative;
    letter-spacing: 0.092em;
    cursor: pointer;
}
.links-nav > *.active, .links-nav > *:active, .links-nav > *:hover, .links-nav > *:focus{
    background: white;
}
.links-nav > *.active, .links-nav > *:active, .links-nav > *:hover, .links-nav > *:focus, 
.links-nav > *.active a:not(.btn), .links-nav > *:active a:not(.btn), .links-nav > *:hover a:not(.btn), .links-nav > *:focus a:not(.btn){
    color: #ef5966;
}
.links-social a{
    line-height: 1px;
    margin: 0px 10rem 10rem 0px;
}
.links-default a{
    color: #676767;
    margin-bottom: 11rem;
    display: inline-block;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-default{
    background: #05aecc;
    color: white;
    padding: 0px 5px;
    text-transform: capitalize;
    text-align: center;
}
.btn-default.sm{
    min-width: 117rem;
    height: 23px;
    font-size: 12px;
    line-height: 12px;
}
.btn-default.md{
    min-width: 377rem;
    height: 51px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.05em;
}
.btn-default.lg{
    min-width: 648rem;
    height: 61px;
    font-size: 28px;
}
.btn-open{
    height: 97px;
    width: 86px;
    opacity: 0.99;
    background:
        url(/images/icons/arrowcircle.png)center no-repeat,
        radial-gradient(circle closest-side, white 26px, transparent 27px),
        linear-gradient(#f0626e, #f0626e);
    position: relative;
}
.btn-open:after{
    content: '';
    position: absolute;
    border-bottom: 10px solid #c5515b; 
    border-left: 14px solid transparent;
    position: absolute;
    top: 0px;
    right: 100%;
}
.btn-box, .btn-cart{
    width: 53px;
    height: 55px;
}
.btn-box{
    background: #00a1be url(/images/icons/box.png) center no-repeat;
}
.btn-cart{
    background: #f0626e url(/images/icons/cart.png) center no-repeat;
}
.btn-thumb {
    width: 70rem;
    height: 79rem;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
}
.btn-thumb.prev{
    background: #3c3c3c url(/images/icons/prev.png) center no-repeat;
}
.btn-thumb.next{
    background: #3c3c3c url(/images/icons/next.png) center no-repeat;
}
.btn-thumb.prev:hover{
    background: #05aecc url(/images/icons/prev.png) center no-repeat;
}
.btn-thumb.next:hover{
    background: #05aecc url(/images/icons/next.png) center no-repeat;
}
.btn-simple{
    background: white;
    height: 50px;
    min-width: 50rem;
}
button > .btn{
    width: 100%;
}

/*LABELS*/
.lbl-default, .lbl-price{   
    color: white;
    text-transform: capitalize;
    padding: 0px 5px;
    min-width: 101rem;
    text-align: center;
    line-height: 14px;
}
.lbl.lg{
    height: 55px;
}
.lbl.discount{
    background: #f0626e;
    text-transform: uppercase;
}
.lbl.new, .lbl-default{
    background: #05aecc;
}
.lbl.sm{
    height: 34px;
    font-size: 14px;
    min-width: 80rem;
}
.lbl.md{
    height: 50px;
}
.lbl-default{    
    letter-spacing: 0.09em;
}
.lbl-price{
    background: rgba(67,67,67,.99);    
    font-size: 24px;
    white-space: nowrap;
}
.lbl.sh{
    min-width: 85rem;
}
.lbl-price sup {
    font-size: 14px;
    vertical-align: super;
}
.lbl-price small{
    font-size: 16px;
}
.lbl-price > span{
    padding: 0 5px;
}

/*FORMS*/
.input-wrap{
    background: white;
    box-shadow: 1px 1.7px 7px rgba(0, 0, 0, 0.19);
    position: relative;
    overflow: hidden;
}
.input-wrap .input-search + label{
    position: absolute;
    left: 23rem;
    color: #424242;
    top: 50%;
    transform: translateY(-50%);
    cursor: auto;
    letter-spacing: 0.09em;
    line-height: 15px;
}
.input-wrap .input-search + label > span{
    color: #c2c2c2;
}
.input-wrap .input-search:focus + label{
    display: none;
}
.input-wrap, .input-email, .input-search{
    height: 71px;
}
.input-email, .input-search{
    padding: 0px 23rem;
    color: black;   
}
.input-search{    
    border: none;
    width: 100%;
}
.input-email{
    border: 1px solid #dedede;
    text-align: center;
    font-size: 14px;
}
input[class^=input-]:focus::-webkit-input-placeholder { color: transparent; }
input[class^=input-]:focus::-moz-placeholder { color: transparent; }
input[class^=input-]:focus:-ms-input-placeholder { color: transparent; }
.input-email::-webkit-input-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }
.input-email::-moz-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }
.input-email:-ms-input-placeholder { color: rgba(67,67,67,.99); text-transform: uppercase; }

/*OTHER*/
.hdr{
    color: #00a1be;
    font-size: 30rem;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 26rem;
    box-shadow: 0px 1px 0px 0px #b9b9b9;
    margin-bottom: 28rem;
}
.hdr > span{
    display: inline-block;
    padding: 0 15rem 7rem 3rem;
    box-shadow: 0px 1px 0px 0px #f0626e;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
}
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
    content: '';
    left: 50%;
    position: absolute;
    background: white;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
[data-tooltip]:before {
    bottom: calc(100% + 2px);
    transform: translateX(-50%);
    padding: 5.5rem;
    width: 50px;
    min-width: 98rem;
    border-radius: 5px;
    background: white;
    color: #434343;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 13px;
    border: 1px solid;
}
[data-tooltip]:after {   
    bottom: calc(100% - 9px);
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 20px 0 0 0;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
}
.btn-cart[data-tooltip]:before,
.btn-cart[data-tooltip]:after{
    border-color: #f0626e;
}
.btn-box[data-tooltip]:before,
.btn-box[data-tooltip]:after{
    border-color: #00a1be;
}