body{
    font-family: Georgia;
    font-size: 12px;
}

/*LINKS*/
.links-social a{
    margin: 3px;
}
.links-controls a{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 2px 3px 2px 2px;
    background: #afaeae;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: #535353;
}
.links-accounts a{
    color: #ff7800;
    font-style: italic;
    line-height: 20px;
}
.links-accounts a:active, .links-accounts a:hover, .links-accounts a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-submit{
    min-width: 83px;
    height: 41px;
    background: #ff7800;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.47);
    color: white;
    font-family: LeagueGothic;
    font-size: 25px;
    padding: 0px 5px;
    text-transform: uppercase;
}

/*FORMS*/
input[name=input]{ 
    margin-bottom: 19px;
    height: 49px;    
    padding: 0px 20px 0px 30px;
}
input[type=text]{
    background: white url(/images/icons/user.png)no-repeat 10px center;
}
input[type=email]{
    background: white url(/images/icons/mail.png)no-repeat 10px center;
}
textarea{
    padding: 10px;
    height: 125px;
    margin-bottom: 17px;
}
input[name=input], textarea{
    color: #333;
    font-family: Georgia;
    font-size: 16px;
    outline: none;
    max-width: 432px;
    width: 100%;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.1); 
}
input[name=input]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: rgba(83,83,83,.5);font-style: italic;}
input[name=input]::-moz-placeholder, textarea::-moz-placeholder {color: rgba(83,83,83,.5);font-style: italic;}
input[name=input]:-ms-input-placeholder, textarea:-ms-input-placeholder {color: rgba(83,83,83,.5);font-style: italic;}

/*OTHER*/
.title{
    color: #535353;
    font-family: LeagueGothic;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: normal;
}
.title:after{
    content: "";
    height: 16px;
    flex-grow: 1;
    margin-left: 10px;
    background:url("/images/hdrbg.png")repeat-x left center; 
}
