@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=eb16906c-bc5e-4f80-a928-88bbd4e81e38");


/* FONTS */
@font-face {
	font-family: 'Segoe Condensed';
	src: local('в�є'), url('/fonts/segoeui-condensed.woff') format('woff');
}
@font-face {
	font-family: 'Segoe Condensed';
	src: local('в�є'), url('/fonts/segoe-condensed-bold.woff') format('woff');
    font-weight: 700;
}
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "Helvetica Condensed";
    src: url("/fonts/fonts.com/946b2f3f-a9d7-47e4-9738-ee963004d697.woff2") format("woff2"), url("/fonts/fonts.com/ce90a9c3-4580-4fa7-b453-9a4e86d0c271.woff") format("woff");
}
@font-face {
    font-family: "SofiaProLight";
    src: url("/fonts/fonts.com/3b5eb487-4264-43d9-8a53-9f60d53748d3.woff2") format("woff2"), url("/fonts/fonts.com/f62e9ae5-3889-4326-81da-63bb2a466739.woff") format("woff");
}
/* ICONS */
.icon-arrow {width: 12px; height: 10px; background: url('/images/icons/arrow.png');}
.icon-camera {width: 45px; height: 35px; background: url('/images/icons/camera.png');}
.icon-clock {width: 8px; height: 8px; background: url('/images/icons/clock.png');}
.icon-cloud {width: 8px; height: 8px; background: url('/images/icons/cloud.png');}
.icon-fbf {width: 27px; height: 27px; background: url('/images/icons/fbf.png');}
.icon-heart {width: 9px; height: 8px; background: url('/images/icons/heart.png');}
.icon-lbl {width: 23px; height: 32px; background: url('/images/icons/lbl.png');}
.icon-like {width: 15px; height: 13px; background: url('/images/icons/like.png');}
.icon-link {width: 12px; height: 12px; background: url('/images/icons/link.png');}
.icon-pinf {width: 27px; height: 27px; background: url('/images/icons/pinf.png');}
.icon-share {width: 17px; height: 18px; background: url('/images/icons/share.png');}
.icon-tag {width: 34px; height: 28px; background: url('/images/icons/tag.png');}
.icon-twf {width: 27px; height: 27px; background: url('/images/icons/twf.png');}
.icon-articles {width: 12px; height: 14px; background: url('/images/icons/articles.png');}
.icon-fb {width: 9px; height: 18px; background: url('/images/icons/fb.png');}
.icon-film {width: 11px; height: 16px; background: url('/images/icons/film.png');}
.icon-gp {width: 18px; height: 18px; background: url('/images/icons/gp.png');}
.icon-grid {width: 19px; height: 19px; background: url('/images/icons/grid.png');}
.icon-home {width: 14px; height: 11px; background: url('/images/icons/home.png');}
.icon-images {width: 12px; height: 12px; background: url('/images/icons/images.png');}
.icon-list {width: 18px; height: 18px; background: url('/images/icons/list.png');}
.icon-pin {width: 18px; height: 18px; background: url('/images/icons/pin.png');}
.icon-tw {width: 25px; height: 17px; background: url('/images/icons/tw.png');}