.links-nav {   
    background-color: #f5c506;
    margin: 5px -5px -5px 5px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}
.nav-wrap, .nav{
    height: 41px;
    background-color: rgba(245,197,6,.27);
    background-image: linear-gradient(to top, transparent 0%, transparent 100%);
}
.nav{    
    margin: 5px -5px -5px 5px;
}
.links-nav a{
    min-height: 44px;
    color: #9b7d08;
    font: 17px SegoeWP;
    text-transform: uppercase;
    border-left: 1px solid rgba(0,0,0,.1);
    padding: 5px 15px;
}
.links-nav a:first-child{
    border: none;
}
.links-nav a i{
    margin: 0px 9px 0px 0px;
}
.btn-slide{
    width: 32px;
    height: 57px;    
    background-color: rgba(245,197,6,.71);
}
.lbl-date{
    background-color: #ddb101;
    min-width: 113px;
    min-height: 86px;
    padding: 2px;
    flex-direction: column;
}
.lbl-date span{
    color: white;
    font: 700 51px/46px SegoeUI;
}
.lbl-date small{
    color: #b26529;
    text-transform: uppercase;
    font: 21px/30px SegoeUI;
}
.lbl-default{
    width: 116px;
    height: 116px;
    background-color: #f5c506;
    border-radius: 50%;
    color: white;
    font: 700 19px PTSansNarrow;
    text-transform: uppercase;
}
.list{
    max-width: 380px;
}
.list li{
    color: #a9a9a7;
    font: 22px/28px OpenSans;
    padding: 0px 0px 0px 20px;
}
.marker li:before{
    width: 14px;
    height: 14px;
    background-color: #f5c506;
    border-radius: 50%;
    top: 15px;
}