/* FONTS */

@font-face {
    font-family: Archer;
    src: url('../fonts/archer-semibold.otf');
}
@font-face {
    font-family: Delicious;
    src: url('../fonts/Delicious-Roman.otf');
}

/* ICONS */

.icon-add {width: 16px; height: 16px; background: url('../images/icons/add.png');}
.icon-fb {width: 16px; height: 16px; background: url('../images/icons/fb.png');}
.icon-fl {width: 16px; height: 16px; background: url('../images/icons/fl.png');}
.icon-in {width: 16px; height: 16px; background: url('../images/icons/in.png');}
.icon-next {width: 7px; height: 5px; background: url('../images/icons/next.png');}
.icon-prev {width: 7px; height: 5px; background: url('../images/icons/prev.png');}
.icon-rss {width: 16px; height: 16px; background: url('../images/icons/rss.png');}
.icon-search {width: 12px; height: 12px; background: url('../images/icons/search.png');}
.icon-top {width: 5px; height: 7px; background: url('../images/icons/top.png');}
.icon-tw {width: 16px; height: 16px; background: url('../images/icons/tw.png');}

/* ELEMENTS */

.links-nav{
    width: 100%;
    padding: 2px 10px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);    
}
.sidebar > .links-nav{
    padding: 5px 15px 4px 15px;
}
.links-nav a{
    border-bottom: 1px solid #e9e9e9;
    font-family: Delicious;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #8d8d8d;
    width: 100%;
    justify-content: flex-start;
    position: relative;
}
.links-nav a:last-child{
    border-bottom: none;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #4a8b86;
}
.links-nav a.active:before, .links-nav a:active:before, .links-nav a:hover:before, .links-nav a:focus:before{
    content: "";
    width: 3px;
    height: 76%;
    position: absolute;
    background-color: #4a8b86;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
input[type="search"]{
    width: 100%;
    max-width: 170px;
    height: 25px;
    color: #333;
    border: none;
    padding: 0px 20px 0px 10px;
    outline: none;
    background: #e8e8e8 url(../images/icons/search.png)no-repeat right 8px center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.links-categories a{
    color: #7d7d7d;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    line-height: 20px;
}
.links-categories a:active, .links-categories a:hover, .links-categories a:focus{
    text-decoration: underline;
}
.links-social a{
    margin: 3px 4px 3px 3px;
}
.btn-slider, .btn-thumb{
    width: 19px;
    height: 17px;
    margin: 1px 0px 1px 3px;
}
.btn-slider{
    background-color: #fff;
}
.btn-thumb, .btn-anchor{
    background-color: #e8e8e8;
}
.btn-anchor{
    width: 17px;
    height: 19px;
}
figure img, .logo img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
.title{
    margin: 0px 0px 13px 0px;
}
.title .divider{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 3px;
    flex: 1;
}
.title span{
    padding: 0px 14px 0px 0px;
    color: #4a8b86;
    font-family: Delicious;
    font-size: 15px;
    text-transform: uppercase;
}
/* $------------------------------------------------------------------------- */

body{
    background: url("../images/bg.png")
}
.lwrap{
    max-width: 980px;
    padding: 0px 10px;
}
.sidebar > *, .content > *{
    margin: 0px 0px 10px 0px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    padding: 12px 15px 15px 15px;
}
.content > div:first-child{
    padding: 12px 15px 12px 14px;
}
.content > *{
    padding: 14px 15px 9px 15px;
}
.content > .slider{
    padding: 15px 15px 15px 15px;
    position: relative;
}
.slider > div{
    position: absolute;
    bottom: 29px;
    right: 30px;
}
.slider .btn-thumb{
    margin: 0px 0px 0px 3px;
}
.sidebar{
    width: 20.9%;
}
.content{
    width: 79.1%;
    padding: 0px 0px 0px 10px;
}
.logo-wrap{
    min-height: 80px;
    padding: 16px 17px 15px 5px;
}
h1{
    color: #8d8d8d;
    font-family: Delicious;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 10px 0px 0px;
}
.content .title{
    margin: 0px 0px 14px 0px;
}
.content .title span{
    font-size: 17px;
}
.title > div{
    background-color: white;
    position: relative;
    z-index: 2;
    padding: 0px 0px 0px 12px;
}
.popular article{
    margin: 0px 0px 15px 0px;
}
.popular article:last-child{
    margin: 0px 0px 0px 0px;
}
.popular article figure{
    min-width: 45px;
    margin: 0px 9px 0px 0px;
}
.popular article p{
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    line-height: 20px;
    margin: -4px 0px 0px 0px;
}
.popular article p a{
    color: #7d7d7d;
}
.popular article p a:active, .popular article p a:hover, .popular article p a:focus{
    text-decoration: underline;
}
.sidebar .categories{
    padding: 12px 15px 9px 15px;
}
.categories .title{
    margin: 0px 0px 7px 0px;
}
.sidebar > .sponsors{
    padding: 12px 15px 1px 15px;
}
.sponsors figure{
    margin: -2px 0px 17px 0px;
}
.sponsors figure:last-child{
    margin: -2px 0px 14px 0px;
}
.grid > article, .grid > div, .grid > div > article{
    width: 50%;
}
.grid > article{
    width: 47.2%;
}
.grid > div{
    width: 52.8%;
}
.grid > div > article{
    padding: 0px 0px 0px 15px;
}
.grid h3{
    color: #4a8b86;
    font-family: Delicious;
    font-size: 14px;
    margin: 10px 0px 5px 0px;
    text-transform: uppercase;
}
.grid p{
    color: #7d7d7d;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
    line-height: 20px;
}
.content > footer{
    padding: 11px 16px 10px 15px;
    margin: 0px 0px 0px 0px;
}
footer span{
    color: #7d7d7d;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
}
.hidden{
    display: none;
}
@media (max-width: 750px) {
    .sidebar {
        width: 30%;
    }
    .content{
        width: 70%;
    }
}
@media (max-width: 550px) {
    .sidebar {
        width: 100%;
    }
    .content{
        width: 100%;
        padding: 0px;
    }
    .lwrap{
        flex-direction: column;
    }
    .visible{
        display: none;
    }
    .hidden{
        display: flex;
    }
    input[type="search"]{
        max-width: 100%;
    }
    .grid{
        flex-direction: column;
    }
    .grid > article, .grid > div {
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    .grid > div > article:first-child {
        padding: 0px 5px 0px 0px;
    }
    .grid > div > article:last-child {
        padding: 0px 0px 0px 5px;
    }
}