body{
    font-family: Arial;
    font-size: 12px;
}

/*LINKS*/
.links-nav{
    margin-right: -35rem;
}
.links-nav a{
    margin: 2px 25rem;
    color: black;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    white-space: nowrap;
}
.links-nav a:before{
    display: flex;
    content: "";
    width: 14px;
    height: 14px;
    margin-bottom: 18rem;
    background: url(/images/icons/arroww.png)no-repeat center center, #91594c;
    visibility: hidden;
    box-shadow: 0 1px 0 #ffdcd3, inset 0 2px 2px rgba(211, 122, 100, 0.75);
}
.links-nav a.active:before, .links-nav a:active:before, .links-nav a:hover:before, .links-nav a:focus:before{
    visibility: visible;
}
.links-footer{
    margin: 0px 0px 4px -24rem;
}
.links-footer a, .links-footer{
    color: black;
}
.links-footer a{
    text-transform: uppercase;
    margin: 2px 19rem 2px 24rem;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus{
    text-decoration: underline;
}
.links-social a{
    margin: 5px 16.5rem;
}
.links-social{
    margin: 0px -22rem 0px -16rem;
}

/*LABELS*/
.lbl-cite{
    color: black;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 83rem;
    flex-shrink: 0;
    min-height: 87px;
    padding: 5px;
    background: url("/images/aboutbg.png");
}

/*OTHER*/
.more{
    color: black;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 24px;
    background: url(/images/icons/arrowb.png)no-repeat left center;
}
.more:active, .more:hover, .more:focus{
    text-decoration: underline;
}
