/* 
    Created on : 23.03.2017, 9:57:15
    Author     : Ivan
*/

/*COMMON*/
.wrap > div{
    flex-shrink: 0;
    flex-grow: 1;
}
.wrap{
    height: 100%;
}
.lwrap{
    max-width: 1850px;
    padding: 0 10px;
}
.lwrap.narrow{
    max-width: 1300px;
}
.subtitle{
    padding: 20px 0;
    margin-bottom: 20px;
}
.subtitle p + p{
    margin-top: 10px;
}
.subtitle.top{
    border-top: 1px solid #eee;
}
.subtitle.bottom{
    border-bottom: 1px solid #eee;
}
.half, .panel.half{
    width: 48.83%;
}

/*FOOTER*/
footer{
    padding: 10px;
    background: #f5f5f5;
    flex-shrink: 0;
}
footer .logged{
    color: #545454;
}
footer *:not(.logged) *{
    font-size: 13px;
}
.logo + a{
    font-weight: 600;
}

/*HDR-PAGE*/
.hdr-page{
    padding: 17.5px 0;
}
/*btns-group*/
.btns-group.right > *{
    margin: 5px 0 5px 10px;
}
.btns-group.left > *{
    margin: 10px 10px 10px 0;
}

/*PANELS*/
.panel{  
    border-radius: 2px;
    margin-bottom: 40px;
    width: 100%;
    background: white;
}
.panel-alt{
    border: 1px solid #d8d8d8;
}
.panel-default{
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
}
.panel-body{
    padding: 10px;
}
.panel-alt .panel-body{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #e5e5e5;
}
.panel-alt .panel-ftr{
    background: #f5f5f5;
    padding: 10px;
}
.panel .details > div{
    padding: 15px;
}
.panel .details .value{
    margin-bottom: 5px;
}
.panel-half .details > div{
    flex-grow: 1;
}
.panel .tabs{
    min-height: 300px;
}
.panel .tabs .slimScrollBar:hover{opacity:1!important;cursor:pointer;}
.panel .tabs .slimScrollBar, .panel .tabs .slimScrollRail{box-shadow: inset 0 0 0 2px black;}
.panel-collapse{
    display: none;
}
.panel-collapse ~ div{
    overflow: hidden;
    max-height: 1000px;
    transition: max-height .35s ease;
}
.panel-collapse:checked ~ div{
    max-height: 0px;
    transition: max-height .35s ease;
}
.panel-collapse:checked + .panel-title i.fa-angle-down{
    transform: rotate(-90deg);
}
.panel-collapse + .panel-title i.fa-angle-down{
    transition: transform .35s ease;
}

/*.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.bootstrap-select.btn-group .dropdown-menu li a{
    width: 100%;
}
.open>.dropdown-menu {
    display: block;
}
.bootstrap-select{
    position: relative;
}*/

/*DASHBOARD*/
.dashboard-stat .panel{
    padding: 10px;
    width: 31.7%;
    margin-bottom: 15px;
}
.dashboard-stat h2{
    width: 100%;
    font-weight: 700;
    color: #363636;
    font-size: 16px;
    line-height: 20px;
    margin: 7px 0 0 4px;
}
.dashboard-stat .fa{
    font-size: 30px;
    color: #ccc;
    margin-top: 5px;
}
.dashboard-stat .details{
    margin: 4px;
    line-height: 31px;
}
.details .value{
    font-size: 24px;
}
.details .designation{
    font-weight: 700;
    color: #363636;
}
.details .value.cyan{
    color: #00d9c3;
}
.details .value.red{
    color: #ea4c00;
}
.details .value.blue{
    color: #24aae3;
}

/*outlook*/
.outlook .btn-default{
    font-size: 14px;
    min-width: 390px;
}

/*CALENDAR*/


/*RESERVATIONS*/
.panel form fieldset{
    margin-right: 20px;
}
.table-actions{
    background: #f2f2f2;
    padding: 15px;
}
.table-actions .btn{
    margin: 5px;
}
.table-actions > i.fa{
    font-size: 18px;
}

/*HOUSE ACCOUNT*/
.filter-table{
    min-height: 50px;
    padding: 10px 0;
}
.filter-table > *{
    margin-left: 20px;
}

/*BASE RATES*/


/*RATE PLANS*/


/*AVAILABILITY MATRIX*/
.legends span:before{
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 3px 5px -3px 0;
    font-family: FontAwesome;
    font-size: 16px;
}
.legends span{
    padding: 5px;
}
.legends .weekend:before{
    background: #e6f4f9;
}
.legends .closed:before{
    background: #ebebeb;
}
.legends .modify:before{
    background: #6dd0f5;
}
.legends .potential-overbooked:before{
    background: #ffcdcd;
}
.legends .already-overbooked:before{
    background: #eb1c24;
}
.legends .derived:before{
    content: "\f02b";
    color: #e7652b;
}

/*MAP*/
.panel-body.map-wrap{
    padding: 0;
}
.map-wrap .map{
    width: 67%;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.map-wrap .locations{
    width: 33%;
}
.locations .hdr{
    padding: 10px;
}
#chartdiv {
    width: 100%;
    height: 500px;
}
.datepicker-wrap{
    position: relative;
}
.datepicker-wrap > .datepicker{
    position: absolute;
    width: 100%;
    height: calc(100% + 4px);
    top: 0;
    left: 0;
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
}
.daterangepicker{
    display: none;
}

/*TRANSACTIONS*/

/*inputs-group*/
.inputs-group{
    display: flex;
}
.inputs-group + .inputs-group{
    margin-left: 5px;
}
.panel-alt fieldset > label{
    max-width: 200px;
    height: 22px;
}
