.icon-db {width: 32px; height: 32px; background: url('/images/icons/db.png');}
.icon-download {width: 15px; height: 19px; background: url('/images/icons/download.png');}
.icon-fb {width: 32px; height: 32px; background: url('/images/icons/fb.png');}
.icon-fl {width: 32px; height: 32px; background: url('/images/icons/fl.png');}
.icon-in {width: 32px; height: 32px; background: url('/images/icons/in.png');}
.icon-mail {width: 23px; height: 20px; background: url('/images/icons/mail.png');}
.icon-next {width: 17px; height: 25px; background: url('/images/icons/next.png');}
.icon-phone {width: 13px; height: 18px; background: url('/images/icons/phone.png');}
.icon-prev {width: 17px; height: 25px; background: url('/images/icons/prev.png');}
.icon-top {width: 15px; height: 17px; background: url('/images/icons/top.png');}
.icon-tw {width: 32px; height: 32px; background: url('/images/icons/tw.png');}