@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/Rockwell/RockwellRegular/RockwellRegular.ttf');
}
@font-face {
    font-family: 'Lucida';
    src: url('../fonts/558972.ttf');
}
a{
    text-decoration: none;
}
.icon-tw, .icon-fb, .icon-in, .icon-fl, .icon-su, .icon-yt{
    width: 32px;
    height: 32px;
}
.icon-tw{background: url('../images/icons/tw.png');}
.icon-fb{background: url('../images/icons/fb.png');}
.icon-in{background: url('../images/icons/in.png');}
.icon-fl{background: url('../images/icons/fl.png');}
.icon-su{background: url('../images/icons/su.png');}
.icon-yt{background: url('../images/icons/yt.png');}
.icon-overlay{
    width: 47px;
    height: 47px;
    background: url('../images/icons/overlay.png');
}
body{
    background: url('../images/bg.png')
}
.lwrap{
    max-width: 920px;
    padding: 35px 10px 10px 10px;
}
header{
    padding: 0px 0px 0px 50px;
    position:relative;
     background: url('../images/bg2.png');
    min-height: 164px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.75), inset 0 -2px 0 rgba(205, 112, 71, 0.5);
}
.wrap{
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
}
.wrap:before, .wrap:after, header:before{
    content: "";
  display: block;
  position: absolute; 
}
.wrap:before{  
   width: 376px;
  height: 11px;  
   top: -11px;  
   left: 11px;
   background: url('../images/shadow-alt.png');
}
.wrap:after{
   width: 376px;
  height: 13px;  
   right: 15px;
  bottom: -13px;
  background: url('../images/shadow.png');
}
header:before{
  width: 131px;
  height: 76px;
  top: -21px;
  left: -28px;
  z-index: 1;
  background: url('../images/stick.png');
}
header figure{
    margin: 0px 0px 0px -23px;
}
header figure img{
    width: 100%;
}
header h1{
    font: 700 48px/49px "Rockwell";
    color: #2c2c2b;
    text-shadow: 0 2px 0 #fff1b1;
    letter-spacing: -0.005em;
}
header span{
    font: 700 20px/23px "Rockwell";
    color: #e02a00;
    text-shadow: 0 2px 0 #fff1b1;
    margin: -1px 0px 4px 13px;
    display: inline-block;
    letter-spacing: -0.025em;
}
.content{
    padding: 40px 34px 27px 34px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.hdr{
    position: relative;
    margin: 0px 0px 31px 0px;
}
.hdr h2{
    position: relative;
    z-index: 1;
    text-shadow: 0 1px 0 white;
color: #e23500;
font: 30px "Rockwell";
background-color: #fff;

    min-width: 31.5%;
text-align: center;
padding: 0px 10px;
    letter-spacing: -0.05em;
}
.hdr:before{
    content: "";
    position: absolute;
    left: 0px;
    height: 5px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.grid {
    flex-wrap: wrap;
}
.grid.skills > div, .grid.works > article{
    flex: 1;
}
.half{
    width: 50%;
}
.heft{
    width: calc(100% * 2/3);
}
.third{
    width: calc(100%/3);
}
p{
    color: #2c2c2b;
font:13px/20px "Lucida Sans Unicode";

    margin: 0px 0px 20px 0px;
    letter-spacing: -0.049em;
}
.content h3{
    color: #2c2c2b;
    font: 20px "Rockwell";
    letter-spacing: -0.04em;
}
.content h5{
    color: #2c2c2b;
    font: 700 15px/20px "Lucida Sans Unicode";
    letter-spacing: -0.05em;
}
.content h5 + em{
    color: #2c2c2b;
    display: inline-block;
    font: italic 13px/20px "Lucida Sans Unicode";
    letter-spacing: -0.06em;
}
.works h5 + em{
    margin: 0px 0px 20px 0px;
}
.content h6{
    color: #2c2c2b;
    font: 700 13px/20px "Lucida Sans Unicode";
    letter-spacing: -0.07em;
    margin: 0px 0px -2px 0px;
}
.content h6 + em{
    color: #2c2c2b;
    font: italic 13px/14px "Lucida Sans Unicode";
    letter-spacing: -0.05em;
}
address span, address a{
    font:13px/24px "Lucida Sans Unicode";
    letter-spacing: -0.05em;
}
address span{
    color: #2c2c2b;
}
address a{
    color: #e23500;
}
address{
    margin: 0px 0px 0px 0px;
}
.clients li{
    color: #2c2c2b;
    font: 13px/20px "Lucida Sans Unicode";
    letter-spacing: -0.05em;
}
.clients ul{
    padding: 20px 27px 0px 0px;
}
.clients ul:last-child{
    padding: 20px 0px 0px 0px;
}
.social{
    width: 20%;
    margin: 0px 0px 0px 0px;
}
.social .grid{
    margin: 18px 12px 0px -14px;
}
.social a{    
    margin: 5px 8px 17px 15px;
}
.level.alt{
    background-image: linear-gradient(to top, #ffd200 0%, #fff4bf 100%);
border: 1px solid #ffd200;
}
.level{
    border-radius: 5px;
    background-image: linear-gradient(to top, #043f81 0%, #0183bc 100%);
    width: 83%;
    height: 10px;
}
.level-wrap{
    margin:  15px 0px 0px 0px;
    border-radius: 5px;    
background-image: linear-gradient(to top, #d7dce2 0%, #bfc6cb 85%, #f2f5f7 100%);
box-shadow: 0 1px 0 white, inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
}
.range{
    margin: 0px 0px 23px 0px;
}
.range span{
   color: #e23500;
font: 300 8px "Lucida Sans Unicode";
text-transform: uppercase; 
}
figure{
    position: relative;
    margin: 5px 5px 18px 5px;
}
.link{
    text-decoration: underline;
}
footer{
    padding: 12px 0px 29px 0px;
}
footer a, footer span{
    color: #87b2e4;
    font: 12px/20px "Lucida Sans Unicode";
    letter-spacing: -0.04em;
}
.profile{
    padding: 0px 0px 23px 0px;
}
.profile .half{
    padding: 5px 24px 0px 2px;
}
.works{
   padding: 2px 0px 25px 0px; 
   margin: 0px -41px 0px 0px;
}
.works > article{
    margin: 5px 32px 5px 3px;
}
.skills > div{
    margin: 5px 48px 14px 5px;
}
.address{
    margin: 0px 0px 0px -15px;
}
.address address{
    padding: 27px 0px 0px 0px;
}
.education{
    padding: 4px 0px 18px 2px;
}
.education .heft{
    padding: 0px 35px 0px 0px;
}
.education .third{
    padding: 2px 0px 0px 33px;
}
.clients{
    padding: 5px 0px 28px 2px;
}
.clients .third{
    padding: 2px 0px 0px 34px;
}
.clients .heft{
    padding: 0px 23px 0px 0px;
}
.portfolio{
    margin: 0px -7px 0px -5px;
}
.skills{
    margin: 0px -39px 0px 0px;
}
.skills img{
    margin: 13px 0px 34px 6px;
}
figure:hover .overlay{
    display: flex;
}
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    padding: 0px 6px 4px 0px;
}
.footer{
    flex-wrap: wrap
}
@media (max-width: 900px) {
    .portfolio{
        justify-content: space-around;
    }
}
@media (max-width: 800px) {
    .footer{
        flex-direction: column;
    }
    .footer div{
        padding: 10px;
    }
}
@media (max-width: 770px) {
    .skills{
         flex-direction: column;
    }
}
@media (max-width: 700px) {
    .profile{
        flex-direction: column;
    }
    .address {
    margin: 20px 0px 30px 0px;
}
  .profile .half {
    width: 100%;
}  
.social {
    width: 100%;
}
.social .grid {
    justify-content: flex-start;
}
}
@media (max-width: 650px) {
    .header {
        padding: 0px 0px 0px 10px;
    }
    header h1 {
    font: 700 30px/29px "Rockwell";
}
header span {
    font: 700 12px/13px "Rockwell";
}
.education{
         flex-direction: column;
    }
    .education .heft, .education .third {
    width: 100%;
    padding: 0px;
}
}
@media (max-width: 530px) {
    .works{
         flex-direction: column;
    }
    .clients{
         flex-direction: column;
    }
 .clients .heft, .clients .third {
    width: 100%;
    padding: 0px;
}   
}
@media (max-width: 470px) {
    .header{
        flex-direction: column;
    }
    .header figure {
    margin: 0px;
}
}