@font-face {
    font-family: "Gotham Rounded Bold";
    src: url(../fonts/Gotham-Rounded-Bold.ttf);
}
@font-face {
    font-family: "Gotham Rounded Book";
    src: url(../fonts/Gotham-Rounded-Book.otf);
}
@font-face {
    font-family: "Gotham Rounded Medium";
    src: url(../fonts/Gotham-Rounded-Medium.otf);
}
.icon-logo{
    width: 56px;
    height: 56px;
    background: url('../images/camera.png')no-repeat; 
}
.icon-logo-alt{
    width: 60px;
    height: 60px;
    background: url('../images/camerag.png')no-repeat; 
}
.icon-apple{
    width: 24px;
    height: 24px;
    background: url('../images/apple.png')no-repeat; 
}
.icon-android{
    width: 32px;
    height: 32px;
    background: url('../images/android.png')no-repeat; 
}

body{
    letter-spacing: 0.15em;
}
a{
    text-decoration: none;
}
header{
    height: 745px;
    background: url('../images/bg1.png')no-repeat; 
    background-size: cover;
}
nav{    
    max-width: 780px;
    padding: 50px 0 0 0;
    width: 100%
}
nav div{
    flex-wrap: wrap;
}
nav a{
    font: 15px "Gotham Rounded Medium";
    letter-spacing: 0.15em;
    color: #fff;
    text-transform: uppercase;
    margin: 10px;
}
header > .hdr{
    text-align: center;  
    max-width: 760px;
}
header > .social{
    max-width: 760px;
}
header h1{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    margin:0 10px 10px 10px;
    font: 36px "Gotham Rounded Bold";
}
.icon-logo.hidden{
    display: none;
    margin: auto;
    margin-top: 30px;
}
header h1 + p{
    letter-spacing: 0.25em;
    margin:0 10px 25px 10px;
    color: #fff;
    font: 14px "Gotham Rounded Book";
}
header a.btn-default{
    min-width: 166px;
    height: 49px;
}
a.btn-default{
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    font: 12px "Gotham Rounded Medium";
    min-width: 192px;
    height: 51px;
    border-radius: 3px;
    background-color: #159f85;
}
time{
    display: block;
    margin-top: 45px;
    margin-bottom: 5px;
    color: #373737;
    font: 12px "Gotham Rounded Bold";
}
.arrows a{
    width: 16px;
    height: 16px;
    display: inline-flex;
}
.community .btn-right{
    margin-left: 10px;
}
.btn-right{
    margin-left: 15px;
    background: url('../images/right.png')no-repeat center center;
}
.btn-left{
    background: url('../images/left.png')no-repeat center center;
}
.social{
    margin-bottom: 16px;
}
.social a{
    width: 24px;
    height: 24px;
    margin: 8px;
}
.twitter{
    background: url('../images/twitter.png')no-repeat center center; 
}
.flickr{
    background: url('../images/flickr.png')no-repeat center center; 
}
.rss{
    background: url('../images/rss.png')no-repeat center center; 
}
.article-wrap > div{
    margin: auto;
    max-width: 1040px;
    padding: 0 10px;
}
.image{
    position: relative;
}
.image .arrows{
    position: absolute;
    right: 0;
    top: -30px;
}
.article-wrap.community article h1{
    color: #373737;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    letter-spacing: 0.15em;
    font: 16px "Gotham Rounded Bold";
}
.article-wrap.community article p{
    text-align: center;
    color: #373737;
    font: 10px "Gotham Rounded Book";
    max-width: 150px;    
}
.article-wrap.community article{
    width: 18%;  
    padding: 150px 0px 120px 0px;
}
.article-wrap:nth-child(2n) {
    background-color: #f5f5f7;
}
.article-wrap:nth-child(2n+1) > div {
    flex-direction: row-reverse;
}
.article-wrap:nth-child(2n+1) article {
    width: 38%;
    padding: 140px 0px 90px 0px;
}
.image img{
    width: 100%;    
}
.community .image > div{
    margin-left: 20px;
    display: flex;
}
article{
    padding: 110px 0px 90px 0px;
    height: 100%;
    width: 50%;
}
article h1{
    color: #159f85;
    text-transform: uppercase;
    font: 18px "Gotham Rounded Bold";
    margin-bottom: 40px;
}
article p{
    font: 12px/24px "Gotham Rounded Book";
    margin-bottom: 40px;
    letter-spacing: 0.15em;
}
.subscribe{
    min-height: 792px;
    background: url('../images/bg2.png')no-repeat; 
    background-size: cover;   
}
.subscribe form{
    max-width: 1020px;
}
.subscribe input{
    border: none;
    width: 282px;
    text-transform: uppercase;
    color: #373737;
    border-radius: 3px 0 0 3px;
    font-family: "Gotham Rounded Medium";
    font-size: 18px;
    padding: 0 22px;
}
.subscribe label{
    color: #fff;
    letter-spacing: 0.15em;
    letter-spacing: 0.15em;
    text-align: center;
    margin: 0 10px 35px 10px;
    text-transform: uppercase;
    font: 23px "Gotham Rounded Bold";
}
.subscribe input::-webkit-input-placeholder {
    color: #373737;
    font-family: "Gotham Rounded Medium";
    font-size: 18px;
}
.subscribe input::-moz-placeholder {
    color: #373737;
    font-family: "Gotham Rounded Medium";
    font-size: 18px;
}
.subscribe input:-ms-input-placeholder {
    color: #373737;
    font-family: "Gotham Rounded Medium";
    font-size: 18px;
}
.btn-check{
    width: 63px;
    height: 60px;
    border-radius: 0 3px 3px 0;
    background: #159f85 url('../images/check.png')no-repeat center center; 
}
.download{
    background-color: #f5f5f7;    
}
.download > div{
    min-height: 396px;
    max-width: 1040px;
    padding:10px;
    margin: auto;
}
.download > div > div{
    flex-wrap: wrap;
}
.download h2{
    text-transform: uppercase;
    color: #373737;
    font: 20px "Gotham Rounded Bold";
    margin-bottom: 5px;
}
.download p{
    max-width: 900px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-bottom: 30px;
    font: 12px/22px "Gotham Rounded Medium";
}
a.btn-store{
    margin: 10px;
    width: 296px;
    height: 56px;
    border-radius: 3px;
    background-color: #19bb9b;
    justify-content: space-between;
    padding-left: 24px;
    font: 16px "Gotham Rounded Bold";
    color: #fff;
    text-transform: uppercase;
}
.btn-store span{
    width: 56px;
    height: 56px;
    display: inline-flex;
    border-radius: 0 3px 3px 0;
    background-color: #159f85;
}
footer{    
    max-width: 1040px;
    min-height: 130px;
    padding: 10px;
    margin: auto;
}
footer .icon-logo-alt{
    margin-left: 10px;
    min-width: 60px;
}
footer > div > span{
    display: block;
    color: #373737;
    margin-top: 20px;
    font: 14px "Gotham Rounded Bold";
}
footer a span{
    margin: 0 3px 0 5px;
    color: #16a085;
    font: 14px "Gotham Rounded Bold";
}
footer a{
    display: inline-flex;
    text-transform: uppercase;
    color: #373737;
    font: 14px "Gotham Rounded Bold";
}

@media (max-width: 700px) {
    .article-wrap > div, .article-wrap:nth-child(2n+1) > div{
        flex-direction: column;
        align-items: center;
    }
    article, .article-wrap:nth-child(2n+1) article, .article-wrap.community article {
        padding: 30px 0px 30px 0px;
    width: 100%;
}
.community .image{
    margin-bottom: 30px;
}
.community .image > div {
    margin: 0 5px;
}
}
@media (max-width: 550px) {
    i.icon-logo{
        display: none;
    }
    .icon-logo.hidden{
        display: block;
    }
}
@media (max-width: 450px) {
    .header nav div{
        flex-direction: column;
    }
    .subscribe{
        min-height: 500px;
    }
    footer{
        flex-direction: column;
        aling-items: center;
    }
    footer > div > span {
    margin-bottom: 20px;
}
}
@media (max-width: 380px) {
    .subscribe input {
    width: 252px;
    }
}
@media (max-width: 340px) {
    .subscribe input {
    width: 232px;
    }
}

