@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue.otf');
}
@font-face {
    font-family: 'Lobster 1.4';
    src: url('../fonts/Lobster1.4.otf');
}
.icon-search{
    width: 24px;
    height: 24px;
    background: url('../images/search.png');
}
.icon-left, .icon-right{
    width: 32px;
    height: 88px;
}
.icon-left{
    background: url('../images/left.png');
}
.icon-right{
    background: url('../images/right.png');
}
.icon-cart{
    width: 44px;
    height: 44px;
    background: url('../images/cart.png');
}
body{
    background-color: #3dbfb4;
}
a {
    text-decoration: none;
}
.header-wrap{
    background-color: #fff;
}
.header, .nav, .slider-top, .heading, .futured, .footer{
    max-width: 1024px;
    margin: auto;
}
.heading{
    max-width: 1009px;
}
.header{
    min-height: 82px;
    padding: 0px 12px 0px 31px;
}
.logo{
    color: #3bc3b4;
    font: 49px "Lobster 1.4";
}
.nav-wrap{   
    background-color: #4ccfc1;
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
}
.search{
    margin: 2px 20px 0px 36px;
    width: 100%;
    max-width: 436px;
    height: 33px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 7px 0 15px;
}
.search input{
    width: 90%;
    border: none;
}
.cart span{
    margin-left: 14px;
    margin-top: 5px;
    font: 33px "Bebas Neue";
    color: #a0a0a0;
}
.nav{
    min-height: 36px;
    flex-wrap:wrap;
    padding: 3px 3px 3px 3px;
}
.nav a{
    font: 21px/19px "Bebas Neue";
    color: #fff;
    padding: 0px 9px 0px 24px;
    border-left: 1px solid #fff;
    margin: 5px 0;
}
.nav a:first-child{
    border-left: none;
}
.slider-top img{
    width: 100%;
    max-width: 280px;
    max-height: 328px;
    margin: 20px 19px 6px 10px;
}
.slider-top p{
    color: #fff;
    font: 17px/28px "Open Sans";
    margin-bottom: 25px;
    max-width: 410px;
}
.slider-top h1{
    color: #fff;
    max-width: 350px;
    margin-bottom: 10px;
    font: 61px/54px "Bebas Neue";
}
.slider-top > div:first-child{
    width: 45%;
}
.slider-top > div:last-child{
    width: 55%;
    padding: 80px 20px 32px 4px;
}
a.btn-shop{
    min-width: 139px;
    min-height: 46px;
    border: 3px solid #fff;
    border-radius: 8px; 
    color: #fff;
    margin-bottom: 48px;

    margin-left: 4px;
    font: 27px "Bebas Neue";
}
.controls a{
    margin: 2px 5px 2px 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
}
.controls a.active{
    opacity: .51;
}
.slider-product-wrap{
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,.13);
}
.slider-product{
    max-width: 1280px;
    margin: auto;   
}
.slider{
    max-width: 1024px;
    width: 100%;
    margin: 0 54px 0 54px;
}
.slider figure:first-child{
    border-left: none;
}
.slider figure{
    padding: 20px;
    width: calc(100%/3);
    min-height: 190px; 
    border-left: 1px solid #e7e7e7;
}
.slider figure img{
    width: 100%;
}
figure h2, figure span{
    color: #aeaeae;
    font: 27px/25px "Bebas Neue";
}
.slider figure h2{
    margin-bottom: 15px;
    margin-top: 11px;
}
.slider figure > figcaption{
    max-width: 35%;
}
a.btn-default{
    min-width: 59px;
    font: 19px "Bebas Neue";
    color: #fff;
    min-height: 32px;
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #3cc394;
}
.btn-arrow{
    margin: 10px;
}
.heading{
    min-height: 67px;
    padding: 16px 58px 10px 58px;
}
.heading h1{
    font: 31px "Bebas Neue";
    color: #fff;
}
.futured-wrap{
    background-color: #fff;
}
.futured{
    flex-wrap: wrap;
    padding: 22px 40px 52px 40px;
}
.futured figure{
    padding: 20px;
    max-width: 300px;
    min-width: 253px;
    min-height: 260px;
    margin: 26px 34px 21px 27px;
    border-bottom: 5px solid #3cc395;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.16);
}
.futured figure h2{
    margin: 6px 0 7px 0;
}
.futured figure span{
    display: inline-block;
    margin: 0 15px 0 3px;
}
.futured a.btn-default{
    font-size: 20px;
    height: 34px;
}
.copyright{
    min-height: 46px;
    background-color: #2da89b;
    color: #fff;
    font: 15px/28px "Open Sans";
}
.footer{
    padding: 36px 89px 0 60px;
    flex-wrap: wrap;
}
.footer > div{
    min-width: 150px;
    margin: 5px 5px 33px 5px;
}
.footer h3{
    color: #fff;
    margin-bottom: 14px;
    font: 27px/25px "Bebas Neue";
}
.footer li a{
    color: #fff;
    font: 15px/28px "Open Sans";
    padding-left: 5px;
}
.footer li a:hover{
    text-decoration: underline;
}
@media (max-width: 1010px) {
    .nav{
        justify-content: flex-start;
        padding: 0 10px;
    }
    .nav a{
        padding: 0 10px;
    }
    .nav a:first-child{
        padding: 0 10px 0 0;
    }
    .footer{
        padding: 40px 20px 0 40px;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) {
    .header {
        padding: 0px 10px;
    }
    .slider-product {
        flex-direction: column;
    }
    .slider figure > figcaption {
        max-width: 50%;
    }
    .icon-left{
        transform: rotate(90deg)
    }
    .icon-right{
        transform: rotate(90deg)
    }
}
@media (max-width: 650px) {
    .slider-top h1 {
        font: 41px/34px "Bebas Neue";
    }
    .slider-top > div:last-child {
        padding: 40px 20px 20px 10px;
    }
    .slider figure > figcaption {
        max-width: 100%;
        text-align: center;
    }
    .slider figure {
        width: 100%;
    }
    .slider figure {
        flex-direction: column;
    }
}
@media (max-width: 500px) {
    .header {
        flex-direction: column;
    }
}
@media (max-width: 450px) {
    .slider {
        flex-direction: column;
    }
    .slider figure {
        border-left: none;
        border-top: 1px solid #E7E7E7;
    }
    .slider figure:first-child {
        border-top: none;
    }
}
