.icon-aero:hover {background: url('/images/icons/aero-hover.png');}
.icon-book:hover {background: url('/images/icons/book-hover.png');}
.icon-bug:hover {background: url('/images/icons/bug-hover.png');}
.icon-check:hover {background: url('/images/icons/check-hover.png');}
.icon-cup:hover {background: url('/images/icons/cup-hover.png');}
.icon-edition:hover {background: url('/images/icons/edition-hover.png');}
.icon-folder:hover {background: url('/images/icons/folder-hover.png');}
.icon-gear:hover {background: url('/images/icons/gear-hover.png');}
.icon-leaf:hover {background: url('/images/icons/leaf-hover.png');}
.icon-out:hover {background: url('/images/icons/out-hover.png');}
.icon-signup:hover {background: url('/images/icons/signup-hover.png');}