@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/fonts/fontsquirel.com/big_noodle_titling.woff2') format('woff2'), url('/fonts/fontsquirel.com/big_noodle_titling.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}