.icon-bed {width: 23px; height: 21px; background: url('/images/icons/bed.png');}
.icon-calendar {width: 23px; height: 21px; background: url('/images/icons/calendar.png');}
.icon-clock {width: 13px; height: 14px; background: url('/images/icons/clock.png');}
.icon-fb {width: 9px; height: 16px; background: url('/images/icons/fb.png');}
.icon-fly {width: 23px; height: 21px; background: url('/images/icons/fly.png');}
.icon-freebies {width: 29px; height: 26px; background: url('/images/icons/freebies.png');}
.icon-glass {width: 23px; height: 21px; background: url('/images/icons/glass.png');}
.icon-in {width: 14px; height: 15px; background: url('/images/icons/in.png');}
.icon-mail {width: 16px; height: 13px; background: url('/images/icons/mail.png');}
.icon-phone {width: 12px; height: 13px; background: url('/images/icons/phone.png');}
.icon-search {width: 15px; height: 15px; background: url('/images/icons/search.png');}
.icon-tw {width: 15px; height: 12px; background: url('/images/icons/tw.png');}
.icon-user {width: 16px; height: 18px; background: url('/images/icons/user.png');}
.icon-wa {width: 14px; height: 15px; background: url('/images/icons/wa.png');}
.icon-yt {width: 14px; height: 17px; background: url('/images/icons/yt.png');}