.icon-cloud {width: 24px; height: 24px; background: url('/images/icons/cloud.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-in {width: 24px; height: 24px; background: url('/images/icons/in.png');}
.icon-mail {width: 24px; height: 24px; background: url('/images/icons/mail.png');}
.icon-menu {width: 24px; height: 24px; background: url('/images/icons/menu.png');}
.icon-search {width: 20px; height: 20px; background: url('/images/icons/search.png');}
.icon-tw {width: 20px; height: 20px; background: url('/images/icons/tw.png');}
.icon-video {width: 28px; height: 28px; background: url('/images/icons/video.png');}