@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(https://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
a{
    text-decoration: none;
}
.breadcrumb a:hover, .tweets article a:hover, .list-links a:hover, .tweet a:hover, .list-categories a:hover {
    text-decoration: underline;
}
.icon-down, .icon-up{
    width: 11px;
    height: 6px;
}
.icon-f, .icon-g, .icon-t{
    width:28px;
    height: 28px;
}
.icon-tw{
    width: 30px;
    height: 23px;
    background: url('../images/icons/tw.png');
}
.icon-down{background: url('../images/icons/11x6/down.png');}
.icon-up{background: url('../images/icons/11x6/up.png');}
.icon-f{background: url('../images/icons/28x28/f.png');}
.icon-t{background: url('../images/icons/28x28/t.png');}
.icon-g{background: url('../images/icons/28x28/g.png');}
.icon-logo{
    width: 37px;
    height: 45px;
    background: url('../images/icons/logo.png');
}
h3{
    color: #2a535e;
    font: 900 15px/22px "Lato";
    margin: 0px 0px 7px 0px;
}
p{
    color: #2a535e;
    font: 14px/22px "Lato";
    margin: 0px 0px 22px 0px;
    letter-spacing: -0.0125em;
}
.preview > p:last-child{
   margin: 0px 0px 18px 0px;
}
header{
    padding: 15px 0px 0px 0px;
    background: url('../images/border-top.png')repeat-x;
}
.lwrap{
    padding: 0px 10px;
    max-width: 980px;
}
header .lwrap{
    flex-wrap: wrap;
    padding: 0px 9px 5px 8px;
}
.logo{
    margin: 11px 0px 0px 0px;
}
.logo i{
    margin: 0px 5px 0px 0px;
}
.nav{
    flex-wrap: wrap;
}
.logo span{
    color: #2a535e;
    text-transform: uppercase;
    font: 900 24px/17px "Lato";
}
.logo small{
    color: #7a8f95;
    font: 12px/20px "Lato";
    padding: 0px 0px 0px 1px;
}
.nav .btn{
    color: #4d7b87;
    font: 700 14px/24px "Lato";
    min-height: 100px;
    border-top: 6px solid transparent;
    margin: 0px 0px 0px 16px;
    letter-spacing: 0.01em;
    padding: 2px 2px 11px 2px;
}
.nav a:hover{
    border-top: 6px solid #1f987d;
}
.breadcrumb{
    border-top: 1px solid #a6cdd7;
    border-bottom: 1px solid #a6cdd7;
    padding: 2px 0px 1px 0px;
    margin: 0px 0px 1px 0px;
}
.breadcrumb span, .breadcrumb a{
    color: #2a535e;
    font: 11px/22px "Lato";
}
.breadcrumb a + span{
    padding: 0px 4px;
}
.title{    
    background-color: #1f987d;
}
.title h2{
    min-height: 56px;
    font: italic 900 22px/23px "Lato";
    text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px 0px 0px 2px;
}
.content-wrap{
    padding: 26px 0px 57px 0px;
    background: url('../images/shadow.png')no-repeat center 4px;
}
.content{
    width: 76%;
    background-color: #fff;
    padding: 25px 21px 0px 0px;
    border-radius: 10px;
    position:relative;
    margin:  0px 12px 0px 0px;
    z-index: 1;
}
.content:before{
    top: -105px;
    right: -70px;
    content: "";
    position: absolute;
    width: 310px;
    height: 370px;
    z-index: -1;
    background: url('../images/shadowc.png')no-repeat;
}
blockquote{
    border: 1px solid #d2cbcb;
    padding: 4px 12px 7px 12px;
    border-left: none;
    font: italic 700 20px/30px "Lato";
    letter-spacing: -0.01em;
}
.blockquote{
    margin: 0px 9px 30px 1px;
    border-left: 5px solid #2a535e;
    color: #2a535e;
}
.accordion ._nav > a {
    color: #2a535e;
    justify-content: space-between;
    background-color: #f1f1f1;
    border: 1px solid #d2cbcb;
    font: 12px/22px "Lato";
    padding: 0px 0px 0px 9px;
    margin: 1px 0px 2px 0px;
}
.tabs.accordion ._nav > a.active, .tabs.accordion ._nav > a:hover{
    background-color: #2a535e;
    border: 1px solid #2a535e;
    color: #fff;
}
.tabs.accordion ._nav > a.active .icon-down{
    background: url('../images/icons/11x6/up.png');
}
.btn-acc{
    width: 34px;
    height: 32px;
    background-color: #1f987d;
    margin: -1px -1px 0px -1px;
}
.accordion h3{
    margin: 0px 0px 5px 0px;
}
.accordion{
    margin: 26px 9px 23px 0px;
}
.accordion ._content > *{
    border: 1px solid #d2cbcb;
    padding: 15px 5px 5px 10px;
}
.accordion ._content > * p{
    margin: 0px 0px 12px 0px;
}
.tab ._content > * p{
    margin: 0px 0px 12px 0px;
}
.tab{
    margin: 0px 9px 0px 0px;
}
.tab h3{
    margin: 0px 0px 8px 0px;
}
.tab  ._nav > a {
    width: 61px;
    height: 30px;
    font: 12px/22px "Lato";
    color: #2a535e;
    border: 1px solid #d2cbcb;
    border-bottom: none;
    margin: 0px 1px 0px 0px;
}
.tab  ._nav > a.active, .tab ._nav > a:hover {
    background-color: #1f987d;   
    color: #fff;
    border: 1px solid #1f987d;
}
.tab ._content > *{
    border: 1px solid #d2cbcb;
    padding: 18px 10px 6px 19px;
}
.sidebar{
    z-index: 1;
    position: relative;
    width: 23%;
    padding: 25px 1px 10px 15px;
}
.tweets article{
    border-bottom: 1px solid #8fcbbe;
    margin: 0px 0px 6px 0px;
    padding: 0px 0px 9px 0px;
}
.list-categories{
    margin: 0px 0px 28px 0px;
}
.list-categories li:before{
    display: none;
}
.list-categories li{
    padding: 4px 0px 6px 0px;
    border-bottom: 1px solid #8fcbbe;
}
.list-categories li a{
    color: #2a535e;
    font: 14px "Lato";
}
.lbl-counter{
    background-color: #2a535e;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    color: white;
    font: 11px/11px "Lato";
}
.list-nav{
    margin: 0px 0px 29px 0px;
}
.list-nav li a{
    color: #2a535e;
    font: 14px "Lato";
    border-bottom: 1px solid #edeaea;
    border-top:1px solid #e4e0e0;
    border-left: 1px solid #e4e0e0;
    border-right: 1px solid #e4e0e0;
    padding: 6px 0px 5px 10px;
}
.list-nav li a:hover{
    color: white;
    background-color: #1f987d;
    border-top:1px solid #1f987d;
    border-left: 1px solid #2a535e;
    border-right: 1px solid #1f987d;
    border-bottom: 1px solid #1f987d;
    padding: 5px 0px 6px 5px;
}
.list-nav li.active, .list-nav li:hover{
    border-left: 6px solid #2a535e;
}
.sidebar nav h3{
    margin: 0px 0px 6px 0px;
}
.tweets h3{
    margin: 0px 0px 9px 0px;
}
.tweets time{
    color: #2a535e;
    font: 700 12px "Lato";    
}
.tweets p{
    font: 13px/20px "Lato";
    margin: 0px 0px 3px 0px;
    letter-spacing: 0.015em;
}
.tweets p a{
    color: #2a535e;
}
.tweets .lbl-tw{
    margin: 6px 9px 0px 0px;
}
.lbl-tw{
    min-width: 43px;
    width: 43px;
    height: 38px;
    background-color: #2a535e;
    position: relative;
}
.lbl-tw:after{
    content: "";
    right: -4px;
    top: 7px;
    position: absolute;
    border-left: 5px solid #2a535e;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
footer{
    background-color: #1f987d;
    border-top: 2px solid #4d7b87;
    box-shadow: inset 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
footer .lwrap{
    padding: 23px 10px 10px 12px;
}
footer h5{
    font: 900 14px "Lato";
    color: white;
    margin: 0px 0px 11px 0px;
}
.list-links li:before{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    background-image: linear-gradient(to top, #2c973b 0%, #39b54a 100%);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);
    top: 13px;
    left: 0px;
}
.list-links{
    margin:-1px 0px 0px 0px;
}
.list-links li{
    padding: 0px 0px 0px 18px;
    line-height: 24px;
}
.list-links li a, footer p{
    font: 12px/22px "Lato";
    color: white;
    letter-spacing: 0.003em;
}
footer p{
    letter-spacing: 0.003em;
}
.list-links li a{
    letter-spacing: -0.01em;
}
.tweet{
    background-color: #1f987d;
    border: 1px solid rgba(9, 69, 55, 0.56);
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    padding: 9px 5px 17px 15px;
    margin: 7px 0px 0px 0px;
}
.tweet time{
    color: #0f4f41;
    font: italic 700 12px/22px "Lato";
    padding: 0px 0px 3px 2px;
}
.tweet a{
    color: white;
    font: italic 14px/20px "Lato";
}
.lbl-twidget{
    width: 41px;
    min-width: 41px;
    height: 42px;
    margin: 18px -1px 0px 0px;
    border-radius: 6px 0px 0px 6px;
    background-color: #167862;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.41);
}
.lbl-twidget:before, .lbl-twidget:after{
    content: "";
    top: 14px;
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.lbl-twidget:before{
    right: -6px;    
    border-left: 6px solid rgba(255, 255, 255, 0.41);
}
.lbl-twidget:after{
    right: -5px;
    border-left: 6px solid #167862;
}
footer .grid{
    border-bottom: 1px solid #116c58;
    padding: 0px 0px 3px 0px;
    flex-wrap: wrap;
}
.social{
    flex-wrap: wrap;
    border-top: 1px solid #74bfae;
    padding: 8px 0px 20px 0px;
}
footer form{
    margin: 18px 0px 0px 0px;
}
footer form input{
    height: 36px;
    margin: 0px 0px 6px 0px;
    color: #a29d9d;
    font-family: "Lato";
    font-size: 12px;
    font-style: italic;
    padding: 0px 7px 0px 7px;
}
footer form input, footer form .textarea{    
    background-color: white;
    border: 1px solid rgba(2, 36, 28, 0.56);
    box-shadow: inset 2.8px 2.8px 15px rgba(0, 0, 0, 0.24);
}
footer form textarea{
    border:none;
    padding: 7px 9px 0px 9px;
    resize: none;
    background-color: transparent;
    height: 33px;
}
.btn-default{
    min-width: 73px;
    min-height: 26px;
    padding: 2px 5px;
    color: white;
    font: 900 12px/18px "Lato";
    background-color: #2f9f3f;
    background-image: linear-gradient(to top, #2c973b 0%, #39b54a 100%);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);
}
.textarea .btn-default{
    border-right: none;
    border-bottom: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
font-family: "Lato";
font-size: 12px;
font-style: italic;
}
input::-moz-placeholder, textarea::-moz-placeholder {
font-family: "Lato";
font-size: 12px;
font-style: italic;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
font-family: "Lato";
font-size: 12px;
font-style: italic;
}
.grid > *{
    flex: 1;
}
.text{
    max-width: 177px;
     min-width: 160px;
    margin: 0px 21px 20px 0px;
}
.links{
     min-width: 140px;
    max-width: 140px;
    margin: 0px 21px 20px 0px;
}
.twidget{
    max-width: 284px;
    min-width: 183px;
    margin: 0px 16px 20px 0px;
}
.form{
     min-width: 183px;
    max-width: 251px;
    margin: 0px 0px 20px 5px;
}
.tweet p{
    margin: 0px 0px 0px 0px;
}
.social a{
    margin: 0px 6px 4px -2px;
}
@media (max-width: 830px) {
    .content-wrap .lwrap{
        flex-direction: column;
    }
    .content {
    width: 100%;
    padding: 25px 10px 0px 0px;
    margin: 0px;
}
.sidebar {
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.sidebar > *{
    flex: 1;
    margin: 5px;
}
}
@media (max-width: 750px) {
    .grid > *{
        width: 50%;
    }
}
@media (max-width: 618px) {
.nav .btn {
    min-height: 50px;
}
}
@media (max-width: 550px) {
    .sidebar{
    flex-direction: column;
}
}