body{
    font-family: Arial;
    font-size: 12px;
}

/*LINKS*/
.links-nav{
    margin-top: 23px;
    border: 1px solid transparent;
    border-radius: 7px;
    position: relative;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2), inset 0px -1px 0px 0px rgba(0,0,0,.2);
    background: #54472a linear-gradient(transparent, rgba(255,255,255,.1)50%, transparent 51%, transparent);
}
.links-nav:before{
    width: 189rem;
    height: 103rem;
    background: url("/images/navleft.png")no-repeat center center;
    left: -100rem;
    bottom: -44rem;
}
.links-nav:after{
    width: 133rem;
    height: 97rem;
    background: url("/images/navtop.png")no-repeat center center;  
    top: -35rem;
    right: -10rem;
}
.links-nav:before, .links-nav:after{
    content: "";
    position: absolute;
    background-size: cover;
    z-index: -1;
}
.links-nav a{
    border-right: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(0,0,0,.2);
    color: #ece8d7;
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    height: 56px;    
    padding: 0px 31.5rem;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2), inset 0px -1px 0px 0px rgba(0,0,0,.2);
    background: #3b3019 linear-gradient(transparent 0%, rgba(255,255,255,.1)50%, transparent 51%, transparent 100%);
}
.links-nav a:first-child{
    border-radius: 7px 0px 0px 7px;
    border-left-color: transparent;
}
.links-nav a:last-child{
    border-radius: 0px 7px 7px 0px;
    border-right-color: transparent;
}
.links-footer a{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255,255,255,.5);
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus{
    text-decoration: underline;
}
.links-sidebar{
    max-width: 300px;
    margin-bottom: 50px;
}
.links-sidebar li{
    line-height: 20px;
    padding: 10rem 0px 14rem 0px;
    color: #685c42;
    letter-spacing: -0.005em;
    background: url("/images/horizontal.png")repeat-x center bottom, linear-gradient(transparent, rgba(255,255,255,2));
}
.links-sidebar a{
    color: #4f862b;
}
.links-sidebar a:active, .links-sidebar a:hover, .links-sidebar a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-default{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Trebuchet MS;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 10px;
    min-width: 225px;
    height: 74px;
    border: 1px solid #538c2e;
    text-align: center;
    background: 
        radial-gradient(circle at center -50%, rgba(0,0,0,.5), transparent),
        linear-gradient(transparent, rgba(255,255,255,.1)50%, transparent 51%, transparent),
        #538c2e;
    border-radius: 7px;
    box-shadow: inset -1px 1px 0px 0px rgba(255,255,255,.1), inset 1px -1px 0px 0px rgba(0,0,0,.1);
}
.btn-default:active, .btn-default:hover, .btn-default:focus{
    background: 
        radial-gradient(circle at center -50%, rgba(0,0,0,.3), transparent),
        linear-gradient(transparent 0%, rgba(255,255,255,.1)50%, transparent 51%, transparent 100%),
        #db6e35;
    border: 1px solid #db6e35;
}

/*PAGINATION*/
.pagination{
    color: darkgrey;
    font-family: Times New Roman;
    font-weight: 700;
    line-height: 35px;
    background: url("/images/horizontal.png")repeat-x left top, url("/images/horizontal.png")repeat-x left bottom;
}
.pagination > a:first-child{
    margin-left: 0px;
}
.pagination > a:last-child{
    margin-right: 0px;
}
.pagination a{
    margin: 0px 13rem;
    color: #6b685c;
}
.pagination a.active, .pagination a:active, .pagination a:hover, .pagination a:focus{
    color: #db6e35;
}

/*OTHER*/
.more{
    color: #db6e35;
    font-family: Times New Roman;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 20px;
    text-decoration: underline;
}
.more:after{
    content: "";
    width: 7px;
    height: 7px;
    background: #db6e35;
    border-radius: 50%;
    margin-left: 5px;
}
.more:active, .more:hover, .more:focus{
    text-decoration: none;
}
.title{
    margin-bottom: 28px;
    color: #47443a;
    font-family: Times New Roman;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0px;
    background: url("/images/horizontal.png")repeat-x center bottom;
}
._elements hr.border, .border{
    height: 17px;
    background: linear-gradient(90deg, transparent 0%, white 25px, white calc(100% - 25px), transparent 100%);
    margin: 41rem -25px 43rem -25px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1 0 1 0;
    border-image-width: 1px 25px 1px 25px;
    border-image-outset: 1px 0px 1px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("/images/horizontal.png");
}