/*COMMON*/
body{
    background: url("/images/bgcover.png");
}
.lwrap{
    max-width: 980px;
}

/*HEADER*/
header{
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(0,0,0,.3), inset 0px -2px 0px 0px rgba(255,255,255,.5);
    background: linear-gradient(rgba(0,0,0,.05), transparent, rgba(255,255,255,.2)), url("/images/headerflower.png") no-repeat center bottom;  
}
#logo{
    margin: 0px 23rem;
}
header .lwrap{
    position: relative;
    padding: 25rem 2px 223rem 2px;
}
header .lwrap:before{
    content: "";
    top: -30rem;
    position: absolute;
    width: 486rem;
    left: -15%;
    height: 154rem;
    background: url("/images/logolights.png")no-repeat center top;
    background-size: cover;
}

/*CONTENT*/
.wrap{
    background: url("/images/wrap.png")no-repeat center 100px, url("/images/wrapbottom.png")no-repeat center bottom 56px;
}
.wrap .lwrap{
    position: relative;
    margin: -110rem auto -57rem auto;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: inset 1.3px -1.6px 0 rgba(0,0,0,.2),  0px 0px 9px 1px rgba(0,0,0,.2);
    background: linear-gradient(#fcf9f1, white);
    padding: 47rem 37rem 29rem 44rem;
    border-image-slice: 20 19 20 19;
    border-image-width: 20px 19px 20px 19px;
    border-image-outset: 0px 19px 20px 19px;
    border-image-repeat: stretch stretch;
    border-image-source: url("/images/shadow.png");
}
.content{
    padding-right:56rem;
}
.post figure{
    padding: 6px 7px 5px 6px;
    background-color: #ece5d0;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: -0.3px 1px 3px rgba(0,0,0,.4);
    margin: 27rem 0px 26rem 0px;
}
.post h2{
    padding-right: 10px;
    color: #47443a;
    font-family: Times New Roman;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.005em;
}
.author{
    color: #538c2e;
    font-weight: 700;
    line-height: 12px;
}
.author + time{
    color: #db7037;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-right: -2px;
}
.post figure ~ em{
    display: inline-block;
    color: #307d34;
    line-height: 18px;
    padding: 0px 0px 21rem 2px;
    letter-spacing: -0.017em;
}
.post p{
    color: #47443a;
    line-height: 20px;
    margin: 0px 0px 24rem 2px;
    letter-spacing: -0.014em;
}
.post p strong{
    color: #4e3222;
}
.post p a{
    color: #37713a;
    font-style: italic;
    text-decoration: underline;
}
.post p a:active, .post p a:hover, .post p a:focus{
    text-decoration: none;
}

/*SIDEBAR*/
.sidebar {
    width: 25.1%;
    flex-shrink: 0;
}
.sidebar > div:first-child {
    padding: 49rem 19rem 0px 18rem;
    margin-bottom: 56rem;
    background: url("/images/vertical.png")repeat-y top right, url("/images/vertical.png")repeat-y top left;
}
.sidebar p{
    color: #574a2d;
    line-height: 20px;
    padding: 2px 0px 11px 0px;
    margin-bottom: 8px;
    letter-spacing: -0.01em;
}
.sidebar .btn-default:last-child{
    font-size: 20rem;
}
.sidebar .more{
    margin: 17px 0px 0px 5px;
}
.sidebar .btn-default{
    margin-bottom: 20px;
}

/*FOOTER*/
footer{
    box-shadow: 0px -1px 0px 0px rgba(255,255,255,.1);
    background: #54472a url("../images/footer.png")repeat-x center top;
    border-bottom: 44px solid rgba(0,0,0,.3);
}
footer .lwrap{
    padding: 79rem 59rem 61rem 59rem;
}
footer .lwrap > div{
    width: 19.5%;
}
footer .lwrap > div:first-child{
    width: 40%;
}
footer .lwrap > div:last-child{
    width: 30%;
}
footer p{
    font-weight: 700;
    line-height: 20px;
    color: rgba(255,255,255,.5);
    padding: 0px 21rem 10rem 0px;
    letter-spacing: 0.005em;
}

/*MEDIA QUERIES*/
@media (max-width: 800px){
    .sidebar{width: 33%;}
}
@media (max-width: 640px){
    footer .lwrap > div:first-child{width: 100%;}
    footer .lwrap > div, footer .lwrap > div:last-child{width: 48%;}
    .sidebar .btn-default, .sidebar .btn-default:last-child {font-size: 14px;}
}
@media (max-width: 480px){
    .content{padding-right: 7rem;}
    .links-nav a{font-size: 15px;}
    .sidebar .btn-default, .sidebar .btn-default:last-child {font-size: 20px;}
}