/*COMMON*/
figure > img, a > img{
    height: 100%;
    width: 100%;
    display: block;
}
body{
    height: auto;
    min-height: 100%;
    background: url("/images/bg.png");
}
p{        
    line-height: 17px;     
    letter-spacing: 0.007em;
}
p, .details{
    font-size: 14px;    
    text-shadow: 0 1px 1px white;   
}

/*SIDEBAR*/
#logo{
    max-width: 200px;
    margin: 0px 0px 52rem 24rem;
}
.side-wrap{
    width: 41.5%;  
    flex-shrink: 0;
    position: relative;
    background: url("/images/top.png")repeat-x left top, url("/images/side-bg.png");    
}
.side-wrap + div{
    width: 100%;    
}
.sidebar{
    max-width: 320px;
    padding: 0px 59rem 10px 10px;
    box-shadow: inset -5px 0 5px rgba(0, 0, 0, 0.16);
    border-right: 1px solid rgba(0,0,0,.4);
}
.sidebar figure{
    float: right;
    max-width: 40%;
    margin: 3rem 0px 0px 5rem;
}
.sidebar > div{
    margin: 0px 1rem 11px 0px;
}
.sidebar p{
    max-width: 250px;
}

/*CONTENT*/
.content{
    max-width: 649px;
    padding: 57rem 10px 20px 0px;
    border-left: 1px solid rgba(255,255,255,.7);
}
.post-side .lbl-default{
    margin: 16rem 0px 0px -35px;
}
.post-side{
    width: 22%;
    flex-shrink: 0;
    margin: 0px 20rem 10px 18rem;
    min-width: 100px;
}
.post > div{
    margin-bottom: 25rem;
}
.post{
    margin-bottom: 41rem;
}
.post p{
    text-indent: 20px;
    margin: -3rem 0px 21rem 0px;
}
.details{
    padding: 16rem 10rem 13rem 10rem;
    background: #d1d1d1;
    line-height: 15px;
    letter-spacing: -0.01em;
}
.details > div{
    margin-bottom: 17rem;
}
.details a{
    text-decoration: underline;
}
.details a:active, .details a:hover, .details a:focus{
    text-decoration: none;
}
.video{
    position: relative;
    border: 10px solid #d8d8d8;
    margin-bottom: 32rem;
    padding-bottom: 17px;
}
.video:before,
.video:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom: 3px;
    left: 0px;
    width:50%;
    height:20%;
    max-width:300px;
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.3);
    transform:rotate(-3deg);
}         
.video:after {
    right: 0px;
    left:auto;
    transform:rotate(3deg);
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .post-side .lbl-default{margin-left: 18rem;}
    .sidebar{max-width:100%;padding:0px 10px;}
    .sidebar > *{width:32%}
    .sidebar > #logo + div{order: 5;}
    #logo{margin: 0px;}
    .title-lg {font-size: 24px;line-height: 42px;}
    .post-side .lbl-default {margin: 0px;}
    .lbl-default:before{display: none;}
    .content{padding: 10px;}
}
@media (max-width: 480px) {
    .sidebar > *{width: 48%}
}