/*COMMON*/
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}
.lwrap{
    padding: 0px 10px;
    max-width: 980px;
}
body {
    background: #e8e8e8;
}
p{
    color: #3a3a3a;
    font-family: Trebuchet MS;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.009em;
}

/*HEADER*/
header{
    padding: 44rem 0px 39rem 0px;
}
#logo{
    margin: 0px 10rem 4px 0px;
}

/*SLIDER*/
.slider {
    position: relative;
    padding: 14rem 14rem 6rem 14rem;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 9px;
    background: white;
}
.slider:after{
    position: absolute;
    content: "";
    width: 103.75%;
    height: 20rem;
    background: url("/images/shadow.png");
    background-size: 100%;
    bottom: -12rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.slider + h1 {
    padding: 58rem 0px 71rem 0px;
    color: #747474;
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
.slider figure + div{
    padding-top: 10rem;
}

/*SERVICES*/
.services article{
    margin-bottom: 20px;
    width: 21.8%;
}
.services article p {
    margin-bottom: 19rem;
    text-align: center;
    width: 100%;
}
.services article h3 {
    color: #393939;
    margin: 10rem 0px 5rem 0px;
    font-size: 22px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255,255,255,.55);
}

/*CONTENT*/
.content{
    padding: 64rem 0px 131rem 0px;
}
.content h2 {
    color: #393939;
    text-shadow: 0 1px 0 rgba(255,255,255,.55);
    margin-bottom: 17rem;
    line-height: 24px;
}
.content h2 i{
    margin-right: 9px;
}
.content h2, footer h4 {
    font-size: 25px;
    font-weight: 700;
}
.content article p {
    margin-bottom: 14rem;
}
.content > *{
    width: 47.9%;    
}
.content figure {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 7px;
    background: white;
    padding: 9px;
    margin: 5px 0px;
    width:  21.74%;
}

/*FOOTER*/
footer {
    width: 100%;
    flex-shrink: 0;
    box-shadow: inset 0px 5px 6px 0px rgba(0,0,0,0.75), inset 0px -2px 0px 0px rgba(255,255,255,0.5);
    background: url('/images/footer-light.png')no-repeat center -330px, url('/images/footer-bg.png');
}
footer .lwrap{
    padding: 38rem 12px 0px 10px;
    max-width: 986px;
}
footer > .lwrap > div{
    width: 30%;
    margin-bottom: 13px;
}
footer > .lwrap > div:last-child{
    width: 29.1%;
}
footer h4 {
    margin-bottom: 24rem;
    color: #c9c9c9;
    line-height: 20px;
}
footer h4 i{
    flex-shrink: 0;
    margin-right: 7px;
}
.copyright{
    background: #202020;
    box-shadow: inset 0px 3px 4px 0px rgba(0,0,0,0.75), 0px -1px 1px 0px rgba(255,255,255,0.2);
}
.copyright .lwrap{
    padding: 16rem 102rem 18px 13px;
}
.copyright span{
    color: #aaa;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: 0.01em;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {
    .content figure {width:  24%;padding: 4px;}
    .copyright .lwrap{padding: 10px;}
}
@media screen and (max-width: 640px) {
    footer > .lwrap > div:first-child{width: 100%;}
    footer > .lwrap > div, footer > .lwrap > div:last-child, .services article, .content figure{width: 48%;}
}
@media screen and (max-width: 480px) {
    .links-nav a:last-child, .links-nav a:first-child{padding: 0px 5px;}
}