body{
    font-size: 16px;
    font-family: ProximaNova;
}
figure > img, a > img{
    display: block;
    width: 100%;
    height: 100%;
}

/*LINKS*/
.links-nav a{
    color: white;
    margin: 0px 5px 3px 0px;
    border-top: 5px solid transparent;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    border-color: #54d154;
}
.links-nav a.active{
    font-weight: 700;
}
.links-brands a{
    margin: 20rem;
}
.links-social{
    padding: 2px;
    background: #e6e7e6;
    border-radius: 30px;
}
.links-social a{
    margin: 3px;
    display: inline-flex;    
}

/*BTNS*/
.btn-default.lg, .btn-default.md, .btn-submit{
    text-transform: uppercase;
}
.btn-default, .btn-submit, .btn-more.alt{
    color: white;
}
.btn-default.md, .btn-more, .btn-submit{
    height: 40px;
}
.btn-default.md, .btn-more{   
    border-radius: 20px;
}
.btn-default, .btn-submit{
    text-align: center;
}
.btn-default{
    background: #54d154;
    min-width: 120rem;
    height: 30px;
    font-weight: 700;
    border-radius: 15px;
    padding: 0px 5px;
}
.btn-default.md{
    min-width: 175rem;    
    font-size: 19px;
    font-weight: 300;    
    box-shadow: -1.5px 4.8px 5px rgba(0,0,0,.1);
}
.btn-default.lg{
    min-width: 208rem;
    height: 47px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 22px;
}
.btn-submit{
    background: #2b9b2b;    
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 0px 0px 3px 3px;
}
.btn-more{
    padding: 0px 40px 0px 5px;
    min-width: 186rem;
    background: #dddcdc;
    color: #a59d9d;
    font-size: 18px;
    background: linear-gradient(#a59d9d, #a59d9d) calc(100% - 20px) 20px / 14px 2px no-repeat,
        linear-gradient(45deg, transparent, transparent 3px, #a59d9d 3px, #a59d9d 5px, transparent 5px, transparent) calc(100% - 19px) 16px / 8px 5px no-repeat,
        linear-gradient(135deg, transparent, transparent 3px, #a59d9d 3px, #a59d9d 5px, transparent 5px, transparent) calc(100% - 19px) 21px / 8px 5px no-repeat,
        linear-gradient(#dddcdc, #dddcdc);
}
.btn-more.alt{
    background: linear-gradient(white, white) calc(100% - 20px) 20px / 14px 2px no-repeat,
        linear-gradient(45deg, transparent, transparent 3px, white 3px, white 5px, transparent 5px, transparent) calc(100% - 19px) 16px / 8px 5px no-repeat,
        linear-gradient(135deg, transparent, transparent 3px, white 3px, white 5px, transparent 5px, transparent) calc(100% - 19px) 21px / 8px 5px no-repeat,
        linear-gradient(#2b9b2b, #2b9b2b);
}
.btn-scroll{
    padding: 0px 30px 0px 5px;
    background: rgba(255,255,255,.7);
    min-width: 120rem;
    height: 25px;
    color: #111;
    font-weight: 300;
    border-radius: 13px;
    background: linear-gradient(#111, #111) calc(100% - 20px) 10px / 2px 10px no-repeat,
        linear-gradient(45deg, transparent, transparent 3px, #111 3px, #111 5px, transparent 5px, transparent) calc(100% - 20px) 16px / 8px 5px no-repeat,
        linear-gradient(135deg, transparent, transparent 3px, #111 3px, #111 5px, transparent 5px, transparent) calc(100% - 15px) 16px / 8px 5px no-repeat,
        linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7));
}

/*LABELS*/
.lbl-default{
    width: 142rem;
    height: 142rem;
    min-width: 97px;
    min-height: 84px;
    background: #e1f3e1;
    border-radius: 30px;
}
.lbl-tag{
    height: 18px;
    border-radius: 3px;
    padding: 5px;
    color: white;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}
.lbl-tag.green{
    background: #54d154;
}
.lbl-tag.yellow{
    background: #ffba00;
}
.lbl-tag.blue{
    background: #089dea;
}
.lbl-tag.red{
    background: #f34d04;
}

/*FORMS*/
input[name=message], textarea[name=message], input[type=search]{
    border: none;
    outline: none;
}
input[type=search]{
    color: black;
    background: rgba(255,255,255,.8) url(/images/icons/search.png) right 5px center no-repeat;
    width: 177px;
    height: 27px;
    border-radius: 14px;
    padding: 0px 30px 0px 5px;
}
input[type=search]::-webkit-input-placeholder { color: #111; font-weight: 300; }
input[type=search]::-moz-placeholder { color: #111; font-weight: 300; }
input[type=search]:-ms-input-placeholder { color: #111; font-weight: 300; }
input[name=message], textarea[name=message]{
    background: #444;
    color: white;
    margin-bottom: 2px;
}
input[name=message]{
    padding: 0px 10px;
    height: 32px;
}
textarea[name=message]{
    padding: 5px 10px;
    height: 131px;
}
input[name=message]::-webkit-input-placeholder, textarea[name=message]::-webkit-input-placeholder { color: #777; }
input[name=message]::-moz-placeholder, textarea[name=message]::-moz-placeholder { color: #777; }
input[name=message]:-ms-input-placeholder, textarea[name=message]:-ms-input-placeholder { color: #777; }

/*CITES*/
blockquote{
    max-width: 800px;
}
blockquote q{
    color: #444;
    text-align: center;
}
blockquote figure{
    border: 2px solid #e1e1e1;
    border-radius: 50%;
    margin-right: 10rem;
}
blockquote cite{
    font-style: normal;
}
blockquote cite span{
    display: block;
    color: #444;
}
blockquote cite strong{
    color: #ccc;
    font-weight: 700;
}

/*TABS*/
.tablist{
    border-radius: 17px;
    overflow: hidden;
    border: 1px solid #2b9b2b;
    background: white;
    margin-bottom: 50rem;
}
.tablist > a{
    height: 33px;
    padding: 0px 18rem;
    color: #2b9b2b;
    border-left: 1px solid #2b9b2b;
}
.tablist > a:first-child{
    border-left-color: transparent;
}
.tablist > a.active, .tablist > a:hover{
    background: #2b9b2b;
    color: white;
}

/*OTHER*/
.hr{
    background: #828181;
    width: 43px;
    height: 2px;
    text-align: center;
}