/*COMMON*/
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}  
.lwrap{
    max-width: 1140px;
    padding: 0px 10px;
}
figure img, #logo img{
    width: 100%;
    height: 100%;
    display: block;
}
.header, .info, .advantages{
    box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.15);
}

/*HEADER*/
#logo{
    margin-top: 5rem;
}
header > .lwrap{
    padding: 25rem 8px 24rem 10px;
}
header form{
    margin: 4px 0px 7rem 0px;
    flex-grow: 1;
    max-width: 260px;
}
.header{
    background: url('/images/bg.png');
}
.header > .lwrap{
    max-width: 1430px;
    height: 300rem;
    padding: 29rem 151rem;
    background: url('/images/img1.png')no-repeat right bottom;
}
.header h1{
    text-shadow: 0 2px 0 #257a9f;
    color: white;
    font-size: 66rem;
    font-weight: 300;
    letter-spacing: -0.005em;
}

/*INFO*/
.info{
    background: #eee;
}
.info > .lwrap{
    padding: 51rem 9px 34rem 10px;
}
.info article{
    background: white;
    border: 1px solid #cecece;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 23.7%;
    padding-bottom: 27rem;
    margin-bottom: 20px;
}
.info article p{
    color: #6f6f6f;
    text-align: center;
    font-weight: 300;
    margin: 27rem 0px 31rem 0px;
    line-height: 15px;
    width: 100%;
}
.info article a{
    color: #54add7;
    text-align: center;
    font-weight: 600;
}
.info article a:active, .info article a:hover, .info article a:focus{
    text-decoration: underline;
}
.info article .hdr ~ *{
    padding: 0px 5px;
}

/*ADVANTAGES*/
.advantages{
    background: #6ec3ed;
}
.advantages .list-default{
    width: 49.1%;
    margin-bottom: 20px;
}
.advantages h2{
    text-shadow: 0px 1px 0px #49b220;
    color: white;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.012em;
    margin-bottom: 25rem;
}
.advantages strong{
    font-weight: 600;
}
.advantages > .lwrap{
    padding: 32rem 10px 34rem 10px;
}

/*CUSTOMERS*/
.customers{
    background: #255e7a;
}
.customers > .lwrap{
    padding: 35rem 10px 36rem 10px;
}
.customers p{
    color: white;
    font-size: 36rem;
    font-weight: 300;
    text-align: center;
}
.customers p strong{
    font-weight: 600;
}

/*LOGOS*/
.logos.lwrap{
    padding: 33rem 12px 31rem 12px;
}
.logos figure:nth-child(4n+1){
    flex-basis: 17.922%;
}
.logos figure:nth-child(4n+2){
    flex-basis: 31.363%;
}
.logos figure:nth-child(4n+3){
    flex-basis: 31%;
}
.logos figure:nth-child(4n+4){
    flex-basis: 19.714%;
}

/*FOOTER*/
footer{
    flex-shrink: 0;
    color: #8e8e8e;
    background: #3a3a3a;    
    font-size: 14px;
}
footer > .lwrap > div{
    width: 23.67%;
    margin-bottom: 20px;
}
footer > .lwrap > div:last-child{
    width: 18.2%;
    margin: 7rem 0px 0px 61rem;
}
footer > .lwrap{
    padding: 60rem 10px 31rem 10px;
}
footer b + a{
    color: #8e8e8e;
    text-decoration: underline;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 3px;
}
footer b + a:active, footer b + a:hover, footer b + a:focus{
    text-decoration: none;
}
footer b{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    display: inline-block;
}
footer address{
    text-align: center;
    font-style: normal;
    max-width: 120px;
    line-height: 24px;
    letter-spacing: -0.016em;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 640px) {
    .info article, footer > .lwrap > div, footer > .lwrap > div:last-child{width: 49%; margin: 0px 0px 20px 0px;}
}
@media screen and (max-width: 480px) {
    .customers p {font-size: 15px;}
    .logos figure:nth-child(4n+3), .logos figure:nth-child(4n+2), .logos figure:nth-child(4n+4), .logos figure:nth-child(4n+1){flex-basis: 50%;}
    header form {
        width: 100%;
    }
}