.icon-Digg {width: 20px; height: 20px; background: url('/images/icons/Digg.png');}
.icon-accept {width: 12px; height: 12px; background: url('/images/icons/accept.png');}
.icon-down {width: 12px; height: 12px; background: url('/images/icons/down.png');}
.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-mail {width: 20px; height: 20px; background: url('/images/icons/mail.png');}
.icon-next-alt {width: 12px; height: 24px; background: url('/images/icons/next-alt.png');}
.icon-next {width: 68px; height: 68px; background: url('/images/icons/next.png');}
.icon-phone {width: 20px; height: 20px; background: url('/images/icons/phone.png');}
.icon-prev-alt {width: 12px; height: 24px; background: url('/images/icons/prev-alt.png');}
.icon-prev {width: 68px; height: 68px; background: url('/images/icons/prev.png');}
.icon-skype {width: 16px; height: 16px; background: url('/images/icons/skype.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}
.icon-vimeo {width: 16px; height: 16px; background: url('/images/icons/vimeo.png');}
.icon-yt {width: 16px; height: 16px; background: url('/images/icons/yt.png');}