@font-face {
    font-family: GothamBold;
    src: url('/fonts/gotham-bold.ttf');
}
@font-face {
    font-family: GothamBook;
    src: url('/fonts/gotham-book.ttf');
}
@font-face {
    font-family: GothamMedium;
    src: url('/fonts/gotham-medium.ttf');
}
@font-face {
    font-family: ProximaNova;
    src: url('/fonts/proximanova-semibold.otf');
}