/*COMMON*/
.lwrap{
    padding: 0px 10px;
    max-width: 1070px;
}
figure img{
    width: 100%;
    height: 100%;
    display: block;
}

/*HEADER*/
header {
    background: url('/images/bg.png');
    background-size: cover;
}
header > .lwrap{
    max-width: 1046px;
    padding: 0px;
}
.contact{
    padding: 9rem 0px 0px 18rem;
    background: white;
}
.contact .lbl-contact{
    margin-right: 6rem;
}
.contact a:hover .lbl-contact, .contact a:hover .lbl-contact, .contact a:focus .lbl-contact{
    background: #037ecf;
}
.contact a:hover, .contact a:hover, .contact a:focus{
    color: #037ecf;
}
.contact a{
    color: #322c29;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 16rem 5px 0px;
    letter-spacing: -0.015em;
}
.links-nav.lwrap{
    max-width: 1080px;
    padding: 20rem 8px 18rem 10px;
}
.nav{   
    background: linear-gradient(white, #eee);
    box-shadow: 0 2px 2px rgba(169, 169, 169, 0.65);
}
.slider{
    padding: 0px 5px;
}
.slider .lwrap{
    padding: 38rem 30rem 0px 49rem;
    border-bottom: 70rem solid white;
    max-width: 1124px;
}
.slider button{
    margin: -6rem 29rem 14rem 0px;
}
.slider form{
    width: 52.5%;
    min-width: 480px;
    background: white;
    border: 1px solid rgba(47, 47, 47, 0.2);
    border-radius: 10px;
    margin: 20px 0px -35rem 10px;
}
.slider hgroup + div .btn{
    margin: 0px 18rem 6rem 1rem;
}
.slider hgroup h1, .slider hgroup h2{
    color: white;
    font-weight: 400;
    text-align: center;
}
.slider hgroup strong{
    font-weight: 600;
}
.slider hgroup h1{
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.68), 0 0 2px rgba(0, 0, 0, 0.4);
    font-size: 65rem;
    line-height: 74rem;
    letter-spacing: -0.03em;
}
.slider hgroup h2{
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.65), 0 0 1px rgba(0, 0, 0, 0.3);
    font-size: 40rem;
    margin-bottom: 42rem;
    letter-spacing: -0.038em;
}
.slider input[name=checktop] + label{
    width: 25%;
    margin: 20rem 0px 2rem 0px;
    padding-right: 4rem;
}
.slider form fieldset{
    padding: 0px 1rem 21rem 27rem;
}
.slider form legend + fieldset{
    padding: 12rem 5rem 1rem 27rem;
}
.slider form .btn-default{
    font-weight: 700;
    font-size: 16px;
}
.icon-next, .icon-prev {
    width: 68rem;
    height: 68rem;
    background-size: cover;
}
.range-title{
    color: #323232;
    font-size: 16px;
    padding-right: 25rem;
}
.steps .lbl-number{
    position: relative;
}
.steps .lbl-accept{
    display: none;
    position: absolute;
    right: -5px;
    top: -5px;
}
.steps .lbl-number.complete .lbl-accept{
    display: flex;
}
.lbl-number:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 0px;
    top: 0px;
}
.lbl-number:after{    
    background: rgba(0,0,0,.3);
}
.lbl-number.active:after{
    background: transparent;
}
.lbl-number.complete:after{
    background: rgba(0,0,0,.15);
}
.steps{
    height: 9px;
    width: 100%;
    max-width: 396rem;
    border-top: 1px solid #2c81cb;
    border-bottom: 1px solid #2c81cb;
    border-radius: 5px;
    margin: -9rem auto 9rem auto;
    position: relative;
    left: 15rem;
    box-shadow: inset 0 1px 0 #647e9a;
    background: url('/images/arrows.png') no-repeat 18% center, linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 33%, transparent 33%, transparent), linear-gradient(#42668c, #445d7a);
    
}

/*WELCOME*/
.welcome.lwrap{
    text-align: center;
    color: #272727;
    font-family: Open Sans;
    padding: 0px 10px 31rem 10px;
    font-weight: 300;
    max-width: 1100px;
}
.welcome h2{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 11rem;
    line-height: 38px;
    letter-spacing: -0.02em;
}
.welcome p{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
}
.welcome strong{ 
    font-weight: 600;
}

/*FEATURED*/
.featured{
    background: #eaebf3;
}
.featured .lwrap{
    padding: 12rem 10px 51rem 22rem;
    max-width: 1090px;
}
.featured .lwrap > div{
    width: 100%;
}
.featured .lwrap > div > div{
    width: 100%;
}
.featured figcaption{
    border-bottom: 1px solid #c5c5cc;
}
.featured figcaption h5{
    font-family: TerminalDosis;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    line-height: 15px;
}
.featured figcaption h5 a{
    color: #404040;
}
.featured figure {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(0deg, #eaebf3 0%, #c5c5cc 1.5%, #c5c5cc 68%, #d4d5dc 69%, #eaebf3 70%, #eaebf3 98%) 1 100%;
    border-top-width: 0px;    
}
.featured figcaption > div{
    width: 100%;
    min-height: 41px;
    padding: 11rem 14rem 11rem 13rem;
    box-shadow: inset 0px -1px 0px 0px rgba(43, 43, 43, 0.1);
    border-bottom: 1px solid rgba(47, 47, 47, 0.2);
}
.featured figcaption > span{
    color: #404040;
    font-family: TerminalDosis;
    font-size: 14px;
    font-weight: 500;
    padding: 7rem 2px 6rem 13rem;
    letter-spacing: -0.02em;
    width: 47.5%;
    min-height: 33px;
    line-height: 12px;
    display: inline-flex;
}
.featured figcaption > span.price{
    color: #0a89e4;
    font-size: 16px;
    width: 52.5%;
    padding: 7rem 10px 6rem 13rem;
    letter-spacing: 0.05em;
}
.featured figure{
    width: 22.65%;
    margin-bottom: 5px;
}
.featured .hdr{
    margin-bottom: 13rem;
}

/*RENT*/
.video {
    float: right;
    width: 44.6%;
    flex-shrink: 0;
    margin: 30rem 0px 0px 10rem;
    box-shadow: 0px 0px 0px 9rem #efefef;
    border-bottom-width: 1px;
    border-radius: 3px;
    border-image-slice: 0 0 15 0;
    border-image-width: 0px 0px 15rem 0px;
    border-image-outset: 0px 7rem 12rem 7rem;
    border-image-repeat: stretch stretch;
    border-image-source: url("/images/video-shadow.png");
}
.video > div{
    padding-top: 45.1%;
    padding-bottom: 0px;
}
.rent{
    padding: 23rem 17rem 42rem 0px;
}
.rent .hdr{
    margin-bottom: 19rem;
    color: #686868;
    font-family: Open Sans;
    font-size: 22px;
}
.rent p{
    color: #4f4e4e;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
}
.rent form fieldset:nth-child(even){
    width: 43.5%;
}
.rent form fieldset:nth-child(odd){
    width: 54%;
}
.rent form label{
    margin-bottom: 17rem;
}
.rent label:nth-child(end){
    width: 43.5%;
}
.rent h4{
    color: #4e4e4e;
    font-family: Open Sans;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 7rem;
}
.rent h4 strong{
    font-weight: 600;
}
.rent form{
    padding: 10rem 6rem 0px 4rem;
}

/*CLIENTS*/
.clients > div > div{
    flex: 1;
    border-right: 1px solid #e5e5e5;
    padding: 17.5rem;
}
.clients{
    max-width: 944px;
    padding: 0px 0px 16rem 4rem;
}
.clients > div > div:last-child{
    border-right: none;
}
.clients > div{
    border: 1px solid #e5e5e5;
}
.clients .hdr{
    margin-bottom: 30rem;
}

/*FOOTER*/
footer {
    color: grey;   
    background:
        url('/images/city1.png') no-repeat right top,
        url('/images/city1.png') no-repeat left top,
        url("/images/shadow.png")no-repeat center 68px,
        linear-gradient(transparent 0px, transparent 68px, #ededed 69px, #ededed 100%);
}
footer a{
    color: #3b3b3b;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer p{
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.04em;
}
footer > .lwrap{
    padding: 126px 70rem 14rem 10px;
    max-width: 980px;
}
footer > .lwrap > div:first-child{
    width: 28.9%;    
}
footer > .lwrap > div{
    width: 15.6%;
    margin-bottom: 10px;
}
footer > .lwrap > div:first-child h6{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 6px;
}
footer h6 {
    color: #4c4c4c;
    margin-bottom: 4rem;
    font-weight: normal;
    font-size: 11px;
}
footer > .lwrap span{
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.02em;
}
footer address{
    font-size: 13px;
    padding-bottom: 3rem;
    font-style: normal;
    letter-spacing: 0.012em;
}
.copyright{
    background: gainsboro;
}
.copyright > .lwrap{
    padding: 12rem 65rem 10px 10px;
    max-width: 988px;
}
.copyright span {
    color: #a6a6a6;
    font-family: Open Sans;
    font-size: 11px;
    line-height: 21px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1024px) {
    .featured figure {width: 24.5%;}
    .featured figcaption > span, .featured figcaption > span.price, .featured figcaption > div{padding: 2px;}
}
@media screen and (max-width: 960px) {
    .slider input[name="checktop"] + label {width: 49%;}
    .slider .lwrap {padding: 10px 5px 0px 5px;}
}
@media screen and (max-width: 800px) {
    .featured figure.hidden{display: none;}
    .featured figure{width: 32.5%;}
    .slider form {min-width: 350px;}
    footer > .lwrap {padding: 10px 10px 0px 10px;}
    footer {background: url("/images/shadow.png")no-repeat center top, #ededed;}
}
@media screen and (max-width: 640px) {
    footer > .lwrap > div {width: 32%;} 
    footer > .lwrap > div:last-child {order: 0;width: 40%;}
    footer > .lwrap > div:first-child {order: 1;width: 56%;}
    .steps{max-width: 800rem;}
}
@media screen and (max-width: 480px) {
    .featured figure.hidden-sm{display: none;}
    .featured figure{width: 49%;}
    .slider form {min-width: 250px;}
}
