@font-face {
    font-family: 'Brandon Printed One';
    src: url('../fonts/brandonprinted-one.otf');
}
a{
    text-decoration: none;
}
.icon-fb{
    width: 7px;
    height: 14px;
    background: url('../images/icons/f.png');
}
.icon-rss{
    width: 12px;
    height: 12px;
    background: url('../images/icons/rss.png');
}
.icon-t{
    width: 8px;
    height: 13px;
    background: url('../images/icons/t.png');
}
.icon-tw{
    width: 16px;
    height: 13px;
    background: url('../images/icons/tw.png');
}
body{
    background-color: #f0f2ea;
}
.lwrap{
    padding: 10px 10px 10px 10px;
    max-width: 620px;
}
.logo{
    position: relative;
}
.logo a{
    position: relative;
    background-color: #f0f2ea;
    padding: 30px;
}
.logo:before{
    position: absolute;
    content: "";
    width: 250%;
    height: 2px;
    background-color: #d8dad3;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.content-wrap{
background-color: white;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.content{
    padding: 20px 30px 30px 30px;
}
figcaption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
figcaption > div{
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 15px 0px 19px 0px;
}
figcaption h2{
    text-transform: uppercase;
    font: 36px "Brandon Printed One";
    color: white;
    text-align: center;
    letter-spacing: 0.145em;
}
figcaption span{
    font:  14px/22px "Arial";
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 0px 28px 0px;
    letter-spacing: 0.1em;
}
figcaption a{
    font: 24px "Brandon Printed One";
    text-transform: uppercase;
    color: white;
    text-align: center;
}
figure{
    position: relative;
}
figure img {
    width: 100%;
}
p{
    color: #333;
    font: 12px/18px "Arial";
    letter-spacing: -0.01em;
}
article h4{
    color: #6d7e44;
    font:700 14px/22px "Arial";
    margin: 14px 0px 5px 0px;
    letter-spacing: -0.01em;
}
header span{
   color: #636758;
   font: 14px/20px "Arial";
   text-transform: uppercase;
   padding: 0px 10px 40px 10px;
   letter-spacing: 0.09em;
   text-align: center;
}
h1{
    text-align: center;
    color: #484a43;
    font:700 24px/18px "Arial";
    text-transform: uppercase;
    margin: 50px 20px 14px 20px;
    letter-spacing: 0.06em;
}
h3{
    color: #333;
    font:700 14px/22px "Arial";
    margin: 0px 0px 4px 0px;
    line-height: 22px;
    letter-spacing: -0.01em;
}
address span{
    color: #333;
    font: 11px/18px "Arial";
}
.figure-wrap > article{
    max-width: 255px;
    margin: 5px;
}
.figure-wrap{
    margin: 0px -5px 30px -5px;
}
.link{
    color: #6d7e44;
    font: 700 11px "Arial";
    letter-spacing: -0.02em;
}
.social .btn{
    width: 24px;
    height: 24px;
    margin: 6px 0px 15px 8px;
}
.btn-fb{
    background-color: #3b5998;
}
.btn-t{
   background-color: #34526f; 
}
.btn-tw{
    background-color: #26a6d1;
}
.btn-rss{
    background-color: #f4b459;
}
.footer{
     border-top: 2px solid rgba(0,0,0,.1);
     margin: 35px 0px 0px 0px;
     padding: 34px 0px 0px 0px;
}
.social{
    flex-wrap: wrap;
}
.social ~ .link{
    margin: 0px 0px 8px 8px;
    letter-spacing: 0.05em;
}
.footer{
    flex-wrap: wrap;
}
footer{
    min-height: 88px;
}
footer span, footer a{
    color: #333;
    text-align: center;
    font: 11px "Arial";
}
footer span a{
    text-decoration: underline;
}
@media (max-width: 0px) {
    
}