@font-face {
    font-family: 'Anaheim';
    font-style: normal;
    font-weight: 400;
    src: local('Anaheim'), local('Anaheim-Regular'), url(https://fonts.gstatic.com/s/anaheim/v4/UksPHcP0JWbD5D-eu-EeFA.woff2) format('woff2');
}
@font-face {
    font-family: 'Strait';
    font-style: normal;
    font-weight: 400;
    src: local('Strait'), local('Strait-Regular'), url(https://fonts.gstatic.com/s/strait/v4/LimB8Qw7LXxhgcZqZA4MPA.woff2) format('woff2');
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.btn:hover{
    text-decoration: none;
}
figure img{
    width: 100%;
}
p{
    color: #8c8c8c;
    font: 14px/21px "Anaheim";
    margin: 0px 1px 21px 0px;
}
h2{
    font: 21px "Strait";
    color: #3e3e3e;
    text-transform: uppercase;
    margin: 0px 0px 16px 0px;
}
.icon-logo{
    margin: 0px 8px 7px 0px;
    width: 22px;
    height: 22px;
    background: url('../images/icons/logo.png');
}
.icon-search{
    margin:  1px 0px 0px 0px;
    width: 10px;
    height: 13px;
    background: url('../images/icons/search.png');
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px 0px 10px;
}
.logo{
    font: 35px "Strait";
    color: #3e3e3e;
    text-transform: uppercase;
    margin: 1px 0px 0px 0px;
}
.lbl-default{
    width: 60px;
    height: 63px;
    background-color: #91cd29;
    flex-direction: column;
    color: white;
    font: 21px/15px "Strait";
    text-transform: uppercase;
    padding: 2px 2px 2px 2px;
}
.lbl-default span{
    font: 35px/34px "Strait";
}
.lbl-com span{
    font: 11px/11px "Strait";
}
.lbl-com{
    min-width: 60px;
    min-height: 49px;
    background-color: #8c8c8c;
    flex-direction: column;
    color: white;
    font: 28px/28px "Strait";
    text-transform: uppercase;
    padding: 2px 2px 2px 2px;
}
.btn-default, a.btn-default{
    min-width: 60px;
    min-height: 22px;
    background-color: #91cd29;
    color: white;
    font: 14px "Strait";
    text-transform: uppercase;
    padding: 2px 12px 2px 11px;
}
header{
    flex-wrap: wrap;
    min-height: 98px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.title{
    padding: 8px 0px 5px 2px;
    flex-wrap: wrap;
    min-height: 91px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.title h1{
    color: #3e3e3e;
    font: 28px "Strait";
    text-transform: uppercase;
}
.title h1 span{
    color: #959494;
    font: 21px "Anaheim";
    text-transform: uppercase;
    padding: 0px 0px 0px 13px;
}
.breadcrumb{
    margin: 11px 0px 0px 20px;
}
.breadcrumb a{
    color: #3e3e3e;
    font: 14px/21px "Anaheim";
}
.breadcrumb span{
    padding: 0px 0px 0px 5px;
    color: #ababab;
    font: 14px/21px "Anaheim";
}
.info{
    padding: 0px 20px 0px 0px;
}
.nav{
    flex-wrap: wrap;
}
.nav a{
    color: #3e3e3e;
    font: 14px "Strait";
    text-transform: uppercase;
    min-width: 48px;
    min-height: 33px;
    padding: 2px 4px 2px 4px;
    margin: 6px 3px 2px 3px;
}
.nav a:last-child{
    margin: 2px -6px 2px 4px;
    padding: 6px 3px 2px 3px;
}
.nav a.active, .nav a:hover{
    color: lightgrey;
    background-color: #8c8c8c;
}
.info .btn{
    margin: 14px 0px 10px;
}
.content-wrap{
    padding: 30px 0px 35px 0px;
}
.content{
    width: 76%;
    padding: 4px 15px 0px 0px;
}
.content > div > figure{
    margin: 0px 0px 24px 0px;
}
.sidebar{
    width: 24%;
    padding: 0px 0px 0px 6px;
}
.sidebar h2{
    margin: 0px 0px 3px 0px;
}
.hdr{
    padding: 7px 0px 6px 0px;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin: 0px 0px 14px 0px;
}
.hdr span{
    font: 12px/21px "Anaheim";
    color: #8c8c8c;
    text-transform: uppercase;
}
.hdr a{
    color: #3e3e3e;
}
blockquote{
    color: #8c8c8c;
    font: 21px/28px "Strait";
    margin: 35px 0px 28px 12px;
}
blockquote:before{
    min-width: 12px;
    background-color: #d4d4d4;
    content:"";
    display: block;
    margin: 6px 24px 7px 10px;
}
.about{
    margin: 27px 0px 30px 0px;
    padding: 29px 0px 36px 0px;
    border-top: 1px solid rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.about h2{
    margin: 0px 0px 12px 0px;
}
.about figure {
    min-width: 139px;
    margin: 5px 23px 0px 0px;
}
.comments > div{
    padding: 0px 0px 6px 0px;
}
.comments > div:last-child{
    padding: 0px 0px 3px 0px;
}
.comments figure {
    min-width: 58px;
    margin: 2px 21px 0px 1px;
}
.comments h3{
    color: #8c8c8c;
    font: 14px/21px "Strait";
    margin:  0px 0px 1px 0px;
}
.comments a{
    color: #3e3e3e;
}
.comments h2{
    margin: 0px 0px 29px 0px;
}
.content form{
    max-width: 300px;
    padding: 14px 0px 0px 0px;
}
.sidebar form{
    padding: 0px 5px 0px 8px;
    border: 1px solid rgba(140, 140, 140, 0.3);
    margin:  35px 1px 0px 0px;
}
.sidebar form input{
    border:none;
    margin: 0px;
    height:  27px;
    padding: 0px 10px 0px 4px;
}
form input, form textarea{
    border: 1px solid rgba(140, 140, 140, 0.3);
    color: #8c8c8c;
    font-family: "Anaheim";
    font-size: 12px;
    text-transform: uppercase; 
}
form input{
    height: 29px; 
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 20px 0px;
}
form textarea{
    resize: none;
    height: 119px;
    padding: 4px 10px 10px 10px;
    margin: 1px 0px 20px 0px;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    color: #8c8c8c;
    font-family: "Anaheim";
    font-size: 12px;
    text-transform: uppercase;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
    color: #8c8c8c;
    font-family: "Anaheim";
    font-size: 12px;
    text-transform: uppercase;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    color: #8c8c8c;
    font-family: "Anaheim";
    font-size: 12px;
    text-transform: uppercase;
}
.list-default{
    margin:0px 0px 30px 0px;
}
.list-default.posts{
    margin: 12px 0px 36px 0px;
}
.list-default li{
    line-height: 34px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding: 0px 0px 0px 10px;
}
.list-default li:last-child{
    border-bottom: none;
}
.list-default li a{
    color: #8c8c8c;
    font: 12px "Anaheim";
}
.list-default li > a{
    text-transform: uppercase;
}
.list-default li p{
    margin: 8px -2px 5px 0px;
}
.list-default li p a{
    font: 14px/21px "Anaheim";
}
footer{
    background-color: #3e3e3e;
}
footer h5{
    color: #dbdbdb;
    text-transform: uppercase;
    font: 21px "Strait";
    margin: 0px 0px 17px 0px;
}
.copyright{
    min-height: 63px;
    background-color: #252525;
    padding: 10px 36px 10px 21px;
    flex-wrap: wrap;
}
.copyright span{
    color: #8c8c8c;
    font: 14px/21px "Anaheim"; 
}
.copyright span span{
    padding: 0px 5px 0px 4px;
}
.copyright span a{
    color: #e8e8e8;
}
footer a, footer time{
    color: #e8e8e8;
}
footer .grid .grid a{
    margin: 5px 5px 20px 5px;
}
footer .grid .grid{
    margin: -9px 0px 0px 0px;
}
footer .lwrap > .grid{
    padding: 26px 0px 0px 0px;
    margin: 0px -9px 0px -5px;
}
footer > .lwrap > .grid > *{
    flex: 1;
    min-width: 142px;
    margin: 5px 5px 13px 5px;
}
@media (max-width: 880px) {
    .grid{
        justify-content: space-around;
    }
}
@media (max-width: 650px) {
    .content-wrap{
        flex-direction: column;
    }
    .content, .sidebar{
        width: 100%;
        padding: 4px 0px 20px 0px;
    }
    .info {
        padding: 0px 5px 0px 0px;
    }
}
@media (max-width: 450px) {
    .about{
        flex-direction: column;
    }
    .about figure{
        margin: 0px 0px 20px 0px;
    }
}
