.icon-account:hover {background: url('/images/icons/account-hover.png');}
.icon-cart:hover {background: url('/images/icons/cart-hover.png');}
.icon-check:hover {background: url('/images/icons/check-hover.png');}
.icon-home:hover {background: url('/images/icons/home-hover.png');}