.icon-account:hover {background: url('/images/icons/account-hover.png');}
.icon-addcart:hover {background: url('/images/icons/addcart-hover.png');}
.icon-arrows:hover {background: url('/images/icons/arrows-hover.png');}
.icon-cart:hover {background: url('/images/icons/cart-hover.png');}
.icon-check:hover {background: url('/images/icons/check-hover.png');}
.icon-home:hover {background: url('/images/icons/home-hover.png');}
.icon-notemd:hover {background: url('/images/icons/notemd-hover.png');}