.icon-arrow {width: 20px; height: 20px; background: url('/images/icons/arrow.png');}
.icon-fb {width: 32px; height: 32px; background: url('/images/icons/fb.png');}
.icon-in {width: 32px; height: 32px; background: url('/images/icons/in.png');}
.icon-info {width: 24px; height: 24px; background: url('/images/icons/info.png');}
.icon-oscar {width: 48px; height: 48px; background: url('/images/icons/oscar.png');}
.icon-rss {width: 32px; height: 32px; background: url('/images/icons/rss.png');}
.icon-sk {width: 32px; height: 32px; background: url('/images/icons/sk.png');}
.icon-tw {width: 32px; height: 32px; background: url('/images/icons/tw.png');}
.icon-yt {width: 32px; height: 32px; background: url('/images/icons/yt.png');}