.icon-apple {width: 52px; height: 63px; background: url('/images/icons/apple.png');}
.icon-asus {width: 116px; height: 21px; background: url('/images/icons/asus.png');}
.icon-bbc {width: 164px; height: 47px; background: url('/images/icons/bbc.png');}
.icon-be {width: 20px; height: 20px; background: url('/images/icons/be.png');}
.icon-camera {width: 87px; height: 74px; background: url('/images/icons/camera.png');}
.icon-cisco {width: 125px; height: 65px; background: url('/images/icons/cisco.png');}
.icon-cnn {width: 97px; height: 47px; background: url('/images/icons/cnn.png');}
.icon-db {width: 20px; height: 20px; background: url('/images/icons/db.png');}
.icon-folder {width: 87px; height: 74px; background: url('/images/icons/folder.png');}
.icon-google {width: 143px; height: 49px; background: url('/images/icons/google.png');}
.icon-intel {width: 103px; height: 68px; background: url('/images/icons/intel.png');}
.icon-ms {width: 144px; height: 31px; background: url('/images/icons/ms.png');}
.icon-newyorktimes {width: 335px; height: 45px; background: url('/images/icons/newyorktimes.png');}
.icon-qualcomm {width: 151px; height: 34px; background: url('/images/icons/qualcomm.png');}
.icon-search {width: 13px; height: 14px; background: url('/images/icons/search.png');}
.icon-speed {width: 87px; height: 68px; background: url('/images/icons/speed.png');}
.icon-tc {width: 92px; height: 47px; background: url('/images/icons/tc.png');}
.icon-tw {width: 20px; height: 20px; background: url('/images/icons/tw.png');}
.icon-yahoo {width: 140px; height: 27px; background: url('/images/icons/yahoo.png');}