
/* ICONS */
.icon-fb {width: 49px; height: 49px; background: url('/images/icons/fb.png');}
.icon-ms {width: 49px; height: 49px; background: url('/images/icons/ms.png');}
.icon-rss {width: 49px; height: 49px; background: url('/images/icons/rss.png');}
.icon-su {width: 49px; height: 49px; background: url('/images/icons/su.png');}
.icon-tw {width: 49px; height: 49px; background: url('/images/icons/tw.png');}