.icon-broad {width: 50px; height: 45px; background: url('/images/icons/broad.png');}
.icon-fb {width: 8px; height: 15px; background: url('/images/icons/fb.png');}
.icon-inst {width: 14px; height: 16px; background: url('/images/icons/inst.png');}
.icon-tw {width: 16px; height: 13px; background: url('/images/icons/tw.png');}