
/* ICONS */
.icon-arrow {width: 8px; height: 8px; background: url('/images/icons/arrow.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-ms {width: 24px; height: 24px; background: url('/images/icons/ms.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-sk {width: 24px; height: 24px; background: url('/images/icons/sk.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}