@font-face {
    font-family: LucidaSans;
    src: url('/fonts/LucidaSans.ttf');
}
@font-face {
    font-family: Mido;
    src: url('/fonts/Mido.otf');
}
@font-face {
    font-family: CharisSIL;
    src: url('/fonts/CharisSILR.ttf');
}