.icon-404 {width: 228px; height: 229px; background: url('/images/icons/404.png');}
.icon-anchor {width: 11px; height: 7px; background: url('/images/icons/anchor.png');}
.icon-arrowdown {width: 10px; height: 7px; background: url('/images/icons/arrowdown.png');}
.icon-arrowright {width: 15px; height: 14px; background: url('/images/icons/arrowright.png');}
.icon-ball {width: 30px; height: 31px; background: url('/images/icons/ball.png');}
.icon-calendar {width: 15px; height: 17px; background: url('/images/icons/calendar.png');}
.icon-cart {width: 32px; height: 29px; background: url('/images/icons/cart.png');}
.icon-closered {width: 12px; height: 12px; background: url('/images/icons/closered.png');}
.icon-dotcircle {width: 20px; height: 20px; background: url('/images/icons/dotcircle.png');}
.icon-download {width: 14px; height: 12px; background: url('/images/icons/download.png');}
.icon-heart {width: 17px; height: 15px; background: url('/images/icons/heart.png');}
.icon-list {width: 17px; height: 14px; background: url('/images/icons/list.png');}
.icon-mark {width: 16px; height: 16px; background: url('/images/icons/mark.png');}
.icon-media-db {width: 30px; height: 31px; background: url('/images/icons/media-db.png');}
.icon-media-fb {width: 17px; height: 33px; background: url('/images/icons/media-fb.png');}
.icon-media-in {width: 30px; height: 29px; background: url('/images/icons/media-in.png');}
.icon-media-pin {width: 30px; height: 31px; background: url('/images/icons/media-pin.png');}
.icon-media-tw {width: 31px; height: 25px; background: url('/images/icons/media-tw.png');}
.icon-next {width: 28px; height: 36px; background: url('/images/icons/next.png');}
.icon-nocomments {width: 18px; height: 12px; background: url('/images/icons/nocomments.png');}
.icon-open {width: 14px; height: 12px; background: url('/images/icons/open.png');}
.icon-pause {width: 15px; height: 22px; background: url('/images/icons/pause.png');}
.icon-pen {width: 19px; height: 18px; background: url('/images/icons/pen.png');}
.icon-plus {width: 22px; height: 21px; background: url('/images/icons/plus.png');}
.icon-plusbg {width: 17px; height: 17px; background: url('/images/icons/plusbg.png');}
.icon-prev {width: 28px; height: 36px; background: url('/images/icons/prev.png');}
.icon-quotes {width: 56px; height: 48px; background: url('/images/icons/quotes.png');}
.icon-quotesalt {width: 34px; height: 32px; background: url('/images/icons/quotesalt.png');}
.icon-searchgrey {width: 17px; height: 18px; background: url('/images/icons/searchgrey.png');}
.icon-searchwhite {width: 15px; height: 15px; background: url('/images/icons/searchwhite.png');}
.icon-sharesm-fb {width: 8px; height: 15px; background: url('/images/icons/sharesm-fb.png');}
.icon-sharesm-gp {width: 21px; height: 14px; background: url('/images/icons/sharesm-gp.png');}
.icon-sharesm-in {width: 15px; height: 14px; background: url('/images/icons/sharesm-in.png');}
.icon-sharesm-pin {width: 15px; height: 14px; background: url('/images/icons/sharesm-pin.png');}
.icon-sharesm-tw {width: 14px; height: 12px; background: url('/images/icons/sharesm-tw.png');}
.icon-social-db {width: 13px; height: 13px; background: url('/images/icons/social-db.png');}
.icon-social-fb {width: 7px; height: 14px; background: url('/images/icons/social-fb.png');}
.icon-social-gp {width: 12px; height: 14px; background: url('/images/icons/social-gp.png');}
.icon-social-in {width: 12px; height: 12px; background: url('/images/icons/social-in.png');}
.icon-social-inst {width: 12px; height: 13px; background: url('/images/icons/social-inst.png');}
.icon-social-pin {width: 12px; height: 13px; background: url('/images/icons/social-pin.png');}
.icon-social-sk {width: 13px; height: 13px; background: url('/images/icons/social-sk.png');}
.icon-social-tw {width: 12px; height: 11px; background: url('/images/icons/social-tw.png');}
.icon-star3 {width: 82px; height: 13px; background: url('/images/icons/star3.png');}
.icon-stars1 {width: 85px; height: 133px; background: url('/images/icons/stars1.png');}
.icon-stars2 {width: 87px; height: 15px; background: url('/images/icons/stars2.png');}
.icon-thumbnext {width: 37px; height: 24px; background: url('/images/icons/thumbnext.png');}
.icon-thumbprev {width: 37px; height: 24px; background: url('/images/icons/thumbprev.png');}
.icon-user {width: 44px; height: 38px; background: url('/images/icons/user.png');}
.icon-volume {width: 11px; height: 11px; background: url('/images/icons/volume.png');}
.icon-watch {width: 14px; height: 15px; background: url('/images/icons/watch.png');}
.icon-zoom {width: 16px; height: 16px; background: url('/images/icons/zoom.png');}
.icon-follow-fb {width: 9px; height: 16px; background: url('/images/icons/follow-fb.png');}
.icon-follow-gp {width: 15px; height: 16px; background: url('/images/icons/follow-gp.png');}
.icon-follow-inst {width: 15px; height: 15px; background: url('/images/icons/follow-inst.png');}
.icon-follow-pin {width: 15px; height: 15px; background: url('/images/icons/follow-pin.png');}
.icon-follow-tw {width: 15px; height: 13px; background: url('/images/icons/follow-tw.png');}
.icon-share-fb {width: 7px; height: 14px; background: url('/images/icons/share-fb.png');}
.icon-share-gp {width: 12px; height: 14px; background: url('/images/icons/share-gp.png');}
.icon-share-inst {width: 12px; height: 13px; background: url('/images/icons/share-inst.png');}
.icon-share-pin {width: 12px; height: 13px; background: url('/images/icons/share-pin.png');}
.icon-share-tw {width: 12px; height: 11px; background: url('/images/icons/share-tw.png');}