.icon-follow-fb:hover {background: url('/images/icons/follow-fb-hover.png');}
.icon-follow-gp:hover {background: url('/images/icons/follow-gp-hover.png');}
.icon-follow-inst:hover {background: url('/images/icons/follow-inst-hover.png');}
.icon-follow-pin:hover {background: url('/images/icons/follow-pin-hover.png');}
.icon-follow-tw:hover {background: url('/images/icons/follow-tw-hover.png');}
.icon-share-fb:hover {background: url('/images/icons/share-fb-hover.png');}
.icon-share-gp:hover {background: url('/images/icons/share-gp-hover.png');}
.icon-share-inst:hover {background: url('/images/icons/share-inst-hover.png');}
.icon-share-pin:hover {background: url('/images/icons/share-pin-hover.png');}
.icon-share-tw:hover {background: url('/images/icons/share-tw-hover.png');}