body{
    font-size: 14px;
    font-family: Martel;
}

/*LINKS*/
.links-nav a{
    color: #0e1d2b;
    font-family: Martel;
    font-size: 16px;
    height: 34px;
    padding: 0px 2px;
    min-width: 72rem;
    margin: 5rem;
    text-transform: capitalize;
    transition: all .3s;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    font-weight: 700;
    box-shadow: inset 0px -3px 0px 0px #ffa326;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    letter-spacing: -0.009em;
}

/*LISTS*/
.list-default{
    color: white;
    font-size: 16px;
    max-width: 285px;
    border: 3px solid #ffa326;
    padding: 20rem;
}
.list-default dd{
    width: 30px;
    flex-shrink: 0;
}

/*BUTTONS*/
.btn-submit{
    padding: 0px 5px;
    text-align: center;
    height: 30px;
    background: #ffa326;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.btn-default{
    min-width: 157rem;
    height: 37px;
    padding: 0px 2px;
    background: white;
    box-shadow: 3px 5.2px 8.1px 0.9px rgba(218, 139, 32, 0.75);
    color: #0d1e2d;
    font-size: 16px;
    font-weight: 700;
}
.btn-default i[class^="icon-"]{
    margin-left: 10rem;
}

/*FORMS*/
.input-default, .textarea-default{   
    border: none;
    background: linear-gradient(0deg,#dce0e4, #fefefe 26px, white 26px, white);
    font-size: 12px;
}
.input-default{
    height: 30px;
    padding: 0px 10rem;
    margin-bottom: 10rem;
}
.textarea-default{
    height: 89px;
    padding: 10rem;
    margin-bottom: 20rem;
}
.input-default::-webkit-input-placeholder, .textarea-default::-webkit-input-placeholder { color: #0b1d2c; }
.input-default::-moz-placeholder, .textarea-default::-moz-placeholder { color: #0b1d2c; }
.input-default:-ms-input-placeholder, .textarea-default:-ms-input-placeholder { color: #0b1d2c; }