@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@font-face {
	font-family: 'Segoe Condensed';
	src: local('в�є'), url('/fonts/segoeui-condensed.woff') format('woff');
}
@font-face {
	font-family: 'Segoe Condensed';
	src: local('в�є'), url('/fonts/segoe-condensed-bold.woff') format('woff');
    font-weight: 700;
}