.icon-calendar {width: 16px; height: 16px; background: url('/images/icons/calendar.png');}
.icon-condition {width: 24px; height: 24px; background: url('/images/icons/condition.png');}
.icon-cup {width: 24px; height: 24px; background: url('/images/icons/cup.png');}
.icon-down {width: 12px; height: 12px; background: url('/images/icons/down.png');}
.icon-fan {width: 20px; height: 20px; background: url('/images/icons/fan.png');}
.icon-iron {width: 24px; height: 24px; background: url('/images/icons/iron.png');}
.icon-next {width: 88px; height: 88px; background: url('/images/icons/next.png');}
.icon-prev {width: 88px; height: 88px; background: url('/images/icons/prev.png');}
.icon-tv {width: 24px; height: 24px; background: url('/images/icons/tv.png');}
.icon-wifi {width: 24px; height: 24px; background: url('/images/icons/wifi.png');}