@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=e453e2b2-c71a-4f6f-aa62-0326fe468ff1");
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "Humanist521BT";
    src: url("/fonts/fonts.com/d2bd035a-91bf-4e32-9ada-9f3d22e254ce.woff2") format("woff2"), url("/fonts/fonts.com/fa751db9-01d1-4f5a-b395-91c4281f996d.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "LucidaSans";
    src: url("/fonts/fonts.com/3179f9fa-1ce2-445f-845c-88154d1d07bb.woff2") format("woff2"), url("/fonts/fonts.com/bd1ce450-c10a-479e-a870-58bc58464ac1.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "LucidaSans";
    src: url("/fonts/fonts.com/de96fb49-63c0-4471-aa4c-26a2b5623524.woff2") format("woff2"), url("/fonts/fonts.com/63e272f0-d31b-4902-964f-87e6d2b51bc7.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "LucidaSans";
    src: url("/fonts/fonts.com/478b09eb-3c03-4010-b4bf-cd162ce827a5.woff2") format("woff2"), url("/fonts/fonts.com/c0d6cf3e-16b1-43d5-b7d5-a673e1af58f4.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}