.icon-battery {width: 48px; height: 58px; background: url('/images/icons/battery.png');}
.icon-case {width: 50px; height: 42px; background: url('/images/icons/case.png');}
.icon-next {width: 14px; height: 24px; background: url('/images/icons/next.png');}
.icon-note {width: 43px; height: 56px; background: url('/images/icons/note.png');}
.icon-prev {width: 14px; height: 24px; background: url('/images/icons/prev.png');}
.icon-target {width: 52px; height: 52px; background: url('/images/icons/target.png');}