a > img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    padding: 0px 10px;
    max-width: 1000px;
}
.lwrap.content{
    padding: 0px 10px 22px 10px;
}
header .lwrap{
    padding: 19rem 2rem 16rem 52rem;
    max-width: 1044px;
}
.slider-wrap .lwrap{
    max-width: 1033px;
    width: 100%;
    padding: 0px 9rem 0px 10rem;
}
.slider-wrap{
    background: url("/images/bg1.png")center center;
    background-size: cover;
    box-shadow: inset 0 1px 2px rgba(19, 19, 19, 0.15);
    padding: 18rem 22rem 18rem 17rem;
}
.slider-wrap h1{
    color: #2e5c00;
    font-size: 36rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2px;
    letter-spacing: -0.02em;
}
.slider-wrap p{
    color: #2e5c00;
    font-size: 24rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15rem;
    letter-spacing: -0.02em;
}
.slider-wrap > a > i{
    margin: 16rem;
    min-width: 13px;
}
.slider-wrap > a{
    color: white;
    font-size: 18rem;
    font-weight: 300;
    margin-bottom: 5px;
    letter-spacing: -0.02em;
}
.submenu{
    background: #f3ffb2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.submenu .lwrap{
    padding: 10px 10px 10px 10px;
}
article{
    padding-bottom: 31rem;
}
article hgroup h2{
    color: #2e5c00;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
}
article hgroup{
    padding: 15rem 10rem 11rem 22rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 21rem;
}
.details time{
    color: #777;
    border-right: 1px solid #e5e5e5;
    line-height: 16px;
    padding: 6px 14px 3px 8px;
    letter-spacing: -0.02em;
}
.details span{
    color: #777;
    padding: 2px 9px 0px 16px;
    letter-spacing: -0.02em;
}
article hgroup span strong{
    color: #2e5c00;
    font-weight: 700;
}
article p{
    color: black;
    padding: 0px 16rem 18rem 22rem;
    letter-spacing: -0.02em;
    line-height: 18px;
}
.review{
    background: #f3f3f3;
    border-radius: 5px;
    padding-left: 22rem;
    margin-top: 3rem;
}
.review > div{
    margin-bottom: 3rem;
}
.review span{
    color: #2e5c00;
    padding-right: 15px;
}
.footer-top{
    background: #f3f3f3;
    box-shadow: inset 0 1px 2px rgba(19,19,19,.15);
}
.footer-bottom{
    background: url("/images/bg2.png");
}
.footer-bottom .lwrap{
    padding: 19rem 9px 66rem 10px;
}
.footer-bottom .lwrap > div{
    width: 160rem;
}
.footer-top .lwrap{
    padding: 12rem 19rem 18rem 10rem;
}
.footer-bottom span{
    color: black;
    letter-spacing: -0.015em;
    padding-bottom: 1px;
}
@media (max-width: 1200px) {
    .slider-wrap > a{
        color: transparent;
    }
    .icon-prev, .icon-next{
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 50%;
    }
    .icon-next {
    
    background: rgba(0,0,0,.3) url("/images/icons/next.png") no-repeat center center;
}
    .icon-prev {
    
    background: rgba(0,0,0,.3) url("/images/icons/next.png") no-repeat center center;
}
}
@media (max-width: 800px) {
    .links-submenu a{
        width: calc(100% / 3);
    }
    .btn-comments{
        min-width: 100px;
    }
}
@media (max-width: 480px) {
    header .lwrap {
    padding: 5px;
}
.slider-wrap h1 {
    font-size: calc(35px / 2);
}
.slider-wrap p {
    font-size: calc(23px / 2);
}
.links-smallmenu{
    box-shadow: none;
    border-left: none;
    padding: 0px;
}
.links-smallmenu a{
    margin: 4px;
}
.links-submenu, .btn-comments{
    border-radius: 5px;
    border:none;
}
.links-submenu a{
        width: 50%;
    }
.footer-bottom .lwrap > div:first-child {
    width: 0rem;
}
}