.icon-address {width: 15px; height: 27px; background: url('/images/icons/address.png');}
.icon-joomla {width: 43px; height: 43px; background: url('/images/icons/joomla.png');}
.icon-jquery {width: 78px; height: 84px; background: url('/images/icons/jquery.png');}
.icon-mail {width: 19px; height: 14px; background: url('/images/icons/mail.png');}
.icon-mysql {width: 124px; height: 65px; background: url('/images/icons/mysql.png');}
.icon-phone {width: 13px; height: 23px; background: url('/images/icons/phone.png');}
.icon-php {width: 53px; height: 53px; background: url('/images/icons/php.png');}
.icon-skype {width: 17px; height: 20px; background: url('/images/icons/skype.png');}
.icon-wp {width: 58px; height: 55px; background: url('/images/icons/wp.png');}