/*------- SLIDER #18 -------*/

/*COMMON*/
.csslider18 {
    position: relative;
    max-width: 840px; 
    overflow: hidden;
    border: 5px solid #35bd46;
}
.csslider18 > input[type=radio] {
    display: none;
}
.csslider18 > ul > li:first-child {
    visibility: hidden;
}
.csslider18 > ul > li > img{
    width: 100%;
    height: 100%;
    display: block;
}
.csslider18 > ul > li:not(:first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: transform 1900ms;
}

/*SLIDESHOW*/
.csslider18 > ul > .num0 {
    left: 0%;
}
.csslider18 > ul > .num1 {
    left: 100%;
}
.csslider18 > ul > .num2 {
    left: 200%;
}
.csslider18 > ul > .num3 {
    left: 300%;
}
.csslider18 > #slide18-0:checked ~ ul > li,
.csslider18 > #pause18-0:checked ~ ul > li{
    transform: translateX(0%);
}
.csslider18 > #slide18-1:checked ~ ul > li,
.csslider18 > #pause18-1:checked ~ ul > li {
    transform: translateX(-100%);
}
.csslider18 > #slide18-2:checked ~ ul > li,
.csslider18 > #pause18-2:checked ~ ul > li {
    transform: translateX(-200%);
}
.csslider18 > #slide18-3:checked ~ ul > li,
.csslider18 > #pause18-3:checked ~ ul > li {
    transform: translateX(-300%);
}
@keyframes slide {
    0%, 11.805555555555555%  { transform: translateX(0%); }
    25%, 36.80555555555556%  { transform: translateX(-100%); }
    50%, 61.80555555555556%  { transform: translateX(-200%); }
    75%, 86.80555555555556%  { transform: translateX(-300%); }

}
@keyframes slide-ie {
    0%, 11.805555555555555%  { margin-left: 0%; }
    25%, 36.80555555555556%  { margin-left: -100%; }
    50%, 61.80555555555556%  { margin-left: -200%; }
    75%, 86.80555555555556%  { margin-left: -300%; }

}
.csslider18 > #play18:checked ~ ul > li:not(:first-child) {
    animation: slide 14400ms infinite;
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .csslider18 > #play18:checked ~ ul > li:not(:first-child) {
        animation: slide-ie 14400ms infinite;
    }
}

/*btns show*/
.csslider18 > .play-pause {
    transition: .4s all 0s ease;
}
.csslider18 > .arrowprev {
    transition: .4s all .15s ease;
}
.csslider18 > .arrownext {
    transition: .4s all .3s ease;
}
.csslider18 > .arrowprev,
.csslider18 > .arrownext,
.csslider18 > .play-pause {
    opacity: 0;
    transform: translateY(-30px);
}
.csslider18:hover > .arrowprev,
.csslider18:hover > .arrownext,
.csslider18:hover > .play-pause {
    opacity: 1;
    transform: translateY(0);
}

/*DESCRIPTION*/

/*description template*/
.csslider18 > .description  > label {
    position: absolute;
    max-width: 50%;
    font-family: Ubuntu;
    font-size: 20px;
    bottom: 45px;
    left: 10px;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    opacity: 0;
    transform: translateY(-30px);
}
.csslider18 > #slide18-0:checked ~ .description  > .num0,
.csslider18 > #pause18-0:checked ~ .description  > .num0,
.csslider18 > #slide18-1:checked ~ .description  > .num1,
.csslider18 > #pause18-1:checked ~ .description  > .num1,
.csslider18 > #slide18-2:checked ~ .description  > .num2,
.csslider18 > #pause18-2:checked ~ .description  > .num2,
.csslider18 > #slide18-3:checked ~ .description  > .num3,
.csslider18 > #pause18-3:checked ~ .description  > .num3 {
    opacity: 1;
    z-index: 4;
    transition: .5s opacity .2s ease, .5s transform .2s ease;
    transform: translateY(0);
}
@keyframes description18 {
    3.4722222222222223%, 14.920555555555557%  {
        opacity: 1;
        z-index: 4;
        transform: translateY(0);
    }
    0%, 18.40277777777778%, 100%  {
        opacity: 0;
        z-index: 0;
        transform: translateY(-30px);    
    }
}
.csslider18 > #play18:checked ~ .description  > .num0 {
    animation: description18 14400ms infinite 0ms;
}
.csslider18 > #play18:checked ~ .description  > .num1 {
    animation: description18 14400ms infinite 3600ms;
}
.csslider18 > #play18:checked ~ .description  > .num2 {
    animation: description18 14400ms infinite 7200ms;
}
.csslider18 > #play18:checked ~ .description  > .num3 {
    animation: description18 14400ms infinite 10800ms;
}

/*PLAY-PAUSE*/

/*play-pause template*/
.csslider18 > .play-pause {
    left: 50%;
}
.csslider18 > .play-pause,
.csslider18 > .arrowprev,
.csslider18 > .arrownext {
    position: absolute;
    top: 50%;
}
.csslider18 > .play-pause > label,
.csslider18 > .arrowprev > label,
.csslider18 > .arrownext > label{
    position: absolute;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 0 2px white;
    transition: box-shadow .5s ease;
}
.csslider18 > .play-pause > .play:after {
    background: url(/images/icons/play18.png)no-repeat center center;
}
.csslider18 > .play-pause > .pause:after {
    background: url(/images/icons/pause18.png)no-repeat center center;
}
.csslider18 > .arrowprev > label:after,
.csslider18 > .arrownext > label:after,
.csslider18 > .arrowprev > label:before,
.csslider18 > .arrownext > label:before,
.csslider18 > .play-pause > label:after,
.csslider18 > .play-pause > label:before{
    position: absolute;
    display: block;
    width: 100%;
    content: "";
}
.csslider18 > .arrowprev > label:after,
.csslider18 > .arrownext > label:after,
.csslider18 > .play-pause > label:after{    
    top: 0px;
    top: 0px;    
    height: 100%;   
}
.csslider18 > .arrowprev > label:before,
.csslider18 > .arrownext > label:before, 
.csslider18 > .play-pause > label:before {    
    height: 0px;
    background: #35bd46;
    transition: height .5s ease;
}
.csslider18 > .arrowprev:hover > label:before,
.csslider18 > .arrownext:hover > label:before, 
.csslider18 > .play-pause:hover > label:before{
    height: 100%;
}
.csslider18 > .play-pause:hover > label,
.csslider18 > .arrowprev:hover > label,
.csslider18 > .arrownext:hover > label {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0);
}

/*play-pause moving*/
.csslider18 > #play18:checked ~ .play-pause > .pause,
.csslider18 > input:checked ~ .play-pause > .play {
    display: block;
    z-index: 5;
}
.csslider18 > #play18:checked ~ .play-pause > .play,
.csslider18 > input:checked ~ .play-pause > .pause{
    display: none;
    z-index: -1;
}
@keyframes play-pause18 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100%  { opacity: 0; z-index: -1; }
}
.csslider18 > #play18:checked ~ .play-pause > .pause{
    opacity: 0;
    z-index: -1;
}
.csslider18 > #play18:checked ~ .play-pause > .num0 {
    animation: play-pause18 14400ms infinite -1900ms;
}
.csslider18 > #play18:checked ~ .play-pause > .num1 {
    animation: play-pause18 14400ms infinite 1700ms;
}
.csslider18 > #play18:checked ~ .play-pause > .num2 {
    animation: play-pause18 14400ms infinite 5300ms;
}
.csslider18 > #play18:checked ~ .play-pause > .num3 {
    animation: play-pause18 14400ms infinite 8900ms;
}

/*ARROWS*/

/*arrows template*/
.csslider18 > .arrowprev > label,
.csslider18 > .arrownext > label {
    opacity: 0;
    z-index: -1;
}
.csslider18 > .arrowprev {
    left: 40px;
}
.csslider18 > .arrownext {
    right: 40px;
}
.csslider18 > .arrowprev > label:after {
    background: url(/images/icons/prev18.png)no-repeat center center;
}
.csslider18 > .arrownext > label:after {
    background: url(/images/icons/next18.png)no-repeat center center;
}

/*arrows moving*/
.csslider18 > #slide18-0:checked ~ .arrowprev > .num3,
.csslider18 > #pause18-0:checked ~ .arrowprev > .num3,
.csslider18 > #slide18-0:checked ~ .arrownext > .num1,
.csslider18 > #pause18-0:checked ~ .arrownext > .num1, 
.csslider18 > #slide18-1:checked ~ .arrowprev > .num0,
.csslider18 > #pause18-1:checked ~ .arrowprev > .num0,
.csslider18 > #slide18-1:checked ~ .arrownext > .num2,
.csslider18 > #pause18-1:checked ~ .arrownext > .num2, 
.csslider18 > #slide18-2:checked ~ .arrowprev > .num1,
.csslider18 > #pause18-2:checked ~ .arrowprev > .num1,
.csslider18 > #slide18-2:checked ~ .arrownext > .num3,
.csslider18 > #pause18-2:checked ~ .arrownext > .num3, 
.csslider18 > #slide18-3:checked ~ .arrowprev > .num2,
.csslider18 > #pause18-3:checked ~ .arrowprev > .num2,
.csslider18 > #slide18-3:checked ~ .arrownext > .num0,
.csslider18 > #pause18-3:checked ~ .arrownext > .num0 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrows18 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100%  { opacity: 0; z-index: -1; }
}
.csslider18 > #play18:checked ~ .arrowprev > label.num3,
.csslider18 > #play18:checked ~ .arrownext > label.num1 {
    animation: arrows18 14400ms infinite -1900ms;
}
.csslider18 > #play18:checked ~ .arrowprev > label.num0,
.csslider18 > #play18:checked ~ .arrownext > label.num2 {
    animation: arrows18 14400ms infinite 1700ms;
}
.csslider18 > #play18:checked ~ .arrowprev > label.num1,
.csslider18 > #play18:checked ~ .arrownext > label.num3 {
    animation: arrows18 14400ms infinite 5300ms;
}
.csslider18 > #play18:checked ~ .arrowprev > label.num2,
.csslider18 > #play18:checked ~ .arrownext > label.num0 {
    animation: arrows18 14400ms infinite 8900ms;
}

/*BULLETS*/

/*bullets template*/
.csslider18 > .bullets {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.csslider18 > .bullets > label {
    position: relative;
    margin: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background: transparent;
    transition: all 0.3s;
}
.csslider18 > .bullets > label > figure {
    visibility: hidden;
    position: absolute;
    left: -53px;
    top: -63px;
    height: 0px; 
    transition: all 0.5s;
    overflow: hidden;
    z-index: 10;
}
.csslider18 > .bullets > label > figure > img {
    border: 3px solid #35bd46;
    box-sizing: content-box;
}
.csslider18 > .bullets > label > figure:before {
    content: '';
    position: absolute;
    left: calc(50% - 3.5px);
    top: 54px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #35bd46;
}
.csslider18 > .bullets > label:hover > figure {
    height: 61px;
    visibility: visible;
}

/*bullets moving*/
.csslider18 > .bullets > label:hover,
.csslider18 > #slide18-0:checked ~ .bullets > .num0,
.csslider18 > #pause18-0:checked ~ .bullets > .num0,
.csslider18 > #slide18-1:checked ~ .bullets > .num1,
.csslider18 > #pause18-1:checked ~ .bullets > .num1,
.csslider18 > #slide18-2:checked ~ .bullets > .num2,
.csslider18 > #pause18-2:checked ~ .bullets > .num2,
.csslider18 > #slide18-3:checked ~ .bullets > .num3,
.csslider18 > #pause18-3:checked ~ .bullets > .num3 {
    border: 2px solid rgba(255,255,255,0);
    background: #35bd46;
}
@keyframes bullet18 {
    0%, 24.99%  { border: 2px solid rgba(255,255,255,0); background: #35BD46; }
    25%, 100% { border: 2px solid #fff; background: transparent; }
}
.csslider18 > #play18:checked ~ .bullets > .num0 {
    animation: bullet18 14400ms infinite -1900ms;
}
.csslider18 > #play18:checked ~ .bullets > .num1 {
    animation: bullet18 14400ms infinite 1700ms;
}
.csslider18 > #play18:checked ~ .bullets > .num2 {
    animation: bullet18 14400ms infinite 5300ms;
}
.csslider18 > #play18:checked ~ .bullets > .num3 {
    animation: bullet18 14400ms infinite 8900ms;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .csslider18 > .description, .csslider18 > .bullets {display: none;}
}