/*------- SLIDER #14 -------*/

/*COMMON*/
.csslider14 {
    position: relative;
    max-width: 830px; 
    box-shadow: 0 0 0 white;
    overflow: hidden;
}
.csslider14 > input[type=radio] {
    display: none;
}
.csslider14 > ul > li:first-child {
    visibility: hidden;
}
.csslider14 > ul > li > img{
    width: 100%;
    height: 100%;
    display: block;
}
.csslider14 > ul > li:not(:first-child) {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 2000ms ease;
}

/*SLIDESHOW*/
.csslider14 > #slide14-0:checked ~ ul > .num0,
.csslider14 > #slide14-1:checked ~ ul > .num1,
.csslider14 > #slide14-2:checked ~ ul > .num2{
    opacity: 1;
    z-index: 2;
}
@keyframes fade14 {
    0%, 47.22222222222223%, 100%  { opacity: 0; }
    13.88888888888889%, 33.333333333333336%  { opacity: 1; }
    0%, 33.33233333333334%  { z-index: 2; }
    33.33433333333333%, 100%  { z-index: 1; }
}
.csslider14 > #play14:checked ~ ul > .num0 {
    animation: fade14 14400ms infinite -2000ms;
}
.csslider14 > #play14:checked ~ ul > .num1 {
    animation: fade14 14400ms infinite 2800ms;
}
.csslider14 > #play14:checked ~ ul > .num2 {
    animation: fade14 14400ms infinite 7600ms;
}

/*DESCRIPTION*/
/*description template*/
.csslider14 > .description > label {
    text-align: center;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;  
    z-index: 3;
}
.csslider14 > .description > label > span {
    font-family: Lato;
    font-size: 16px;
    color: white; 
    padding: 10px;
    background: #fd6004;
    border-radius: 10px;
    display: inline-block;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
    transition:
        500ms opacity 600ms ease,
        500ms transform 600ms ease;
}

/*description moving*/
.csslider14 > #slide14-0:checked ~ .description > .num0 > span,
.csslider14 > #slide14-1:checked ~ .description > .num1 > span,
.csslider14 > #slide14-2:checked ~ .description > .num2 > span{
    opacity: 1;
    transform: scale(1);
}
@keyframes description14 {
    3.4722222222222223%, 33.333333333333336%  {
        opacity: 1;
        z-index: 2;
        transform: scale(1);
    }
    36.80555555555556%  {
        opacity: 0;
        z-index: 2;
        transform: scale(0);
    }
    36.815555555555555%, 100%  { z-index: 0; }
}
.csslider14 > #play14:checked ~ .description > .num0 > span {
    animation: description14 14400ms infinite -1400ms ease;
}
.csslider14 > #play14:checked ~ .description > .num1 > span {
    animation: description14 14400ms infinite 3400ms ease;
}
.csslider14 > #play14:checked ~ .description > .num2 > span {
    animation: description14 14400ms infinite 8200ms ease;
}

/*BULLETS*/

/*bullets template*/
.csslider14 > .bullets {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 10;
}
.csslider14 > .bullets > label {
    position: relative;
    margin: 10px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #fd6004;
    transition: 0.3s all;
}
.csslider14 > .bullets > label > figure {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: -54px;
    top: -62px;
    border: 3px solid #fd6004;
    transition: all 0.3s;
    transform: scale(0.7);
}
.csslider14 > .bullets > label > figure:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -4px;
    bottom: -9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transition: 0.3s opacity 0.1s;  
    border-top: 7px solid #fd6004;
}
.csslider14 > .bullets > label:hover > figure {
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}
.csslider14 > .bullets > label:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #fd6004;
    transition: 0.3s all;
    transform: scale(0.9);
    content: "";
    display: block;
}

/*bullets moving*/
.csslider14 > #slide14-0:checked ~ .bullets > .num0:after,
.csslider14 > #slide14-1:checked ~ .bullets > .num1:after,
.csslider14 > #slide14-2:checked ~ .bullets > .num2:after{
    transform: scale(1.4);
}
@keyframes bullet14 {
    0%, 33.32333333333334%  {
        border-color: #fd6004;
        transform:scale(1.4);
    }
    33.333333333333336%, 100% {
        border-color: transparent;
        transform:scale(0.9);
    }
}
.csslider14 > #play14:checked ~ .bullets > label.num0:after {
    animation: bullet14 14400ms infinite -2000ms;
}
.csslider14 > #play14:checked ~ .bullets > label.num1:after {
    animation: bullet14 14400ms infinite 2800ms;
}
.csslider14 > #play14:checked ~ .bullets > label.num2:after {
    animation: bullet14 14400ms infinite 7600ms;
}

/*ARROWS*/
.csslider14 > .arrowprev,
.csslider14 > .arrownext {
    position: absolute;
    top: 50%;
    z-index: 5;
}
.csslider14 > .arrowprev {
    left: 37px;
}
.csslider14 > .arrownext {
    right: 37px;
}
.csslider14 > .arrowprev > label,
.csslider14 > .arrownext > label {
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin-top: -27.5px;
    margin-left: -27.5px; 
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(#fd6004, #d75203);   
}
.csslider14 > .arrowprev > label:after {    
    margin-left: 8px;
    transform: rotate(135deg);
}
.csslider14 > .arrownext > label:after { 
    margin-right: 8px;
    transform: rotate(-45deg);
}
.csslider14 > .arrowprev > label:after,
.csslider14 > .arrownext > label:after {
    display: block;
    width: 16px;
    height: 16px;
    border-right: 2.5px solid white;
    border-bottom: 2.5px solid rgba(255,255,255,.99);
    top: 50%;
    transition: transform .4s ease;
    content: "";
}
@keyframes arrownext14 {
    0%, 100% { transform: translateX(0px) rotate(-45deg); }
    50% { transform: translateX(4px) rotate(-45deg); }
}
@keyframes arrowprev14 {
    0%, 100% { transform: translateX(0px) rotate(135deg); }
    50% { transform: translateX(-4px) rotate(135deg); }
}
.csslider14 > .arrownext:hover > label:after {
    animation: arrownext14 .5s infinite ease;
}
.csslider14 > .arrowprev:hover > label:after {
    animation: arrowprev14 .5s infinite ease;
}
.csslider14 > .arrowprev > label:before,
.csslider14 > .arrownext > label:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fd6004;
    z-index: -1;
    opacity: 0;
    transform: scale(0.9);
    transition: all .4s ease;
}
.csslider14 > .arrowprev:hover > label:before,
.csslider14 > .arrownext:hover > label:before {
    transform: scale(1.2);
    opacity: 1;
}

/*arrows moving*/
.csslider14 > #slide14-0:checked ~ .arrowprev > .num2,
.csslider14 > #slide14-0:checked ~ .arrownext > .num1,
.csslider14 > #slide14-1:checked ~ .arrowprev > .num0,
.csslider14 > #slide14-1:checked ~ .arrownext > .num2, 
.csslider14 > #slide14-2:checked ~ .arrowprev > .num1,
.csslider14 > #slide14-2:checked ~ .arrownext > .num0{
    opacity: 1;
    z-index: 5;
}
@keyframes arrow14 {
    0%, 33.32333333333334% { opacity: 1; z-index: 5; }
    33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
.csslider14 > #play14:checked ~ .arrowprev > .num2,
.csslider14 > #play14:checked ~ .arrownext > .num1 {
    animation: arrow14 14400ms infinite -2000ms;
}
.csslider14 > #play14:checked ~ .arrowprev > .num0,
.csslider14 > #play14:checked ~ .arrownext > .num2 {
    animation: arrow14 14400ms infinite 2800ms;
}
.csslider14 > #play14:checked ~ .arrowprev > .num1,
.csslider14 > #play14:checked ~ .arrownext > .num0 {
    animation: arrow14 14400ms infinite 7600ms;
}

/*MEDIA QUERIES*/
@media (max-width: 480px) {
    .csslider14 > .description, .csslider14 > .bullets {display: none;}
}