/*COMMON*/
.csslider1 {
    position: relative;
    max-width: 960px;
    overflow: hidden;
}
.csslider1 > input[type=radio] {
    display: none;
}
.csslider1 > ul {
    position: relative;
    z-index: 1;   
}
.csslider1 > ul > li:first-child {
    line-height: 0;
}
.csslider1 > ul > li > img {
    width: 100%;
}
.csslider1 > ul > li:not(:first-child) {
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: transform 1600ms;
    transform: scale(1);
}

/*ARROWS*/
.csslider1 > .cs_arrowprev,
.csslider1 > .cs_arrownext {
    position: absolute;
    top: 50%;
    box-sizing: content-box;
}
.csslider1 > .cs_arrowprev {
    left: 35px;
}
.csslider1 > .cs_arrownext {
    right: 35px;
}
.csslider1 > .cs_arrowprev > label,
.csslider1 > .cs_arrownext > label {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin-top: -30px;
    width: 35px;
    padding: 30px 0px;
    transition: 300ms padding 300ms ease, 300ms margin-top 300ms ease;
}
.csslider1 > .cs_arrowprev > label {
    right: 0;
}
.csslider1 > .cs_arrownext > label {
    left: 0;
}
.csslider1 > .cs_arrowprev > label:after,
.csslider1 > .cs_arrownext > label:after {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #f7af86;
    text-align: center;
    content: "";
}
.csslider1 > .cs_arrowprev > label:after {
    background: #f7af86 url(/images/icons/prev.png)no-repeat center center;
}
.csslider1 > .cs_arrownext > label:after {
    background: #f7af86 url(/images/icons/next.png)no-repeat center center;
}
.csslider1 > .cs_arrowprev:hover > label, .csslider1 > .cs_arrownext:hover > label {
    padding: 55px 0px;
    margin-top: -55px;
    transition: 300ms padding ease, 300ms margin-top ease;
}
.csslider1 > .cs_arrowprev img, .csslider1 > .cs_arrownext img{
    position: absolute;
    border: 10px solid #f7af86;
    box-sizing: content-box;
    top: 0px;
}
.csslider1 > .cs_arrowprev img {    
    left: -192px;    
    transition: 300ms left ease;    
}
.csslider1 > .cs_arrownext img {
    right: -192px;
    transition: 300ms right ease;
}
.csslider1 > .cs_arrowprev:hover img {
    left: 35px;
    transition: 300ms left 300ms ease;
}
.csslider1 > .cs_arrownext:hover img {
    right: 35px;
    transition: 300ms right 300ms ease;
}
.csslider1 > #cs_slide1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
.csslider1 > #cs_pause1_0:checked ~ .cs_arrownext > label.num1, 
.csslider1 > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_arrownext > label.num2,
.csslider1 > #cs_pause1_1:checked ~ .cs_arrownext > label.num2, 
.csslider1 > #cs_slide1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_arrownext > label.num0,
.csslider1 > #cs_pause1_2:checked ~ .cs_arrownext > label.num0 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrow {
    0%, 33.32333333333334% { opacity: 1; z-index: 5; }
    33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num2,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num1 {
    animation: arrow 11700ms infinite -1600ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num0,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num2 {
    animation: arrow 11700ms infinite 2300ms;
}
.csslider1 > #cs_play1:checked ~ .cs_arrowprev > label.num1,
.csslider1 > #cs_play1:checked ~ .cs_arrownext > label.num0 {
    animation: arrow 11700ms infinite 6200ms;
}
.csslider1 > input:checked ~ .cs_arrowprev > label,
.csslider1 > input:checked ~ .cs_arrownext > label {
    animation: none;
}

/*DESCRIPTION*/
.csslider1 > .cs_description > label {
    font-family: Poiret One;
    font-size: 21px;
    color: white;
    padding: 10px;
    background: #f7af86;
    max-width: 50%;
    bottom: 0;
    position: absolute;
    left: 0;
}
.csslider1 > #cs_slide1_0:checked ~ .cs_description > .num0,
.csslider1 > #cs_pause1_0:checked ~ .cs_description > .num0,
.csslider1 > #cs_slide1_1:checked ~ .cs_description > .num1,
.csslider1 > #cs_pause1_1:checked ~ .cs_description > .num1,
.csslider1 > #cs_slide1_2:checked ~ .cs_description > .num2,
.csslider1 > #cs_pause1_2:checked ~ .cs_description > .num2 {
    opacity: 1;
    z-index: 4;
    transition: .5s opacity .2s ease, .5s transform .2s ease;
    transform: translateY(0);
}
.csslider1 > input:checked ~ .cs_description > label {
    opacity: 0;
    transform: translateX(-100%);
}
@keyframes description {
    4.273504273504273%, 22.212222222222223%  {
        opacity: 1;
        z-index: 4;
        transform: translateX(0);
    }
    0%, 26.495726495726498%, 100%  {
        opacity: 0;
        z-index: 0;
        transform: translateX(-100%);
    }
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num0 {
    animation: description 11700ms infinite 0ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num1 {
    animation: description 11700ms infinite 3900ms;
}
.csslider1 > #cs_play1:checked ~ .cs_description > .num2 {
    animation: description 11700ms infinite 7800ms;
}

/*EFFECTS*/
.csslider1 > ul > li.num0 {
    top: 0%;
}
.csslider1 > ul > li.num1 {
    top: 100%;
}
.csslider1 > ul > li.num2 {
    top: 200%;
}
.csslider1 > #cs_slide1_0:checked ~ ul > li:not(:first-child),
.csslider1 > #cs_pause1_0:checked ~ ul > li:not(:first-child) {
    transform: translateY(0%);
}
.csslider1 > #cs_slide1_1:checked ~ ul > li:not(:first-child),
.csslider1 > #cs_pause1_1:checked ~ ul > li:not(:first-child) {
    transform: translateY(-100%);
}
.csslider1 > #cs_slide1_2:checked ~ ul > li:not(:first-child),
.csslider1 > #cs_pause1_2:checked ~ ul > li:not(:first-child) {
    transform: translateY(-200%);
}
@keyframes slide1 {
    0%, 19.65811965811966%  { transform: translateY(0%); }
    33.333333333333336%, 52.991452991452995%  { transform: translateY(-100%); }
    66.66666666666667%, 86.32478632478632%  { transform: translateY(-200%); }
}
@keyframes slide1-ie {
    0%, 19.65811965811966%  { margin-top: 0%; }
    33.333333333333336%, 52.991452991452995%  { margin-top: -52.083333333333336%; }
    66.66666666666667%, 86.32478632478632%  { margin-top: -104.16666666666667%; }
}
.csslider1  > #cs_play1:checked ~ ul > li:not(:first-child) {
    animation: slide1 11700ms infinite;
}

/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .csslider1  > #cs_play1:checked ~ ul > li:not(:first-child) {
    animation: slide1-ie 11700ms infinite;
  }
}

