/*------- SLIDER #8 -------*/

/*COMMON*/
.csslider8 {
    position: relative;
    max-width: 830px;
    overflow: hidden;    
}
.csslider8 > input[type=radio] {
    display: none;
}
.csslider8 > ul > li:first-child {
    visibility: hidden;
}
.csslider8 > ul > li > img{
    width: 100%;
    height: 100%;
    display: block;
}
.csslider8 > ul > li:not(:first-child) {
    position: absolute;
    transition: transform 1300ms ease;
}

/*SLIDESHOW*/
.csslider8 > ul > .num0 {
    top: 0%;
}
.csslider8 > ul > .num1 {
    top: 100%;
}
.csslider8 > ul > .num2 {
    top: 200%;
}
.csslider8 > ul > .num3 {
    top: 300%;
}
.csslider8 > #slide8-0:checked ~ ul > li{
    transform: translateY(0%);
}
.csslider8 > #slide8-1:checked ~ ul > li{
    transform: translateY(-100%);
}
.csslider8 > #slide8-2:checked ~ ul > li{
    transform: translateY(-200%);
}
.csslider8 > #slide8-3:checked ~ ul > li{
    transform: translateY(-300%);
}
@keyframes slide8 {
    0%, 17.073170731707318%  { transform: translateY(0%); }
    25%, 42.073170731707314%  { transform: translateY(-100%); }
    50%, 67.07317073170732%  { transform: translateY(-200%); }
    75%, 92.07317073170732%  { transform: translateY(-300%); }

}
@keyframes slide8-ie {
    0%, 17.073170731707318%  { margin-top: 0%; }
    25%, 42.073170731707314%  { margin-top: -43.373493975903614%; }
    50%, 67.07317073170732%  { margin-top: -86.74698795180723%; }
    75%, 92.07317073170732%  { margin-top: -130.12048192771084%; }
}
.csslider8  > #play8:checked ~ ul > li:not(:first-child) {
    animation: slide8 16400ms infinite;
}
/* IE 10+ hack - cant animate translate :( */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .csslider8  > #play8:checked ~ ul > li:not(:first-child) {
        animation: slide8-ie 16400ms infinite;
    }
}

/*ARROWS*/
/*arrows template*/
.csslider8 > .arrowprev,
.csslider8 > .arrownext {
    position: absolute;
    top: 50%;
    z-index: 5;
    right: 35px;
}
.csslider8 > .arrowprev {    
    top: 35px;
}
.csslider8 > .arrownext {
    top: auto;
    bottom: 35px;
}
.csslider8 > .arrowprev > label,
.csslider8 > .arrownext > label {
    position: absolute;
    opacity: 0;
    z-index: -1;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50%;
    background: white;    
}
.csslider8 > input:checked ~ .arrowprev > label,
.csslider8 > input:checked ~ .arrownext > label {
    opacity: 0;
    z-index: -1;
}
.csslider8 > .arrowprev > label:after,
.csslider8 > .arrowprev > label:before,
.csslider8 > .arrownext > label:after,
.csslider8 > .arrownext > label:before {
    position: absolute;
    bottom: 18px;
    left: 25px;
    width: 15px;
    height: 1px;
    background: black;
    transition: transform 300ms ease-in-out;
    content: "";
}
.csslider8 > .arrowprev > label:before,
.csslider8 > .arrownext > label:before {
    margin-left: -15px;
}
/* prev */
.csslider8 > .arrowprev > label:after,
.csslider8 > .arrowprev > label:before {
    top: 18px;
}
.csslider8 > .arrowprev > label:after {
    transform: rotate(60deg);
    transform-origin: 0 0;
}
.csslider8 > .arrowprev:hover > label:after {
    transform: rotate(25deg);
}
.csslider8 > .arrowprev > label:before {
    transform: rotate(-60deg);
    transform-origin: 100% 0;
}
.csslider8 > .arrowprev:hover > label:before {
    transform: rotate(-25deg);
}
/* next */
.csslider8 > .arrownext > label:after,
.csslider8 > .arrownext > label:before {
    bottom: 18px;
}
.csslider8 > .arrownext > label:after {
    transform: rotate(-60deg);
    transform-origin: 0 0;
}
.csslider8 > .arrownext:hover > label:after {
    transform: rotate(-25deg);
}
.csslider8 > .arrownext > label:before {
    transform: rotate(60deg);
    transform-origin: 100% 0;
}
.csslider8 > .arrownext:hover > label:before {
    transform: rotate(25deg);
}
/*arrows moving*/
.csslider8 > #slide8-0:checked ~ .arrowprev > .num3,
.csslider8 > #slide8-0:checked ~ .arrownext > .num1,
.csslider8 > #slide8-1:checked ~ .arrowprev > .num0,
.csslider8 > #slide8-1:checked ~ .arrownext > .num2, 
.csslider8 > #slide8-2:checked ~ .arrowprev > .num1,
.csslider8 > #slide8-2:checked ~ .arrownext > .num3,
.csslider8 > #slide8-3:checked ~ .arrowprev > .num2,
.csslider8 > #slide8-3:checked ~ .arrownext > .num0{
    opacity: 1;
    z-index: 5;
}
@keyframes arrow8 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100%  { opacity: 0; z-index: -1; }
}
.csslider8 > #play8:checked ~ .arrowprev > .num3,
.csslider8 > #play8:checked ~ .arrownext > .num1 {
    animation: arrow8 16400ms infinite -1300ms;
}
.csslider8 > #play8:checked ~ .arrowprev > .num0,
.csslider8 > #play8:checked ~ .arrownext > .num2 {
    animation: arrow8 16400ms infinite 2800ms;
}
.csslider8 > #play8:checked ~ .arrowprev > .num1,
.csslider8 > #play8:checked ~ .arrownext > .num3 {
    animation: arrow8 16400ms infinite 6900ms;
}
.csslider8 > #play8:checked ~ .arrowprev > .num2,
.csslider8 > #play8:checked ~ .arrownext > .num0 {
    animation: arrow8 16400ms infinite 11000ms;
}

/*BULLETS*/
/*bullets template*/
.csslider8 > .bullets {
    position: absolute;
    z-index: 6;
    right: 27px;
    max-height: 60%;
    top: 50%;
    transform: translateY(-50%);
}
.csslider8 > .bullets > label {
    position: relative;
    border-radius: 50%;
    margin: 0.5px;
    background: white;
    height: 8px;
    width: 8px;
}
.csslider8 > .bullets > label:after {
    content: "";
    background: transparent;
    width: 2px;
    height: 2px;
    display: block;
}
.csslider8 > .bullets > label > figure {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;    
    margin-left: -300%;
    left: -207px;
    top: -42.5px;
    transition: all 0.3s;
    padding-right: 12px;
}
.csslider8 > .bullets > label > figure > img{
    display: block;
    border: 2px solid white;
}
.csslider8 > .bullets > label > figure:before {
    content: '';
    position: absolute; 
    top: 50%;
    margin-top: -2.5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    right: 7px;
}
.csslider8 > .bullets > label:hover > figure {
    opacity: 1;
    visibility: visible;
    margin-left: -150%;
}
.csslider8 > .bullets > label:hover:after,
.csslider8 > #slide8-0:checked ~ .bullets > .num0:after,
.csslider8 > #slide8-1:checked ~ .bullets > .num1:after,
.csslider8 > #slide8-2:checked ~ .bullets > .num2:after,
.csslider8 > #slide8-3:checked ~ .bullets > .num3:after{
    background: black;
}
@keyframes bullet8 {
    0%, 24.99%  { background: black; }
    25%, 100% { background: transparent; }
}
.csslider8 > #play8:checked ~ .bullets > .num0:after{
    animation: bullet8 16400ms infinite -1300ms;
}
.csslider8 > #play8:checked ~ .bullets > .num1:after{
    animation: bullet8 16400ms infinite 2800ms;
}
.csslider8 > #play8:checked ~ .bullets > .num2:after{
    animation: bullet8 16400ms infinite 6900ms;
}
.csslider8 > #play8:checked ~ .bullets > .num3:after{
    animation: bullet8 16400ms infinite 11000ms;
}

/*DESCRIPTION*/

/*description template*/
.csslider8 > .description > label{
    position: absolute;
    max-width: 50%;
    bottom: 20rem;    
    left: 15rem;
}
.csslider8 > .description > label > *{
    font-family: Khula;    
    color: black;
    background: white;
    padding: 15rem;
    opacity: 0;
    border-radius: 5px;
}
.csslider8 > .description > label > big{
    font-size: 17px;
    line-height: 17px;
    transition: 750ms opacity 390ms ease;
    margin-bottom: 15px;
    height: 47px;
}
.csslider8 > .description > label > small{
    font-size: 14px;
    line-height: 14px;
    transition: 750ms opacity 640ms ease;
    height: 43px;
}
.csslider8 > .description > label span{
    display: inline-block;
    opacity: 0;
    transform: scale(0);
}
.csslider8 > .description > label > big > span {
    transition:
        750ms opacity 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
        750ms transform 540ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider8 > .description > label > small > span {
    transition:
        750ms opacity 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550),
        750ms transform 790ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.csslider8 > #slide8-0:checked ~ .description > .num0 > big,
.csslider8 > #slide8-0:checked ~ .description > .num0 > small,
.csslider8 > #slide8-1:checked ~ .description > .num1 > big,
.csslider8 > #slide8-1:checked ~ .description > .num1 > small,
.csslider8 > #slide8-2:checked ~ .description > .num2 > big,
.csslider8 > #slide8-2:checked ~ .description > .num2 > small,
.csslider8 > #slide8-3:checked ~ .description > .num3 > big,
.csslider8 > #slide8-3:checked ~ .description > .num3 > small {
    opacity: 1;
}
.csslider8 > #slide8-0:checked ~ .description > .num0 span,
.csslider8 > #slide8-1:checked ~ .description > .num1 span,
.csslider8 > #slide8-2:checked ~ .description > .num2 span,
.csslider8 > #slide8-3:checked ~ .description > .num3 span {
    opacity: 1;
    transform: scale(1);
}
@keyframes title8 {
    3.658536585365854%, 21.331463414634143%  {
        opacity: 1;
        z-index: 2;
    }
    28.658536585365855%  {
        opacity: 0;
        z-index: 2;
    }
    28.668536585365857%, 100%  { z-index: 0; }
}
@keyframes description8 {
    3.658536585365854%, 21.331463414634143%  {
        opacity: 1;
        z-index: 1;
    }
    28.658536585365855%  {
        opacity: 0;
        z-index: 1;
    }
    28.668536585365857%, 100%  { z-index: 0; }
}
.csslider8 > #play8:checked ~ .description > .num0 > big {
    animation: title8 16400ms infinite -909.9999999999999ms ease;
}
.csslider8 > #play8:checked ~ .description > .num1 > big {
    animation: title8 16400ms infinite 3190ms ease;
}
.csslider8 > #play8:checked ~ .description > .num2 > big {
    animation: title8 16400ms infinite 7290ms ease;
}
.csslider8 > #play8:checked ~ .description > .num3 > big {
    animation: title8 16400ms infinite 11390ms ease;
}
.csslider8 > #play8:checked ~ .description > .num0 > small {
    animation: description8 16400ms infinite -659.9999999999999ms ease;
}
.csslider8 > #play8:checked ~ .description > .num1 > small {
    animation: description8 16400ms infinite 3440ms ease;
}
.csslider8 > #play8:checked ~ .description > .num2 > small {
    animation: description8 16400ms infinite 7540ms ease;
}
.csslider8 > #play8:checked ~ .description > .num3 > small {
    animation: description8 16400ms infinite 11640ms ease;
}
@keyframes title8-text {
    2.5609756097560976%, 22.4290243902439% {
        opacity: 0.7;
        transform: scale(1.15);
    }
    3.658536585365854%, 21.331463414634143% {
        opacity: 1;
        transform: scale(1);
    }
    0%, 28.658536585365855%  {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes description8-text {
    2.5609756097560976%, 22.4290243902439% {
        opacity: 0.7;
        transform: scale(1.15);
    }
    3.658536585365854%, 21.331463414634143% {
        opacity: 1;
        transform: scale(1);
    }
    0%, 28.658536585365855% {
        opacity: 0;
        transform: scale(0);
    }
}
.csslider8 > #play8:checked ~ .description > .num0 > big > span {
    animation: title8-text 16400ms infinite -759.9999999999999ms ease;
}
.csslider8 > #play8:checked ~ .description > .num1 > big > span {
    animation: title8-text 16400ms infinite 3340ms ease;
}
.csslider8 > #play8:checked ~ .description > .num2 > big > span {
    animation: title8-text 16400ms infinite 7440ms ease;
}
.csslider8 > #play8:checked ~ .description > .num3 > big > span {
    animation: title8-text 16400ms infinite 11540ms ease;
}
.csslider8 > #play8:checked ~ .description > .num0 > small > span {
    animation: description8-text 16400ms infinite -509.9999999999999ms ease;
}
.csslider8 > #play8:checked ~ .description > .num1 > small > span {
    animation: description8-text 16400ms infinite 3590ms ease;
}
.csslider8 > #play8:checked ~ .description > .num2 > small > span {
    animation: description8-text 16400ms infinite 7690ms ease;
}
.csslider8 > #play8:checked ~ .description > .num3 > small > span {
    animation: description8-text 16400ms infinite 11790ms ease;
}

/*MEDIA QUERIES*/
@media (max-width: 480px) {
    .csslider8 > .description, .csslider8 > .bullets {display: none;}
}