/*------- SLIDER #5 -------*/

/*COMMON*/
.csslider5 {
    position: relative;
    max-width: 830px;   
}
.csslider5 > ul{
    position: relative;
    overflow: hidden;
}
.csslider5 > input[type=radio] {
    display: none;
}
.csslider5 > ul > li:first-child {
    visibility: hidden;
}
.csslider5 > ul > li > img {
    width: 100%;
    height: 100%;
    display: block;
}
.csslider5 > ul > li:not(:first-child){
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: scale(1.3);
    transition: opacity 2000ms ease, transform 24000ms cubic-bezier(0.840, 0.970, 0.855, 1.000);
}

/*SLIDESHOW*/
.csslider5 > ul > .num0 {    
    transform-origin: 100% 0; 
}
.csslider5 > ul > .num1 {
    transform-origin: 0 0;
}
.csslider5 > ul > .num2 {
    transform-origin: 100% 100%;
}
.csslider5 > #slide5-0:checked ~ ul > .num0,
.csslider5 > #pause5-0:checked ~ ul > .num0,
.csslider5 > #slide5-1:checked ~ ul > .num1,
.csslider5 > #pause5-1:checked ~ ul > .num1,
.csslider5 > #slide5-2:checked ~ ul > .num2,
.csslider5 > #pause5-2:checked ~ ul > .num2 {
    opacity: 1;
    z-index: 2;
    transform: scale(1);
}
@keyframes kenburns5 {
    0.001%, 33.33233333333334%  { 
        z-index: 2;
    }
    0%, 100% {
        opacity: 0;
        transform: scale(1);
    }
    6.2745098039215685%, 33.333333333333336% {
        opacity: 1 
    }
    39.6078431372549%, 66.66666666666666% {
        opacity: 0;
        transform: scale(1.3);
    }
    33.33433333333333%, 100%  {
        z-index: 1;
    }
}
.csslider5 > #play5:checked ~ ul > .num0 {
    animation: kenburns5 25500ms infinite -1600ms linear;
}
.csslider5 > #play5:checked ~ ul > .num1 {
    animation: kenburns5 25500ms infinite 6900ms linear;
}
.csslider5 > #play5:checked ~ ul > .num2 {
    animation: kenburns5 25500ms infinite 15400ms linear;
}

/*show btns*/
.csslider5 > .arrowprev {
    transition: .5s opacity .15s ease;
}
.csslider5 > .arrownext {
    transition: .5s opacity .3s ease;
}
.csslider5 > .arrowprev,
.csslider5 > .arrownext {
    opacity: 0;
}
.csslider5:hover > .arrowprev,
.csslider5:hover > .arrownext {
    opacity: 1;
}

/*ARROWS*/

/*arrow template*/
.csslider5 > .arrowprev,
.csslider5 > .arrownext {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    z-index: 5;
}
.csslider5 > .arrowprev {
    left: 0;
}
.csslider5 > .arrownext {
    right: 0;
}
.csslider5 > .arrowprev > label,
.csslider5 > .arrownext > label {
    position: absolute;
    width: 100%;
    height: 100%;    
    transition: 300ms background, 300ms color ease;
    perspective: 1000px;
}
.csslider5 > .arrowprev > label{
    background: #47c9af url(/images/icons/prev2.png)no-repeat center center;
}
.csslider5 > .arrownext > label{
    background: #47c9af url(/images/icons/next2.png)no-repeat center center;
}
.csslider5 > .arrowprev:hover > label{
    background: white url(/images/icons/prev5.png)no-repeat center center;
}
.csslider5 > .arrownext:hover > label{
    background: white url(/images/icons/next5.png)no-repeat center center;
}
.csslider5 > .arrowprev img,
.csslider5 > .arrownext img {
    position: absolute;
    top: 0;
    transform: rotateY(-90deg);
    transform-style: preserve-3d;
    visibility: hidden;
    transition: 300ms transform ease, 300ms visibility ease;
}
.csslider5 > .arrowprev img {
    left: 80px;
    transform: rotateY(90deg);
    transform-origin: 0 0;
}
.csslider5 > .arrownext img {
    right: 80px;
    transform-origin: 100% 0;
}
.csslider5 > .arrowprev:hover img,
.csslider5 > .arrownext:hover img {
    visibility: visible;
    transform: rotateY(0deg);
}
/*arrow moving*/
.csslider5 > input:checked ~ .arrowprev > label,
.csslider5 > input:checked ~ .arrownext > label {
    opacity: 0;
    z-index: -1;
}
.csslider5 > #slide5-0:checked ~ .arrowprev > .num2,
.csslider5 > #pause5-0:checked ~ .arrowprev > .num2,
.csslider5 > #slide5-0:checked ~ .arrownext > .num1,
.csslider5 > #pause5-0:checked ~ .arrownext > .num1, 
.csslider5 > #slide5-1:checked ~ .arrowprev > .num0,
.csslider5 > #pause5-1:checked ~ .arrowprev > .num0,
.csslider5 > #slide5-1:checked ~ .arrownext > .num2,
.csslider5 > #pause5-1:checked ~ .arrownext > .num2, 
.csslider5 > #slide5-2:checked ~ .arrowprev > .num1,
.csslider5 > #pause5-2:checked ~ .arrowprev > .num1,
.csslider5 > #slide5-2:checked ~ .arrownext > .num0,
.csslider5 > #pause5-2:checked ~ .arrownext > .num0 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrow5 {
    0%, 33.32333333333334% { opacity: 1; z-index: 5; }
    33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
.csslider5 > #play5:checked ~ .arrowprev > label.num2,
.csslider5 > #play5:checked ~ .arrownext > label.num1 {
    animation: arrow5 24000ms infinite -2000ms;
}
.csslider5 > #play5:checked ~ .arrowprev > label.num0,
.csslider5 > #play5:checked ~ .arrownext > label.num2 {
    animation: arrow5 24000ms infinite 6000ms;
}
.csslider5 > #play5:checked ~ .arrowprev > label.num1,
.csslider5 > #play5:checked ~ .arrownext > label.num0 {
    animation: arrow5 24000ms infinite 14000ms;
}

/*DESCRIPTION*/

/*description template*/
.csslider5 > .description > label {
    font-family: Indie Flower;
    font-size: 21px;
    color: white;
    padding: 10rem;
    background: #47c9af;   
    bottom: 0px;
    position: absolute;
    left: 0px;
    max-width: 50%;
}
.csslider5 > .description > label > small{
    font-size: 16px;
    margin-top: 5rem;
}

/*description moving*/
.csslider5 > #slide5-0:checked ~ .description > .num0,
.csslider5 > #pause5-0:checked ~ .description > .num0,
.csslider5 > #slide5-1:checked ~ .description > .num1,
.csslider5 > #pause5-1:checked ~ .description > .num1,
.csslider5 > #slide5-2:checked ~ .description > .num2,
.csslider5 > #pause5-2:checked ~ .description > .num2 {
    opacity: 1;
    z-index: 4;
    transition: .5s opacity .2s ease, .5s transform .2s ease;
}
.csslider5 > input:checked ~ .description > label {
    opacity: 0;
    transform: translateX(0%);
}
@keyframes description5 {
    2.0833333333333335%, 27.073333333333334%  {
        opacity: 1;
        z-index: 4;
        transform: translateX(0);
    }
    0%, 29.166666666666668%, 100%  {
        opacity: 0;
        z-index: 0;
        transform: translateX(-100%);   
    }
}
.csslider5 > #play5:checked ~ .description > .num0{
    animation: description5 24000ms infinite 0ms;
}
.csslider5 > #play5:checked ~ .description > .num1 {
    animation: description5 24000ms infinite 8000ms;
}
.csslider5 > #play5:checked ~ .description > .num2 {
    animation: description5 24000ms infinite 16000ms;
}

/*BULLETS*/

/*bullets template*/
.csslider5 > .bullets {
    bottom: 0;
    right: 30px;
    position: absolute;
    z-index: 6;
}
.csslider5 > .bullets > label{
    position: relative;
    height: 30px;
    width: 30px;
    background: #47c9af;
    transition: 300ms background ease;
}
.csslider5 > .bullets > label > figure {
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275),
        visibility 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    position: absolute;
    left: -37px;
    top: -80px;
}
.csslider5 > .bullets > label:hover > figure {
    visibility: visible;
    opacity: 1;
}
/*bullets moving*/
.csslider5 > .bullets > label:hover,
.csslider5 > #slide5-0:checked ~ .bullets > .num0,
.csslider5 > #pause5-0:checked ~ .bullets > .num0,
.csslider5 > #slide5-1:checked ~ .bullets > .num1,
.csslider5 > #pause5-1:checked ~ .bullets > .num1,
.csslider5 > #slide5-2:checked ~ .bullets > .num2,
.csslider5 > #pause5-2:checked ~ .bullets > .num2 {
    background: #40b59e;
}
@keyframes bullet5 {
    0%, 33.32333333333334%  { background: #40b59e; }
    33.333333333333336%, 100% { background: #47c9af; }
}
.csslider5 > #play5:checked ~ .bullets > label.num0{
    animation: bullet5 24000ms infinite -2000ms;
}
.csslider5 > #play5:checked ~ .bullets > label.num1{
    animation: bullet5 24000ms infinite 6000ms;
}
.csslider5 > #play5:checked ~ .bullets > label.num2{
    animation: bullet5 24000ms infinite 14000ms;
}

/*PLAY - PAUSE*/

/*play - pause template*/
.csslider5 > .play-pause {
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.csslider5 > .play-pause > label {
    position: absolute;
    left: -30px;
    top: -30px;  
    width: 30px;
    height: 30px;
    background: #47c9af;
    transition: 300ms background ease;
}
.csslider5 > .play-pause:hover > label {
    background: #40b59e
}
.csslider5 > .play-pause > .play:after {
    background: url(/images/icons/play.png)no-repeat center center;    
}
.csslider5 > .play-pause > .pause:after {
    background: url(/images/icons/pause.png)no-repeat center center;
}
.csslider5 > .play-pause > label:after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
}

/*play - pause moving*/
.csslider5 > #play5:checked ~ .play-pause > .pause,
.csslider5 > input:checked ~ .play-pause > .play {
    display: block;
    z-index: 5;
}
.csslider5 > #play5:checked ~ .play-pause > .play,
.csslider5 > input:checked ~ .play-pause > .pause {
    display: none;
    z-index: -1;
}
@keyframes play-pause5 {
    0%, 33.32333333333334% { opacity: 1; z-index: 5; }
    33.333333333333336%, 100%  { opacity: 0; z-index: -1; }
}
.csslider5 > #play5:checked ~ .play-pause > .pause.num0 {
    opacity: 0;
    z-index: -1;
    animation: play-pause5 24000ms infinite -2000ms;
}
.csslider5 > #play5:checked ~ .play-pause > .pause.num1 {
    opacity: 0;
    z-index: -1;
    animation: play-pause5 24000ms infinite 6000ms;
}
.csslider5 > #play5:checked ~ .play-pause > .pause.num2 {
    opacity: 0;
    z-index: -1;
    animation: play-pause5 24000ms infinite 14000ms;
}

/*MEDIA QUERIES*/
@media (max-width: 480px) {
    .csslider5 > .description, .csslider5 > .bullets {display: none;}
}