/*------- SLIDER #19 -------*/

/*COMMON*/
.csslider19 {
    position: relative;
    max-width: 830px; 
}
.csslider19 > ul {
    overflow: hidden;
    position: relative;
}
.csslider19 > input[type=radio] {
    display: none;
}
.csslider19 > ul > li:first-child {
    visibility: hidden;
}
.csslider19 > ul > li > img{
    width: 100%;
    height: 100%;
    display: block;
}
.csslider19 > ul > li:not(:first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    opacity: 0;
    z-index: 1;
    transform: rotate(180deg) scale(7);
    transition: transform 1900ms ease, opacity 1900ms ease;

}

/*SLIDESHOW*/
.csslider19 > #slide19-0:checked ~ ul > .num0,
.csslider19 > #pause19-0:checked ~ ul > .num0,
.csslider19 > #slide19-1:checked ~ ul > .num1,
.csslider19 > #pause19-1:checked ~ ul > .num1,
.csslider19 > #slide19-2:checked ~ ul > .num2,
.csslider19 > #pause19-2:checked ~ ul > .num2,
.csslider19 > #slide19-3:checked ~ ul > .num3,
.csslider19 > #pause19-3:checked ~ ul > .num3 {
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg) scale(1);
}
@keyframes rotate19 {
    0%, 38.19444444444444%, 100%  {
        opacity: 0;
        transform: rotate(180deg) scale(7);
    }
    13.194444444444445%, 25%  {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    0%, 24.999%  { z-index: 2; }
    25.001%, 100%  { z-index: 1; }
}
.csslider19 > #play19:checked ~ ul > .num0 {
    animation: rotate19 14400ms infinite -1900ms;
}
.csslider19 > #play19:checked ~ ul > .num1 {
    animation: rotate19 14400ms infinite 1700ms;
}
.csslider19 > #play19:checked ~ ul > .num2 {
    animation: rotate19 14400ms infinite 5300ms;
}
.csslider19 > #play19:checked ~ ul > .num3 {
    animation: rotate19 14400ms infinite 8900ms;
}

/*show btns*/
.csslider19 > .play-pause {
    transition: .4s all 0s ease;
}
.csslider19 > .arrowprev {
    transition: .4s all .15s ease;
}
.csslider19 > .arrownext {
    transition: .4s all .3s ease;
}
.csslider19 > .arrowprev,
.csslider19 > .arrownext,
.csslider19 > .play-pause {
    opacity: 0;
    transform: scale(2);
}
.csslider19:hover > .arrowprev,
.csslider19:hover > .arrownext,
.csslider19:hover > .play-pause {
    opacity: 1;
    transform: scale(1);
}


/*ARROWS*/

/*arrows template*/
.csslider19 > .play-pause,
.csslider19 > .arrowprev,
.csslider19 > .arrownext {
    position: absolute;
    top: 50%;
    z-index: 10;
}
.csslider19 > .arrowprev {
    left: 32px;
}
.csslider19 > .arrownext {
    right: 32px;
}
.csslider19 > .play-pause > label,
.csslider19 > .arrowprev > label,
.csslider19 > .arrownext > label {
    position: absolute;
    margin-top: -22.5px; 
    margin-left: -22.5px; 
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform .3s ease, background .3s ease;
}
.csslider19 > .arrowprev > label,
.csslider19 > .arrownext > label {
    opacity: 0;
    z-index: -1;
}
.csslider19 > .arrowprev > label {
    background: #eecd11 url(/images/icons/prev19.png)no-repeat center center;
}
.csslider19 > .arrownext > label {
    background: #eecd11 url(/images/icons/next19.png)no-repeat center center;
}
.csslider19 > .play-pause > label:hover,
.csslider19 > .arrowprev > label:hover,
.csslider19 > .arrownext > label:hover {
    transform: scale(0.9);
}
.csslider19 > .play-pause > label:before,
.csslider19 > .arrowprev > label:before,
.csslider19 > .arrownext > label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    display: block;
    transform: scale(0.9);
}
@keyframes arrowshine19 {
    0% { opacity: 0.3; }
    40% {
        opacity: 0.5;
        box-shadow: 
            0 0 0 2px rgba(255,255,255,0.1),
            0 0 10px 10px #eecd11,
            0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        opacity: 0;
        box-shadow:
            0 0 0 2px rgba(255,255,255,0.1),
            0 0 10px 10px #eecd11,
            0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
    }
}
.csslider19 > .play-pause > label:hover:before,
.csslider19 > .arrowprev > label:hover:before,
.csslider19 > .arrownext > label:hover:before {
    animation: arrowshine19 1s ease-out;
}

/*arrows moving*/
.csslider19 > #slide19-0:checked ~ .arrowprev > .num3,
.csslider19 > #pause19-0:checked ~ .arrowprev > .num3,
.csslider19 > #slide19-0:checked ~ .arrownext > .num1,
.csslider19 > #pause19-0:checked ~ .arrownext > .num1, 
.csslider19 > #slide19-1:checked ~ .arrowprev > .num0,
.csslider19 > #pause19-1:checked ~ .arrowprev > .num0,
.csslider19 > #slide19-1:checked ~ .arrownext > .num2,
.csslider19 > #pause19-1:checked ~ .arrownext > .num2, 
.csslider19 > #slide19-2:checked ~ .arrowprev > .num1,
.csslider19 > #pause19-2:checked ~ .arrowprev > .num1,
.csslider19 > #slide19-2:checked ~ .arrownext > .num3,
.csslider19 > #pause19-2:checked ~ .arrownext > .num3, 
.csslider19 > #slide19-3:checked ~ .arrowprev > .num2,
.csslider19 > #pause19-3:checked ~ .arrowprev > .num2,
.csslider19 > #slide19-3:checked ~ .arrownext > .num0,
.csslider19 > #pause19-3:checked ~ .arrownext > .num0 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrows19 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100%  { opacity: 0; z-index: -1; }
}
.csslider19 > #play19:checked ~ .arrowprev > .num3,
.csslider19 > #play19:checked ~ .arrownext > .num1 {
    animation: arrows19 14400ms infinite -1900ms;
}
.csslider19 > #play19:checked ~ .arrowprev > .num0,
.csslider19 > #play19:checked ~ .arrownext > .num2 {
    animation: arrows19 14400ms infinite 1700ms;
}
.csslider19 > #play19:checked ~ .arrowprev > .num1,
.csslider19 > #play19:checked ~ .arrownext > .num3 {
    animation: arrows19 14400ms infinite 5300ms;
}
.csslider19 > #play19:checked ~ .arrowprev > .num2,
.csslider19 > #play19:checked ~ .arrownext > .num0 {
    animation: arrows19 14400ms infinite 8900ms;
}

/*PLAY-PAUSE*/
.csslider19 > .play-pause {
    left: 50%;
}
.csslider19 > .play-pause > .play {
    background: #eecd11 url(/images/icons/play19.png)no-repeat center center;
}
.csslider19 > .play-pause > .pause {
    background: #eecd11 url(/images/icons/pause19.png)no-repeat center center;
}

/*play-pause moving*/
.csslider19 > #play19:checked ~ .play-pause > .pause,
.csslider19 > input:checked ~ .play-pause > .play{
    display: block;
    z-index: 5;
}
.csslider19 > #play19:checked ~ .play-pause > .play,
.csslider19 > input:checked ~ .play-pause > .pause{
    display: none;
    z-index: -1;
}
@keyframes play-pause19 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100%  { opacity: 0; z-index: -1; }
}
.csslider19 > #play19:checked ~ .play-pause > .pause {
    opacity: 0;
    z-index: -1;
}
.csslider19 > #play19:checked ~ .play-pause > .num0 {
    animation: play-pause19 14400ms infinite -1900ms;
}
.csslider19 > #play19:checked ~ .play-pause > .num1 {
    animation: play-pause19 14400ms infinite 1700ms;
}
.csslider19 > #play19:checked ~ .play-pause > .num2 {
    animation: play-pause19 14400ms infinite 5300ms;
}
.csslider19 > #play19:checked ~ .play-pause > .num3 {
    animation: play-pause19 14400ms infinite 8900ms;
}

/*DESCRIPTION*/

/*description template*/
.csslider19 > .description{
    z-index: 10;
}
.csslider19 > .description > label {
    position: absolute;
    max-width: 50%;
    left: 5rem;
    z-index: 3;
    bottom: 35rem;
}
.csslider19 > .description > label > * {
    font-family: Duru Sans;    
    opacity: 0;
    z-index: 1;
    transform: scale(2);
    margin: 5rem;
    padding: 10rem;
    background: rgba(238,205,17,0.6);
    color: white;
}
.csslider19 > .description > label > big {
    font-size: 18px; 
    transition:
        500ms opacity 570ms ease,
        500ms transform 570ms ease;  
}
.csslider19 > .description > label > small {
    font-size: 14px;    
    transition:
        500ms opacity 820ms ease, 
        500ms transform 820ms ease;
}
.csslider19 > #slide19-0:checked ~ .description > .num0 > big,
.csslider19 > #slide19-0:checked ~ .description > .num0 > small,
.csslider19 > #pause19-0:checked ~ .description > .num0 > big,
.csslider19 > #pause19-0:checked ~ .description > .num0 > small,
.csslider19 > #slide19-1:checked ~ .description > .num1 > big,
.csslider19 > #slide19-1:checked ~ .description > .num1 > small,
.csslider19 > #pause19-1:checked ~ .description > .num1 > big,
.csslider19 > #pause19-1:checked ~ .description > .num1 > small,
.csslider19 > #slide19-2:checked ~ .description > .num2 > big,
.csslider19 > #slide19-2:checked ~ .description > .num2 > small,
.csslider19 > #pause19-2:checked ~ .description > .num2 > big,
.csslider19 > #pause19-2:checked ~ .description > .num2 > small,
.csslider19 > #slide19-3:checked ~ .description > .num3 > big,
.csslider19 > #slide19-3:checked ~ .description > .num3 > small,
.csslider19 > #pause19-3:checked ~ .description > .num3 > big,
.csslider19 > #pause19-3:checked ~ .description > .num3 > small {
    opacity: 1;
    z-index: 4;
    transform: scale(1);
}

@keyframes description19 {
    3.4722222222222223%, 21.517777777777777%  {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
    }
    28.47222222222222%  {
        opacity: 0;
        z-index: 2;
        transform: scale(2);
    }
    28.482222222222223%, 100%  { z-index: 0; }
}
.csslider19 > #play19:checked ~ .description > .num0  > big {
    animation: description19 14400ms infinite -1330ms;
}
.csslider19 > #play19:checked ~ .description > .num1  > big {
    animation: description19 14400ms infinite 2270ms;
}
.csslider19 > #play19:checked ~ .description > .num2  > big {
    animation: description19 14400ms infinite 5870ms;
}
.csslider19 > #play19:checked ~ .description > .num3  > big {
    animation: description19 14400ms infinite 9470ms;
}
.csslider19 > #play19:checked ~ .description > .num0  > small {
    animation: description19 14400ms infinite -1080ms;
}
.csslider19 > #play19:checked ~ .description > .num1  > small {
    animation: description19 14400ms infinite 2520ms;
}
.csslider19 > #play19:checked ~ .description > .num2  > small {
    animation: description19 14400ms infinite 6120ms;
}
.csslider19 > #play19:checked ~ .description > .num3  > small {
    animation: description19 14400ms infinite 9720ms;
}

/*BULLETS*/

/*bullets template*/
.csslider19 > .bullets {
    position: absolute;
    width: 100%;
    z-index: 7;
    bottom: 18px;
}
.csslider19 > .bullets > label {
    position: relative;
    margin: 10px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #eecd11;    
}
.csslider19 > .bullets > label > figure {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: -54px;
    top: -61px;
    border: 3px solid rgba(238,205,17,.6);
    transform: scale(1.3);
    transition: all 0.3s;
}
.csslider19 > .bullets > label:hover figure {
    visibility: visible;
    opacity: 1;
    transform:scale(1);
}
.csslider19 > .bullets > label > figure:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -4px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;  
    border-top: 7px solid rgba(238,205,17,.6);
    transition: 0.3s opacity 0.1s;
}
.csslider19 > .bullets > label:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,.7);
    transition: all 0.3s;
    transform: scale(0);
    content: "";
    z-index: -1;
}

/*bullets moving*/
.csslider19 > #slide19-0:checked ~ .bullets > label.num0:after,
.csslider19 > #pause19-0:checked ~ .bullets > label.num0:after,
.csslider19 > #slide19-1:checked ~ .bullets > label.num1:after,
.csslider19 > #pause19-1:checked ~ .bullets > label.num1:after,
.csslider19 > #slide19-2:checked ~ .bullets > label.num2:after,
.csslider19 > #pause19-2:checked ~ .bullets > label.num2:after,
.csslider19 > #slide19-3:checked ~ .bullets > label.num3:after,
.csslider19 > #pause19-3:checked ~ .bullets > label.num3:after {
    transform: scale(1.5);
}
@keyframes bullet19 {
    0%, 24.99%  { transform:scale(1.5); background: rgba(255,255,255,.7);}
    25%, 100% { transform:scale(0); background: transparent;}
}
.csslider19 > #play19:checked ~ .bullets > label.num0:after {
    animation: bullet19 14400ms infinite -1900ms;
}
.csslider19 > #play19:checked ~ .bullets > label.num1:after {
    animation: bullet19 14400ms infinite 1700ms;
}
.csslider19 > #play19:checked ~ .bullets > label.num2:after {
    animation: bullet19 14400ms infinite 5300ms;
}
.csslider19 > #play19:checked ~ .bullets > label.num3:after {
    animation: bullet19 14400ms infinite 8900ms;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .csslider19 > .description, .csslider19 > .bullets {display: none;}
}