body{
    font-size: 14px;
    font-family: SegoeWP;
    font-weight: 300;
}

/*LINKS*/
.links-nav{
    margin: 4rem -12rem 0px 0px;
}
.links-nav a{
    color: #323332;    
    margin: 1px 12rem;
    padding: 0px 20rem;  
    letter-spacing: 0.015em;
}
.links-nav a, .btn-default{
    font-size: 23px;
    height: 39px;
}
.btn-default, .btn-submit, .btn-alt, .links-nav a{
    text-align: center;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus, .btn-default{
    color: white;
    background: #373737;
}
.links-social a{
    margin: 7.5rem;
}

/*BUTTONS*/
.btn-default, .btn-submit, .btn-alt{
    padding: 0px 5px;
}
.btn-default i{
    margin: 2rem 12rem 0px -4rem;
    flex-shrink: 0;
}
.btn-default{
    min-width: 204rem;
    letter-spacing: 0.02em;
    line-height: 16px;   
}
.btn-submit, .btn-alt{
    color: white;
    font-family: OptimaLT;
    font-size: 20px;
    min-width: 179rem;
    height: 33px;  
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 6px;
}
.btn-submit{    
    background: #bb4465;
}
.btn-alt{
    background: rgba(0,0,0,.1);
}
.btn-thumb{
    width: 31px;
    height: 39px;
}
.btn-thumb.prev{
    background: url(/images/icons/prev.png)no-repeat center center, rgba(50,50,50,.5);
}
.btn-thumb.next{
    background: url(/images/icons/next.png)no-repeat center center, rgba(50,50,50,.5);
}
.btn-thumb.prev.active, .btn-thumb.prev:active, .btn-thumb.prev:hover, .btn-thumb.prev:focus{
    background: url(/images/icons/prev.png)no-repeat center center, rgba(50,50,50,.64);
}
.btn-thumb.next.active, .btn-thumb.next:active, .btn-thumb.next:hover, .btn-thumb.next:focus{
    background: url(/images/icons/next.png)no-repeat center center, rgba(50,50,50,.64);
}

/*LABELS*/
.lbl-default{
    width: 131px;
    height: 131px;
    background: #ef809f;
    border: 5px solid white;
    border-radius: 50%;
    flex-direction: column;
    color: white;
}
.lbl-default strong{
    display: inline-block;
    font-family: SegoeUI;
    font-size: 72px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.02em;
}
.lbl-default small{
    font-family: SegoeUI;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
}

/*FORMS*/
input[name=input]{
    color: black;
    width: 100%;
    margin-bottom: 12px;
    max-width: 257px;
    border: none;
    outline: none;
    height: 26px;
    padding: 0px 7rem;
}
input[name=input]::-webkit-input-placeholder { color: #787878; }
input[name=input]::-moz-placeholder { color: #787878; }
input[name=input]:-ms-input-placeholder { color: #787878; }