/*COMMON*/
figure > img, a > img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    max-width: 1042px;
    padding: 0px 10px;
    width: 100%;
}
p, span, time{
    color: #848484;
    line-height: 20px;
}
.content{
    width: 100%;
}

/*HEADER*/
header{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
header > .lwrap{
    padding: 42rem 10px 29rem 54rem;
    max-width: 1098px;
}

/*BANNER*/
.banner{
    padding: 116rem 0px 32rem 22rem;
}
.banner .btn-default{
    margin: 15rem 0px 81rem 1px;
}
.banner h1{
    color: #5d5d5d;
    line-height: 59rem;
    font-size: 61rem;
    margin-bottom: 5px;
    font-weight: 300;
}
.banner h1 small{
    font-size: 47rem;
}
.banner figure{
    margin-right: -156rem;
    width: 107.5%;
}

/*SLIDER*/
.slider{
    position: relative;
    margin: 0px 0px 37rem 4rem;
}
.slider figure{
    float: left;
    width: 45.5%;
    margin: 8rem 26rem 0px 0px;
}
.slider h3{
    color: #696161;
    font-weight: 300;
    font-size: 30rem;
    line-height: 37rem;
    margin-bottom: 7rem;
}
.slider p{
    margin: 0px 16rem 5rem 0px;
}
.slider > div{
    width: 100%;
}
.slider .thumbs{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.slider article{
    padding-bottom: 45px;
}

/*POSTS*/
.posts{
    padding-bottom: 24rem;
}
.posts article{
    width: 31.7%;  
    margin-bottom: 46rem;
}
.posts article h4{
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 8rem;
    font-weight: 300;
}
.posts article h4 a{
    color: #696161;
}
.posts article a{
    color: #848484;
}
.posts article a:active, .posts article a:hover, .posts article a:focus{
    text-decoration: underline;
}
.posts article p{
    margin: 11rem 0px 0px 1rem;
    letter-spacing: 0.003em;
}
.posts article time{
    padding: 0px 8rem 0px 3rem;
}

/*SIDEBAR*/
.sidebar{
    flex-shrink: 0;
    width: 31.1%;
    margin-left: 23rem;
}
.add, .join{
    text-align: center;
}
.add{
    background: white;
    box-shadow: 0px 0px 0px 1px #e1dddd;
    margin: 8rem 0px 51rem 0px;
    padding: 15rem 10rem 0px 10rem;
}
.add h4{
    color: #9ba08d;
    font-size: 21px;
    font-family: SegoeUI;
    font-weight: 400;
    line-height: 22px;
}
.add h2{
    color: #b8dc58;
    font-size: 39px;
    font-weight: 700;
    font-family: SegoeUI;
    line-height: 42px;
}
.add figure{
    margin: 11rem 5rem -28rem 0px;
}
.join{
    background: #86e7f0;
    margin-bottom: 25px; 
    padding: 0px 10rem 12rem 10rem;
}
.join .lbl-default{
    margin: -20rem 0px 9rem 0px;
}
.join h2{
    font-family: SimploCapsDEMO;
    font-size: 46px;
    font-weight: 400;
    color: white;
    margin-bottom: 11rem;
}
.join h4{
    font-family: OptimaLT;
    font-size: 23px;
    font-weight: 500;
    color: white;
    line-height: 29px;
    margin-bottom: 3rem;
    letter-spacing: 0.01em;
}
.form-wrap form{
    width: 100%;
}
.form-wrap{
    background: #393a39;
    margin-bottom: 10px;
    border-bottom: 7px solid #bb4465;
    padding: 15rem 29rem 21rem 29rem;
}
.form-wrap h5{
    text-align: center;
    color: white;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 8rem;
}
.form-wrap p{
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15rem;
    width: 100%;
}

/*FOOTER*/
footer{
    background: #393a39;
}
footer > .lwrap{
    padding: 19rem 10px 21rem 122rem;
    max-width: 1134px;
}
footer span, footer span a{
    color: white;
    font-size: 16px;
}
footer span{
    padding-bottom: 14rem;
}
footer span a:active, footer span a:hover, footer span a:focus{
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media (max-width: 1200px) {
    .banner figure {
    margin-right: 0px;
    width: 100%;
}
}
@media (max-width: 800px) {
    .posts article{
    width: 49%;  
}
.slider h3 {
    font-size: 17px;
    line-height: 21px;
}
}
@media (max-width: 640px) {
 .add, .join{width: 49%;}
}