@font-face {
    font-family: SansusWebissimo;
    src: url('/fonts/sansus-webissimo/Sansus Webissimo-Regular.otf');
}
@font-face {
    font-family: CoffeeService;
    src: url('/fonts/CoffeeService.otf');
}