.icon-cart {width: 28px; height: 17px; background: url('/images/icons/cart.png');}
.icon-fb {width: 22px; height: 22px; background: url('/images/icons/fb.png');}
.icon-plus-sm {width: 5px; height: 5px; background: url('/images/icons/plus-sm.png');}
.icon-plus {width: 7px; height: 7px; background: url('/images/icons/plus.png');}
.icon-rss {width: 22px; height: 22px; background: url('/images/icons/rss.png');}
.icon-tw {width: 22px; height: 22px; background: url('/images/icons/tw.png');}