/* FONTS */

@font-face {
    font-family: 'LucidaGrande';
    src: local(''), url('../fonts/lucida-grande.woff') format('woff');
}
@font-face {
    font-family: 'LucidaGrande Bold';
    src: local(''), url('../fonts/lucida-grande-bold.woff') format('woff');
}

/* ICONS */

.icon-cloud {min-width: 38px; width: 38px; height: 37px; background: url('../images/icons/cloud.png');}
.icon-fb {width: 28px; height: 28px; background: url('../images/icons/fb.png');}
.icon-in {width: 28px; height: 28px; background: url('../images/icons/in.png');}
.icon-location {min-width: 37px; width: 37px; height: 36px; background: url('../images/icons/location.png');}
.icon-monitor {min-width: 37px; width: 37px; height: 36px; background: url('../images/icons/monitor.png');}
.icon-next {width: 36px; height: 35px; background: url('../images/icons/next.png');}
.icon-prev {width: 36px; height: 35px; background: url('../images/icons/prev.png');}
.icon-tw {width: 28px; height: 28px; background: url('../images/icons/tw.png');}

/* ELEMENTS */

.links-nav{
    width: 100%;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #a7a5a5, #6c6c6c);
    border-radius: 6px;
    padding: 0px 6rem;
    margin-bottom: 10px;
}
.links-nav a, .links-nav a:first-child, .links-nav a:last-child{
    height: 40px;
    font-family: LucidaGrande;
    font-size: 15px;
    font-weight: 700;
    color:  #292828;
    margin: 0px 18rem;
    padding: 0px 5rem;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color:  #ffffff;
    border-bottom: 5px solid #fff;
}
.links-social{
    justify-content: flex-end;
    padding: 14px 1px 0px 1px;
}
.links-social a,.links-social a:first-child, .links-social a:last-child{
    margin: 3rem;
}
.links-controls a{
    margin: 0px 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: radial-gradient(circle at 13px 13px, #fff, #d8d8d8);
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: radial-gradient(circle at 3px 3px, #9c9c9c, #616060);
}
.more a, .more{
    color: #848484;
    font-family: LucidaGrande;
    font-size: 14px;
}
.more a{
    text-decoration: none;
    padding-bottom: 2px;
    margin-left: 4px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #848484;
    display: inline-block;
}
.more a:active, .more a:hover, .more a:focus{
    border-bottom: 1px solid transparent;
}
.title{
    margin-bottom: 49rem;
    text-align: center;
    color: #585858;
    font-family: LucidaGrande;
    font-size: 25px;
    position: relative;
    font-weight: 300;
    letter-spacing: -0.025em;
}
.title span{
    background-color: #fff;
    padding: 0px 14px;
    position: relative;
    text-align: center;
}
.title:before{
    position: absolute;
    content: "";
    border-top: 1px solid #d3d3d3;
    width: 100%;
    left: 0px;
    top: 61%;
}
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
/* $------------------------------------------------------------------------- */
body{
    background: #f5f6f7;
}
header{
    padding-bottom: 60px;
    margin-bottom: -60px;
    min-height: 263px;
    background:  #3a3938 url("../images/highlight.png")no-repeat 0% -200px;
}
.lwrap{
    max-width: 960px;
}
header .lwrap > div{
    padding: 34rem 0px 27rem 0px;
}
.content-wrap{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 27rem 26rem 0px 27rem;
}
.slider{
    position: relative;
}
.slider figure{
    position: relative;
}
.slider figcaption{
    position: absolute;
    left: 3.5%;
    bottom: 9.1%;
    margin-right: 10px;
    background-color: rgba(0,0,0,.5);
    padding: 19rem 23rem 20rem 29rem;
}
.slider figcaption h2{
    color: white;
    font-family: LucidaGrande;
    font-size: 25rem;
    font-weight: 400;
    letter-spacing: 0.008em;
}
.slider figcaption span {
    color: #aeaeae;
    font-family: LucidaGrande;
    font-size: 19rem;
    font-weight: 300;
    letter-spacing: -0.05em;
}
.slider > a{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-173%);
}
.slider > a.prev{
    left: 1.5%;
}
.slider > a.next{
    right: 1.5%;
}
.links-controls{
    padding: 14rem 0px 42rem 0px;
}
.grid{
    max-width: 896px;
}
.grid > div{
    width: 29.5%;
    margin-bottom: 37rem;
}
.grid p{
    margin-bottom: 2px;
}
.grid p, .grid blockquote, .grid span {
    letter-spacing: -0.025em;
    line-height: 17px;
    font-family: LucidaGrande;
    font-size: 14px;
    color: #666666;
}
.grid cite{
    font-style: normal;
}
.grid h2 i{
    margin-right: 6px;
}
.grid h2 {
    color: #999;
    font-family: LucidaGrande;
    font-weight: 300;
    font-size: 24rem;
    margin-bottom: 32rem;
    letter-spacing: -0.025em;
}
.item span {
    letter-spacing: -0.022em;
}
.grid .more{
    line-height: 19px;
}
.item {
    width: 95%;
    padding: 18px 0px;
    background: url("../images/border.png") repeat-x left bottom;
}
.item:first-child{
    padding: 0px 0px 18px 0px;
}
.item:last-child{
    background: none;
    padding: 18px 0px 0px 0px;
}
footer{
    padding: 20rem;
    background-color: #3a3938;
}
footer span{
    color: white;
    font-family: LucidaGrande;
    font-size: 10px;
    letter-spacing: -0.022em;
}
@media (max-width: 640px) {
    .title:before{display: none;}
    .grid h2 {font-size: 16px;}
    .grid > div{width: 48%;}
    .grid > div:last-child{width: 100%;}
    .slider figcaption h2 {font-size: 16px;}
    .slider figcaption span {font-size: 12px;}    
}