/* FONTS */

@font-face {
    font-family: 'LucidaGrande';
    src: local(''), url('../fonts/lucida-grande.woff') format('woff');
}
@font-face {
    font-family: 'LucidaGrande Bold';
    src: local(''), url('../fonts/lucida-grande-bold.woff') format('woff');
}

/* ICONS */

.icon-cloud {min-width: 38px; width: 38px; height: 37px; background: url('../images/icons/cloud.png');}
.icon-fb {width: 28px; height: 28px; background: url('../images/icons/fb.png');}
.icon-in {width: 28px; height: 28px; background: url('../images/icons/in.png');}
.icon-location {min-width: 37px; width: 37px; height: 36px; background: url('../images/icons/location.png');}
.icon-monitor {min-width: 37px; width: 37px; height: 36px; background: url('../images/icons/monitor.png');}
.icon-next {width: 36px; height: 35px; background: url('../images/icons/next.png');}
.icon-prev {width: 36px; height: 35px; background: url('../images/icons/prev.png');}
.icon-tw {width: 28px; height: 28px; background: url('../images/icons/tw.png');}/* ELEMENTS */

.links-nav{
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #a7a5a5, #6c6c6c);
    border-radius: 6px;
    padding: 0px 24px 0px 24px;
    margin: 0px 0px 10px 0px;
}
.links-nav a{
    min-height: 40px;
    font-family: LucidaGrande;
    font-size: 15px;
    font-weight: 700;
    color:  #292828;
    margin: 0px 18px 0px 18px;
    padding: 0px 5px 0px 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color:  #ffffff;
    border-bottom: 5px solid #fff;
}
.links-social{
    padding: 15px 0px 0px 0px;
    flex-wrap: wrap;
}
.links-social a{
    margin: 3px;
}
.links-controls a{
    margin: 0px 2px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: radial-gradient(circle at 13px 13px, #fff, #d8d8d8);
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: radial-gradient(circle at 3px 3px, #9c9c9c, #616060);
}
.more a, .more{
    color: #848484;
    font-family: LucidaGrande;
    font-size: 14px;
}
.more a{
    text-decoration: none;
    padding: 0px 0px 2px 0px;
    margin: 0px 0px 0px 4px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #848484;
    display: inline-block;
}
.more a:active, .more a:hover, .more a:focus{
    border-bottom: 1px solid transparent;
}
.title{
    margin: 0px 0px 49px 0px;
    text-align: center;
    color: #585858;
    font-family: LucidaGrande;
    font-size: 25px;
    position: relative;
    font-weight: 300;
    letter-spacing: -0.035em;
}
.title span{
    background-color: #fff;
    padding: 0px 14px 0px 14px;
    position: relative;
    text-align: center;
}
.title:before{
    position: absolute;
    content: "";
    border-top: 1px solid #d3d3d3;
    width: 100%;
    left: 0px;
    top: 61%;
}
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
/* $------------------------------------------------------------------------- */
body{
    background: #f5f6f7;
}
#logo{
    margin: 0px 20px 0px -3px;
}
header{
    padding: 0px 0px 60px 0px;
    margin: 0px 0px -60px 0px;
    min-height: 263px;
    background:  #3a3938 url("../images/highlight.png")no-repeat 0% -200px;
}
.lwrap{
    padding: 0px 10px;
    max-width: 980px;
}
header .lwrap > div{
    flex-wrap: wrap;
    min-height: 148px;
    padding: 16px 4px 10px 0px;
}
.content-wrap{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 27px 26px 0px 27px;
}
.slider{
    position: relative;
}
.slider figure{
    position: relative;
}
.slider figcaption{
    position: absolute;
    left: 4%;
    bottom: 6%;
    margin: 0px 10px 0px 0px;
    background-color: rgba(0,0,0,.5);
    padding: 19px 23px 20px 29px;
}
.slider figcaption h2{
    color: white;
    font-family: LucidaGrande;
    font-size: 25px;
    font-weight: 400;
}
.slider figcaption span {
    color: #aeaeae;
    font-family: LucidaGrande;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: -0.05em;
}
.slider > a{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.slider > a.prev{
    left: 1%;
}
.slider > a.next{
    right: 1%;
}
.links-controls{
    padding: 20px 0px 40px 0px;
}
h1{
    position: relative;
    text-align: center;
    color: #585858;
    font-family: LucidaGrande;
    font-size: 25px;
    margin: 0px 0px 50px 0px;
}
h1 span{
    padding: 0px 14px;  
    background: white;    
    position: relative;
}
h1:before{
    left: 0px;
    top: 50%;
    content: "";
    width: 100%;
    position: absolute;
    border-top: 1px solid lightgrey;
}
.grid > div{
    width: 30%;
}
.item {
    padding: 0px 0px 18px 0px;
    background: url("../images/border.png") repeat-x left bottom;
    margin: 0px 5px 18px 2px;
}
footer{
    padding: 20px 20px 20px 20px;
    min-height: 52px;
background-color: #3a3938;
color: white;
font-family: LucidaGrande;
font-size: 10px;
}
