@font-face {
    font-family: 'Coffee Service';
    src: url('/fonts/CoffeeService.otf');
}
@font-face {
    font-family: 'Homestead Inline';
    src: url('/fonts/Homestead-Inline.ttf');
}
@font-face {
    font-family: 'Homestead Display';
    src: url('/fonts/Homestead-Display.ttf');
}
a{
    text-decoration: none;
}
body{
    background: url('/images/bg.png');
}
.icon-right, .icon-left{
    width: 28px;
    height: 28px;
}
.icon-rss{
    width: 16px;
    height: 16px;
    background: url('/images/icons/rss.png');
}
.icon-facebook{
    width: 20px;
    height: 20px;
    background: url('/images/icons/facebook.png');
}
.icon-twitter{
    width: 24px;
    height: 24px;
    background: url('/images/icons/twitter.png');
}
.icon-right{
    background: url('/images/icons/28x28/arrow-right.png');
}
.icon-left{
    background: url('/images/icons/28x28/arrow-left.png');
}
header, .slider-wrap, footer{
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}
.slider-wrap{
    max-width: 1064px;
    margin: auto;
    padding: 0 10px;
    margin-bottom: 42px;
}
.header{
    width: 100%;
    min-height: 124px;
     border-top: 5px solid rgba(0,0,0,.3);
}
nav:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px; 
    left: 0;
    bottom: -18px;
    z-index: -1;
    background: url('/images/shadow1.png');
}
nav {
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px solid #929292;
    border-top: 1px solid #c5c5c5;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.24), inset 0 1px 0 rgba(255,255,255,.5);
    background-image: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,.5));
}
a.btn-nav.logo{
    color: #686868;
font: 32px "Coffee Service";
text-shadow: 0 1px 1px rgba(0,0,0,.75);
}
nav a.btn-nav:first-child{
    border-left: 1px solid #b4b4b4;
}
nav a.btn-nav:last-child{
    border-right: 1px solid #b4b4b4;
}
a.btn-nav{
    height: 44px;
    width: 12.5%;
    min-width: 115px;
    color: #909090;
font: 12px "Homestead Inline";
text-shadow: 0 1px 0 #fff;
border-left: 1px solid #fff;
border-right: 1px solid #dedede;
}
a.btn-nav.active, a.btn-nav:hover{
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
background-image: linear-gradient(to top, rgba(255,255,255,.11), rgba(0,0,0,.11));
}
.slider-top, .slider-middle, .slider-bottom{
    max-width: 940px;
    padding: 12px;
border: 1px solid rgba(131,129,129,.52);
box-shadow: 0 2px 4px rgba(0,0,0,.24), inset 0 1px 0 rgba(255,255,255,.5);
}
.slider-top:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 14px; 
    left: 0;
    bottom: -15px;   
    background: url('/images/shadow2.png');
}
.slider-top{
    position: relative;
background: url('/images/bg-slider.png');
}
.slider-middle, .slider-bottom{
background-color: rgba(255,255,255,.5);
}
.slider-top img{
    width: 100%;
}
.slider-side{
    width: 52px;    
}
.slider-wrap .hdr{
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.slider-wrap .hdr span{
    margin: 0 5px;
}
.slider-wrap .hdr a, .slider-wrap .hdr span, .slider-bottom h1{
    color: #909090;
    text-align: center;
font: 14px/19px "Homestead Inline";
}
.slider-bottom h1{
    margin-bottom: 15px;
}
.slider-wrap .hdr a.active{
    color: #333;
}
.slider-bottom .grid{
      padding: 40px 20px 0px 20px;  
      background-color: rgba(255,255,255,.5);
}
.controls{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%)
}
a.btn-control.active span{
    width: 9px;
height: 9px;
border: 1px solid #fff;
background-color: #42a0a6;
box-shadow: inset 0 1px 0 rgba(255,255,255,.26);
background-image: linear-gradient(to top, rgba(0,0,0,.2), rgba(255,255,255,.2));
}
a.btn-control{
    width: 11px;
height: 11px;
border: 1px solid rgba(139,139,139,.52);
background-color: #fff;
box-shadow: 0 2px 4px rgba(0,0,0,.24), inset 0 1px 0 rgba(255,255,255,.75);
background-image: linear-gradient(to top, rgba(0,0,0,.07), rgba(255,255,255,.07));
}
.grid{
    flex-wrap: wrap;
    margin: 0 -1px;
}
.grid > div{
    position: relative;
    margin: -1px calc(1px/2) ;
}
.grid > div > img{
    width: 100%;
}
.grid > div:hover .overlay{
    display: flex;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    content: "";
    width: 100%;
height: 98.5%;
background-color: rgba(0,0,0,.75);
}
.grid article{
    max-width: 280px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.grid article h4{
    text-transform: uppercase;
    color: #656565;
font: 600 12px/21px "Arial";
}
.grid article p{
    color: #656565;
    margin: 15px 0;
font: 12px/19px "Arial";
}
.grid article span{
    color: #999;
font: italic 12px/21px "Georgia";
}
.btn-read{
   min-width: 120px;
height: 32px;
border: 1px solid #b7b7b7;
border-radius: 3px;
color: #656565;
font: 11px "Arial";
background-color: #fff;
box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.6);
background-image: linear-gradient(to top, #e7e7e7, #f7f7f7);
}
.btn-overlay{
   max-width: 168px;
   width: 100%;
   color: #000;
font: 600 12px "Homestead Display";
height: 34px;
background-color: #ffde00;
box-shadow: 0 2px 2px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.75);
background-image: linear-gradient(to top, rgba(0,0,0,.19), rgba(255,255,255,.19));
}
.btn-social{
    width: 32px;
height: 30px;
border: 1px solid #b7b7b7;
border-radius: 3px;
box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,.6);
background-image: linear-gradient(to top, #e7e7e7, #f7f7f7);
margin: 3px 0 3px 3px;
}
.footer a:hover{
    text-decoration: underline;
}
.footer a, .footer span{
    color: #9e9e9e;
font: 11px "Arial";
}
.footer{
    min-height: 80px;
     border-bottom: 5px solid rgba(0,0,0,.3);
}
@media (max-width: 950px) {
    a.btn-nav {
    width: 25%;
    border-right:none;
    border-left: none;
    background-image: linear-gradient(to top, rgba(255,255,255,.11), rgba(0,0,0,.11));
}
.slider-side {
    width: 32px;
}
.nav{
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}
.nav a.btn-nav:first-child{
    border-left:none;
}
.nav a.btn-nav:last-child{
    border-right:none;
}
}
@media (max-width: 600px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
    }
}
@media (max-width: 500px) {
    a.btn-nav {
    width: 50%;
}
.nav{
    margin: 20px 0;
}
}