@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);


/* FONTS */
@font-face {
	font-family: 'HelveticaNeueLT';
	src: local('в�є'), url('/fonts/HelveticaNeueLT.woff') format('woff');
}
@font-face {
	font-family: 'MyriadPro';
	src: local('в�є'), url('/fonts/MyriadPro-Regular.woff') format('woff');
}
/* ICONS */
.icon-arrow {width: 6px; height: 6px; background: url('/images/icons/arrow.png');}
.icon-dl {width: 25px; height: 25px; background: url('/images/icons/dl.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-fl {width: 25px; height: 25px; background: url('/images/icons/fl.png');}
.icon-in {width: 25px; height: 25px; background: url('/images/icons/in.png');}
.icon-next {width: 9px; height: 12px; background: url('/images/icons/next.png');}
.icon-prev {width: 9px; height: 12px; background: url('/images/icons/prev.png');}
.icon-search {width: 13px; height: 15px; background: url('/images/icons/search.png');}
.icon-tb {width: 25px; height: 25px; background: url('/images/icons/tb.png');}
.icon-top {width: 8px; height: 7px; background: url('/images/icons/top.png');}
.icon-twbird {width: 43px; height: 30px; background: url('/images/icons/twbird.png');}
.icon-vimeo {width: 25px; height: 25px; background: url('/images/icons/vimeo.png');}