body{
    font-size: 13px;
    font-family: Ubuntu;
}

/*LINKS*/
.links-social{
    margin-right: -3rem;
}
.links-social a{
    width: 30px;
    height: 30px;
    background: white linear-gradient(rgba(255,255,255,.05), transparent);
    box-shadow: 0 1px 2px rgba(0,0,0,.17);
    margin: 3rem;
    border-radius: 50%;
}
.links-nav{
    position: relative;
    background: white linear-gradient(rgba(255,255,255,.05), transparent);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.17);
    padding: 13rem 25rem 14rem 1rem;
    margin: 29rem 0px 30rem 0px;
}
.links-nav a{
    font-weight: 500;
    text-transform: uppercase;
    color: #636363;
    margin: 0px 25rem;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #6094b4;
}
.links-nav > div{
    width: 2rem;
    flex-shrink: 0;
    height: 23px;
    background: url("../images/nav.png");
}
.links-default{
    padding: 0rem 20rem 3rem 20rem;
    background: whitesmoke;
    border-radius: 5px;
    max-width: 500px;
    width: 30.5%;
    flex-shrink: 0;
    margin: 0px 42rem 10px 0px;
}
.links-default li{
    padding: 18px 0px 17px 0px;
    border-top: 1px solid rgba(0,0,0,.11);
}
.links-default a{
    color: #505050;
    width: 100%;
    font-weight: 700;
    font-size: 15px;   
}
.links-default li:first-child{
    border-top: none;
}
.links-default a span{
    color: #6094b4;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}

/*FORMS*/
input[name="input"], textarea{
    width: 100%;
    background-color: rgba(0,0,0,.25);    
    border: none;
    outline: none;
    color: white;
}
input[name="input"]{
    height: 35px;
    padding: 0px 10px;
    margin-bottom: 10px;
}
textarea{
    height: 140px;
    padding: 10px; 
    font-size: 13px;
}
input[name="input"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #848484;}
input[name="input"]::-moz-placeholder, textarea::-moz-placeholder {color: #848484;}
input[name="input"]:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #848484;}

/*BUTTONS*/
.btn-submit{
    min-width: 110px;
    height: 29px;
    padding: 0px 10px;
    background: #5f8197 linear-gradient(rgba(255,255,255,.05), transparent);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.22), 0px 0px 0px 3px rgba(0,0,0,.09);
    text-shadow: 0 1px 0 rgba(0,0,0,.22);
    color: white;
}
.btn-thumb{
    border-radius: 50%;
    margin: 1px;
    width: 27px;
    height: 27px;
    background: white linear-gradient(rgba(255,255,255,.05), transparent);
    border: 3px solid rgba(0,0,0,.09);
}

/*TABS*/
.tabset{
    background: whitesmoke;
    border-radius:0px 5px 5px 5px;
    padding: 0px 20rem;
    max-width: 500px;
}
.tablist a{
    margin-right: 5rem;
    min-width: 100rem;
    height: 35px;
    background: #ebebeb;
    border-radius: 5px 5px 0px 0px;
    color: #505050;
    font-weight: 700;
    font-size: 15px;
    padding: 0px 8px;
}
.tablist a.active, .tablist a:active, .tablist a:hover, .tablist a:focus{
    color: #6094b4;
}

/*CITES*/
blockquote p{
    line-height: 22px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 14px 20px 14px 20px;
    position: relative;
    color: #505050;
}
blockquote cite{
    display: block;
    color: #505050;
    font-weight: 700;
    font-style: normal;    
    padding-top: 20px;
}
blockquote:nth-child(odd) cite{
    text-align: right;
}
blockquote:nth-child(odd) p:after{
    right: 43px;
    border-left: 16px solid transparent;
}
blockquote:nth-child(even) p:after{
    left: 42px;
    border-right: 16px solid transparent;
}
blockquote p:after{
    content: "";
    position: absolute;
    bottom: -16px;
    border-top: 16px solid #ebebeb;     
}

/*LABELS*/
.lbl-default{
    width: 35px;
    height: 35px;
    background: #f2f2f2;
    border-radius: 5px;
    color: #505050;
    text-transform: uppercase;
    font-weight: 700;
    flex-shrink: 0;
}
time.lbl-default{
    width: 45px;
    height: 45px;
}
.lbl-default strong{
    font-size: 19px;
    line-height: 18px;
}
.lbl-default small{
    font-size: 10px;
    line-height: 11px;
}

/*OTHER*/
.title{
    margin-bottom: 24rem;
    padding: 13rem 0px;
    color: #505050;
    font-weight: 700;
    font-size: 22px;
    background: url("../images/border.png")repeat-x left bottom;
}
.hdr .title{
    margin-bottom: 0px;
}