.icon-add {width: 38px; height: 24px; background: url('/images/icons/add.png');}
.icon-arrow1 {width: 12px; height: 18px; background: url('/images/icons/arrow1.png');}
.icon-arrow2 {width: 11px; height: 18px; background: url('/images/icons/arrow2.png');}
.icon-ball {width: 16px; height: 16px; background: url('/images/icons/ball.png');}
.icon-banner {width: 470px; height: 62px; background: url('/images/icons/banner.png');}
.icon-blog {width: 15px; height: 16px; background: url('/images/icons/blog.png');}
.icon-cam {width: 66px; height: 56px; background: url('/images/icons/cam.png');}
.icon-camera {width: 16px; height: 13px; background: url('/images/icons/camera.png');}
.icon-clock {width: 12px; height: 12px; background: url('/images/icons/clock.png');}
.icon-fb-like {width: 145px; height: 24px; background: url('/images/icons/fb-like.png');}
.icon-fb {width: 16px; height: 16px; background: url('/images/icons/fb.png');}
.icon-ff {width: 16px; height: 16px; background: url('/images/icons/ff.png');}
.icon-mail {width: 16px; height: 16px; background: url('/images/icons/mail.png');}
.icon-print {width: 16px; height: 15px; background: url('/images/icons/print.png');}
.icon-ps {width: 32px; height: 22px; background: url('/images/icons/ps.png');}
.icon-rss {width: 16px; height: 16px; background: url('/images/icons/rss.png');}
.icon-sinema {width: 19px; height: 16px; background: url('/images/icons/sinema.png');}
.icon-star {width: 14px; height: 13px; background: url('/images/icons/star.png');}
.icon-tw {width: 16px; height: 16px; background: url('/images/icons/tw.png');}
.icon-users {width: 22px; height: 15px; background: url('/images/icons/users.png');}
.icon-video {width: 14px; height: 16px; background: url('/images/icons/video.png');}
.icon-zoom {width: 17px; height: 17px; background: url('/images/icons/zoom.png');}
.icon-arrow3 {width: 6px; height: 5px; background: url('/images/icons/arrow3.png');}