a.btn-default{
    min-width: 70px;
    min-height: 25px;
    padding: 2px 5px;
    background-image: linear-gradient(to top, #dedede 0%, #eee 100%);
    border-radius: 3px;
    box-shadow: 0px -1px 0px 0px rgba(139, 139, 139, 0.1);
    color: #959595;
    border: 1px solid #bebebe;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    line-height: 12px;
}
.btn-submit{
    min-width: 125px;
    min-height: 32px;
    background-color: #ea4e37;
    border-radius: 3px;
    padding: 2px 5px;
    text-shadow: 0 1px 0 #6d0e00;
    color: white;
    font-family: HelveticaNeueLTStd;
    font-size: 12px;
    line-height: 16px;
}
input[type="text"], textarea{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 12px;
    color: #333;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    max-width: 291px;
    margin: 0px 0px 14px 0px;
    border: none;
}
textarea{
    height: 108px;
    padding: 11px;
}
input[type="text"]{
    height: 33px;
    padding: 0px 11px;
}
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 12px;
    color: #959595;
}
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 12px;
    color: #959595;
}
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder{
    font-family: HelveticaNeueLTStd-Bd;
    font-size: 12px;
    color: #959595;
}