@font-face {
    font-family: "BebasNeue";
    src: url(/fonts/bebas/BebasNeueBold.otf);
}
@font-face {
    font-family: "HelveticaNeue";
    src: url(/fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: "MyriadPro";
    src: url(/fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf);
}
.icon-f{
    background: url("/images/f.png");
    width: 12px;
    height: 12px;
    margin-right: 4px;
}
.icon-t{
    background: url("/images/t.png");
    width: 13px;
    height: 10px;
    margin-right: 1px;
}
a{
    text-decoration: none;
}
header .logo{
    font: 44px "MyriadPro";
    letter-spacing: -1px;
}
.logo{
    height: 44px;
    font: 30px "MyriadPro";
    color: #231f20;
    padding: 0 0 0px 41px;
    background: url("/images/logo.png") no-repeat left center;
    display: inline-flex;
    align-items: center;
}
header{   
    background-color: #f8f9fa;
    border-bottom: #e6e7e7;
}
.header{
    max-width:980px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
    padding: 0px 10px;
}
nav a{
    color: #262123;
    font: 600 16px "Arial";
    text-shadow: 0 1px 0 rgba(255,255,255,.44);
    min-width: 71px;
    margin:5px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    padding: 0 3px;
    align-items: center;
    height: 29px;
}
nav a.active, nav a:hover{
    background-color: #c8c6c6;
}
nav a.sign{
    color: #2864b1;
    border-left:1px solid #adaeae;
    border-radius: 0px;
    height: 35px;
    margin: 5px 0px 5px 5px;
    padding: 0 0 0 3px;
}
nav a.sign:hover{
    text-decoration: underline;
    background-color: transparent;
}
.top-info-wrap{
    min-height: 427px;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid #cfcfcf;
    background-image: url("/images/bg1.png");
    padding-bottom: 100px;
}
.top-info-wrap h1{
    color: #362f2d;
    font: 70px "BebasNeue";
    text-shadow: -1px 1px 0 #fff;
    text-align: center;
    margin: 12px 0px 2px 0px;
}
.top-info-wrap h1 ~ p{
    color: #362f2d;
    font: 16px/20px "Arial";
    text-align: center;
}
.top-info-wrap h1 ~ p a{
    color: #157fc6;
}
.top-info-wrap h1 ~ p a:hover{
    text-decoration: underline;
}
.top-info{
    margin: auto;
    max-width: 934px;
    margin-bottom: 20px;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}
.figure-wrap{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 934px;
    margin-top: -134px;
    padding: 0 10px;
    position: relative;
    z-index: 0;
}
figure{
    max-width:280px;
}
.figure-wrapper{   
    background-image: url("/images/stamp.png");
    background-size: 100%;
    position: relative;  
    z-index: 1;
    max-width: 278px;
    display: flex;
    padding: 13px;
}
.figure-wrapper img{
    width: 100%;   
}
figcaption{
    padding: 10px;
}
figure > div{
    position: relative;
}
figure > div:after{
    content: "";
    position: absolute;
    width: 280px;
    height: 356px;
    background-image: url("/images/shadow.png");
    bottom: -10px;
    left: -10px;
    z-index: 0;
}
figcaption h2{
    color: #2763b1;
    font: 20px "Nothing You Could Do";
    margin-bottom: 10px;
}
figcaption p a:hover{
    text-decoration: underline;
}
figcaption p, figcaption p a{
    color: #454545;
    font: 12px/18px "Arial";
    padding-bottom: 10px;
}
.account{
    background-color: #f4f4f4;
    width: 53%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
}
.account-wrap > form{  
    position:relative;
    background-color: #fbfbfb;
    width: 47%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 55px;
}
.form{
    height: 37px;
    border: 1px solid #cfcece;
    border-right: none;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
}
.btn-form{
    padding: 2px 5px;    
    height: 36px;
    border: 1px solid #aa7818;
    border-radius: 5px;
    box-shadow: inset 0 1px 0 #ffe300;
    background: linear-gradient(to top, #ff8300, #ffc100);
    color: #121110;
    font: 600 14px/12px "HelveticaNeue";
    text-shadow: 0 1px 0 rgba(255,255,255,.44);
}
.form input{
    width: 64%;
    height: 100%;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: #ccc;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
}
.account p{
    color: #362f2d;
    font: 600 24px "Arial";
    text-shadow: -1px 1px 0 #fff;
    letter-spacing: -1.3px;
}
.account span{
    color: #7f7e7e;
    font: 30px "BebasNeue";
    padding-left: 5px;
}
.account p a{
    color: #2864b1;
}
.account p a:hover{
    text-decoration: underline;
}
.account-wrap > form:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    z-index: 1;
    border-left: 50px solid #f4f4f4;
    border-top: 38px solid transparent;
    border-bottom: 38px solid transparent;
}
.account-wrap{
    margin: 46px 0 30px 0px;
    display: flex;
    justify-content: space-between;
    min-height: 77px;
    border: 1px solid #dedede;
    border-radius: 1px;
}
.reasons-wrap{
    background-image: url("/images/bg2.png");
    border-bottom: 1px solid #434647;
    border-top: 1px solid #93999b;
}
.reasons{
    margin: 0 auto;
    max-width: 934px;
    padding: 32px 10px 20px 10px;
}
.reasons h1{
    color: #362f2d;
    font: 60px/50px "BebasNeue";
    text-shadow: -1px 1px 0 #b7b5b5;
    text-align:center;
    max-width: 650px;
    margin: auto;
    padding-bottom: 30px;
}
.reasons-box{
    display: flex;
    align-items: flex-start;
}
.reasons-box > div{
    width: 55%;
}
.reasons-box img{
    width: 100%;
}
.reasons-box > div:last-child{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 50px;
}
.reasons-box article{
    width: 48%;
}
.reasons-box > div:first-child{
    position:relative;
    z-index: 1;
}
/*.reasons-box > div:first-child:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 176px;
    z-index: -1;
    background-image: url("/images/shadowscreen.png");
    bottom: -30px;
    left: -5px;
}*/
.reasons-box article p{
    color: #101010;
    font: 12px/14px "Arial";
    padding: 0 0px 20px 0;
}
.reasons-box article p a{
    color: #6dcff6;
}
.reasons-box article p.go{
    position:relative;
    margin-bottom: 15px;
    display: inline-flex;
}
.reasons .form input{
    width: 66%;
}
.reasons button{
    margin-top: -1px;
}
.reasons .btn-form{
    padding: 0 10px;
    height: 37px;
}
.go:after{
    content: "";
    position: absolute;
    width: 24px;
    height: 36px;
    background-image: url("/images/arrow.png");
    bottom: -15px;
    right: -15px;
}
.reasons h3{
    color: #fff;
    font: 36px/28px "BebasNeue";
    margin-bottom: 10px;
}
.reasons blockquote{
    padding: 58px 0 0 0;
    color: #fff;
    font: 36px "BebasNeue";
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reasons blockquote cite{
    color: #fff;
    font:italic 13px "Arial";
}

.started-wrap{
    background-image: url("/images/bg1.png");
}
.started{
    margin: 0 auto;
    max-width: 934px;
    padding: 57px 10px 25px 10px;

}
.started h1{
    color: #362f2d;
    font: 60px/60px "BebasNeue";
    text-shadow: -1px 1px 0 #fff;
    text-align: center;
}
.started h1 ~ p{
    color: #362f2d;
    font: 18px "Arial";
    text-align: center;
    margin-bottom: 30px;
}
table{
    width: 100%;
    max-width: 670px;
    margin: auto;
    position: relative;
    z-index: 2;
    margin-bottom: 90px; 
}
/*table:after{
    content: "";
    position: absolute;
    width: 700px;
    height: 156px;
    background-image: url("/images/shadowtbl.png");
    bottom: -20px;
    z-index: -1;
}*/
tbody tr{
    border: 6px solid #fff;
    background-color: #eaf1fb;
    margin-bottom: 10px;
    /*box-shadow: 0px 0px 6px 0px rgba(0,0,0,.34);*/
    position: relative;
}
td{
    width: 45%;
    padding: 15px;
}
td:first-child{
    width: 25%;
    padding: 0 10px 0px 15px;
}
td:last-child{
    width: 30%;
    padding: 15px;
}
.divider, .divider td{
    height: 10px;
    border:none;
    padding: 0;
    background-color: transparent;
}
td ul li{
    font: 12px "Arial";
    color: #242424;
    display: flex;
}
td ul li span{
    padding-right: 5px;
}
td:last-child div{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
}
.bold{
    font-weight: bold;
}
.price{
    color: #6599cb;
    font: 36px/30px "BebasNeue";
    padding-right: 15px;
}
tr:last-child .price{
    display: inline-flex;
    flex-direction: column;
    font: 30px/30px "BebasNeue";
}
tr:last-child small{
    font: 20px/20px "BebasNeue";
}
td ul li.bold{
    font: 600 12px "Arial";
}
th:first-child{
    background-color: #f5f4f4;
    border-left: 6px solid #f5f4f4;
}
table .btn-form{
    padding: 0 13px;
}
th{
    background-color: #edeaea;
    font: 600 14px "Arial";
    color: #242424;
    height: 32px;
    vertical-align: middle;
}
th:last-child{
    border-right: 6px solid #e3e3e3;
    background-color: #e3e3e3;
}
tr:first-child td:first-child, tr:first-child td:last-child{
    background-color: #eaf2fb;
}
tbody tr td{
    background-color: #cfdded;
    vertical-align: middle;
}
tbody tr td:last-child{
    text-align: right;
}
tbody tr:first-child td{
    background-color: #dce5f1;
}
tr:last-child td:first-child, tr:last-child td:last-child{
    background-color: #d6e5f5;
}
.social{
    display: flex;
    justify-content: flex-end;
}
.social a, .like-counter{
    border-radius: 2px;
    font: 12px "Arial";
    height: 20px;
    padding: 0 5px;
    display: inline-flex;
    align-items: center; 
    position: relative;
}
.facebook{
    border: 1px solid #bcc6d9;
    color: #375595;    
}
.facebook + .like-counter{
    border: 1px solid #b6b6b6;
    color: #303030; 
    margin-left: 6px;
    border-radius: 0px;
}
.facebook + .like-counter:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 3px;
    left: -4px;
    top: 6px;
    background-image: url("/images/fcounter.png");
}
.twitter + .like-counter:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 7px;
    left: -5px;
    top: 5px;
    background-image: url("/images/tcounter.png");
}
.twitter{
    border: 1px solid #9dc2dc;
    color: #1a5f82; 
    font-weight: bold;
    margin-left: 15px;
}
.twitter + .like-counter{
    border: 1px solid #bfd1df;
    color: #296787;
    font-weight: bold;  
    margin-left: 8px;
}
footer{
    background-image: url("/images/bg3.png");
    border-top: 1px solid #cbcbcb;
}
.footer .btn-form{
    padding: 0 15px;
}
.footer{
    margin: auto;
    max-width: 960px;
    padding: 40px 10px 0px 10px;
    display: flex;
}
.footer-form{
    width: 50%;
    margin-right: 10px;
}
.footer-form form {
    display: flex;
}
.footer-form form > div{
    display: flex;
    width: 45%;
    flex-direction: column;
}
.footer-form form > div:last-child{
    
    align-items: flex-end;
    width: 48%;
}
.footer-form form > div:first-child{
    margin-right: 10px;
}
.footer h5{
    color: #555;
    font: 18px "BebasNeue";
    margin-bottom: 15px;
}
.footer input, .footer textarea{
    max-width: 212px;
    width: 100%;
    height: 38px;
    padding: 0px 10px;
    margin-bottom: 14px;
    border: 1px solid #cfcece;
    border-radius: 5px;
    color: #8e8c8c;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 1px 2px rgba(29,29,29,.33), -1px 1px 0px 0px  #fff;
}
.footer textarea{
    height: 142px;
    padding: 10px;
}
.contacts span:after {
    content: '\A';
    white-space: pre;
}
.contacts span {
    color: #555;
    font: 12px "Arial";
}
.contacts{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.contacts > div:first-child{
    margin-right: 5px;
}
.map-wrap{
    background: #fff;
    width: 100%;
    max-width: 281px;
    height: 229px;
    box-shadow: 0 0 5px rgba(0,0,0,.24);
    position: relative;
    z-index: 2;
    padding: 10px;
}
.map-wrap iframe{
    width: 100%;
    height: 100%;
}
/*.map-wrap:after{
    content: "";
    position: absolute;
    width: 280px;
    height: 156px;
    background-image: url("/images/shadowmap.png");
    bottom: -20px;
    left: 0;
    z-index: -1;
}*/
.footer-bottom{
    margin: auto;
    max-width: 960px;
    padding: 60px 10px 90px 10px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom > div:first-child a{
    color: #545454;
    font: 600 12px "Arial";
    margin-right: 25px;
    padding: 15px 0;
    display: inline-flex;
}
.footer-bottom > div:first-child a:hover{
    text-decoration: underline;
}
.footer-bottom .logo ~ span{
    color: #555;
    font: 600 12px "Arial";
    padding-left: 20px;
}
.footer-bottom > div:last-child{
   text-align: right      
}
.footer-bottom .logo{
    margin-bottom: 5px;
}

@media screen and (max-width: 840px) {
   .form input {
    font-size: 13px;
} 
}
@media screen and (max-width: 780px) {
    .account p {
    font: 600 20px "Arial";
}
.reasons-box > div:last-child {
    padding-left: 20px;
}
.footer-form {
    margin-right: 0px;
}
   .top-info-wrap h1 {
    font: 50px "BebasNeue";
}
.form input {
    font-size: 12px;
} 
}
@media screen and (max-width: 720px) {
    .header{
        flex-direction: column;
        min-height: 117px;
        justify-content: space-around;
        padding: 10px;
    }
}
@media screen and (max-width: 650px) {
    .account p {
    font: 600 16px "Arial";
    letter-spacing: -0.5px;
}
.account {
    width:45%;
    padding: 0px 0px 0px 10px;
}
.account-wrap > form {
    padding: 0px 10px 0px 55px;
    width: 55%;
}
.figure-wrap{
    flex-direction: column;
    align-items: center;
}
figure > div{   
    max-width: 278px;
}
figure {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reasons-box {
    flex-direction: column;
    align-items: center;
}
.reasons-box > div, .reasons-box > div:last-child {
    width: 100%;
}
.reasons-box > div:first-child {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.reasons-box > div:last-child {
    padding-left: 0px;
}
.reasons blockquote {
    padding: 20px 0px 0px;
    font: 26px "BebasNeue";
}
.reasons-box form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.started h1 ~ p {
    font: 16px "Arial";
}
.reasons h1, .started h1 {
    font: 40px/40px "BebasNeue";
}
table .logo {
    font: 22px "MyriadPro";
}
.footer {
    flex-direction: column;
}
.footer-form {
    width: 100%;
    margin-bottom: 20px;
}
.footer-form form {
    justify-content: space-between;
}
.footer-form form > div:first-child {
    margin-right: 0px;
}
.footer-form form > div,.footer-form form > div:last-child {
    width: 49%;
}
.contacts {
    width: 100%;
}
.footer input, .footer textarea {
    max-width: 350px;
}
.footer-bottom{
    flex-direction: column;
}
.map-wrap {
    max-width: 400px;
}
.footer-bottom > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom {
    padding: 50px 10px;
}
}
@media screen and (max-width: 530px) {
    .top-info-wrap h1 {
    font: 40px "BebasNeue";
}
.account-wrap{
    margin: 20px 0;
    flex-direction: column;
}
.account, .account-wrap > form{
    width: 100%;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}
.account span {
    padding: 0 10px;
}
.account-wrap > form::after {
    display: none;
}
table .logo {
    font: 16px "MyriadPro";
}
td, td:last-child, td:first-child {
    padding: 5px;
}
tr:last-child .price, .price{
    font: 20px/20px "BebasNeue";
    padding-right: 5px;
}
table .btn-form {
    padding: 0px 3px;
}
.figure-wrap{
    margin-top: -110px;
}
.form input {
    font-size: 14px;
} 
}
@media screen and (max-width: 380px) {
    table .logo {
    font: 14px "MyriadPro";
}
tr:last-child .price, .price{
    font: 14px/14px "BebasNeue";
}
td ul li.bold, td ul li {
    font: 600 11px "Arial";
}
.footer-form form, .contacts {
    flex-direction: column;
}
.map-wrap{
    margin-top: 20px;
}
.footer-form form > div,.footer-form form > div:last-child {
    width: 100%;
}
.form input {
    font-size: 13px;
} 
table{
    margin-bottom: 40px; 
}
.started {
    padding: 20px 10px;
}
.footer-bottom {
    padding: 40px 10px;
}
.map-wrap {
    max-width: 360px;
}
}