@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/BebasRegular/BebasRegular.ttf');
}
@font-face {
    font-family: 'Bebas Bold';
    src: url('../fonts/Bebas/BebasBold/BebasBold.ttf');
}
@font-face {
    font-family: 'Helvetica Condensed';
    src: url('../fonts/Helvetica CondensedBold.ttf');
}
@font-face {
    font-family: 'Arial Narrow Bold';
    src: url('../fonts/Arial Narrow Bold.ttf');
}
figure img{
    width: 100%;
}
a{
    text-decoration: none;
}
.icon-next, .icon-prev{
    width: 9px;
    height: 17px;
}
.icon-can, .icon-usa{
    width: 20px;
    height: 11px;
}
.icon-fb, .icon-in, .icon-mail, .icon-tw{
    width: 32px;
    height: 32px;
}
.icon-next{background: url('../images/icons/9x17/next.png');}
.icon-prev{background: url('../images/icons/9x17/prev.png');}
.icon-can{background: url('../images/icons/20x11/can.png');}
.icon-usa{background: url('../images/icons/20x11/usa.png');}
.icon-fb{background: url('../images/icons/32x32/fb.png');}
.icon-in{background: url('../images/icons/32x32/in.png');}
.icon-mail{background: url('../images/icons/32x32/mail.png');}
.icon-tw{background: url('../images/icons/32x32/tw.png');}
.icon-cloud{
    width: 30px;
    height: 22px;
    background: url('../images/icons/cloud.png');
}
.icon-pack{
    width: 41px;
    height: 36px;
    background: url('../images/icons/pack.png');
}
.icon-phone{
    width: 20px;
    height: 22px;
    background: url('../images/icons/phone.png');
}
.icon-secured{
    width: 56px;
    height: 55px;
    background: url('../images/icons/secured.png');
}
.icon-select{
    width: 8px;
    height: 4px;
    background: url('../images/icons/select.png');
}
.top-bar a:hover, .sidebar form ul li a:hover, .footer a:hover, .grid a:hover, .pagination a:hover, .slider h4 a:hover{
    text-decoration: underline;
}
header{
    position:  relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}
.top-bar{    
    background-image: linear-gradient(to top, #3e0902 0%, #0e0200 100%);
    border-bottom: 1px solid #ff9594;
}
.header{   
    background-image: linear-gradient(to top, #ca2a29 0%, #ce2a27 50%, #d76166 51%, #dd767a 100%);
}
.top-bar .lwrap{
    flex-wrap: wrap;
    padding: 2px 9px 2px 10px;
}
.header .lwrap{
    padding: 5px 8px 4px 7px;
    background: url('../images/header-bg.png')no-repeat center bottom;
}
.checkout{
    margin: 11px 2px 2px 12px;
}
.lwrap{
    max-width: 980px;
    padding: 0px 10px;
}
.contacts a, .contacts span{
    color: #fff;
    font: 700 13px "Arial";
    margin: 2px 17px 2px 20px;
}
.top-bar a i, .top-bar span i{
    margin: 0px 7px 0px 0px;
}
.contacts {
    flex-wrap: wrap;
}
.contacts .country{
    margin: 1px 0px 1px 13px;
}
.contacts .country i{
    margin: 0;
}
.top-nav{
    flex-wrap: wrap;
}
.top-nav a{
    font: 13px "Arial";
    color: silver;
}
.top-nav span{
    font: 30px/10px "Arial";
    color: silver;
    padding: 0px 10px 10px 10px;
}
.nav{
    border-top: 1px solid #fa8749;
    background-image: linear-gradient(to top, #120000 0%, #5f0d02 4%, #a81704 99%, #fa8749 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}
.nav .lwrap{
    padding: 5px 19px 6px 14px;
    flex-wrap: wrap;
}
a.btn-nav.active, a.btn-nav:hover{
    background-image: linear-gradient(to top, #700000 0%, #cb0000 50%, #ec2f2f 50%, #ff6363 100%);
    border-top: 1px solid #ffab63; 
}
a.btn-nav{
    color: #fff;
    font: 15px "Arial Narrow Bold";
    text-transform: uppercase;
    min-height: 28px;
    min-width: 74px;
    padding: 2px 5px;
    margin: 2px 10px;
    border-radius: 3px;
    letter-spacing: 0.04em;
    border-top: 1px solid transparent;
}
.logo{
    text-shadow: 2.5px 4.3px 4.8px rgba(131, 13, 2, 0.5);
    color: white;
    font: 57px/44px "Bebas Bold";
    text-transform: uppercase;
    margin: 1px 5px 0px 43px;
    letter-spacing: 0.03em;
}
.search input{
    width: 250px;
    height: 31px;
    color: #3a3a3a;
    font-family: "Arial";
    font-size: 13px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    background-image: linear-gradient(to top, white 0%, white 50%, #efeeeb 51%, #c2bfb5 100%);
}
.btn-search{
    min-width: 42px;
    min-height: 31px;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to top, #8d1313 0%, #710c0c 24%, #7c1919 50%, #913b3b 50%, #b16c6c 100%);
}
.search input::-webkit-input-placeholder{
    color: #3a3a3a;
    font-family: "Arial";
    font-size: 13px;
}
.search input::-moz-placeholder{
    color: #3a3a3a;
    font-family: "Arial";
    font-size: 13px;
}
.search input:-ms-input-placeholder{
    color: #3a3a3a;
    font-family: "Arial";
    font-size: 13px; 
}
.checkout span{
    color: #fff;
    font: 20px/30px "Arial";
}
a.btn-check{
    color: #ffc200;
    font: 700 15px "Arial";
    padding: 2px 5px;
    min-width: 114px;
    min-height: 15px;
    border-radius: 15px;
    margin: 9px 15px 0px 0px;
    background-color: #b20e00;
    box-shadow: 0px 1px 0px 0px #d98780, 0px -1px 0px 0px #3d0500;
}
.wrap{
    padding: 24px 10px 0px 10px;
    background-image: linear-gradient(to top, white 0%, #fffefe 90%, #aca89a 100%);
}
.wrap .lwrap{
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    position: relative;
    max-width: 961px;
}
.wrap .lwrap:after{
    content: "";
    display: block;
    height: 14px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -14px;
    left: 0px;
}
.banner{
    border-radius: 20px 20px 0px 0px;
    align-items: stretch;
    min-height: 303px;
    background: url('../images/banner.png')no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px 0px 0px 1px;
}
.banner > div:first-child{
    padding: 42px 9px 0px 0px;
}
.banner > div{
    padding: 0px 0px 0px 22px;
}
.banner .title{
    position: absolute;
    width: 100%;
    min-height: 52px;
    opacity: 0.8;
    background-color: #000;
    bottom: 0px;
    left: 0px;
    padding: 5px 5px 5px 33px;
}
.banner .title p{
    color: #fff;
    font: 13px/16px "Arial";
    letter-spacing: -0.007em;
}
.banner h3{
    font: 700 25px "Arial";
    text-transform: uppercase;
    color: #ffc600;
    padding: 0px 34px 1px 0px; 
}
.pens{
    margin: 12px 0px 0px 46px;
}
.sale{
    margin: -5px 0px 0px -30px;
}
.bottles{
    margin: 0px 0px 2px 0px;
}
.content-wrap{
    padding: 28px 0px 2px 0px;
}
.content{
    width: 77%;
    padding: 0px 0px 0px 18px;
}
.sidebar{
    width: 23%;
    padding: 0px 7px 0px 0px;
}
.categories{
    margin: 0px 0px 13px 0px;
}
.categories h4{
    color: #fff;
    font: 700 15px "Arial";
    min-height: 30px;
    padding: 0px 2px 1px 8px;
    border-radius: 10px 10px 0px 0px;
    letter-spacing: 0.005em;
    background-image: linear-gradient(to top, white 0%, white 3%, #ca2a29 5%, #ce2a27 50%, #d76166 51%, #dd767a 100%);
}
.categories ul{
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #f3dc94;
    padding: 13px 5px 16px 5px;
    background-color: #ffeeb7;
}
.categories li{
    line-height: 29px;
    padding: 0px 0px 0px 34px;
    border-bottom: 1px solid #fff;
}
.categories ul li:last-child{
    border-bottom: none;
}
.categories li a{
    color: #434343;
    font: 700 12px "Arial";
    letter-spacing:  0.01em;
}
.categories li a:hover{
    color: #b20e00;
}
.sidebar form{
    background-color: #f5f5f2;
    border: 1px solid #e8e8e3;
    border-radius: 8px;
    padding: 11px 7px 4px 7px;
    margin: 0px 0px 21px 0px;
}
.sidebar form label{
    color: #434343;
    font: 15px/18px "Arial";
    padding: 1px 16px 2px 14px;
    letter-spacing: 0.01em;
}
.sidebar form ul{
    padding: 11px 0px 0px 0px;
}
.sidebar form ul li{
    padding: 6px 6px 6px 10px;
    border-top: 1px solid #fff;
    margin: 2px 0px 0px 0px;
}
.sidebar form ul li a{
    color: #434343;
    font: 13px/17px "Arial";
}
.sidebar form ul li a i{
    min-width: 32px;
    margin: 0px 28px 0px 0px;
}
.sidebar form input{
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #fff;
    margin: 10px 8px 7px 8px;
    padding: 0px 10px;
    height: 27px;
}
a.btn-join{
    border-radius: 5px;
    min-width: 88px;
    min-height: 25px;
    padding: 2px 5px 2px 5px;
    color: #fff;
    font: 700 15px "Arial";
    background-image: linear-gradient(to top, #700000 0%, #cb0000 50%, #ec2f2f 50%, #ff6363 100%);
}
.payment{
    padding: 2px 0px 0px 9px;
}
.payment a{
    margin: 10px 0px 0px 0px;
}
.payment a:last-child{
    margin: 7px 0px 0px 7px;
}
.sort{
    flex-wrap: wrap;
    margin: -2px 0px 20px 0px;
}
.sort > *{
    flex-wrap: wrap;
}
.sort span, .sort a, .sort label, .select select{
    color: #747474;
    font: 12px "Arial";
}
.sort label{
    padding: 0px 7px 1px 2px;
}
.pages span{
    padding: 0px 3px 1px 9px;
}
.pages span:first-child{
    padding: 0px 9px 0px 0px;
}
.sort a.active, .sort a:hover{
    color: #b20e00;
}
.select:after{
    width: 19px;
    height: 19px;
    background-image: url('../images/icons/select.png'), linear-gradient(to top, #0e0e0e 0%, #7d7e7d 99%, #7d7e7d 100%);
    background-repeat: no-repeat;
    background-position: center center;
    margin: -1px 0px 0px 0px;
}
.select{
    margin: 2px 11px 2px 0px;
}
.select select{
    width: 109px;
    height: 19px;
    border: 1px solid #ccc;
}
.grid{
    margin: 8px -6px 0px -3px;
}
.grid > div{
    margin: 5px 5px 36px 5px;
}
.grid h4{
    font: 700 15px "Arial";
    margin: 6px 0px 1px 0px;
}
.grid h4 a{
    color: #292929;
}
.grid span{
    font: 13px "Arial";
    color: #292929;
}
.grid span small{
    color: #b20e00;
}
h2.hdr{
    color: #292929;
    font: 700 20px "Arial Narrow Bold";
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
}
.pagination{
    padding: 5px 0px 5px 18px;
    margin: 0px 0px 16px 0px;
    border-bottom: 1px solid #cdcdc8;
}
.pagination a{
    color: #b20e00;
    font: 12px "Arial";
    margin: 2px 9px 2px 4px;
}
.pagination .btn{
    width: 20px;
    height: 20px;
    margin: 0px;
}
.pagination .btn.active, .pagination .btn:hover{
    color: #fff;
    background-color: #b20e00;
    text-decoration: none;
}
.slider-wrap{
    padding: 0px 8px 0px 10px;
}
.slider{
    margin: 13px 0px 0px 0px;
    padding: 9px 38px 2px 32px;
    position: relative;
    min-height: 182px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #efefef 0%, white 25%, white 100%);
    border: 1px solid silver;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), inset 0 0 0 2px white;
}
.slider > div{
    max-width: 200px;
    padding: 10px 10px 10px 10px;
}
.slider h4{
    text-align: center;
    font: 12px "Arial";
    margin: 11px 12px 0px 12px;
    letter-spacing: -0.01em;
}
.slider h4 a{
    color: #b20e00;
}
.btn-slide{
    width: 35px;
    height: 35px;
    background-image: linear-gradient(to left, silver 0%, #7d7e7d 99%, #7d7e7d 100%);
}
.btn-slide:after{
    content: "";
    position: absolute;
    bottom: -8px;
}
.slider .btn-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-77%);
}
.btn-slide:first-child{
    left: -8px;
    border-radius: 5px 5px 5px 0px;
}
.btn-slide:last-child{
    right: -8px;
    border-radius: 5px 5px 0px 5px;
}
.btn-slide:first-child:after{
    border-top: 9px solid #151515;
    border-left: 8px solid transparent;
    left: 0px;
}
.btn-slide:last-child:after{
    border-top: 9px solid #151515;
    border-right: 8px solid transparent;
    right: 0px;
}
.security {
    margin: 14px 0px 0px 0px;
    background-image: linear-gradient(to top, #f33f3f 0%, #f33f3f 1%, #3e0902 3%, #0e0200 100%);
}
.security .lwrap{
    padding: 3px 9px 4px 20px;
}
.security div > span{
    color: #fff;
    font: 700 14px "Arial";
    letter-spacing: -0.012em;
    padding: 0px 20px 0px 0px;
}
.footer{
    background-image: linear-gradient(to top, #5f0d02 0%, #a81704 100%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.28);
}
.footer .lwrap{
    flex-wrap: wrap;
    padding: 25px 9px 32px 27px;
}
.footer h5{
    color: #fff;
    font: 700 15px "Arial";
    margin: 0px 0px 22px 0px;
}
.footer li{
    color: #cfcfcf;
    font: 14px/20px "Arial";
    letter-spacing: -0.045em;
}
.footer li a{
    color: #cfcfcf;
    font: 14px "Arial";
    letter-spacing: -0.03em;
}
.footer span{
    padding: 20px 0px 0px 0px;
    color: #fff;
    font: 14px/20px "Arial";
    display: inline-block;
    letter-spacing: -0.04em;
}
.footer li a.mail{
    color: #fc0;
}
.footer .lwrap > div{
    max-width: 178px;
    min-width: 148px;
    margin: 5px 5px 5px 5px;
}
.footer .lwrap > div:last-child{
    margin: 5px 5px 5px 5px;
}
.security i{
    margin: 0px 5px 0px 0px;
}
footer .search input{
    width: 250px;
}
@media (max-width: 950px) {
    .security .lwrap{
        flex-wrap: wrap;
        padding: 10px 9px 10px 20px;
        justify-content: space-around;;
    }
    footer .search{
        padding: 10px 0px;
    }
}
@media (max-width: 850px) {
    .header .lwrap, .banner, .content-wrap{
        flex-direction: column;
    }

    .banner > div{
        width: 100%;
        justify-content: center;
    }
    .header .lwrap{
        background-size: cover
    }
    .grid{
        justify-content: space-around;
    }
    .content {
        padding: 20px 0px 0px 0px;
    }
    .pages{
        padding: 10px 0px;
    }
    .logo{
        margin: 10px;
    }
    .sidebar{
        display: flex;
        align-items: flex-start;
    }
    .sidebar > *{
        flex: 1;
    }
    .categories li {
        padding: 0px 0px 0px 10px;
    }
    .sidebar form {
        margin: 0px 10px 0px 10px;
    }
    .content, .sidebar{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .title{
        flex-direction: column;
    }
    .banner > div:first-child {
        padding: 10px 10px 0px 10px;
    }
    .sale {
        margin: 5px;
    }
    .banner h3, .banner .title p {
        text-align: center;
        padding: 0px 0px 5px 0px;
    }
    .banner .title{
        padding: 5px;
    }
    .footer .lwrap{
        justify-content: flex-start;
    }
    .banner h3{
        font: 700 20px "Arial";
    }
    .slider{
        flex-direction: column;
    }
    .slider-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 640px) {
    .sidebar{
        flex-direction: column;
        align-items: stretch;
    }
}