.icon-arrow-lg {width: 32px; height: 32px; background: url('/images/icons/arrow-lg.png');}
.icon-arrow-sm {width: 16px; height: 16px; background: url('/images/icons/arrow-sm.png');}
.icon-arrow {width: 10px; height: 10px; background: url('/images/icons/arrow.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-in {width: 24px; height: 24px; background: url('/images/icons/in.png');}
.icon-left {width: 16px; height: 16px; background: url('/images/icons/left.png');}
.icon-mail {width: 24px; height: 24px; background: url('/images/icons/mail.png');}
.icon-right {width: 16px; height: 16px; background: url('/images/icons/right.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}