body{
    font-family: LucidaGrande;
    font-size: 12px;
}

/*LINKS*/
.links-nav a{
    color: #ede9dc;   
    line-height: 24px;
    background: rgba(255,255,255,.1);
    margin-bottom: 1px;
    padding: 0px 10rem;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #ede9dc;
    background: rgba(255,255,255,.3);
}
.links-nav, .links-categories, .links-subscribe{
    max-width: 460px;
}
.links-categories, .links-subscribe{
    border-top: 1px solid rgba(255,255,255,.1);
}
.links-categories li, .links-subscribe li{
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 0px 10rem 0px 30rem;
    line-height: 24px;
}
.links-categories a, .links-subscribe a, .links-categories{
    color: #ede9dc;
    font-size: 11px;
}
.links-categories a:active, .links-subscribe a:active, .links-categories a:hover, .links-subscribe a:hover, .links-categories a:focus, .links-subscribe a:focus{
    text-decoration: underline;
}
.links-categories li a:before{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ede9dc;
    margin: 0px 5px 3px 0px;
    content: "";
    display: inline-block;
}
.links-subscribe li{
    background: url(/images/icons/rss.png)no-repeat 5px 5px;
}

/*PAGINATION*/
.pagination{
    background: radial-gradient(circle at center -25px, rgba(255,255,255,.2), transparent), linear-gradient(#2d3844, #222a33);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
    border: 1px solid white;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    max-width: 300px;
}
.pagination a{
    height: 37px;
    padding: 0px 10rem;
    color: #ede9dc;
    font-size: 11px;
}
.pagination a span{
    text-decoration: underline;
    padding-left: 5rem;
}
.pagination a:active span, .pagination a:hover span, .pagination a:focus span{
    text-decoration: none;
}

/*LABELS*/
.lbl-default{
    width: 42px;
    background: radial-gradient(circle at center -10px, rgba(255,255,255,.3), transparent, transparent), linear-gradient(#2d3844, #222a33);
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
}
.lbl-default small{
    background: rgba(0,0,0,.5);
    height: 17px;
    font-size: 11px;
    color: rgba(237,233,220,.3);
}
.lbl-default span{
    height: 25px;
    font-size: 15px;
    color: #ede9dc;
}

/*CITES*/
blockquote{
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
    padding: 10rem 0px;
    color: #2d3844;
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    max-width: 208px;
    text-align: center;
}

/*OTHER*/
.more, .more a{
    color: #222a33;
}
.more a{
    text-decoration: underline;
}
.more a:active, .more a:hover, .more a:focus{
    text-decoration: none;
}