body{
    font-family: LucidaGrande;
    font-size: 12px;
}

/*LINKS*/
.links-nav a{
    color: #ede9dc;   
    line-height: 25px;
    background: rgba(255,255,255,.1);
    margin-bottom: 1px;
    padding: 0px 10rem;
    display: inline-block;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #ede9dc;
    background: rgba(255,255,255,.3);
}
.links-nav, .links-categories, .links-subscribe{
    max-width: 280px;
    width: 100%;
}
.links-categories, .links-subscribe{
    border-top: 1px solid rgba(255,255,255,.1);
}
.links-categories li, .links-subscribe li{
    border-bottom: 1px solid rgba(255,255,255,.1);    
    line-height: 18px;
}
.links-categories a, .links-subscribe a, .links-categories{
    color: #ede9dc;
    font-size: 11px;
}
.links-categories a:active, .links-subscribe a:active, .links-categories a:hover, .links-subscribe a:hover, .links-categories a:focus, .links-subscribe a:focus{
    text-decoration: underline;
}
.links-categories li a:before{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ede9dc;
    margin: 0px 14rem 2px 0px;
    content: "";
    display: inline-block;
}
.links-categories li{
    padding: 0px 10rem 0px 14rem;
}
.links-categories a{
    margin-right: 5px;
}
.links-categories em{
    text-align: right;
    display: inline-block;
}
.links-subscribe li {
    padding: 0px 10rem 0px 32px;
    background: url(/images/icons/rss.png)no-repeat 11px 3px;
}
.pagination{
    background: radial-gradient(circle at center -25px, rgba(255,255,255,.2), transparent), linear-gradient(#2d3844, #222a33);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
    border: 1px solid white;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
    max-width: 300px;
    margin: 10px 0px -2px 0px;
    padding-bottom: 4rem;
}
.pagination a{
    height: 31px;
    padding: 0px 9.5rem;
    color: #ede9dc;
    font-size: 11px;
}
.pagination a span{
    border-bottom: 1px solid #ede9dc;
    margin: 0px 5rem;
    padding-bottom: 2px;
}
.pagination a:active span, .pagination a:hover span, .pagination a:focus span{
    border-bottom: none;
}

/*LABELS*/
.lbl-default{
    width: 44px;
    flex-direction: column;
    align-items: stretch;
    background: radial-gradient(circle at center -10px, rgba(255,255,255,.3), transparent, transparent), linear-gradient(#2d3844, #222a33);
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.1);
}
.lbl-default small{
    background: rgba(0,0,0,.5);
    height: 17px;
    font-size: 11px;
    color: rgba(237,233,220,.3);
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 4rem;
}
.lbl-default span{
    height: 25px;
    font-size: 15px;
    color: #ede9dc;
}

/*CITES*/
blockquote{
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
    padding: 19rem 0px 17rem 0px;
    color: #2d3844;
    font-family: Georgia;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    max-width: 208px;
    text-align: center;
    margin: 2rem 0px 2rem 9rem;
}

/*OTHER*/
.more, .more a{
    color: #222a33;
    line-height: 18px;
}
.more a{
    box-shadow: inset 0px -1px 0px 0px #222a33;
    margin-right: 4px;
}
.more a:active, .more a:hover, .more a:focus{
    box-shadow: none;
}