.icon-case {width: 30px; height: 27px; background: url('/images/icons/case.png');}
.icon-fb {width: 37px; height: 34px; background: url('/images/icons/fb.png');}
.icon-fl {width: 37px; height: 34px; background: url('/images/icons/fl.png');}
.icon-flower {width: 24px; height: 24px; background: url('/images/icons/flower.png');}
.icon-home {width: 30px; height: 27px; background: url('/images/icons/home.png');}
.icon-journal {width: 30px; height: 27px; background: url('/images/icons/journal.png');}
.icon-mail {width: 30px; height: 27px; background: url('/images/icons/mail.png');}
.icon-portfolio {width: 30px; height: 27px; background: url('/images/icons/portfolio.png');}
.icon-rss {width: 37px; height: 34px; background: url('/images/icons/rss.png');}
.icon-tw {width: 37px; height: 34px; background: url('/images/icons/tw.png');}