body{
    font-size: 13px;
    font-family: PT Sans;
}

/*LINKS*/
.links-nav{    
    float: right;
    position: relative;
}
.links-nav:after, .links-nav:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.links-nav:after{
    background: rgba(245,197,6,.27);
    z-index: 2;
    top: -5px;
    left: -5px;
}
.links-nav:before{
    background: rgba(245,197,6,.27);
    z-index: 1;
    top: -10px;
    left: -10px;
}
.links-nav a{
    height: 41px;
    color: #9a7d07;
    font-family: SegoeWP;
    font-size: 17px;
    text-transform: uppercase;
    border-left: 1px solid #dcb105;
    padding: 0px 22px 0px 14px;
    background: #f5c506;
    z-index: 3;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    background: rgba(245,197,6,.9);
}
.links-nav a:first-child{
    border-left: none;
}
.links-nav a i{
    margin-right:9px;
}

/*BUTTONS*/
.btn-slide{
    width: 32px;
    height: 57px;
    background: rgba(245,197,6,.71);
}
.btn-slide:active, .btn-slide:hover, .btn-slide:focus{
    background: #f5c506;
}

/*LABELS*/
.lbl-date{
    font-family: SegoeUI;
    background: #ddb101;
    width: 113px;
    height: 86px;
    text-transform: uppercase;
    padding: 5px;
}
.lbl-date strong{
    font-weight: 700;
    color: white;
    font-size: 51px;
    line-height: 50px;
}
.lbl-date small{
    color: #b26529;
    font-size: 21px;
}
.lbl-free{
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    width: 116px;
    height: 116px;
    background: #f5c506;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
}

/*LISTS*/
.list-default li{
    color: #a9a9a7;
    font-size: 22px;
    font-family: Open Sans;
    line-height: 26px;
    padding: 0px 0px 21px 33px;
    letter-spacing: 0.0018em;
}
.list-default li:before{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f5c505;
    content: "";
    margin: 5px 10px 0px 0px;
}