.icon-arrow {width: 21px; height: 21px; background: url('/images/icons/arrow.png');}
.icon-cart {width: 15px; height: 15px; background: url('/images/icons/cart.png');}
.icon-fb {width: 10px; height: 17px; background: url('/images/icons/fb.png');}
.icon-mail {width: 16px; height: 12px; background: url('/images/icons/mail.png');}
.icon-rss {width: 15px; height: 16px; background: url('/images/icons/rss.png');}
.icon-search {width: 19px; height: 16px; background: url('/images/icons/search.png');}
.icon-secured {width: 56px; height: 55px; background: url('/images/icons/secured.png');}
.icon-top {width: 30px; height: 47px; background: url('/images/icons/top.png');}
.icon-tw {width: 9px; height: 17px; background: url('/images/icons/tw.png');}