.icon-cart {width: 45px; height: 34px; background: url('/images/icons/cart.png');}
.icon-fb {width: 26px; height: 26px; background: url('/images/icons/fb.png');}
.icon-gp {width: 26px; height: 26px; background: url('/images/icons/gp.png');}
.icon-ig {width: 26px; height: 26px; background: url('/images/icons/ig.png');}
.icon-men {width: 7px; height: 18px; background: url('/images/icons/men.png');}
.icon-rs {width: 26px; height: 26px; background: url('/images/icons/rs.png');}
.icon-search {width: 12px; height: 13px; background: url('/images/icons/search.png');}
.icon-tb {width: 26px; height: 26px; background: url('/images/icons/tb.png');}
.icon-tw {width: 26px; height: 26px; background: url('/images/icons/tw.png');}
.icon-women {width: 11px; height: 19px; background: url('/images/icons/women.png');}
.icon-yt {width: 26px; height: 26px; background: url('/images/icons/yt.png');}