<div>
    <nav class="links-nav" data-flex="stripe w">
        <ul data-flex="w">
            <li><a data-obj="lnk-go" href="#dashboard" class="active">Dashboard</a></li>
            <li><a data-obj="lnk-go" href="#calendar">Calendar</a></li>
            <li><a data-obj="lnk-go" href="#reservations">Reservations</a></li>
            <li><a data-obj="lnk-go" href="#houseaccount">House Account</a></li>
            <li>
                <span class="dropdown-toggle" tabindex="1">Rates and Availability</span>
                <ul class="links-dropdown">
                    <li><a data-obj="lnk-go" href="#baserates">Base Rates</a></li>
                    <li><a data-obj="lnk-go" href="#rateplans">Rate Plans & Packages</a></li>
                    <li><a data-obj="lnk-go" href="#availabilitymatrix">Availability Matrix</a></li>
                </ul>
            </li>
            <li><a data-obj="lnk-go" href="#guests">Guests</a></li>
            <li>
                <span class="dropdown-toggle" tabindex="1">Reports</span>
                <ul class="links-dropdown">
                    <li class="dropdown-submenu">
                        <a data-obj="lnk-go" href="/">Production Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="#revpar">RevPar</a>
                            <a data-obj="lnk-go" href="/">Rooms sold / Occupancy</a>
                            <a data-obj="lnk-go" href="/">Average Daily Rate</a>
                            <a data-obj="lnk-go" href="/">Channel Production</a>
                            <a data-obj="lnk-go" href="/">Reservations by Rate Plan</a>
                            <a data-obj="lnk-go" href="/">Reservations By Country</a>
                        </div>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="/">Financial Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="/">Payout / Comission Report</a>
                            <a data-obj="lnk-go" href="/">Transactions</a>
                            <a data-obj="lnk-go" href="/">Daily Financial Report</a>
                            <a data-obj="lnk-go" href="/">Adjustments</a>
                            <a data-obj="lnk-go" href="/">Payment Ledger</a>
                        </div>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="/">Daily Activity Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="/">Account Balances</a>
                            <a data-obj="lnk-go" href="/">Cashier Report</a>
                            <a data-obj="lnk-go" href="/">Arrivals Report</a>
                            <a data-obj="lnk-go" href="/">Departures Report</a>
                            <a data-obj="lnk-go" href="/">In-House Report</a>
                            <a data-obj="lnk-go" href="/">No Show Report</a>
                            <a data-obj="lnk-go" href="/">Cancellations Report</a>
                            <a data-obj="lnk-go" href="/">Room Assignments</a>
                            <a data-obj="lnk-go" href="/">Notes</a>
                            <a data-obj="lnk-go" href="/">Payment Reconciliation Report</a>
                            <a data-obj="lnk-go" href="/">User Reconciliation Report</a>
                            <a data-obj="lnk-go" href="/">Daily Revenue Report</a>
                            <a data-obj="lnk-go" href="/">Room Move Report</a>
                            <a data-obj="lnk-go" href="/">Tax Report</a>
                        </div>
                    </li>
                    <li>
                        <a data-obj="lnk-go" href="/">Police Report</a>
                    </li>
                    <li>
                        <a data-obj="lnk-go" href="/">Payment Processing Report</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul data-flex="end" class="nav-bar">
            <li>
                <form action="#" method="post">
                    <input class="input-search" type="search" name="search" placeholder="Search Reservations">
                </form>
            </li>
            <li><a href="cash-drawer.html" data-tooltip="Cash Drawer"><i class="icon-cash"></i><span class="hidden">Cash Drawer</span></a></li>
            <li><a href="house-keeping.html" data-tooltip="House Keeping"><i class="icon-hk"></i><span class="hidden">House Keeping</span></a></li>
            <li><a href="manage.html" data-tooltip="Manage"><i class="fa fa-cog"></i><span class="hidden">Manage</span></a></li>
            <li><a href="get-help.html">Get Help</a></li>
            <li><a href="user.html"><i class="fa fa-user"></i><span class="hidden">User</span></a></li>
        </ul>
    </nav>
    <div id="content">

    </div>
</div>
<footer data-flex='axis'>
    <div data-flex='-center'>
        <a href="/" title="Return to the homepage" class="logo">
            <img src="images/logo-footer.png" height="43" width="40" alt="Logo">
        </a>
        <a href='/' class="underline-act">UA hotel</a>
    </div>
    <div>
        <i class="fa fa-lightbulb-o"></i>
        <span>Have and idea?</span>
        <a href='/' class="underline">Suggest a feature</a>
    </div>
    <div class="logged">
        <span>Logged In as:</span>
    </div>
</footer>