<div>
    <nav class="links-nav" data-flex="stripe w">
        <ul data-flex="w">
            <li><a data-obj="lnk-go" href="#dashboard" class="active">Dashboard</a></li>
            <li><a data-obj="lnk-go" href="#calendar">Calendar</a></li>
            <li><a data-obj="lnk-go" href="#reservations">Reservations</a></li>
            <li><a data-obj="lnk-go" href="#houseaccount">House Account</a></li>
            <li>
                <span class="dropdown-toggle" tabindex="1">Rates and Availability</span>
                <ul class="links-dropdown">
                    <li><a data-obj="lnk-go" href="#baserates">Base Rates</a></li>
                    <li><a data-obj="lnk-go" href="#rateplans">Rate Plans & Packages</a></li>
                    <li><a data-obj="lnk-go" href="#availabilitymatrix">Availability Matrix</a></li>
                </ul>
            </li>
            <li><a data-obj="lnk-go" href="#guests">Guests</a></li>
            <li>
                <span class="dropdown-toggle" tabindex="1">Reports</span>
                <ul class="links-dropdown">
                    <li class="dropdown-submenu">
                        <a data-obj="lnk-go" href="#">Production Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="#revpar">RevPar</a>
                            <a data-obj="lnk-go" href="#roomssoldoccupancy">Rooms sold / Occupancy</a>
                            <a data-obj="lnk-go" href="#averagedailyrate">Average Daily Rate</a>
                            <a data-obj="lnk-go" href="#channelproduction">Channel Production</a>
                            <a data-obj="lnk-go" href="#reservationsrateplan">Reservations by Rate Plan</a>
                            <a data-obj="lnk-go" href="#reservationscountry">Reservations By Country</a>
                        </div>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="/">Financial Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="#payoutcomission">Payout / Comission Report</a>
                            <a data-obj="lnk-go" href="#transactions">Transactions</a>
                            <a data-obj="lnk-go" href="#dailyfinancial">Daily Financial Report</a>
                            <a data-obj="lnk-go" href="#adjustments">Adjustments</a>
                            <a data-obj="lnk-go" href="#paymentledger">Payment Ledger</a>
                        </div>
                    </li>
                    <li class="dropdown-submenu">
                        <a href="/">Daily Activity Reports</a>
                        <div class="links-dropdown">
                            <a data-obj="lnk-go" href="#accountbalances">Account Balances</a>
                            <a data-obj="lnk-go" href="#cashier">Cashier Report</a>
                            <a data-obj="lnk-go" href="#arrivals">Arrivals Report</a>
                            <a data-obj="lnk-go" href="#departures">Departures Report</a>
                            <a data-obj="lnk-go" href="#inhouse">In-House Report</a>
                            <a data-obj="lnk-go" href="#noshow">No Show Report</a>
                            <a data-obj="lnk-go" href="#cancellations">Cancellations Report</a>
                            <a data-obj="lnk-go" href="#roomassignments">Room Assignments</a>
                            <a data-obj="lnk-go" href="#notes">Notes</a>
                            <a data-obj="lnk-go" href="#paymentreconcillation">Payment Reconciliation Report</a>
                            <a data-obj="lnk-go" href="#userreconciliation">User Reconciliation Report</a>
                            <a data-obj="lnk-go" href="#dailyrevenue">Daily Revenue Report</a>
                            <a data-obj="lnk-go" href="#roommove">Room Move Report</a>
                            <a data-obj="lnk-go" href="#tax">Tax Report</a>
                        </div>
                    </li>
                    <li>
                        <a data-obj="lnk-go" href="#police">Police Report</a>
                    </li>
                    <li>
                        <a data-obj="lnk-go" href="#paymentprocessing">Payment Processing Report</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul data-flex="end" class="nav-bar">
            <li>
                <form action="#" method="post">
                    <input class="input-search" type="search" name="search" placeholder="Search Reservations">
                </form>
            </li>
            <li><a data-obj="lnk-go" href="#cashdrawer" data-tooltip="Cash Drawer"><i class="icon-cash"></i><span class="hidden">Cash Drawer</span></a></li>
            <li><a data-obj="lnk-go" href="#housekeeping" data-tooltip="House Keeping"><i class="icon-hk"></i><span class="hidden">House Keeping</span></a></li>
            <li><a data-obj="lnk-go" href="#manage" data-tooltip="Manage"><i class="fa fa-cog"></i><span class="hidden">Manage</span></a></li>
            <li><a data-obj="lnk-go" href="#gethelp">Get Help</a></li>
            <li><a data-obj="lnk-go" href="#user"><i class="fa fa-user"></i><span class="hidden">User</span></a></li>
        </ul>
    </nav>
    <div id="content">

    </div>
</div>
<footer data-flex='axis'>
    <div data-flex='-center'>
        <a href="/" title="Return to the homepage" class="logo">
            <img src="images/logo-footer.png" height="43" width="40" alt="Logo">
        </a>
        <a href='/' class="underline-act">UA hotel</a>
    </div>
    <div>
        <i class="fa fa-lightbulb-o"></i>
        <span>Have and idea?</span>
        <a href='/' class="underline">Suggest a feature</a>
    </div>
    <div class="logged">
        <span>Logged In as:</span>
    </div>
</footer>