a{
    text-decoration: none;
}
body{
    background-color: #e9eae2;    
}
.icon-facebook, .icon-linkedin, .icon-heart, .icon-heart-alt{
    width: 24px;
    height: 24px;
}
.icon-arrow1, .icon-arrow2, .icon-arrow3, .icon-gplus{
    width: 20px;
    height: 20px;
}
.icon-gp, .icon-fb, .icon-in, .icon-tw{
    width: 16px;
    height: 16px;
}
.icon-twitter{
    width: 28px;
    height: 28px;
}
.icon-close{
    width: 36px;
    height: 36px;
}
.icon-nav{
    width: 40px;
    height: 40px;
}
.icon-point{
    width: 60px;
    height: 60px;
}
.icon-fb{background: url('../images/icons/16x16/fb.png');}
.icon-tw{background: url('../images/icons/16x16/tw.png');}
.icon-in{background: url('../images/icons/16x16/in.png');}
.icon-gp{background: url('../images/icons/16x16/gp.png');}
.icon-facebook{background: url('../images/icons/24x24/facebook.png');}
.icon-heart{background: url('../images/icons/24x24/heart.png');margin-bottom: 4px;}
.icon-heart-alt{margin:  0px 0px 4px 0px;background: url('../images/icons/24x24/heart-alt.png');}
.icon-linkedin{background: url('../images/icons/24x24/linkedin.png');}
.icon-gplus{background: url('../images/icons/20x20/gplus.png');}
.icon-arrow1{background: url('../images/icons/20x20/arrow1.png');}
.icon-arrow2{background: url('../images/icons/20x20/arrow2.png');margin-right: 7px;}
.icon-arrow3{background: url('../images/icons/20x20/arrow3.png');}
.icon-twitter{background: url('../images/icons/twitter.png');}
.icon-close{background: url('../images/icons/close.png');}
.icon-nav{background: url('../images/icons/nav.png');}
.icon-point{background: url('../images/icons/point.png');}

header{
    max-height: 500px;
}
.logo-wrap{
    max-width: 20%
}
.header-left{
    background-color: #e9eae2;
    width: 65%
}
.header-right{
    background-color: #7acec3;    
    width: 35%;
}
.header-left > div{
    max-width: 1045px;
    padding-left: 10px;
}
.header-left > div img{
    width: 100%;
}
.header-right > div{
    max-width: 465px;
    padding-bottom: 100px;
    background: url('../images/line1.png') no-repeat -2px 0;
}
.header-right span, .header-right a{
    color: #fff;
    text-transform: uppercase;
    font: 13px/14px "Roboto Condensed";
}
.logo{
    margin-top: 50px;
    margin-bottom: 2px;
}
.logo ~ span{
    text-transform: uppercase;
    color: #383d3c;
    font: 700 18px/18px "Roboto Condensed";
    padding: 0px 0px 0px 2px;
    letter-spacing: -0.03em;
}
.social{
    margin-top: 50px;
    flex-wrap: wrap;
    margin-right: 4px;
}
.social a{
    margin: 7px 8px 7px 2px;
}
input[type="radio"]{
    display: none;
}
.nav{    
    padding: 50px 50px 42px 60px;
}
.nav-wrap{
    position: relative;
    width: 125px;
    margin: 0 0px 50px 114px;
}
nav{
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    min-height: 120px;
    background-color: #f8c255;
}
nav a.btn{
    color: #fff;
    margin: 5px;
    min-width: 100px;
    text-align: center;
    display: inline-flex;
    text-transform:uppercase;
    font: 14px "Roboto Condensed";
}
#r1:checked ~ nav{
    display: flex;
}
#r1 + label{
    border: 3px solid #e9eae2;
    width: 125px;
    height: 120px;
}
#r2 + label{
    margin: 0 45px;
}
.mail{
    margin-right: 57px;}
section{
    position: relative;
    z-index: 1;
}
.header-right address{
    color: #fff;
    margin-top: 40px;
}
.header-right .half a, .header-right .half span{
    color: #fff;
    font: 13px/14px "Roboto Condensed";
    text-transform:uppercase;
}
address{
    color: #333;
    text-transform:uppercase;
    font-style: normal;
    font: 13px "Roboto Condensed";
}
.description{
    position: absolute;
    left: 0;
    top: 0;    
}
.description dd, .description dt{
    display: block;
}
.description dl dt{
    color: #333;
    text-transform:uppercase;
    font: 700 12px/12px "Roboto Condensed";  
    letter-spacing: -0.03em;
}
.description dl dd{
    color: #333;   
    text-transform:uppercase;
    font: 12px/12px "Roboto Condensed";
    letter-spacing: -0.015em;
}
.description h2{
    color: #333;
    text-transform:uppercase;
    font: 300 24px "Roboto Condensed";
    margin-bottom: 12px;
    letter-spacing: -0.02em;
}
.description p{
    color: #333;
    font: 12px/12px "Roboto Condensed";
    margin: 0px 29px 14px 0px;
    letter-spacing: -0.015em;
}
.description .view{
    color: #333;
    text-transform:uppercase;
    font:  18px "Roboto Condensed";
    letter-spacing: -0.02em;
}
.description .like{
    color: #f00;
    font:  11px "Roboto Condensed";
}

.projects-left{
    width: 65%
}
.projects-right{  
    width: 35%;
    background-color: #fff;
}
.timeline-left{
    width: 65%
}
.timeline-right{  
    width: 35%;
    background-color: #ebb240;  
    max-height: 300px
}
.wrapper.one{
    background-color: #ebb240;    
}
.wrapper.two{
    background-color: #546c76;    
}
.wrapper.three{
    background-color: #fcfcfc;    
}
.wrapper.four{
    background-color: #dfe0d9;    
}
.wrapper.five{
    background-color: #f7f7f3;    
}
.wrapper.six{
    background: #fff;    
}
.wrap{
    max-width: 1035px;
    width: 100%;
}
.wrap > div{
    position: relative;
}
.projects-right .wrap, .timeline-right .wrap{
    max-width: 465px;
    width: 100%;
}
.projects-hdr{
    width: 45%;
    background: #ebb240 url('../images/line2.png') no-repeat;
    background-size: 100%;
}
.projects-hdr > div:first-child{
    height: 60%;
    min-height: 200px;
}
.projects-hdr > div{
    height: 40%;
    min-height: 250px;
}
.half{
    width: 50%;
}
.wrap img{
    width: 100%;
}
.projects-hdr .half a, .timeline-right .half a{
    color: #fff;
    text-transform:uppercase;
    font: 13px/14px "Roboto Condensed";
    height: 14px;
}
.timeline-right .half a{
    padding-right: 28px;
}
.projects-hdr .half a.active, .projects-hdr .half a:hover, .timeline-right .half a.active, .timeline-right .half a:hover{
    color: #000;
}
.projects-hdr .half a .icon-arrow1, .timeline-right .half a .icon-arrow1{
    margin-right: 10px;
    opacity: 0;
}
.projects-hdr .half a.active .icon-arrow1, .projects-hdr .half a:hover .icon-arrow1, .timeline-right .half a.active .icon-arrow1, .timeline-right .half a:hover .icon-arrow1{
    opacity: 1;
}
.projects-hdr > div:first-child .half{
    margin: 172px 0px 0px 34px;
}
.projects-hdr > div .half{
    margin: 50px 19px 0px 0px;
}
.fondue{ 
    width: 55%;
    background: #fff; 
}
.fondue .description{
    left: 17.7%;
    top: 16.4%;
}
.fondue .description .view{
    margin: 72px 0 110px 8px;
}
.fondue .description .view + div{
    max-width: 159px;
}
.louis .description{
    left: 10.2%;
    top: 7.8%;
}
.louis .description .view + div{
    margin: 0px 0px 0px 30px;
}
.potter .description .view + div{
    margin: 21px 40px 0px 0px;
}
.louis .description .view{
    margin: 34px 0 27px 0;
}
.set .description{
    right: 9.2%;
    left: auto;
    top: 18.8%;
}
.set .description .view + div{
    margin: 0px 0px 0px 48px;
}
.set .view{
    margin: 6px 0px 21px 37px;
}
.sesann .view{
    margin: -4px 50px 0px 53px;
}
.sesann .description h2{
    margin-bottom: 4px;
}
.sesann .description .view + div{
    margin: -4px 0px 0px 1px;
}
.alessi .description .view + div{
    margin: 0px 23px 0px 0px;
}
.tabano .description .view + div{
    margin: -4px 0px 0px 0px;
}
.fiji .description .view + div{
    margin: 0px 0px 0px 25px;
}
.potter .description{
    left: 9.1%;
    top: 12.3%;
    max-width: 40%;
}
.potter .description h2{
    margin-bottom: 8px;
}
.tabano .description{
    left: 12.8%;
    top: auto;
    bottom: 8.5%;
}
.tabano .view{
    margin: -4px 20px 0 28px;
}
.fiji .view{
    margin: 23px 0px 19px 5px;
}
.fiji .description{
    left: 53%;
    top: 18%;
    max-width: 40%;
}
.sesann .description{
    left: 20.5%;
    top: auto;
    bottom: 6.9%;
}
.alessi .description{
    left: 52.2%;
    top: 25%;
    max-width: 50%;
}
.alessi .view{
    margin: 28px 0px 21px -31px;
}
.louis{
    width: 28.88%;    
}
.louis .description dd, .louis .description dt, .louis .description .view, .louis .description h2{
    color: #fff;
}
.set{
    width: 71.12%;
    max-height: 465px;
    min-height: 465px;
    background-color: #eaeaea;
}
.sesann{
    width: 72.11%;
    max-height: 300px;
}
.alessi{
    width: 29.4%;
    background-color: #cecece;
    max-height: 300px;
}
.potter{
    max-height: 250px;
}
.tabano{
    max-height: 465px;
}
.fiji{
    max-height: 249px;
}
.timeline-right > div{
    max-width: 460px;
    width:100%;  
    background: url('../images/line3.png') no-repeat -189px 0px;
}
.timeline-right h3{
    color: #333; 
    font: 14px "Roboto Condensed";
    text-transform: uppercase;
    margin: 0px 0px 4px 0px;
}
.timeline-right .projects-hdr .half a.active {
    color: #fff;
}
.timeline-right .half{
    height: 33%;
    width: 40%;
    max-width: 154px;
    padding: 58px 0px 0 0;
}
.studio-left{
    background-color: #ff9b6d;
    max-height: 500px;
    width: 35.05%;}
.studio-right{
    background-color: #e9eae2;    
    width: 64.95%;
}
.studio-left > div {
    max-width: 465px;
    width:100%;
    background: url('../images/line4.png') no-repeat 0px -3px;
}
.studio-right > div {
    max-width: 1035px;
    width:100%;
    padding: 93px 10px 50px 103px;
}
.studio-right > div > div {
    width:100%;
    max-width: 776px;
}
.studio-right p{
    color: #333; 
    margin: 0px 13px 16px 0px;
    font: 18px/16px "Roboto Condensed";
    letter-spacing: -0.019em;
}
.studio-right span{
    color: #333; 
    text-transform: uppercase;
    font: 12px/14px "Roboto Condensed";
}
.studio-right h5{
    color: #333; 
    max-width: 360px;
    margin: 38px 5px 23px 0px;
    text-transform: uppercase;
    font: 700 14px/18px "Roboto Condensed";
    border-bottom: 1px solid #bfc0b9;
    padding-left: 5px;
    letter-spacing: -0.015em;
}
.studio-right p.italic.last{
    margin-bottom: 37px;
}
.studio-right p.italic{ 
    font: italic 700 18px/18px "Roboto Condensed";
    letter-spacing: -0.018em;
    margin: 0px 13px 18px 0px;
}
.studio-right .column{
    max-width: 360px; 
    width: 48%;
}
.studio-right .column img{
    margin: 3px 0px 0px 0px;
}
.awards > div{
    width: 43.5%;
    padding-right: 1px;
}
.awards > div:first-child{
    width: 46%;
    padding-right: 10px;
}
.designers-wrap {
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 32px 16px 50px 18px;
    margin: auto;
}
.designers{
    margin: 0 -17px;
    flex-wrap: wrap;
}

.designers > div:first-child{
    min-width: 150px;    
     
    margin: 30px 12px 30px 17px; 
}
.designers > div{
    flex: 1 1 0%;
    margin: 30px 15px 30px 15px; 
    max-width: 300px;
}
.designers > div p{
    color: #333;   
    font: 14px/18px "Roboto Condensed";
    margin-top: 15px;
    margin-bottom: 18px;
    letter-spacing: -0.025em;
}
.designers > div h4{
    color: #333;
    text-transform: uppercase;
    margin: 15px 0px 0px 1px;
    font: 700 13px/11px "Roboto Condensed";
    letter-spacing: -0.017em;
}
.designers > div h5{
    color: #333;
    text-transform: uppercase;
    margin-top: 1px;
    font: 600 14px "Roboto Condensed";
}
.designers > div h4 + span{
    color: #333;
    margin: 0px 0px 12px 1px;
    display: inline-block;
    text-transform: uppercase;
    font: 13px "Roboto Condensed";
    letter-spacing: -0.03em;
}
.designers .arrow{
    color: #fd4f00;
    text-transform: uppercase;
    font: 14px "Roboto Condensed";
    margin: 0px 0px 0px 1px;
}
.designers .arrow i{
    margin: 1px 0px 0px 7px;
}
.social-article a{
    margin: 5px 1px 5px 10px;
}


.news-left{
    background-color: #d4edbf;
    max-height: 500px;
    min-height: 500px;
    width: 35%;       
}
.news-left > div h3{
    margin: 0 29% 34% 0;
}
.studio-left > div h3{
    margin: 0 23% 34% 0;
}
.studio-left h3, .news-left h3, .projects-left h3{
    font: 48px "Roboto Condensed";
    color: #fefefe;
    text-transform: uppercase;
}
.news-right{
    background-color: #e5e9df;    
    width: 65%;
}
.news-left > div {
    max-width: 465px;
    width:100%;
    max-height: 500px;
    background: url('../images/line5.png') no-repeat 0px -2px;
}
.news-right > div {
    max-width: 1035px;
    min-height: 500px;
    width:100%;
    padding: 54px 73px 18px 10px;
}
.article-wrap{
    max-width: 800px;
    flex-wrap: wrap;
    width: 100%;
}
.article-wrap article{
    width: 48%;  
    max-width: 370px;
    min-width: 270px;
    margin-bottom: 20px;
}
.article-wrap article h2{
    color: #333;
    text-transform: uppercase;
    min-height: 51px;
    font: 700 24px/24px "Roboto Condensed";
    letter-spacing: -0.008em;
}
.article-wrap article time{
    color: #6a6969;
    display: inline-block;
    margin-bottom: 16px;
    font:  12px "Roboto Condensed";
}
.article-wrap article p{
    color: #6a6969;
    margin: 21px 0 8px 2px;
    font:  12px "Roboto Condensed";
    word-spacing: 6px;
    min-height: 56px;
}
.article-wrap article a{
    color: #fd4f00;
    text-transform: uppercase;
    font:  12px "Roboto Condensed";
    text-align: right;
    width: 100%;
    padding:  0px 6px 0px 0px;
    display: inline-block;
}
.footer address{
    margin-top: 48px;
}
.footer address span{
    line-height: 14px;
}
.footer address > div{
    margin-top: 15px;
}
.footer address div span, .footer address div a{
    color: #333;
    text-transform: uppercase;
    font: 13px "Roboto Condensed";
}
footer > div{
    width: 50%;
    min-height: 643px;
    position: relative;
}
footer .icon-point{
    position: absolute;
    top: 50%;
    left: 50%;
}
footer > div:first-child {
    background-color: #dbdcd5;
}
.footer{
    padding: 100px 10px 10px 117px;
}
.footer > div{
    width: 100%;
    max-width: 463px;
    margin-bottom: 64px;
}
.footer .logo ~ span {
  /* margin-left: 2px; */
}
.copy{
    color: #191919;
    font: 400 12px "Roboto Condensed";
    margin-left: 13px;
}
.copy span{
    font-size: 18px;
    margin-right: 4px;
}
iframe{
    width: 100%;
    height: 100%;
}
@media (max-width: 1480px) {
    .projects-hdr , .timeline-right > div, .news-left > div, .studio-left > div{
        background: none;
    }
    .sesann .view {
        margin: 0 20px;
    }
    .timeline-right .half {
        height: 100%;
        width: 100%;
        padding: 10px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .projects-hdr > div {
        min-height: 10px;
    }
    .projects-hdr > div {
        margin: 10px;
    }
    .sesann .description {
        left: 2%;
        bottom: 2%;
    }
    .projects-hdr .half {
        width: 100%;   
    }
    .potter .description {
        left: 3%;
        top: 3%;
        max-width: 40%;
    }
    .set {
        min-height: 510px;
    }
    .description p {
        display: none;
    }
    .fondue .description .view {
        margin: 10px;
    }
}
@media (max-width: 1450px) {
    .set {
        min-height: 550px;
    }
}
@media (max-width: 1250px) {
    .set {
        min-height: 540px;
    }
    .footer {
        padding: 30px;
    }
    .tabano .like{
        margin-right: 10px;
    }
}
@media (max-width: 1090px) {
    header{
        max-height: 400px;
    }
    .nav {
        padding: 10px 10px 100px 10px;
    }
    .studio-right > div {
        padding: 30px 10px 30px 30px;
    }
    .header-right > div {
        padding-bottom: 125px;
        background: url("../images/line1.png") no-repeat scroll -95px 0px;
    }
    .nav-wrap {
        margin: 0px;
    }
    .social {
        margin-top: 20px;
    }
    .social a {
        margin: 5px;
    }
}
@media (max-width: 850px) {
    nav a.btn {
        margin: 5px;
        min-width: 50px;
        font: 12px "Roboto Condensed";
    }
    .alessi {
        max-height: 300px;
    }
    .timeline-right > div {
        max-width: 800px;
    }
    .timeline-right{
        width: 100%;
    }
    .alessi img{
        max-height: 100%;
    }
    .projects-left, .projects-right, .timeline-left, .sesann, .alessi, .fiji {
        width: 100%;
    }
    .sesann {
        max-height: 600px;
    }
    footer{
        flex-direction: column;
    }
    .fiji {
        max-height: 549px;
    }
    .wrapper.four .wrap, .wrapper.five .wrap, .wrapper.six .wrap{
        justify-content: center;
    }
    .footer address{
        margin-top: 20px;
    }
    address .red{
        color: red
    }
    footer > div {
        width: 100%;
        min-height: 300px;
    }
    .footer > div {
        max-width: 800px;
    }
    .projects, .timeline-wrap, .wrapper.three .wrap{
        flex-direction: column;
    }
    .projects-right .wrap, .timeline-right .wrap {
        max-width: 800px;
    }
}
@media (max-width: 750px) {
    .header-right > div {
        background: none;
    }
    .studio-left h3, .news-left h3, .projects-left h3 {
        font: 24px "Roboto Condensed";
    }
    .projects-hdr {
        width: 50%;
    }
    .projects-hdr > div {
        height: auto
    }
    header{
        max-height: 350px;
    }
    .nav {
        padding: 10px;
    }
    .mail{
        justify-content: flex-start;
        padding: 10px;
    }
    .logo {
        margin-top: 10px;
    }
    .logo ~ span {
        font: 700 14px/14px "Roboto Condensed";
    }
    .social a {
        margin: 3px;
    }
    #r1 + label {
        width: 60px;
        height: 60px;
    }
    .nav-wrap {
        width: 60px;
    }
    #r2 + label {
        margin: 0px 20px;
    }
    nav {
        min-height: 60px;
    }
}
@media (max-width: 580px) {
    .header-left img{
        max-width: 300px;
    }
    .header-left > div{
        flex-direction: column;
        justify-content: flex-start;
    }
    .studio-left > div, .news-left > div {
        max-width: 800px;
    }
    .studio-left, .news-left {
        width: 100%;
        min-height: 70px;
    }
    .studio-right > div{
        padding: 10px;
    }
    .studio-right, .news-right {
        width: 100%;
    }
    .news-left > div h3, .studio-left > div h3 {
        margin: auto;
    }
    .logo-wrap{
        flex-direction: row;
        max-width: 100%;
    }
    .studio-wrap, .news-wrap{
        flex-direction: column;
    }
    .logo{
        max-width: 20%;
    }
    .wrapper.one .wrap, .wrapper.two .wrap{
        flex-direction: column;
    }
    .fondue, .louis, .set{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .nav-wrap nav > div{
        flex-direction: column;
    }
    header {
        max-height: 320px;
    }
    .studio-right > div > div {
        flex-direction: column;
    }
    .studio-right .column {
        max-width: 480px;
        width: 100%;
    }
}
