.links-nav a{
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    min-height: 55px;
    padding: 5px 10px 5px 10px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: white;
    background-color: #c0c0c0;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.links-footer a{
    color: silver;
    font-family: Arial;
    font-size: 12px;
    margin: 5px 16px;
    text-decoration: none;
}
.links-default a{
    font-family: Arial;
    line-height: 20px;
    color: #fccb04;
    font-size: 12px;
    text-decoration: none;    
}
.btn-default:active, .btn-default:hover, .btn-default:focus{
    color: black;
    background: url(/images/icons/arrowb.png) no-repeat right 32px center,
        linear-gradient(white, white) left bottom / calc(100% - 12px) no-repeat,
        linear-gradient(white, white) right top / 100% calc(100% - 12px) no-repeat,
        linear-gradient(135deg, black, black 48%, transparent 50%) right bottom / 12px 12px no-repeat;  
}
.btn-default{
    width: 262px;
    height: 61px;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    padding: 0px 70px 0px 5px;  
    text-align: center;
    white-space: nowrap;  
    color: #fccb04;
    background: url(/images/icons/arroww.png) no-repeat right 32px center,
        linear-gradient(black, black) left bottom / calc(100% - 12px) no-repeat,
        linear-gradient(black, black) right top / 100% calc(100% - 12px) no-repeat,
        linear-gradient(135deg, white, white 49%, transparent 50%) right bottom / 12px 12px no-repeat;  
}
.title{
    color: #0a131d;
    font-family: Arial;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    border-bottom: 4px solid #0a131d;
}
.title i{
    margin: 0px 10px 0px 0px;
}
.more{
    font-family: Arial;
    font-size: 12px;
    color: #0465b0;
    text-decoration: underline;
}
.more:active, .more:hover, .more:focus{
    text-decoration: none;
}
