/* ICONS */

.icon-arrowb {min-width: 9px; width: 9px; height: 8px; background: url('../images/icons/arrowb.png');}
.icon-arroww {min-width: 9px; width: 9px; height: 8px; background: url('../images/icons/arroww.png');}

/* ELEMENTS */

.links-default{
    padding: 0px 15px 10px 0px;
}
.links-nav a{
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    min-height: 55px;
    padding: 0px 10rem 0px 10rem;
    line-height: 20px;    
    letter-spacing: -0.005em;
    text-align: center;
    text-decoration: none;
    margin: 5rem 7rem 0px 7rem;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: white;
    background-color: #c0c0c0;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.links-footer a{
    color: silver;
    font-family: Arial;
    font-size: 12px;
    margin: 5px 16rem;
    text-decoration: none;
}
.links-default a{
    font-family: Arial;
    line-height: 20px;
    color: #fccb04;
    font-size: 12px;
    letter-spacing:-0.01em;
    text-decoration: none;
}
.btn-default i{
    margin: 0px 0rem 1rem 44rem;
}
.btn-alt i{
    margin: 0px 2px 0px 21px;
}
.btn-default{
    color: #fccb04;
    background: #0a131d;    
    border-image-source: url("../images/cornerdefault.png");
}
.btn-alt{
    color: black;
    background: white;
    border-image-source: url("../images/corneralt.png");
}
.btn-default, .btn-alt{
    min-width: 262rem;
    height: 61rem;
    position: relative;
    font-family: Arial;
    font-size: 20rem;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0px 20px;  
    text-align: center;
    white-space: nowrap;
    line-height: 23px;  
    border-style: solid;
    background-clip: padding-box;    
    border-width: 0px 13rem 0px 0px;
    border-image-slice: 0 13 13 0;
    border-image-width: 0px 13rem 13rem 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;    
}
.title{
    color: #0a131d;
    font-family: Arial;
    font-size: 15px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid #0a131d;
    margin: 0px 0px 21px 0px;
}
.title i{
    margin: 0px 13px 0px 0px;
}
.more{
    font-family: Arial;
    font-size: 12px;
    color: #0465b0;
    text-decoration: underline;
}
.more:active, .more:hover, .more:focus{
    text-decoration: none;
}
figure > img{
    width: 100%;
    height: 100%;
    display: block;
} 
a{
    text-decoration: none;
}
/* $------------------------------------------------------------------------- */
body{
    background:url("../images/bg.png");
}
.lwrap{
    max-width: 960px
}
#logo{
    margin-right: 10px;
}
.header > div:first-child{
    min-height: 96rem;
    padding: 20px 0px;
}
.header{
    background: white;
    padding: 0rem 4rem 0rem 6rem;
    margin-bottom: 20rem;
    border-left-width: 18px;
    background: white;
    margin: 0px 18rem 20rem 18rem;
    border-image-slice: 18 18 18 18;
    border-image-width: 18rem 18rem 18rem 18rem;
    border-image-outset: 0px 18rem 0px 18rem;
    border-image-repeat: stretch stretch;
    border-image-source:url("../images/corner.png");
}
.demo-wrap{
    background-color: #09f;
    border: 1px solid #09f;
    box-shadow: inset 0 0 100px rgba(0, 133, 221, 0.75);
    padding: 43rem 22rem 21rem 38rem;
    margin-bottom: 20rem;
}
.demo-wrap > div:first-child{
    width: 56%;
}
.demo-wrap h1{
    width: 100%;
    font-family: Arial;
    font-size: 60rem;
    font-weight: 700;
    line-height: 70rem;
    text-transform: uppercase;
    color: white;
    margin: 12rem 0rem 46rem 0rem;
}
.demo-wrap .btn-default{
    margin: 0rem 12px 20px 54rem;
}
.video-wrap{
    width: 42.7%;
    background: url("../images/shadow.png")no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 26rem;
}
.video-wrap figure{
    width: 88.8%;
    margin: auto;
    padding-bottom: 44rem;
}
.video{
    width: 99.2%;
    padding-bottom: 13rem;
}
.content, .sidebar{
    border-top-width: 1px;
    border-style: solid;
    margin-top: 26rem;
    border-image-outset: 26rem 0px 0px 0px;
    border-image-repeat: stretch stretch;
}
.content{    
    border-image-slice: 26 0 26 27;    
    border-image-width: 26rem 0px 0px 27rem;
    border-image-source: url("../images/cornerleft.png");
    padding: 22rem 35rem 15rem 39rem;
    background: #c0c0c0;    
}
.sidebar{
    border-image-slice: 26 27 26 0;
    border-image-width: 26rem 27rem 0px 0px;
    border-image-source: url("../images/cornerright.png");
    flex-shrink: 0;
    padding: 23rem 21rem 5rem 25rem;
    width: 31.14583%;
    background: white;
}
.articles{
    border-bottom: 1px solid white;
}    
.articles > article{
    width: 47.2%;
    margin-bottom: 42rem;
}
.articles > article .title{
    margin: 0px 25rem 21rem 0px;
}
.articles > article p{
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 3px;
    letter-spacing: -0.005em;
}
.grid > article{
    width: 30.83475%;
    padding-bottom: 34rem;
}
.grid{
    padding-top: 36rem;
}
.grid p{
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;    
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: -0.01em;
}
.grid figure + div{
    margin-left: 3px;
}
.grid figure{
    margin-bottom: 7px;
}
.sidebar .title {
    border-bottom: 4px solid #c0c0c0;
    margin-bottom: 14px;
}
.sidebar blockquote {
    color: #9d9d9d;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 0px 4px 3px;
}
.sidebar blockquote p {
    margin-bottom: 17px;
    line-height: 14px;
    letter-spacing: -0.005em;
}
.sidebar blockquote cite a {
    color: #9d9d9d;
}
.sidebar > div{
    margin-bottom: 26px;
}
.sidebar > div:last-child .title{
    margin: 0px 0px 21px 0px;
}
.content{   
    width: 100%;
}
.banner{
    background:#fccb04;
    padding: 12px 20rem 10px 26rem;
}
.banner .btn-default, .banner .btn-alt{
    margin-left: 17rem;
    padding: 0px 20rem;
}
.banner h2{
    color: black;
    font-family: Arial;
    font-size: 40rem;
    font-weight: 700;
    line-height: 40rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.footer{
    font-family: Arial;
    line-height: 20px;
    color: silver;
    font-size: 12px;
    background-color: black;
    padding: 29rem 2px 5rem 3px;
}
.footer > div{
    width: 26.8%;
    margin-bottom: 20px;
}
.footer > div:last-child{
    width: 28%;
}
.footer h5{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.footer p{
    letter-spacing: -0.005em;
}
.footer span{
    letter-spacing: -0.008em;
}
.footer span > *, .footer .more{
    color: #fccb04;
}
.copyright{
    background-color: #323232;
    padding: 5rem 26rem 5rem 10rem;
}
.copyright span{
    color: silver;
    font-family: Arial;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: -0.01em;
}
/*MEDIA QUERIES------------------------*/
@media (max-width: 640px) {
    .title i {display: none;}    
    .links-nav a{min-height: 0px;}
    .video-wrap {padding-bottom: 60rem;}
    .demo-wrap{padding: 10px;}
    .footer{padding: 10px;}
    .btn-alt, .btn-default{border-width: 0px 0rem 0px 0px; border-image-width: 0px 0rem 0px 0px;}
    .btn-alt i, .btn-default i{display: none;}
    .sidebar{border-image-width: 0;margin: 0;}
    .demo-wrap h1{
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
    .demo-wrap .btn-default {
        margin: 0;
        font-size: 18px;
        height: 50px;
    }
    .banner .btn-default, .banner .btn-alt {
        height: 40px;
        font-size: 12px;
        min-width: 228rem;
    }
    .banner h2{
        font-size: 20px;
        line-height: 20px;
    }    
}