/* ICONS */

.icon-arrowb {min-width: 9px; width: 9px; height: 8px; background: url('../images/icons/arrowb.png');}
.icon-arroww {min-width: 9px; width: 9px; height: 8px; background: url('../images/icons/arroww.png');}

/* ELEMENTS */

.links-nav{
    justify-content: flex-end;
}
.links-footer{
    justify-content: center;
}
.links-default{
    padding: 0px 15px 10px 0px;
}
.links-nav a{
    font-family: Arial;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    min-height: 55px;
    padding: 0px 10px 0px 10px;
    line-height: 20px;
    margin: 0px 7px 0px 7px;
    align-items: stretch;
    letter-spacing: -0.005em;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: white;
    background-color: #c0c0c0;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.links-footer a, .links-footer a:first-child, .links-footer a:last-child {
    color: silver;
    font-family: Arial;
    font-size: 12px;
    margin: 5px 16px;
}
.links-default a{
    font-family: Arial;
    line-height: 20px;
    color: #fccb04;
    font-size: 12px;
}
a.btn-alt{
    color: black;
    background: white;
}
.btn-default i{
    margin: 0px 2px 0px 44px;
}
.btn-alt i{
    margin: 0px 2px 0px 21px;
}
a.btn-default{
    color: #fccb04;
    background: #0a131d;
}
.btn-default, .btn-alt{
    min-width: 252px;
    height: 61px;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0px 20px;  
    margin-right: 12px;
    text-align: center;
    white-space: nowrap;
}
.btn-default:before, .btn-default:after, .btn-alt:before, .btn-alt:after{
    content: "";
    position: absolute;
}
.btn-default:before{
    background: #0a131d;
}
.btn-alt:before{
    background: white;
}
.btn-default:after{
    border-top: 13px solid white;
}
.btn-alt:after{
    border-top: 12px solid #0a131d;
}
.btn-default:before, .btn-alt:before{
    width: 12px;
    height: 49px;
    right: -10px;
    top: 0px;
}
.btn-default:after, .btn-alt:after{
    right: -10px;
    bottom: 0px;
    border-right: 11px solid transparent;
}
.title{
    color: #0a131d;
    font-family: Arial;
    font-size: 15px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 4px solid #0a131d;
    margin: 0px 0px 21px 0px;
}
.title i{
    margin: 0px 13px 0px 0px;
}
.more{
    font-family: Arial;
    font-size: 12px;
    color: #0465b0;
    text-decoration: underline;
}
.more:active, .more:hover, .more:focus{
    text-decoration: none;
}
figure > img{
    width: 100%;
    height: 100%;
    display: block;
} 
a{
    text-decoration: none;
}
/* $------------------------------------------------------------------------- */
body{
    background:url("../images/bg.png");
}
.lwrap{
    max-width: 960px
}
.header{
    background: white;
    padding: 0px 28px 0px 42px;
    margin-bottom: 20px;
}
#logo{
    margin-right: 20px;
}
.nav{
    min-height: 96px;
}
.demo-wrap{
    background-color: #09f;
    border: 1px solid #09f;
    box-shadow: inset 0 0 100px rgba(0, 133, 221, 0.75);
    padding: 43px 13px 22px 38px;
    margin-bottom: 20px;
    height: 352px;
}
.demo-wrap h1{
    width: 55.8%;
    font-family: Arial;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    color: white;
    margin: 15px 0px 46px 0px;
}
.video-wrap{
    width: 42.14%;
    background: url("../images/shadow.png")no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 26px;
}
.video-wrap figure{
    width: 88.8%;
    margin: auto;
    padding-bottom: 44px;
}
.video{
    width: 99.2%;
    padding-bottom: 13px;
}
.demo-wrap .btn-default{
    margin-left: 54px;
}
.content{
    padding: 49px 35px 20px 39px;
    background: #c0c0c0;
}
.sidebar{
    padding: 50px 21px 5px 25px;
    width: 31.14583%;
    background: white;
}
.articles{
    border-bottom: 1px solid white;
}
.articles > article{
    width: 47.2%;
    margin-bottom: 42px;
}
.articles > article .title{
    margin: 0px 25px 21px 0px;
}
.articles > article p{
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 3px;
    letter-spacing: -0.005em;
}
.grid > article{
    width: 30.83475298126065%;
    padding-bottom: 34px;
}
.grid{
    padding-top: 36px;
}
.grid .more{
    padding: 0px 0px 0px 3px;
}
.grid p{
    color: #383838;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    margin: 0px 0px 2px 3px;
}
.grid figure{
    margin-bottom: 7px;
}
.sidebar .title {
    border-bottom: 4px solid #c0c0c0;
    margin-bottom: 14px;
}
.sidebar blockquote {
    color: #9d9d9d;
    font-family: Arial;
    font-size: 12px;
    padding: 10px 0px 4px 3px;
}
.sidebar blockquote p {
    margin-bottom: 17px;
    line-height: 14px;
    letter-spacing: -0.005em;
}
.sidebar blockquote cite a {
    color: #9d9d9d;
}
.sidebar > div{
    margin-bottom: 26px;
}
.sidebar > div:last-child .title{
    margin: 0px 0px 21px 0px;
}
.content{   
    flex-basis: 0%;
}
.banner{
    width: 100%;
    min-height: 105px;
    background:#fccb04;
    padding: 5px 18px 5px 26px;
}
.banner .btn{
    margin: 5px 12px 5px 15px;
}
.banner h2{
    color: black;
    font-family: Arial;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
.footer{
    font-family: Arial;
    line-height: 20px;
    color: silver;
    font-size: 12px;
    background-color: black;
    padding: 30px 0px 5px 4px;
}
.footer > div{
    width: 26.77%;
    margin-bottom: 20px;
}
.footer > div:last-child{
    width: 28.1%;
}
.footer h5{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer p{
    letter-spacing: -0.005em;
}
.contact span > *, .footer .more{
    color: #fccb04;
}
.copyright{
    min-height: 35px;
    background-color: #323232;
    padding: 5px 26px 5px 10px;
}
.copyright span{
    color: silver;
    font-family: Arial;
    font-size: 12px;
    letter-spacing: -0.01em;
}

/*MEDIA QUERIES------------------------*/

@media (max-width: 960px) {    
    .header{
        padding: 0px 2.91vw 0px 4.37vw;
    }
    .demo-wrap {
        height: 36.66vw;
        padding: 4.47vw 1.35vw 2.29vw 3.95vw;
    }
    .demo-wrap h1 {
        font-size: 6.25vw;
        margin: 1.56vw 0px 4.79vw 0px;
        line-height: 7.29vw;
    }
    .demo-wrap .btn-default{
        margin-left: 5.62vw;
    }
    .video-wrap{
        padding-bottom:2.7vw; 
    }
    .video-wrap figure {
        padding-bottom: 4.58vw;
    }
    .title i {
        display: none;
    }
    .content {
        padding: 5.1vw 3.64vw 2.08vw 4.06vw;
    }
    .sidebar {
        padding: 5.2vw 2.18vw 5px 2.6vw;
    }
    .banner {
        min-height: 10.93vw;
    }
    .banner h2{
        font-size: 4.16vw; 
        line-height: 4.16vw;
    }
    .banner .btn-default, .banner .btn-alt {
        min-width: 26.25vw;
        font-size: 2.08vw;
        height: 6.35vw;
        padding: 0px 2.08vw;
    }
    .banner .btn-default::before, .banner .btn-alt::before, .banner .btn-default::after,
    .banner .btn-alt::after, .banner .btn-alt i, .banner .btn-default i {
        display: none;
    }
    .banner {
        padding: 5px 1.87vw 5px 2.7vw;
    }
    .articles > article {
        margin-bottom: 4.375vw;
    }
    .grid {
        padding-top: 3.75vw;
    }
    .grid > article {
        padding-bottom: 3.54vw;
    }
}
@media (max-width: 800px) {
    .copyright{
        padding: 5px 10px 20px 10px;
    }
    .copyright span{
        padding-top: 10px;
    }
    .links-nav a, .links-nav a:first-child, .links-nav a:last-child {
        min-height: 24px;
        align-items: center;
        margin: 1px;
        padding: 0px 5px;
    }
    .demo-wrap {
        height: 38.5vw;
    }
}
@media (max-width: 640px) {
    .sidebar{
        order: 2;
    }
    .banner{
        order: 1;
    }
    .demo-wrap .btn-default, .demo-wrap .btn-alt{
        min-width: 9.8vw;
        height: 50px;
    }
    .demo-wrap .btn-default::before, .demo-wrap .btn-alt::before, .demo-wrap .btn-default::after,
    .demo-wrap .btn-alt::after, .demo-wrap .btn-alt i, .demo-wrap .btn-default i {
        display: none;
    }
    .banner .btn-alt, .banner .btn-default{
        height: 40px;
    }
    .footer{
            padding: 30px 5px 5px 9px;
    }
}
@media (max-width: 480px) {
    .demo-wrap{
        height: auto;
        padding: 3.8vw 10px 2.34vw 10px;       
    }
    .demo-wrap h1 {
        width: 100%;
        order: 0;
        text-align: center;
        font-size: 30px;
        line-height: 32px;
    }
    .video-wrap{
        order: 1;
        width: 100%;
        padding-bottom: 6.4vw;
    }
    .demo-wrap .btn{
        order: 2;
        margin: 0;
    }
    .grid figure{
        width: 35%;
        float: left;
        margin-right: 10px;
    }
    .banner .btn-default, .banner .btn-alt {
        margin: 5px;
        font-size: 12px;
    }   
}