@font-face {
    font-family: CoffeeService;
    src: url('/fonts/CoffeeService.otf');
}
@font-face {
    font-family: SansusWebissimo;
    src: url('/fonts/SansusWebissimo/SansusWebissimoRegular/SansusWebissimoRegular.ttf');
}