
/* FONTS */
@font-face {
    font-family: BrandonPrinted;
    src: url('/fonts/fontsquirel.com/brandonprinted-one.woff2') format('woff2'), url('/fonts/fontsquirel.com/brandonprinted-one.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */
.icon-fb {width: 7px; height: 14px; background: url('/images/icons/fb.png');}
.icon-rss {width: 12px; height: 12px; background: url('/images/icons/rss.png');}
.icon-tb {width: 8px; height: 13px; background: url('/images/icons/tb.png');}
.icon-tw {width: 16px; height: 13px; background: url('/images/icons/tw.png');}