.icon-anchor {width: 8px; height: 8px; background: url('/images/icons/anchor.png');}
.icon-arrow-down {width: 8px; height: 8px; background: url('/images/icons/arrow-down.png');}
.icon-next {width: 16px; height: 16px; background: url('/images/icons/next.png');}
.icon-prev {width: 16px; height: 16px; background: url('/images/icons/prev.png');}