@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* FONTS */

@font-face {
    font-family: 'MarketDeco';
    src: url('../fonts/fontsquirel.com/market_deco.woff2') format('woff2'), url('/fonts/fontsquirel.com/market_deco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */

.icon-db {width: 25px; height: 25px; background: url('../images/icons/db.png');}
.icon-fb {width: 25px; height: 25px; background: url('../images/icons/fb.png');}
.icon-in {width: 25px; height: 25px; background: url('../images/icons/in.png');}
.icon-left {width: 9px; height: 13px; background: url('../images/icons/left.png');}
.icon-pin {width: 25px; height: 25px; background: url('../images/icons/pin.png');}
.icon-right {width: 9px; height: 13px; background: url('../images/icons/right.png');}
.icon-rss {width: 25px; height: 25px; background: url('../images/icons/rss.png');}
.icon-search {width: 11px; height: 11px; background: url('../images/icons/search.png');}
.icon-tw {width: 25px; height: 25px; background: url('../images/icons/tw.png');}
.icon-tweet {width: 16px; height: 12px; background: url('../images/icons/tweet.png');}/* ELEMENTS */

.links-nav a, .links-nav a:first-child, .links-nav a:last-child{
    color: #f3f3f3;
    font-family: MarketDeco;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px 23px;
    letter-spacing: -0.002em;
}
.links-nav{
    width: 100%;
    justify-content: center;
    min-height: 32px;
    border-top: 1px solid rgba(0,0,0,.11);
    border-bottom: 1px solid rgba(0,0,0,.11);
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    text-decoration: underline;
}
.nav{
    position: relative;
    margin: 0px -10px 0px -10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    padding: 5px 0px;
    background-color: #b05a5a;
    background-image: linear-gradient(to top, rgba(81, 81, 81, 0.01) 0%, rgba(209, 209, 209, 0.01) 100%);
}
.nav:before, .nav:after{
    content: "";
    position: absolute;
    border-top: 10px solid #854444; 
    bottom: -10px;
}
.nav:before{
    left: 0px;
    border-left: 10px solid transparent; 
}
.nav:after{
    right: 0px;
    border-right: 10px solid transparent; 
}
.links-social{
    justify-content: flex-end;
    padding-right: 3px;
}
.links-social a, .links-social a:first-child, .links-social a:last-child{
    margin: 3px;
}
.links-breadcrumbs{
    justify-content: center;
    padding: 49px 10px 36px 10px;
}
.links-breadcrumbs, .links-breadcrumbs a{
    font-family: Merriweather;
    font-size: 12px;
    color: #ca6d6d;
    letter-spacing: 0.02em;
}
.links-breadcrumbs a{
    margin: 0px 7px;
}
.links-breadcrumbs a:active, .links-breadcrumbs a:hover, .links-breadcrumbs a:focus{
    text-decoration: underline;
}
.links-breadcrumbs a:last-child:active, .links-breadcrumbs a:last-child:hover, .links-breadcrumbs a:last-child:focus{
    text-decoration: none;
}
.links-breadcrumbs > a:last-child {
    color: #a7a7a7;
}
.btn-thumb{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.09);
}
.btn-search{
    width: 25px;
    height: 25px;
    background: #404040;
}
input[type="search"]{
    width: 57px;
    height: 25px;
    border: 1px solid #a3a3a3;
    border-right: none;
    padding: 0px 7px 0px 7px;
    font-family: Merriweather;
    font-size: 11px;
    color: #333;
}
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
input[type="search"]::-webkit-input-placeholder, .form-footer input::-webkit-input-placeholder, .form-footer textarea::-webkit-input-placeholder,
.form-default input::-webkit-input-placeholder, .form-default textarea::-webkit-input-placeholder{
    color: silver;
    font-family: Merriweather;
    font-size: 11px;
}
input[type="search"]::-moz-placeholder, .form-footer input::-moz-placeholder, .form-footer textarea::-moz-placeholder, 
.form-default input::-moz-placeholder, .form-default textarea::-moz-placeholder{
    color: silver; 
    font-family: Merriweather;
    font-size: 11px;
}
input[type="search"]:-ms-input-placeholder, .form-footer input:-ms-input-placeholder, .form-footer textarea:-ms-input-placeholder,
.form-default input:-ms-input-placeholder, .form-default textarea:-ms-input-placeholder{
    color: silver;
    font-family: Merriweather;
    font-size: 11px;
}
.form-footer input, .form-footer textarea{
    max-width: 219px;
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgba(0,0,0,.33);
    font-family: Merriweather;
    font-size: 11px;
    color: white;
    outline: none;
}
.form-footer input{
    height: 35px;
    padding: 0px 10px;
    margin-bottom: 10px;
}
.form-footer textarea{
    height: 153px;
    padding: 10px;
    margin-bottom: 11px;
}
.form-default input, .form-default textarea{    
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #dedede;
    outline: none;
    font-family: Merriweather;
    font-size: 11px;
    color: #333;
    margin-bottom: 20px;
}
.form-default input{
    height: 40px;
    padding: 0px 10px;
    max-width: 713px;
}
.form-default textarea{
    height: 189px;
    padding: 10px;
    max-width: 959px;
}
.btn-submit, .btn-submitalt{    
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.22);
    font-family: Merriweather;
    font-size: 13px;
    padding: 0px 5px;
}
.btn-submit{
    min-width: 122px;
    min-height: 30px;
    border-radius: 3px;
    background-image: linear-gradient(to top, #4b4b4b 0%, #5b5b5b 50%, #606060 51%, #6a6a6a 100%);
    border: 1px solid #383838;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.33);
    color: white;
    letter-spacing: -0.04em;
}
.btn-submitalt{
    min-width: 111px;
    min-height: 31px;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);
    color: #fffefe;
    background-image: linear-gradient(to top, #953f3f 0%, #a34e4e 50%, #a95353 51%, #b45f5f 100%);
    border: 1px solid #161616;
}
a{
    text-decoration: none;
}
figure img{
    display: block;
    width: 100%;
    height: 100%;
}
/* $------------------------------------------------------------------------- */
body{
    padding-top: 50px;
    background: url("../images/bg.png");
}
.lwrap{
    max-width: 1040px;
}
.header{
    padding: 15px 40px 10px 40px;
    min-height: 113px;
}
.wrap{
    background-color: white;
    box-shadow: 0 0 3px rgba(46, 41, 30, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.7), inset 0 0 30px rgba(0, 0, 0, 0.09);
}
#logo{
    margin-right: 20px;
}
.slider{
    position: relative;
}
.slider .lwrap{
    position: relative;
}
.slider .lwrap:before, .slider .lwrap:after{
    content: "";
    background: white;
    height: 20px;
    width: 100%;
    max-width: 92%;
    display: block;
    position: absolute;
    left: 4%;
    right: 4%;
    box-shadow: 0px -4px 8px 0px white;
}
.slider .lwrap:before{
    top: -20px;
}
.slider .lwrap:after{
    bottom: -20px;
    top: auto;
}
.slider-caption{
    position: relative;
    z-index: 1;
    padding: 35px 10px 27px 10px;
}
.slider-caption .details small{
    padding: 0px 9px 0px 8px;
}
.slider-caption .details, .slider-caption .details a{
    font-size: 14px;
    letter-spacing: 0.01em;
}
.slider-caption h1{
    color: #ca6d6d;
    font-family: MarketDeco;
    font-size: 30px;
    text-align: center;
    margin-bottom: 7px;
    font-weight: 400;
    letter-spacing: -0.028em;
}
.slider > .btn-thumb{
    position: absolute;
    top: 15.8%;
}
.slider > .btn-thumb:first-child{
    left: 0px;
    z-index: 1;
}
.slider > .btn-thumb:last-child{
    right: 0px;
}
.article p:first-child{
    margin-bottom: 28px;
}
.article p{
    margin-bottom: 32px;
}
p{
    letter-spacing: 0.005em;
    color: #6b6b6b;
    font-family: Merriweather;
    font-size: 15px;    
    line-height: 27px;
}
.content{
    padding: 24px 33px 71px 40px;
}
.content h2{
    color: #ca6d6d;
    font-family: MarketDeco;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.043em;
    margin-bottom: 7px;
}
.posts{
    padding: 38px 7px 17px 0px;
}
.posts h2{
    margin: 0px 0px 31px 14px;
    font-weight: 400;
    letter-spacing: -0.022em;
}
.post figure{
    min-width: 80px;
    margin: 1px 20px 0px 0px;
}    
.post .post{
    padding-left: 120px;
}
.post > article > div{
    background: #f4f4f4;
    padding: 18px 108px 12px 20px;
}
.post article{
    padding-bottom: 20px;
}
.post h4{
    color: #ca6d6d;
    font-family: MarketDeco;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin-bottom: 14px;
}
.article{
    padding-bottom: 20px;
}
.divider{
    display: block;
    margin: 0px auto;
}
.grid{
    padding: 20px 7px 0px 0px;
}
.grid > article{
    width: 31.4%;
    margin-bottom: 11px;
}
.grid h3{
    margin: 27px 0px 8px 8px;
    font-weight: 400;
    letter-spacing: -0.04em;
}
.grid h3 a{
    color: #ca6d6d;
    font-family: MarketDeco;
    font-size: 18px;
}
.grid .details{    
    padding: 0px 0px 17px 1px;
}
.grid p{
    letter-spacing: 0.0047em;
    margin: 0px 0px 20px 9px;
}
.details small{
    padding: 0px 9px 0px 8px;
}
.details, .details a{
    color: silver;
    font-family: Merriweather;
    font-size: 12px;
}
.details a:active, .details a:hover, .details a:focus, .grid h3 a:active, .grid h3 a:hover, .grid h3 a:focus{
    text-decoration: underline;
}
.form-default{
    padding: 22px 0px 59px 0px;
}
.form-footer{
    padding-top: 5px;
}
footer{
    background-color: #191919;
    box-shadow: 0 0 3px rgba(46, 41, 30, 0.5);
    padding: 39px 25px 29px 26px;
    margin-bottom: 79px;
}
footer > div{
    width: 22.2%;
    margin-bottom: 10px;
}
footer > div > h5{
    color: #ca6d6d;
    font-family: MarketDeco;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 22px;
    letter-spacing: -0.03em;
}
.popular, .tweet{
    border-bottom: 1px solid rgba(202,109,109,.11)
}
.popular:last-child, .tweet:last-child{
    border-bottom: none;
}
footer p{
    font-family: Merriweather;
    font-size: 14px;
    color: #afafaf;
    margin-bottom: 25px;
    line-height: 25px;
}
.tweet{
    margin-bottom: 14px;
    padding: 0px 2px 13px 0px;
}
.tweet i{
    margin-right: 19px;
}
.popular{
    padding-bottom: 17px;
    margin-bottom: 14px;
}
.popular p{
    margin: 1px 0px 12px 0px;
    line-height: 22px;
}
.tweet time{
    font-family: Merriweather;
    font-size: 14px;
    color: #ca6d6d;
}
.popular time{
    color: #5f5f5f;
    font-family: Merriweather;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .nav:before, .nav:after{
        display: none;
    }
    .nav{
        margin: 0px;
    }
    body {
    padding-top: 4.16vw;
}
.links-breadcrumbs {
    padding: 4.08vw 10px 3vw 10px;
}
.header{
    padding: 15px 3.33vw 10px 3.33vw;
}
.slider-caption{
    padding: 2.91vw 10px 2.25vw 10px;
}
.content {
    padding: 2vw 2.75vw 5.91vw 3.33vw;
}
.article p:first-child {
    margin-bottom: 2.33vw;
}
.article p {
    margin-bottom: 2.66vw;
}
.grid {
    padding: 1.66vw 0.58vw 0px 0px;
}
.posts {
    padding: 3.16vw 0.58vw 1.41vw 0px;
}
.post figure {
    margin: 1px 1.66vw 0px 0px;
}
.post > article > div {
    padding: 1.5vw 9vw 1vw 1.66vw;
}
.form-default {
    padding: 1.83vw 0px 4.91vw 0px;
}
footer {
    margin-bottom: 6.58vw;
    padding: 3.25vw 2.08vw 0.75vw 2.16vw;
}
}
@media (max-width: 960px) {
    .slider .lwrap:before, .slider .lwrap:after{
        display: none;
    }
}
@media (max-width: 800px) {    
    .post > article > div {
    padding: 1.5vw 1.66vw 1vw 1.66vw;
}
footer > div {
    width: 45%;
}
.form-footer input, .form-footer textarea {
    max-width: 100%;
}
}
@media (max-width: 640px) {
    .grid figure{
        float: left;
        width: 38%;
        margin-right: 10px;
    }
    .grid h3 {
    margin: 0px 0px 3px 0px;
}
.grid p{
    margin: 0px 0px 10px 0px;
}
}
@media (max-width: 480px) {
    .post figure {
        min-width: 50px;
        max-width: 50px;
    }
        .links-social {
    padding-right: 0px;
    padding-bottom: 10px;
}
.post .post {
    padding-left: 10vw;
}
}
@media (max-width: 320px) {
    #logo{
        margin-right: 0px;
    }
}