body{
    font-family: Lato;
    font-size: 12px;
}

/*LINKS*/
.links-nav a{
    color: #4d7b87;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.01em;
    padding: 0px 3px;
    margin: 0px 7rem;
    position: relative;
    line-height: 24px;
}
.links-nav a.active:before, .links-nav a:active:before, .links-nav a:hover:before, .links-nav a:focus:before{
    width: 100%;
    height: 6px;
    background: #1f987d;
    content: "";
    position: absolute;
    top: -37rem;
    left: 0px;
}
.links-social{
    padding-top: 7px;
    border-top: 1px solid rgba(0,0,0,.5);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.5);
    margin: 0px 2px 0px -2px;
}
.links-social a{
    margin: 2px 3px 2px 0px;
}
.links-widget{
    padding-top: 3px;
}
.links-widget a{
    color: white;
    margin-bottom: 9px;
}
.links-widget a:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin: 4px 8px 0px 0px;
    border-radius: 50%;
    background: linear-gradient(#39b54a, #2c973b);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);
}
.links-widget a:active, .links-widget a:hover, .links-widget a:focus{
    text-decoration: underline;
}
.links-side, .links-categories{
    max-width: 460px;
    margin-bottom: 30rem;
}
.links-side{    
    border: 1px solid #d2cbcb;
    border-top: none;
    box-shadow: 0px 0px 0px 1px #e4e0e0;
}
.links-side a{
    color: #2a535e;
    font-size: 14px;
    padding: 5px 0px 7px 10px;
    border-top: 1px solid #d2cbcb;
    box-shadow: 0px -1px 0px 0px #e4e0e0;
}
.links-side a.active, .links-side a:active, .links-side a:hover, .links-side a:focus{
    color: white;
    position: relative;
    margin-left: -1px;
    text-indent: 1px;
    background: linear-gradient(90deg, #2a535e, #2a535e 6px, #1f987d 6px, #1f987d);
    border-top: 1px solid transparent;
    box-shadow: -1px 0px 0px 0px rgba(42,83,94,0.5), 1px 0px 0px rgba(31,152,125,.5);
}
.links-side a.active + a, .links-side a:active + a, .links-side a:hover + a, .links-side a:focus + a {
    box-shadow: none;
    border-top: 1px solid rgba(31,152,125,.3);
}
.links-side a.active + a:active, .links-side a.active + a:hover, .links-side a.active + a:focus,
.links-side a:active + a.active, .links-side a:hover + a.active, .links-side a:focus + a.active{
    box-shadow: -1px 0px 0px 0px rgba(42,83,94,0.5), 1px 0px 0px rgba(31,152,125,.5);
}
.links-categories li{
    border-bottom: 1px solid rgba(31,152,125,.5);
    padding: 4px 2px 6px 0px;
    font-weight: 300;
}
.links-categories span{
    min-width: 19px;
    line-height: 19px;
    background: #2a535e;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    color: white;
}
.links-categories a{
    color: #2a535e;
    font-size: 14px;
}
.links-categories a:active, .links-categories a:hover, .links-categories a:focus{
    text-decoration: underline;
}

/*LABELS*/
.lbl{
    flex-shrink: 0;
}
.lbl-twit{
    width: 43px;
    height: 37px;
    background: #2a535e;
    position: relative;
    margin: 6rem 9px 0px 0px;
    box-shadow: 1px 1px 0px 0px rgba(42,83,94,0.3);
}
.lbl-twit:after{
    content: "";
    right: -4px;
    top: 7px;
    position: absolute;
    border-left: 5px solid #2a535e;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.lbl-twidget{
    width: 41px;
    width: 39px;
    height: 40px;
    margin: 19rem -1rem 0px 1rem;
    border-radius: 6px 0px 0px 6px;
    background-color: #167862;
    position: relative;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.41);
}
.lbl-twidget:before, .lbl-twidget:after{
    content: "";
    top: 14px;
    position: absolute;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
.lbl-twidget:before{
    right: -7px;    
    border-left: 6px solid rgba(255, 255, 255, 0.41);
}
.lbl-twidget:after{
    right: -5px;
    border-left: 6px solid #167862;
}

/*CITES*/
blockquote{
    border-left: 5px solid #2a535e;
    margin: 0px 0px 30rem 1rem;
}
blockquote q{
    border: 1px solid #d2cbcb;
    border-left: none;
    color: #2a535e;
    padding: 3px 11px 8px 13px;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

/*TABS*/
.accordion{
    margin-bottom: 29rem;
}
.accordion > div, .tabpanel, .tablist > a{
    border: 1px solid #d2cbcb;
    color: #2a535e;
}
.accordion > div{
    padding: 15rem 9rem 10rem 10rem;
}
.accordion > a{
    height: 32px;
    background: #f1f1f1;
    border: 1px solid #d2cbcb;
    margin-top: 3px;
    padding-left: 9px;
    letter-spacing: -0.02em;
    color: #2a535e;
    line-height: 14px;
}
.accordion a:first-child{
    margin-top: -1px;
}
.accordion > a:after{
    content: "";
    width: 34px;
    height: 32px;
    margin: -1px;
    background: #1f987d url(/images/icons/down.png)no-repeat center center;
}
.accordion > a.active, .accordion > a:active, .accordion > a:hover, .accordion > a:focus{
    background: #2a535e;
    border: 1px solid #2a535e;
    color: white;
}
.accordion > a.active:after, .accordion > a:active:after, .accordion > a:hover:after, .accordion > a:focus:after{
    background: #1f987d url(/images/icons/up.png)no-repeat center center;
}
.accordion p, .tabs p{
    margin-bottom: 7px;
}
.tabs{
    padding-top: 1px;
    margin-bottom: 10px;
}
.tablist > a{
    border-bottom: none;
    height: 30px;
    min-width: 61px;
    margin-right: 1px;
    letter-spacing: 0.01em;
    padding: 2px;
}
.tablist > a.active, .tablist > a:active, .tablist > a:hover, .tablist > a:focus{
    background: #1f987d;
    border: 1px solid #1f987d;
    color: white;
}
.tabpanel{
    padding: 18rem 11rem 11rem 19rem;
}

/*BUTTONS*/
.btn-default{
    min-width: 74px;
    padding: 0px 5px;
    height: 26px;
    background: linear-gradient(#39b54a, #2c973b);
    border: 1px solid rgba(18, 80, 27, 0.72);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85);
    color: white;
    font-weight: 900;
}

/*FORMS*/
input[name=input], .textarea{
    width: 100%;
    max-width: 460px;
    background: white;
    border: 1px solid rgba(2, 36, 28, 0.56);
    box-shadow: inset 2px 2px 15px rgba(0, 0, 0, 0.24);
    margin-bottom: 6px;    
}
input[name=input], textarea{
    outline: none;
    color: black;
    height: 36px;
}
input[name=input]{
    padding: 0px 7px;
    line-height: 12px;
}
textarea{
    padding: 7px 9px;
    width: 100%;
    background: none;
    border: none;
    resize: none;
}
.textarea .btn-default{
    border-radius: 2px 0px 0px 0px;
    border-right: none;
    border-bottom: none;
}
input[name=input]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #a29d9d; font-style: italic; }
input[name=input]::-moz-placeholder, textarea::-moz-placeholder { color: #a29d9d; font-style: italic; }
input[name=input]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #a29d9d; font-style: italic; }

/*OTHER*/
.breadcrumbs{
    border-top: 1px solid #a6cdd7;
    border-bottom: 1px solid #a6cdd7;
    padding: 6px 0px;
    font-size: 11px;
    margin-bottom: 1px;
}
.breadcrumbs, .breadcrumbs a{
    color: #2a535e;
}
.breadcrumbs span{
    padding: 0px 4px;
}
.breadcrumbs a:active, .breadcrumbs a:hover, .breadcrumbs a:focus{
    text-decoration: underline;
}
.breadcrumbs a:last-child:active, .breadcrumbs a:last-child:hover, .breadcrumbs a:last-child:focus{
    text-decoration: none;
    cursor: default;
}
.hdr{
    background: #1f987d;
}
.hdr h1{
    text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    padding: 15rem 10rem 14rem 11rem;
}