@font-face {
    font-family: 'SansusWebissimo';
    src: url('../fonts/sansus-webissimo/Sansus Webissimo-Regular.otf');
}
@font-face {
    font-family: 'CoffeeService';
    src: url('../fonts/CoffeeService.otf');
}
a{
    text-decoration: none;
}
p{
    color: #b7926c;
    font: 12px/19px "Helvetica";
}
.view{
    text-decoration: underline;
    color: #b7926c;
    font: 12px/19px "Helvetica";
}
.hdr{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    color: #765028;

    font: 18px/26px "SansusWebissimo";
}
.hdr + span{
    padding: 0px 0px 0px 5px;
    color: #d7b897;
    font: 12px/19px "Helvetica";
}
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
.icon-rss, .icon-tw, .icon-fb{
    width: 22px;
    height: 22px;
}
.icon-fb{background: url('../images/icons/22x22/fb.png');}
.icon-rss{background: url('../images/icons/22x22/rss.png');}
.icon-tw{background: url('../images/icons/22x22/tw.png');}
.icon-plus{
    width: 7px;
    height: 7px;
    background: url('../images/icons/plus.png');
}
.icon-cart{
    width: 28px;
    height: 17px;
    background: url('../images/icons/cart.png');
}
.icon-plus-sm{
    width: 5px;
    height: 5px;
    background: url('../images/icons/plus-sm.png');
}
header{
    background: url('../images/bg1.png')no-repeat;
    background-size: cover;
    padding: 59px 0px 0px 0px;
}
.nav > div{
    flex-wrap: wrap;
}
.nav a.logo{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    color: #ce8f15;
    font: 24px/21px "CoffeeService";
    text-transform: capitalize;
    margin: 0px 32px 0px 0px;
}
.nav a.contact{
    color: rgba(177,136,92,.52);
}
.nav a{
    color: #b1885c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font: 14px "CoffeeService";
    text-transform: uppercase;
    margin: 0px 14px 0px 13px;
}
.nav{
    padding: 3px 27px 0px 28px;
    flex-wrap: wrap;
    min-height: 38px;
    border-top: 1px solid #e8e5df;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background-color: #fdfdfd;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 0 4px rgba(0, 0, 0, 0.01);
}
.nav + small{
    color: rgba(177,136,92,.52);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font: 14px "CoffeeService";    
    margin: 6px 0px 0px 31px;
    display:  inline-block;
}
header .lwrap{
    padding: 0px 10px 66px 10px;
    background: url('../images/shadow3.png')no-repeat center bottom;
}
.btn-slide{
    width: 21px;
    height: 43px;
    background-color: #b6976f;
}
.slider{
    padding: 0px 50px 0px 1px;
}
.slider img{
    width: 100%;
}
.slider > div{
    margin: 0px 0px 6px 8px;
}
.slider h5{
    color: #926a2c;
    font: 700 12px "Helvetica";
    margin: 0px 0px 8px 0px;
}
.slider li{
    color: #d4a65d;
    font: 700 11px/13px "Helvetica";
}
.slider.alt .btn-slide{
    width: 13px;
    height: 27px;
    background-color: #e4d1b7;
}
.slider-wrap{
    padding: 50px 0px 38px 0px;
}
.slider-side{
    padding: 43px 0px 0px 0px;
}
.slider.alt .slider-side {
    padding: 0px 0px 0px 0px;
}
.slider-side.next:before, .slider-side.prev:after{
    content: "";
    width: 8px;
    height: 113px;
    position: relative;
    z-index: 1;
}
.slider.alt .slider-side.next:before, .slider.alt .slider-side.prev:after{
    width: 5px;
    height: 69px;
}
.slider-side.prev .btn-slide{
    margin: 0px -8px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}
.slider.alt .slider-side.next .btn-slide{
    margin: 0px 0px 0px -5px;    
}
.slider.alt .slider-side.prev .btn-slide{
    margin: 0px -5px 0px 0px;
}
.slider-side.next .btn-slide{
    margin: 0px 0px 0px -8px;
    border-radius: 0px 20px 20px 0px;
}
.slider-side.next:before{   
    background: url('../images/shadow2.png');
}
.slider-side.prev:after{
    background: url('../images/shadow1.png');
}
.slider.alt .slider-side.next:before{   
    background: url('../images/shadow5.png');
}
.slider.alt .slider-side.prev:after{
    background: url('../images/shadow4.png');
}
.slider.alt + h3{
    color: #987046;
    font: 12px/19px "Helvetica";
    position: relative;
    margin: -32px 0px 2px 2px;
    letter-spacing: -0.01em;
}
.slider.alt + h3 + p{
    font: 11px/15px "Helvetica";
    margin: 0px 0px 21px 2px;
    letter-spacing: 0.003em;
}
.slider-wrap ~ h1{
    text-align: center;
    color: rgba(177,136,92,.52);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    font: 24px "CoffeeService"; 
}
.slider-wrap ~ h1 ~ p{
    text-align: center;
    color: #c8a37c;
    font: 12px "SansusWebissimo";
}
.slider > figure:first-child{
    margin: 20px 0px 0px 0px;
}
.daily-wrap{
    padding: 54px 0px 40px 0px;
}
.daily-slider{
    margin: 0px -15px 23px -15px;   
}
.daily-slider img{
    width: 100%;
}
.daily-slider h4{
    font: 12px "Helvetica";
    margin: 8px 0px 1px 0px;
}
.daily-slider article{
    margin: 5px;
    min-width: 97px;
}
.daily-slider h4 a{
    color: #946c42;
}
.daily-slider a:hover{
    text-decoration: underline;
}
.daily-slider span{
    color: #b7926c;
    font: 10px "Helvetica";
}
.range-wrap{
    max-width: 537px;
    border-radius: 4px;
    margin: auto;
    background-color: rgba(255, 220, 162, 0.8);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
.range-handle{
    width: 163px;
    height: 6px;
    background: rgba(118,80,40,.1) url('../images/handle.png') no-repeat center center;
}
.about > p:last-child{
    margin: 0px 0px 10px 0px;    
}
.content-wrap {
    padding: 13px 0px 37px 0px;
    background: url('../images/shadow6.png') no-repeat center bottom;
}
.content-wrap .hdr{
    margin: 0px 0px 2px 0px;
}
.offer .hdr{
    margin: 0px 0px 4px 0px;
}
.content-wrap > div:first-child{
    width: 49%;
}
.content-wrap > div:last-child{
    width: 41.4%;
}
.content-wrap p{
    margin: 0px 0px 19px 0px;
    position: relative;
    letter-spacing: -0.004em;
}
.old{
    text-decoration: line-through;
    color: #931d1d;
}
.old span{
    color: #b7926c;
    font: 22px "SansusWebissimo";
}
.new{
    font: 34px/30px "SansusWebissimo";
    color: #be4c7d;
    margin: 2px 20px 0px 0px;
    letter-spacing: 0.03em;
}
.slider.alt{
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: -3px -35px 0px -25px;
}
.cart{
    border-radius: 20px;
    border-top: 1px solid #e8e5df;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    min-width: 140px;
    background-color: #fdfdfd;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0.21) 100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), inset 0 1px 0 rgba(255, 255, 255, 0.75), 0 0 0 4px rgba(0, 0, 0, 0.01);
    margin: 0px 0px -4px 0px;
}
.cart .btn{
    width: 34%;
}
.cart .btn-cart{
    width: 63%;
}
.btn-cart{
    color: #735659;
    font: 14px "SansusWebissimo";

    min-height: 36px; 
    border-right: 1px solid #fff;
    box-shadow: 1px 0px 0px 0px #ebd8c5;
}
.slider.alt .slider-side{
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
}
.slider.alt .slider-side.prev{
    left: 8px;
}
.slider.alt .slider-side.next{
    right: 24px;
}
.offer{
    padding: 23px 25px 0px 0px;
}
.offer > div:first-child{
    width: 59%;
    padding: 0px 0px 8px 0px;
}
.offer p{
    margin: 0px 0px 15px 0px;
}
.testimonials{
    padding: 40px 0px 0px 0px;
}
.testimonials > div{
    margin: 0px -38px 0px -6px;
    flex-wrap: wrap;
}
.testimonials cite{
    color: #9b754d;
    font: 11px/19px "Helvetica";
    letter-spacing: 0.01em;
}
.testimonials blockquote p{
    font: 11px/15px "Helvetica";
    margin: 0px 0px 5px 0px;
}
.testimonials blockquote {
    margin: 10px 25px 5px 5px;
    flex: 1;
    min-width: 100px;
}
.form-wrap{
    padding: 58px 0px 20px 0px;
}
.form-wrap .hdr{
    margin: 0px 0px 9px 0px;
}
.form-wrap p{
    margin: 0px 0px 8px 0px;
}
.form-wrap form{
    margin: 0px 0px 15px 0px;
    max-width: 387px;
    height: 38px;
    padding: 4px 3px 3px 3px;
    background-color: rgba(255, 220, 162, 0.6);
    background-image: linear-gradient(to top, transparent 0%, transparent 100%);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 4px rgba(3, 3, 3, 0.2);
}
.form-wrap form input{
    border: none;
    background: none;
    color: #c2a281;
    font-family: "Helvetica";
    font-size: 12px;
    padding: 0px 0px 0px 12px;
}
.form-wrap form button{
    width: 24.2%;
}
.btn-submit{
    font: 12px "Helvetica";    
    height: 30px;
    width: 100%;
    padding: 2px;
    background-color: white;
    background-image: linear-gradient(to top, #3e1116 0%, #7d4249 100%);
    border: 1px solid #fae5c3;
    border-radius: 3px;
    color: #c2a281;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 2px 0 rgba(255, 255, 255, 0.2);
}
input::-webkit-input-placeholder {
    color: #c2a281;
    font-family: "Helvetica";
    font-size: 12px;
}
input::-moz-placeholder {
    color: #c2a281;
    font-family: "Helvetica";
    font-size: 12px;
}
input:-ms-input-placeholder {
    color: #c2a281;
    font-family: "Helvetica";
    font-size: 12px;
}
footer nav{
    flex-wrap: wrap;
}
footer{
    flex-wrap: wrap;
}
.social{
    flex-wrap: wrap;
    margin: 0px -5px 0px 0px;
}
footer{
    padding: 47px 0px 55px 0px;
}
footer nav a:hover{
    text-decoration: underline;
}
footer nav{
    margin: 4px 0px 0px 0px;
}
footer a, footer span{
    color: #b7926c;
    font: 11px "Helvetica";
}
footer nav span{
    padding: 0px 6px 0px 6px;
}
footer span a{
    padding: 0px 5px 0px 5px;
}
.social a{
    margin: 2px 0px 3px 9px;
}
@media (max-width: 980px) {
    .slider.alt {
        position: relative;
        padding: 0px;
        margin: -3px 0px 0px 0px;
    }
}
@media (max-width: 930px) {
    .offer{
        flex-direction: column;
        align-items: flex-start;
    }
    .offer > div:first-child {
        width: 100%; 
    }
}
@media (max-width: 900px) {
    .slider {
        padding: 0px 20px 0px 0px;
    }
    .daily-slider {
        margin: 0px 0px 23px 0px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width: 620px) {
    .content-wrap{
        flex-direction: column;
    }
    .content-wrap > div:last-child, .content-wrap > div:first-child {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .daily-slider {
        flex-direction: column;
        align-items: center;
    }
}