.hdr{
    position: relative;
}
.hdr:before{
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    border-bottom: 1px solid silver; 
    border-top: 5px solid silver;
    top: 40%;
    left: 0px;
    z-index: -1;
}
.hdr h2{
    text-shadow: 0 1px 0 white;
    color: #e23500;
    font: 30px Rockwell;
    background-color: #fff;
    padding: 0px 35px;
}
.links-social{
    flex-wrap: wrap;
    max-width: 200px;
}
.links-social a, .links-social a:first-child, .links-social a:last-child{
    margin: 12px;
}
.links-default a{
    color: #2c2c2b;
    font: 15px/20px Lucida;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    text-decoration: underline;
}
.range-wrap{
    max-width: 240px;
}
.range span{
    color: #e23500;
font: 300 8px Lucida;
text-transform: uppercase;
}
.level-wrap{
    border-radius: 5px;
    background-image: linear-gradient(to top, #d7dce2 0%, #bfc6cb 85%, #f2f5f7 100%);
box-shadow: 0 1px 0 white, inset 0.5px 0.9px 1px rgba(0, 0, 0, 0.5);
}
.level{
    border-radius: 5px;
    height: 10px;
background-image: linear-gradient(to top, #043f81 0%, #0183bc 100%);
    width: 80%;
}