@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* ICONS */
.icon-anchor {width: 42px; height: 24px; background: url('/images/icons/anchor.png');}
.icon-arabic {width: 20px; height: 20px; background: url('/images/icons/arabic.png');}
.icon-arrow {width: 40px; height: 40px; background: url('/images/icons/arrow.png');}
.icon-blog {width: 20px; height: 20px; background: url('/images/icons/blog.png');}
.icon-chair {width: 96px; height: 72px; background: url('/images/icons/chair.png');}
.icon-coub {width: 88px; height: 100px; background: url('/images/icons/coub.png');}
.icon-facebook {width: 24px; height: 24px; background: url('/images/icons/facebook.png');}
.icon-facebookb {width: 24px; height: 24px; background: url('/images/icons/facebookb.png');}
.icon-facebookg {width: 24px; height: 24px; background: url('/images/icons/facebookg.png');}
.icon-globe {width: 68px; height: 84px; background: url('/images/icons/globe.png');}
.icon-gplus {width: 24px; height: 24px; background: url('/images/icons/gplus.png');}
.icon-gplusb {width: 24px; height: 24px; background: url('/images/icons/gplusb.png');}
.icon-head {width: 124px; height: 152px; background: url('/images/icons/head.png');}
.icon-heartg {width: 32px; height: 32px; background: url('/images/icons/heartg.png');}
.icon-hearty {width: 32px; height: 32px; background: url('/images/icons/hearty.png');}
.icon-instagram {width: 24px; height: 24px; background: url('/images/icons/instagram.png');}
.icon-instagramb {width: 24px; height: 24px; background: url('/images/icons/instagramb.png');}
.icon-instagramg {width: 24px; height: 24px; background: url('/images/icons/instagramg.png');}
.icon-jobs {width: 24px; height: 24px; background: url('/images/icons/jobs.png');}
.icon-lamp {width: 108px; height: 116px; background: url('/images/icons/lamp.png');}
.icon-link {width: 24px; height: 24px; background: url('/images/icons/link.png');}
.icon-linkeding {width: 24px; height: 24px; background: url('/images/icons/linkeding.png');}
.icon-mail {width: 32px; height: 32px; background: url('/images/icons/mail.png');}
.icon-marker {width: 92px; height: 120px; background: url('/images/icons/marker.png');}
.icon-mobile {width: 68px; height: 88px; background: url('/images/icons/mobile.png');}
.icon-more {width: 24px; height: 24px; background: url('/images/icons/more.png');}
.icon-mouse {width: 92px; height: 96px; background: url('/images/icons/mouse.png');}
.icon-projects {width: 140px; height: 152px; background: url('/images/icons/projects.png');}
.icon-search {width: 28px; height: 28px; background: url('/images/icons/search.png');}
.icon-setting {width: 88px; height: 88px; background: url('/images/icons/setting.png');}
.icon-support {width: 20px; height: 20px; background: url('/images/icons/support.png');}
.icon-target {width: 132px; height: 116px; background: url('/images/icons/target.png');}
.icon-tree {width: 96px; height: 116px; background: url('/images/icons/tree.png');}
.icon-twitter {width: 28px; height: 28px; background: url('/images/icons/twitter.png');}
.icon-twitterb {width: 28px; height: 28px; background: url('/images/icons/twitterb.png');}
.icon-twitterg {width: 24px; height: 24px; background: url('/images/icons/twitterg.png');}
.icon-letterlg {width: 44px; height: 44px; background: url('/images/icons/letterlg.png');}
.icon-lettersm {width: 32px; height: 32px; background: url('/images/icons/lettersm.png');}
.icon-phonelg {width: 40px; height: 40px; background: url('/images/icons/phonelg.png');}
.icon-phonesm {width: 32px; height: 32px; background: url('/images/icons/phonesm.png');}
.icon-pointlg {width: 48px; height: 48px; background: url('/images/icons/pointlg.png');}
.icon-pointsm {width: 36px; height: 36px; background: url('/images/icons/pointsm.png');}