.icon-facebook {width: 16px; height: 16px; background: url('/images/icons/facebook.png');}
.icon-pinterest {width: 16px; height: 16px; background: url('/images/icons/pinterest.png');}
.icon-search {width: 20px; height: 20px; background: url('/images/icons/search.png');}
.icon-twitter {width: 20px; height: 20px; background: url('/images/icons/twitter.png');}
.icon-vimeo {width: 16px; height: 16px; background: url('/images/icons/vimeo.png');}