@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300,700);

/* ICONS */
.icon-dribbble-grey {width: 25px; height: 25px; background: url('/images/icons/icon-dribbble-grey.png');}
.icon-dribbble {width: 25px; height: 25px; background: url('/images/icons/icon-dribbble.png');}
.icon-heart {width: 12px; height: 10px; background: url('/images/icons/icon-heart.png');}
.icon-instagram-grey {width: 25px; height: 25px; background: url('/images/icons/icon-instagram-grey.png');}
.icon-instagram {width: 25px; height: 25px; background: url('/images/icons/icon-instagram.png');}
.icon-mail-grey {width: 25px; height: 25px; background: url('/images/icons/icon-mail-grey.png');}
.icon-mail {width: 13px; height: 13px; background: url('/images/icons/icon-mail.png');}
.icon-marker {width: 13px; height: 13px; background: url('/images/icons/icon-marker.png');}
.icon-phone {width: 13px; height: 13px; background: url('/images/icons/icon-phone.png');}
.icon-sent-alt {width: 20px; height: 20px; background: url('/images/icons/icon-sent-alt.png');}
.icon-sent-grey {width: 25px; height: 25px; background: url('/images/icons/icon-sent-grey.png');}
.icon-twitter-grey {width: 31px; height: 25px; background: url('/images/icons/icon-twitter-grey.png');}
.icon-twitter {width: 31px; height: 25px; background: url('/images/icons/icon-twitter.png');}