/* FONTS */

@font-face {
    font-family: 'DroidSans';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
    font-family: 'DroidSans';
    font-style: normal;
    font-weight: 700;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMfEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

@font-face {
    font-family: Aller;
    src: url('../fonts/Aller_Rg.ttf');
}

/* ICONS */

.icon-browser {min-width: 33px;width: 33px; height: 33px; background: url('../images/icons/browser.png');}
.icon-cloud {min-width: 34px;width: 34px; height: 33px; background: url('../images/icons/cloud.png');}
.icon-comp {min-width: 27px;width: 27px; height: 26px; background: url('../images/icons/comp.png');}
.icon-note {min-width: 33px;width: 33px; height: 33px; background: url('../images/icons/note.png');}
.icon-pen {min-width: 32px;width: 32px; height: 32px; background: url('../images/icons/pen.png');}
.icon-plus {width: 9px; height: 10px; background: url('../images/icons/plus.png');}
.icon-thumb {width: 44px; height: 44px; background: url('../images/icons/thumb.png');}

/* ELEMENTS */

a{
    text-decoration: none;
}
a.btn-login{
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 37px;
    padding: 5px 5px 6px 10px;
    background-color: rgba(61,61,61,.1);
    color: #3d3d3d;
    font: 12px Aller;
    text-transform: uppercase;
}
.links-nav{
    flex-wrap: wrap;
    background-color: #3d3d3d;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 66px 0px 19px;
    border-radius: 24px;
}
.links-nav a{
    min-height: 47px;
    color: #edece6;
    text-transform: uppercase;
    font: 12px Aller;
    margin: 0px 22px 0px 23px;
    position: relative;
}
.links-nav a:first-child{
    margin-left: 23px;
}
.links-nav a:active:before, .links-nav a:hover:before, .links-nav a:focus:before, .links-nav a.active:before{
    content: "";
    position: absolute;
    border-top: 12px solid #df530a;
    border-left: 16px solid transparent; 
    border-right: 16px solid transparent; 
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
}
.links-controls a{
    width: 8px;
    height: 8px;
    background-color: #848d9a;
    box-shadow: 0.5px 0.9px 0 white, inset 0.5px 0.9px 6px rgba(0, 0, 0, 0.5);
    margin: 2px;
    border-radius: 50%;
}
.links-controls a:active:before, .links-controls a.active:before, .links-controls a:hover:before, .links-controls a:focus:before{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #f6f8fa;
}
.btn-default, .btn-more{
    text-transform: uppercase;
    padding: 5px 25px;
    min-height: 35px;
    font: 12px DroidSans;
    border-radius: 17px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border: 1px solid gainsboro;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px white;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.16) 0%, rgba(255, 255, 255, 0.16) 100%);
}
a.btn-default{    
    color: white;
    background-color: #303030;
}
a.btn-more{
    color: #3d3d3d;    
    background-color: #f77430;
}
a.btn-thumb{
    background: url(../images/icons/thumb.png);
    width: 44px;
    height: 44px;
    color: #313132;
    font: 20px DroidSans;
}
.add{
    color: #3f454b;
    font: 14px DroidSans;
    letter-spacing: -0.015em;
}
.add span{
    border-radius: 50%;
    margin: 0px 4px 0px 0px;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to top, #eee 0%, #fafafa 100%);
    border: 1px solid rgba(220, 220, 220, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 1px white;
}
.btn-submit{
    min-width: 63px;
    min-height: 19px;
    background-color: #3d3d3d;
    border-radius: 10px;
    padding: 3px 5px 2px 5px;
    color: white;
    font: 11px DroidSans;
    text-transform: uppercase;
}
input[type="text"], textarea, input[type="email"]{
    max-width: 287px;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.06);    
    text-shadow: 0.5px 0.9px 1px white;
    color: #3f454b;
    font-family: DroidSans;
    font-size: 10px;
    line-height: 11px;    
}
textarea{
    height: 77px;
    padding: 14px 15px;
    margin: 0px 0px 9px 0px;
}
input[type="text"], input[type="email"]{
    height: 34px;
    padding: 0px 15px;
    margin: 0px 0px 6px 0px;
}
input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    text-shadow: 0.5px 0.9px 1px white;
    color: #3f454b;
    font-family: DroidSans;
    font-size: 12px;
    line-height: 11px;
}
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder {
    text-shadow: 0.5px 0.9px 1px white;
    color: #3f454b;
    font-family: DroidSans;
    font-size: 10px;
    line-height: 11px;
}
input[type="text"]:-ms-input-placeholder,input[type="email"] textarea:-ms-input-placeholder {
    text-shadow: 0.5px 0.9px 1px white;
    color: #3f454b;
    font-family: DroidSans;
    font-size: 10px; 
    line-height: 11px;
}
.links-footer a{
    border-bottom: 1px solid #e8e8e3;
    color: #555b63;
    min-height:  30px;
    width: 100%;
    justify-content: flex-start;
    font: 12px/13px DroidSans;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus{
    color: #f63;
}

/* $------------------------------------------------------------------------- */
body{
    background-color: #f5f4ef;
}
figure img{
    width: 100%;
    height: 100%;
}
.lwrap{
    padding: 0px 10px;
    max-width: 992px;
}
.top{
    background-color: #dfdfd9;
    box-shadow: inset 0px 2px 0px 0px rgba(61,61,61,0.5);
}
.top .lwrap{
    padding: 0px 70px 0px 10px;
}
header{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    background: url("../images/bg1.png");        
}
header .lwrap{
    min-height: 87px;
    padding: 6px 39px 10px 18px;
    flex-wrap: wrap;
}
.logo{
    margin: 8px 0px 0px 0px;
}
.logo strong{
    font: 27px/26px Aller;
    text-transform: uppercase;
    color: #3d3d3d;
    padding: 6px 0px 0px 0px;
}
.logo strong span{
    color: #f45604;
    font: 700 27px/22px Aller;
}
.logo small{
    color: #3d3d3d;
    font: 12px/20px Aller;
    text-transform: uppercase;
    padding: 0px 0px 0px 3px;
    letter-spacing: 0.023em;
}
.logo img{
    margin: 0px 4px 0px 0px;
}
.slider-wrap{
    background-color: #dfdfda;
    position: relative;
}
.slider-wrap .lwrap{
    padding: 61px 10px 27px 10px;
    position: relative;
    max-width: 1030px;
}
.slider-wrap:after{
    content: "";
    width: 100%;
    height: 150px;
    display: block;
    position: absolute;
    bottom: -150px;
    background: url("../images/circle.png") no-repeat left top;
    background-size: 100%;
}
.slider figure{
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 5px;
    background-color: #fff;
    position:  relative;
    z-index: 1;
    right: -30px;
}
.slider figure:first-child{
    margin: 5px 0px 0px 0px;
    right: -92px;
}
.slider figure:last-child{
    margin: 6px 0px 0px 0px;
    z-index: 0;
    left: -31px;
}
.slider > div:first-child{
    padding: 0px 0px 0px 0px;
    width: 61%;
}
.slider > div:last-child{
    padding: 74px 32px 0px 7px;
    width: 39%;
}
.slider .btn{
    margin: 0px 18px 0px 0px;
}
.slider h2{
    color: #3d3d3d;
    font: 19px Aller;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    letter-spacing: 0.02em;
}
.slider p{
    text-shadow: 0.5px 0.9px 1px rgba(255, 255, 255, 0.54);
    color: #3d3d3d;
    font: 12px/22px DroidSans;
    margin: 0px 0px 23px 0px;
}
.controls{
    position: absolute;
    width: 100%;
    bottom: -75px;
}
.controls:before{
    content: "";
    width: 90%;
    height: 1px;
    background-color: #f1f1f2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}
.links-controls{
    background-color: white;
    padding: 0px 20px;
    z-index: 1;
}
.content{
    padding: 86px 0px 10px 0px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.21);
}
.about{
    padding: 0px 20px 32px 15px;
    flex-wrap: wrap;
}
.about article{
    flex: 1;
    margin: 5px 10px 5px 5px;
}
.about article h4{
    color: #3f454b;
    font: 700 20px DroidSans;
    text-transform: uppercase;
    margin: 0px 0px 12px 0px;
}
.about article i{
    margin: 4px 13px 0px 0px;
}
.about article p{
    color: #3f454b;
    font: 12px/21px DroidSans;
    margin: 0px 25px 0px 0px;
    letter-spacing: 0.01em;
}
.hdr{
    padding: 5px 65px 5px 85px;
    min-height: 67px;
    background: url("../images/bg2.png");
    position: relative;
    margin: 0px -1px 0px -1px;
}
.hdr .btn-more{
    min-height: 37px;
    margin: 3px 0px 0px 10px;
    padding: 6px 30px 5px 29px;
    font-size: 14px;
}
.hdr:before, .hdr:after{
    width: 68px;
    height: 60px;
    content: "";
    position: absolute;
    top: 8px;
    z-index: -1;
}
.hdr:before{
    background:url("../images/flag-left.png");
    left: -57px;
}
.hdr:after{
    background:url("../images/flag-right.png");
    right: -53px;
}
.hdr h2{
    color: #fbfbfb;
    text-transform: uppercase;
    font: 17px/23px Aller;
    letter-spacing: 0.01em;
}
.hdr i{
    margin: 6px 11px 0px 0px;
}
.hdr span{
    color: rgba(251,251,251,.5);
    font: 15px/22px Aller;
    padding: 0px 0px 0px 2px;
    letter-spacing: 0.011em;
}
.works{
    padding: 29px 20px 44px 17px;
    border-bottom: 1px solid #e9ebed;
}
.works article h3{
    color: #3f454b;
    font: 700 20px DroidSans;
    text-transform: uppercase;
    margin: 0px 0px 11px 0px;
}
.works article p{
    color: #3f454b;
    font: 12px/21px DroidSans;
    margin: 0px 21px 0px 0px;
}
.works article i{
    margin: 4px 12px 0px 10px;
}
.works .grid{
    padding: 23px 0px 0px 0px;
}
.works .grid figure{
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 5px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
    margin: 0px 0px 12px 0px;
}
.works .grid figure img{
    border-radius: 50%;
}
.works .grid .btn-thumb:first-child{
    margin: 0px -30px 0px 0px;
}
.works .grid .btn-thumb:last-child{
    margin: 0px 0px 0px -30px;
}
.works .add{
    margin: 0px 20px 0px 0px;
}
.portfolio{
    padding: 40px 0px 16px 0px;
}
.portfolio article{
    padding: 0px 40px 28px 40px;
    background: url("../images/border.png")repeat-y left top;
}
.portfolio article:first-child{
    background: none;
}
.portfolio h3{
    color: #3f454b;
    font: 700 19px DroidSans;
    margin: 0px 0px 8px 0px;
    text-transform: uppercase;
}
.portfolio p{
    color: #3f454b;
    font: 12px/21px DroidSans;
    margin: 12px 10px 0px 5px;
    letter-spacing: 0.01em;
}
.portfolio figure{
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 7px;
    background-color: #fff;
}
.footer{
    padding: 35px 167px 11px 21px;
}
.links-footer{
    width: 100%;
    max-width: 173px;
}
.footer > div{
    flex: 1;
}
.footer h5{
    text-shadow: 0.5px 0.9px 1px white;
    color: #555b63;
    font: 700 13px DroidSans;
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}
.copyright{
    padding: 23px 0px 30px 0px;
    border-top: 1px solid #e8e8e3;
    margin: 0px 14px 0px 26px;
}
.copyright span, .copyright a{
    color: #848d9a;
    text-shadow: 0.5px 0.9px 1px white;
    font: 12px DroidSans;
    letter-spacing: 0.014em;
}
.copyright .wp{
    color: #555b63;
}
.copyright .web{
    color: #3f454b;
    font: 700 12px DroidSans;
}
.footer form{
    width: 286px;
    padding: 8px 0px 0px 0px;
}
.footer form > div{
    padding: 0px 7px 0px 0px;
}
@media (max-width: 920px) {
    .hdr {
        padding: 5px 10px;
    }
}
@media (max-width: 730px) {
    .slider-wrap .lwrap {
        padding: 10px;
    }
    .slider{
        flex-direction: column;
    }
    .slider > div:first-child, .slider > div:last-child {
        width: 100%;
        padding: 10px 0px;
    }
    .slider figure {
        right: 0px;
    }
    .slider figure:first-child {
        right: -32px;
    }
    .slider figure:last-child {
        left: -32px;
    }
}
@media (max-width: 400px) {
    .hdr{
        flex-direction: column;
    }
}