a{
    text-decoration: none;
}
.icon-logo{
    width: 67px;
    height: 70px;
    background: url('../images/icon1.png')no-repeat;
    margin-bottom: 80px;
    margin-top: 260px;
}
.icon-logo-alt{
    width: 35px;
    height: 37px;
    background: url('../images/icon5.png')no-repeat;
    margin-right: 35px;
}
.icon-design{
    width: 80px;
    height: 83px;
    background: url('../images/icon2.png')no-repeat;
}
.icon-mouse{
    width: 23px;
    height: 37px;
    background: url('../images/mouse.png')no-repeat;
    margin-top: 236px;
}
.icon-develope{
    width: 79px;
    height: 76px;
    background: url('../images/icon3.png')no-repeat;
}
.icon-product{
    width: 79px;
    height: 91px;
    background: url('../images/icon4.png')no-repeat;
}
header{
    padding: 30px 10px 42px 10px;
    height: 1073px;
    background: url('../images/img1.png')no-repeat; 
    background-size: cover;
}
header > div{
    margin-bottom: 79px;
}
header h1, header p{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing:  0.2em;
}
header h1{
    font: 700 54px/64px "Lato";
    max-width: 650px;
    margin-bottom: 33px;
    letter-spacing: 0.16em;
}
header p{
    font: 15px/29px "Lato";
    max-width: 600px;
    letter-spacing: 0.057em;
}
.works{    
    margin: 0 -14px 10px -14px;
}
.works a{
    margin:0 5px 9px 5px;
    position: relative;
}
.works a span{
    text-transform: uppercase;
    font: 700 34px "Lato";
    left: 48px;
    bottom: 35px;
    position: absolute;
    color: #fff;
    letter-spacing: 0.15em;
}
.works a img{
    width: 100%;
}
.about-wrap{
    min-height: 630px;
    padding: 30px 10px 30px 10px;
}
.services-wrap{
    min-height: 488px;
    padding: 47px 10px 30px 10px;
    background: url('../images/img2.png')no-repeat; 
}
.contacts-wrap{
    min-height: 419px;
    padding: 119px 10px 63px 10px;
}
.contacts p, .direction p, .about p, .services p{
    font: 16px/26px "Lato";
    margin-bottom: 20px;
    max-width: 557px;
    letter-spacing: 0.003em;
}
.contacts p{
    margin-bottom: 38px;
    letter-spacing: -0.014em;
}
.contacts p:last-child, .direction p:last-child, .about p:last-child, .services p:last-child{
    margin-bottom: 0px;
}
.direction h3{
    font: 700 20px "Lato";
    text-transform: uppercase;
    margin: 33px 0px 25px 0px;
    letter-spacing: 0.16em;
}
.direction i{
    margin-top: 20px;
}
.contacts h2, .direction h2, .about h2, .services h2{
    position: absolute;
    background-color: #fff;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    color: #3c3c3c;
    padding: 0 30px;
    font: 700 34px "Lato";
    min-width: 420px;
    letter-spacing: 0.16em;
}
.contacts h2{
    font: 700 30px "Lato";
    top: -15px;
}
.direction-wrap{
    padding: 119px 10px 114px 10px;
}
.contacts, .direction, .about, .services{
    border: 2px solid #3c3c3c;
    max-width: 902px;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    padding: 50px;
}
.about{
    min-height: 312px;
    padding: 50px 50px 50px 50px;
}
.contacts{
    padding: 67px 50px 48px 50px;
}
.direction{
    padding: 103px 50px 90px 50px;
    min-height: 1182px;
}
.contacts{
    min-height: 285px;
}
.services {
    border: 2px solid #fff;
    border-top: none;
    color: #fff;
    min-height: 250px;
}
.services h2{
    background-color: transparent;
    color: #fff;
}
.services:after, .services:before{
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 26.35%;
    background-color: #fff;
}
.services:before{
    left: 0;
    top: 0px;
}
.services:after{
    right: 0;
    top: 0px;
}
a.btn-contact{
    background-color: #3c3c3c;
    color: #fff;
    min-width: 395px;
    height: 58px;
    font:  16px "Lato";
    text-transform:uppercase;
    padding: 3px 10px;
    letter-spacing: 0.14em;
}
footer{
    text-align: center;
    max-width: 902px; 
    margin: auto;
    margin-bottom: 65px;
}
footer span{
    color: #3b3b3b;

    font: 14px "Lato";

    margin-right: 14px;
}
@media (max-width: 1000px) {
    .works a span {
        font: 700 24px "Lato";
        left: 20px;
        bottom: 20px;
    }
}
@media (max-width: 600px) {
    .works a span {
        font: 700 16px "Lato";
        left: 15px;
        bottom: 10px;
    }
    .contacts h2, .direction h2, .about h2, .services h2 {
        min-width: 200px;
        font: 700 24px "Lato";
        top: -14px;
    }
    .direction {
        padding: 50px;
    }
    a.btn-contact {
        min-width: 320px;
    }
}
@media (max-width: 400px) {
    .works a span {
        font: 700 14px "Lato";
        left: 15px;
        bottom: 5px;
    }
    a.btn-contact {
        min-width: 260px;
    }
}