body{
    font-size: 12px;
    font-family: Helvetica Neue LT Cn;
}

/*LINKS*/
.links-top, .links-top a{
    color: #8c8c8c;
    font-family: Arial;
    font-size: 13px;
    text-align: center;
}
.links-top{
    margin: 5px -20rem 7px 23rem;
}
.links-top a{       
    margin: 0px 23rem 0px 28rem;
}
.links-top a:active, .links-top a:hover, .links-top a:focus, .links-social a:active, .links-social a:hover, .links-social a:focus{
    text-decoration: underline;
}
.links-social{
    margin-right: -5rem;
}
.links-social a{
    color: #3b4d68;
    margin: 1px 5rem 1px 17rem;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.01em;
}
.links-social a i{
    margin-right: 5rem;
}

/*BUTTONS*/
.btn-default, .btn-alt{
    text-shadow: 0 1px 0 #ffe21f;
    color: #ac4900;    
    padding: 0px 5px;    
    background: linear-gradient(#fcc508, #fd9e0c);
    position: relative; 
    border-radius: 3px;
    text-align: center;
}
.btn-default{
    font-size: 16px;
    font-weight: 300;
    min-width: 79rem;
    height: 32px;
}
.btn-alt{
    font-size: 24px;
    font-weight: 500;
    min-width: 299rem;
    height: 49px;
    line-height: 18px;
}
.btn-default:before, .btn-alt:before{
    content: "";
    position: absolute;
    border-top: 1px solid #f3a500;
    border-bottom: 1px solid #df6000;
    background-image: linear-gradient(#f3a500, #df6000), linear-gradient(#f3a500, #df6000);
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35), inset 0 2px 0 rgba(255, 255, 255, 0.55);  
    border-radius: 4px;
    width: 100%;
    height: calc(100% - 2px);
    top: 0px;
    left: 0px;
}

/*FORMS*/
input[name=input], textarea{    
    width: 100%;
    background: #829cc2 linear-gradient(rgba(0, 0, 0, 0.01), rgba(255, 255, 255, 0.01));
    border: 1px solid #5c7291;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 2px 4px rgba(35, 77, 138, 0.61);
    outline: none;
    color: black;
    font-family: Arial;
}
input[name=input]{
    max-width: 409px;
    height: 35px;
    padding: 0px 8px;
    margin-bottom: 15rem;
}
textarea{
    max-width: 460px;
    padding: 12px 8px;
    height: 86px;
    margin-bottom: 15rem;
}
input[name=input]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #3b4d68; }
input[name=input]::-moz-placeholder, textarea::-moz-placeholder { color: #3b4d68; }
input[name=input]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #3b4d68; }