/*COMMON*/
.lwrap{
    max-width: 960px;
    padding: 0px 10px;
}
figure > img, a > img, figure > iframe{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    background: #d9e5ed;
}
h2{
    font-size: 61rem;
    font-weight: 300;
}
p{
    color: #5d5d5d;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
}
.wrap{
    background: white;
    border: 1px solid #c4c4c4;
    position: relative;
    z-index: 3;
}
.wrap:after, .wrap:before{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background: white;
    border: 1px solid #c4c4c4;
    position: absolute;
}
.wrap:before{
    bottom: -2.5px;
    width: calc(100% - 4px);
    z-index: 2;
}
.wrap:after{
    bottom: -4.5px;
    width: calc(100% - 8px);
    z-index: 1;
    border-top: none;
}

/*HEADER*/
header{
    border-bottom: 1px solid #ddd;
    background: white;
}
header > .lwrap{
    padding: 16rem 10px 12rem 11px;
}
#logo + span{
    color: darkgrey;
    font-size: 18px;
    font-weight: 200;
    padding-right: 5px;
}
#logo{
    margin: 3rem 5px 4rem 1rem;
}
header .btn-alt{
    margin: 5px 0px 7px 0px;
}

/*SLIDER*/
.slider{
    background: url("/images/bg.png"), linear-gradient(rgba(246, 246, 246, 0.58), rgba(234, 234, 234, 0.58));
    border-bottom: 1px solid #b8c2c9;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);    
}
.slider .wrap:before{
    bottom: -3px;
}
.slider > .lwrap{
    padding: 22rem 10px 10px 10px;
}
.slider > .lwrap > div{
    flex-grow: 1;
    margin: 56rem 0px 10px 0px;
}
.slider > .lwrap > figure{
    margin: 0px 50rem 17rem -6rem;
}
.slider .wrap{
    padding: 6rem 6rem 8rem 7rem;
    margin-bottom: 20rem;
}
.slider .video{
    padding-bottom: 1px;
}
.action{
    background: rgba(0,0,0,.07);
    padding: 11rem 5px 11rem 37rem;
    color: #1f4c95;
    font-size: 30rem;
    font-weight: 300;
    position: relative;
}
.action:after{
    content: "";
    position: absolute;
    background: url("/images/arrowdark.png");
    background-size: cover;
    width: 129rem;
    height: 45rem;
    left: -87rem;
    bottom: -10rem;
}

/*SIDEBAR*/
.sidebar{
    width: 32%;
    flex-shrink: 0;
    margin: 0px 20rem 18rem 0px;
}
.sidebar h3{
    font-size: 24px; 
    margin-bottom: 15rem;
}
.sidebar em{
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    color: #607fac;
    margin-bottom: 26rem;
    letter-spacing: -0.01em;
}
.sidebar form input[name=input]{
    margin: 9rem 0px 11rem 2rem;
    max-width: 245px;
}
.sidebar .wrap{
    padding: 21rem 20rem 19rem 26rem;
    margin-bottom: 42rem;
}
.sidebar > div{
    width: 100%;
    padding: 0px 28rem 37rem 26rem;
}

/*CONTENT*/
.content .hdr{
    margin: 38rem 1rem 27rem -2rem;
}
.content .hdr h2{
    text-shadow: 0 1px 0 white;
    color: #24549b;
}
.content .hdr .btn-alt{
    margin: 0px -1rem 10rem 10rem;
}
.content h3{
    color: #ff0030;
    font-weight: 400;
}
.content h4{
    color: #3b4d68;
    font-weight: 400;
    font-size: 24px;
}

/*FUNCTIONS*/
.sidebar + div{
    width: 100%;
}
.functions{
    margin-bottom: 10px;
    padding: 21rem 35rem 12rem 35rem;
}
.functions h3{
    font-size: 36px;
    margin-bottom: 37rem;
}
.functions h4{
    margin-bottom: 20rem;
}
.functions h4 i{
    margin-right: 10rem;
    flex-shrink: 0;
}
.functions article{
    width: 46.7%;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 28rem;
    margin-bottom: 28rem;
}
.functions article:nth-last-child(2), .functions article:nth-last-child(1){
    border-bottom: none;
    margin-bottom: 0px;
}

/*FOOTER*/
footer{
    background: #9caab4;        
}
.contact > div span, .captcha span,  .contact a, .contact address{
    color: #3b4d68;
    font-family: Arial;
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
}
.contact address{
    margin-bottom: 19rem;
}
footer h2{
    color: white;
    margin-bottom: 25rem;
}
footer > .lwrap{
    padding: 26rem 10px 77rem 8px;
}
.contact figure{
    flex-shrink: 0;
    margin: 6rem 0px 0px 5px;
    width: 76px;
    height: 77px;
    background-image: linear-gradient(-45deg, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.16) 50%, rgba(255, 255, 255, 0.16) 100%);
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
footer form > div:first-child{
    width: 35.5%;
}
footer form > div:last-child{
    width: 61.2%;
}
.contact{
    width: 27.3%;
    flex-shrink: 0;
    margin: 10rem 56rem 20rem 9rem;
}
.captcha input[type=text]{
    width: 60px;
    height: 36px;
    margin-bottom: 5px;
    background: #8f9ea8 linear-gradient(rgba(0, 0, 0, 0.01), rgba(255, 255, 255, 0.01));
    border: 1px solid #77869c;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 2px 4px rgba(35, 77, 138, 0.26);
}
.captcha span{
    margin: 3rem 12rem 0px 0px;
}
.captcha + button .btn-default{
    min-width: 140rem;
}
.captcha + button{
    margin: 2rem 0px 0px 30rem;
}
.contact .question{
    color: #ffe825;
    font-size: 24px;
    position: relative;
    margin: 16rem 3rem 0px 0px;
}
.question:after{
    content: "";
    position: absolute;
    background: url("/images/arrowlight.png");
    background-size: cover;
    width: 129rem;
    height: 38rem;
    right: -76rem;
    bottom: -42rem;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .sidebar > div {padding: 0px;width: 48%;}
}
@media (max-width: 480px) {
    .slider > .lwrap > figure, .action:after, .contact .question {display: none;}
    .slider > .lwrap > div {margin: 0px;}
    .functions article:nth-last-child(2){border-bottom: 1px dashed #ccc;margin-bottom: 28rem;}
    footer form > div:first-child, footer form > div:last-child{width: 49%!important;}
}