body, a{
    font-family: Arial;
    font-size: 12px;
    color: #5d5d5d;
}

/*LINKS*/
.links-social a {
    margin: -2px 7px 7px 7px;
}
.links-nav a{
    margin: 5px 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fe9b00;
}
.links-footer a{
    margin: 0px 5px;
}
.links-footer, .links-footer a{
    line-height: 20px;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: #090909;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-view{
    min-width: 62px;
    height: 21px;
    color: #090909;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 10px 0px 5px;
    background: #fe9b00 url(/images/icons/arrow2.png)no-repeat right 5px center;
}

/*CITES*/
blockquote cite{
    color: #090909;
    padding-top: 20px;
}

/*FORMS*/
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    padding-left: 20px;
    background: url(/images/icons/checkbox-off.png) no-repeat;
}
input[type=checkbox]:checked + label {
    background-image: url(/images/icons/checkbox-on.png);
}

/*OTHER*/
.title, .title-border, .title-sm{
    text-transform: uppercase;    
    color: #090909;
}
.title, .title-border{
    font-size: 18px;
    font-weight: 700;
    background: url(/images/icons/arrow1.png)no-repeat left center;
    padding: 5px 5px 5px 20px;
}
.title-border{  
    border-bottom: 6px solid #090909;    
}
.title-sm, .more{
    padding-left: 20px;
    background: url(/images/icons/arrow2.png)no-repeat left center;
}
.more{
    color: #fe9b00;
    text-transform: uppercase;
    font-weight: 700;
}
.more:active, .more:hover, .more:focus{
    text-decoration: underline;
}