body{
    font-size: 12px;
    font-family: Roboto Slab;
}

/*LINKS*/
.links-nav a{
    text-transform: uppercase;
    color: #f8ead8;
    text-align: center;
    font-family: Bazar;
    font-size: 54rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    margin: 5rem 30rem 0px 30rem;
    letter-spacing: -0.005em;
    white-space: nowrap;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    text-shadow: none;
}
.links-filter{
    width: 100%;
    padding: 75rem 0px 28rem 0px;
}
.links-filter a{
    color: #37393b;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    margin: 0px 18rem 5px 24px;
    padding: 0px 17rem 0px 24px;
    border-radius: 0px 6px 6px 0px;
    background: #fbf9f5 url(/images/icons/point.png)no-repeat 1px center;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    position: relative;
}
.links-filter a:before{
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: -23px;
    position: absolute;
    border-right: 23px solid #fbf9f5;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
}
.links-filter a:active, .links-filter a:hover, .links-filter a:focus{
    text-decoration: underline;
}
.links-social a{
    width: 151rem;
    height: 151rem;
    min-width: 48px;
    min-height: 48px;
    border: 4px solid #37393b;
    border-radius: 50%;
    background: #f5eee3;
    box-shadow: 0px 0px 0px 4px #f5eee3;
    margin: 15rem;
}

/*CITES*/
blockquote{
    text-transform: uppercase;
    color: #f7ebd8;
    font-family: Bazar;
    font-size: 53rem;
    text-align: center;
    line-height: 83rem;
}
blockquote span{
    font-size: 64rem;
}

/*LABELS*/
.lbl-about {
    width: 284rem;
    height: 284rem;
    min-width: 118px;
    min-height: 118px;
    background: #d45244;
    border: 8rem solid #f5ede3;
    box-shadow: 0px 0px 0px 8rem #d45244;
    border-radius: 50%;
}
.lbl-figure{
    width: 86rem;
    height: 86rem;
    min-width: 36px;
    min-height: 36px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #fbf9f5;
}

/*BUTTONS*/
.btn-default{
    min-width: 282px;
    height: 72px;
    background: #fcfaf7;
    border-radius: 6px;
    color: #383a3c;
    font-size: 32px;
    font-weight: 700;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    padding: 0px 10px;
}
.btn-slide{
    width:120px;
    height:120px;
    border-radius:100%;
    background:#fbf9f5;
    right: 0px;
}
.btn-slide:active > .icon-arrow, .btn-slide:hover > .icon-arrow, .btn-slide:focus > .icon-arrow{background: url(/images/icons/arrow-hover.png);}

/*FORMS*/
input[name=input]{    
    height: 74px;
    padding: 0px 15px;
    margin-bottom: 20rem;
}
textarea{
    height: 326px;
    padding: 15px;
    margin-bottom: 17rem;
}
input[name=input], textarea{
    width: 100%;
    max-width: 960px;    
    color: #333;
    font-size: 32px;
    outline: none;
    border-radius: 6px;
    background-clip: padding-box;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 0 rgba(255,255,255,.4), inset 1px 1px 0 rgba(0,0,0,.2);
}
input[name=input]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #a9a8a8;}
input[name=input]::-moz-placeholder, textarea::-moz-input-placeholder {color: #a9a8a8;}
input[name=input]::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #a9a8a8;}
