.icon-arrow-left {width: 9px; height: 17px; background: url('/images/icons/icon-arrow-left.png');}
.icon-arrow-right {width: 9px; height: 17px; background: url('/images/icons/icon-arrow-right.png');}
.icon-canada {width: 20px; height: 11px; background: url('/images/icons/icon-canada.png');}
.icon-fb {width: 32px; height: 32px; background: url('/images/icons/icon-fb.png');}
.icon-linkedin {width: 32px; height: 32px; background: url('/images/icons/icon-linkedin.png');}
.icon-mail {width: 32px; height: 32px; background: url('/images/icons/icon-mail.png');}
.icon-message {width: 30px; height: 22px; background: url('/images/icons/icon-message.png');}
.icon-order {width: 41px; height: 36px; background: url('/images/icons/icon-order.png');}
.icon-phone {width: 20px; height: 22px; background: url('/images/icons/icon-phone.png');}
.icon-secure {width: 56px; height: 55px; background: url('/images/icons/icon-secure.png');}
.icon-twitter {width: 32px; height: 32px; background: url('/images/icons/icon-twitter.png');}
.icon-usa {width: 20px; height: 11px; background: url('/images/icons/icon-usa.png');}