.icon-balloon {width: 12px; height: 11px; background: url('/images/icons/balloon.png');}
.icon-boobbles {width: 11px; height: 10px; background: url('/images/icons/boobbles.png');}
.icon-db {width: 12px; height: 13px; background: url('/images/icons/db.png');}
.icon-fb {width: 6px; height: 13px; background: url('/images/icons/fb.png');}
.icon-heart {width: 11px; height: 9px; background: url('/images/icons/heart.png');}
.icon-image {width: 14px; height: 10px; background: url('/images/icons/image.png');}
.icon-next {width: 4px; height: 7px; background: url('/images/icons/next.png');}
.icon-note {width: 9px; height: 11px; background: url('/images/icons/note.png');}
.icon-pen {width: 11px; height: 11px; background: url('/images/icons/pen.png');}
.icon-pin {width: 10px; height: 13px; background: url('/images/icons/pin.png');}
.icon-prev {width: 4px; height: 7px; background: url('/images/icons/prev.png');}
.icon-record {width: 11px; height: 11px; background: url('/images/icons/record.png');}
.icon-rss {width: 10px; height: 11px; background: url('/images/icons/rss.png');}
.icon-tw {width: 9px; height: 13px; background: url('/images/icons/tw.png');}
.icon-user {width: 10px; height: 13px; background: url('/images/icons/user.png');}
.icon-video {width: 11px; height: 11px; background: url('/images/icons/video.png');}