body{
    font-size: 12px;
    font-family: GothamRounded;
    letter-spacing: 0.15em;
    color: #373737;
    font-weight: 500;
}

/*LINKS*/
.links-nav{
    width: 100%;
}
.links-nav figure{
    flex-shrink: 0;
}
.links-nav a{
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 23rem 20rem 0px 20rem;
    letter-spacing: 0.2em;
}
.links-social{
    margin-top: 213rem;
}
.links-social a{
    margin: 7px;
}
.links-footer{
    color: #16a085;
    padding: 8rem 0px 20rem 0px;
    font-size: 14px;
}
.links-footer a{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 6px;
    color: #373737;
    letter-spacing: 0.15em;
}
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    text-decoration: underline;
}

/*BUTTONS*/
.btn-default, .btn-alt{
    color: white;
    text-transform: uppercase;
    border-radius: 3px;    
}
.btn-default{
    min-width: 166px;
    height: 49px;
    background: #16a085;
    padding: 0px 10px;
}
.btn > em {
    flex-grow: 1;
    font-style: normal;
    font-size: 15px;
    padding: 0px 10px 0px 24px;
    letter-spacing: 0.19em;
}
.btn-alt{
    min-width: 296px;
    height: 56px;
    background: #1abc9c;
    overflow: hidden;
}
.btn-alt span{
    width: 56px;
    height: 56px;
    background: #16a085;
    justify-content: center;
}

/*FORMS*/
input[type="email"]{
    border: none;
    outline: none;
    width: 79%;
    max-width: 280px;
    text-transform: uppercase;
    color: black;
    border-radius: 3px 0 0 3px;
    font-size: 16px;
    padding: 0 21rem;
    letter-spacing: 0.15em;
}
input[type="email"]::-webkit-input-placeholder {color: #373737;}
input[type="email"]::-moz-placeholder {color: #373737;}
input[type="email"]:-ms-input-placeholder {color: #373737;}
.btn-check{
    flex-shrink: 0;
    width: 63px;
    height: 60px;
    border-radius: 0 3px 3px 0;
    background: #159f85 url('/images/check.png')no-repeat center center; 
}