@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=343535b3-657c-42a7-a1ef-6797cd629305");


/* FONTS */
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "ArialNarrow";
    src: url("/fonts/fonts.com/fae01616-fdd0-4e19-acf9-b5e567e9398a.woff2") format("woff2"), url("/fonts/fonts.com/e4d7f52c-43bd-44b0-b89d-12aa2f1e9e18.woff") format("woff");
}
@font-face {
    font-family: 'LeagueGothic';
    src: url('/fonts/fontsquirel.com/leaguegothic-regular.woff2') format('woff2'), url('/fonts/fontsquirel.com/leaguegothic-regular.woff') format('woff');
}
/* ICONS */
.icon-arrowb {width: 17px; height: 17px; background: url('/images/icons/arrowb.png');}
.icon-arrowg {width: 17px; height: 17px; background: url('/images/icons/arrowg.png');}
.icon-arroww {width: 17px; height: 17px; background: url('/images/icons/arroww.png');}
.icon-facebook {width: 55px; height: 53px; background: url('/images/icons/facebook.png');}
.icon-home {width: 22px; height: 21px; background: url('/images/icons/home.png');}
.icon-mail {width: 28px; height: 21px; background: url('/images/icons/mail.png');}
.icon-rss {width: 54px; height: 53px; background: url('/images/icons/rss.png');}
.icon-search {width: 28px; height: 28px; background: url('/images/icons/search.png');}
.icon-twitter {width: 55px; height: 54px; background: url('/images/icons/twitter.png');}