a{
    text-decoration: none;
}
header{
    background-color: #000;
}
.header{
    height: 105px;
    width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo{
    display:flex;
    flex-direction: column;       
}
.logo strong{
    font: 600 40px "Helvetica";
}
.logo small{
    text-align: right;
    font: 600 14px "Helvetica";
}
.btn-login{
    color: #fff;
    font: 600 14px "Helvetica";
    text-shadow: 1px -1px 0 rgba(0,0,0,.31);
}
.header form{
    display: flex;
    justify-content: flex-end;
}