@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b2d14cf3-1e98-43eb-8134-feaa24d29b31");

/* FONTS */

@font-face {
    font-family: "Bebas";
    src: url("../fonts/fonts.com/80e50e80-4003-4876-ba9f-53b2dd6d6160.woff2") format("woff2"), url("/fonts/fonts.com/9a98e631-1f06-461b-a6a7-ba7822473018.woff") format("woff");
}
/* ICONS */

.icon-arrowg {width: 11px; height: 7px; background: url('../images/icons/arrowg.png');}
.icon-arroww {width: 12px; height: 7px; background: url('../images/icons/arroww.png');}
.icon-fb {width: 32px; height: 32px; background: url('../images/icons/fb.png');}
.icon-fl {width: 32px; height: 32px; background: url('../images/icons/fl.png');}
.icon-tw {width: 32px; height: 32px; background: url('../images/icons/tw.png');}
.icon-yt {width: 32px; height: 32px; background: url('../images/icons/yt.png');}
.icon-fb:hover {background: url('../images/icons/fb-hover.png');}
.icon-fl:hover {background: url('../images/icons/fl-hover.png');}
.icon-tw:hover {background: url('../images/icons/tw-hover.png');}
.icon-yt:hover {background: url('../images/icons/yt-hover.png');}

/* ELEMENTS */

.links-nav a{
    font-family: Bebas;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: silver;
    padding: 0px 15rem;    
    height: 28px;
    position: relative;
    letter-spacing: 0.01em;
    margin: 2px 14px;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    color: black;    
    background-color: #fddecb;
}
.links-nav a.active:before, .links-nav a:active:before, .links-nav a:hover:before, .links-nav a:focus:before,
.links-nav a.active:after, .links-nav a:active:after, .links-nav a:hover:after, .links-nav a:focus:after{
    content: "";
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;   
    position: absolute;
    top: 0px;
}
.links-nav a:before{
    left: -14px;
    border-right: 14px solid #fddecb;  
}
.links-nav a:after{
    right: -14px;
    border-left: 14px solid #fddecb;
}
.links-pagination{
    padding-bottom: 52px;
}
.links-pagination a{
    width: 29px;
    height: 29px;
    margin: 1px 7px 7px 7px;
    color: #34373f;
    font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: 700;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ff7373 0%, #fda0a0 100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}
.links-pagination a.active, .links-pagination a:active, .links-pagination a:hover, .links-pagination a:focus{
    background-image: linear-gradient(to top, #292832 0%, #393f45 100%);
    color: #fcb5b5;    
}
.links-social{
    margin-left: -9px;
}
.links-social a{
    margin: 0px 10px 10px 9px;
}
.btn-web i{
    margin: 3px -6px 0px 15px;
}
.btn-web{
    margin: 10px 5px 20px 0px;
    color: white;
    font-size: 15px;
    font-family: Bebas;
    min-width: 197px;
    height: 37px;
    border-radius: 19px;
    padding: 4px 5px 0px 5px;
    background-color: #fdc502;
    background-image: linear-gradient(to top, #ff7373 0%, #fda0a0 100%);
    box-shadow: 0 1px 0 #385898, inset 0 1px 0 white;
    position: relative;
}
.btn-web:after{
    content: "";
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    top: 60%;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fdc502;
    background-image: linear-gradient(to top, #9c694e 0%, #9c694e 99%, #9c694e 100%);
    box-shadow: 0 3px 4px #d7a07e;
}
figure img {
    display: block;
    width: 100%;
    height: 100%;
}
/* $------------------------------------------------------------------------- */
body{
    background: url("../images/bg.png");
}
#logo{
    margin-right: 20px;
}
.lwrap{
    max-width: 980px;
    padding: 0px 10px;
}
header{
    background-image: linear-gradient(to top, #292832 0%, #393f45 100%);
    border-bottom: 1px solid white;
}
header .lwrap{
    padding: 24rem 11px 24rem 10px;
}
h1{
    width: 100%;
    position: relative;
    text-shadow: 0.5px 0.9px 2px rgba(206, 97, 97, 0.75);
    color: white;
    font-family: "Trebuchet MS";
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    padding: 18rem 30rem 23rem 30rem;
    margin: 48rem 0px 17px 0px;
    background: 
        url("../images/dashed.png")repeat-x center top 8px,
        url("../images/dashed.png")repeat-x center bottom 8px,
        url("../images/shadow1.png")no-repeat center top,
        #ff7373;
}
h1:before, h1:after{
    content: "";
    position: absolute;
    width: 122px;
    height: 101px;
    bottom: -24px;
    z-index: -1;
}
h1:before{
    background: url("../images/leftflag.png");
    left: -89px;
}
h1:after{
    background: url("../images/rightflag.png");
    right: -89px;
}
.post{
    color: black;
    font-family: "Trebuchet MS";
    padding: 58rem 0px 55rem 0px;
    background: url("../images/border.png")repeat-x left bottom;
    box-shadow: 0 1px 0 rgba(255,244,213,.5);
}
.post:last-child{
    background: none;
    box-shadow: none;
}
.post > figure{
    position: relative;
    margin-bottom: 36rem;
}
.post figure:after{
    content: "";
    background: url("/images/shadow3.png")no-repeat center top;
}
.post h2{   
    font-size: 20px;
}
.post p{
    font-size: 15px;
    line-height: 18px;
}
.post > div > div{
    max-width: 500px;
    padding: 7px 20px 0px 0px;
}
footer{
    background: #34373f;
    border-top: 1px solid white;
}
footer .lwrap{
    padding: 22px 10px 46px 10px;
}
footer span{
    color: #878787;
    font-family: "Trebuchet MS";
    font-size: 15px;
    letter-spacing: -0.005em;
    padding-top: 3px;
}
footer .links-social + a{
    color: #818282;
    font-family: "Trebuchet MS";
    font-size: 15px;
    padding-left: 2px;
}
footer .links-social + a i{
    margin: 0px 0px 2px 9px;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: none;
}
.shadow{
    background: url("/images/shadow2.png")no-repeat center top;
}
.shadow, .post figure:after{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 39px;
    background-size: 100%;
}