@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* FONTS */

@font-face {
    font-family: 'AdelleBasic';
    src: url('../fonts/fontsquirel.com/adelleregularwebfont.woff2') format('woff2'), url('/fonts/fontsquirel.com/adelleregularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ICONS */

.icon-arrow {width: 7px; height: 5px; background: url('../images/icons/arrow.png');}
.icon-box {width: 32px; height: 31px; background: url('../images/icons/box.png');}
.icon-next {width: 4px; height: 7px; background: url('../images/icons/next.png');}
.icon-palette {width: 30px; height: 28px; background: url('../images/icons/palette.png');}
.icon-prev {width: 4px; height: 7px; background: url('../images/icons/prev.png');}
.icon-screen {width: 30px; height: 30px; background: url('../images/icons/screen.png');}
.icon-video {width: 32px; height: 30px; background: url('../images/icons/video.png');}/* ELEMENTS */

.links-nav a{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
    color: #c4cacd;
    font-family: AdelleBasic;
    font-size: 17px;
    font-weight: 700;
    min-height: 40px;
    width: 100%;
    justify-content: flex-start;
    padding: 0px 17px 2px 17px;
    letter-spacing: 0.01em;
    position: relative;
    margin-bottom: 2px;
}
.links-nav{
    padding: 2px 0px;
    width: 100%;
    max-width: 196px;
    background:url("../images/nav.png") no-repeat left top;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus{
    background: url("../images/hover.png")
}
.links-nav a:after{
    width: 100%;
    height: 2px;
    content: "";
    background:url("../images/nav.png")no-repeat center center;
    position: absolute;
    bottom: -2px;
    left: 0px;
}
.marker li:before{
    width: 7px;
    height: 5px;
    top: 10px;
    background: url(../images/icons/arrow.png);
}
.marker li{
    padding-left: 16px;
    color: #585858;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 22px;
}
.btn-thumb{
    width: 24px;
    height: 25px;
    background-image: linear-gradient(to top, #f1f1f1 0%, #f5f5f5 100%);
    border: 1px solid #dedede;
    border-radius: 3px;
    margin: 5px 0px 0px 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
figure img{
    width: 100%;
    height: 100%;
    display: block;
}
p{
    color: #585858;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
}
/* $------------------------------------------------------------------------- */
.lwrap{
    max-width: 1020px;
    padding: 0px 10px;    
}
#logo{
    display: block;
    max-width: 138px;
    margin: 0px 0px 26px 5px;
}
#logo img{
    width: 100%;
    height: 100%;
}
.sidebar{
    flex-shrink: 0;
    background: url("../images/bg.png");
    width: 26.1%;
    padding: 51rem 24rem 20rem 24rem;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.1), inset 0 -1px 0 1px rgba(255, 255, 255, 0.28);
}
.content{
    padding: 53rem 0px 48rem 39rem;
}
.slider, h1{
    border-bottom:1px solid #d1d1d1;
    box-shadow: inset 0 -1px 0 #fcfcfc;
}
.slider{
    padding: 24px 0px 22px 0px;
    border-top:1px solid #d1d1d1;
    box-shadow: 0 -1px 0 #fcfcfc;
    margin-bottom: 26px;
}
.slider > div{
    padding-top: 5px;
}
.about{
    padding-bottom: 13px;
}
.about figure{
    margin-bottom: 23px;
}
h2{
    color: #666666;
    font-family: AdelleBasic;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
}
h1{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #666;
    font-family: AdelleBasic;
    font-size: 25px;
    padding: 0px 0px 19px 2px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
    margin: 0px 0px 15px 0px;
}
h2 > i{
    margin-right: 10px;
}
blockquote{
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #646464;
    font-family: PT Serif;
    font-size: 18px;
    font-style: italic;
    line-height: 26px;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
}
.slider > div > figure{
    width: 23.3%;
    margin-bottom: 10px;
}
.grid h2{
    margin-bottom: 9px;
}
.grid > article{
    width: 48%;
    margin-bottom: 14px;
}
.marker{
    padding-top: 2px;
}
@media (max-width: 1024px){
    .lwrap{padding: 0px 10px 0px 0px;}
}
@media (max-width: 640px){  
    .lwrap {padding: 0px;}
    .sidebar{border-bottom: 1px solid rgba(0, 0, 0, 0.7);box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(255, 255, 255, 0.28) inset;}
    .links-nav{
        background: none;
        max-width: 100%;
    }
    .links-nav a{            
        width: auto;
    }
    .links-nav a:after{
        display: none;
    }
    .links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus {
        background-size: 100%;
    }
    .links-nav a.active:after, .links-nav a:active:after, .links-nav a:hover:after, .links-nav a:focus:after {
        display: block;
    }
    #logo{
        margin: 0px;
    }
}
@media (max-width: 480px) {
    .slider > div > figure {
        width: 48.7%;
    }
}