/*COMMON*/
body {
    background-image: repeating-linear-gradient(-45deg, #8a4222 0px, #8a4222 3px, #8e4423 3px, #8e4423 22.5px, #8a4222 22.5px);
}
.lwrap{
    max-width: 960px;
}
figure img, a > img{
    width: 100%;
    height: 100%;
    display: block;
}

/*HEADER*/
header{
    background: #242729 linear-gradient(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.02));
    border-radius: 0px 0px 10rem 10rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.66);
    padding: 19rem 28rem 20rem 21rem;
}
header hr{
    width: 1px;
    height: 35px;
    background: #7b7a6d;
    margin: 0px 4rem 0px 19rem;
    flex-shrink: 0;
}
header .input-default{
    min-width: 178rem;
}
header form button{
    margin-left: 12rem;
}

/*CONTENT*/
.content-wrap{
    background:
        #242729 linear-gradient(rgba(255, 255, 255, 0.013), rgba(0, 0, 0, 0.013));
    border-radius: 10rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);
    margin: 42rem 0px 141rem 0px;
    overflow: hidden;
}
.content-wrap > section, footer{
    width: 100%;
}
.blog{
    width: 70.83%;
    padding: 39rem 39rem 30rem 40rem;
}
.sidebar{
    width: 29.167%;
    background: rgba(75, 76, 72, 0.2);
}
.breadcrumbs{
    padding: 10rem 10rem 8rem 2rem;
    padding-left: 10px;
    border-bottom: 1px solid #393b3d;
}
.blog article, .sidebar article{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.43);
    border-bottom: 1px solid #393b3d;
}

/*MAIN*/
.blog article{
    margin-bottom: 31rem;
    max-width: 600px;
    padding-bottom: 20rem;
}
.blog article figure, .addition article figure{
    padding: 5px;
    background: #8e4423;
}
.blog article figure{   
    margin-bottom: 17rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.46), inset 0 1px 0 rgba(255, 255, 255, 0.22);    
}
.blog article .icon-monitor{
    margin: 5rem 21rem 0px -1rem;
    flex-shrink: 0;
}
.blog article h2{
    letter-spacing: -0.01em;
}
.blog article h2 a, .blog article strong{
    color: #8e4423;
}
.blog article h2 a:active, .blog article h2 a:hover, .blog article h2 a:focus, .blog article em a:active, .blog article em a:hover, .blog article em a:focus{
    text-decoration: underline;
}
.blog article figure + div{
    flex-grow: 1;
}
.blog article em, .blog article h6{
    color: #646363;
}
.blog article h6{
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.02em;
}
.blog article strong, .blog article h2 a{
    font-size: 24rem;
    font-weight: 600;
}
.blog article strong{
    display: block;
    padding-right: 2rem;
}
.blog article strong, .blog article em{
    text-align: right;
    letter-spacing: -0.02em;
}
.blog article em a{
    color: #e6e3bb;
    margin-right: 3rem;
}

/*SIDEBAR*/
.sidebar{
    padding: 0px 10rem;
}
.sidebar .divider{
    margin: 0px -10rem 29rem -10rem;
    width: calc(100% + 20rem);
}
.sidebar > div{
    margin-bottom: 34rem;
}
.sidebar > .tabs{
    margin-bottom: 25.5rem;
}
.sidebar > .comments{
    margin-bottom: 31rem;
}
.sidebar form input[type=email]{
    width: 62%;
    padding: 0px 24rem;
}
.sidebar form label{
    font-size: 14px;
    color: #7b7a6d;
    margin-bottom: 9rem;
}
.sidebar form label span{
    color: #8e4423;
}
.sidebar .links-tags{
    padding-top: 20rem;
    margin-right: -8rem;
}
.comments article{
    color: #7b7a6d;
    font-size: 14px;
    padding: 10rem 5rem;
}
.comments figure{
    border: 2px solid #8e4423;
    margin: 1rem 6rem;
}
.comments a{
    color: #8e4423;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.025em;
}
.comments a:active, .comments a:hover, .comments a:focus{
    text-decoration: underline;
}
.comments time{
    font-style: italic;
    font-size: 14px;
    letter-spacing: -0.02em;
    padding-top: 2rem;
}
.comments p{
    margin-top: 5rem;
    text-indent: 6rem;
    letter-spacing: -0.005em;
}

/*ADDITION*/
.addition{
    padding: 15rem 19.5rem;
    background: linear-gradient(65deg, #e6e3bb 5px, transparent 6px) 64.25% bottom / 10px 10px no-repeat,
        linear-gradient(-65deg, #e6e3bb 5px, transparent 6px) 63.4% bottom / 10px 10px no-repeat,
        linear-gradient(65deg, #e6e3bb 5px, transparent 6px) 36.8% bottom / 10px 10px no-repeat,
        linear-gradient(-65deg, #e6e3bb 5px, transparent 6px) 36% bottom / 10px 10px no-repeat;
}
.addition article{
    width: 42.1%;
    padding-bottom: 17rem;
    margin-bottom: 2rem;
}
.addition article figure{
    float: right;
    margin: 19rem 0px 0px 5rem;
    box-shadow: 0 -1px 0 rgba(58, 58, 58, 0.45), inset 0 1px 0 rgba(255, 255, 255, 0.19);
}
.addition h4{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.52);
    color: #8e4423;
    font-family: Titillium Web;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin: 10rem 0px 3rem 0px;
    letter-spacing: 0.022em;
}
.addition article p{
    color: #7b7a6d;;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 9rem;
}
.addition hr{
    width: 12px;
    height: 100%;
    margin: 0px 3px;
    background:
        radial-gradient(circle closest-side, #864224 2px, transparent 2px, transparent 4px, #864224 4px, #864224 5px, transparent 6px),
        linear-gradient(#864224, #864224) center top / 1px calc(50% - 5px) no-repeat,
        linear-gradient(#864224, #864224) center bottom / 1px calc(50% - 5px) no-repeat;
}
.subscription{
    width: 53.4%;
}
.twit-box{
    border: 1px solid #3f3e3d;
    border-radius: 6px; 
    background: linear-gradient(transparent, #2b2e2f);
    padding: 1px;
}
.subscription .form-subscribe{
    margin: 8rem 0px 29rem 1rem;
}
.twit-follow{
    width: 62px;
    height: 68px;    
    margin-right: 8rem;
    flex-shrink: 0;
}
.twit-follow .icon-twitter{
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center center;
}
.twit-box p{
    font-size: 14px;
    color: #6f6f64;
    line-height: 18px;
    font-style: italic;
    margin: 14rem 13rem -10rem 18rem;
    letter-spacing: 0.012em;
}
.twit-box p span{
    color: #66665d;    
}
.twit-box p a{
    color: #e6e3bb;    
}
.twit-box p a:active, .twit-box p a:hover, .twit-box p a:focus{
    text-decoration: underline;
}
.twit-box p + a i{
    display: block;
}

/*FOOTER*/
.footer{
    padding: 26rem 20rem 12rem 19rem;
    background: linear-gradient(115deg, #242729 4px, transparent 5px) 65.35% top / 10px 10px no-repeat,
        linear-gradient(-115deg, #242729 4px, transparent 5px) 64.3% top / 10px 10px no-repeat,
        linear-gradient(115deg, #242729 4px, transparent 5px) 35.9% top / 10px 10px no-repeat,
        linear-gradient(-115deg, #242729 4px, transparent 5px) 34.8% top / 10px 10px no-repeat, #e6e3bb;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.23);
}
.footer > div{
    width: 21%;
    margin-bottom: 10px;
}
.clients > div{
    flex-grow: 1;
    padding-bottom: 9rem;
}
.clients a{
    margin: 2px;
}
.footer > .flickr{
    width: 30%;
}
.footer > div:last-child{
    width: 15%;
}
.flickr .title-footer{
    text-align: left;
}
.flickr > div{
    padding-right: 0.5rem;
}
.flickr a{
    background: #8e4423;
    border: 1px solid #242729;
    padding: 5px;
    width: 22.5%;
    margin: 3px 0px 6px 0px;
    border-radius: 1px;
    display: inline-block;
}
.copyright{
    padding: 18.5rem 7rem 18.5rem 25rem;
    color: #725142;
}
.copyright span{
    letter-spacing: 0.015em;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 960px) {
    .footer{background: #e6e3bb;}
    .addition{background: none;}
}
@media screen and (max-width: 640px) {
    .content-wrap{margin: 3px 0px;}
    .sidebar .separator{display: none;}
    .sidebar > div{width: 48%;}
    .footer > div, .footer > .flickr, .footer > div:last-child{width: 48%;}
}
@media screen and (max-width: 480px) {
    .flickr a{width: 48%;}
    .blog article strong, .blog article h2 a{font-size: 12px;}
}