.icon-browser {width: 33px; height: 33px; background: url('/images/icons/browser.png');}
.icon-cloud {width: 34px; height: 33px; background: url('/images/icons/cloud.png');}
.icon-comp {width: 27px; height: 26px; background: url('/images/icons/comp.png');}
.icon-note {width: 33px; height: 33px; background: url('/images/icons/note.png');}
.icon-pen {width: 32px; height: 32px; background: url('/images/icons/pen.png');}
.icon-plus {width: 9px; height: 10px; background: url('/images/icons/plus.png');}
.icon-thumb {width: 44px; height: 44px; background: url('/images/icons/thumb.png');}