body{
    font-family: Montserrat;
    font-size: 14px;
}

/*LINKS*/
.links-nav a{
    color: #777;
    text-transform: uppercase;
    margin: 7rem 17rem 3rem 17rem;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus, .view:active, .view:hover, .view:focus{
    color: #222;
}
.links-social a{
    width: 40px;
    height: 40px;
    margin: 5rem;
    border-radius: 50%;
    background: #212121;
}
.tw:active, .tw:hover, .tw:focus{background: #00aced;}
.fb:active, .fb:hover, .fb:focus{background: #3b5998;}
.pin:active, .pin:hover, .pin:focus{background: #cb2028;}
.gp:active, .gp:hover, .gp:focus{background: #da2713;}
.links-default a {
    font-size: 16px;
    line-height: 41rem;
    font-family: Roboto Slab;
    color: #ececec;
}
.links-default i{
    margin: 9rem 13rem 0px -2rem;
}
.links-default a:active, .links-default a:hover, .links-default a:focus{
    color: #7cc576;
}

/*BUTTONS*/
.btn{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.btn-default{
    height: 60px;
    border-radius: 30px;
    padding: 0px 35px;
    background: #7bc575;
    text-shadow: 0px 1px 1px rgba(0,0,0,.7);
    font-size: 16px;
    letter-spacing: -0.07em;
}
.btn-default:active, .btn-default:hover,.btn-default:focus{
    color: #212121;
    background: #fff;
}
.btn-contact{
    min-width: 173px;
    height: 52px;
    border: 3px solid #fff;
    border-radius: 7px;
    padding: 5px 25px;
    font-weight: 700;
    font-size: 18px;
}
.btn-contact:active, .btn-contact:hover, .btn-contact:focus{
    color: #7cc576;
    background: #fff;
}

/*LISTS*/
.list-relax{
    margin-bottom: 47rem;
}
.list-relax li{
    font-size: 15px;
    line-height: 42px;
    font-family: Roboto Slab;
    color: #cbcbcb;
    letter-spacing: 0.01em;
}
.list-relax li:before{
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    margin: 7px 20rem 0px 0px;
    border: 1px solid #cbcbcb;
    background: url('/images/icons/check.png')no-repeat center center;
}

/*LABELS*/
.lbl, .list-relax li:before{
    flex-shrink: 0;
    border-radius: 50%;
}
.lbl-project{
    width: 73px;
    height: 73px;
    margin-right: 16px;    
    border: 3px solid #000;
}
.lbl-article{
    width: 91px;
    height: 91px;
    border: 3px solid #777;
}

/*OTHER*/
.view{
    color: #7bc575;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.025em; 
    padding-right: 20px;
    background: url(/images/icons/arrow.png) no-repeat right center;
}
.view:active, .view:hover, .view:focus{
    background: url(/images/icons/arrow-hover.png) no-repeat right center;
}

/*CITES*/
blockquote{
    background: #f9f9f9;
    min-height: 173rem;
    max-width: 642px;
    padding: 40px;    
    position: relative;
    color: #777;
    font-family: Roboto Slab;
    font-size: 22px;
    line-height: 32px;
    text-indent: -10rem;
    padding: 36rem 40rem 28rem 56rem;
}
blockquote:after{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 0;
    height: 0;  
    left: -20px;
    border-right: 20px solid #f9f9f9;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
blockquote cite{
    color: #7bc575;
    font-size: 18px;
    font-style: normal;
    padding: 6rem 0px 0px 64rem;
}

