
/* ICONS */
.icon-arrow {width: 8px; height: 8px; background: url('/images/icons/arrow.png');}
.icon-calendar {width: 20px; height: 20px; background: url('/images/icons/calendar.png');}
.icon-cn {width: 24px; height: 24px; background: url('/images/icons/cn.png');}
.icon-dislike {width: 16px; height: 16px; background: url('/images/icons/dislike.png');}
.icon-dot {width: 3px; height: 3px; background: url('/images/icons/dot.png');}
.icon-fb {width: 24px; height: 24px; background: url('/images/icons/fb.png');}
.icon-like {width: 16px; height: 16px; background: url('/images/icons/like.png');}
.icon-ms {width: 24px; height: 24px; background: url('/images/icons/ms.png');}
.icon-rss {width: 24px; height: 24px; background: url('/images/icons/rss.png');}
.icon-tw {width: 24px; height: 24px; background: url('/images/icons/tw.png');}