@font-face {
    font-family: 'CharissSIL';
    src: url('/fonts/fontsquirel.com/charissilbi.woff2') format('woff2'), url('/fonts/fontsquirel.com/charissilbi.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
font-family: 'CharissSIL';
    src: url('/fonts/fontsquirel.com/charissili.woff2') format('woff2'), url('/fonts/fontsquirel.com/charissili.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}