.icon-address {width: 28px; height: 28px; background: url('/images/icons/address.png');}
.icon-arrow {width: 12px; height: 12px; background: url('/images/icons/arrow.png');}
.icon-fax {width: 28px; height: 28px; background: url('/images/icons/fax.png');}
.icon-left {width: 24px; height: 24px; background: url('/images/icons/left.png');}
.icon-mail {width: 28px; height: 28px; background: url('/images/icons/mail.png');}
.icon-phone {width: 28px; height: 28px; background: url('/images/icons/phone.png');}
.icon-right {width: 24px; height: 24px; background: url('/images/icons/right.png');}