@import url(https://fonts.googleapis.com/css?family=Play:400,700);

/* ICONS */
.icon-fb {width: 23px; height: 23px; background: url('/images/icons/fb.png');}
.icon-location {width: 16px; height: 22px; background: url('/images/icons/location.png');}
.icon-rss {width: 23px; height: 23px; background: url('/images/icons/rss.png');}
.icon-search {width: 22px; height: 22px; background: url('/images/icons/search.png');}
.icon-tw {width: 23px; height: 23px; background: url('/images/icons/tw.png');}
.icon-next {width: 13px; height: 17px; background: url('/images/icons/next.png');}
.icon-prev {width: 13px; height: 17px; background: url('/images/icons/prev.png');}