@font-face {
    font-family: Gotham;
    src: url('/fonts/fontsquirel.com/gotham-book.woff2') format('woff2'), url('/fonts/fontsquirel.com/gotham-book.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: Gotham;
    src: url('/fonts/fontsquirel.com/gotham-medium.woff2') format('woff2'), url('/fonts/fontsquirel.com/gotham-medium.woff') format('woff');
    font-weight: 500;
}