@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=1655f059-a135-41e7-8efc-fffb1467ff3c");
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face {
    font-family: "ProximaNova";
    src: url("/fonts/fonts.com/7055ef53-9779-4bc2-b5bb-b29df19c6f5d.woff2") format("woff2"), url("/fonts/fonts.com/1b4cb635-3c1e-49aa-b391-55b5f85708be.woff") format("woff");
    font-weight: 600;
}