.icon-collect:hover {background: url('/images/icons/collect-hover.png');}
.icon-pause:hover {background: url('/images/icons/pause-hover.png');}
.icon-repeat:hover {background: url('/images/icons/repeat-hover.png');}
.icon-shuffle:hover {background: url('/images/icons/shuffle-hover.png');}
.icon-soundtrack:hover {background: url('/images/icons/soundtrack-hover.png');}
.icon-thumbsdown:hover {background: url('/images/icons/thumbsdown-hover.png');}
.icon-thumbsup:hover {background: url('/images/icons/thumbsup-hover.png');}
.icon-volume:hover {background: url('/images/icons/volume-hover.png');}