.icon-arrow {width: 19px; height: 14px; background: url('/images/icons/arrow.png');}
.icon-fb {width: 12px; height: 24px; background: url('/images/icons/fb.png');}
.icon-in {width: 21px; height: 21px; background: url('/images/icons/in.png');}
.icon-mail {width: 22px; height: 15px; background: url('/images/icons/mail.png');}
.icon-tw {width: 15px; height: 21px; background: url('/images/icons/tw.png');}