body{
    font-size: 14px;
    font-family: Alegreya;
}

/*LINKS*/
.links-nav, .links-nav a{
    color: white;
    text-transform: uppercase;
}
.links-nav a{
    margin: 0px 2px;    
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus, .links-menu a:active, .links-menu a:hover, .links-menu a:focus{
    text-decoration: underline;
}
.links-social a{
    margin: 14rem;
    line-height: 1px;
}
.links-menu{
    width: 100%;
}
.links-menu > div{
    flex-grow: 1;
    padding: 20rem;
    background: linear-gradient(#c2beba, #c2beba) center bottom / 90% 1px no-repeat,
        linear-gradient(#c2beba, #c2beba) center top / 90% 1px no-repeat,
        url("/images/shadowmenulg.png")center center / 99% no-repeat;
}
.links-menu, .links-menu a{
    color: #56534c;
    text-transform: uppercase;
}

/*BTNS*/
.btn-header, .btn-default, .btn-alt{
    text-transform: uppercase;
    padding: 0px 5px;
    font-weight: 700;
    font-size: 18px; 
    text-align: center;
}
.btn-header, .btn-default{
    height: 50px;
}
.btn-header{
    min-width: 200rem;    
    background: rgba(86,83,76,.53);
    border: 1px dashed #9e9c93;
    color: white;
    letter-spacing: 0.3em;    
}
.btn-default{
    min-width: 190rem;
    border: 1px solid #9e9c93;
    color: #a47d5e;    
}
.btn-alt{
    min-width: 171rem;
    height: 60px;
    background: white;
    border: 1px dashed #dfc691;
    color: #dfc691;
}

/*LABELS*/
.lbl-lg{
    color: #c9b176;
    font-size: 30rem;
    line-height: 36rem;
    text-transform: uppercase;
    padding: 20rem;
    text-align: center;
    width: 279rem;
    height: 279rem;
    background: url("/images/lbllg.png")center center;
    background-size: cover;
}
.lbl-sm{
    width: 106rem;
    height: 106rem;
    min-height: 80px;
    min-width: 80px;
    background: radial-gradient(circle closest-side, white 70%, transparent 70%), url("/images/lblsm.png")center center;
    background-size: cover;
}
.lbl-time{
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,.8);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;    
}
.lbl-time.alt{
    background: url("/images/time.png")center center;
}
.lbl-time strong{
    color: #a47d5e;
    font-size: 18px;
    text-transform: uppercase;
}
.lbl-time time span{
   color: #56534c;
font-size: 60px;
    line-height: 40px;
}
.lbl-time.alt time span{
    color: #dfc691;
    font-size: 92px;
}
.lbl-time time small{
    color: #979285;
    font-size: 18px;
    display: block;
}

/*CITES*/
blockquote{
    max-width: 300px;
    margin: auto;
}
blockquote q{
    color: #a47d5e;
    font-size: 24px;
    line-height: 30px;
    font-family: Scriptina;
    text-align: center;
    padding: 0px 30px;
    display: inline-block;
}
blockquote span{
    color: rgba(86,83,76,.5);
    font-family: Times New Roman;
    font-size: 60px;
    display: block;
}
blockquote span:first-child{
    line-height: 10px;
}
blockquote span:last-child{
    text-align: right;
}