body{
    font-size: 14px;
    font-family: Alegreya;
}

/*LINKS*/
.links-nav, .links-nav a{
    color: white;
    text-transform: uppercase;
}
.links-nav a{
    margin: 0px 3px;    
    letter-spacing: 0.3em;
}
.links-nav a:active, .links-nav a:hover, .links-nav a:focus, .links-menu a:active, .links-menu a:hover, .links-menu a:focus{
    text-decoration: underline;
}
.links-social a{
    margin: 14.5rem;
    line-height: 1px;
}
.links-menu{
    width: 100%;
}
.links-menu > div{
    flex-grow: 1;
    padding: 26rem 62rem;
    background: linear-gradient(#c2beba, #c2beba) center bottom / 90% 1px no-repeat,
        linear-gradient(#c2beba, #c2beba) center top / 90% 1px no-repeat,
        url("/images/shadowmenulg.png")center center / 99% no-repeat;
}
.links-menu, .links-menu a{
    color: #56534c;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
}

/*BTNS*/
.btn-header, .btn-default, .btn-alt{
    text-transform: uppercase;
    padding: 0px 5px;
    font-weight: 700;     
    text-align: center;
}
.btn-header, .btn-default{
    height: 50px;
}
.btn-default, .btn-alt{
    font-size: 18px;
}
.btn-header{
    min-width: 200rem;    
    background: rgba(86,83,76,.53);
    border: 1px dashed #9e9c93;
    color: white;
    letter-spacing: 0.3em;    
}
.btn-default{
    min-width: 190rem;
    border: 1px solid #9e9c93;
    color: #a47d5e; 
    letter-spacing: 0.05em;
}
.btn-alt{
    min-width: 171rem;
    height: 60px;
    background: white;
    border: 1px dashed #dfc691;
    color: #dfc691;
    letter-spacing: 0.05em;
}
.btn-menu{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(#d8bba3,#d8bba3) 18px 17px / 1px 16px no-repeat,
        linear-gradient(#d8bba3,#d8bba3) 22px 17px / 1px 16px no-repeat,
        linear-gradient(#d8bba3,#d8bba3) 26px 17px / 1px 16px no-repeat, white;
}
.btn-slide{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #d8bba3;
    cursor: pointer;
}
.btn-slide.active, .btn-slide:active, .btn-slide:hover, .btn-slide:focus{
    border: 2px solid #56534c;
}
.btn-slide.active:before, .btn-slide:active:before, .btn-slide:hover:before, .btn-slide:focus:before{
    box-shadow: 2px 2px 0px #56534c;
}
.btn-slide:before{
    content: "";
    width: 9px;
    height: 9px;
    box-shadow: 2px 2px 0px #d8bba3;
}
.btn-slide.prev:before{
    transform: rotate(135deg);
    margin-left: 9px;
}
.btn-slide.next:before{
    transform: rotate(-45deg);
    margin-right: 9px;
}

/*LABELS*/
.lbl-lg{
    color: #c9b176;
    font-size: 30rem;
    line-height: 36rem;
    text-transform: uppercase;
    padding: 20rem 20rem 45rem 20rem;
    text-align: center;
    width: 279rem;
    height: 279rem;
    min-width: 110px;
    min-height: 110px;
    background:
        url("/images/lbllg.png")center 10% / 89% 89% no-repeat,
        url("/images/label-shadow.png") center center / 100% 100% no-repeat;
    letter-spacing: 0.045em;
}
.lbl-sm{
    width: 106rem;
    height: 106rem;
    min-height: 80px;
    min-width: 80px;
    background: radial-gradient(circle closest-side, white 74%, transparent 74%), url("/images/lblsm.png")center center;
    background-size: cover;
}
.lbl-time{
    width: 200rem;
    height: 200rem;
    min-width: 85px;
    min-height: 85px;
    background: rgba(255,255,255,.8);
    background-size: cover;
    flex-direction: column;
    text-align: center;
    font-weight: 700; 
    padding: 2px;
}
.lbl-time.alt{
    padding: 22rem;
    justify-content: space-around;
    background: url("/images/time.png")center center;
}
.lbl-time strong{
    color: #a47d5e;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 14px;
    padding: 4rem;
    height: 22px;
}
.lbl-time time span{
    color: #56534c;
    font-size: 60rem;
    line-height: 66rem;
    letter-spacing: 0.1em;
    display: inline-block;
    text-indent: 5rem; 
}
.lbl-time.alt time span{
    color: #dfc691;
    font-size: 92rem;
    line-height: 84rem;
    text-indent: 10rem;    
}
.lbl-time time small{
    color: #979285;
    font-size: 18px;
    display: block;
    letter-spacing: 0.1em;
}

/*CITES*/
blockquote{
    max-width: 410px;
    margin: auto;
    width: 100%;
}
blockquote q{
    color: #a47d5e;
    font-size: 24px;
    line-height: 30px;
    font-family: Scriptina;
    text-align: center;
    margin: -7px 49px;
    display: inline-block;
    letter-spacing: 0.025em;
}
blockquote span{
    color: rgba(86,83,76,.5);
    font-family: Times New Roman;
    font-size: 60px;
    display: block;
}
blockquote span:first-child{
    line-height: 1px;
}
blockquote span:last-child{
    text-align: right;
    line-height: 54px;
}