/*COMMON*/
.lwrap{ 
    padding: 0px 10px;
}
figure > img, a > img{
    width: 100%;
    height: 100%;
    display: block;
}
body{
    background: #f3f1e9;
}
hgroup *{
    font-weight: 700;
    text-align: center;    
}
hgroup h2{
    color: #56534c;
    font-size: 48rem;
    letter-spacing: 0.025em;
}
hgroup h4{
    color: #a47d5e;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*HEADER*/
header{
    background: radial-gradient(circle 457px at center, rgba(86,79,76,.71), transparent), url("/images/header.png")center center;
    background-size: cover;
}
.nav .links-nav{
    width: 63.36%;
}
.nav{
    background: rgba(86, 83, 76, 0.53);
}
.nav > .lwrap{
    padding: 12.5rem 10px;
    max-width: 1302px
}
.nav .links-social{
    padding-left: 33rem;
}
#logo{
    margin: 0 7rem;
}
.header{
    text-align: center;
    padding: 150rem 10px 214rem 10px;
    position: relative;
}
.header hr{
    width: 190rem;
    height: 12rem;
    background: url("/images/dash.png")center center;
    background-size: cover;
}
.header h1, .header p{
    color: white;
    text-shadow: 0 1px 0 #3d3029;
}
.header h1{   
    font-family: PlayfairDisplay;
    font-size: 106rem;
    font-weight: 700;
    min-height: 204rem;
    letter-spacing: 0.03em;
    display: flex;
}
.header h1 span{
    font-size: 98rem;
}
.header p{  
    font-family: ProximaNova;
    font-size: 24rem;
    line-height: 36rem;
    max-width: 560px;
    min-height: 176rem;
    margin-bottom: 10rem;
    letter-spacing: 0.1em;
}
.header .lbl-sm{
    position: absolute;
    left: 50%;
    bottom: 0px;
    z-index: 1;
    transform: translate(-54%, 54%);   
}

/*CAKES*/
.cakes{
    border-top: 10rem solid white;
    background: linear-gradient(225deg, transparent, white), url("/images/bg.png");
}
.cakes > .lwrap{
    padding: 81rem 10px 68rem 10px;
    max-width: 1252px;
}
.cakes hgroup{
    margin-bottom: 58rem;
}
.cakes > .lwrap > article{
    width: 48.5%;
}
.cakes > .lwrap > .gallery{
    width: 49.5%;
}
.cakes .gallery figure{
    width: 48.3%;    
    margin-bottom: 20px;
    position: relative;
}
.cakes .gallery figure:before{
    content: "";
    position: absolute; 
    border: 5px solid white;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
}
.gallery{
    position: relative;
    padding-bottom: 3rem;
}
.gallery .lbl-lg{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cakes p{
    text-align: center;
    color: #56534c;
    font-family: ProximaNova;
    line-height: 24px;
    max-width: 500px;
    letter-spacing: 0.1em;
    margin-bottom: 33rem;
}
.cakes h3{
    color: #56534c;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 38rem;
}
.cakes .avatar{
    margin-bottom: 43rem;
}
.cakes .avatar > span{
    flex-grow: 1;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    padding: 13rem 0;
    color: #56534c;
    font-size: 24px;
    min-width: 111rem;
}
.cakes .avatar > figure{
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 21rem;
}

/*PANCAKES*/
.pancakes{
    background: url("/images/board.png") center center;
    background-size: cover;
}
.pancakes > .lwrap{
    max-width: 1100px;
    padding: 140rem 124rem 107rem 10px;
}
.pancakes-preview{   
    border-radius: 0px 0px 0px 90px;
    position: relative;
    margin-left: 1rem;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.23);
    background: url("/images/mill.png") no-repeat right bottom 3rem,
        linear-gradient(white, white) 50px top / calc(100% - 50px) 100% no-repeat,
        linear-gradient(white, white) left top / 100% calc(100% - 50px) no-repeat;
}
.pancakes-preview > div{
    padding: 64rem 59rem 1px 61rem;
    width: 56.55%;
}
.pancakes-preview .lbl-time, .pancakes-preview .btn-menu{
    position: absolute;
}
.pancakes-preview .lbl-time{
    right: -105rem;
    top: -43rem;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.23);
}
.pancakes-preview .btn-menu{
    top: 50%;
    right: 0px;
    transform: translate(58%, -50%);    
}
.pancakes-preview .rating-side{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30rem;
}
.pancakes-preview > figure{
    position: relative;
    flex-shrink: 0;
    width: 43.45%;
    position: relative;
}
.pancakes-preview > figure:before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 50px;
    height: 50px;
    box-shadow: 7px -4px 9px rgba(0, 0, 0, 0.23);
    background: 
        linear-gradient(-136deg, transparent, transparent 20%, rgba(86, 83, 76, .12) 51%, transparent 51%) left bottom / 50rem 50rem no-repeat,
        linear-gradient(-136deg, white, white 51%, transparent 51%) left bottom / 50rem 50rem no-repeat;
}
.pancakes-preview hgroup{
    margin-bottom: 58rem;
}
.pancakes-preview hgroup *{
    text-align: left;
}
.pancakes article{
    padding-left: 3rem;
}
.pancakes-preview p{
    color: #56534c;
    font-family: ProximaNova;
    line-height: 24px;
    margin-bottom: 40rem;
    letter-spacing: 0.1em;
}
.owl-carousel{
    width: calc(100% - 64px);
}
#owl-demo .item{
    margin: 0px 15.5rem;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    border: 1px solid #d8bba3;
    border-radius: 50%;
    background: #d8bba3;
    opacity: 1;
    margin: 5px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: none;
}
.pancakes-slider .btn-slide{
    flex-shrink: 0;
    margin-bottom: 39rem;
}
.owl-theme .owl-controls {
    margin-top: 13rem;
}
.rating{
  margin: 0px 0px 32rem 4rem;  
}

/*BREAKFAST*/
.breakfast{
    background: url("/images/breakfast.png") center center;
    background-size: cover;
    text-align: center;
}
.breakfast > .lwrap{
    max-width: 1322px;
    padding: 82rem 10px 62rem 10px;    
    position: relative;
}
.breakfast > .lwrap:after{
    position: absolute;
    content: '';
    right: -135rem;
    bottom: 16rem;
    background: url("/images/morningbg.png")no-repeat center center;
    background-size: cover;
    width: 346rem;
    height: 204rem;
    z-index: 1000;
    pointer-events: none;
}
.breakfast hgroup{
    margin-bottom: 54rem;
}
.breakfast hgroup h2{
    color: white;
    font-size: 60rem;
    line-height: 64rem;
    letter-spacing: 0.05em;
}
.breakfast hgroup h4{
    color: #c8a593;
    font-size: 18px;
    letter-spacing: 0.05em;
}
.menu{  
    width: 57.8%;
    padding-bottom: 20px;
}
.menu h5{
    color: white;
    font-size: 30rem;
    font-weight: 700;
    line-height: 40rem;
    letter-spacing: 0.05em;
}
.menu p{
    color: #c2beba;
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 6px;
    letter-spacing: 0.05em;
}
.menu big{
    color: #dfc691;
    font-size: 36rem;
    letter-spacing: 0.05em;
}
.menu hr{
    width: 104px;
    height: 41px;
    margin: 5rem auto -6rem auto;
    background: url("/images/bb.png")center center;
    background-size: cover;
}
.description{
    border-radius: 0px 0px 0px 30rem;
    position: relative;
    z-index: 1000;
    margin-right: 25rem;
    padding: 10rem;
    width: 33.75%;
    box-shadow: 7px 0 5px rgba(0, 0, 0, 0.8);
    background: 
        linear-gradient(45deg, rgba(0,0,0,.05), transparent) 30rem calc(100% - 30rem) / 10rem 10rem no-repeat,
        linear-gradient(90deg, rgba(0,0,0,.05), transparent) 30rem bottom / 10rem 30rem no-repeat,
        linear-gradient(transparent, rgba(0,0,0,.05)) left calc(100% - 30rem) / 30rem 10rem no-repeat,
        linear-gradient(#f3f1e9, #f3f1e9) bottom right / calc(100% - 30rem) no-repeat,
        linear-gradient(#f3f1e9, #f3f1e9) left top / 100% calc(100% - 30rem) no-repeat,
        linear-gradient(-135deg, transparent, transparent 20%, rgba(86, 83, 76, .12) 49%, transparent 50%) left bottom / 30rem 30rem no-repeat,
        linear-gradient(-135deg, white, white 49%, transparent 50%) left bottom / 30rem 30rem no-repeat;
}
.description:before, .description:after{
    content: "";
    position: absolute;                  
    background:url("/images/borderh.png") no-repeat left calc(100% - 10rem),
        linear-gradient(#f3f1e9, #f3f1e9) right bottom / 20rem 20rem no-repeat,
        url("/images/borderv.png") repeat-y 3rem 0rem,
        linear-gradient(#f3f1e9, #f3f1e9);
}
.description:before{
    top: 26rem;
    bottom: 26rem;
    right: -13rem;
    width: 13rem;
    box-shadow: inset 13px 0px 5px 0px rgba(0, 0, 0, 0.1), 7px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
.description:after{
    top: 50rem;
    bottom: 49rem;
    right: -25rem;
    width: 12rem;
    box-shadow: inset 13px 0px 5px 0px rgba(0, 0, 0, 0.2), 7px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
.description > article{
    padding: 14rem 5px 56rem 5px;
    border-radius: 0px 0px 0px 25px;
    background:
        url("/images/borderh.png") repeat-x 9px top,
        url("/images/borderh.png") repeat-x 8px calc(100% - 1px),
        url("/images/borderv.png") repeat-y left 3px,
        url("/images/borderv.png") repeat-y right 1px;
}
.description h2{
    color: #56534c;
    font-size: 44rem;
    font-weight: 700;
    line-height: 60rem;
    letter-spacing: 0.025em;
    min-height: 180rem;
    max-width: 100%;
}
.description p{
    color: #56534c;
    font-family: ProximaNova;
    line-height: 30px;
    letter-spacing: 0.05em;
    max-width: 377px;
    margin-bottom: 12rem;
    min-height: 122px;
}
.description .hdr{
    width: 100%;
    color: #56534c;
    font-weight: 700;
    text-transform: uppercase;
    background: url("/images/line.png")center bottom no-repeat, url("/images/eight.png")center bottom 14px no-repeat;
    padding-bottom: 45px;
    min-height: 114px;
    margin-bottom: 32rem;
}
.description .hdr span{
    padding: 5px;
    letter-spacing: 0.05em;
}

/*SANDWICH*/
.sandwich{
    background: url("/images/landsape.png")center top no-repeat;
}
.sandwich > .lwrap{
    max-width: 1272px;
    padding: 86rem 10px 10px 10px;
}
.sandwich hgroup{
    width: 100%;
    margin-bottom: -8rem;
}
.products{
    width: 22%;
    text-align: center;
    height: 100%;
}
.products figure{
    box-shadow: 0 10px 10px rgba(0,0,0,.05);
    border-radius: 50%;
    display: inline-block;
}
.products h4{
    color: #a47d5e;
    font-family: Alegreya;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin: 15rem 0px 21rem 0px;
    letter-spacing: 0.025em;
}
.products p{
    color: #56534c;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;    
    letter-spacing: 0.1em;
    margin: 0px -9rem;
    max-width: 300px;
}
.products article{
    margin: 27rem 10px;
}
.recipe{
    width: 67.05%;
}
.recipe figure{
    position: relative;
    border: 10px solid white;
    box-shadow: 0px 10px 36px 0px rgba(0,0,0,.1);
    border: 10rem solid white;
}
.recipe figure .cooking-time{
    position: absolute;
    top: -34rem;
    bottom: -32rem;
    right: 0px;    
}
.recipe figure .lbl-time.alt{
    box-shadow: 0px 10px 36px 0px rgba(0,0,0,.1);
}
.recipe figure .btn-alt{
    position: absolute;
    bottom: -27rem;
    left: -32rem;
}

/*FOOTER*/
footer.lwrap{
    padding: 105rem 10px 70rem 10px;
    max-width: 1350px;
}
#logoalt{
    margin: 3px;
}

/*MEDIA QUERIES*/
@media (max-width: 800px) {
      .header p{font-size: 14px;line-height: 21px;}  
      .menu, .description{width: 48%;}
      hgroup h2 {font-size: 28px;}
      .breakfast hgroup h2 {font-size: 36px; line-height: 38px;}
      .menu h5{font-size: 18px; line-height: 24px;}
      .menu big{font-size: 17px;}
      .recipe figure .btn-alt{left: -10px;bottom: -10px;}
      .recipe figure .cooking-time{top: 10px; bottom: 10px;}
}
@media (max-width: 640px) {
       .lbl-lg{font-size: 14px;line-height: 18px;} 
       .header .lbl-sm{display: none;}
}
@media (max-width: 480px) {
    .description:after, .description:before{display: none;}
       .nav .links-nav {width: 100%;order: 2;}
       .description h2{font-size: 15.5px;line-height: 20px;}
}