/*COMMON*/
figure > img, a > img, figure > iframe, .slider-main > ul > li > img{
    width: 100%;
    height: 100%;
    display: block;
}
.lwrap{
    padding: 0px 10px;
    max-width: 1190px;
}
body{
    background: #f8f9fb;
}
body > div{
    flex-grow: 1;
    flex-shrink: 0;
}
p{
    color: #616161;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.012em;
}

/*HEADER*/
header{
    position: relative;
}
header > .lwrap{
    max-width: 1218px;
    padding: 16rem 10px 15rem 10px;
}
.nav{
    background: #032f3e;
    box-shadow: 0 18px 29px rgba(0, 0, 0, 0.44);
}
header .contacts > div{
    border-right: 1px solid #d5d5d5;
    padding: 5rem 20rem;
}
header .contacts > div:first-child{
    border-left: 1px solid #d5d5d5;
}
header .contacts a{
    color: #032f3e;
    font-family: Lato;
    font-size: 18px;
}
header .contacts > div > i{
    margin-right: 10rem;
}
.nav > .lwrap{
    max-width: 1220px;
}
#logo{
    margin: 6rem 10px 0rem 24rem;
}

/*SLIDER-MAIN*/
.slider-main {
    position: relative;
    max-height: 862px;
    overflow: hidden;
}
.slider-main > ul{
    position: relative;
}
.slider-main > input[type=radio] {
    display: none;
}
.slider-main > ul > li:first-child {
    visibility: hidden;
}
.slider-main > ul > li:not(:first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    transition: transform 2000ms cubic-bezier(0.4, 1.3, 0.65, 1);
}
.slider-main > ul > .num0 {
    left: 0%;
}
.slider-main > ul > .num1 {
    left: 100%;
}
.slider-main > ul > .num2 {
    left: 200%;
}
.slider-main > #slide1-0:checked ~ ul > li {
    transform: translateX(0%);
}
.slider-main > #slide1-1:checked ~ ul > li {
    transform: translateX(-100%);
}
.slider-main > #slide1-2:checked ~ ul > li {
    transform: translateX(-200%);
}
@keyframes slide1 {
    0%, 13.372%{ transform: translateX(0%); }
    25%, 38.372%{ transform: translateX(-100%); }
    50%, 63.372%{ transform: translateX(-200%); }
}
@keyframes slide1-ie {
    0%, 13.372%{ margin-left: 0%; }
    25%, 38.372%{ margin-left: -100%; }
    50%, 63.372%{ margin-left: -200%; }
}
/*.slider-main  > #play1:checked ~ ul > li {
    animation: slide1 17200ms infinite;	
}*/
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slider-main > #play1:checked ~ ul > li:not(:first-child) {
        animation: slide1-ie 14400ms infinite;
    }
}
.slider-nav{
    position: absolute;
    z-index: 1;
    right: 32rem;
    top: 50%;
    height: 100%;
    transform: translateY(-54%);
    max-height: 192px;
}
.slider-main .arrowprev,
.slider-main .arrownext {
    position: relative;
    width: 14px;
    height: 8px;
}
.slider-main .arrowprev > label,
.slider-main .arrownext > label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slider-main .arrowprev > label {
    background: url(/images/icons/sliderup.png)no-repeat center center;
}
.slider-main .arrownext > label {
    background: url(/images/icons/sliderdown.png)no-repeat center center;
}
.slider-main > #slide1-0:checked ~ .slider-nav .arrowprev > .num2,
.slider-main > #slide1-0:checked ~ .slider-nav .arrownext > .num1, 
.slider-main > #slide1-1:checked ~ .slider-nav .arrowprev > .num0,
.slider-main > #slide1-1:checked ~ .slider-nav .arrownext > .num2, 
.slider-main > #slide1-2:checked ~ .slider-nav .arrowprev > .num1,
.slider-main > #slide1-2:checked ~ .slider-nav .arrownext > .num0 {
    z-index: 5;
}
@keyframes arrows1 {
    0%, 33.323% { z-index: 5; }
    33.333%, 100% { z-index: -1; }
}
.slider-main > #play1:checked ~ .slider-nav .arrowprev > .num2,
.slider-main > #play1:checked ~ .slider-nav .arrownext > .num1 {
    animation: arrows1 12000ms infinite -2000ms;
}
.slider-main > #play1:checked ~ .slider-nav .arrowprev > .num0,
.slider-main > #play1:checked ~ .slider-nav .arrownext > .num2 {
    animation: arrows1 12000ms infinite 2000ms;
}
.slider-main > #play1:checked ~ .slider-nav .arrowprev > .num1,
.slider-main > #play1:checked ~ .slider-nav .arrownext > .num0 {
    animation: arrows1 12000ms infinite 6000ms;
}
.slider-main .bullets > label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    margin: 8.5px;
    transform: rotate(45deg);
}
.slider-main > #slide1-0:checked ~ .slider-nav > .bullets > .num0,
.slider-main > #slide1-1:checked ~ .slider-nav > .bullets > .num1,
.slider-main > #slide1-2:checked ~ .slider-nav > .bullets > .num2{
    background: #ab987a;
}
@keyframes bullets1 {
    0%, 24.99%	{ background: #ab987a; }
    25%, 100% { background: white; }
}
.slider-main > #play1:checked ~ .slider-nav > .bullets > .num0{
    animation: bullets1 17200ms infinite -2000ms;
}
.slider-main > #play1:checked ~ .slider-nav > .bullets > .num1{
    animation: bullets1 17200ms infinite 2300ms;
}
.slider-main > #play1:checked ~ .slider-nav > .bullets > .num2{
    animation: bullets1 17200ms infinite 6600ms;
}
.slider-main > .description{
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: 100;
    max-width: 1194px;
}
.slider-main > .description > label {
    position: absolute;
    right: 10px;
    bottom: 80rem;
    cursor: default;
}
.slider-main > .description > label > * {
    opacity: 0;
}
.slider-main > .description > label > big, .slider-main > .description > label > small {
    color: white;
    font-size: 70rem;
    text-transform: uppercase;
}
.slider-main > .description > label > big {
    font-weight: 700;
    transition: opacity 600ms ease;
}
.slider-main > .description > label > small {
    font-weight: 100;       
    transition: opacity 850ms ease;
}
.slider-main > .description > label > figure{
    width: 170px;
    padding-top: 12.2%;
    margin: 22rem 2rem 0px 0px;
}
.slider-main > #slide1-0:checked ~ .description > .num0 > *,
.slider-main > #slide1-1:checked ~ .description > .num1 > *,
.slider-main > #slide1-2:checked ~ .description > .num2 > *{
    opacity: 1;
}
@keyframes description1 {
    2.906%, 22.083% { opacity: 1;}
    27.906% { opacity: 0;}
}
.slider-main > #play1:checked ~ .description > .num0  > big {
    animation: description1 17200ms infinite -1400ms;
}
.slider-main > #play1:checked ~ .description > .num1  > big {
    animation: description1 17200ms infinite 2900ms;
}
.slider-main > #play1:checked ~ .description > .num2  > big {
    animation: description1 17200ms infinite 7200ms;
}
.slider-main > #play1:checked ~ .description > .num0  > small {
    animation: description1 17200ms infinite -1150ms;
}
.slider-main > #play1:checked ~ .description > .num1  > small {
    animation: description1 17200ms infinite 3150ms;
}
.slider-main > #play1:checked ~ .description > .num2  > small {
    animation: description1 17200ms infinite 7450ms;
}
.slider-main > #play1:checked ~ .description > .num0  > figure {
    animation: description1 17200ms infinite -900ms;
}
.slider-main > #play1:checked ~ .description > .num1  > figure {
    animation: description1 17200ms infinite 3400ms;
}
.slider-main > #play1:checked ~ .description > .num2  > figure {
    animation: description1 17200ms infinite 7700ms;
}

/*SLIDER-PROJECT*/
.slider-project {
    position: relative;
    max-height: 569px;
    overflow: hidden;
}
.slider-project > ul{
    position: relative;
}
.slider-project > input[type=radio] {
    display: none;
}
.slider-project > ul > li:first-child {
    visibility: hidden;
}
.slider-project > ul > li:not(:first-child) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    transition: transform 2000ms cubic-bezier(0.4, 1.3, 0.65, 1);
}
.slider-project > ul > .num0 {
    left: 0%;
}
.slider-project > ul > .num1 {
    left: 100%;
}
.slider-project > ul > .num2 {
    left: 200%;
}
.slider-project > #slide2-0:checked ~ ul > li {
    transform: translateX(0%);
}
.slider-project > #slide2-1:checked ~ ul > li {
    transform: translateX(-100%);
}
.slider-project > #slide2-2:checked ~ ul > li {
    transform: translateX(-200%);
}
@keyframes slide2 {
    0%, 13.372%{ transform: translateX(0%); }
    25%, 38.372%{ transform: translateX(-100%); }
    50%, 63.372%{ transform: translateX(-200%); }
}
@keyframes slide2-ie {
    0%, 13.372%{ margin-left: 0%; }
    25%, 38.372%{ margin-left: -100%; }
    50%, 63.372%{ margin-left: -200%; }
}
.slider-project > #play2:checked ~ ul > li {
    animation: slide2 17200ms infinite;	
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slider-main > #play2:checked ~ ul > li:not(:first-child) {
        animation: slide2-ie 14400ms infinite;
    }
}

/*WAVE*/
.wave{
    width: 60px;
    height: 37px;
    border-radius: 30px 30px 0px 0px;    
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -31px;
    z-index: 101;
}
.slider-main .wave{
    background: #f8f9fb;
}
.testimonials .wave{
    background: #ab987a;
}
.wave:before, .wave:after, .wave > div:before, .wave > div:after{
    content: ""; 
    display: inline-block;
    position: absolute;
    bottom: 0px;
}
.wave:before{
    left: -20px;
    border-top: 27px solid transparent;    
    border-bottom: 8px solid transparent;
    transform: rotate(8deg);
}
.slider-main .wave:before{
    border-right: 32px solid #f8f9fb;
}
.testimonials .wave:before{
    border-right: 32px solid #ab987a;
}
.wave:after{
    right: -20px;
    border-top: 27px solid transparent;
    border-bottom: 8px solid transparent;
    transform: rotate(-8deg);
}
.slider-main .wave:after{
    border-left: 32px solid #f8f9fb;
}
.testimonials .wave:after{
    border-left: 32px solid #ab987a;
}
.wave > div{
    width: 100%;
    height: 100%;
}
.slider-main .wave > div{
    background: url(/images/icons/down.png)no-repeat center 18px;
}
.testimonials .wave > div{
    background: url(/images/icons/marker.png)no-repeat center 12px;
}
.wave > div:before, .wave > div:after{
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
}
.testimonials .wave > div:before, .testimonials .wave > div:after{
    border-bottom: 11px solid #ab987a;
}
.slider-main .wave > div:before, .slider-main .wave > div:after{
    border-bottom: 11px solid #f8f9fb;
}
.wave > div:before{
    left: -45px;
}
.wave > div:after{
    right: -45px;    
}

/*SERVICES*/
.services-wrap, .projects-wrap > .lwrap, .testimonials, .news > article{
    text-align: center;
}
.services-wrap{
    padding: 145rem 10px 99rem 10px;
    max-width: 1004px;
}
.services-items{
    padding-top: 148rem;
}
.services-items h4{
    color: #032f3e;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin: 23rem 0px 10rem 0px;
}
.services-items > div{
    max-width: 186px;
    padding: 0px 5px 20px 5px;
}

/*LESSONS*/
.lessons{
    background: #032f3e;
}
.lessons .lwrap{
    padding: 104rem 10px 29rem 10px;
}
.lessons hgroup *{
    color: white;
    font-size: 70rem;
    text-transform: uppercase;
}
.lessons hgroup h2{ 
    margin-bottom: 15rem;
}
.lessons hgroup h3{
    font-weight: 100;
}

/*PROJECTS*/
.projects-wrap > .lwrap:first-child{
    max-width: 1004px;
    padding: 145rem 10px 152rem 10px;
}
.project-main{
    background: white;
}
.project-main > .lwrap{
    position: relative;
}
.project-main > .lwrap > .btn-close{
    position: absolute;
    right: 10px;
    bottom: 100%;
}
.project-main > .lwrap > div{
    width: 65.85%;
    float: left;
    margin-right: 27rem;
}
.project-main > .lwrap > article{
    padding-top: 77rem;
}
.project-main > .lwrap > article > div:first-child{
    padding-left: 2rem;
}
.project-main > .lwrap > article time{
    color: #b5b5b5;
    font-size: 14px;
    text-transform: uppercase;
    background: url(/images/icons/calendar.png)no-repeat left 0px;
    padding-left: 23px;
}
.project-main > .lwrap > article .hr{
    margin-bottom: 32rem;
}
.project-main > .lwrap > article h3{
    color: #032f3e;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin: 28rem 0px 13rem 0px;
}
.project-main > .lwrap > article .btn-default{
    margin-bottom: 71rem;
}
.project-main > .lwrap > article p{
    margin-bottom: 43rem;
}
.project-main .links-controlssm{
    max-width: 370px;
    width: 100%;
    padding: 28rem 0px 22rem 0px; 
}
.projects-wrap > .lwrap:last-child{
    padding: 152rem 10px 163rem 10px;
}
.gallery{
    margin-bottom: 58rem;
}
.gallery > figure:first-child{
    width: 31.62%;
}
.gallery > div{
    width: 23.25%;
}
.gallery > figure:last-child{
    width: 40.17%;
}
.gallery figure{
    position: relative;
}
.gallery figure a{
    position: absolute;
    left: 21rem;
    top: 18rem;
}
.arrows .btn-default{
    margin-left: 30rem;
}

/*ACTION*/
.action{
    background: #9e9e9e;
}
.action > .lwrap{
    padding: 43rem 10px 33rem 10px;
}
.action span strong{
    font-weight: 700;
}
.action span small{
    font-weight: 100;
}
.action span{
    color: #032f3e;
    font-size: 30rem;
    line-height: 42rem;
    text-transform: uppercase;
    max-width: 400px;
    padding-bottom: 5px;
}
.action .icon-skypelogo{
    margin: 7rem 37rem 5px 0px;
    flex-shrink: 0;
    width: 104rem;
    height: 104rem;
    background-size: cover;
}
.action .btn-default{
    margin: 0px 0px 2px 32rem;
}

/*NEWS*/
.news{
    padding: 146rem 10px 149rem 10px;
    max-width: 1304px;
}
.news > div{
    margin-bottom: 75rem;
    padding-left: 57rem;
    width: 100%;
}
.news > article{
    max-width: 984px;
}
.news > article p{
    margin-bottom: 151rem;
}
.news-main{
    width: 46.6%;    
}
.news-main figure{
    position: relative;
}
.news-main figure > div{
    position: absolute;
    top: 0px;
    right: 0px;
}
.news-main > div{
    padding: 23rem 12rem 12rem 21rem;
}
.news-slider{
    width: 51%;    
}
.news-slider > div:first-child{
    width: calc(100% - 26px - 31rem);
}
.news-slider article, .news-main{
    background: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.news article h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}
.news-main h4{
    margin-bottom: 11rem;
}
.news-main p{
    margin: 0px 0px 30rem 2rem;
}
.news-main .hr{
    width: 171rem;
    margin-bottom: 18rem;
}
.news-slider article h4{
    margin-bottom: 9rem;
}
.news-slider article h4 a{
    color: #032f3e;
}
.news-slider article > div:not(:last-child){
    padding: 19rem 10rem 10rem 31rem;
}
.news-slider article > div:hover{
    background: #032f3e;
}
.news-slider article > div:hover h4 a{
    color: white;
}
.news-slider article figure{
    flex-shrink: 0;
}
.news-slider article:not(:last-child){
    margin-bottom: 55rem;
}
.news-slider .links-controlssm{
    padding-left: 31rem;
}

/*TESTIMONIALS*/
.testimonials{
    background: url("/images/bg.png");
}
.testimonials .lwrap{
    padding: 102rem 10px 134rem 10px;
    position: relative;
}
.slider-cites figure{
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ab987a;
    margin: 43rem 0px 35rem 0px;
}

/*MAP*/
.map{
    position: relative;
    border-top: 5px solid #ab987a;
}
.map > figure{
    height: 655rem;
}
.map .message{
    position: absolute;
    top: 24.9%;
    left: 46%;
}

/*FOOTER*/
footer{
    background: #0d3542;
    flex-shrink: 0;
}
footer *, footer a, footer p{
    color: white;
    font-family: Lato;
}
footer address{
    font-style: normal;
}
footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; 
    letter-spacing: 0em;
}
footer > .lwrap > div:first-child p{
    max-width: 251px;
    margin-bottom: 23rem;
}
footer > .lwrap{
    padding: 101rem 10px 41rem 10px;
}
footer > .lwrap > div{
    width: 31.6%;
    margin-bottom: 20px;
}
footer > .lwrap > div .hr{
    text-align: left;
}
footer > .lwrap > div h4{
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto;
    text-transform: uppercase;
    margin-bottom: 11rem;
}
footer article{
    padding-top: 7rem;
}
footer article p{
    margin-bottom: 17rem;
}
footer article time{
    color: #ab987a;
    font-family: Lato;
    text-transform: uppercase;
    font-size: 14px;
}
footer article h6 a{
    font-family: Roboto;
}
footer article h6{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin: 6rem 0px 2rem 0px;
}
footer a:active, footer a:hover, footer a:focus{
    text-decoration: underline;
}
footer ul{
    padding-top: 9rem;
}
footer ul li{
    margin-bottom: 28rem;
    font-size: 14px;
}
footer ul li > i{
    margin: -2rem 14rem 0px 0px;
}
footer .icon-logosm{
    margin: 3rem 0px 15rem -1rem;
}
.copyright{
    background: #032f3e;
}
.copyright .lwrap{
    padding: 37rem 10px 38rem 10px;
}
.copyright span{
    color: #5f737a;
    font-size: 14px;
    font-weight: 300;
    padding: 2px;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .links-nav a{font-size: 10px; height: 53px; width: calc(100% / 3);}
    .action span{font-size: 16px; line-height: 22px;}
    .news > div{padding-left: 0px;}
}
@media (max-width: 480px) {
    .project-main > .lwrap > div {width: 100%; margin-right: 0rem;}
}