body{
    font-size: 14px;
    font-family: Arial;
}

/*LINKS*/
.links-nav{
    margin-bottom: 6rem;
}
.links-nav a{
    margin: 0px 15rem;
    color: #748891;
    font-size: 12px;
}
.links-social a{
    margin: 4rem;
}
.links-top{
    margin: 0px 0px 4rem -8rem;
}
.links-top a{
    color: #38515b;
    margin: 0px 10px;
    font-size: 18px;
    font-family: Klavika;
    letter-spacing: -0.049em;
    font-weight: 300;
    line-height: 20px;
}
.links-top strong{
    font-weight: 500;
}
.links-product a{
    color: #252525;
    font-family: DIN;
    font-size: 13px;
    width: 100%;
    padding: 7rem 11rem;
    border-radius: 8px 0px 0px 8px;
    margin-bottom: -3.5rem;
    display: inline-block;
}
.links-product{
    max-width: 460px;
    padding: 3rem 0px 12rem 22rem;
    border-top: 6px solid rgba(0,0,0,.25);     
}
.links-product a.active, .links-product a:active, .links-product a:hover, .links-product a:focus{
    color: white;   
    background: linear-gradient(#90a606, #607703);
}
.links-footer{
    margin-bottom: 29rem;
    max-width: 830px;
    font-size: 9px;
}
.links-footer a, .links-footer{
    color: #7a7979;    
}
.links-footer a{
    margin: 6rem 14.5rem;
    font-size: 11px;
    letter-spacing: -0.012em;
    display: inline-block;
    text-align: center;
}
.links-footernav{
    border-bottom-width: 1px;
    position: relative;
    border-image-slice: 0 0 1 0;
    border-image-width: 0px 0px 1px 0px;
    border-image-outset: 0px 0px 1px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("/images/footer-border.png");
}
.links-footernav a{
    color: #676767;
    font-family: Klavika;
    font-weight: 300;
    margin: 5rem 12rem;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus, .links-top a:active, .links-top a:hover, .links-top a:focus,
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-footernav a:active, .links-footernav a:hover, .links-footernav a:focus{
    text-decoration: underline;
}
.links-controls{
    background: #a6be06;
    max-width: 314px;
    padding: 0px 88rem;
    margin: 0px -13px;
}
.links-controls a{
    width: 20px;
    height: 20px;
    background: #7f9007;
    border: 2px solid #7f9007;
    margin: 4px;
    border-radius: 50%;
    display: inline-block;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: #e5e8d0;
}

/*BUTTONS*/
.btn-default, .btn-add{
    height: 19px;
    border-radius: 8px;    
    color: white;
    font-family: Klavika;
}
.btn-default{
    min-width: 64px;    
    background: #a6be06;
    padding: 0px 5px;
    margin: 10px 0px;
}
.btn-add{
    min-width: 94px;
    background: #ab127e;
    position: relative;
    justify-content: flex-end;
    padding: 0px 9rem 0px 32rem;
    margin: 10px;
}
.btn-add i{
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-52%);
}
.btn-submit{
    min-width: 84px;
    height: 27px;
    background: linear-gradient(#ffe793, #ff8328);
    border: 1px solid #b35e34;
    border-radius: 3px;
    color: #975f1b;
    font-weight: 500;
    font-family: Klavika;
    text-transform: uppercase;
}
.btn-search{
    width: 46px;
    height: 39px;
    background: url("/images/ara.png");
    background-size: 100%;
    color: #fffefe;
    font-size: 11px;
    text-transform: uppercase;
    overflow: hidden;
}
.btn-footer{
    padding: 0px 56rem;
    color: #09638c;
    font-family: Agenda;
    font-weight: 700;
    font-size: 23px;
    height: 69rem;
    text-transform: uppercase;
    background: linear-gradient(#084f6b, #052836);
    letter-spacing: -0.02em;
}
.btn-footer:before, .btn-footer:after{
    content: "";
    width: 33px; 
    height: 100%;
    display: block;
    top: 0px;
    position: absolute;
    background: linear-gradient(#084f6b, #052836);
}
.btn-footer:before {      
    transform: skew(-20deg);
    border-radius: 8px 0px 0px 0px;
    left: -19px;
}
.btn-footer:after{  
    transform: skew(20deg);
    border-radius: 0px 8px 0px 0px;
    right: -19px;
}
.btn-thumb{    
    width: 41px;
    height: 42px;
    background: radial-gradient(#b9c62c, transparent), linear-gradient(#819114, #90a606);
}
.btn-thumb.prev{
    transform: skew(-30deg);  
    border-radius: 4px 0px 0px 0px;
}
.btn-thumb.next{
    transform: skew(30deg);
    border-radius: 0px 4px 0px 0px;
}
.btn-thumb.prev i{
    transform: skew(30deg);
}
.btn-thumb.next i{
    transform: skew(-30deg);
}
.btn-thumb:before{
    content: "";
    position: absolute;
    bottom: 0px;
    border-top: 12rem solid #758507;
}
.btn-thumb.prev:before{
    border-left: 17rem solid transparent;
    left: -17rem;
}
.btn-thumb.next:before{
    border-right: 17rem solid transparent;
    right: -17rem;
}
.btn-up{
    margin-bottom: -1px;
    width: 45px;
    height: 40px;
    position: relative;
    background: url(/images/icons/up.png)no-repeat center center, radial-gradient(#fefefe, rgba(254,254,254,.3), transparent, transparent), linear-gradient(#c2c2c2, #7e7e7e);
}
.btn-up:before, .btn-up:after{
    content: "";
    width: 15px; 
    height: 40px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(#c2c2c2, #7e7e7e);
    top: 0px;
}
.btn-up:before {      
    transform: skew(-16deg);
    border-radius: 3px 0px 0px 0px;
    left: -8px;
}
.btn-up:after{  
    transform: skew(16deg);
    border-radius: 0px 3px 0px 0px;
    right: -8px;
}
.btn-down{    
    width: 32px;
    height: 40px;
    position: relative;
    border-radius: 0px 3px 0px 0px;
    margin-bottom: -1px;
    background: url(/images/icons/down.png)no-repeat right 2px center, url("/images/up-bg.png");
}
.btn-down:after{
    content: "";
    width: 15px; 
    height: 40px;
    position: absolute;
    z-index: -1;
    transform: skew(16deg);
    border-radius: 0px 3px 0px 0px;
    right: -9px;
    top: 0px;
    background: linear-gradient(#e9e9e9, #ababab);
}
.btn-cart{
    color: white;
    font-size: 12px;
    min-width: 108rem;
    text-align: center;
    height: 34px;
    padding: 0px 10px;
    background: linear-gradient(#ffb400, #ff0030);
    border: 1px solid #c23b00;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
    font-weight: 700;
    letter-spacing: -0.01em;
}

/*FORMS*/
input[type=email]{
    background: white;
    border: 1px solid #ef9b37;
    border-radius: 5px;
    color: black;
    font-size: 11px;
    height: 27px;
    padding: 0px 4px;
    width: 100%;
    max-width: 174px; 
    outline: none;
    margin: 0px 0px 9rem 1rem;
    letter-spacing: -0.005em;
}
input[type=email]::-webkit-input-placeholder{color: #ff4e00;}
input[type=email]::-moz-placeholder{color: #ff4e00;}
input[type=email]:-ms-input-placeholder{color: #ff4e00;}
.form-search{
    width: 254px;
    border-radius: 8px;
    padding: 3px 3px 4px 3px;
    background: url("/images/search.png")no-repeat;
    background-size: 100%;
    margin-right: 7rem;
}
input[type=search]{
    border: none;
    background: none;
    flex-grow: 1;
    color: black;
    font-size: 12px;
    padding: 0px 5px;
    outline: none;
}
.form-search > div{
    padding: 1px 5px;
    background: white;
    border-radius: 8px;
    height: 31px;
    box-shadow: inset 2.5px 4.3px 6px rgba(0,0,0,.17);
}
input[type=search]::-webkit-input-placeholder{color: #052836;}
input[type=search]::-moz-placeholder{color: #052836;}
input[type=search]:-ms-input-placeholder{color: #052836;}


/*OTHER*/
.hdr-offer, .hdr, .hdr-mail{
    font-size: 18px;
}
.hdr-offer, .hdr{
    text-align: center;
}
.hdr{
    max-width: 460px;
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.75);
    font-family: Klavika;
    font-weight: 300;
    color: white;
    border-radius: 6px 6px 0px 0px;
    background: #a60871;
    padding: 10rem;
}
.hdr-offer{
    padding: 10rem 15px 9rem 15px;
    position: relative;
    color: white;
    font-weight: 700;    
    font-family: DaxPro;
    max-width: 185px;
    margin-bottom: 16rem;
    background: linear-gradient(180deg, #a60670, #a60670 71%, #fa52c1 87%, #be0681);
}
.hdr-offer:before, .hdr-offer:after{
    top: 0px;
    content: "";
    width: 17px; 
    height: 100%;
    position: absolute;  
    background: linear-gradient(180deg, #a60670, #a60670 71%, #fa52c1 87%, #be0681);
}
.hdr-offer:before{
    transform: skew(16deg);
    border-radius: 0px 0px 0px 3px;
    left: -9px;    
}
.hdr-offer:after{    
    transform: skew(-16deg);
    border-radius: 0px 0px 3px 0px;
    right: -9px;
}
.hdr-mail{
    max-width: 460px;
    color: #945810;
    background:  #fccb20;
    padding: 4px 6px 5px 6px;
    border: 3px solid #fde127;
    font-family: Klavika;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 6px;
}
.hdr-mail i{
    margin-right: 7px;
}