body{
    font-size: 14px;
    font-family: Arial;
}

/*LINKS*/
.links-nav a{
    margin: 0px 14px;
    color: #748891;
    font-size: 12px;
}
.links-social a{
    margin: 5px;
}
.links-top a{
    color: #38515b;
    margin: 0px 10px;
    font-size: 18px;
    font-family: Klavika;
}
.links-top a{
    font-weight: 300;
}
.links-top strong{
    font-weight: 500;
}
.links-product a{
    color: #252525;
    font-family: DIN;
    font-size: 13px;
    width: 100%;
    padding: 4px 10px;
    border-radius: 5px 0px 0px 5px;
}
.links-product{
    max-width: 214px;
    padding: 10px 0px 10px 20px;
    background: white;
    border-radius: 0px 0px 8px 8px;
    border-top: 6px solid rgba(0,0,0,.25); 
    box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.33), inset 0 0 18px rgba(0, 0, 0, 0.17);
}
.links-product a.active, .links-product a:active, .links-product a:hover, .links-product a:focus{
    color: white;   
    background: linear-gradient(#90a606, #607703);
}
.links-footer a, .links-footer{
    color: #7a7979;
    font-size: 11px;   
}
.links-footer a{
    margin: 0px 15px;
}
.links-footernav a{
    color: #676767;
    font-family: Klavika;
    font-weight: 300;
    margin: 5px 12px;
}
.links-nav a.active, .links-nav a:active, .links-nav a:hover, .links-nav a:focus, .links-top a:active, .links-top a:hover, .links-top a:focus,
.links-footer a:active, .links-footer a:hover, .links-footer a:focus, .links-footernav a:active, .links-footernav a:hover, .links-footernav a:focus{
    text-decoration: underline;
}
.links-controls{
    background: #a6be06;
    max-width: 314px;
}
.links-controls a{
    width: 20px;
    height: 20px;
    background: #7f9007;
    border: 2px solid #7f9007;
    margin: 4px;
    border-radius: 50%;
}
.links-controls a.active, .links-controls a:active, .links-controls a:hover, .links-controls a:focus{
    background: #e5e8d0;
}

/*BUTTONS*/
.btn-default, .btn-add{
    height: 19px;
    border-radius: 8px;    
    color: white;
    font-family: Klavika;
}
.btn-default{
    min-width: 64px;    
    background: #a6be06;
    padding: 0px 5px;
}
.btn-add{
    min-width: 94px;
    background: #ab127e;
    position: relative;
    justify-content: flex-end;
    padding: 0px 9px 0px 32px;
    margin: 10px;
}
.btn-add i{
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.btn-submit{
    min-width: 84px;
    height: 27px;
    background: linear-gradient(#ffe793, #ff8328);
    border: 1px solid #b35e34;
    border-radius: 3px;
    color: #975f1b;
    font-weight: 500;
    font-family: Klavika;
    text-transform: uppercase;
}
.btn-search{
    width: 46px;
    height: 39px;
    background: url("/images/ara.png");
    background-size: 100%;
    color: #fffefe;
    font-size: 11px;
    text-transform: uppercase;
    overflow: hidden;
}
.btn-footer{
    margin: 0px 30px;
    color: #09638c;
    font-family: Agenda;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    background-image: linear-gradient(#084f6b, #052836);
}
.btn-footer:before, .btn-footer:after{
    content: "";
    min-width: 33px; 
    min-height: 75px;
    background-image: linear-gradient(#084f6b, #052836);
}
.btn-footer:before {      
    transform: skew(-20deg);
    border-radius: 8px 0px 0px 0px;
    margin-left: -19px;
}
.btn-footer:after{  
    transform: skew(20deg);
    border-radius: 0px 8px 0px 0px;
    margin-right: -19px;
}
.btn-thumb{
    transform: skew(20deg);    
    width: 50px;
    height: 50px;
    background: radial-gradient(#b9c62c, transparent), linear-gradient(#819114, #90a606);
}
.btn-thumb i{
    transform: skew(-20deg);
}
.btn-up{
    margin: 0px 0px 0px 20px;
    width: 50px;
    height: 40px;
    position: relative;
    background: url("/images/radial.png")no-repeat center center, linear-gradient(#c2c2c2, #7e7e7e);
}
.btn-up:before, .btn-up:after{
    content: "";
    width: 15px; 
    height: 40px;
    position: absolute;
    z-index: -1;
    background: linear-gradient(#c2c2c2, #7e7e7e);
}
.btn-up:before {      
    transform: skew(-20deg);
    border-radius: 3px 0px 0px 0px;
    left: -10px;
}
.btn-up:after{  
    transform: skew(20deg);
    border-radius: 0px 3px 0px 0px;
    right: -10px;
}
.btn-down{
    margin: 0px 20px 0px 20px;
    width: 32px;
    height: 40px;
    position: relative;
    background: url("/images/up-bg.png");
}
.btn-down:after{
    content: "";
    width: 15px; 
    height: 40px;
    position: absolute;
    z-index: -1;
    transform: skew(20deg);
    border-radius: 0px 3px 0px 0px;
    right: -8px;
    background: linear-gradient(#e9e9e9, #ababab);
}
.btn-cart{
    color: white;
    font-size: 12px;
    min-width: 108px;
    height: 34px;
    padding: 0px 10px;
    background: linear-gradient(#ffb400, #ff0030);
    border: 1px solid #c23b00;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}

/*FORMS*/
input[type=email]{
    background: white;
    border: 1px solid #ef9b37;
    border-radius: 3px;
    color: black;
    font-size: 11px;
    height: 27px;
    padding: 0px 5px;
    width: 100%;
    max-width: 174px; 
    outline: none;
}
input[type=email]::-webkit-input-placeholder{color: #ff4e00;}
input[type=email]::-moz-placeholder{color: #ff4e00;}
input[type=email]:-ms-input-placeholder{color: #ff4e00;}
.form-search{
    max-width: 261px;
    border-radius: 8px;
    padding: 3px;
    background: url("/images/search-bg.png");
    margin-right: 5px;
}
input[type=search]{
    border: none;
    background: none;
    flex-grow: 1;
    color: black;
    font-size: 12px;
    padding: 0px 5px;
    outline: none;
}
.form-search > div{
    padding: 0px 5px;
    height: 37px;
    background: white;
    border-radius: 8px;
    box-shadow: inset 2.5px 4.3px 6px rgba(0,0,0,.17);
}
input[type=search]::-webkit-input-placeholder{color: #052836;}
input[type=search]::-moz-placeholder{color: #052836;}
input[type=search]:-ms-input-placeholder{color: #052836;}


/*OTHER*/
.hdr-offer, .hdr{
    text-align: center;
}
.hdr{
    max-width: 214px;
    box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.75);
    font-family: Klavika;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border-radius: 6px 6px 0px 0px;
    background: #a60871;
    padding: 10px 10px 10px 10px;
}
.hdr-offer{
    padding: 10px 10px 10px 10px;
    position: relative;
    color: white;
    font: 700 18px DaxPro;
    max-width: 185px;
    background: linear-gradient(180deg, #a60670, #a60670 71%, #fa52c1 87%, #be0681);
}
.hdr-offer:before, .hdr-offer:after{
    top: 0px;
    content: "";
    width: 15px; 
    height: 100%;
    position: absolute;  
    background: linear-gradient(180deg, #a60670, #a60670 71%, #fa52c1 87%, #be0681);
}
.hdr-offer:before{
    transform: skew(20deg);
    border-radius: 0px 3px 0px 0px;
    left: -7px;    
}
.hdr-offer:after{    
    transform: skew(-20deg);
    border-radius: 0px 3px 0px 0px;
    right: -7px;
}