.icon-btnar {width: 5px; height: 10px; background: url('/images/icons/btnar.png');}
.icon-bubble {width: 15px; height: 15px; background: url('/images/icons/bubble.png');}
.icon-fb {width: 8px; height: 17px; background: url('/images/icons/fb.png');}
.icon-inst {width: 19px; height: 19px; background: url('/images/icons/inst.png');}
.icon-like {width: 16px; height: 15px; background: url('/images/icons/like.png');}
.icon-next {width: 12px; height: 23px; background: url('/images/icons/next.png');}
.icon-note {width: 128px; height: 29px; background: url('/images/icons/note.png');}
.icon-prev {width: 11px; height: 22px; background: url('/images/icons/prev.png');}
.icon-share {width: 16px; height: 15px; background: url('/images/icons/share.png');}
.icon-tw {width: 16px; height: 13px; background: url('/images/icons/tw.png');}
.icon-volume {width: 13px; height: 17px; background: url('/images/icons/volume.png');}