/*COMMON*/
.lwrap{
    max-width: 1190px;
    padding: 0px 10rem;
}
figure > img{
    display: block;
    width: 100%;
    height: 100%;
}
body, .nav-wrap > .lwrap, .media-wrap, .review-item > article{
    background: #f4f5f7;
}
header, footer, .main-product, .product-detail, .shop-cart, .shop-checkout{
    background: white;
}
body{
    display: table;
}
body > div{
    display: table-row;
    height: 100%;
}

/*HEADER*/

/*top-wrap*/
.top-wrap, .copyright{
    background: #212121;
}
.top-wrap > .lwrap{
    height: 50px;
    position: relative;
    padding: 9px 10px;
}
.top-wrap .btn-cart{
    position: absolute;
    right: 10px;
    top: 0px;
}
.top-wrap .btn-cart .lbl-circle{
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

/*nav-wrap*/
#logo{
    display: block;
    width: 193px;
    margin: 0 auto;
}
.logo-wrap{
    padding: 39rem 0px;
}
.nav-wrap{
    background: url("/images/nav.png");
}
.nav-wrap > .lwrap{
    max-width: 1170px;
}
/*popup*/
.cart-popup{
    position: absolute;
    border-top: 4px solid #ff6766;
    top: 87px;
    right: 10px;
    width: 250px;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    padding: 10rem 13rem 20rem 20rem;
    z-index: 100;
    display: none;
}
.top-wrap .btn-cart:hover + .cart-popup, .top-wrap .btn-cart:focus + .cart-popup,.top-wrap .btn-cart + .cart-popup:hover, .top-wrap .btn-cart + .cart-popup:focus{
    display: block;
}
.cart-popup:before{
    content: "";
    position: absolute;
    top: -12px;
    right: 8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ff6766;
}
.cart-popup strong{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2a26;
    text-align: center;
    margin: 3rem 0px 16rem 0px;
    letter-spacing: 0.05em;
    display: block;
}
.cart-popup strong span{
    color: #ff6766;
}
.cart-popup .btn-default{
    min-width: 110px;
    height: 32px;
    font-style: italic;
    letter-spacing: 0.04em;
    transform: translateX(50%)
}

/*SLIDER-HEADER*/
.slider-header {
    position: relative;
    overflow: hidden;
}
.slider-header > input[type=radio] {
    display: none;
}
.slider-header > div > figure:not(:first-child) {
    width: 25%;
    height: 100%;
    top: 0px;
    transition: transform 2000ms;
    position: absolute;    
}

/*slider figcaption*/
.slider-header figure > figcaption{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 64.65%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    box-shadow: inset 0px 0px 0px 2px #ff6766, 0px 0px 0px 30rem rgba(255,255,255,.9);
    padding: 15rem 5rem 19rem 5rem;
    text-align: center;
    background: white;
    opacity: 0;
}
.slider-header figure:before{
    background: #c9c7c7;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: "";
    opacity: 0;
    transition: opacity ease .3s;
}
.slider-header figure:before, .slider-header figure > figcaption{
    transition: all ease .3s;    
}
.slider-header figure:hover:before{
    opacity: 1;
}
.slider-header figure:hover > figcaption{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);    
}
.slider-header figure > figcaption > h6{
    color: black;
    font-style: italic;
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.slider-header figure > figcaption > hr{
    width: 30rem;
    height: 2rem;
    background: #ff6766;
    margin: 6rem auto 15rem auto;
}
.slider-header figure > figcaption > p{
    line-height: 22rem;
    margin-bottom: 29rem;
    font-size: 14rem;
}
.slider-header figure > figcaption > time{
    font-style: italic;
    font-size: 12rem;
    letter-spacing: 0.1em;
}

/*slider slideshow*/
.slider-header > div > figure.num1 {
    left: 0%;
}
.slider-header > div > figure.num2 {
    left: 25%;
}
.slider-header > div > figure.num3 {
    left: 50%;
}
.slider-header > div > figure.num4 {
    left: 75%;
}
.slider-header > div > figure.num5 {
    left: 100%;
}
.slider-header > div > figure.num6 {
    left: 125%;
}
.slider-header > div > figure.num7 {
    left: 150%;
}
.slider-header > #slide1-1:checked ~ div > figure {
    transform: translateX(0%);	
}
.slider-header > #slide1-2:checked ~ div > figure {
    transform: translateX(-100%);	
}
.slider-header > #slide1-3:checked ~ div > figure {
    transform: translateX(-200%);	
}
.slider-header > #slide1-4:checked ~ div > figure {
    transform: translateX(-300%);	
}
@keyframes slider1 {
    0%, 12.5% { transform: translateX(0%); }
    25%, 37.5% { transform: translateX(-100%); }
    50%, 62.5% { transform: translateX(-200%); }
    75%, 87.5% { transform: translateX(-300%); }	
}
@keyframes slider1-ie {
    0%, 12.5% { margin-left: 0%; }
    25%, 37.5% { margin-left: -25%; }
    50%, 62.5% { margin-left: -50%; }
    75%, 87.5% { margin-left: -75%; }
}
.slider-header  > #play1:checked ~ div > figure {
    animation: slider1 16000ms infinite;	
}
/* IE 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .slider-header  > #play1:checked ~ div > figure {
        animation: slider1-ie 16000ms infinite;	
    }
}

/*slider arrows template*/
.arrowprev, .arrownext{
    position: absolute;
    z-index: 5;
    width: 64rem;
    height: 64rem;
    min-height: 42px;
    min-width: 42px;
    top: 50%;
    transform: translateY(-50%);
}
.arrownext > label, .arrowprev > label{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    position: absolute;     
    z-index: 10;
    opacity: 0;
    z-index: -1;
    color: white;
    font-size: 30px;
}
.arrowprev{
    left: 41rem;
}
.arrownext{
    right: 41rem;
}
.arrowprev > label{
    left: 0px;
    background: url(/images/icons/prev.png)no-repeat center center;
}
.arrownext > label{
    right: 0px;
    background: url(/images/icons/next.png)no-repeat center center;
}

/*slider arrows change*/
.slider-header > #slide1-1:checked ~ .arrowprev > .num4,
.slider-header > #slide1-1:checked ~ .arrownext > .num2, 
.slider-header > #slide1-2:checked ~ .arrowprev > .num1,
.slider-header > #slide1-2:checked ~ .arrownext > .num3, 
.slider-header > #slide1-3:checked ~ .arrowprev > .num2,
.slider-header > #slide1-3:checked ~ .arrownext > .num4, 
.slider-header > #slide1-4:checked ~ .arrowprev > .num3,
.slider-header > #slide1-4:checked ~ .arrownext > .num1 {
    opacity: 1;
    z-index: 5;
}
@keyframes arrows1 {
    0%, 24.99% { opacity: 1; z-index: 5; }
    25%, 100% { opacity: 0; z-index: -1; }
}
.slider-header > #play1:checked ~ .arrowprev > .num4,
.slider-header > #play1:checked ~ .arrownext > .num2 {
    animation: arrows1 16000ms infinite -2000ms;	
}
.slider-header > #play1:checked ~ .arrowprev > .num1,
.slider-header > #play1:checked ~ .arrownext > .num3 {
    animation: arrows1 16000ms infinite 2000ms;	
}
.slider-header > #play1:checked ~ .arrowprev > .num2,
.slider-header > #play1:checked ~ .arrownext > .num4 {
    animation: arrows1 16000ms infinite 6000ms;	
}
.slider-header > #play1:checked ~ .arrowprev > .num3,
.slider-header > #play1:checked ~ .arrownext > .num1 {
    animation: arrows1 16000ms infinite 10000ms;	
}

/*HOMEPAGE*/

/*content*/
.content > .article-wrap, .sidebar > *{    
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background: white;
}
.content-wrap{
    padding: 100rem 10rem 20rem 10rem;
}
.content{
    float: left;
    width: calc(77% - 32rem);
    margin: 0px 31rem 52rem 1rem;
}
.content > .article-wrap{
    padding: 14rem 14rem 14rem 15rem;
    margin-bottom: 60rem;
}
.article-wrap > figure{
    margin-bottom: 29rem;
    position: relative;
}
.article-wrap > .video-1{
    padding-top: 42.2%;
}
.article-wrap > .video-2{
    padding-top: 55.7%;
}
.article-wrap > article{
    margin-bottom: 16rem;
}
.article-wrap .lbl-date{
    margin: 0px 30rem 0px 10rem;
}
.article-wrap .lbl-date + div{
    float: right;
    width: calc(100% - 77px - 40rem);
}
.article-wrap > article h3{
    color: black;
    font-size: 26px;
    font-weight: 400;
    margin: 2rem 0px 23rem 0px;
}
.article-wrap > article p{
    margin-bottom: 23rem;
}
.article-wrap > article .btn-default{
    font-style: italic;
}
.article-wrap > article .details{
    padding: 20rem 20rem 0px 0px; 
    width: 21%;
    float: left;
}
.article-wrap > article .details + div{
    padding: 2rem 42rem 20rem 30rem;
    float: right;
    width: 79%;
    border-left: 1px solid #212121;
}
.article-wrap > article .details > .lbl-default{
    margin-bottom: 20rem;
}
.article-wrap > article .details-wrap ~ p:first-of-type:first-letter,
.article-wrap > article .details + div p:first-of-type:first-letter,
.lessons > .lwrap > article p:first-of-type:first-letter{
    color: #212121;
    font-size: 24px;
}
.article-wrap > figure > .blockquote-lg{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 70rem 39rem 10rem 96rem;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.article-wrap + .btn-alt{
    margin-bottom: 20px;
}

/*soundcloud*/
.soundcloud{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 85%;
    transform: translate(-48%, -44%);
}
.soundcloud > div:first-child{
    margin-top: 5rem;
    float: left;
}
.soundcloud .btn-pause{
    margin-bottom: 6rem;
}
.soundcloud figure{
    margin-left: 9rem;
    float: left;
}
.soundbar{
    float: left;
}
.soundbar a, .soundcloud span{
    color: #737373;
    font-family: Open Sans;
    font-size: 10px;    
    text-align: center;
}
.soundbar a{
    padding: 1.5rem 4rem;    
    border-bottom: 1px solid #ccc;
    display: block;
}
.soundbar a:last-child{
    border-bottom: none;
}

/*sidebar*/
.sidebar{
    float: right;
    width: 23%;
}
.sidebar > *{
    margin-bottom: 30rem;
}
.sidebar > section{
    padding: 37rem 23rem 20rem 23rem;
}
.sidebar > .following{
    padding-top: 27rem;
}
.sidebar > .categories{
    padding: 26rem 0px 20rem 0px;
}
.sidebar > .about-blogger{
    padding: 29rem 0px 20rem 0px;
}
.sidebar > .popular article figure{
    padding: 7rem 0px 11rem 0px;
}
.sidebar > .categories h2{
    margin-bottom: 15rem;
    letter-spacing: 0.1em;
}
.sidebar > section h2{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20rem;
    letter-spacing: 0.05em;
}
.sidebar > .popular p{
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
}
.sidebar > .popular article{
    padding: 0px 0px 21rem 1rem;
}
.sidebar > .popular article:last-of-type{
    padding-bottom: 7rem;
}
.category-wrap .sidebar > .popular article:last-of-type{
    padding-bottom: 54rem;
}
.sidebar > .about-blogger > figure{
    position: relative;
    margin-left: -1rem;
}
.sidebar > .about-blogger > article{
    padding: 41rem 15rem 6rem 15rem;
}
.sidebar > .about-blogger > figure > .btn-more{
    position: absolute;
    bottom: -32rem;
    left: 50%;
    transform: translateX(-50%);
}
.sidebar > .about-blogger > article > *{
    text-align: center;
    display: inline-block;
    width: 100%;
}
.sidebar > .about-blogger > article > strong{
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.sidebar > .about-blogger > article > small{
    font-style: italic;
    margin: 2rem 0px 14rem 0px;
    letter-spacing: 0.05em;
}
.sidebar > .about-blogger > article > p{
    letter-spacing: 0.03em;
}

/*slider-twitter*/
.slider-twitter > input[type=radio]{
    display: none;
}
.slider-twitter > .slide{
    position: relative;
    min-height: 139px;
    overflow: hidden;
    margin-bottom: 35rem
}
.slider-twitter > .slide > .blockquote-tw{
    width: 100%;
    position: absolute;
    transition: transform .3s;
}
.slider-twitter > .slide > .blockquote-tw q{
    max-height: 72px;
    overflow: hidden;
}
.slider-twitter > .slide > .num1{
    left: 0%;
}
.slider-twitter > .slide > .num2{
    left: 100%;
}
.slider-twitter > .slide > .num3{
    left: 200%;
}
.slider-twitter > #tw1:checked ~ div > .blockquote-tw{
    transform: translateX(0%);
}
.slider-twitter > #tw2:checked ~ div > .blockquote-tw{
    transform: translateX(-100%);
}
.slider-twitter > #tw3:checked ~ div > .blockquote-tw{
    transform: translateX(-200%);
}
.slider-twitter .bullets{
    padding-bottom: 17rem;
    text-align: center;
}
.slider-twitter .bullets label{
    width: 11px;
    height: 11px;
    background: #ebecee;
    transition: background ease .3s;
    border-radius: 50%;
    margin: 1px;
}
.slider-twitter > #tw1:checked ~ .bullets > .num1,
.slider-twitter > #tw2:checked ~ .bullets > .num2,
.slider-twitter > #tw3:checked ~ .bullets > .num3 {
    background: #ff6766; 
}

/*CATEGORY*/
header + figure{
    position: relative;
}
header + figure > figcaption{
    position: absolute;        
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;      
}
header + figure > figcaption > .lwrap{
    padding: 9rem 10rem 10rem 10rem;
    text-align: center; 
    height: 100%;
}
header + figure > figcaption > .lwrap > strong{
    color: black;    
    font-weight: 700;
    font-size: 24rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;    
}
header + figure > figcaption > .lwrap, header + figure > figcaption > .lwrap:after{   
   vertical-align: middle;
}
header + figure > figcaption > .lwrap:after{
    height: 100%;
    content: "";
    display: inline-block;
}
header + figure > figcaption > .lwrap > strong > big{
    font-size: 28rem;
}
header + figure > figcaption > .lwrap > small{
    color: #727272;
    font-size: 16rem;
    letter-spacing: 0.1em;
    display: inline-block;
}
.category-wrap .article-wrap + .btn-alt{
    margin-bottom: 40rem;
    font-style: italic;
    display: block;
    max-width: 140px;
    margin: 0 auto;
}
.category-wrap .article-wrap:last-of-type{
    margin-bottom: 72rem;
}

/*SINGLE POST*/
.single-post .article-wrap > article .details{
    float: none;
    width: 100%;
}
.single-post .article-wrap > article .details > *{
    margin-right: 47rem;
}
.single-post .article-wrap .lbl-date + div {
    float: left;
    width: calc(100% - 77px - 8rem);
}
.single-post .article-wrap > article .details-wrap{
    padding: 0px 0px 47rem 32rem;
}
.single-post .article-wrap > article h3 + hr {
    background: #212121;
    width: 211rem;
    text-align: left;
    margin: -1rem 0px 0px 0px;
}
.single-post .article-wrap .lbl-date{
    margin-right: -2rem;
    float: left;
}
.single-post .article-wrap > article .details > .lbl-default {
    margin-bottom: 9rem;
}
.single-post .article-wrap > article{
    max-width: 758px;
}
.single-post .article-wrap > article .details-wrap ~ p:first-of-type{
    margin-bottom: 38rem;
}
.single-post .article-wrap > article .details-wrap ~ p:last-of-type{
    margin-bottom: 43rem;
}
.single-post .article-wrap > article .details-wrap ~ p{
    margin-bottom: 26rem;
}
.author{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 30rem 0px;
    margin-bottom: 17rem;
}
.author figure{
    float: left;
    background-color: white;
    border: 1px solid #d6d6d6;
    padding: 3px;
    margin-right: 20px;
    border-radius: 50%;
}
.author h4{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin: 3rem 0px 9rem 0px;
    letter-spacing: 0.05em;
}
.article-wrap > article .author p{
    font-size: 13px;
    margin-bottom: 6rem;
    line-height: 22px;
}
.single-post .links-share{
    padding: 0px 1rem 57rem 0px
}
.single-post .links-share > *{
    float: right;
}
.links-share span{
    color: #656565;
    font-size: 14px;
    margin: 16rem 15rem 0px 0px;
    letter-spacing: 0.05em;
}
.comment figure{
    float: left;
    margin-right: 28rem;
}
.comment figure + div{
    float: left;
    width: calc(100% - 103px - 28rem);
}
.comment figure + div > div{
    float: left;
}
.comment > .comment > div:last-child{
    border-bottom: none;
}
.comment > .comment{
    padding: 0px 0px 0px 59rem;
}
.comment > div{
    padding: 33rem 0px 33rem 0px;
    border-bottom: 1px solid #e4e4e4;
}
.comment h4{
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin: 2rem 0px 5rem 0px;
    letter-spacing: 0.05em;
}
.comment time{
    color: #c5c5c5;
    margin-bottom: 9rem;
    display: inline-block;
    letter-spacing: 0.05em;
}
.comment a{
    color: black; 
    margin-top: 6rem;
    display: inline-block;
    letter-spacing: 0.1em;
    float: right;
}
.comment a:active, .comment a:hover, .comment a:focus{
    text-decoration: underline;
}
.article-wrap > article .comment p{
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 8rem;
}
.single-post .article-wrap h2{
    color: black;
    font-size: 20px;
    font-weight: 400;    
}
.single-post .comments-wrap h2{
    margin-bottom: 21rem;
}
.single-post .comments-wrap{
    padding: 0px 2rem 53rem 0px;
}
.single-post .form-comment h2{
    margin-bottom: 55rem;
}
.form-comment form{
    margin-bottom: 50rem;
}
.form-comment form .btn-default{
    margin: 0 auto;
    display: block;
    max-width: 140px;
}
.single-post .article-wrap {
    margin-bottom: 87rem;
}
.single-post .content-wrap{
    padding-bottom: 28rem;
}

/*FOOTER*/
.footer-title{
    padding: 54rem 10px 55rem 10px;
}
.footer-title h2{
    color: #2a2a26;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.057em;
}
.media-wrap > .lwrap{
    padding: 54rem 10rem;
}
.gallery-footer{
    overflow: hidden;
    width: 100%;
    margin: 0px -1rem;
}
.gallery-footer figure{
    margin: 0px 1rem;
    position: relative;
    float: left;
    width: 19.835%;
}
.gallery-footer figure a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    color: transparent;
    transform: scale(0);
    transition: all ease .3s;
    background: transparent;
}
.gallery-footer figure a:hover, .gallery-footer figure:hover a{
    background: rgba(0,0,0,.7);
    color: white;
    transform: scale(1);
}
.gallery-footer figure a span{
    font-size: 18rem;
    display: inline-block;
    margin-bottom: 5rem;
    text-align: center;
}
.gallery-footer figure a strong{
    font-size: 20rem;
    font-weight: 700;
    text-transform: uppercase;
}
.footer{
    max-width: 1196px;
    padding: 83rem 10px 47rem 16rem;
}
.footer > div{
    width: 34.2%; 
    padding: 0px 4px 20px 0px;
    float: left;
}
.footer > div:last-child{
    padding: 0px 0px 20px 0px;
    width: 31.65%;
}
.footer > div:first-child{
    padding: 0px 11rem 20px 0px;
    width: 34.15%;
}
.footer > div > h5{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.footer > div > h5{
    margin-bottom: 40rem;
}
.footer > div:first-child > figure:first-child{
    margin: 2rem 0px 24rem 0px;
    display: inline-block;
}
.footer > div:first-child > p{
    margin-bottom: 12rem;
}
.footer > div > article{
    margin-bottom: 18rem;
}
.footer > div > article > a{
    float: left;
    margin: 2rem 14rem 0px 0px;
}
.footer > div > article > p{
    line-height: 16px;
    font-size: 13px;
    margin-bottom: 4rem;
}
.footer > div > article > h6{
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: 0.05em;
}
.footer > div > article > time{
    color: #212121;
    font-size: 11px;
    letter-spacing: 0.05em;
}
.stream{
    margin: -3.5px;
    padding-top: 2rem;
}
.stream > a{
    margin: 3.5px;
}
.stream > a, .footer > div > article > a{
    position: relative;
    display: inline-block;
}
.stream > a:before, .footer > div > article > a:before{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    content: '';
    background-position: center center;
    transition: background ease .3s;
}
.footer > div > article > a:hover:before{
    background: rgba(255,103,102,.8) url(/images/icons/plus.png)no-repeat center center;    
}
.stream > a:hover:before{
    background: rgba(255,103,102,.7);
}
/*copyright*/
.copyright > .lwrap{
    padding: 28rem 7px 30rem 13rem;
}
.copyright > .lwrap > span:first-child{
    float: left;
    padding: 12rem 10px 0px 0px;
    letter-spacing: 0.05em;
    max-width: 69%;
}
.copyright > .lwrap > span:last-child{
    float: right;
}
.copyright, .copyright a{
    color: #ccc;
}
.copyright > .lwrap > span > a:first-child{
    text-align: right;
    letter-spacing: 0.05em;
}
.copyright > .lwrap > span > a:active, .copyright > .lwrap > span > a:hover, .copyright > .lwrap > span > a:focus{
    text-decoration: underline;
}

/*MEDIA QUERIES*/
@media (max-width: 640px) {
    .content, .sidebar, .footer > div:first-child, .footer > div:last-child, .footer > div, .sidebar > .popular{float: none;width: 100%;}
    .sidebar > section:not(.popular){width: 49%;}
    .sidebar > *:nth-child(odd), .sidebar > .popular article{float: left;}
    .sidebar > .popular article{width: 32%; margin-right: 15rem;}
    .sidebar > *:nth-child(even){float: right;} 
    .article-wrap > article .details{width: 25%;}
    .article-wrap > article .details + div {width: 75%}
    .links-media a {margin: 3.5px 60rem;}
}
@media (max-width: 480px) {
    .article-wrap .lbl-date, .article-wrap .lbl-date + div, .article-wrap > article .details, .article-wrap > article .details + div{width: 100%;}
    .lbl-date > *{display: inline-block;}    
}