.icon-fb {width: 32px; height: 32px; background: url('/images/icons/fb.png');}
.icon-fl {width: 32px; height: 32px; background: url('/images/icons/fl.png');}
.icon-in {width: 32px; height: 32px; background: url('/images/icons/in.png');}
.icon-overlay {width: 47px; height: 47px; background: url('/images/icons/overlay.png');}
.icon-su {width: 32px; height: 32px; background: url('/images/icons/su.png');}
.icon-tw {width: 32px; height: 32px; background: url('/images/icons/tw.png');}
.icon-yt {width: 32px; height: 32px; background: url('/images/icons/yt.png');}