.icon-android:hover {background: url('/images/icons/android-hover.png');}
.icon-apple:hover {background: url('/images/icons/apple-hover.png');}
.icon-windows:hover {background: url('/images/icons/windows-hover.png');}